[2020-07-22 03:47] joshuacwnewton commented on #891
Hi @parano! Thanks for the tag. Just commenting to say I've started to work on this. My plan is to start with the updated #721, and once that looks good, continue on to other artifact types. :)

[2020-07-22 03:48] joshuacwnewton commented on #721
It looks like the requirements have updated, and #876 no longer fixes this. I will make the new changes to address the updated issue. :)

[2020-07-22 04:04] joshuacwnewton commented on #666
Hi @parano, just commenting to indicate my interest in this as a larger project for the summer, once I am done with the integration test issues. :)

[2020-07-22 04:54] parano commented on #920
@hechangqin could you share the environment.yml file in your saved bundle directory?

[2020-07-22 06:35] hechangqin commented on #920
@parano As below

[2020-07-22 08:39] guy4261 opened #926 "CoreML Support / can I extend `BentoServiceArtifact` and serve it?"
**Is your feature request related to a problem? Please describe.**
I'm running BentoML directly on a Mac. To gain speedups, I would like to convert my PyTorch model (which you support) to CoreML (which you do not support). To do that, I would like to extend `BentoServiceArtifact`. Is that even allowed? Any caveats I should expect?

**Describe the solution you'd like**
Seems like `BentoServiceArtif

[2020-07-22 17:31] dcferreira opened #929 "--enable-microbatch turns empty text into NaN"
**Describe the bug**
When the input is a dataframe with a string field, and it contains empty text, microbatching replaces the empty text by NaN.
Wtihout microbatching, this works as expected.

**To Reproduce**
Code to reproduce it:
- Server:
[code]
- Client:
[code]

**Expected behavior**
The client should run without problems.
This works fine without using microbatching, but when it's turned on,

[2020-07-22 18:33] parano opened #930 "Allow setting micro-batching parameters via environment variable and CLI arg"
**Is your feature request related to a problem? Please describe.**

See related discussions here: https://github.com/bentoml/BentoML/discussions/927

**Describe the solution you'd like**

Add a CLI argument and environment variable for the user to set the micro batching parameter `mb_max_batch_size` and `mb_max_latency`.

**Describe alternatives you've considered**

When defining a service API, al

[2020-07-22 20:34] parano commented on #929
@dcferreira thanks for the detailed bug report and sample code to reproduce.

@bojiang could you please take a look?

[2020-07-22 21:04] akainth015 commented on #924
I am also contemplating converting `fallback` into a function that is called with the request body as its only parameter, and that produces a default value. In this way, we can avoid creating a fallback for every request in the batch and instead only producing fallbacks when necessary.

I am assuming that we have an array for individual requests because each fallback is meant to be customizable to

[2020-07-22 21:41] joshuacwnewton commented on #721
Two small notes:
* 1.15 is the last TF1 revision, I think
* Python 3.8 breaks tests using `pip install tensorflow==1.15`, see: https://github.com/tensorflow/tensorflow/issues/39768#issuecomment-632799481. I can stick to developing with 3.7 for now, but it might be worth keeping in mind for the future.

[2020-07-22 21:53] akainth015 commented on #924
After thinking about this a bit more, there are a lot more changes I think we should make. I will open a new issue for them since the scope for that is much wider than for this.

[2020-07-22 21:53] #924 closed

[2020-07-22 22:44] parano commented on #924
Thanks for looking into this @akainth015

I agree that some of the code structure around handling batch inputs in input adapters can be improved, to make implementing new input/output adapters easier, since it is quite common that users may need to implement their own custom input adapter. To redesign this, you may need to look at the patterns across different handlers as well as the marshal serve

[2020-07-22 23:20] bojiang commented on #929
Yeah. It's a known issue from pandas.read_csv.
https://github.com/pandas-dev/pandas/issues/10205

We are aware of this, https://github.com/bentoml/BentoML/blob/master/tests/adapters/test_dataframe_handler.py#L156

[2020-07-22 23:54] parano commented on #820
@joshuacwnewton great question! I think we should always show the warning even if it's just a micro version mismatch

[2020-07-22 23:55] parano commented on #820
@joshuacwnewton it is hard to say if all the libraries that the user is using are compatible across different python versions. Cloudpickle for example may have issues when used across different micro versions. It is better for BentoML to inform the user about this.

[2020-07-23 00:36] joshuacwnewton commented on #721
I am having some difficulty developing a simple TF 1.14 example. I have only used TF2, so it is a bit challenging to search through old TF1 documentation! :stuck_out_tongue:

Because the test I am writing involves saving and loading a TF1 model artifact, I have run into this warning from Bento:

[code]

                See https://www.tensorflow.org/api_docs/python/tf/saved_model/load for

[2020-07-23 18:13] #892 closed

[2020-07-23 18:38] yubozhao commented on #926
Hi, @guy4261. Good suggestion! You can definitely write a new `BentoServiceArtifact` for CoreML.  I don't think there are any caveats, from looking at the `coremltools` package.

I think other people can benefit from this, feel free to submit a PR.

[2020-07-23 18:56] guy4261 commented on #926
Thanks @yubozhao ! How do I test it? `pip install -e` the BentoML repo, edit the code and do it? This is why I asked - to verify there are no apparent caveats before I begin.

Thanks!

[2020-07-23 19:08] yubozhao commented on #926
Yes, for developing you install from the source, install the local version with `pip install -e` and go from there.

For testing, you can use the ONNX artifact as an example.  We create an [integration test](https://github.com/bentoml/BentoML/blob/master/tests/integration/test_onnx_model_artifact.py) and add additional test suit for Travis by adding [test script](https://github.com/bentoml/BentoML

[2020-07-23 19:24] ecrows opened #934 "InputAdapter for Image file plus additional JSON data"
**Is your feature request related to a problem? Please describe.**
A common use-case for models that take image input is to also include additional information about the image (such as object detection bounding boxes, segmentation masks, class labels, face keypoints, etc.)  To my knowledge, ImageInput does not allow you to include this kind of information by default.

**Describe the solution you'd

[2020-07-23 20:33] parano commented on #934
Hi @ecrows - thanks for the feature request, this is definitely one of the most asked features in the slack channel. I've told many users the workaround: to use a JSON input adapter and use base64 to encode their image file in a JSON field along with other information for inferencing. A more developer-friendly option would definitely be preferred if you are interested in contributing.

Could you s

[2020-07-23 21:06] ecrows commented on #934
Thanks for the quick reply!

I'm thinking of adding an `accept_json=False` argument to __init__ in imageInput.  If this argument is set to True in the decorator call, a property called "json_file" is added to the request schema, with `required: False`.  Then, if the user sends a "json_file" object along with their request, the data will be parsed in a similar manner to JsonInput, and passed as an

[2020-07-23 23:56] xiwang129 commented on #724
Hi @parano, I would like to work on this one. Thanks!

[2020-07-24 03:45] parano commented on #926
@guy4261 be sure to build base off the latest master branch, there were some recent refactoring on that code path that drastically changed how new artifact can be implemented. See also #758 #925.

[2020-07-24 04:04] parano commented on #934
Hi @ecrows - great questions about batching support. Sorry those things are not well documented right now.

`is_batch_input=True` means whether or not a client can send multiple inference requests within one HTTP request call.  Some input adapters support that and some does not. ImageInput for example only supports client sending one request at a time.

`handle_batch_request ` is used when micro-b

[2020-07-24 08:54] co42 opened #936 "Allow returning HTTP response from services API endpoints"
**Is your feature request related to a problem? Please describe.**
I want to return a custom HTTP response (and code) from an API endpoint. It allows to handle errors gracefully for example.

**Describe the solution you'd like**
I modified `JsonSerializableOutput` to forward `SimpleResponse` like so https://github.com/bentoml/BentoML/compare/master...co42:feature/json-output-http-response

Now I c

[2020-07-24 15:05] ecrows commented on #934
Ah, thanks for the extra context on batching, that makes sense to me now.  Also a good point regarding ImageInput `image/*` content type.  I'll put together a custom adapter and report back soon.

[2020-07-24 22:58] #686 closed

[2020-07-24 23:03] #820 closed

[2020-07-25 09:53] guy4261 commented on #926
Thanks!

Questions begin:

Seems like I can't use `cloudpickle` for the CoreML model. Can I use the library's standard tools, i.e.
[code]

or does it have to be `cloudpickle`-able?

Log below:

[code]

[2020-07-26 03:44] parano commented on #926
Hi @guy4261 - it is recommended to use the library's standard tool for serialization.

We use cloudpickle for PyTorch model artifact because PyTorch's standard save/load also uses Pickle, and cloudpickle offers more functionality than the default pickle module.

[2020-07-26 06:18] guy4261 commented on #926
OK. `cloudpickle` doesn't work with CoreML models though, as you can see 👆

Is it OK if I extend `cloudpickle` to use CoreML's native save/load?

Right now my `CoreMLModelArtifact` looks like this -

* Load: `model = coremltools.models.MLModel(self._file_path(path))`
* Save: `self._model.save(self._file_path(dst))`

I see that other artifacts (for instance `keras_model_artifact`) also use their re

[2020-07-26 06:51] parano commented on #926
@guy4261, yea that approach looks good.  As I suggested above, we recommend using the frameworks' own serialization standard.

[2020-07-26 13:14] guy4261 commented on #926
Thank you @parano @yubozhao for your support and encouragement. The PR is waiting for you at https://github.com/bentoml/BentoML/pull/939 🙏 🙏 🙏  !

[2020-07-28 18:43] joshuacwnewton commented on #721
I am a bit curious about the motivation behind supporting TF1 in BentoML, considering the strong push away from TF1 from Google. For clarity, what were your thoughts when the `tf==1.14` test was initially proposed? :)

Part of me is wondering if it is more trouble that it's worth to have to take on the maintenance costs of accommodating for legacy TF1 API features _(e.g. models which use `tf.Sessi

[2020-07-28 21:23] yubozhao commented on #920
@hechangqin I had a chance to look into this today.  We need to add `openjdk` as part of the `condo_dependencies`.  I will update the h2o notebook to correct this issue.

[2020-07-28 23:14] joshuacwnewton commented on #666
I'm just doing some starting research to understand the scope of this feature a bit more. I'm a bit new to Spark/PySpark, so I'm learning as I go... I've really wanted to learn how to use it, though, so this is quite exciting. Apologies in advance for any newbie moments. :smile:

Anyways, here are some design points that have multiple options, and could be discussed further:

1. **Supported MLLib

[2020-07-29 01:51] hechangqin commented on #920
@yubozhao OK. Thank you very much. If you have done this job, please share me to know.

[2020-07-29 21:03] bojiang commented on #721
@joshuacwnewton

It took me a while to retrieve an example of using non-keras TensorFlow v1 API:
https://github.com/bentoml/gallery/blob/3ce0644d04ccce7b262947b85d3b3bcd1bc57dd8/tensorflow/fashion-mnist/tensorflow_1_fashion_mnist.ipynb

In fact, we did not do extra work to make bentoml support tensorflow v1. `tensorflow.saved_model` did most of the dirty work. And I think there are still a certain

[2020-07-29 22:12] joshuacwnewton commented on #721
Great work finding this example @bojiang! It looks like it has all the necessary steps, so thank you. I will see what I can do to adapt the steps to a simpler model for testing purposes. :smile:

Interestingly, I notice that the example you linked uses [`tf.saved_model.simple_save`](https://www.tensorflow.org/api_docs/python/tf/compat/v1/saved_model/simple_save), while I was trying to use the `sav

[2020-07-30 12:05] quantum-fusion opened #944 "BentoML install failed with ERROR version 0+unknown"
**Describe the bug**
A clear and concise description of what the bug is.

I installed bentoml on MACOS.

using

pip install bentoml

I then ran the example:
bentoml serve IrisClassifier:latest
[2020-07-30 08:00:58,038] INFO - Getting latest version IrisClassifier:20200729153118_5AD487
[2020-07-30 08:00:58,039] INFO - Starting BentoML API server in development mode..
[2020-07-30 08:00:58,282] WARNI

[2020-07-31 04:37] brandonwatts commented on #622
@parano So not an expert on mlflow and recently came across this project but one way the integration may be able to happen:

This could possibly be tackled by tapping into the [ModelSignature](https://github.com/mlflow/mlflow/blob/00164c3b6e0bf83fa13ec3021be05f2d897f2598/mlflow/models/signature.py) attribute which describes the input/output of the model

This could possibly be done by accessing th

[2020-07-31 06:49] parano commented on #944
hi @quantum-fusion,

It looks like you also tried installing BentoML from source code? could you verify a few things for me:

* what's the output of CLI command `bentoml --version`?
* what's the output of `import bentoml; print(bentoml.__version__)`?
* what's the output of `import bentoml; print(bentoml.__path__)`?

[2020-07-31 08:52] parano commented on #936
Hi @co42,

BentoML is designed to not only work for model serving over an API HTTP endpoint, but also serving via CLI command, python API, and batch serving on Apache Spark. That's why returning a SimpleResponse directly is not currently supported. Raising a custom exception is the right way to go. I think `bentoml.exceptions.InvalidArgument` is what you are looking for.  It should work when micro

[2020-07-31 08:55] parano commented on #920
@yubozhao any updates on this?

Btw, with the new `set_dependencies` API in `BentoArtifact` class, we should be able to add the conda dependencies for the user by default, when using H2O artifact.

[2020-07-31 10:46] quantum-fusion commented on #944
I downloaded your GitHub repo, and I noticed when I run in the ./BentoML directory:
bentoml --version
bentoml, version 0+unknown

However, If I run in any other directory.
bentoml --version
bentoml, version 0.8.3

I discovered the resolution path was broken because it could not find where bentoML was installed, and which version.
pip install BentoML==0.8.3
bentoml —version

I can not explain why w

[2020-08-01 03:56] yubozhao commented on #920
@parano I can't wait for the new `set_dependencies` API, it would make H2o Artifact a lot more user friendly to use.

For now, the quickest work around is user manually add `openjdk` as part of the `conda_dependencies` when they write the BentoService definition.

I think I am also going to create a PR that address this for the users that want to use H2o now.

[2020-08-01 07:23] parano commented on #944
@quantum-fusion it is just how python import works. https://docs.python.org/3/tutorial/modules.html#the-module-search-path

[2020-08-01 07:23] #944 closed

[2020-08-01 18:00] #893 closed

[2020-08-03 02:40] MajesticUnic0rn commented on #622
@parano Is the mlflow's mlproject file a hassle to deal with in the integration with bentoML? Will the documentation talk in-depth about the cons of mlflow deployment strategy.

While I like mlflow's experimentation, I think you really hit on the head how mundane mlflow's deployment strategy is...

[2020-08-03 19:35] #926 closed

[2020-08-03 19:37] parano commented on #926
@guy4261 thanks again for your contribution! The PR is now merged and this will be available in the next BentoML release!

[2020-08-03 20:02] yashika51 commented on #725
Hi @parano, are we looking to make changes in [this class](https://github.com/bentoml/BentoML/blob/7af5a8f4ebe4e053bb65638ad8b9ab59555a411b/bentoml/service_env.py#L54-L83)?

[2020-08-03 20:11] parano commented on #725
@yashika51 yes that's correct, you can add a class method for initializing a CondaEnv with a yaml file, and you will also need to modify the `env` decorator implementation

[2020-08-03 21:04] mkosecki commented on #750
@parano  Can I take this one for start?

[2020-08-04 01:34] yashika51 commented on #725
Okay, I have made a draft PR just to show you the method before moving forward. I've only added the method for your approval first.

[2020-08-04 16:35] parano commented on #750
@mkosecki sure thing!

[2020-08-04 19:23] mkosecki commented on #750
@parano , I did small research and has not enough access to codecov account and repo to install app. So here are the things to make it work:
1. https://github.com/apps/codecov install app in bentoml repos (by somebody who has right access)
2. To prevent double messaging from codecov reset the team bot to null as it is mentioned [here](https://docs.codecov.io/docs/team-bot#github-users-why-am-i-get

[2020-08-04 23:46] rscnt commented on #704
is someone already working on this? if not I can start working on this

[2020-08-05 00:50] parano commented on #704
@rscnt I don't think anyone is working on it, feel free to take it!

[2020-08-05 08:21] bakshienator77 commented on #886
@Sharathmk99 Any chance I can use your branch of the code in case you have started working on this? Working on something time sensitive that would benefit from use of GPUs

[2020-08-05 09:02] MadisLemsalu opened #956 "Fastai2 Vision/Medical Support"
Fastai2 is being released in the upcoming weeks and would be nice if BentoML would support it as well with an example notebook. Especially support for vision submodule.

Currently the error when trying to serve a fastai2 vision model is: `MissingDepenendencyException: fastai.vision package is required to use FastaiImageInput`

[2020-08-05 19:24] parano commented on #886
@bakshienator77 since it is a time sensitive project you are working on, I'd recommend trying out the custom docker base image option: https://docs.bentoml.org/en/latest/concepts.html#using-other-docker-base-images, which allows you to use your own docker base image for the API server dockerfile, and you can use a docker image that has all the GPU drivers and libraries installed.

[2020-08-05 19:28] parano commented on #956
Have you tried adding the `torchvision` module to your BentoService definition? e.g. `@env(pip_dependencies=['torchvision'])`. I believe fastai2 is already supported via the `bentoml.artifact.Fastai2ModelArtifact`.  There isn't an example notebook for it tho.

cc @yubozhao

[2020-08-05 20:58] #920 closed

[2020-08-06 02:40] hechangqin commented on #920
@parano When can this fix be released?

[2020-08-06 02:43] parano commented on #920
@hechangqin the release is coming out in a day or two. You can also just add OpenJDK to conda dependencies list as a workaround in current BentoML version.

[2020-08-06 02:48] hechangqin commented on #920
@parano Got it. Thank you very much.

[2020-08-06 13:07] co42 commented on #936
`bentoml.exceptions.InvalidArgument` was exactly what I was looking for. Thanks

[2020-08-06 13:07] #936 closed

[2020-08-06 13:24] quantum-fusion opened #963 "resnet50.ipynb has svc not defined ONNX model does not load"
**Describe the bug**
I executed this Jupyter notebook running locally within Vscode.

https://colab.research.google.com/github/bentoml/gallery/blob/master/onnx/resnet50/resnet50.ipynb

It produces these error messages when executing.

image_data = np.array(image).transpose(2, 0, 1)
svc.predict(image_data)
---------------------------------------------------------------------------
NameError

[2020-08-06 13:32] quantum-fusion opened #964 "BentoML deployment procedure for REST API ONNX model from Model Zoo"
I want to download and install the Resnet50 model from the ONNX model Zoo.
https://github.com/onnx/models/blob/master/vision/classification/resnet/model/resnet50-v2-7.onnx

I want to load and then start the BentoML REST API service, but do not see any example of how to do so.

The closest example there was, is here (https://github.com/bentoml/BentoML/issues/963), but it was in Jupyter notebook for

[2020-08-06 14:47] mkosecki opened #965 "Add artifacts for Yaml and JsonPickle"
**Is your feature request related to a problem? Please describe.**
Support of yaml objects and [JsonPickle](https://github.com/jsonpickle/jsonpickle) objects.

**Describe the solution you'd like**
Inherit from base class  BentoServiceArtifact and create YAMLArtifact and JsonPickleArtifact, store within artifact directory.

**Describe alternatives you've considered**
The alternative is that each us

[2020-08-06 15:08] mkosecki commented on #963
@quantum-fusion Did you execute the below notebook node? It seems like the enviroment did terminated. I run this in google collab and works like a charm, locally on my Mac also. Does the bug show every time you run the notebook cells enviroment?

[code]

[2020-08-06 15:14] quantum-fusion commented on #963
yes, I executed it, and it fails in both colabs and on MAC.  I am wondering if there are some garbage cache files, and I tried deleting them, but to no success.

[2020-08-07 09:02] mkosecki commented on #737
Hey @parano, I'm interested in this task,  i'll be much more helpful here.

[2020-08-08 05:40] yubozhao commented on #956
@MadisLemsalu Thanks for the heads up!  I will work on an example notebook for the Fastai2 Vision model.  I am thinking of using the [medical imaging tutoral](https://github.com/fastai/fastai2/blob/master/nbs/61_tutorial.medical_imaging.ipynb) as the example notebook.  Do you have any suggestions?

[2020-08-08 09:12] Sharathmk99 commented on #965
You can use textfil artifact for YAML files right?

[2020-08-08 11:45] Sharathmk99 commented on #886
@parano do we need to build docker image for multiple nvidia cuda versions like 10.1, 10.2, 11.0?

[2020-08-09 14:40] MadisLemsalu commented on #956
@yubozhao I like it that the example is from the medical field. The one bad thing about that notebook is that it is using lambda functions in the Dataloader, which prevents from calling learner.export() in order to pickle the model (pickling doesn't support lambda functions) to be used for BentoML.

Another example could be from Fastbook: https://github.com/fastai/fastbook/blob/master/02_productio

[2020-08-10 08:41] mkosecki commented on #965
Yes. Json also could be used with TextFile but then you need to parse it yourself that's why I assume there is JsonArtifact. I think it's better to go with approach of JsonArtifact and extend TextFile artifact with pyyaml handlers.

[2020-08-10 20:02] parano opened #977 "API server show blank index page"
This is an issue introduced in 0.8.4, first reported in the #bentoml-users slack channel:

Bo Han: hi there! new user here, bento-ml looks really cool, esp how it compartmentalizes ml deployment
Going through the get-started guides. i noticed that the latest release 0.8.4 is causing swagger-ui to 404 on default (0.8.3 doesn't have this issue, maybe something related to custom-ui)
steps to reproduc

[2020-08-10 20:08] parano opened #978 "Failed to package local pip installed dependency in 0.8.4"
An issue first reported in #bentoml-users slack channel by @fernandocamargoti

In some python environment, we see the following error when doing a `BenoService#save`:
[code]

The reason is some packages ended up with a `module_path == None` when accessing form `pkg_resources.working_set`:
[code]

Here is a conda environment yaml file that can reproduce this issue:
[code]

Interestingly, installing

[2020-08-10 23:36] jondoering opened #981 "Serving multiple models in the same service (or at least docker image)"
**Is your feature request related to a problem? Please describe.**
Many production instances have more than one, or even a handful of, models. Given that the containerized service is quite heavy (300MB - 1GB), it would be great to have support for multiple models in on container to support use cases where you have context-based models (e.g. different pages hit different model endpoints).

**Descri

[2020-08-10 23:40] parano commented on #981
@jondoering BentoML does support multiple models in the same service and in the same container, here is related documentation: https://docs.bentoml.org/en/latest/concepts.html#packaging-model-artifacts

[2020-08-10 23:57] jondoering commented on #981
Thanks for the fast reply @parano.
I read about it, but my understanding was that this mainly applies when multiple models are chained
"For most model serving scenarios, we recommend one model per prediction service, and decouple non-related models into separate services. The only exception is when multiple models are depending on each other, such as the example above." (from the docs)

The use ca

[2020-08-11 00:51] parano commented on #981
@jondoering got it, great question! If you are already using something like Kubernetes or KNative to schedule the BentoML API server docker container, then yes, we'd still recommend packaging those models separately into their own containers. Frameworks like Knative helps utilize the hardware resources more efficiently with idle model servers. And the isolation of the models helps improve the over

[2020-08-11 07:08] #981 closed

[2020-08-11 07:10] parano commented on #981
Closing the issue for now - @jondoering feel free to post to Discussions page if you have any follow-up questions or want to seek advice from the community: https://github.com/bentoml/BentoML/discussions

[2020-08-11 09:14] #978 closed

[2020-08-11 10:09] parano commented on #977
Closed by https://github.com/bentoml/BentoML/pull/975

[2020-08-11 10:09] #977 closed

[2020-08-11 11:35] jondoering commented on #981
Thanks @parano

[2020-08-11 18:03] fernandocamargoti opened #984 "Docker container stopped working with: ModuleNotFoundError: No module named 'ruamel'"
**Describe the bug**
Without any change to my code, new Docker containers aren't working anymore. When I try to run it, I get:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a BentoService with:
[code]
2. Pack the model and build the Docker Container
3. When the container is being built, we can see the following package being installed while updating the conda environment: **

[2020-08-11 21:36] yubozhao commented on #956
@MadisLemsalu I was able to solve the lambda and Dataloader issue and create an example notebook at https://github.com/bentoml/gallery/pull/48. You should be able to get started with that. Feel free to ask any questions.

I will add a deployment example for that notebook and then merge it in.

[2020-08-12 06:39] MadisLemsalu commented on #956
Okay great thanks!

Sincerely,
Madis Lemsalu

On Wed, Aug 12, 2020 at 12:36 AM Bozhao <notifications@github.com> wrote:

[2020-08-12 14:21] jiyer2016 opened #986 "Error in "bentoml serve" on Windows 10 for Model/Service stored on S3 (Minio)"
"bentoml serve" errors on Windows if Model/Service is stored on S3 (Minio)

**Environment:**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Startup a standalone yatai-service pointing to Minio
[code]

2. Make sure bentoml config reflects the correct yatai_service url
[code]

3. Save Service/Model into Model Repository (It gets saved without issues)
[code]

4. Serve Model/Service:
[cod

[2020-08-12 18:03] #758 closed

[2020-08-12 18:03] parano commented on #758
This is available now in the latest release(0.8.4 and above)

[2020-08-13 02:25] sagarnildass opened #988 "Pycaret support"
**Is your feature request related to a problem? Please describe.**
I would really like if you guys can add support for the pycaret library.

[2020-08-13 10:16] co42 opened #989 "cli throw RecursionError when using --enable-microbatch"
**Describe the bug**
When I use the cli with `serve-gunicorn --enable-microbatch` I got:
[code]

**To Reproduce**
use the option `--enable-microbatch` with the cli:
`bentoml serve-gunicorn --enable-microbatch myservice`

**Environment:**
 - MacOS 10.15.6
 - Python 3.8.2, BentoML-0.8.5, gunicorn 20.0.4

[2020-08-13 21:29] shihgianlee opened #990 "Add console log to prediction"
**Is your feature request related to a problem? Please describe.**
When running bentoml in a docker container, request logs are not printed to standard out.

**Describe the solution you'd like**
In a [slack discussion](https://bentoml.slack.com/archives/CKRANBHPH/p1597270160005700), the consensus is to add the console log to prediction by default. One potential solution is to add `console` to the

[2020-08-13 22:35] yubozhao commented on #989
@co42 Thank you for reporting.  I can reproduce it locally and I am looking into this.

[2020-08-13 22:46] yubozhao commented on #963
@quantum-fusion I ran the notebook in Colab and locally. I didn't encounter the issue you mentioned. Can you update to the latest BentoML version `0.8.5` and try again?

[2020-08-14 03:20] #990 closed

[2020-08-14 09:43] dcferreira opened #993 "DataframeInput does not handle indices"
**Describe the bug**
I expected ``DataframeInput``/``DataframeOutput`` to keep dataframe indices, but this does not happen.

**To Reproduce**
I'll take the example code I've been using for other bug reports:
* Server:
[code]
* Client:
[code]

Notice the indices in the dataframe of the example correspond to the length of the strings, for easier comparison to the correct result.

**Expected behavior

[2020-08-14 11:20] bojiang commented on #989
This is a bug in gunicorn under extreme conditions, which needs to be met at the same time:
1. Use multiprocessing to start the gunicorn application.
2. Python >= 3.8
3. The platform is MacOS

Reference:
1. https://docs.python.org/3/library/multiprocessing.html#contexts-and-start-methods
2. https://github.com/benoitc/gunicorn/blob/20.0.4/gunicorn/config.py#L54 (which actually caused the RecursionE

[2020-08-14 13:10] bojiang commented on #989
More details:
For MacOS, before Python3.8, the multiprocessing module starts new processes in `fork` mode by default, and starts new processes in `spawn` mode by default since 3.8.
The latter will use pickle to pass objects between processes.

And because of the use of __getattr__ in https://github.com/benoitc/gunicorn/blob/20.0.4/gunicorn/config.py#L54, the magic methods __getstate__ and __setsta

[2020-08-14 13:22] bojiang commented on #989
Why https://github.com/benoitc/gunicorn/blob/20.0.4/gunicorn/config.py#L54 break pickling:

[code]
would cause `RecursionError: maximum recursion depth exceeded`

[code]
works as expected.

[2020-08-14 14:39] ecrows commented on #934
🥳

[2020-08-14 14:39] #934 closed

[2020-08-14 14:51] bojiang commented on #993
[code]
would do the trick.

[2020-08-14 18:25] #989 closed

[2020-08-14 20:09] aslom commented on #984
I have the same problem. I do not know bentoml - where is conda_dependencies file located for workaround?

[2020-08-14 20:48] parano commented on #984
@aslom in your BentoService definition's `@env` annotation:

[code]

[2020-08-18 23:42] yubozhao commented on #984
@fernandocamargoti I can reproduce this issue. After I ssh into the container, I can see the installed package is installed as `ruamel_yaml` instead of `ruamel.yaml`. I am looking into why this happens and work on a fix for it

[2020-08-19 00:15] yubozhao commented on #984
Additional discussion https://github.com/conda/conda/issues/6762

[2020-08-19 05:44] parano commented on #984
@yubozhao

I've tried the following with the base docker image in 0.8.5:
[code]

It seems both package names work. Any idea why the package name `ruamel.yaml` stopped working after building a Bento API server docker image?

[2020-08-19 16:57] gregd33 opened #998 "Unexpected / undesirable behaviour with conda env settings"
**Describe the bug**
Essentially, an `environment.yml` file will be produced no matter what (even if `conda_dependencies=None`). If this is used in conjunction with a base docker image that has conda installed + some packages, this can make dockerizing much slower (10x).

Further, even if conda packages are specified, the inclusion of `python` and `pip` in the specification can have similar issues

[2020-08-19 23:22] jackyzha0 commented on #702
Should this be moved to Github Actions instead?

[2020-08-19 23:37] yubozhao commented on #702
@jackyzha0 Yes. This issue should be updated.

[2020-08-20 16:58] Talador12 commented on #890
Is this related to https://github.com/bentoml/BentoML/issues/666 and https://github.com/bentoml/BentoML/pull/957 ?

[2020-08-20 17:03] Talador12 opened #1000 "Support for h2o.ai models"
**Is your feature request related to a problem? Please describe.**
Add support and examples for h2o.ai models

**Describe the solution you'd like**
Similar to other model type integrations, there is definitely a use case for using Bento for h2o models once it is integrated. There is also a need for docs/examples similar to other model types that have been added.

**Describe alternatives you've con

[2020-08-20 17:03] parano commented on #890
@Talador12 sorry I haven't got a chance to fill in the issue description yet. This one is very different from #666 and #957. This ticket is about applying ML model packaged with BentoML to large data set on a Spark cluster. It should work for models trained with any of the ML frameworks that BentoML supports(e.g. Tensorflow, Scikit-learn etc).  While #666 is about support serving Spark MLlib model

[2020-08-20 17:05] aslom commented on #984
@parano about https://github.com/bentoml/BentoML/blob/1812d290466470f35ed8d0374491da9231ee5151/docs/source/concepts.rst#conda-packages as I am newcomer - if I understand it correctly to add @env workfoaround to BentoService I will need to modify model python in IrisClassifier/20200812101515_76F43B/IrisClassifier/iris_classifier.py ? Something along lines of https://github.com/bentoml/BentoML/blob/

[2020-08-20 17:08] parano commented on #1000
Hi @Talador12, is [this](https://docs.bentoml.org/en/latest/frameworks.html#h2o) what you are looking for?

[2020-08-20 17:09] aslom commented on #984
Here is what I get with docker image I built (see comment above):

[code]

[2020-08-20 17:11] parano commented on #984
Hi @aslom, looks like you made a typo there, it should be `ruamel.yaml==0.16` (two `=`s).

We are working on a fix now https://github.com/bentoml/BentoML/pull/997, it will come with the next release!

[2020-08-20 17:25] aslom commented on #984
Interesting 😱 that there was no error during compile or run :(

I am still getting the same problem - see that it ruamel_yaml-0.15.87 [1]

what am I missing?

[code]

[1] attached log1.txt
[log1.txt](https://github.com/bentoml/BentoML/files/5104510/log1.txt)

[2020-08-20 17:34] parano commented on #984
@aslom I see, l think you modify the `IrisClassifier/iris_classifier.py` file under the saved bundle directory directly?

We'd recommend the BentoService class code and re-run the `save` to create a new saved bundle, and build docker image again.

It is also possible to modify the `environment.yml` file under an existing saved bundle directory to manually add the conda dependency line. Although in

[2020-08-20 17:35] aslom commented on #984
@parano before new release with https://github.com/bentoml/BentoML/pull/997/files is available how do I build my own docker image for `aslom/bentoml-model-server:0.8.6` from github - what is the easiest way to do it? I could not find instructions in https://github.com/bentoml/BentoML/blob/master/DEVELOPMENT.md#install-bentoml-from-source (I had not problem to build bentoml)

Maybe using https://gi

[2020-08-20 17:38] parano commented on #984
@aslom You can build the base image and upload to your own dockerhub registry, and then use it with the custom docker image parameter: https://docs.bentoml.org/en/latest/concepts.html#using-other-docker-base-images

Although the PR is still working in progress. You won't need to rebuild the image after the PR was updated. I'd recommend using the workaround for now.

[2020-08-20 17:40] aslom commented on #984
@parano yes I copied bundle to local directory as it is the only place I found code that uses BentoService. Is there some guide docs how to `change the BentoService class code` ? Modified

[code]

tha got error

[code]
[log2.txt](https://github.com/bentoml/BentoML/files/5104594/log2.txt)

[2020-08-20 17:50] parano commented on #984
@aslom you should re-run the `save` call to generate a new saved bundle:

[code]

[2020-08-20 17:51] yubozhao commented on #984
@aslom I think the issue is `ruamel.yaml` is available in the `conda-forge` channel instead of the default conda channels
You can add this to your env decorator and it should works properly

[code]

[2020-08-20 18:03] aslom commented on #984
@yubozhao tried but got syntax error:

[code]

[log5.txt](https://github.com/bentoml/BentoML/files/5104703/log5.txt)

[2020-08-20 18:34] aslom commented on #984
@parano how do you install all dependencies? Could not find it in DEVELOPMENT.md

[code]

[2020-08-20 18:48] aslom commented on #984
Fixed the typo missing `]` and that finally made it work :)

[code]

[2020-08-20 18:49] aslom commented on #984
Thank you @parano and @yubozhao  for your help.

[2020-08-20 18:50] yubozhao commented on #984
@aslom Awesome.  I was just typing about I missed the closing `]`

[2020-08-20 21:32] yubozhao commented on #986
@jiyer2016 apology for the delayed response.

I am able to reproduce this issue with `0.8.5` as well.  I am looking into this.

Right now, you can do this workaround:
[code]

[2020-08-21 02:59] bojiang opened #1002 "Refactor adapters"
## Is your feature request related to a problem? Please describe.
- Allowed users to customize HTTP response/ AWS lambda event like headers, etc
- Made contribution of adapters easier.
- Drier adapter code
- A more handy CLI UX for user defined API function

## Describe the solution you'd like

- Introduce InferenceTask & InferenceResult types
- Move micro-batching related logic out of adapters

#

[2020-08-21 05:25] jiyer2016 opened #1004 "Provide option to enforce Python Runtime version via env_decorator / setup.py"
**Is your feature request related to a problem? Please describe.**
I use my own Docker Base Image which I know can be customized via the docker_base_image arg in the "env_decorator"
However, I am still unable to use BentoML's autogenerated DockerFile - since my environment's build process restricts me from using the COPY command in a Dockerfile:

`COPY . /bento`

I need to use my own custom writte

[2020-08-21 06:34] jiyer2016 opened #1005 "autogenerated requirements.txt is missing version numbers of select dependencies"
**Describe the bug**
I use the auto_pip_dependencies on the env_decorator for my Service
@bentoml.env(auto_pip_dependencies=True)

After I save the Service - as expected the BentoML autogenerates a requirements.txt with the correct list of dependent packages.

However I notice that the version number of scikit-learn is left unspecified. Why is this the case ?
The versions of the other two librarie

[2020-08-21 22:31] shihgianlee opened #1009 "Configuration option to disable logs in production"
**Is your feature request related to a problem? Please describe.**
We have a mechanism to capture logs in production that doesn't require log files collection. However, there is no option to disable local log files generation.

**Describe the solution you'd like**
A configuration option for user to disable logging to files.

**Describe alternatives you've considered**
Accept the default behavior s

[2020-08-22 00:57] yubozhao opened #1011 "Add Statsmodel to framework page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

Include Statsmodel to the framework page on the documentation site

- [ ] Add sample code using PickleArtifact
- [ ] Add example notebook in the bentoml/gallery repo.

**Describe alternatives you've co

[2020-08-23 02:13] thoo opened #1014 "Accept orient='table' in DataframeInput"
**Is your feature request related to a problem? Please describe.**
It would be great if `bentoml.adapters.DataframeInput` can accept `orient='table'`. Since `orient='table'` is the only format which can transfer datatype like `category`.

[code]
Right now, `df.dtypes` is `category`. If we convert `DataFrame` to `JSON` and reconvert to `DataFrame` without `orient='table'` , we end up with `object`

[2020-08-23 14:19] kushalvala23 opened #1016 "Error in Predict Function of TensorFlow 2.0 with Keras API (tf.keras)"
**Describe the bug**
I have trained a text classification model using tf.keras, since BentoML Documentation gives TensorFlow 1.14.0 code snippet, I expected the code to run without any bugs for TensorFlow 2.0.

**ValueError: Could not find matching function to call loaded from the SavedModel. Got:**
  Positional arguments (3 total):
    * Tensor("inputs:0", shape=(10, 20), dtype=int32)
    * False

[2020-08-23 21:27] yubozhao commented on #1016
@kushalvala23 Thank you for reporting!

Since Tensorflow 2.4.0 is still under development, Could you give the latest public release version `2.3.0` and also `2.2.0`a try?

I did a quick test with the basic echo model from [bentoml/gallery](https://github.com/bentoml/gallery/blob/master/tensorflow/echo/tensorflow-echo.ipynb) with Tensorflow `2.3.0` and `2.2.0`. I encountered issues on inferencing w

[2020-08-24 06:04] yubozhao commented on #1014
@thoo Thanks for the suggestion

I remember @bojiang created #815, which added support for other orients except `table`.  Deferring to him on this topic.

[2020-08-24 17:35] parano commented on #1004
@jiyer2016 got it, that's a great idea and definitely doable since we already have the python version information during `save` and it should be straightforward to add that to the `setup.py`.

I think I understand your original request to add a `python_requires='~=3.3'` parameter better now and I start to think it's a really a great idea:

It could be dangerous if the user didn't test the compatib

[2020-08-25 01:15] yubozhao opened #1020 "Use alternative method to build and push docker image when Yatai service is running in a docker container."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When yatai service is running in a docker container, it is difficult to deploy BentoService to AWS Sagemaker or Azure functions. Those deployments require a docker image to build and push to the container registry.

**Describe the solution

[2020-08-25 04:29] yubozhao commented on #984
@fernandocamargoti @aslom We just released BentoML `0.8.6` It contains the fix from #1012.

I am closing this for now. Feel free to reopen if you still encounter this bug.

[2020-08-25 04:29] #984 closed

[2020-08-25 04:55] yubozhao commented on #1000
@Talador12  Have you had the chance to check out the H2o Artifact? Let us know if we can help you out.

Here is the link to the example notebooks that use H2o Artifact: https://github.com/bentoml/gallery/tree/master/h2o

[2020-08-25 05:33] kushalvala23 commented on #1016
The error still persists. The basic echo model made in[ bentoml/gallery](https://github.com/bentoml/gallery/blob/master/tensorflow/echo/tensorflow-echo.ipynb) is using core TensorFlow API's, whilst I have used Keras API from TensorFlow 2.0, using both Functional and Sequential Mode!

[2020-08-26 05:39] #1020 closed

[2020-08-26 14:16] narennadig opened #1029 "Issue while running image on tekton CICD pipeline"
OpenShift version: v3.11
K8 version: v1.11
Tekton Pipeline version: v0.12.1
Issue: Unable to run BentoML pipelines using tekton based CI/CD pipeline. The pipeline deploys the application pod however the sales app does not runs and shows the below error:
..................................................................................................................................................

[2020-08-26 14:38] jiyer2016 opened #1030 "bentoml serve fails with error is built / packaged on Windows and deployed on Linux"
**Describe the bug**
bentoml serve fails with error:

`Error: bentoml-cli serve failed: Can not locate module_file <some_dir1>\<some_dir2>\<some_file>.py in saved bundle /<some_dir3>
`
This happens because of the windows style backslash in <some_dir1> \ <some_dir2> \ <some_file>.py being considered as the escape character on linux.

The "<some_dir1> \ <some_dir2> \ <some_file>.py" originates from

[2020-08-26 14:41] jiyer2016 commented on #1029
@narennadig  - Possible dupe of https://github.com/bentoml/BentoML/issues/1030
Did you build / package on windows and deploy on Linux ?

[2020-08-26 14:55] jiyer2016 opened #1031 "bento flask service not accessible from outside the docker container"
**Describe the bug**
On my RHEL docker container:
If I use plain-flask - the Model API is NOT accessible outside of the container:
`bentoml serve /<some_dir>`
However, if I ssh into the container and try invoking the Model API - it works.

If I use gunicorn - the Model API is accessible from outside the container.
`bentoml serve-gunicorn --workers=2 /<some_dir>`

There is some difference in the wa

[2020-08-26 17:10] narennadig commented on #1029
@jiyer2016  Both on Linux..Did you find a solution???

[2020-08-26 18:47] aslom opened #1032 "IrisClassifier fails to start in OpenShift with Error creating bentoml home directory '/bentoml'"
**Describe the bug**
IrisClassifier fails to start in OpenShift with Error creating bentoml home directory '/bentoml'

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow tutorial to build and deploy IrisClassifier to OpenShift - I am using this YAML:

[code]

**Expected behavior**
Docker container work but deployment fails

[code]

**Screenshots/Logs**
If applicable, add screensho

[2020-08-26 19:06] aslom commented on #1032
it may be related to https://github.com/bentoml/BentoML/pull/284 but I am clear what that PR fixed.

[2020-08-26 19:13] aslom commented on #1032
doing more investigation it seems BentoML image is running as root and that has security implications:
https://stackoverflow.com/questions/42363105/permission-denied-mkdir-in-container-on-openshift
https://serverfault.com/questions/916101/how-do-i-fix-openshift-permission-denied-error

[2020-08-26 19:25] yubozhao commented on #1031
@jiyer2016 Yep. I can reproduce it. We should include the host there.

Just curious, what's the reason/use-case that you want to run flask via `bentoml serve` instead of using gunicorn with `bentoml serve-gunicorn`?

We were thinking that if users are containerizing, they are probably using it for production; hence gunicorn is a better choice. I would love to learn about your use-cases more, so we

[2020-08-26 19:50] aslom commented on #1032
Running

[code]

fallowed ot run container:

[code]

[2020-08-26 19:52] yubozhao commented on #1032
@aslom Thank you for investigating it and make it run with the temporary change on the service's permission!

[2020-08-26 20:01] yubozhao commented on #1030
@jiyer2016 Thank you for finding this issue.  You are exactly right. BentoML didn't take into account of module_file from Windows.

We need to improve our Windows support.  Thank you for discovering all of these issues and help BentoML improve!

[2020-08-26 20:52] aslom commented on #1032
Turned out to be a bit of rabbit hole:

The easiest way to test it wothout deploying to k8s is to use uid:guid for docker run:

[code]

Key requirements:

"Make directories you want to write to group-writable and owned by group id 0 Set the net-bind capability on your executables if they need to bind to ports <1024

https://stackoverflow.com/questions/37723401/how-do-you-run-an-openshift-docker-co

[2020-08-26 20:58] aslom commented on #1032
And here is proof of concept Dockerfile that works with anyuid to run as docker run and in OpenShift:

[code]

Test local:

[code]

and in OCP 4.4 without doing anyuid

[code]

[2020-08-26 20:58] aslom commented on #1032
BTW: to debug it is useful to run /bin/bash and see output:

[code]

[2020-08-26 21:00] aslom commented on #1032
@yubozhao the best solution would be probably to make base image support running anyuid (with chmod and chown as I did) and test it with `docker run --user 1234:1234` (or random uid:guid) in unit tests?

[2020-08-26 21:07] #1000 closed

[2020-08-26 22:31] yubozhao commented on #1032
@aslom I think that's a good suggestion. Would you like to open a PR with your changes? I think it would be a good way to recognize your contribution to this issue

[2020-08-27 05:16] jiyer2016 commented on #1031
Yes, gunicorn is good for me.
Just that I took the (default) route of running flask to prove this works on my environment.

[2020-08-27 05:32] yubozhao commented on #956
@MadisLemsalu Have you have the chance to check out that notebook? Feel free to ping us on slack or write issues/discussions on Github if you run into any issues or have questions.

I am going to close this issue for now. Feel free to open this back up again, if something went wrong

[2020-08-27 05:32] #956 closed

[2020-08-27 08:26] jiyer2016 opened #1034 "YataiService Web UI not responding on Docker"
**Describe the bug**
I started up the YataiService on Docker (RHEL Base Image)

[code]

I have the local port 3000 on docker exposed to the outside world.
I proceed with accessing the Web UI URL from a browser - that does NOT work (not acccessible)
I then ssh into my docker container and use curl to access the Web UI URL - that doesn't work either.

[code]

I look at the logs directory - surprisin

[2020-08-27 10:59] jiyer2016 opened #1035 "YataiService gRPC server not accessible from outside Docker Container"
**Describe the bug**
I start up the YataiService on Docker (RHEL Base Image) turning OFF the web ui (--no-ui mode)

[code]

At this point I have an empty model repository.
I ssh into the same docker container that is running the yatai-service and try running the following command:

[code]

I get an empty response as shown above - perfectly valid - the yatai-service is responding and accessible fro

[2020-08-27 14:51] gregd33 commented on #998
A couple other comments about this:

1.  If the user does specify a specific version of python in the `conda_dependencies` this will cause issues since it will have now have python specified twice. So even more of a reason to remove python from this list.

2. I also think that the `default` channel should be removable or removed if there is another channel present. The context for this if images a

[2020-08-27 14:54] gregd33 commented on #998
Also I'm happy to start a branch/PR for this if that would be helpful

[2020-08-27 15:28] gregd33 opened #1036 "Pip args in Dockerfile not exposed via containerize command"
**Describe the bug**

I believe this is a bug, but I might just be missing how to properly use the containerize functionality.

The Dockerfile generated by https://github.com/bentoml/BentoML/blob/master/bentoml/clipper/__init__.py#L97 includes two args for PIP repos. However, the containerize  functionality doesn't seem to expose these arguments. The problem is that this will override other pip co

[2020-08-27 15:32] shihgianlee opened #1037 "Allow access to artifacts in the service __init__(self) during pack process"
**Is your feature request related to a problem? Please describe.**
In BentoML service class, we don't have access to artifacts during `pack` process, e.g. `self.artifacts.my_artifact`, in the `__init__(self)` method. The reason to have access to the artifacts in the init is so that I can pass the artifact to my class initialization, e.g. `self._provider = Provider(self.artifacts.my_artifact)`. Lat

[2020-08-27 20:13] yubozhao commented on #1036
@gregd33 Thanks for reporting this. We missed providing options for those args in the `bentoml containerize` command.

You can utilize the docker command as a workaround for the moment.  If your BentoService is saved in a remote Yatai service, you can first use `bentoml retrieve my_service:my_version` to download the BentoService to the current directory and then run docker build command.

If you

[2020-08-27 20:15] yubozhao commented on #998
@gregd33 That would be great if you can help out and create a PR for this!

[2020-08-27 20:39] parano commented on #1036
Hey @gregd33, thanks for reporting this. Indeed the following line in the generated docker image will override your PyPI config in the base image, and it requires the user to specify the build args again, which is not necessary if it is already specified in the docker base image.

[code]

On a side note, the dockerfile is actually generated from: https://github.com/bentoml/BentoML/blob/v0.8.6/bent

[2020-08-27 20:45] parano commented on #998
Please also see the discussion here https://github.com/bentoml/BentoML/issues/1004

We are currently using conda to ensure the exact same python version is being used when deploying to production. So removing environment.yml when no `conda_dependency` is specified will cause problem there.

As part of the discussion in #1004, we could change the default behavior on python version to match just the

[2020-08-27 20:50] parano commented on #1029
Hi @narennadig, could you try running the quick start example `IrisClassifier` in your environment and try building and running the generated docker image?

[2020-08-27 20:51] parano commented on #1034
@jiyer2016 did you use the officially released docker image for YataiService from the docker hub? https://hub.docker.com/repository/docker/bentoml/yatai-service  Or did you try building the docker image yourself?

[2020-08-27 20:53] parano commented on #1034
If you are building your own docker image for YataiService, take a look at our release script here:  https://github.com/bentoml/BentoML/blob/master/dev/release_pypi.sh

You will need to build the javascript/typescript project before packaging them into a bentoml distribution.

[2020-08-27 21:57] parano commented on #1031
@jiyer2016 do you mind sharing a bit more context about the environment you're working with and the requirements there? That'd help us understand a bit more about what's the best way to support those requirements.

[2020-08-28 05:45] parano opened #1040 "Prediction log shows encoded payload when enable micro-batching"
**Describe the bug**

Run BentoML API server with `--enable-microbatch`, the prediction log currently shows the entire batched request payload instead of individual inference task's input and output.

![Screen Shot 2020-08-27 at 10 34 22 PM](https://user-images.githubusercontent.com/489344/91525526-92a1f180-e8b6-11ea-8858-3453ae93c19a.png)

![image](https://user-images.githubusercontent.com/489344

[2020-08-28 06:05] bojiang commented on #1014
@thoo Hi.
For developers who wrote the API function, they already knew what dtype they want.
Therefore, for this demand, I prefer declaring in the parameter than supporting table orientation:

[code]

This is consistent with `pandas.read_csv()` `pandas.read_json()`.
(but you know, because of pandas' defects, `pandas.read_json(dtype=)` does not support specifying categorical dtype now. I'm refactor

[2020-08-28 13:18] jiyer2016 commented on #1034
@parano - I am not building the Docker image from source.
So I assume, I do not need to build the javascript / typescript project.

Here is how my custom Dockerfile for yatai-service looks:

[code]

And then I start it up using the command:
`bentoml yatai-service-start --no-ui --debug --verbose`

I also have a configuration that exposes local ports 3000 and 50051 to outside the world.

[2020-08-28 13:21] jiyer2016 commented on #1031
@parano - Let me get back to you on this in a few days.

[2020-08-28 14:20] narennadig commented on #1029
@parano it is running on my local system without an issue

[2020-08-28 14:23] parano commented on #1034
I see, `—no-ui` might be the reason then, it means running only the gRPC server without the web ui server.

[2020-08-28 14:50] jiyer2016 commented on #1035
I got this working in my environment. It seems like I had to add a special Service Discovery configuration on my end to support gRPC Services. I am closing this item.

Having said that - https://github.com/bentoml/BentoML/issues/1034 (Yatai Web UI NOT responding is still an issue for me).
Thanks

[2020-08-28 14:50] #1035 closed

[2020-08-28 15:10] jiyer2016 opened #1042 "Error in retrieving BENTO if yatai-service uses local disk storage repository for model artifacts (default)"
**Describe the bug**
This issue happens only if yatai-service uses the default local disk storage repository.
It doesn't happen if configured to use S3 / Minio for storing Model Artifacts.

The call to **bentoml retrieve** fails from a Remote Node with the following error:

[code]

It turns out that the path **/home/<some_user>/bentoml/repository/<some_service>/20200828200111_90BFD8** is valid on

[2020-08-28 16:03] hrimhari commented on #1035
What did you add and where?

Thanks!

[2020-08-28 16:24] thoo commented on #1014
@bojiang That will do. Right now, I just pass `JSON` object with `orient='table'` and preprocess  ` pd.read_json(data.text,orient='table')` before making prediction.

[2020-08-28 16:48] jiyer2016 commented on #1034
Sorry, I meant I use:
yatai-service-start --debug --verbose

I had temporarily added the --no-ui flag to turn OFF the Web UI since it wasn't working for me.
I can confirm that this is still an issue for me.

[2020-08-28 16:53] parano commented on #674
This should take into consideration the on-going adapter refactoring
https://github.com/bentoml/BentoML/issues/1002

[2020-08-28 17:24] yubozhao commented on #1031
@jiyer2016 feel free to reach us directly on slack or email us at bo@bentoml.ai or chaoyu@bentoml.ai, if sharing in public is a concern.

[2020-08-28 17:32] parano commented on #1034
@jiyer2016 could you try `docker exec` into the container where you ran `bentoml yatai-service-start --debug --verbose`, and try running the following command to see what's the output?

[code]

[2020-08-28 17:41] gregd33 commented on #998
I think that the major/minor version only would be sensible. Just did some tests and that helped in terms of the build performance.

I can try to tackle it and the major/minor thing should be a quick fix. But I'll also add the additional base images for the conda-based images - if you can point me to where the base images are handled that would save me some time searching.

[2020-08-28 17:46] gregd33 commented on #1036
@parano - thanks, putting them in `@env` makes a lot of sense and would work perfectly.

And thanks for the workaround - that's what I had been doing so far.  But in a long run, being able to use the `containerize` command would be ideal.

[2020-08-28 17:51] parano commented on #998
@gregd33 sure thing, here is the code we use to build and publish the model-server base image:
https://github.com/bentoml/BentoML/tree/master/docker/model-server

I think we could do something similar to the slim image, and generate image tags for each python minor version we support `bentoml/model-server:0.8.6-py36`, `bentoml/model-server:0.8.6-py37`, `bentoml/model-server:0.8.6-py38`, and in our

[2020-08-29 14:04] jiyer2016 commented on #1035
@hrimhari  - My environment uses  traefik - https://docs.traefik.io/ for routing incoming requests to Services. I had to configure the environment to route requests by "port" (other options include routing by "path", "header" etc) in order for the bentoML CLI client to consume the remote yatai gRPC Service.

Hope that helps. Right now, I don't understand too much of either gRPC or traefik to now w

[2020-08-30 03:32] parano commented on #1042
Hi @jiyer2016 - thanks for reporting this. This is a known limitation of YataiService and it is on our roadmap.  For now, we'd recommend using AWS S3 or your own MinIO deployment as the storage for YataiService.

[2020-08-30 08:16] jiyer2016 commented on #1042
Thanks for confirming - @parano   - I will close this since it is a known issue and you may already have a separate item to track this. Yes, I shall use S3 / MinIO for the actual setup.

Just that the local disk option would be a lot more convenient for demos showcasing the capability to so easily save and distribute a Service across nodes.

BTW - I really appreciate the work you'll have done on m

[2020-08-30 08:16] #1042 closed

[2020-09-01 12:36] jiyer2016 commented on #1034
Thanks, that was helpful - Here is the error I get:

[code]

I am currently running a lower version of node - Let me upgrade and see if that helps.
[code]
In the meanwhile do you recommend any specific version for node and npm ?

[2020-09-02 00:42] parano commented on #1030
This is fixed in #1044, will be available in next release

[2020-09-02 00:42] #1030 closed

[2020-09-02 23:02] parano opened #1055 "Support replaying prediction traffic logs"
**Is your feature request related to a problem? Please describe.**

When a new version of the model is produced, it is a common practice to compare its performance & behavior against the previous version of the model. BentoML produces prediction logs when API server is serving production traffic. Each prediction log record contains both the inference request input data and the inference result.  I

[2020-09-02 23:47] yubozhao commented on #1034
@jiyer2016 I think node version `12.13.0` and npm version `6.12.0` is a good one.

The latest version 12 for node `12.18.3` breaks the UI client bundler `parcel`. Please steer away from that.

[2020-09-03 04:00] jiyer2016 commented on #1034
Upgrading node fixed this issue.

[2020-09-03 04:00] #1034 closed

[2020-09-03 05:34] parano opened #1058 "Guide on customizing prediction/feedback log logger config"
**Is your feature request related to a problem? Please describe.**

Currently, the bentoml logging config is mostly defined here: https://github.com/bentoml/BentoML/blob/v0.8.6/bentoml/utils/log.py

It is a good default logging config but users may want to further configure it. Especially around configuring the prediction and feedback logs.

Users can already do this via the Python logging library

[2020-09-03 08:12] parano opened #1060 "YataiService monitoring and prometheus endpoint"
Currently, there is no easy way to monitor a YataiService deployment.

* Add a '/healthz' HTTP endpoint via the node server, in addition to te gRPC health check endpoint
* Add a '/metrics' HTTP endpoint via the node server, and allow expose metrics from the python gRPC server

[2020-09-03 10:29] miyrai opened #1061 "Deploy model on local server on windows tablet"
Hi!
I have a question regarding the deployment. Is its possible to deploy a ml model with BentoML on a local server on a windows tablet, so it can be accessed via HTTP request to the localhost? And if it is possible, how would you do that?
This will only be a tepmorary solution (but a needed one) until the model will be deployed on a real server

[2020-09-03 15:46] parano commented on #1061
hey @miyrai, hope you don't mind let's move questions like this to discussions board here: https://github.com/bentoml/BentoML/discussions

[2020-09-03 15:46] #1061 closed

[2020-09-03 16:45] parano opened #1063 "Support URL location prefix in yatai-service gRPC/Web server"
**Is your feature request related to a problem? Please describe.**

It is common to run YataiService behind a reverse proxy server, and the user may want to add a location prefix to the URL being proxied. Currently, the YataiService Web UI does not work properly when a location prefix is specified, and we should support it.

**Describe the solution you'd like**

Add a parameter to YataiService ent

[2020-09-04 12:05] FlorianBorn opened #1065 "Add startup / shutdown functions"
**Is your feature request related to a problem? Please describe.**
My ML Service consumes an externel service to read same data and filter its predictions accordingly.
I would need the possibility to add an API-client at startup of the service, initiate it with environment variables and use it when handling a prediction request.

**Describe the solution you'd like**
Add startup / shutdown decorato

[2020-09-04 17:09] parano commented on #1065
Great suggestion @FlorianBorn!

This is also what I was planning to do for #1037, where a user wants to have access to the artifacts when initializing the service.

In your case, you can probably work around by overriding the `__init__` method, e.g.

[code]

[2020-09-06 14:16] danield137 commented on #1036
@parano , can you also consider adding `pip_extra_index_url` as a list? this will allow users to use a private PyPI for a subset of the packages

[2020-09-07 08:10] parano commented on #1036
@danield137 didn't know that option exists, thanks for the suggestion! we should definitely add that!

[2020-09-07 08:15] danield137 commented on #1036
@parano didn't know too until I had to use it 🤣

[2020-09-07 22:15] #1002 closed

[2020-09-08 01:42] bojiang commented on #1031
The server launched by `bentoml serve` is for debug only, and bound to `127.0.0.1`, which means we can only access it from inside of the container. Since it is not suitable for production (many unexcepted issues), I think this default behaviour is okay.

[2020-09-08 01:53] bojiang commented on #1031
Plus there would be some security issues when expose debug service to public (bind to `0.0.0.0`).

[2020-09-08 04:39] jiyer2016 commented on #1031
@bojiang - Thanks, Fine with this behavior. Not high priority - but does it make sense to add a warning during startup to make users aware that the service would not be accessible outside the host. OR perhaps add it to documentation OR even in the output of `bentoml serve --help`.

Closing this issue.

[2020-09-08 04:39] #1031 closed

[2020-09-08 08:10] jiyer2016 commented on #1063
Besides yatai-service, would this also address the User-Defined API.

I notice the following behavior behind a reverse proxy:

`http://<friendly-url>/<some_prefix>/<api_name>- correctly gets routed to the Gunicorn / Flask API endpoint`

but

`http://<friendly-url>/<some_prefix>/`

does NOT serve the swagger

My thinking is that both issues with yatai-webui and swagger-ui - have the same type of ca

[2020-09-09 00:09] gregd33 commented on #998
I almost have a PR ready to go. There are a couple things I'm unsure about.

Suppose a user builds with python 3.5 which is unsupported. Should we raise an error or warning? Should we not raise anything and when they try to containerize it will be unable to find the image? Or should we add `python==3.5` to the conda environment (possibly raising a warning as well)?

In any case, we also need to ha

[2020-09-09 00:19] gregd33 commented on #998
Also I did implement the changes from #1043 into this one, with one addition: I defined a PYTHON_LATEST variable, which is basically which version gets the latest tag (currently, it is 3.7 since its the only image).

That is, the image for 3.8 will get the tag `0.8.6-py38` and `latest-py38` (like currently) whereas 3.7 will also get just the `latest` tag too.

[2020-09-10 06:02] jjmachan commented on #759
Will be work on this this week

[2020-09-10 06:21] bojiang commented on #759
@parano @jjmachan I believe this issue should have been solved by https://github.com/bentoml/BentoML/tree/master/tests/integration/api_server

[2020-09-11 08:57] jjmachan commented on #674
I'd like to take this up if no one is working on it.

[2020-09-12 07:28] vedashree29296 opened #1080 "Artifact type for packing Huggingface pretrained models together"
**Is your feature request related to a problem? Please describe.**
I am trying to pack a pretrained HuggingFace / Transformers model into a BentoML bundle. Running predictions on it requires a model and a tokenizer object, which in turn uses 4 different files that include a PyTorch model and JSON files. It'll be extremely convenient it all can be packed together

**Describe the solution you'd like

[2020-09-13 01:51] parano commented on #1029
Hey @narennadig, any progress after our last call? hope things are working now, let me know if there's still any issue with this

[2020-09-13 07:05] parano commented on #1036
Both the original issue and the proposal on adding extra pip index parameters are added in PR https://github.com/bentoml/BentoML/pull/1084

It will be available in the next release 0.9.0

[2020-09-13 07:05] #1036 closed

[2020-09-13 07:05] parano commented on #725
This is now closed in https://github.com/bentoml/BentoML/pull/1084

[2020-09-13 07:05] #725 closed

[2020-09-13 08:15] #695 closed

[2020-09-13 08:15] #1005 closed

[2020-09-13 08:15] parano commented on #1005
This is fixed in #1086, will be available in next release 0.9.0

[2020-09-13 08:18] parano commented on #993
@dcferreira

[2020-09-13 08:19] parano commented on #993
@bojiang 's suggestion should resolve this problem.  With the new DataframeInput release, we recommend always specify the orient in the code, e.g. `@api(input=DataframeInput(orient="records"))`

[2020-09-13 08:19] #993 closed

[2020-09-13 08:21] #631 closed

[2020-09-13 09:16] bojiang opened #1087 "Configurable max request body size"
**Is your feature request related to a problem? Please describe.**

How to reproduce:
* enable microbatching
* post a large file (for example, 2MB) to the API

got:
```aiohttp.web_exceptions.HTTPRequestEntityTooLarge: Request Entity Too Large```

**Describe the solution you'd like**

https://docs.aiohttp.org/en/stable/web_reference.html#aiohttp.web.Application
* enlarge the default `client_max_siz

[2020-09-14 06:44] narennadig commented on #1029
@parano It works for iris example but not our time-series one..But do you think It's because I did "auto_pip_dependencies=["statsmodels == 0.10.1" ?

[2020-09-14 06:51] parano commented on #1029
@narennadig it's possible.

Try the following?

```@env(auto_pip_dependencies=True, pip_dependencies=["statsmodels==0.10.1"])```

Be sure to remove the space in `"statsmodels == 0.10.1" `. The current released version of bentoml has an issue with parsing non-standard pypi package requirement. It has been fixed here and will not be a problem in future releases:  https://github.com/bentoml/BentoML/p

[2020-09-14 06:54] narennadig commented on #1029
@parano Just tried. it ...Still facing the issue ..when I added statsmodels==0.10.1 manually it worked(You can check our slack thread) ...Anyways..I'll be trying to run it on CICD after which we can close the issue if you want

[2020-09-14 13:49] narennadig commented on #1029
@parano It worked..I think that was the issue unfortunately....That requirements.txt getting populated issue still exists

[2020-09-14 13:49] #1029 closed

[2020-09-15 23:01] rockdrigoma opened #1092 "Pypi and Transformers artifacts-framework"
**Is your feature request related to a problem? Please describe.**
Is the new version stable in order to update pypi and use transformers?
I want to deploy a Transformer model from HuggingFace but there's no transformers artifact, transformers is only implemented in new versions as a framework and there's no documentation on that as well.

[2020-09-16 00:16] parano commented on #1092
Hi @rockdrigoma  - the transformer implementation was just merged today here https://github.com/bentoml/BentoML/pull/1090

and there are some issue displaying the document, but you can find it in the code: https://github.com/bentoml/BentoML/blob/master/bentoml/frameworks/transformers.py#L33

I will do some more testing on that, and a new release should come out in the next few days.

[2020-09-16 00:48] rockdrigoma commented on #1092
I already checked the code, but still a little bit hard for me to understand it.
I tried to use this:

xample usage:

    """

But it seems a little bit redundant and my model is throwing an error:
dict has no predict attribute

[2020-09-16 01:20] parano commented on #1092
@rockdrigoma could you share your code for me to reproduce the issue?

[2020-09-16 13:44] rockdrigoma commented on #1092
In the first cell I have:
[code]

In the next one:

[code]

And finally to deploy the service:

`!bentoml serve IrisClassifier:latest --run-with-ngrok`

When doing a test request on:

`http://127.0.0.1:5000/predict`

I get:

`
Error 500
Exception happened in API function: 'dict' object has no attribute 'predict'
`

[2020-09-16 16:53] parano commented on #998
Hi @gregd33  - sorry about the delayed reply, I think it is ok to skip python 3.5 for now, since we don't officially support it or test it.  I think it is ok to put the list of supported python version separately for now since it's a bit tricky to share it between shell files and python files, we will make sure to keep them updated when we add support for a new python version(which probably happen

[2020-09-17 01:19] #1080 closed

[2020-09-17 08:04] pietermarsman opened #1097 "Relative imports are not recognized properly as local python dependencies"
**Describe the bug**

Local python modules should be copied to the packed bento docker (the thing in _~/bentoml/repository_, not sure how to call it). But relative imports are not recognized properly as local python dependencies.

**To Reproduce**

Have a package structure like this:

[code]

and import something from the _util.py_:

[code]

The _util.py_ file is not copied to the bento docker.

*

[2020-09-17 13:46] mayurnewase opened #1098 "Cli get command crash if bento name is not found bento meatadata store"
**Describe the bug**
if we run command bento get InvalidBentoName:latest,cli throws
`[2020-09-17 19:15:39,725] ERROR - RPC ERROR GetBento: 'NoneType' object has no attribute 'version'`

**Expected behavior**
should give `Error: bentoml-cli get failed: NOT_FOUND:BentoService `InvalidBentoName:latest` is not found`

[2020-09-17 16:50] jackyzha0 commented on #881
Will try to take this on in the next week or two!!

[2020-09-17 16:54] parano commented on #881
@jackyzha0 awesome!! this is my favorite feature on the roadmap!

[2020-09-17 17:03] parano commented on #1098
hey @mayurnewase, could you share more detail about your setup and what `get` command did you run?

[2020-09-17 22:56] #1092 closed

[2020-09-17 23:10] parano commented on #1092
@rockdrigoma did you find out why it didn't work before? sorry I haven't had a chance to look into the issue yet

[2020-09-18 04:20] parano commented on #1097
Hey @pietermarsman, do you have a `__init__.py` file under those directories where your python files are located?

[2020-09-18 14:04] rockdrigoma commented on #1092
Not really, I had to delete the `transformers_service.py` file and restart the environment on Google Colab for it to work.
Now it is working.

[2020-09-18 22:28] yubozhao commented on #1098
Thanks for the PR @mayurnewase
Close with this issue with the PR merged

[2020-09-18 22:28] #1098 closed

[2020-09-19 23:01] #754 closed

[2020-09-20 21:27] parano commented on #998
Closed in https://github.com/bentoml/BentoML/pull/1096, thank you @gregd33!

[2020-09-20 21:27] #998 closed

[2020-09-21 15:06] #1087 closed

[2020-09-21 18:46] bojiang commented on #1040
resolved

[2020-09-21 18:46] #1040 closed

[2020-09-21 18:57] bojiang commented on #1014
Rather than supporting the `table` orientation, I chose to support the `dtype` of `categories`.

[code]

BentoML is mainly designed for serving. Specifying the `dtype` of the data when defining the API is more explicit and easier to implement.

[2020-09-21 18:57] #1014 closed

[2020-09-23 07:40] bojiang commented on #1016
This error message is given by TensorFlow and is clear. The type of data fed to the model does not match the type expected. The model expects float32, and your data is int32 after tokenize. You can cast `input_data` to the right type before call `self.artifacts.model(input_data)`

[2020-09-23 14:44] gregd33 commented on #886
It seems work on this might have stalled - I'm happy to take it up if needed.

That said, the question about which base images to build are valid. Because bentoml currently has 3 supported python versions and then potentially many supported CUDA versions (as well as cudnn), having base images for all of them would be difficult. And they all could be useful since the is much more variety in what pe

[2020-09-23 15:11] parano commented on #886
@gregd33 you are welcome to contribute this!

What's a typical `base_docker_gpu_image` that a user could use? Do you think it is the user's own custom gpu base image they build from scratch? or other public images like `tensorflow/tensorflow:2.3.0-gpu`?

Would it be helpful if we provide a few default GPU images? and in the cases where cuda or cudnn version does not match the user's requirement, t

[2020-09-23 19:42] gregd33 commented on #886
That is a good point.

What I had in mind as the `base_docker_gpu_image` was a public image such as `nvidia/cuda:11.0-cudnn8-runtime-ubuntu16.04` or the other NVIDIA base images. These are basically stock OS + CUDA/cudnn. In particular, no python. So that's why the above step to add python is needed.

However, if you do use something like `tensorflow/tensorflow:2.3.0-gpu` then python here is alrea

[2020-09-24 04:10] #661 closed

[2020-09-24 04:12] yubozhao commented on #888
closed with https://github.com/bentoml/BentoML/pull/1064

[2020-09-24 04:12] #888 closed

[2020-09-24 05:09] #889 closed

[2020-09-24 05:12] parano commented on #1011
Is this done? @yubozhao

[2020-09-24 05:15] parano commented on #988
Hi @sagarnildass - I'm not very familiar with Pycaret library myself, have you tried using our PickleArtifact to bundle Pycaret model for serving?

[2020-09-24 05:21] yubozhao commented on #1011
Yep. We can close this.

[2020-09-24 05:22] #1011 closed

[2020-09-26 01:20] yubozhao commented on #724
Complete with https://github.com/bentoml/BentoML/pull/1079

[2020-09-26 01:20] #724 closed

[2020-09-27 11:17] HenryDashwood opened #1134 "Add a --profile flag to make it easier to work with multiple AWS accounts"
**Is your feature request related to a problem? Please describe.**
If a user has multiple AWS accounts such that their `.aws/credentials` file looks something like
[code]
and are working directly with the AWS CLI, they can specify which account to use with the `--profile` flag.

**Describe the solution you'd like**
It would be good if Bentoml followed this pattern so users could give commands like

[2020-09-28 20:09] IskanderNakipov opened #1137 "Add Pytorch Lightning support"
I'm trying to use BentoML to serve my LightningModule. However, BentoML is unable to save my module, and I get this error:

[code]

Here's minimal code example to reproduce error (lightning is needed):
[code]

I've tried debugging, and figured out, that during pickling in python's pickle module method
`    def save_reduce(self, func, args, state=None, listitems=None,
                    dictitems=

[2020-09-29 03:07] aagq opened #1140 "ValueError when starting API server: Unable to configure formatter 'prediction'"
When I run script, there are some problems:
![image](https://user-images.githubusercontent.com/25698117/94508048-ae950c00-0243-11eb-9de8-708411400b64.png)
![image](https://user-images.githubusercontent.com/25698117/94508123-cff5f800-0243-11eb-94f4-645065669c36.png)

Please tell me how could I do to fix it. Thank you

[2020-09-29 06:06] hwen78 opened #1139 "support multiple models deploy for one time in docker"
when i use bentoml to deploy model in docker, i can only deploy one model  for one docker . whether i can deploy multiply models in docker for one time ,so models will share same resources. thank you !
such as tensorflow serving:
![model config](https://user-images.githubusercontent.com/22793440/94518192-0f304300-025c-11eb-90f5-1b86d9a7e6e3.JPG)
![docker deploy](https://user-images.githubuserconte

[2020-09-29 06:09] parano commented on #1139
Hey @hwen78, multiple models in one docker is already supported. Here are some related discussion and sample code for working with multiple models: https://github.com/bentoml/BentoML/discussions/928

I'd recommend also reading through the core concept docs here which also covered working with multiple models: https://docs.bentoml.org/en/latest/concepts.html#packaging-model-artifacts

[2020-09-29 06:13] parano commented on #1137
Hi @IskanderNakipov - could you try moving the BentoService class definition to its own Python file and run the code again?

E.g.
In `pytorch_model_service.py` file:
[code]
In `main.py`:
[code]

[2020-09-29 06:27] bojiang commented on #1140
@aagq Hi. I can not reproduce this issue. What version of BentoML and Python are you using?

[2020-09-29 06:59] hwen78 commented on #1139
Hey@parano , thanks your answer,but #928 is not my needs. #928 use two models for one predict service, but i want multiply models for multiply predict service, they have not relationship,they just occupy one docker. i have twenty models for twenty different predict services, i want they can run in one docker,so they could take up the least resources in computer. thanks.

[2020-09-29 16:03] parano commented on #1139
@hwen78 got it,you are looking for serving two models via two different endpoints, but running from the same docker container, right?

BentoML supports multiple endpoints in one service(one container), and you can define what model you want to use in each endpoint. Here's related docs: https://docs.bentoml.org/en/latest/concepts.html#service-with-multiple-apis

A quick example;
[code]

Packaging m

[2020-09-29 23:00] hwen78 commented on #1139
@parano  thanks!

[2020-09-30 00:51] #1139 closed

[2020-09-30 11:13] fernandocamargoti commented on #881
I'd also suggest creating an endpoint where we can GET this metadata (like /metadata).

[2020-09-30 22:03] parano commented on #1137
Thank you @IskanderNakipov  - we've been hearing about PyTorch-Lightning quite a lot from BentoML users lately and will prioritize supporting it! We are releasing version 0.9.1 today, and we will target supporting it in the next release 0.9.2, coming out in about 2 weeks from now.

And let me know if you'd be interested in helping to build support for Pytorch-lightening in BentoML.

[2020-10-01 20:43] yubozhao commented on #766
closed with #952

[2020-10-01 20:43] #766 closed

[2020-10-01 20:46] yubozhao opened #1154 "[Build] Use webpack to build Yatai web UI."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Parcel is currenlty used to build Yatai web frontend.  Move to webpack would offer better community support and steady improvement with its large user base.

**Describe alternatives you've considered**

**Additional context**

[2020-10-01 20:56] yubozhao opened #1155 "Refactor Fastai1 and Fastai2 frameworks"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

from:
[code]
to:
[code]

- [x] Update documentation
- [x] Update gallery

**Describe alternatives you've considered**

**Additional context**

[2020-10-01 23:12] yubozhao commented on #1155
gallery update: https://github.com/bentoml/gallery/pull/69

[2020-10-02 16:35] IskanderNakipov commented on #1137
@parano I'll happy to help, what can i do?

[2020-10-02 19:38] gregd33 opened #1157 "ImageInput doesn't exactly return numpy array"
**Describe the bug**
When using the `ImageInput` adapter, the `type` of the object is `<class 'imageio.core.util.Array'>`  rather than `<class 'numpy.ndarray'>`

**To Reproduce**

1. Create a simple service that includes something like:

[code]

2. Run the service with any image

**Expected behavior**
You will get a `false`.

**Environment:**
 - OS: Ubuntu 16.04
 - Python 3.7.9
 - BentoML 0.9.1, n

[2020-10-04 00:52] aarnphm commented on #1060
I would love to take this on

[2020-10-04 21:11] yubozhao opened #1158 "Failed to set suitable adapter on DefaultOutput, when returning InferenceResult as result"
**Describe the bug**

`DefaultOutput.actual_adapter` is not set when user return `InferenceResult` and result in `AttributeError`.

**To Reproduce**

1. create BentoService with an api function that returns `bentoml.types.InferenceResult`.
2. `$ bentoml serve BentoService`
3. make request on the swagger UI
4.
[code]

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS

[2020-10-06 07:18] goodrahstar commented on #981
Hi Team,
Do we have any example on how to run all the saved models at once using bentoml cli.

I have the following models saved, now I want to load them all into the memory at once an serve them under the same API request.
<img width="992" alt="Screenshot 2020-10-06 at 12 46 54 PM" src="https://user-images.githubusercontent.com/5167126/95170418-05658d00-07d2-11eb-9fac-f8d44760e3fa.png">

[2020-10-06 14:14] kishore-ganesh commented on #1063
With regards to #1057, I wanted to confirm whether I understood the issue correctly. I had tried reproducing it by setting up a reverse proxy, and the issue was that the requests were being routed to reverseproxyurl/requesturl instead of reverseproxyurl/prefix/requesturl. Is this the issue? I wasn't able to understand the given example (how are requests to https://friendly-url.com/yatai routed to

[2020-10-06 18:34] yubozhao commented on #981
@goodrahstar Right now, there is no command to run all of the saved bento at once with BentoML CLI.  You can use bash script to loop over each saved BentoService and run `bentoml run` to compare result with the same dataset.

I want to understand your second question better.  I am assuming you want to compare prediction results from each iterations, when a http request comes in?
There is a good di

[2020-10-06 18:46] yubozhao commented on #1063
@kishore-ganesh you are right, I think it was a typo. For yatai service webui, it should routes to `127.0.0.1:3000`

[2020-10-06 19:47] fernandocamargoai opened #1161 "Provide a general-purpose API decorator"
**Is your feature request related to a problem? Please describe.**
I'm trying to use BentoML with Seldon Core and I need an endpoint that would receive a GET and return a JSON. Currently, it's not possible with BentoML because it only allows me to create inference endpoints.

**Describe the solution you'd like**
A general-purpose API decorator, which would allow me to create endpoints that are not

[2020-10-06 22:18] #1155 closed

[2020-10-07 16:53] yubozhao commented on #1157
@gregd33 Sorry about you spend the day debuging Bento Service. I know it can be very frustrating.

Like you suggested, It is now explicitly cast as numpy array in the adapters.

[2020-10-07 18:04] yubozhao commented on #1157
https://github.com/bentoml/BentoML/pull/1163

[2020-10-07 18:18] gregd33 commented on #1157
Not a problem and thank you for the fix!

[2020-10-07 18:23] yubozhao commented on #1157
@gregd33 Thank you and really appricate the patients.  Closing this issue, feel free to open for any follow up questions.

[2020-10-07 18:23] #1157 closed

[2020-10-08 09:23] pietermarsman commented on #1097
Yes I have. Changed the description of the issue to reflect this. Sorry, tried to make it as minimal as possible.

[2020-10-08 21:28] guy4261 commented on #1161
👍

The infra already supports `GET` methods (if I browse to `localhost:5000`) - would be nice if we could define some get methods of our own for server metadata etc. Wouldn't even say any support for arguments (i.e. localhost:5000/info?foo=bar) is needed.

![Screen Shot 2020-10-09 at 0 27 26](https://user-images.githubusercontent.com/1596283/95515402-36a6ae80-09c6-11eb-8d5b-53861270e427.png)

[2020-10-08 22:14] yubozhao commented on #1161
Yes, this is a great idea. It would be great to provide this and give more flexibility for the users.

[2020-10-08 22:18] #1154 closed

[2020-10-09 05:27] mayurnewase commented on #1140
I face similar issue when all dependencies are not installed.I suggest create new conda env,and install all requirements.

[2020-10-09 12:47] bojiang commented on #1161
I guess I know why it was closed  :)

[2020-10-10 00:07] yubozhao opened #1165 "Add tf.RaggedTensor support for Tensor input adapter"
**Is your feature request related to a problem? Please describe.**

For NLP applications, it is common to see variable length tensors, like `[["So", "long"], ["thanks", "for", "all", "the", "fish"]]`.
Tensorflow provides `RaggedTensor` to store and process data with non-uniform shapes
[code]

The current `TfTensorInput` does not support `RaggedTensor`

Current workaround is to use `JsonInput` and

[2020-10-10 03:53] #677 closed

[2020-10-10 14:52] bojiang commented on #1165
Is that `workaround` with JsonInput already a good practice?

[2020-10-10 18:37] shihgianlee opened #1167 "Option to disable swagger UI"
**Is your feature request related to a problem? Please describe.**
We would like to have an option to disable Swagger UI in production for select model services.

**Describe the solution you'd like**
A configuration option to disable Swagger UI.

**Describe alternatives you've considered**
None

**Additional context**
None

[2020-10-11 03:51] yubozhao commented on #1165
@bojiang I think `JsonInput` is an ok alternative now.  If users want to use the same request schema as `tf-serving` REST API, they will need to do more.

[2020-10-11 04:10] bojiang commented on #1165
Got it. 👍

[2020-10-12 01:11] parano commented on #698
@yubozhao would be great to think about this in the upcoming YataiService push/pull related changes

[2020-10-12 18:09] terrykong commented on #1165
@yubozhao
I wonder if this should be made a separate issue, but I don't think I can load a model with a `tf.RaggedTensorSpec`. For example, this is an example of a model I might want to save:
[code]
  File "/Users/terry/anaconda3/lib/python3.7/site-packages/bentoml/frameworks/tensorflow.py", line 44, in __call__
    for i, arg in enumerate(args)
  File "/Users/terry/anaconda3/lib/python3.7/site-pa

[2020-10-12 19:14] yubozhao commented on #1165
@terrykong Let's open a separate issue for this.  Since you have the most context, could you open it and we will go from there.

[2020-10-14 09:50] jiyer2016 opened #1174 "Cannot retrieve BentoService from S3 Minio"
**Describe the bug**
I have a Yatai-Service configured with S3 Minio and local Database (Note - I would normally use PostgresSQL - but cannot do that at the moment due to some other unrelated issue).

I run the following in my docker build process:
[code]
However - I run into the following error:`botocore .exceptions.NoCredentialsError: Unable to locate credentials`
Why is it expecting the S3 cred

[2020-10-14 11:27] Observe786 commented on #1032
I have managed to follow @aslom solution and get the image to run. However, whenever i send a post request to it. I either receive connection refused or timeout error.

Any suggestions?

[2020-10-14 13:04] jiyer2016 commented on #1174
I want to add that when I rolled back to v0.8.6 of BentoML - the errors go away.

[2020-10-14 20:02] yubozhao commented on #1032
@Observe786 Thanks for letting me know.

I want to make sure, right now the BentoService is working locally (You can make a successful POST request to it and have the prediction result) and you are able to deploy it to an OpenShift cluster, right?

If you can make the prediction locally, it is more likely an issue with the openshift cluster networking. we can troubleshoot from there.

Also, if you

[2020-10-15 00:59] yubozhao commented on #1174
@jiyer2016 Thanks for finding this bug. It was introduced with the GCP storage support.  I am adding test to prevent this for future releases.

[2020-10-15 02:42] #1158 closed

[2020-10-15 03:42] #1174 closed

[2020-10-15 07:30] RXminuS commented on #1097
Can confirm that I'm having the same behavior. I also have `__init__.py` files all around. It works however when I don't do relative imports (or run the pack.py script as `python -m pack` but just `python pack.py`)

[2020-10-15 09:03] bojiang commented on #744
Related issue: https://github.com/bentoml/BentoML/issues/919

ImageOutput shall be a special case of FileOutput.

[2020-10-16 08:58] timlod opened #1180 "SkLearnModelArtifact serving can lead to OSError 24: too many open files"
**Describe the bug**
I am trying to `bentoml serve Model:latest` where `Model` includes in my case two large `SkLearnModelArtifacts` (around 2GB).
I've run into `OSError: [Errno 24] Too many open files`, and conjecture that the reason is that bentoML uses `sklearn_model = joblib.load(model_file_path, mmap_mode='r')` to load the artifacts (see https://github.com/joblib/joblib/issues/81).

**To Repr

[2020-10-16 20:04] terrykong opened #1182 "Support Tensorflow signatures that have tf.RaggedTensorSpec inputs"
**Is your feature request related to a problem? Please describe.**

Branching off of this comment: https://github.com/bentoml/BentoML/issues/1165#issuecomment-707270318

 I don't think I can load a model with a tf.RaggedTensorSpec. For example, this is an example of a model I might want to save:

[code]
But I get this error when I try to call the API function:

[code]

**Describe the solution you'

[2020-10-16 20:06] terrykong opened #1183 "Support relative paths for swagger UI static content [For better reverse proxy support]"
**Is your feature request related to a problem? Please describe.**

Continuing the conversation from this slack thread: https://bentoml.slack.com/archives/CKRANBHPH/p1602644726176400

Hi guys. I'm curious if the bentoml service ui respects the header X-Forwarded-Prefix that some reverse proxies (ex: traefik) populate if they've stripped a path prefix? Concretely, I see that the page source for the

[2020-10-18 10:17] danield137 commented on #685
Any updates on this? or is it still up for grabs?

[2020-10-19 03:17] bojiang commented on #1182
dup: https://github.com/bentoml/BentoML/issues/1165

[2020-10-19 03:22] bojiang opened #1185 "KerasModelArtifact: local variable 'keras_module' referenced before assignment"
**Describe the bug**

[code]

My service:
[code]

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.6.1]
 - BentoML Version [e.g. BentoML-0.9.2]

**Additional context**

[2020-10-19 12:50] timlod opened #1187 "Azure Functions deployment stale entries for failed deployments"
**Describe the bug**
After a failed Azure functions deployment (e.g. `bentoml azure-functions deploy iris-classifier-demo2 -b IrisClassifier:0.1.20201019122052_19597E --location uksouth`, which could fail because `az login` was not done), the deployment will still show up in `bentoml azure-functions list`.

Retrying will advice the user to use `bentoml azure-functions update` or `apply`, or deleti

[2020-10-19 16:40] yubozhao commented on #1187
@timlod Thanks for reporting.

Did you had the chance to use the `--force` option for the delete command?  It should remove the record for local BentoML. Let me know if this works or not.

I think we should do better at handling the failed create deployment attempts, should automatically handle this type of situations. Thanks for bring this up!

[2020-10-20 02:11] bojiang opened #1188 "Better TensorFlow integration"
**Describe the bug**

When I tried to serve a tensorflow model, I encountered the following problems:
1. I use the keras API (tensorflow.keras) officially recommended by TensorFlow 2.0 to build my model. Which artifact should I use? #1186
2. When I try to use KerasModelArtifact, I get error #1185
3. When I try to use TensorflowSavedModelArtifact, I first get an error: `'_UserObject' object has no

[2020-10-20 07:31] timlod commented on #1187
Unfortunately, the error persists, in this case by means of missing docker permissions (I don't have `sudo` rights here):
[code]

[2020-10-20 16:58] yubozhao commented on #1187
Got it. I am going to look into this.

[2020-10-20 18:51] parano opened #1192 "Add --with-docker argument for running BentoML inference job from CLI"
**Is your feature request related to a problem? Please describe.**

When launching a batch inference job from CLI, it is quite common for users to ask BentoML to set up all the conda/PyPI dependencies automatically for the job.

In the older BentoML version, there's a `--with-conda` argument that does exactly this.  But we removed it in #898 due to its inconsistency with the docker environment and

[2020-10-20 18:54] terrykong opened #1193 "Support Adding Metadata at the Bento Level"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Hi all,

I'm wondering if BentoML can support adding Metadata at the bento level, so that there exists some `METADATA` or `README.md` file at the top level of a service, e.g., `FooService/2019..../README.md` that I can edit/update manually or through something like:
[code]
And also view either

[2020-10-20 18:56] jackyzha0 commented on #1193
would like to take this on after finishing #1179 :)) but if anyone wants to pick it up before then, feel free

[2020-10-20 19:01] jackyzha0 commented on #1192
To me, it's not obvious that `--with-docker` will also build the image as well. Maybe adding a `--build` flag to make the Docker build step optional so it just does the docker run part? If the flag isn't included we should look for an existing Docker image and if it doesn't exist, throw a warning.

[2020-10-20 19:01] terrykong commented on #1182
@bojiang @yubozhao Should any further discussion about this issue/feature (which describes an issue with methods decorated with `tf.function(input_signature=[tf.RaggedTensorSpec(...`) be continued on https://github.com/bentoml/BentoML/issues/1165 (which describes a feature request for `TfTensorInput` to support `tf.RaggedTensor`s)?

[2020-10-20 19:13] parano commented on #1192
@jackyzha0  I think it's ok to just always build the docker image and users don't need to provide this extra argument. Note that if the docker image has been built before even with a different tag, docker build should just use the cached layers and the build will be very fast.

[2020-10-20 19:13] bojiang commented on #1182
@terrykong oops, my bad.

Let me reopen it.

[2020-10-20 19:15] #623 closed

[2020-10-20 19:26] bojiang commented on #1182
I am trying to make tensorflow artifact support RaggedTensors. I can join the discussion later.

[2020-10-20 19:43] parano commented on #1137
hi @IskanderNakipov - sorry about the delay in getting back to you, could you ping me in the bentoml slack channel? Let's chat about it!

[2020-10-20 19:46] parano commented on #1180
Hi @timlod - it looks like there isn't much we can do on BentoML side for this issue, one workaround is to use BentoML's `PickleArtifact` to package your Scikit learn model: https://docs.bentoml.org/en/latest/api/artifacts.html?highlight=PickleArtifact#common-artifacts

[2020-10-20 19:53] parano commented on #1161
This has come up a few times before - I think BentoML should provide a more generic `add_url_route` method similar to the one in Flask, which allows users to define arbitrary custom URL routes in their BentoService code.  Those routes should also bypass BentoML's micro batching layer unlike inference APIs annotated with `@api`.

I'm inclined to separate these custom URL route away from `@api` beca

[2020-10-20 20:33] parano opened #1194 "Add integration tests for FastAI"
Currently, FastAI artifact code is not tested: https://codecov.io/gh/bentoml/BentoML/tree/master/bentoml/frameworks

We would want to add an integration test suit to test its functionalities including save, load, and run inference from API server.  The setup should be similar to other integration tests that can be found here: https://github.com/bentoml/BentoML/tree/master/tests/integration

[2020-10-20 20:34] parano opened #1195 "Add integration tests for Fasttext"
Currently, Fasttext artifact code is not tested: https://codecov.io/gh/bentoml/BentoML/tree/master/bentoml/frameworks

We would want to add an integration test suit to test its functionalities including save, load, and run inference from API server. The setup should be similar to other integration tests that can be found here: https://github.com/bentoml/BentoML/tree/master/tests/integration

[2020-10-20 20:34] parano opened #1196 "Add integration tests for KerasModelArtifact"
Currently, KerasModelArtifact code is not tested: https://codecov.io/gh/bentoml/BentoML/tree/master/bentoml/frameworks

We would want to add an integration test suit to test its functionalities including save, load, and run inference from API server. The setup should be similar to other integration tests that can be found here: https://github.com/bentoml/BentoML/tree/master/tests/integration

[2020-10-20 20:36] parano opened #1197 "Add integration tests for LightGBM"
Currently, LightGBM artifact code is not tested: https://codecov.io/gh/bentoml/BentoML/tree/master/bentoml/frameworks

We would want to add an integration test suit to test its functionalities including save, load, and run inference from API server. The setup should be similar to other integration tests that can be found here: https://github.com/bentoml/BentoML/tree/master/tests/integration

[2020-10-20 20:36] parano opened #1198 "Add integration tests for Spacy"
Currently, Spacy artifact code is not tested: https://codecov.io/gh/bentoml/BentoML/tree/master/bentoml/frameworks

We would want to add an integration test suit to test its functionalities including save, load, and run inference from API server. The setup should be similar to other integration tests that can be found here: https://github.com/bentoml/BentoML/tree/master/tests/integration

[2020-10-21 09:22] pietermarsman opened #1200 "Usage of `model._make_predict_function()` makes it impossible to use `KerasModelArtifact` with tensorflow 2"
**Describe the bug**

I think that `KerasModelArtifact` should not use the method `_make_predict_function()` from `tensorflow.python.keras.engine.training_v1.py` because it's incompatible with tensorflow 2.

**To Reproduce**

[code]

**Expected behavior**

No error ;)

**Screenshots/Logs**

[code]

**Environment:**
 - OS: Debian GNU/Linux 10 (buster)
 - Python Version: Python 3.7.3
 - BentoML Vers

[2020-10-21 09:37] bojiang commented on #1188
also: #1200

[2020-10-21 09:39] pietermarsman opened #1201 "Using requests is much more difficult for an AnnotatedImageInput than I expected"
**Is your feature request related to a problem? Please describe.**

It took me a while to use the `requests` package to send properly formatted http requests to a BentoML endpoint that uses a `AnnotatedImageInput`.

The curl request is nicely documented and it took me a few seconds to adjust it for my usecase:

[code]

However, it took me much more time to reproduce this with the `requests` python

[2020-10-21 09:48] timlod commented on #1180
I see, thanks for the heads-up!

[2020-10-21 09:48] #1180 closed

[2020-10-21 11:42] bojiang commented on #1201
It's our flaw that we didn't provide an example using requests.

I'll open a pull request to fix this.

Just like MultiFileInput, AnnotatedImageInput relies on HTTP content-type `multipart`. In most cases, this kind of request is sent by HTML Form.

We can't. `imageio` need the extension to load images.

[2020-10-22 02:52] bojiang commented on #919
## Definetion
FileOutput accepts Python types that represent the content of files.
* str, StringIO -> string file
* bytes, BinaryIO (including BytesIO, opened file object) -> binary file

FileOutput converts python object above and passes to CLI, AWS lambda, and HTTP.

## Behaviour

### HTTP
* the default `Content-Type` header should be `application/octet-stream`, which means _arbitrary binary dat

[2020-10-22 13:16] 1e0ng commented on #666
Wow, this issue has a lucky number. 😄  Any progress on this?

[2020-10-22 21:55] BorhenJlidi opened #1203 "onnxruntime-gpu not recognized as a valid onnxruntime python package"
**Describe the bug**
When saving a model for inference (ONNX resnet 50 example), the following warning is outputted :

` WARNING - pip package requirement `onnxruntime` not found in current python environment`

This can confuse BentoML users and can possibly drive off new users.

**To Reproduce**
1. Install onnxruntime-gpu (doesn't matter prebuilt or compiled from source)
2. Run onnx resnet50 exam

[2020-10-22 22:11] yubozhao commented on #1203
@BorhenJlidi Thanks for reporting.  Right now, it only supports non-gpu version of `onnxruntime`.  You are right, we should make it more clear to the users.
I think I will 1. make the message more clear and 2. start researching add support for `onnxruntime-gpu`.

[2020-10-22 22:17] BorhenJlidi commented on #1203
@yubozhao Just out of curiosity,  when you say it it only supports non-gpu version of `onnxruntime` does that mean that it won't work at all or just output the warning?

[2020-10-23 17:16] #1203 closed

[2020-10-23 17:54] #1201 closed

[2020-10-23 19:08] parano commented on #1203
@BorhenJlidi  - it's a mistake on our end, BentoML's OnnxModelArtifact assumed any user that is using ONNX will be relying on the `onnxruntime` PyPI package whereas some users are using the alternative `onnxruntime-gpu`.

A workaround for you now, is to add `onnxruntime-gpu` to the `@env` definition in your BentoService class:
[code]

I will create a github issue for tracking a fix to this issue.

[2020-10-23 19:20] BorhenJlidi commented on #1203
@parano That's a nice workaround, Thanks! Keep up the amazing work !

[2020-10-23 19:25] parano opened #1205 "OnnxModelArtifact should work when using onnxruntime-gpu package"
OnnxModelArtifact should work when using `onnxruntime-gpu` instead of the regular `onnxruntime`.

See issue & discussions here for more details: https://github.com/bentoml/BentoML/issues/1203#issuecomment-715529579

[2020-10-24 10:30] CallmeMehdi commented on #1060
Hello @parano, I am currently working on this issue, I just wanted to ask, what does the endpoint /healthz do exactly? Thank you!

[2020-10-24 17:40] parano commented on #1060
Hi @CallmeMehdi - I think @aarnphm  is currently working on this issue as well, maybe you two can sync up and discuss?

"/healthz" endpoint is a convention in building microservices, sometimes a deployed service can get into a bad state and become incapable of handling requests. "/healthz" is a special endpoint that let the monitoring system to discover such failed service instance and do somethin

[2020-10-24 19:25] shihgianlee commented on #1037
We encountered the same problem again where we need to load a json config file within the same package but couldn't. We had to use the same workaround for our config, which is awkward. I see `help wanted` label in this issue. Is there anything I can do to help with this issue?

[2020-10-26 06:35] mikedewar commented on #1058
being able to manage the logging using the cli would be very helpful - we're running into a problem when we don't have write access to the local disk and it would be very handy to have all the loggers just have `console` handlers. It's not entirely clear how to override this from the command line.

[2020-10-26 06:53] parano commented on #1058
Hi @mikedewar - unfortunately, there isn't a way to configure that behavior in the current version of BentoML. This has been reported by quite a few users recently and it is being tracked here: https://github.com/bentoml/BentoML/issues/1009  It should be a fair small code change and I will prioritize it for the next release. Thank you for reporting it!

[2020-10-26 07:04] mikedewar commented on #1058
ah I should have dug a little deeper before commenting! I appreciate the prioritisation. 🙏

[2020-10-26 07:12] parano commented on #1058
@mikedewar actually found a quick workaround for you without waiting for the next release. You can try adding the following line in your BentoService class definition file, after importing BentoML:

[code]

[2020-10-26 07:54] mikedewar commented on #1058
@parano thanks for this. We're actually stuck where we're using the CLI tool e.g. `bentoml serve-gunicorn ...` and it's crashing in our deployment env as it can't write to the local disk. We'll figure out something to let us keep moving in the short term, and look forward to the new feature in the next release!

[2020-10-26 16:18] thejaminator opened #1206 "Why does JsonInput put the JSON into a list?"
**Describe the bug**
Given the request
[code]

Following the documentation
[code]

Tthe input ` {'text': 'sdfsafdf'}` becomes a list, resulting in `[{'text': 'sdfsafdf'}]`.
Is this behaviour intended?
I want to pass a JSON array of dictionaries for batch processing - e.g. [{"text":"sdfsafdf"},{"text":"sdfsafdf"}].
But this behaviour lifts the list into a list of lists - [[{"text":"sdfsafdf"},{"tex

[2020-10-26 16:53] yubozhao commented on #1206
@thejaminator When the batch mode turns on, `batch=True`, the requests will automatically batch together in to a list and provided to the API function. If throughput is a concern, I recommend to have batch mode turns on.

If throughput is not a hugely concern, you have have batch mode turn off, and the input will be `JSON` instead of `List(JSON)`.

You can find more information about batch option

[2020-10-26 17:01] thejaminator commented on #1206
Thanks @yubozhao . I misunderstood what batch=True was doing (automatically batching together).

I was passing an Array of JSON objects to the API manually myself.

Switching to batch=False fixed the project

[2020-10-26 17:01] #1206 closed

[2020-10-26 17:04] yubozhao commented on #1206
Yeah, we should help users to have more clear understanding for `batch`.  Welcome any ideas that can improve that!

[2020-10-27 09:06] MariumAZ opened #1208 "cannot import name 'IPV6_ADDRZ_RE'"
![import](https://user-images.githubusercontent.com/49347660/97280237-4d5d5a00-183c-11eb-8aa4-d42ef8390236.PNG)
**Describe the bug**

bug error when runnig bentoml-quick-start-guide

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.9.2]

**Additional context**

[2020-10-27 15:25] timlod opened #1209 "Cannot delete bento that was created with same name:version as an older (deleted) bento"
**Describe the bug**
After deleting a bento, I cannot delete another bento that was created with that same name:version.

**To Reproduce**
1. Create a bento with `name:1` through `model_service.save(version='1')`.
2. In a shell, `bentoml delete name:1`
3. Create a new bento with the same name, again with  `model_service.save(version='1')`.
4. Try to `bentoml delete name:1`

The error is the follow

[2020-10-27 16:16] pncnmnp commented on #899
@yubozhao
[Kishore](https://github.com/kishore-ganesh) and I are interested in contributing to this issue.

[2020-10-27 16:58] parano opened #1210 "Log errors and stack trace inside inference API function user code"
**Is your feature request related to a problem? Please describe.**

Currently, the BentoML API model server does not print the errors and stack trace when the exception was raised within the user's inference API function code. This makes it hard for users to debug issues in their code.

**Describe the solution you'd like**

Pieter Marsman suggested the following workaround in bentoml slack group:

[2020-10-27 17:24] parano commented on #899
Hi @pncnmnp @Kishore - it probably makes more sense to first implement gRPC support in bentoML https://github.com/bentoml/BentoML/issues/703 before supporting KFServing V2's predict protocol

[2020-10-27 18:47] yubozhao commented on #1208
@MariumAZ This is an issue with the recent release of botocore https://github.com/boto/botocore/issues/2187.

Right now, you can use the solution suggested in the post in that issue: https://github.com/boto/botocore/issues/2187#issuecomment-712819351

I am going to pin down the versions with a PR to fix this issue.

Thank you for reporting

[2020-10-27 19:11] yubozhao commented on #1209
Thanks @timlod

I found the issue and will submit a PR to fix this.

[2020-10-27 22:29] #1209 closed

[2020-10-28 07:47] MariumAZ commented on #1208
yes thanks it works this time .

[2020-10-28 10:12] timlod commented on #1180
Actually, it would be possible for BentoML to use `joblib.load(model_file_path, mmap_mode=None)` - then memory mapping is not used and the error won't occur. How vital is memmapping here?

[2020-10-28 15:52] parano commented on #1180
We can potentially make that an option and allow user to turn it off. E.g.
'''
SklearnArtifact("my_model", mmap_mode=None)
'''

[2020-10-28 16:43] #1208 closed

[2020-10-29 10:41] fernandocamargoti commented on #1161
I agree with you, @parano. I think it would be better to avoid using `@api` for that and instead expose something similar to the Flask API.

[2020-10-30 19:34] xiwang129 commented on #1194
Hi, I would like to work on this one. thank you!

[2020-11-01 11:45] danield137 opened #1218 "Prometheus metrics endpoint isn't loaded properly"
**Describe the bug**
In some scenarios, when debugging locally, the bento related metrics are not returned properly from the `/metrics` endpoint.

**To Reproduce**
Running locally using:

https://gist.github.com/danield137/d54fdf218c4f39c50fbd9289ca79cf6c#file-start_local-py

Going to: `localhost:5000/metrics`, I don't see `BENTO_` prefixed metrics.

**Environment:**
 - OS: MacOs
 - Python 3.8
 -

[2020-11-02 05:01] parano commented on #1218
I tested this locally and it seems the "/metrics" page is not showing any metrics information when using the development mode `bentoml serve`.  Production workloads running with `bentoml serve-gunicorn` should not be affected tho.

The API server is using a local registry instead of the global one because of potential race condition when running with Gunicorn. Same reason why we are using the mult

[2020-11-02 22:48] yubozhao opened #1219 "Loading SKLearn model with "mmap_mode=r", raise ValueError: buffer source array is read only,"
**Describe the bug**

https://github.com/bentoml/BentoML/discussions/1217
**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.8.6]

**Additional context**

[2020-11-05 11:46] anuragvij264 opened #1225 "No default docker base image configuration in the config file"
**No default docker base image is available in the config. It breaks the containerizing of service**
https://github.com/bentoml/BentoML/blob/c32c36da5f323e9bccc235c4385e302201c3e798/bentoml/configuration/default_bentoml.cfg#L23

**To Reproduce**
 1. Use this above the service`@bentoml.env(docker_base_image="bentoml/model-server:0.8.12-slim-py37")`

**Expected behavior**
1. Using the commands give

[2020-11-05 13:31] #1225 closed

[2020-11-05 13:35] anuragvij264 opened #1226 "Automatic dockerfile generation not working properly for spacy models"
**Dockerfile is not getting generated properly**

The Dockerfile that is generated doesn't have the spacy model download command `python -m spacy download en_web_core_sm`.

**To Reproduce**
 I ran the following serving script.

[code]

**Expected behavior**
The Dockerfile automatically generated should have the Spacy Model download command, since it's being used in the serving script.

**Environme

[2020-11-05 15:34] dcferreira commented on #993
This issue seems to be back, unless I'm misunderstanding something.

Updated server to bentoml 0.9.2:
[code]
and client:
[code]

Notice that `orient='columns'` is specified both in the server, and in the client request.

Expected output:
[code]

Actual output:
[code]

The raw JSON response is also a bit weird looking, ignoring the index completely:
[code]

Am I misunderstanding something, or is th

[2020-11-05 17:50] AyoubDali commented on #1210
Hey,
this issue got my attention, can I work on it?

[2020-11-05 18:59] parano commented on #1225
@anuragvij264 do you mean to use `model-server:0.9.2-slim-py37`?  BentoML does not have 0.8.12 release

The config is supposed to be empty so it uses the default value.

[2020-11-05 19:00] parano commented on #1226
Thanks for reporting this @anuragvij264 -  I will look into this.

Is the expected behavior to run the download command during docker build time?

[2020-11-05 19:05] parano commented on #1210
@AyoubDali sure thing!  I'm always available in slack if you have questions.

[2020-11-06 01:20] EricPreventa commented on #1188
Any update or resolution on this?

[2020-11-06 03:19] parano commented on #1188
@EricPreventa I believe @bojiang is working on a patch for this and it should be out for review later this week

[2020-11-06 03:31] parano opened #1228 "RedisAI integration"
**Is your feature request related to a problem? Please describe.**
RedisAI https://oss.redislabs.com/redisai/ is a popular model server for running ML models, and currently there is no easy way of loading and running BentoML packaged models on RedisAI

**Describe the solution you'd like**
* Docs on deploying ML models to RedisAI with BentoML
* Build related API & integration if needed

**Describe

[2020-11-06 03:36] parano opened #1229 "Apache Kafka integration"
**Is your feature request related to a problem? Please describe.**

Streaming serving is a common pattern for deploying models, where the ML model is applied on streaming data sets.

**Describe the solution you'd like**

* Docs on an end-to-end model serving solution built with BentoML and Kafka
* Build related API & Integration in BentoML if needed

**Describe alternatives you've considered**

We

[2020-11-06 03:44] bojiang commented on #993
Hi.
Using `DataframeInput`, we assume that each row of a frame is a piece of input data. A full data frame represents a batch of input data. Under this assumption, the values of indices should not be considered in inference.

It is not that weird, it is how `records` oriented frame looks like. (`pandas.Dataframe.to_json(orient="records")`)
`DataframeInput` is designed to ignore the index, so we re

[2020-11-06 04:01] parano opened #1230 "Add MXNet Gluon support"
**Is your feature request related to a problem? Please describe.**

Support serving MXNet Gluon models in BentoML

**Describe the solution you'd like**

* Docs and gallery sample project demonstrating serving MXNet Gluon with BentoML
* Add related model artifact class in BentoML

**Describe alternatives you've considered**

Welcome suggestions!

**Additional context**

n/a

[2020-11-06 09:03] dcferreira commented on #993
Ah ok, so this is expected behavior.

As for what I need it, generally speaking I want the ability to treat rows differently, depending on their content.
For example, say I have an NLP classifier, and a column with text.
Some tensorflow text models break if you give it an empty string.
So I'd want to remove the empty strings before sending them to the tf model.
In my response I wouldn't want to in

[2020-11-06 18:28] ecrows opened #1232 "Respect Docker env variables when creating docker API client in bentoml containerize"
**Is your feature request related to a problem? Please describe.**
When building Docker images for a private Docker registry, Docker authentication is required.  However, since BentoML uses `docker.APIClient()` instead of `docker.from_env().api` to create the API client, environment variables aren't read (including ones important for authentication).  Everything works fine if you perform a docker

[2020-11-06 18:36] jackyzha0 commented on #1232
Ah this was an oversight from my end when implementing `containerize`. Will make a patch PR in a few minutes! Thanks

[2020-11-06 18:40] ecrows commented on #1232
Awesome, thanks!

[2020-11-06 20:11] #1232 closed

[2020-11-06 20:12] yubozhao commented on #1232
@jackyzha0 Thank you for the patch!
@ecrows Thank you for sporting this issue. It will be available next release!

[2020-11-08 06:59] anuragvij264 commented on #1226
@parano Yes its expected to run download command at docker run time.
When one needs to download pretrained models, it should be correctly reflected in the Dockerfile.

[2020-11-08 23:55] liusy182 commented on #1167
My understanding is that, this involves adding a config to turn off swagger when the deployment mode is production.
Since the deployment options vary across platforms, e.g. aws uses bentoml cli, kubernetes uses the yaml, what should the generic solution to this problem?

[2020-11-09 04:41] parano commented on #1167
@liusy182  I think first you can make this an option in the API Server class: https://github.com/bentoml/BentoML/blob/v0.9.2/bentoml/server/api_server.py#L96

And then add it as a CLI option for `bentoml server` and `bentoml serve-gunicorn`. There's no need to worry about the other deployment platforms(AWS sagemaker, AWS Lambda, Azure Fucntions) for now.

[2020-11-09 17:40] EricPreventa opened #1234 "Long running Keras Inference causing timeout, possibly due to not using GEvent"
**Describe the bug**
Running a very deep Keras Inference causes the server to timeout and stop. I process thousands of patches and watching the logs, it's working just fine. RAM is not an issue either. I believe the issue is due to the worker thread is being tied up and not able to communicate, thus gunicorn is killing (and restarting) the container. BentoML uses gEvent for Sagemaker however a lit

[2020-11-09 17:53] parano commented on #1234
Hi @EricPreventa  - BentoML's SageMaker deployment implementation is inconsistent with other deployments(Docker, GKE, etc). And we do plan to fix that.  When you test it with local docker, 1) did you enable micro-batching with `--enable-microbatch`, 2) have you tried adding a larger timeout value via the CLI argument `--timeout`? I believe the default timeout is 60 second.

e.g.:
[code]

[2020-11-09 17:56] EricPreventa commented on #1234
Thank @parano I'll try that now. How would I deploy these features though to Docker/GKE?

[2020-11-09 18:08] parano commented on #1234
@ericmand did your BentoService code implemented with `batch=True`? if you did, and your API callback function processes a list of input at a time, `--enable-microbatch` should drastically improve your service's throughput.

You can use the same CLI option when deployed with docker and GKE, as the example I showed above:
[code]

You can also set the default timeout via an environment variable, e.g

[2020-11-09 18:15] EricPreventa commented on #1234
The reason why I believe batch=True will not work for me, is because my input is truly only one input field (500x500 image). Inside my predict function I create thousands of patches there and run it through Keras predict.

The reason why I say it's a hack is only because I worry if I set the timeout to be extremely high (this could take an hour to fully finish), what happens if the program truly d

[2020-11-09 18:23] parano commented on #1234
I see, if your predict function already runs vectorized inference then there is no need for using BentoML's micro-batching

If your prediction function actually runs for an hour on average, then there is really no workaround for it. You should set the value to slightly higher than the average prediction time you need - a proper way is to test the distribution of how long does it take to run your p

[2020-11-09 18:25] EricPreventa commented on #1234
@parano Thanks for your help. Will set the ENV variable and see if I can get it to run on GKE. I'll keep a look out for trying to find the best approach instead of using a timeout, but for now a timeout should work. What's the preferred place to set the ENV? I've been doing it in the dockerfile. Best practice?

[2020-11-09 18:28] parano commented on #1234
I believe GKE provides API and UI to set environment variables for your deployment, I would not recommend doing it via dockerfile.

And I do think setting the timeout is the right solution for this. Happy to discuss more why you don't think it's ideal.

[2020-11-10 05:35] EricPreventa commented on #1234
@parano Thanks, we can discuss potentially a better solution as I continue to learn more about this path.

The "--timeout" option did work great, however the "export BENTOML__API_SERVER__DEFAULT_TIMEOUT=180" did not. Is there anything else for me to try to set that? I (don't think) there's anyways for me to set the --timeout on my docker once it's deployed on Google Cloud.

[2020-11-10 13:16] vonsovsky opened #1235 "Allow specifying BentoML config values when creating a bundle for deployment"
When docker image is being created, it does not include config file in it. It is recreated with default parameters on the first run. I didn't find any mention if config file could be passed to dockerization step somehow.

**To Reproduce**
Steps to reproduce the issue:
1. bentoml containerize build/MyService/<build id> -t my_service:latest
2. docker ps & docker exec
3. bentoml config view
4. Prints

[2020-11-10 16:34] parano commented on #1235
Hi @vonsovsky - this is currently an expected behavior because users may want to have their own development config and set production config only explicitly via environment variables.

[2020-11-11 20:01] #1063 closed

[2020-11-11 22:21] #1205 closed

[2020-11-11 23:03] yubozhao opened #1237 "Support upcoming SqlAlchemy 1.4 version"
**Describe the bug**

Users encounter `ImportError: cannot import name '_ColumnEntity` issue when using the latest sqlalchemy pre-release 1.4.0b1.

**To Reproduce**

1. install the latest sqlalchemy, `pip install -U sqlalchemy==1.4.0b1`
2. run quickstart example

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - Bento

[2020-11-11 23:04] yubozhao commented on #1237
We should pin down the version for now, and look into add supporting for the upcoming 1.4 version

[2020-11-12 02:53] parano commented on #1234
Hi @ericmand - my bad, the correct environment variable name should be `BENTOML__APISERVER__DEFAULT_TIMEOUT `.

[2020-11-12 17:02] awalvie commented on #1229
Me and @pandafy would like to work on this issue. We're both MLH Fellows.

[2020-11-12 18:57] parano commented on #1229
@awalvie @pandafy let me know if you have any questions or would like to discuss your approach & design before starting to implement it. I'm always available in the BentoML community slack and MLH discord.

[2020-11-12 21:59] withsmilo opened #1239 "New input adapter to support a new format, <image file, string>"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

I would like to share a requirement that my teammate learned while replacing an existing serving system with BentoML.
Does BentoML provide an input adapter consisting of `<image file, string>`? I didn't find a suitable input adapter at https://github.com/bentoml/BentoML/tree/master/bentoml/ada

[2020-11-12 22:35] yubozhao commented on #1137
While we are in the process of adding support for Pytorch Lighting, you can export the pytorch lighting model to ONNX and bundle with BentoML's ONNXModelArtifact.

You can find how to export to ONNX model here: https://github.com/PyTorchLightning/pytorch-lightning#and-even-export-for-production-via-onnx-or-torchscript

[2020-11-12 22:40] parano commented on #1239
Hi @withsmilo  - is the `AnnotatedImageInput` is what you are looking for?

https://docs.bentoml.org/en/latest/api/adapters.html#annotatedimageinput

https://github.com/bentoml/BentoML/blob/master/bentoml/adapters/annotated_image_input.py

Example:
[code]
[code]

[2020-11-12 22:54] withsmilo commented on #1239
I had already reviewed it. But there seems to be something I misunderstood in the code. I will discuss this adapter with my teammate in more depth today. Thanks a lot, @parano !

[2020-11-13 07:05] withsmilo commented on #1239
We decided to use AnnotatedImageInput. Thanks for advice, @parano .

[2020-11-13 07:05] #1239 closed

[2020-11-13 16:06] #881 closed

[2020-11-13 16:20] iancoffey commented on #1192
As a bit of an aside- Ive also run into an issue where most of the environments I want to build BentoML services will not have Docker running, so I am working on [this small helper](https://github.com/iancoffey/bentoml-builder) to create K8s Jobs or Tekton Tasks automatically - https://github.com/iancoffey/bentoml-builder

[2020-11-13 20:24] telescopic opened #1242 "KerasModelArtifact - 'Sequential' Object has no attribute '_make_predict_function'"
**Describe the bug**

When trying to pack the KerasModelService with a model, the following error occurs:
`AttributeError: 'Sequential' object has no attribute '_make_predict_function'`

**To Reproduce**
Python: `3.6.9`
Keras: `2.4.3`
Tensorflow: `2.3.1`
Run the following code to possibly reproduce the issue:
[code]

**Expected behavior**
No Error should be thrown

**Screenshots/Logs**
![image](ht

[2020-11-13 20:24] telescopic commented on #1242
@parano , @yubozhao I'd be happy to make a fix for this!
Please do let me know how to proceed!

[2020-11-13 20:35] #1242 closed

[2020-11-13 20:36] telescopic commented on #1242
Closing this since it is a duplicate. Apologies.

[2020-11-14 22:04] #1237 closed

[2020-11-15 07:11] liusy182 commented on #1167
thanks! I will be taking a look of this item.

[2020-11-16 20:47] Piyush46749 opened #1248 "Running wrong BentoML service when accessing it as API"
**Describe the bug**
When I am creating and saving multiple bento services and trying to access it as API service, the name of the bento service present on top of the screen is wrong. Each time I change the service and runs a new one, the name is not being updated. There might be two possibilities: -
1. Either the name displayed is wrong.
2. The service running is also not updated and it's running

[2020-11-16 21:57] parano commented on #1248
@Piyush46749  could you provide more details for us to reproduce? I've never seen this problem before.

[2020-11-17 06:17] liusy182 commented on #1230
Will give a try on this.

[2020-11-18 14:05] awalvie opened #1253 "Document Formatting error on the Getting Started page"
**Describe the bug**

A block of bash code is rendered in simple text instead of being formatted.

**To Reproduce**
Steps to reproduce the issue:
1. Go [here](https://docs.bentoml.org/en/latest/quickstart.html#model-serving-via-rest-api)

**Expected Behaviour**
![image](https://user-images.githubusercontent.com/35740094/99540100-1ca0b880-29d5-11eb-949e-aaacbcb59db4.png)

**Current Behaviour**
![im

[2020-11-18 17:07] #1253 closed

[2020-11-18 21:07] kevin-hanselman opened #1258 "Purposefully unconstrained pip dependencies pinned undesirably"
**Describe the bug**
As of BentoML 0.9.0, dependencies in `pip_packages` that have no version constraints (as in `pandas`, not `pandas>=1` or `pandas==1.1.0`) are automatically pinned to the version present in the environment. This behavior is not present in <0.9.0, and I believe it can be traced to [this code](https://github.com/bentoml/BentoML/blob/v0.9.2/bentoml/service/env.py#L267).

This is a

[2020-11-18 22:18] parano commented on #1258
Thanks for reporting this @kevin-hanselman  - this behavior is indeed a lack of consideration on the BentoML side as it tries to pin the exact package version used in the environment it got saved.  I will look into a fix.

[2020-11-19 04:11] parano commented on #702
@yubozhao do you want to revisit this issue?

[2020-11-19 04:11] parano commented on #986
@yubozhao any update on this?

[2020-11-19 18:59] Piyush46749 commented on #1248
@parano  This error has been demonstrated to Bo during a call.

[2020-11-19 19:03] parano commented on #1248
@Piyush46749  I can not reproduce this on my end. Closing now.  Feel free to re-open if you can provide detailed steps to reproduce.

[2020-11-19 19:03] #1248 closed

[2020-11-21 14:41] jsemric commented on #930
I would take this one

[2020-11-22 05:31] #1188 closed

[2020-11-23 03:50] sownds7 opened #1268 "New input format -- <pdf file , image file>"
**Describe the solution you'd like**
I am working on a project that requires input to be <pdf file , image file>. With MulltiImage input adapter , I can take 2 inputs (pdf converted to image and image file). But I would like to know if you can support  my scenario where the input is <pdf file , image file>

**Describe alternatives you've considered**

**Additional context**

![Screenshot ](https:/

[2020-11-23 03:56] parano commented on #1268
@sownds7  have you tried the `bentoml.adapters.MultiFileInput`?

[2020-11-23 04:03] sownds7 commented on #1268
Sorry no. Is there a documentation for the same ? I don't seem to find bentoml.adapters.MultiFileInput in  https://docs.bentoml.org/en/latest/api/adapters.html#

[2020-11-23 04:05] parano commented on #1268
@sownds7  thanks for pointing that out, I just realized that we didn't add it to the docs list(adding it here https://github.com/bentoml/BentoML/pull/1269). For now, you can take a look a the inline docs in that class https://github.com/bentoml/BentoML/blob/master/bentoml/adapters/multi_file_input.py

[2020-11-23 22:04] yubozhao commented on #1198
Closing issue.  Thanks to @telescopic 's PR

[2020-11-23 22:04] #1198 closed

[2020-11-23 22:05] yubozhao commented on #1195
Closing issue.  Thanks to @telescopic

[2020-11-23 22:05] #1195 closed

[2020-11-23 22:05] yubozhao commented on #1197
Closing issue.  Thanks to @telescopic !

[2020-11-23 22:06] #1197 closed

[2020-11-24 03:00] #625 closed

[2020-11-24 03:00] #674 closed

[2020-11-24 03:01] #675 closed

[2020-11-24 03:03] parano commented on #685
@danield137 this issue still requires additional design, would you be interested to discuss over a call? Feel free to ping me in slack

[2020-11-24 03:06] parano commented on #698
cc @yubozhao

1. Recommend `save(yatai_url=...)`, raise exception when using `save(path)`, ask user to use `save_to_dir` instead
2. `save_to_dir(file_path)` 👈 add support for s3 path

[2020-11-24 03:08] parano commented on #721
@bojiang has already implemented tests for V2, and planning to add TF V1 tests

[2020-11-24 03:09] parano commented on #722
For @bojiang  to review related tests, feel free to close if you think those tests are in good shape

[2020-11-24 03:22] #704 closed

[2020-11-24 03:23] #750 closed

[2020-11-24 03:24] parano commented on #759
This is mostly implemented, besides testing the `setup_sh` feature:

[2020-11-24 03:24] #759 closed

[2020-11-24 03:30] #891 closed

[2020-11-24 03:31] #929 closed

[2020-11-24 03:32] #963 closed

[2020-11-24 03:33] parano commented on #964
Hi @quantum-fusion  - here's an example notebook of how you could use a model from onnx model zoo: https://github.com/bentoml/gallery/blob/master/onnx/resnet50/resnet50.ipynb

[2020-11-24 03:33] #964 closed

[2020-11-24 03:37] parano commented on #965
We are planning to add a more flexible API for users to include arbitrary files that are not "Models" in the BentoML saved bundle. Most files(JSON, Text, YAML) don't really utilize the Artifact APIs that are designed to be used for ML models.  Alternatively we could introduce a more general `FileArtifact` for including arbitrary files.

See https://github.com/bentoml/BentoML/issues/685 for additio

[2020-11-24 03:37] #965 closed

[2020-11-24 03:41] parano commented on #988
For those that are looking for a solution, @yubozhao has verified that the [PickleArtifact](https://docs.bentoml.org/en/latest/api/artifacts.html#bentoml.service.artifacts.common.PickleArtifact) works perfectly with Pycaret.

We should add this to our docs' supported frameworks list similar to statsmodels: https://docs.bentoml.org/en/latest/frameworks.html#statsmodels

[2020-11-24 03:53] parano commented on #1009
cc @bojiang as discussed - add the following CLI arg to bentoml API server: `--enable-log-to-file` / `BENTOML_ENABLE_LOG_TO_FILE=True`, default to `true`.

[2020-11-24 12:44] quantum-fusion commented on #964
@parano Thank you for raising this for my attention, I am investigating how to convert CoreML from Apple to ONNX and then model host, this was perfect timing.  I will investigate how to use an ONNX model from the zoo, and deploy using BentoML.  The one thing that I am unsure of, is the pre-processing that is required, with use of BentoML that requires shrinking the aspect size ratio of the input p

[2020-11-24 13:37] ramanaditya commented on #1134
Shall I take up this issue and start working over it?

[2020-11-24 17:54] parano commented on #1134
After some discussion with the team, we think the alternative approach proposed here is preferrable - ```export AWS_PORFILE=another_profile & bentoml lambda/sagemaker deploy```, thus closing this issue now.

Thank you @HenryDashwood @ramanaditya.  @ramanaditya let me know if you are interested in taking other issues, happy to chat.

[2020-11-24 17:54] #1134 closed

[2020-11-24 18:34] parano commented on #1210
Hi @AyoubDali, just checking in, any update on this?

[2020-11-24 20:46] gregd33 commented on #1087
Hi, I'm running into this issue of `aiohttp.web_exceptions.HTTPRequestEntityTooLarge` when testing out some micro-batching on an image model (e.g. batching 5 images will do this).

I noticed there is a PR that was merged but I don't actually see how it can be configured. Looking at https://github.com/bojiang/BentoML/blob/ea44748e14a4d208bbb437c9d7d0b7f5c4dd027c/bentoml/server/gunicorn_server.py#L6

[2020-11-25 00:40] yubozhao commented on #1087
@gregd33 You can also pass the value as an envvar, `BENTOML__APISERVER__DEFAULT_MAX_REQUEST_SIZE`

[2020-11-26 02:05] yubozhao commented on #1016
Closed as part of the #1188

[2020-11-26 02:05] #1016 closed

[2020-11-26 02:21] yubozhao commented on #1060
@CallmeMehdi @aarnphm Any update on this issue?  Let me know if you are running into any issues, happy to help

[2020-11-26 02:29] yubozhao commented on #1140
@aagq Have you try @mayurnewase 's answer?  Let me know if this issue still persists for you.

[2020-11-26 02:33] yubozhao commented on #1165
@bojiang Let's add documentation and then we can close this issue.

[2020-11-26 02:33] #1167 closed

[2020-11-26 02:35] #1183 closed

[2020-11-26 02:42] yubozhao commented on #1194
@xiwang129 Any update? Let me know if you need any help

[2020-11-26 02:46] #1218 closed

[2020-11-26 02:49] yubozhao commented on #1219
This is due to the artifact is not properly coping with all of the attributes

[2020-11-26 02:54] #1230 closed

[2020-11-26 02:55] #1234 closed

[2020-11-26 02:57] #1268 closed

[2020-11-26 02:58] parano commented on #1235
@vonsovsky I think you raised a good point and BentoML should provide users a way to specific bentoml config values for a BentoService after it was deployed, I will look into a proposal for making this better

[2020-11-26 04:52] dalavayi opened #1275 "error while trying to run yatai_service in docker."
hi,

i was getting this error, when i tried to run:
docker run -v ~/bentoml:/bentoml -p 3000:3000 -p 50051:50051 bentoml/yatai-service:0.8.6 --db-url=sqlite:///bentoml/storage.db --repo-base-url=/bentoml/repository

alembic.util.exc.CommandError: Can't locate revision identified by '719dd2aacc9a'

not sure what to do for this error, so i tried deleting the record from alembic table with this id,

[2020-11-26 05:31] parano commented on #1275
What is the BentoML version installed on your machine?  Can you try using the `latest` version of yatai-service and try again?

[code]

[2020-11-26 06:23] parano commented on #1226
The ideal solution to this problem is to design an `on docker build` hook for BentoService and/or Artifacts to inject code or commands to be executed when building and preparing the docker image. I will do some more exploration on potential solutions and share updates here.

[2020-11-26 06:40] parano opened #1276 "Tensorflow Lite Support"
**Is your feature request related to a problem? Please describe.**

Support Tensorflow Lite in BentoML https://www.tensorflow.org/lite

**Describe the solution you'd like**

Requires further investigation.

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2020-11-26 07:06] dalavayi commented on #1275
hi @parano , thank you for responding, i am using bentoml version 0.9.2, on GCP VM, i have tried with the revised command which you have suggested, now it is working fine, thank you very much.

[2020-11-26 07:08] parano commented on #1275
Np! This is due to a database version mismatch. That `docker run` command is only for user to quickly try out running a standalone yatai-service with their local BentoML data. In the production environment with a deployed and standalone yatai-service deployment, the versioning is guarded by gRPC calls so it's not an issue as long as the gRPCs are compatible with the client BentoML version.

[2020-11-26 07:08] #1275 closed

[2020-11-28 18:20] jsemric commented on #685
@danield137 are you planning to work on this?

I've already created a [PR](https://github.com/bentoml/BentoML/pull/1261) for handling zip imports. If you wish to take this issue, I can keep only the part of the PR which auto-infers the zipimports as the second part (specifying the zipimport files in `env` decorator) would be covered by  `additional_files` and `local_dependency_imports` parameters.

[2020-11-30 06:33] yubozhao commented on #1193
Hi @terrykong, you can use the undocumented docstring feature on the BentoService.

When you save a BentoService, the docstring on that BentoService will be saved as part of the `README.md` that is automatically generated in the BentoService bundle.

For example:
[code]

I will add documentation for this feature and we will add the readme view as part of the YataiService web UI

[2020-12-01 03:23] yubozhao commented on #1187
@timlod For your case, could you make sure your user has docker access/permission and try it again?

I think it is ok to assume the system must have docker access for any Azure Functions deployment actions.

[2020-12-01 06:28] parano commented on #685
another potential use case is for users to include a default kubernetes deployment YAML file to be included in the bundle, see discussions here in #bentoml-users https://bentoml.slack.com/archives/CKRANBHPH/p1606748614122000

[2020-12-01 06:52] terrykong commented on #1193
Hi @yubozhao. That is interesting and indeed useful

We aren't currently using yatai, but we may in the future.

Do you think this markdown can be viewable (in the Swagger UI) or retrievable as one of the "infra" endpoints?
![image](https://user-images.githubusercontent.com/7576060/100706538-0ba16100-335e-11eb-8f37-bdd10bb5efcb.png)

[2020-12-01 08:08] timlod commented on #1187
I will try bentoML again with the next release, I can check then.

[2020-12-01 15:18] pncnmnp commented on #671
@parano - I along with @kishore-ganesh  and https://github.com/CallmeMehdi are almost done with this. We can draft a PR in a day or two.

[2020-12-01 17:47] parano commented on #671
Sounds good, thanks @pncnmnp @kishore-ganesh

[2020-12-01 18:03] parano commented on #1235
@vonsovsky could you tell me what are the config values that you'd like to change when deploying with docker?

[2020-12-01 18:36] vonsovsky commented on #1235
Logging.level=WARN as INFO is causing server to be blocked even for one minute when returning large predictions.

[2020-12-01 19:27] parano commented on #1235
@vonsovsky I see - have you tested that by changing the logging level the issue went away?  It may also has to do with BentoML writing the prediction request and result to a log file by default(which we are adding an option to allow users to turn off the behavior)

[2020-12-01 20:38] vonsovsky commented on #1235
Yes, setting up logging.level as WARN solved this issue. We also don't want INFO in production anyway. But option to turn this off completely would be great addition to BentoML.

[2020-12-01 22:03] parano commented on #1235
thanks for the feedback @vonsovsky - here's the related issue for tuning off logging when running in production and it's on our roadmap https://github.com/bentoml/BentoML/issues/1009

[2020-12-01 22:05] vonsovsky commented on #1235
@parano Thank you for your cooperation. We appreciate the hard work you put into the framework :-)

[2020-12-02 10:21] #721 closed

[2020-12-02 17:41] yubozhao opened #1289 "Add container image support for AWS Lambda deployment"
**Is your feature request related to a problem? Please describe.**

AWS Lambda recently [announced](https://aws.amazon.com/blogs/aws/new-for-aws-lambda-container-image-support/) support for the container image. With the increased bundle size restriction to 10GB for container image, BentoML's lambda deployment should be switching to the container-based route.

The new deployment operator will:
1. C

[2020-12-03 00:02] yubozhao commented on #1187
Got it.  I am going to close the issue for now. Feel free to open back up again, if this issue still happens even when the user has docker access.

[2020-12-03 00:02] #1187 closed

[2020-12-03 05:38] yubozhao opened #1294 "[Bug]Incorrect endpoint API description on swagger UI"
**Describe the bug**

When a user adds a docstring on an API endpoint, that docstring should be the description on the Swagger UI page. RIght now the default message is displayed instead.

[code]
Instead of the default message in the screenshot.
<img width="1635" alt="Screen Shot 2020-12-02 at 4 58 27 PM" src="https://user-images.githubusercontent.com/670949/100968382-17b82a80-34e6-11eb-9ec8-99b12

[2020-12-03 19:49] terrykong opened #1296 "[Feature Request] Add extra pip install arguments to bundled_pip_wheels"
**Is your feature request related to a problem? Please describe.**

Can the extra pip install arguments passed to `@bentoml.env` be used in bentoml-init.sh to install`/root/bundled_pip_dependencies/*`?

**Describe the solution you'd like**

Things are a little moved around in `master` than in `v0.9.2`, but in `master` I see that the pip installation of the wheels in `/bentoml/bundled_pip_dependenc

[2020-12-04 01:41] #1185 closed

[2020-12-04 01:41] #1196 closed

[2020-12-04 01:41] #1200 closed

[2020-12-04 02:05] #722 closed

[2020-12-05 08:35] #1182 closed

[2020-12-05 08:42] bojiang commented on #1165
`TfSavedmodelArtifact` now supports RaggedTensor, SparseTensor as the input signatures. Users can use it like this:
[code]

[2020-12-05 08:44] bojiang commented on #1165
TfTensorInput doesn't support RaggedTensor now. It is low priority for now.

[2020-12-05 09:16] xylophone21 opened #1306 "--enable-microbatch got pickle error"
**Describe the bug**
Run demo with --enable-microbatch
serve PyTorchFashionClassifier:latest --enable-microbatch

**To Reproduce**
serve PyTorchFashionClassifier:latest --enable-microbatch

**Expected behavior**
run with microbatch

**Screenshots/Logs**
[2020-12-05 17:18:06,106] DEBUG - Creating local YataiService instance
[2020-12-05 17:18:06,401] DEBUG - Upgrading tables to the latest revision
[

[2020-12-06 23:15] #1294 closed

[2020-12-06 23:23] yubozhao commented on #1032
@Observe786 Any updates? Let me know if you resolve the issue, happy to help

@aslom I looked at other projects' Openshift deployment.  Deploy to a specified namespace seems like the common practice.

I recommend these steps for deploying Bento Service to an OpenShift cluster.

1. Create a namespace for BentoService
```kubectl create namespace bentoml```
2. Add permission for the namespace that Be

[2020-12-07 00:35] #1165 closed

[2020-12-07 08:02] edwin-19 opened #1308 "AttributeError: 'Functional' object has no attribute '_make_predict_function'"
**Describe the bug**

When i am trying to save a keras model artifacts i get the following error
[code]

**To Reproduce**

see screenshot logs

**Expected behavior**

should be able to save bento model

**Screenshots/Logs**

[code]

[code]

**Environment:**
- ubuntu 18.04
- python 3.7.9
- bentoml 0.9.2

**Additional context**

I've noticed there's a similar bug elsewhere [here](https://github.com/

[2020-12-07 08:08] bojiang commented on #1308
@edwin-19
It's an unofficial API of keras. I just removed it in latest commits.
Could you please try again on the master branch?

[2020-12-07 08:14] edwin-19 commented on #1308
i didnt clone the repo to install bentoml

i used the pip install BentoML (version 0.9.2)

Should i clone the repo and install from there

[2020-12-07 08:24] bojiang commented on #1308
Yeah.

You can either simply run
[code]

[2020-12-07 10:08] edwin-19 commented on #1308
Ok that seemed to work. Thanks!

But i was wondering are you guys planning to move this to the official release?

[2020-12-07 10:08] #1308 closed

[2020-12-07 18:02] parano opened #1309 "Add `bentoml prune` command for deleting all saved bundles"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-12-07 19:51] terrykong commented on #1182
awesome! 🥳

[2020-12-07 22:12] yubozhao opened #1311 "Add bento service containerize support on Yatai Service"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

With this feature, users can create bento service locally and let a remote yatai service to build the container and/or push to the container registry.

This feature frees the user from building container locally, and make it easier to manage container-related credentials.

- [ ] Implement for

[2020-12-07 22:14] yubozhao commented on #1032
I am going to close this issue for now.  Feel free to reopen it for dicussion.

[2020-12-07 22:14] #1032 closed

[2020-12-08 00:09] parano commented on #1032
We are also adding an option to allow users to disable logging prediction input & output to log files, which should help resolve this issue as well https://github.com/bentoml/BentoML/issues/1009

[2020-12-08 00:20] tahentx commented on #1309
@parano What is the intended distinction between prune and `bento delete`?

[2020-12-08 00:32] parano commented on #1309
@tahentx `bentoml delete` currently can only delete one saved bundle at a time, this issue was meant for adding support for deleting in batches by labels, service name or DateTime range, and there's a python API for it right now called `prune`: https://docs.bentoml.org/en/latest/api/yatai_client.html#bentoml.yatai.client.bento_repository_api.BentoRepositoryAPIClient.prune

Great question, I actual

[2020-12-08 05:58] yubozhao commented on #1309
I think this is a great suggestion. We should combine the APIs together and make it easier to understand.

[2020-12-08 07:15] bojiang commented on #1308
You must have noticed that the new version has been released. :)

[2020-12-08 08:16] bojiang commented on #1306
Maybe related: https://github.com/bentoml/BentoML/pull/995

[2020-12-08 09:09] bojiang commented on #1306
I reproduced this on macOS with Python3.8. I'll draft a new PR like #995. Before that, you can use "bentoml serve-gunicorn PyTorchFashionClassifier:latest --enable-microbatch --workers 1" instead.

[2020-12-08 22:06] pncnmnp commented on #671
@parano
In this issue, you have mentioned -

Can you specify the configurations you want us to cover from [`default_bentoml.cfg`](https://github.com/bentoml/BentoML/blob/master/bentoml/configuration/default_bentoml.cfg)?

[2020-12-09 08:00] bojiang opened #1317 "Podman integration"

[2020-12-09 14:18] Syphixs opened #1318 "No bundled_pip_dependencies in building container"
**Describe the bug**
ERROR: Invalid requirement: './bundled_pip_dependencies/*'
Hint: It looks like a path. File './bundled_pip_dependencies/*' does not exist.

**To Reproduce**

![image](https://user-images.githubusercontent.com/33832024/101640948-6d825a80-3a31-11eb-9072-b108011c9632.png)

**Environment:**
 - OS: 10.15.7
 - Python Version 3.7.9
 - BentoML Version 0.10

[2020-12-09 17:01] cryanzpj commented on #1318
found same issue in the 0.10.0 version.

**Describe the bug**
docker build failed

**To Reproduce**
`
cd ./20201209113627_677B50
docker build .`

[20201209113627_677B50.zip](https://github.com/bentoml/BentoML/files/5667441/20201209113627_677B50.zip)

**Screenshots/Logs**
Sending build context to Docker daemon  33.28kB
Step 1/15 : FROM bentoml/model-server:0.10.0-py37
0.10.0-py37: Pulling from bent

[2020-12-09 18:47] yubozhao commented on #1318
@Syphixs Thank you for reporting. @cryanzpj Thanks for the bundle and the log.
I am going to check it out.

[2020-12-09 20:42] parano commented on #1318
@Syphixs thanks for reporting this issue. This is a regression introduced in 0.10.0, we are working on a fix and will release a new version 0.10.1 including the fix later today.

[2020-12-11 03:05] parano commented on #1318
This is now fixed in the new release 0.10.1

[2020-12-11 03:05] #1318 closed

[2020-12-11 04:35] jianshen92 commented on #622
Our current workflow is :
1) Download Logged Model from MLFlow
2) Pack as Bento Service
3) Containerize and push image to registry.

MLFlow API Server is really not great, and the documentation on it is quite bad as well

[2020-12-12 14:29] ramanaditya commented on #1210
I have considered creating a decorator and using them by wrapping over all the functions.
Will it solve the problem?

[2020-12-12 23:13] parano commented on #1210
@ramanaditya a decorator API for the user? I don't think that is necessary, this should be BentoML internal and default behavior, user does not need to be aware of it or write any code to invoke it.

[2020-12-13 05:39] ramanaditya commented on #1210
@parano, not the decorator API for the user, it was meant to be internally used. Or, shall I script down the logger inside each of the function?

[2020-12-13 05:56] liusy182 commented on #1065
An alternative implementation is to have child classes override predefined base methods for `startup` and `shutdown`. Do we need the flexibility provided by the annotation, or base methods override is preferred?

[2020-12-15 19:57] parano opened #1327 "Add support for CatBoost"
**Is your feature request related to a problem? Please describe.**

Add support for serving CatBoost models in BentoML. CatBoost is a high-performance open source library for gradient boosting on decision trees https://catboost.ai/

**Describe the solution you'd like**

* Add a new BentoArtifact class in bentoml that support loading and saving CatBoost model
* Add documentation on how to use CatBo

[2020-12-15 21:16] parano commented on #1210
@ramanaditya oh if it's internal use then definitely we can do that to make the code changes cleaner!

[2020-12-15 23:10] yubozhao opened #1328 "Can't reach swagger static files when deploy with ingress"
**Describe the bug**

This issue is created from discussion #1325.

Swagger static files are not able to reach (404) when the bento service is deployed as service with ingress (ingress controller is Nginx) in a Kubernetes cluster.

When porter forwarding from the deployment `kubectl por-forward bentopod 5000:5000`, everything works fine.

**To Reproduce**

**Expected behavior**

**Screenshots/Logs

[2020-12-16 00:59] Trollgeir commented on #1327
Have you tested if this doesn't already work by using the scikit learn framework?

[2020-12-16 01:03] withsmilo opened #1329 "The YataiService gRPC server doesn't support URL location prefix"
**Describe the bug**

When I run YataiService with `--web-prefix-path` option, the YataiService gRPC server doesn't have a prefix path. I think https://github.com/bentoml/BentoML/issues/1063 missed this bug.

**To Reproduce**

**Expected behavior**

The YataiService gRPC server should be executed on `127.0.0.1:50051/test_prefix`.

**Screenshots/Logs**

[code]

**Environment:**
 - OS: MacOS Catalin

[2020-12-16 02:39] yubozhao commented on #1329
I think that's the expected behavior for the gRPC endpoints right now.  Did you run into a use-case that you want to have the prefix for the gRPC endpoints?

[2020-12-16 05:31] withsmilo commented on #1329
@yubozhao
Yes. I'd like to run the YataiService behind a reverse proxy server. Is it impossible?

[2020-12-16 06:08] dalavayi opened #1332 "_InactiveRpcError occuring when trying to save the bento service."
Hi,

when I am trying to save the service I keep getting this error.

[2020-12-16 11:29:30,965] WARNING - pip package requirement pandas already exist
[2020-12-16 11:29:30,968] WARNING - pip package requirement onnxruntime already exist
[2020-12-16 11:29:30,971] WARNING - Using remote YataiService at `34.68.200.172:50051`, local YataiService configs including db_url, repo_base_url, s3_endpoint_url

[2020-12-16 06:23] yubozhao commented on #1329
It is definitely possible.  That PR only added the support for the prefix on web UI.  We will need to add the prefix support for the gRPC endpoints.

Is this a blocking issue for you right now?

[2020-12-16 07:33] withsmilo commented on #1329
@yubozhao
It is not a blocking issue for me, but I think it is a necessary function for security.

[2020-12-16 19:13] yubozhao commented on #1329
Yes, that makes sense.  I will add this to the roadmap and we will try to get this address in the next few releases

[2020-12-16 19:14] withsmilo commented on #1329
Thanks, @yubozhao !

[2020-12-16 19:41] yubozhao commented on #1332
@dalavayi Can you run `bentoml config unset yatai_service.url` and then set it again with the new Yatai service URL? That should fix your issue of not saving to the new yatai service at `34.123.60.5`

[2020-12-16 19:46] yubozhao commented on #1193
@terrykong I think that's a great suggestion. I am going to try work on that.

[2020-12-16 20:12] Trollgeir commented on #1192
Could I suggest that this can be executed with an argument passed directly to the image, leaving the BentoML CLI as a wrapper for the image args?

I like the idea of the image to not only be a serving model, but also a function which you can apply on a csv/parquet/json file. After all, this is a subset of the serving module's functionalities.

The reason for this is because it's extremely handy wo

[2020-12-17 08:28] jiyer2016 opened #1336 "bentoml retrieve fails after upgrading to 0.10.1"
**Describe the bug**
I first upgraded my yatai-service from 0.9.2 to 0.10.1.
Then upgraded my traning pipeline to 0.10.1 - It worked flawlessly and stored newer versions of Model into S3 storage.
I then proceeded to build my BentoService via a custom Docker build.
Note - I use my own Dockerfile - with the command:

`RUN bentoml retrieve Service:latest --target_dir /bentoservice`

The Docker build

[2020-12-17 08:35] bojiang commented on #1336
Ops. I guess just remove the `bento.` and it will work.

[2020-12-17 08:36] bojiang commented on #1336
@yubozhao

[2020-12-17 08:42] jiyer2016 opened #1337 "Issues with Rolling back from 0.10.1 into 0.9.2"
**Describe the bug**
I have BentoML v0.9.2 running on my infrastructure.
Today, I decided to upgrade to 0.10.1

1. I first upgraded the yatai-service and then my training pipeline.
2. Things were going smooth - and I was even able to store a new version of my Model in S3.
3. However, I faced an issue with building my Model into a Docker Image - see [1336](https://github.com/bentoml/BentoML/issues/

[2020-12-17 08:44] jiyer2016 commented on #1336
@bojiang - Sorry, I didnt understand - Whhere do I remove the `bento.` ?

[2020-12-17 09:44] bojiang commented on #1336
@jiyer2016
Sorry for the unclear reply.
I believe it is indeed a bug of bentoml. The comment I just made is for developers.

[2020-12-17 12:00] robbertvdg opened #1338 "Use config in Dockerfile template"
**Is your feature request related to a problem? Please describe.**
We want to host bento models on Kubernetes with a different port than the default and a custom number of gunicorn workers. The Dockerfile that BentoML creates has these variables hard-coded, therefore we cannot set them in our custom base Dockerfile. We are able to set them as variables in deployments, however we would like to mini

[2020-12-17 17:20] yubozhao commented on #1336
Thanks for reporting this issue. I will fix it and hopefully we can release a new patch before the holiday with this fix in.

[2020-12-17 23:19] parano commented on #1338
Thanks for reporting this @robbertvdg, we are planning to add a way for the user to specify config values when creating a BentoML bundle, it is being tracked here: https://github.com/bentoml/BentoML/issues/1235

When deploying with Kubernetes, you can also pass the worker number argument directly, e.g.:

[code]

As for the default port, I think in most cases, Kubernetes deployment doesn't really c

[2020-12-18 05:56] jiyer2016 opened #1339 "Yatai Web UI has potentially slowed down in 0.10.x"
**Describe the bug**
Converted [discussion - 1335](https://github.com/bentoml/BentoML/discussions/1335) into bug report.
I (briefly) upgraded to 0.10.1 today - and found the yatai-web ui significantly slower than the norm.
I timed a few page loads via "Chrome Developer Tools" - and it took ~60 seconds.

A downgrade to 0.9.2 brought back page load times into the normal range.
I did not get a chance

[2020-12-18 08:09] yubozhao commented on #1337
You did the right thing.  It was a regression that will block your workflow.  Rolling back is the best option at that moment.

It is an unaccounted change(The new metadata field) that breaks when downgrading to an older version.

[2020-12-18 14:37] robbertvdg commented on #1338
Hi @parano,

Thanks for your response. Im aware of setting the workers via `args:`, however we have users that would need to specify this, and would not want to bother them with these details.
We want to use BentoML in combination with seldon deployments, which will try to obtain predictions from port 9000.
Are these the kind of features that will be added in [#1235](https://github.com/bentoml/Ben

[2020-12-18 15:25] quantum-fusion commented on #964
@parano What I want to do is model host an ONNX model from the model zoo, or a custom ONNX model.  I currently use TorchVision but this is not an option for ONNX models.  Do you know what the method is to model host ONNX for REST api model hosting?  I want an input picture .jpg , and a REST api response in message json format.

[2020-12-18 18:52] parano commented on #964
@quantum-fusion you can definitely use BentoML for that, have you looked at the ONNX example notebook in the bentoml/gallery repository?

[2020-12-18 18:57] quantum-fusion commented on #964
@quantum-fusion Yes, I looked at the juypter notebook, but this is not the type of configuration that I am trying to do.  I am more interested in the type of model hosting available with TorchServe.  (https://jtekds.com/announcing-torchserve-an-open-source-model-server-for-pytorch/). In short, to explain what I am trying to do.  I have a model zoo available from (https://github.com/pytorch/serve/b

[2020-12-18 18:57] quantum-fusion commented on #964
@parano Yes, I looked at the juypter notebook, but this is not the type of configuration that I am trying to do. I am more interested in the type of model hosting available with TorchServe. (https://jtekds.com/announcing-torchserve-an-open-source-model-server-for-pytorch/). In short, to explain what I am trying to do. I have a model zoo available from (https://github.com/pytorch/serve/blob/master/

[2020-12-18 18:58] quantum-fusion commented on #964
@parano TorchServe does it like this (torchserve --start --model-store model_store --models densenet161=densenet161.mar).  I am interested in the BentoML equivalent that allows me to model host ONNX models like Resnet50.  The problem I have is that I currently have no way of converting ONNX to .MAR format

[2020-12-18 19:35] lminer commented on #1097
I have the same issue and I'm using absolute, not relative imports. What's the workaround?

[2020-12-18 19:55] parano commented on #1097
@lminer  absolute path should work as expected, could you start a separate issue and share more details on how to reproduce it?

[2020-12-18 20:14] parano commented on #1338
@robbertvdg Yes it will need some extra refactoring but I will try to address it in #1235

I'm curious what are the features you are using in Seldon deployment, that BentoML + K8s does not cover?

[2020-12-18 20:26] lminer commented on #1097
I fixed it by appending the root directory to my python path in the module where I create the service and pack the model.

[code]

[2020-12-18 21:39] lminer opened #1344 "Bentoml is looking for environment.yml in the Service directory"
I'm using a custom environment.yml and for some reason, while the environment.yml file is saved in the root directory, `bentoml serve` is looking for it in the actual Service directory.

[code]

It's saved instead to: `/home/lminer/bentoml/repository/MyService/20201218133541_A5C726/environment.yml`

works fine if I copy it over.

Bentoml version 0.10.1

[2020-12-19 06:44] bojiang opened #1348 "Customize request schema in swagger"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

**Additional context**

[2020-12-20 01:02] xuzikun2003 commented on #890
I would like to pick up this work and here is the design doc
https://docs.google.com/document/d/1C7_BT1kIF8Z2YJXioPUSg5J0yfDEfN5g5zYtcZW2Nx8/edit?usp=sharing

[2020-12-21 01:55] withsmilo opened #1350 "The YataiService web server doesn't permit a trailing slash from URL location prefix"
**Describe the bug**

**To Reproduce**

Please refer screenshots attached.

**Expected behavior**

A trailing slash should be removed from URL location prefix when starting the YataiService.

**Screenshots/Logs**

<img width="772" alt="스크린샷 2020-12-21 오전 9 14 14" src="https://user-images.githubusercontent.com/3915543/102731229-9fbd8180-437a-11eb-8674-6748db509e76.png">
<img width="676" al

[2020-12-21 03:59] #1350 closed

[2020-12-21 11:48] paullee2018 commented on #1276
I am keen to work on this. I have been playing around with tflite recently with facenet. Could use that as an example?

[2020-12-22 01:18] gregd33 commented on #998
`I also think that the default channel should be removable or removed if there is another channel present. The context for this if images are being built without access to the default conda channel, this will fail even if reachable repos are given as channels.`

I realized that one issue related to the conda channels wasn't addressed by this. There are two different approaches to fixing it so I di

[2020-12-22 08:11] #1336 closed

[2020-12-22 08:14] yubozhao commented on #1344
hi @lminer Thanks for reporting this.  I am going to try reproduce it and see what's happening.

Do you mind share your bento service with me?  and I also want to confirm you are using the `conda_env_yml_file` option in the env decorator, right?

[2020-12-22 17:35] parano commented on #1276
@paullee2018 using facenet as an example sounds good, do you mind ping me in the community slack and discuss the solution you had in mind?

[2020-12-22 17:41] lminer commented on #1344
Here's the basic code

[code]

[2020-12-22 20:22] parano opened #1356 "Support reading large CSV files as offline batch inference input"
**Is your feature request related to a problem? Please describe.**

When using DataframeInput, a user can launch a batch inference job with the `bentoml run`  CLI command, e.g.:

[code]

The current behavior in BentoML is that it reads the entire content of a CSV file into memory at once https://github.com/bentoml/BentoML/blob/v0.10.1/bentoml/adapters/string_input.py#L90,  turn them into one panda

[2020-12-22 20:26] xuzikun2003 commented on #1356
Interesting feature, I would like to own it.

[2020-12-22 22:33] #1137 closed

[2020-12-22 23:01] parano commented on #1348
Does swagger/openapi has a helper function for something like "input json example to schema" convertor?

[2020-12-22 23:04] yubozhao commented on #1348
I am not sure about first party.  When I was looking into this issue before, I found a few 3rd parties tools, such as https://github.com/Roger13/SwagDefGen

[2020-12-23 01:10] parano opened #1357 "BentoML batch inference API refactor"
**Is your feature request related to a problem? Please describe.**

Today, BentoML provides a CLI command `bentoml run` for launching a batch inference job from a specified input file:

[code]

However, there are a couple of limitations:

1. The CLI input arguments are only partially managed by Click - some CLI arguments are defined in the Adapter code path using the ArgParser API, e.g.

* The `fo

[2020-12-23 14:26] sethfarns opened #1358 "Allow ability to set number of workers when deploying to AWS ECS"
I am deploying my model to AWS ECS via BentoML, and have followed the [deployment guide](https://docs.bentoml.org/en/latest/deployment/aws_ecs.html) for this. The problem I have is that my model requires at least 4GB of memory to run, and I only want to run one worker at a time (for cost reasons). I see no way to specify the number of workers (`get_gunicorn_num_of_workers`), so BentoML calculates

[2020-12-23 18:45] lminer opened #1359 "Bentoml incompatible with tensorflow 2.4.0 due to grpcio dependency"
Bentoml appears to be incompatible with the latest tensorflow

[code]

Yields:

[code]
tensorflow=2.4.0
bentoml=0.10.1

[2020-12-24 02:47] parano commented on #1359
Thank you for reporting this @lminer - grpcio version has come up a few times lately and looks like we are limited to an older version now, I will look into upgrading it.

[2020-12-24 03:06] #1306 closed

[2020-12-24 04:44] ssheng commented on #1009
I'm going take a stab at this problem next. Discussed offline with @yubozhao, we think the best option might to be generically expose the full logging configuration rather than just the log-to-file option, so we can hopefully solve all logging customization needs.

My plan is to expose the logging configuration through CLI param and environment variables in that priority order. Docker and K8s can

[2020-12-24 06:32] yubozhao commented on #1358
@sethfarns That's a good suggestion.  For AWS ECS deployment, you can do that via the `docker-compose.yml`.

Since AWS ECS uses docker-compose for deployment.  You can already customize the number of workers.  Here is how to set envvar in docker compose: https://docs.docker.com/compose/environment-variables/

For your cases, you can set the number of gunicorn workers with the envvar, `BENTOML__API

[2020-12-24 07:09] bojiang commented on #1359
I've checked the dep tree with `pipdeptree`. There are no other dependencies that required grpcio<=1.27.2. So it's safe to bump the version of `grpcio`.

[2020-12-26 21:17] sethfarns commented on #1358
Worked like a charm. Thanks so much @yubozhao!

[2020-12-28 02:53] bojiang commented on #1357
Steps:

- [ ] add `from_function_call` to input adapters, call `from_function_call` from `from_cli`
- [ ] replace the `argparse` with `Click `
- [ ] add `to_function_call` to output adapters, call `to_function_call` from `to_cli`

[2020-12-28 05:42] jjmachan commented on #1289
I would like to work on this. But I have to admit I'm not an expert at AWS lambda deployment but I've used SAM a couple of time. I'm going through the AWS docs to get a more thorough idea.

[2020-12-29 02:20] xuzikun2003 commented on #1356
A design doc
https://docs.google.com/document/d/1qmuIY7tznki_KpgP5y1CArU8RSMZdQqAMElQm-zRfx4/edit

[2020-12-29 17:06] felix-zg opened #1366 "`bentoml lambda list` failed with PostgreSQL 11"
**Describe the bug**
Running `bentoml lambda list` on with local Yatai and PostgreSQL 11 return this error:
[code]

**Environment:**
 - MacOS 10.15.6
 - Python 3.6.8
 - BentoML 0.10.1
 - PostgreSQL 11.9

[2020-12-29 17:37] yubozhao commented on #1366
Did you encounter this issue before or after you encounter the lambda deployment issue?

[2020-12-29 17:41] felix-zg commented on #1366
before

[2020-12-29 17:52] yubozhao commented on #1366
Got it. per our slack conversation, I will try to reproduce this. If you have additional insights, feel free to share them here.

[2020-12-30 00:45] #1210 closed

[2020-12-30 11:04] Styren commented on #1229
What is the status on this @awalvie ?

[2020-12-30 11:26] awalvie commented on #1229
Hey, I've moved away from the issue at the moment, please unassign me so that others can take it up.

[2020-12-30 18:26] jvdavim opened #1367 "Allow cross-origin resource sharing with serve-gunicorn"
**Is your feature request related to a problem? Please describe.**
I can't post to a REST API served with `bentoml serve-gunicorn` using javascript. The browser seems to need the cross-origin resource sharing (CORS) response header to get the right response.

**Describe the solution you'd like**
Add `Access-Control-Allow-Origin` to the response header.

**Describe alternatives you've considered**

[2020-12-30 20:20] yubozhao commented on #1367
Hey @jvdavim That's a good ssuggestion. We should make browser access more easier.

Would you mind share how are you using BentoML in your production and your usecases?  I'd love to use this opportunity to undertstand them better and make BentoML better suite for them.

[2020-12-30 20:43] parano commented on #1367
Hi @jvdavim -  you can already customize the HTTP response header in BentoML, here are some sample code from the documentation https://docs.bentoml.org/en/latest/concepts.html#defining-a-batch-api

[code]

[2020-12-30 20:46] parano commented on #1229
Hi @Styren  - we are looking to speak with users who are interested in this feature, let me know if you'd be open to sharing a bit more about your use case and requirements.

[2020-12-31 02:45] ssheng commented on #1235
@vonsovsky, we'd love to hear your feedback on https://github.com/bentoml/BentoML/pull/1365, which supposed to be addressing this issue.

[2021-01-01 23:40] xuzikun2003 commented on #1356
#1369

[2021-01-04 09:25] bojiang opened #1371 "Avoid ambiguous sources for conda-forge packages in `environment.yml`"
**Describe the bug**

The current channel priority setting causes unpredictable behavior during building model-server docker images.
This is also the reason for the eventual failures of integration tests using TensorFlow.

Take the default conda requirement `pip` as an example.
Since the first channel in `environment.yml` is "conda-forge", conda will **randomly** pick the first package named `pip`

[2021-01-04 09:40] felix-zg opened #1373 "Failed to containerize bundle with s3 as BentoML repository"
**Describe the bug**
When I use S3 storage for the package repo creating of docker image.

**To Reproduce**
1. set `BENTOML_REPO_BASE_URL=bentoml-repo`
2. create a package, package created localy
3. run `bentoml containerize XXX:latest -t xyz` creating a new working docker image
4. set `BENTOML_REPO_BASE_URL=s3://bentoml-repo`
5. create a package, package created in s3 bucket
6.  run `bentoml cont

[2021-01-04 11:07] ssheng opened #1374 "BentoML Configuration Redesign"
### Background
BentoML introduced a configuration system in the early days to simplify user customizations and scale developer productivity. The design starts with an out-of-box configuration that just works. For advanced users who need additional customizations, configuration can be overridden with user supplied values. A number of pain points summarized below have been encountered by our develop

[2021-01-04 13:08] mayurnewase commented on #1374
Draft doesn't seem to be public,could you please give necessary permissions?

[2021-01-04 14:37] robbertvdg commented on #1338
Hi @parano,

Seldon helps porting user defined api's to an istio gateway, so it automates authorization and authentication.

[2021-01-04 14:55] bojiang commented on #1371
[code]

[2021-01-04 15:00] bojiang commented on #1371
[code]

[2021-01-04 17:17] gregd33 opened #1376 "Swagger - custom root/base url"
**Is your feature request related to a problem? Please describe.**

So I have a setup like this:

- one service running via docker-compose. For example, MyBentoService running on port 5555. In theory, I could have many services running on many ports.
- I have a server called e.g myservices.com
- I have nginx running which proxy_pass's /bento_services/MyBentoService/ to localhost:5555

So, if I cal

[2021-01-04 18:44] #930 closed

[2021-01-04 19:50] terrykong opened #1377 "`request_id` in response header seems broken"
**Describe the bug**

It appears that there is something wrong with the `request_id` value that is returned from a prediction request's response headers

**To Reproduce**
What I’m observing is if I make multiple requests:
[code]
I will observe the same “request_id” `a2f075c1-91a1-4a9c-9b25-6b634cf33f95` even if i make different requests. see
[code]
Also, aside from the “request_id” not changing, i

[2021-01-04 20:01] ssheng commented on #1374
Is there a group I can give commenting permission to?

[2021-01-05 01:17] lminer commented on #1359
Is this fixed?

[2021-01-05 01:41] parano commented on #1359
@lminer this is not fixed, I haven't got a chance to look into it

[2021-01-05 01:42] jackyzha0 opened #1378 "Documentation for Offline Batch Serving"
**Is your feature request related to a problem? Please describe.**

Currently, there is only documentation detailing how to run `bentoml run <bento service> predict` for the DataframeInput adapter: https://docs.bentoml.org/en/latest/quickstart.html?highlight=predict#launch-inference-job-from-cli

**Describe the solution you'd like**

It seems like there is an entire page dedicated to documentation

[2021-01-05 01:50] jackyzha0 opened #1379 "Integration Tests for Offline Batch Serving"
**Is your feature request related to a problem? Please describe.**

Right now, there are no integration tests for `bentoml run <bento> predict` for various adapters. I'd like to be able to ensure that there is no functionality regressions in being able to start inference jobs from the CLI while developing.

**Describe the solution you'd like**

Add integration tests for each adapter, targeting the

[2021-01-05 05:22] dalavayi opened #1380 "Unable to access Yatai Web UI"
I have spin up the docker image for yatai service for model management, when i am trying to access the web UI from the url, the page shows loading symbol for a fraction of second and the page goes blank. I tried reloading it many times but the same thing is happening.

version of bentoml : 0.10.1

command used : docker run -v ~/bentoml:/bentoml -p 3000:3000 -p 50051:50051 bentoml/yatai-service:lat

[2021-01-05 06:16] parano commented on #1380
Hi @dalavayi - I can't seem to reproduce this issue, I ran the same command and see the web UI without any problem.  This could be a frontend issue too, could you share what's the browser and OS where you tested it?

[2021-01-05 07:03] dalavayi commented on #1380
hi @parano thanks for the quick response, i am using windows 10 OS, i used google chrome Version 87.0.4280.88, i tried the same in internet explorer also, it shows a blank page only.

[2021-01-05 07:04] dalavayi commented on #1380
![image](https://user-images.githubusercontent.com/72725647/103616351-48aad580-4f52-11eb-9107-5d03b76d9587.png)
It shows this for a fraction of second and goes blank.
![image](https://user-images.githubusercontent.com/72725647/103616379-58c2b500-4f52-11eb-9608-18fcfe5a5205.png)

[2021-01-05 22:03] yubozhao commented on #1373
Thanks for creating an issue for this.  Here is the link to the additional context in Slack: https://bentoml.slack.com/archives/CKRANBHPH/p1609261908276300

[2021-01-05 22:31] yubozhao commented on #1373
@felix-zg This issue is fixed after #1316 merges into master.

[2021-01-05 22:35] felix-zg commented on #1373
@yubozhao I'm using the latest docker image

[2021-01-05 23:48] yubozhao commented on #1373
@felix-zg Yeah, the PR is still open and ongoing.  After we merged it and publish a new version, this bug will be fixed then.

[2021-01-06 05:37] yubozhao commented on #1358
@sethfarns I am closing this issue with the solution. Feel free to reopen if you are running into any issues.

[2021-01-06 05:38] #1358 closed

[2021-01-06 10:55] felix-zg commented on #1373
@yubozhao sorry I missed the fact is still open :)
When its plan to publish a new version?

[2021-01-06 10:58] felix-zg commented on #1373
@yubozhao thank you :)

[2021-01-06 10:58] #1373 closed

[2021-01-06 11:44] jiyer2016 opened #1384 "BentoService unexpectedly works despite feeding bad input to Tensorflow Function"
**Describe the bug**
I was debugging some tensorflow function warnings on my BentoService deployment (more on that later) which led me to the following observation.

1. My Bento Service is backed with a Tensorflow Model
2. The Tensorflow Model accepts tf.float32 type tensors only
3. My Bento Service is purposefully programmed to fail always - i.e. feed an incompatible tensor (tf.int32 type) to the

[2021-01-06 13:11] felix-zg commented on #1366
Hey @yubozhao
Can you please check my PR? This solved my problem.

[2021-01-06 13:36] Samreay commented on #1359
+1 for this issue. I noticed that the grpcio version was locked due to issues with Lambda, so fingers crossed that one of the more recent grpcio releases since that issue 6 months ago has resolved it :)

[2021-01-06 13:49] gregd33 commented on #1376
The Swagger component is not that important at all - real processing would be done via the REST end points (which work fine).

The Swagger UI is mostly nice for demoing how a service works, especially since the service is on an image so its easy to upload one and get some results.

So this is low priority.

[2021-01-06 13:50] gregd33 commented on #1376
Also if you can point me in the direction of how/where the Swagger page is generated, I can try to tackle the issue myself

[2021-01-06 17:41] yubozhao commented on #1376
Yeah, that makes sense.

Yes, I am happy to show you.

To render the swagger UI on the '/' page, it went through these steps:

1. The index route will default to display swagger UI if the user didn't have any customized HTML. https://github.com/bentoml/BentoML/blob/439412fe394116c265a5199c5983ce60eb45e85b/bentoml/server/api_server.py#L250

2. Inside the render swagger UI function, we send the clie

[2021-01-06 22:50] yubozhao commented on #1366
@felix-zg Thanks for fixing it and improve BentoML for the community!

It will be out with the next release.

[2021-01-06 22:50] #1366 closed

[2021-01-07 00:39] yubozhao commented on #1009
Thank you @ssheng for working on this issue.  I think this is a great addition to the community.

@shihgianlee This feature will be part of the next release.  Feel free to reopen this issue, if you have additional questions.

[2021-01-07 00:39] #1009 closed

[2021-01-07 00:58] yubozhao commented on #986
@jiyer2016 with recent refactor, this issue is resolved. Let me know did this still shows up for you. I am going to the issue for now.  Feel free to reopen it.

[2021-01-07 00:58] #986 closed

[2021-01-07 04:39] yubozhao commented on #1367
Closing this with @parano's solution. @jvdavim  Feel free to reopen this issue with any questions.

[2021-01-07 04:39] #1367 closed

[2021-01-07 06:26] priancho opened #1388 "Can't save a BentoService with TorchScript model"
**Describe the bug**

Hi,

I have created a sample BentoService program that uses TorchScript model based on the [official example](https://docs.bentoml.org/en/latest/frameworks.html#pytorch).
But it fails with the following error (please see sample program I used and error messages in section 2 for details).

This problem seems like related to https://github.com/pytorch/pytorch/issues/18106.
Howe

[2021-01-07 07:11] withsmilo commented on #1388
Hi, @priancho .
Some enhancement commits about Pytorch JIT traced/scripted models were merged with `master` branch, but not released yet. Please refer https://github.com/bentoml/BentoML/pull/1293. This will probably be included in the next release. Maybe next Monday? :blush:

[2021-01-08 06:58] withsmilo commented on #1371
Hi, @bojiang @parano
We're suffering this issue with BentoML 0.10.1 on the production environment now How can we avoid this as workaround?

[2021-01-08 08:09] parano commented on #1371
@withsmilo I just spoke to @bojiang about #1375, we are planning to remove `conda-forge` from the default conda-channels list. We are planning to release a new version next Monday which will contain this fix.

'conda-forge' was added there because we used to install the exact python version, which sometimes only available from `conda-forge`, but we've changed that behavior to only making sure the

[2021-01-08 08:40] withsmilo commented on #1371
@parano
I'm so glad to hear the good news! Thanks for quick patch. I'will wait for new release next Monday. 👍

[2021-01-08 09:48] bojiang commented on #1371
@withsmilo
The workaround depends.

For a service like this
[code]

Just put "pkgs/main::python=<your_python_version>" into the conda_dependencies should do the trick. It prevents conda from installing python from channel `conda-forge`.
[code]

[2021-01-08 19:44] withsmilo commented on #1371
@bojiang
Wow! Thanks for great workaround.

[2021-01-08 20:19] gregd33 commented on #1192
I mentioned this on slack, but something I found out the hard way: when using the batch processing,  the command to the docker file needs to be called via a shell comment (e.g. `sh -c 'bentoml run /bento predict --input-file /data/images/*.png -q'`) since the `*` will not parse properly otherwise. Just wanted to mention it here.

[2021-01-09 14:39] dummybot88 opened #1392 "Bentoml service tar.gz file Lambda Deployment"
**Describe the bug**
I have created a bento service, packed with a trained model, and saved bento service to S3 i.e. configured the repository URL to S3. I have bento service saved to S3 in tar.gz format.

When I deploy the bento service to Lambda using the Bentoml inbuilt command and invoke the API, I have observed the above logs are observed in the AWS cloud watch when trying to invoke the predi

[2021-01-11 07:41] yubozhao commented on #1392
hi @dummybot88 I was unable to reproduce this on 0.10.1 version.  Could you update your BentoML version to the latest and try again?

[2021-01-11 08:01] dummybot88 commented on #1392
Hey @yubozhao, I have upgraded bentoml version to 0.10.1 and I'm still facing the issue.

[2021-01-11 08:39] ghostviper opened #1393 "hadoop file system load and write support"
Firstly, thanks everyone who make contribution to bentoML. when i delopy ML model to production situation,I need to use hadoop file system exchange raw data on local prod env.but BentoML only support s3 and google cloud remote save bundle.Hope project can support more remote bundle saved in the future. thanks again!

[2021-01-11 22:37] #1371 closed

[2021-01-11 23:11] #1377 closed

[2021-01-11 23:12] parano commented on #1377
This issue has been fixed in #1390 and will be available in the upcoming release 0.11.0

[2021-01-11 23:25] #1378 closed

[2021-01-12 00:08] yubozhao opened #1395 "Refactor SQL query for listing bentos with labels"
**Describe the solution you'd like**

For listing bentos, yatai service's metadata_store is first query a list of it in labels table with matching filters, and then query the bentos with those ids.

Desired solution is retrieve bento from sql with one query only.

**Describe alternatives you've considered**

**Additional context**

[2021-01-12 04:52] #1311 closed

[2021-01-12 05:05] yubozhao commented on #1193
@terrykong This will be release in the next version. You can check out the screenshots of what it looks like in the PR #1333

Feel free to reopen this for more discussions.

[2021-01-12 05:05] #1193 closed

[2021-01-12 05:19] yubozhao commented on #1392
@dummybot88 I see. I was testing with the Quickstart too.  From your screenshot of the logs, I know where to start looking for the potential issue. I will let you know if I find anything

[2021-01-12 06:21] terrykong commented on #1193
awesome @yubozhao ! can't wait to try it out

[2021-01-12 07:24] yubozhao commented on #873
@calclavia The PR #1293 merged into master, should be release in the next version. Feel free to reopen this issue, if you run into any problems

[2021-01-12 07:24] #873 closed

[2021-01-12 07:44] jjmachan commented on #1194
@xiwang129 let me know if you're still working on this or can give it a go

[2021-01-12 07:46] parano commented on #1194
@jjmachan feel free to take it, I don't think @xiwang129  is still working on this.

[2021-01-12 13:54] xiwang129 commented on #1194
@jjmachan can we collaborate on this this week? @parano I got distracted on other stuff but still want to work on this issue :)

[2021-01-13 07:11] jiyer2016 commented on #1384
Did anyone get a chance to review this ?

[2021-01-13 07:20] bojiang commented on #1384
@jiyer2016 Hi. Sorry for my late reply.
This is because of the automatic casting feature of the `TensorflowSavedModelArtifact`. It will convert the input data to meet the signatures when possible.

[2021-01-13 08:22] lucascott opened #1402 "Provide customization for Cloud Formation templates in Lambda deployments"
**Is your feature request related to a problem? Please describe.**
According to the [aws_lambda.operator](https://github.com/bentoml/BentoML/blob/master/bentoml/yatai/deployment/aws_lambda/operator.py#L87) file, the CloudFormation template for Lambda deployments is defined in the `_create_aws_lambda_cloudformation_template_file` function. I see possible limitations in this design. In particular, i

[2021-01-13 09:43] lucascott opened #1403 "Failure to containerize model if build-arg value contains multiple `=` characters"
**Describe the bug**
Containerization fails due to unpacking issue when passing the `--build-arg` argument with value including multiple `=` characters.

In particular, the string split operation in [bento_service.containerize()](https://github.com/bentoml/BentoML/blob/d8ae9490a834e1aab371a2b69e937acb5c86f19d/bentoml/cli/bento_service.py#L384) fails to assign the resulting values to variables for

[2021-01-13 11:44] j-hartshorn commented on #1327
As `SklearnModelArtifact` uses `joblib` to serialise the model, I can see why this would work. Still, it might be good to have an explicit `CatBoostModelArtifact` which utilises CatBoost's binary format do you think?

[2021-01-14 02:50] yubozhao commented on #1403
@lucascott Thank you for reporting.  I will work on fixing it

[2021-01-14 04:19] #1403 closed

[2021-01-14 04:22] yubozhao commented on #1402
Thanks for bring the discussion from slack to here @lucascott !
I

[2021-01-14 11:20] j-hartshorn opened #1406 "Pipenv lock requirements.txt failes validation with InvalidRequirement"
**Describe the bug**
I am using `Pipenv` to manage package environments, and so I want to use it to generate a requirements file for use in the bento package. However, the file generated by `Pipenv` fails validation when calling `.save()` or `.save_to_dir()`.

[code]

To generate a `requirements.txt` file for non-development packages with `pipenv` one can run the command `pipenv lock -r > requirem

[2021-01-14 20:57] parano commented on #1388
Thanks @withsmilo @priancho the support for Pytorch JIT traced model has been released in version 0.11.0 😊

[2021-01-14 20:57] #1388 closed

[2021-01-15 01:14] parano commented on #1393
Hi @ghostviper - are you currently using a standalone Yatai server for model management?  HDFS might not be an ideal solution for Yatai but we could certainly add support for the `load` and `save` API. Do you mind tell me a bit more about your use case and requirements here?

[2021-01-15 03:16] bojiang commented on #1406
In short pip supports `requirements.txt`with customized PyPI URL like this:
[code]
, but `@bentoml.env(requirements_txt_file` throws `InvalidRequirement`.

[2021-01-15 06:43] ghostviper commented on #1393
@parano Hello parano! I want to build a central model management env for project team share ML models on machine A.other production env machine (eg. B,C,D) can pull ML model from A through 'bentoml pull MODEL' command.I read the code related to repository api and yatai service configuration only find ‘s3’，‘google driver’ support repo_base_url. When I setting repo_base_uri='~/bentoml/repository' or

[2021-01-15 10:46] Toukenize opened #1410 "BentoService does not package local dependencies beyond the top level directory"
**Describe the bug**

BentoService does not package local dependencies with more than 1 level of directory without adding `__init__.py` in all sub-directories.

This is my project structure
[code]

BentoML only bundled these (and classifier.py is moved out):
[code]

These are what my `classifier.py` and `serve.py` do:

And I basically define the BentoService in `classifier.py`

[code]

then I bund

[2021-01-15 14:47] gregd33 commented on #1376
I was able to get a start of this and a PR is started in https://github.com/bentoml/BentoML/pull/1411

I still need to update the docs and add tests, if possible. I also need to make sure that I don't have extra changes - I originally went down a path of changes that changed the endpoint that was hosting the service not what Swagger called.

But I thought I'd share progress here. Hopefully will fi

[2021-01-15 17:56] yubozhao commented on #1376
@gregd33 Awesome.  Thank you for contributing!  Let me know if I can help in anyway

[2021-01-15 19:22] parano commented on #1410
Thanks for reporting this @Toukenize, this is because BentoML currently uses Python's own `modulefinder` module to find local dependencies, and it only recognizes a folder as an importable module if it contains an `__init__.py` file. But I think it makes sense to support bundling the import even if the folder does not contain an `__init__.py` file, I will look into it.

[2021-01-15 23:40] bbrucee opened #1412 "Issues using deployed Lambda function"
**Describe the bug**
I am having trouble with using my deployed Lambda function following [this deployment guide](https://docs.bentoml.org/en/latest/deployment/aws_lambda.html). When I invoke a test event I am getting the attached error.

**To Reproduce**
Steps to reproduce the issue:
1. Follow steps in [this deployment guide](https://docs.bentoml.org/en/latest/deployment/aws_lambda.html) to deplo

[2021-01-17 11:42] guy4261 commented on #1410
Hello,
Think it's related. This is using `bentoml==0.11.0`.

I have my package (let's call it `foo`) pip-installed locally (`pip install -e .`).
One class in this package is the service:

[code]

This class uses lots of imports from this package.

When I `service.save_to_dir(path)`, under path I get

[code]

[2021-01-17 17:52] parano commented on #1410
@guy4261 two identical bentoml.yml files are expected behavior - it is necessary for making BentoService bundle "pip installable".

Did you add an `__init__.py` file to the directory containing your python code? If so, they should be copied to the bundle when calling `save` or `save_to_dir`.

[2021-01-17 18:38] guy4261 commented on #1410
(note: I edited my previous reply so filenames will match this comment.)

I assumed that's OK, just wanted to note (in case others will take a look).

So I have my git repo for this package, with a `setup.py` at the repo root.
The package name is `foo`, so there's a directory `foo`.
The directory structure is that of a Python package:

[code]

As I said, only `foo/service/foo_service.py` is copied

[2021-01-17 20:35] parano commented on #1410
Does the `foo_service.py` file contains your `BentoService` class definition? Does this file import from the `pack_script.py`?  If that's the case, the `pack_script.py` is expected to be copied to the saved bundle, all imports should work when loading the saved bundle from another environment and we have tests covering this behavior [here](https://github.com/bentoml/BentoML/blob/master/tests/test_

[2021-01-18 19:49] bbrucee commented on #1412
Update: I think I found the cause of the tissue

https://github.com/bentoml/BentoML/blob/master/bentoml/yatai/deployment/aws_lambda/download_extra_resources.py#L34

In Line 34, we use set the variable used for the S3 bucket key `s3_file_path = os.path.join(s3_prefix, 'requirements.tar')`.

However, it seems that in some cases **os.path.join** will use "/" instead of the S3 expected "\".

I was abl

[2021-01-19 00:42] parano commented on #1412
Thanks for reporting this @bbrucee - it may have to do with deploying on `Windows` platform. It should use `".".join()` instead of `os.path.join` in this case. cc @yubozhao

[2021-01-19 23:30] parano commented on #890
Have been discussing this with @xuzikun2003 @bojiang  and here's an update:

We are investigating making BentoService class/instance pickle serializable by hooking the pickle interface to BentoML's own save and load implementation. This should allow users to create Spark UDFs with BentoML packaged ML models more easily.

Note that this will be a separate effort from the design doc shared above, wh

[2021-01-20 00:29] parano commented on #1192
Thanks for sharing @gregd33

I think with the new inference jobs API proposal that we are working on, this proposal with `--with-docker` option no longer makes sense, closing this issue now and we will make sure to address this issue in the new design.

[2021-01-20 00:29] #1192 closed

[2021-01-20 08:01] ANDRYA005 opened #1413 "Support multi-input custom dataframe input adaptor"
**Is your feature request related to a problem? Please describe.**

We are trying to create a custom Dataframe input adaptor that allows the user to pass multiple dataframes to a prediction api. An example input to the service is:

[code]

There is one line in `dataframe_util.py` that inhibits us from doing it efficiently. The `_dataframe_csv_from_input(.)` method contains the line

[code]

The pr

[2021-01-20 16:57] Talador12 commented on #890
This reads as an appropriate measure - Spark UDFs were made for this kind of custom code/integration. Thank you for taking the initiative on this! I will continue to follow and provide user feedback when I can :)

[2021-01-20 23:56] jack1902 opened #1415 "Allow BentoML User to set custom access_token headers"
**Is your feature request related to a problem? Please describe.**

I'm frustrated by the static `access_token` header set when i set the `access_token` in my config file. This severly limits me using a custom access-token header with JWT and an OIDC provider

**Describe the solution you'd like**

I'd like to be able to define a new configuration option in the `config` file similar to the below:

[2021-01-21 08:36] guy4261 commented on #1410
Yep:

[code]

No, vice-versa: `pack_script.py` imports the `FooService` class and packs it.
Only `foo_service.py` is copied (along with the directory structure; i.e. it is not placed in the root of the bento but under `foo/foo_service.py`. But the rest of the package is not copied :(

I will look into those links - thanks 🙏

[2021-01-21 14:37] jack1902 opened #1417 "bentoml config default never works for https/gRPCs"
**Describe the bug**

When i run `bentoml list` from the command line, `BentoML` will blow up stating i am missing a `client` Key. This is incorrect as the documentation states `Optional` for a client cert/key. This happens because of the following

https://github.com/bentoml/BentoML/blob/c7e64242eada3e96c528c389a8dfae3437b03c96/bentoml/yatai/yatai_service.py#L48-L53

assumes that i have an `old`

[2021-01-21 21:19] parano commented on #1410
Np!

If that's the case, `FooService` itself does not rely on the `pack_script.py`, why should it be copied?  BentoML by default only packs files and modules that are necessary to run model inference with the BentoService class, thus only copies modules that are imported by the `foo_service.py` file.