[2022-07-22 22:19] ssheng opened #2790 "docs: Service lifecycle event customization"
- Health checking (https://github.com/bentoml/BentoML/issues/2630)
- Start/stop hooks

[2022-07-22 22:27] ssheng commented on #2694
@yubozhao dictionary input can be supplied as multiple named tensors. However, we should document this better.

[2022-07-22 22:27] #2694 closed

[2022-07-22 22:27] parano commented on #2704
Should we make it just `bentoml.pytorch.import_from_hub` so that it's easier for PyTorch/BentoML users to discover?  also since they are gonna share the same runner implementation

[2022-07-22 22:36] parano commented on #2733
@aarnphm could you try to modify the current BentoML generated Dockerfile to multi-stage and observe how much improvement it is?  My feeling is that we already do lots of things to ensure installation cache and temporary files are not part of the final image, I'm not sure how much improvement multi-stage build could bring us.

[2022-07-22 22:36] #2733 closed

[2022-07-22 22:36] ssheng commented on #2747
@aarnphm do you think a custom ASGI app will solve the streaming use case?

[2022-07-22 22:42] ssheng commented on #2762
@aarnphm should we use `JSON` input IO descriptor for this input? Closing for now.
[code]

[2022-07-22 22:42] #2762 closed

[2022-07-22 22:49] ssheng opened #2791 "Add Algolia Docsearch to a docs"
https://github.com/readthedocs/sphinx_rtd_theme/issues/761

[2022-07-22 22:52] ssheng opened #2792 "feat: adding custom metrics from API service"
There is an increasing demand from the community for adding custom metrics to the API service. BentoML supports basic service level metrics out-of-box, including request duration, in-progress, and count, using a `prometheus_client`. However, it is not as straight forward for users to create new metrics. An ideal API allows users to define metrics during initialization and update metrics upon a cer

[2022-07-22 23:02] ssheng opened #2793 "Spark MLlib & PMML Support"

[2022-07-22 23:21] ssheng opened #2794 "Support FastText framework"

[2022-07-22 23:22] ssheng opened #2795 "Support EvalML framework"

[2022-07-23 00:55] aarnphm commented on #2704
then we should also merge `bentoml.torchscript` to `bentoml.pytorch.save_model(..., save_as_torchscript=True)`. Since the runner implementation are also the same.

[2022-07-23 00:58] aarnphm commented on #2762
Not the case here. If user supply a list of string, it shouldn't be presented a literal string,  but a list of inputs instead?

[2022-07-23 01:06] aarnphm commented on #2784
With additional system packages you can include the library under `system_packages`:
[code]

With regarding the generated dockerfile I will create a PR to fix this.

[2022-07-23 01:12] aarnphm commented on #2784
The issue will be tracked there and fixed when we release 1.0.1. Thanks for spotting this 😄

[2022-07-23 01:12] #2784 closed

[2022-07-23 01:13] aarnphm commented on #2751
This will be tracked at the corresponding feedstock.

[2022-07-23 01:13] #2751 closed

[2022-07-23 01:18] aarnphm commented on #2789
The progress will now be tracked and bugs will be fixed at #2797. Thanks for reporting this.

[2022-07-23 01:18] #2789 closed

[2022-07-23 01:43] aarnphm commented on #2733
Yet the image size a still pretty huge. We are still installing tools like curl, build-essentials to the target images

imo this is not needed.

[2022-07-25 11:39] crazyfrogspb opened #2805 "feature: Add IO Descriptor for DICOM files"
### Feature request

It would be great to add native support for DICOM inputs, there are a lot of ML applications in medical imaging nowadays. Now you would need to pass at as a file-object or convert it to numpy array and JSON with meta-data

### Motivation

Mode details in this [Reddit thread](https://www.reddit.com/r/mlops/comments/w4vl6r/comment/ih5og8e/?utm_source=share&utm_medium=web2x&conte

[2022-07-26 00:00] ssheng commented on #2788
Related issue, https://github.com/bentoml/benchmark/issues/1

[2022-07-26 09:08] zhuyaguang opened #2815 "bug: bentoml containerize failed"
### Describe the bug

![image](https://user-images.githubusercontent.com/8857976/180968915-3413c9b4-7104-432f-a712-8520622b7cb8.png)

### To reproduce

_No response_

### Expected behavior

_No response_

### Environment

`bentoml`: 1.0.0
`python`: 3.7.12
`platform`: Linux-4.15.0-177-generic-x86_64-with-debian-buster-sid
`uid:gid`: 1000:1000
`conda`: 4.13.0
`in_conda_env`: True
<details><summary><

[2022-07-26 09:42] parano commented on #2815
Hi @zhuyaguang - could you share your `bentofile.yaml` file?  Looks like it should fail validation but the error message wasn't super clear.

[2022-07-26 10:14] zhuyaguang commented on #2815
@parano

![image](https://user-images.githubusercontent.com/8857976/180982371-ea5d593b-7d94-486f-8fa5-a8328a03a3b6.png)

[2022-07-26 10:17] zhuyaguang commented on #2815
![image](https://user-images.githubusercontent.com/8857976/180983046-cfebb332-b24f-42ed-a870-8e76fb4260dd.png)

[2022-07-26 11:27] sugatoray commented on #2751
@aarnphm @parano bentoml was updated to `v1.0.0` on conda-forge just now. Give it 2-3 hours for the updated package to show up on conda-forge.

Please run the following command to check the available versions.

[code]

- https://anaconda.org/conda-forge/bentoml

[![Conda Version](https://img.shields.io/conda/vn/conda-forge/bentoml.svg)](https://anaconda.org/conda-forge/bentoml)

[2022-07-26 18:33] aarnphm commented on #2815
can you try running bentoml without sudo?

[2022-07-26 19:28] parano commented on #2815
@aarnphm why is that relevant?

[2022-07-26 19:31] parano commented on #2815
@zhuyaguang I noticed that when you run `sudo bentoml serve`, the log message says `Python 3.6`, while in your bento.yaml file, it is `Python 3.7`.

This error may be due to an older version of BentoML installed with your Python 3.6 environment, which is used when invoking `sudo`

[2022-07-27 00:10] zhuyaguang commented on #2815
@parano thanks,  the reason use sudo is docker without permission,  according to `gpasswd -a $user  docker`   we solve it !

[2022-07-27 00:32] parano commented on #2815
Great, thanks @zhuyaguang!

[2022-07-27 00:32] #2815 closed

[2022-07-27 03:08] yubozhao commented on #2805
Thanks for opening the issue here :)

[2022-07-27 03:16] yubozhao opened #2820 "bug: docker build issue with GCP"
### Describe the bug

Slack conversation: https://bentoml.slack.com/archives/CKRANBHPH/p1658851031266429

Deployed Yatai to GCP with config `dockerBuilder.priviledged=true`.
Encounter error:
[code]

### To reproduce

_No response_

### Expected behavior

_No response_

### Environment

BentoML 1.0

[2022-07-27 03:51] benjamintanweihao commented on #2820
Thanks for reporting the bug for me! Here's what I've tried so far:

`cat "$(bentoml get iris_classifier:e7q3gzam7sgyuh3p -o path)/env/docker/Dockerfile" > Dockerfile.template`

And try adding `mode=0777` but I still hit into the same thing.

[2022-07-27 09:35] fwindolf commented on #2405
I'd be willing to hop on this if you let me :)

Could I get a few pointers on where to start, what the expectations are besides the snippet (eg. how to deal with configuration for the deployment -> class/dict based)?

I've already implemented another standalone client (with very limited functionality) for a project that needed to get urls for relevant runners, so I think I have a general overview

[2022-07-28 07:50] aarnphm opened #2827 "bug: Exhaustive run during `bentoml build` on AzureDevOps"
### Describe the bug

cc https://bentoml.slack.com/archives/CKRANBHPH/p1658494302553029

TLDR: When running `bentoml build` locally, it works as expected. However, on AzureDevOps python agent, the process seems to hang.

### To reproduce

Current progress:
- I seem to be able to reproduce the hanging locally, it seems like a bad combo of the bentoml CLI and our anti-malware... I am able to run loc

[2022-07-28 09:34] jiewpeng opened #2829 "feature: allow user to specify URLs to exclude from tracing"
### Feature request

Currently, if tracing is enabled, traces are collected / sampled from all routes. There should be a way to disable tracing on certain routes, especially when a deployment on Kubernetes may have liveness and readiness probes pinging the deployment frequently. Since we cannot disable tracing on the liveness/readiness probe routes, many redundant traces get collected.

For exampl

[2022-07-28 10:12] aarnphm commented on #2829
I think your proposal makes sense. We would love to have you contribute this feature 🚀

[2022-07-29 13:28] jiewpeng commented on #2829
Alright, will try to work on it

[2022-07-29 22:55] parano commented on #2405
Hi @fwindolf, definitely welcome the contribution!

I assume you already have Yatai deployed and running?  If that's the case, the first starting point would be to take a look at the REST API implementation.

* go to `/swagger` path of your Yatai deployment and understand the deployment related REST APIs
* implement the corresponding REST API client in BentoML's Yatai REST client here: https://git

[2022-07-30 09:56] aarnphm commented on #2829
This issue now will be tracked at #2843.

[2022-07-30 09:56] #2829 closed

[2022-08-01 05:38] aarnphm commented on #2142
Development progress will be tracked at #2845 and hopefully will be included in the upcoming release.

[2022-08-01 05:38] #2142 closed

[2022-08-01 05:38] aarnphm commented on #2570
Development will be tracked at #2845 and will be included in 1.0.3 release.

[2022-08-01 05:38] #2570 closed

[2022-08-01 19:11] udevnl commented on #2267
Hi, people! Experiencing similar behavior here.
* OnnxRuntime using GPU on a resnet18-like model
* Using 64 concurrent requests

Running without `--production` gives around 200/sec.
Running with `--production` gives around 149.sec,
Running the same code without BentoML in a single thread using batches of 32 gives around 350/sec.

Observations:
* Non-`production` uses a single process
* `production

[2022-08-03 03:27] benjamintanweihao commented on #2820
Some updates!

I've discovered that the main issue seems to stem from the nodes using the Container-Optimized OS from Google. What I did:

1. Provision a node pool using the Ubuntu image instead of the default one and added the labels to the Ubuntu node pool
2. Took a failed `yatai-bento-image-builder-xxxx` and exported it, added `nodeSelector` and `tolerations`.

And it gets past step 8 and runs

[2022-08-03 08:10] fwindolf commented on #2405
Thanks for the pointers. I've taken a look and I think I'll be able to find my way into it.

I'll say hi in slack sometime today :)

[2022-08-03 08:27] darkking-park commented on #2602
@aarnphm
Thank you from the bottom of my heart.
I'll try using the link you gave me.

[2022-08-04 00:55] sauyon commented on #2267
Thanks for the detailed report @udevnl!

Just wanted to pop in here and let you all know that this is now being worked on, and performance is going to be much more of a priority moving forward.

We've managed to reproduce, and think we've found a major cause of this slowdown, and are working on fixing it right now.

[2022-08-04 03:16] yubozhao commented on #890
@Talador12 @alexdivet We are focusing on streaming and batching now after building a solid foundation with 1.0. Would love to hear any feedback.

[2022-08-04 04:48] benjamintanweihao commented on #2820
More updates! So I was successful in writing a mutating webhook that:

1. Looks for Yatai added labels specific to `yatai-image-bulder-xxx`
2. Adds the `nodeSelector` and `tolerations` to the PodSpec.

After that, whenever I do `bentoml push <model>`, the pods get scheduled on the Ubuntu node pool and the build runs successfully!

[2022-08-04 11:41] darkking-park opened #2860 "Error when using torch_hub_yolov5 Custom Mode"
### Describe the bug

I inquired about the issue before ==>   https://github.com/bentoml/BentoML/issues/2602

First of all, thank you so much for answering my inquiry and giving me a solution. https://github.com/bentoml/gallery/tree/main/custom_runner/torch_hub_yolov5

So I implemented your proposal.
I checked that it went normally if I did as you suggested.
[code]
### But Error occurs when runnin

[2022-08-04 18:53] chlee1016 opened #2861 "Import tensorflow takes too much memory"
### Describe the bug

`import tensorflow` takes too much memory for api server worker.
Please see the `RES` column.

Table 1. w/o import tensorflow
The memory takes about 85MB per api server worker.
[code]

Table 2. w/ import tensorflow
The memory takes about 870MB per api server worker.
[code]

I know that I can make the tensorflow model as a runner, but I want to run simple preprocessing logic a

[2022-08-05 01:02] aarnphm commented on #2861
Thanks for the mock. I will take a stab at it.

[2022-08-05 04:45] sauyon commented on #2267
We've just merged #2267, which should speed things up quite a bit, especially for models with larger input. While I think there's still a little bit of room to improve everywhere in terms of speed, at the very least production throughput should be faster now than development.

Would you be able to try out the changes on the main branch? Or alternatively I'd be happy to ping you when we release thi

[2022-08-05 09:46] udevnl commented on #2267
Thank you for looking into this so quickly! Just did some benchmarks  - I installed the merge using `pip install git+https://github.com/bentoml/BentoML.git` and double checked the updated source in site-packages. Given the same experimental setup:
- non-`production` throughput ~210/sec
- `production` throughput ~210/sec

It looks like the throughput is now similar in production, nice!

I did some

[2022-08-05 12:06] aarnphm commented on #2267
Thank you so much for the detailed profiling @udevnl. We are actively working to address this problem. Would still love to hear more about the experiments 🎉

[2022-08-07 10:22] #2678 closed

[2022-08-09 12:07] parano commented on #2861
@chlee1016 I think in this case, it makes more sense to run this logic in the Runner process, you can actually add custom pre/post-processing logic to a model runner following this example: https://github.com/bentoml/BentoML/pull/2885

[2022-08-09 22:42] parano commented on #2860
@darkking-park does it work if you run `torch.hub.load("ultralytics/yolov5", 'custom', path='my_custom_yolov5_model.pt', force_reload=True)` in a python shell?

[2022-08-09 22:48] ssheng commented on #2267
@udevnl Thanks for your help with benchmarking BentoML performance. If neither CPU nor GPU is saturated, the bottleneck could be in the API or Runner code itself. Here are common pitfalls to watch for.
- Not using async API function definition. This could cause the API function to become the bottleneck.
- Having CPU intensive compute in the runner. Since the runner is a singleton, having CPU inten

[2022-08-10 01:00] darkking-park commented on #2860
@parano
The python flask is in use as below.
[code]

### I want to use bento rather than flask

[2022-08-10 02:37] parano commented on #2860
@darkking-park were you able to run the example with a brand new torch hub model downloaded from the git repo?

Where did you put the `'my_custom_yolov5_model.pt` file? is it under the same directory?

[2022-08-10 04:42] ssheng opened #2888 "Add configuration option for runner timeout"
Long model inference request could timeout the current runner request. Runner timeout is currently hardcoded at 5 minutes. We should make the runner timeout value configurable. SageMaker deployment through bentoctl can generate the configuration with an updated timeout value during build.

[2022-08-10 06:32] darkking-park commented on #2860
@parano
### were you able to run the example with a brand new torch hub model downloaded from the git repo?
https://github.com/ultralytics/yolov5
With the pretrained model in this github, I trained it myself and worked on it based on the github contents below.
https://github.com/ultralytics/yolov5/issues/36
![image](https://user-images.githubusercontent.com/59048315/183831202-77d3d917-5bd9-4553-9f

[2022-08-10 08:52] aarnphm commented on #2861
From the quick look at your mock @chlee1016, I notice that you are creating a session lazily. I believe this is the root cause of tensorflow taking a lot of memory. Since `bentoml` spawns multiple `api_workers`, this means that multiple session will be spawned, which leads to increase in memory.

I would suggest you try out Chaoyu recommendation.

Also a sidenote, since [`tf.Session`](https://www.

[2022-08-10 08:53] aarnphm commented on #2820
Can you try out the latest change on the `main` branch?

[2022-08-10 10:05] aarnphm opened #2889 "feat(docker): passing templates via configuration"
### Feature request

Supporting passing custom dockerfile templates via `bentofile.yaml`:
[code]

### Motivation

This is a QOL for users who want to put their dockerfile templates inside the yaml file like so.

Implementation details:
- user custom dockerfile templates will be parsed [here](https://github.com/bentoml/BentoML/blob/e88db356b31e64dbe78c9f58a85b8e9e70b89901/bentoml/_internal/bento/ge

[2022-08-10 16:49] yubozhao opened #2891 "feature: PySpark model support"
### Feature request

Request from slack DM

I would like to save pyspark model with bentoml.

A suggested workaround right now is to use a custom runner.

### Motivation

_No response_

### Other

_No response_

[2022-08-10 18:01] parano commented on #2860
@darkking-park it seems to me it's an issue with torchhub local cache or an issue with the model path and project path. It would be helpful if you could try setup everything from scratch and share us steps to reproduce, or I'd be happy to hop on a zoom call to help with debugging the issue, feel free to ping me in our slack channel if you'd like to do that.

[2022-08-12 03:41] #2770 closed

[2022-08-12 18:50] ssheng opened #2900 "feat: Include custom FastAPI endpoint in the Swagger UI"

[2022-08-12 22:13] aarnphm commented on #2900
This can be done by reading https://github.com/tiangolo/fastapi/blob/5c576e42be8f8832f0e225beaa72153a256892d7/fastapi/applications.py#L197 and merge with BentoML [generated OpenAPI spec](https://github.com/bentoml/BentoML/blob/a48d83e07f04a881c4550ca652d1e80309fbbbf4/bentoml/_internal/service/service.py#L196)

Would love for community to contribute on this feature 🎉

[2022-08-16 13:21] #1597 closed

[2022-08-16 20:58] hellkrusher opened #2911 "feat: support for different OCI build tools backend"
### Feature request

Build the docker file with podman build or buildah.

### Motivation

Docker is a paid product for most commercial uses. podman or buildah are open source.

### Other

_No response_

[2022-08-17 03:55] ssheng opened #2913 "feat: Dynamic padding based on adaptive batching"

[2022-08-17 06:25] benjamintanweihao commented on #2820
@aarnphm Thanks! I shall give this a try. Is there a commit associated with the fix?

[2022-08-17 10:27] aarnphm opened #2916 "feat(containerize): support custom ports"
### Feature request

The ports specified in custom `bentoml_configuration.yaml` should be persistent with the generated dockerfile.
[code]

Since `--config` is a global option:
[code]
This port will have no effect on the generated Dockerfile, and hence the exposed ports would not be correct.

The same arguments applies if `BENTOML_PORT` envar is set

### Motivation

Current workaround is
[code]

C

[2022-08-17 10:38] aarnphm commented on #2820
Sure, f9997c559496f808d957e3344e50be99de5bca50

[2022-08-17 17:28] yubozhao commented on #2911
Just curious, @hellkrusher. Is this a requirement for your org?

What do you think about this? @ssheng

[2022-08-17 17:34] dbuades opened #2917 "feat(tracing): add support for otlp exporter"
### Feature request

Currently, traces are collected using OpenTelemetry.
However, when it comes to exporting, we can only export to a Zipkin or Jaeger server.
This feature would allow a user to export traces using the OTLP exporter directly.

### Motivation

Although Zipkin and Jaeger are widely used, the [OTLP exporter](https://opentelemetry.io/docs/reference/specification/protocol/exporter/) re

[2022-08-17 18:43] parano commented on #2911
Had a quick chat with @aarnphm about this - I think Yatai already uses Podman in our image builders on kubernetes, but requires some hacking into the Bento's files. Ideally we should support it via the `bentoml containerize` CLI command and allow users to choose the backend.

[2022-08-17 20:40] rajatjatana commented on #2911
This would be a nice feature to have. My organization is currently trying to use bento (with yatai) and shifting away from docker in favour of podman.

[2022-08-18 05:10] #2787 closed

[2022-08-18 10:03] #1499 closed

[2022-08-18 16:13] rajatjatana opened #2922 "bug: sklearn import issue while trying to create service"
### Describe the bug

I am trying to create a service using the quickstart guide and getting issues around sklearn -

[code]

# To reproduce

1. Create a conda environment (python= 3.9.12) and install the following requirements.
I am using pyenv to manage different environments of python
[code]

2. Create the model using the following code-
[code]
``` bentoml models list``` shows the model I creat

[2022-08-18 16:57] aarnphm commented on #2922
You might run into cases where scikit learn is not installed on the same environment as your bentoml installation.

[2022-08-19 04:56] nextauthn opened #2923 "feature: Change the way Dynamic Batching is used"
### Feature request

I tested the queue has a performance impact, you can consider using shared memory for Dynamic Batching. python 3.8 supports shared memory.

### Motivation

_No response_

### Other

_No response_

[2022-08-19 19:30] parano commented on #2916
is there a real use case for this feature? Users can already customize the port when running the container:

[code]
or
[code]

Note that the Dockerfile command `EXPOSE 3000` doesn't do anything at all. It just serves as documentation, indicating the default port.

[2022-08-19 19:30] #2916 closed

[2022-08-19 20:53] ssheng commented on #2911
Makes sense to support different OCI builders. We can consider adding an argument in containerize to allow selection of building. @hellkrusher @rajatjatana How urgent is this for your organization?

[2022-08-21 06:21] #2917 closed

[2022-08-23 19:26] smidm commented on #2267
I'm also affected, but the development version has not fixed the issues. I'm measuring time spent on the computation in custom runners (directly in the runners) and the actual calls of the runners in the API function. In the dev setting `serve --reload` are the measurements the same: the overhead between API and runners is negligible. In the `serve --production` setting there is a 10 ms hit betwee

[2022-08-24 12:21] #2888 closed

[2022-08-24 19:01] yubozhao commented on #2923
@nextauthn can you elaborate more?  I would like to learn your tests and see how we can improve. @larme

[2022-08-26 18:36] #2785 closed

[2022-08-27 00:24] ssheng opened #2947 "feat: EasyOCR framework support"

[2022-08-28 13:05] tibor-mach commented on #2827
I am experiencing a very similar issue. I am simply trying to build the bento from the [tutorial](https://docs.bentoml.org/en/latest/tutorial.html).

I tried it locally on Manjaro linux, then in a devcontainer with Ubuntu 20.04.

It hangs (and uses the CPU fully), `--debug` returns nothing, there are no error logs or anything. I tried completely deleting `bentoml` from the local environment and re

[2022-08-29 01:33] sdf94 commented on #2793
How does this one differ from https://github.com/bentoml/BentoML/issues/666?

[2022-08-29 02:42] aarnphm commented on #2793
We had spark mllib support prior to 1.0, and currently we have redesigned the infrastructure for BentoML, and Spark MLlib support has not yet been migrated.

[2022-08-29 15:53] asafalina opened #2950 "bug: `bentoml --version` fails after `pip install -e .`"
### Describe the bug

Following the [developer guide](https://github.com/bentoml/BentoML/blob/main/DEVELOPMENT.md), I tried to install bentoml using `pip install -e .`. Then I tried to validate the installation using `bentoml --version`, however I'm getting the below error:

[code]

Looking at the output of the `pip install -e .`, it appears that an old bentoml version (`bentoml-0.0.post1918+g3de0

[2022-08-29 18:37] aarnphm commented on #2950
can you do `git fetch upstream --tags` then try again?

[2022-08-30 13:37] OlivierBondu commented on #2827
Hi guys,

as discussed on slack, I confirm here that this behaviour was due to a virtualenv folder laying around... and that ended up being crawled by bentoML, taking forever (>1h) and causing the entire job to timeout.
Putting the virtualenv outside of the build context (parent directory) solved the issue and the command runs successfully in a couple of seconds as expected.

Probably some improve

[2022-08-30 16:43] mqk opened #2954 "feature: yatai GUI should recognize bento deployments that weren’t deployed via yatai"
### Feature request

I would like it if yatai recognized bento deployments that were created outside of the yatai GUI.

### Motivation

In our organization we limit deploys of bentos via yatai GUI to the dev environment. In higher environment we instead enforce a gitops-style of deploys. In this set up, we have a repo (bentoml-config) in which we manage all k8s configuration files (pretty much jus

[2022-08-30 16:49] mqk opened #2955 "feature: allow runner signatures without arguments"
### Feature request

I would it if runner signatures could be called without an `input_data` argument.

### Motivation

We want to be able to access the feature names from a trained LightGBM classifier. The model has a method called `feature_name()` on it (https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Booster.html#lightgbm.Booster.feature_name). We tried to add a signature for it to

[2022-08-30 16:53] rajatjatana commented on #2922
This was resolved. Looks like the problem was my system confusing with the environments.

[2022-08-30 16:53] #2922 closed

[2022-08-30 16:56] OlivierBondu opened #2956 "--tag option does not exist"
https://github.com/bentoml/BentoML/blob/ddcb764936704b6c60c412b7e510f9133d17357f/bentoml_cli/containerize.py#L203-L209

[2022-08-30 16:56] OlivierBondu commented on #2956
as per title: the CLI option seems to be `--docker-image-tag` instead, the inline documentation looks outdated

[2022-08-30 18:50] parano commented on #2956
Thank you for reporting the issue @OlivierBondu!

[2022-08-31 00:14] ssheng commented on #2955
Thanks for reporting this issue, @mqk . I don’t think there is a strong requirement for runner method to have at least one argument. cc: @bojiang

[2022-08-31 00:23] parano commented on #2955
Thanks for the feedback @mqk!

Another approach is to save the feature names in the model's `custom_objects` field, here's an example: https://github.com/bentoml/BentoML/tree/main/examples/sklearn/pipeline

[code]

[code]

[2022-08-31 03:23] mqk commented on #2955
Thanks both. `custom_objects` is an interesting suggestion, @parano. Thanks, I'll investigate that solution. Still think it might be useful to allow users to expose methods on the model that don't require input.

[2022-08-31 03:33] ssheng opened #2958 "feat: Expose the underlying `request` object in the API"
Exposing the request object, potentially in the `context`, allows users to decorate functions with `@requires` for authentication offered by Starlette. https://www.starlette.io/authentication/#authcredentials

[2022-08-31 03:58] sauyon commented on #2955
It's worth noting that the runner architecture is really designed for processes that are compute-heavy, and in most cases like this one it's pretty likely that using a runner will add unnecessary overhead to your service. Precomputing the values and storing it in the custom objects should be much more efficient.

While I do think we might want to support this eventually for some use case (random n

[2022-08-31 04:30] mqk commented on #2955
Thanks, that makes sense, @sauyon. I'm fine with closing this issue.

[2022-08-31 14:46] sauyon commented on #2955
I think we're ok with leaving this one open since we do intend to do this eventually, it definitely makes sense to have eventually! Just wanted to let you know that we wouldn't be prioritizing it and why.

/cc @parano just in case

[2022-08-31 20:38] ssheng opened #2960 "feat: restrict mime types on Image IO descriptor"
Allow only a subset of image mime types and reject the rest.
[code]

[2022-09-01 04:16] yetone commented on #2954
@mqk Yatai has this feature at the beginning of the birth, it may be where there is an error, you can check out yatai-deployment-operator's log:

[code]

[2022-09-01 20:23] creativedutchmen opened #2963 "feature: move model name & bentoml from prefix to label in metrics"
### Feature request

Currently the metrics in the `/metrics` endpoint looks like:
```BENTOML_iris_classifier_request_duration_seconds_sum{endpoint="/",http_response_code="200",service_version="xwr3c7rjzgmb2lrj"}```
So with the BENTOML and model name prefix. I would like the structure to look like this:
```request_duration_seconds_sum{endpoint="/",http_response_code="200",app_name="bentoml",model_n

[2022-09-01 20:40] parano commented on #2963
Thanks for the suggestion @creativedutchmen, I really like this approach.

@ssheng @bojiang, what do you think? I believe this will simplify how users can create Grafana dashboards for Yatai deployment as well. My only concern is that this will be a breaking change and may break users' existing dashboards. We may want to figure out a way to be backward compatible or provide documentation on how to

[2022-09-02 03:22] ssheng commented on #2960
Potentially extend the validation to all IO descriptors for mime_types.

[2022-09-02 03:55] ssheng commented on #2312
- Configuration should be versioned
- Configuration should be mapped to environment variable names

[2022-09-02 04:08] ssheng commented on #2963
@creativedutchmen thanks for the suggestion. This came in at the perfect timing. We encountered the same problem creating dashboard for Yatai. The team discussed today and decided to emit two sets of the metrics to solve the problem with dashboards and maintain backward compatibility.

Legacy metrics:
[code]

New metrics:
[code]

Both sets of the metrics will be supported until we can phase out th

[2022-09-02 06:46] creativedutchmen commented on #2963
Wow that is quick, thanks! If I can do anything to help let me know :)

[2022-09-02 08:29] benjamintanweihao commented on #2954
I just tested this on my end (i.e. deploying a `BentoDeployment` YAML via CI/CD) and I'm able to see the deployment on the UI. @mqk what does `kubectl get bentodeployment -A` show?

[2022-09-02 09:58] smidm opened #2966 "feature: add traceback to service import error"
### Feature request

when `bentoml serve <bento> --debug` fails on bento import the error message is not helpful:

[code]

It should show the ImportError traceback, at least in --debug mode.

I had to resort to:
[code]

### Motivation

easier debugging import errors while serving bentos

### Other

_No response_

[2022-09-02 15:25] mqk commented on #2954
Looks like this is due to some kind of misconfig on our end.

I'm OOO through Monday. Will update on Tuesday.

Thanks!

Mike

On Fri, Sep 2, 2022, 1:29 AM Benjamin Tan Wei Hao ***@***.***>
wrote:

[2022-09-02 20:25] hellkrusher commented on #2911
@ssheng, We currently do not have a way to containerize using bentoml due to the docker restriction. podman has an alias for `docker buildx` but removing the buildx check from  `_internal/utils/buildx.py` only gets so far:
`
$ bentoml containerize --no-cache  --verbose knn:latest
Building docker image for Bento(tag="knn:szd4wsq5pcoq2usu")...
Emulate Docker CLI using podman. Create /etc/containers/

[2022-09-05 13:32] asafalinadsg opened #2967 "feature: test bento bundle"
### Feature request

Bentos are a great way to collaborate, as they are self-contained and can be converted to virtually anything - loaded in Python as used as runners, converted to docker images or converted to anything else through an automated process that fits your organization need. This makes Bentos a great interface between data scientists and engineers, where the data scientists builds the

[2022-09-06 07:09] ssheng commented on #2963
@creativedutchmen Thanks for offering to help. Would be great to have your review on https://github.com/bentoml/BentoML/pull/2969.

[2022-09-06 20:02] aarnphm commented on #2820
https://github.com/moby/buildkit/issues/879 😮‍💨

[2022-09-07 00:24] cateto commented on #2316
it still happens.

[code]

[2022-09-07 02:16] blaizeb-at-x opened #2970 "bug: io import errors on versions 1.0.4 and 1.0.5"
### Describe the bug

When I run the [BentoML Tutorial](https://docs.bentoml.org/en/latest/tutorial.html) with versions `1.0.4` or `1.0.5`, the `bentoml serve service:svc` command hangs. On `1.0.3` it works as expected. I did notice that in moving from `1.0.3` to later versions, the host of the URI that the logs point you changed from `127.0.0.1` to `0.0.0.0`.

### To reproduce

1. Create a direct

[2022-09-07 02:27] ssheng opened #2971 "feat: fractional GPU support"

[2022-09-07 02:58] aarnphm commented on #2316
Are you setting `BENTOML_DEBUG` environment variable?

[2022-09-07 03:00] aarnphm commented on #2970
This is due to having two instance of bentoml. You can try uninstall bentoml in outside of the env, and try again.

[2022-09-07 03:34] blaizeb-at-x commented on #2970
I don't have `bentoml` installed outside of the `venv`. Once I `deactivate`, running `which bentoml` results in `bentoml not found`.

[2022-09-07 04:35] aarnphm commented on #2970
I follow your reproduction step and I didn't encounter issue with 1.0.4 🤔

Can you send the output of `printenv | grep bentoml`?

[2022-09-07 14:29] blaizeb-at-x commented on #2970
I get nothing in the output of that. Could this be related to being on the new Macbook with the ARM chips or are you on the same platform?

[2022-09-07 14:45] creativedutchmen commented on #2963
The naming looks great, exactly what I would have expected :)

[2022-09-07 19:31] aarnphm commented on #2970
I'm using M1 mac atm. That command just to show whether you have any bentoml environment setup.

[2022-09-08 02:35] sauyon commented on #2970
Would you be able to send a built copy of the Bento you're trying to run?

You should be able to get it with `bentoml build .` and then `bentoml export <tag from build>`.

[2022-09-08 02:37] sauyon opened #2972 "Optional Multipart Fields"
### Feature request

We should support multipart fields that are optional, and arbitrary multipart fields.

Maybe something like:

[code]

### Motivation

_No response_

### Other

_No response_

[2022-09-08 02:42] sauyon opened #2973 "feature: Union of IO descriptors"
### Feature request

There should be some way to returning multiple types of data from the same endpoint.

Possible implementation:

[code]

### Motivation

_No response_

### Other

_No response_

[2022-09-08 07:40] creativedutchmen opened #2975 "feature: make it easier to override / set fields in the openapi docs"
### Feature request

I would like if I could set details that are relevant to our organisation in the openapi docs for my models (contact information, summary, git link) without having to wrap the bento in another API.

### Motivation

When consumers of my API visit the docs for my deployed models, they don't care that I used BentoML to deploy the model - they want to know what the model does, how

[2022-09-08 07:55] aarnphm commented on #2973
I was thinking about
[code]

[2022-09-08 07:57] aarnphm commented on #2975
I think it is a great idea for user to override these fields. However, I'm a bit more hesistant for putting this into bentofile.yaml

FastAPI does allow user to extend [OpenAPI](https://fastapi.tiangolo.com/advanced/extending-openapi/), but I think if we want to design this feature we would probably will provide a Python API for this. What do you think?

[2022-09-08 07:58] aarnphm commented on #2972
It could look like:
[code]

[2022-09-08 08:12] creativedutchmen commented on #2975
We already allow some of it to be overwritten in the bentofile though, by setting `description` for instance, so having it in one place makes sense to me.

But yeah, if the goal is to allow much more customisation, then python is the way to go. (I would _love_ to be able to replace the BentoML docs with a version that doesn't include google tag manager, for instance)

[2022-09-08 08:49] ssheng commented on #2966
@smidm Thanks for reporting this issue. We will look to address it in the next release.

[2022-09-08 08:50] aarnphm commented on #2975
I believe this would be also a great features for community contribution. I would love to help you with desigining this if you are interested in contributing. We also have #2900 that also touches a bit of OpenAPI.

[2022-09-08 08:55] ssheng commented on #2956
Thanks for reporting, @OlivierBondu. The issue has been fixed and will be included in the `v1.0.6` release.

[2022-09-08 17:11] blaizeb-at-x commented on #2970
Happy to send that, but am currently out of office until Monday. Will get it to you then. Thanks!

[2022-09-11 19:43] ramtiin opened #2979 "bug: It's not possible to save fastai models"
### Describe the bug

I want to save a fastai model in the bentoml form on google colab, but I get **module 'cloudpickle' has no attribute 'Pickler'**

### To reproduce

**Codes:**
[code]

`bentoml.fastai.save_model("fastai_sentiment", learner)`

or

[code]

**Result:**
[code]

### Expected behavior

The model should be saved correctly in Bentoml form.

### Environment

Google Colab
fastai: 2.7.9

[2022-09-11 20:19] aarnphm commented on #2979
cc @larme

[2022-09-12 19:24] gustavocidornelas opened #2983 "feature: add support for XGBoost models trained using the XGBoost scikit-learn interface"
### Feature request

I would like to use BentoML to save and deploy XGBoost models that were trained using the scikit-learn learn interface of the XGBoost model.

### Motivation

I'm trying to save an XGBoost model using BentoML. I'm using the [scikit-learn interface](https://xgboost.readthedocs.io/en/stable/python/python_api.html#module-xgboost.sklearn) of the XGBoost module, so my final model is

[2022-09-12 21:28] aarnphm commented on #2983
Hi @gustavocidornelas, I believe the support for sklearn interface are straightforward, I will work on this and get back to you asap.

[2022-09-12 22:20] aarnphm opened #2985 "ci: broken CI"
### Describe the bug

#2808 introduces gRPC features, (read more on the PR description)

#2984 will introduce tests to fix this.

[2022-09-12 22:21] #2985 closed

[2022-09-12 22:26] aarnphm opened #2986 "feature: configuration versioning"
### Feature request

Configuration are versioned

#2808 introduces a lot of migration fields for gRPC support, #2984 introduces some configuration refactoring, but `bentoml_configuration` should be versioned and overhaul.

Schema validation should co-exist for multiple configuration version.

### Motivation

_No response_

### Other

_No response_

[2022-09-12 22:27] aarnphm opened #2987 "grpc: specific content type"
### Describe the bug

Currently, content type for grpc are being set via our interceptor to `application/grpc`. While this conform with gRPC standard, this is not really useful for sysadmin. We should specify the correct CONTENT_TYPE for any given request.

Currently each io descriptor as `_rpc_content_type`, this should be specific to each IO descriptor.

Access log should use this to determine t

[2022-09-12 22:36] aarnphm opened #2988 "grpc: exception handling"
### Feature request

Exception raised via IO descriptor should be `ValueError` instead of currently implemented `InvalidArgument`.

Since `InvalidArgument` eventually end up throwing a server error, this would be a bit awkward when handling exception on the client side.
If these error happens during server runtime, then we should raise Server exception there.

### Motivation

_No response_

### Ot

[2022-09-13 00:57] #2966 closed

[2022-09-13 00:58] aarnphm commented on #2966
@smidm Thanks for reporting once again, and this will be included in the next release.

[2022-09-13 03:21] ssheng commented on #2405
@fwindolf How's the progress on this? Any help we can provide?

[2022-09-13 07:41] fwindolf commented on #2405
Hey, I've been working on it and made some progress. But then I left for vacation and haven't touched it since due to shifted prios in the company, but it will probably get to it on friday. Am I blocking someone here?

[2022-09-13 09:19] ssheng opened #2989 "bug: incorrect tracing when batching is enabled"
When batching is enabled, runner’s `/receive` span and any subsequent spans created in the service are always attributed towards the first trace id. The the trace of the first request will indefinitely grow as new requests arrive.

[2022-09-13 09:25] ssheng commented on #2405
@fwindolf, thanks for the update. No you are not blocking anyone. Just that we'd like to extend our help if needed. Looking forward to your PR.

[2022-09-13 11:12] aarnphm opened #2991 "chore: tracking for gRPC"
### Feature request

Prometheus interceptor has some difference in metrics implementation, hence we should revisit analytics once more.

### Motivation

_No response_

### Other

_No response_

[2022-09-13 22:22] aarnphm opened #2992 "grpc(io): support custom mime type"
Currently we have an enum field to determine a file type to support. Under the hood, this is merely a mapping to a coressponding mime type.

However this prevents user from putting custom mime type

A proposed solution is to make the file type a text instead of a enum.

[2022-09-13 22:31] aarnphm opened #2993 "feature(io): pandas validation"
### Feature request

Currently pandas IO descriptor doesn't have any validation in `from_http_request` and `to_http_response`

It should.

### Motivation

_No response_

### Other

_No response_

[2022-09-13 22:33] aarnphm opened #2994 "grpc(io): PandasSeries `from_proto` and `to_proto`"
### Feature request

implement `from_proto` and `to_proto` for PandasSeries

### Motivation

_No response_

### Other

_No response_

[2022-09-14 00:47] parano commented on #2989
Is this addressed in https://github.com/bentoml/BentoML/pull/2977?

[2022-09-14 22:46] aarnphm opened #2998 "feature: accepts multiple proto IO fields"
### Feature request

IO descriptor should have ability to accept multiple proto fields.

### Motivation

_No response_

### Other

_No response_

[2022-09-14 23:58] aarnphm opened #3000 "grpc(io): support numpy ndarray fields for PandasDataFrame"
### Feature request

PandasDataFrame support for `ndarray` proto field.

### Motivation

_No response_

### Other

_No response_

[2022-09-15 00:19] aarnphm opened #3001 "grpc: SSL support"
### Feature request

ssl support for gRPC.

### Motivation

_No response_

### Other

_No response_

[2022-09-15 05:03] aarnphm opened #3002 "feature(protobuf): C++ implementation on MacOS"
### Feature request

Currently, we are using protobuf<3.20. For MacOS which by default it uses a Python implementation of all message container.
[code]

Probably we want to use C++ implementation for better speed

### Motivation

_No response_

### Other

_No response_

[2022-09-15 21:05] sauyon opened #3006 "testing: more robust multipart IO descriptor tests"
Todo after the e2e testing rework goes in.

[2022-09-16 00:49] cristozz opened #3007 "ONNX Runner Only return first of the outputs!"
https://github.com/bentoml/BentoML/blob/28f0bc320637851a158cafaed90ef15bb87fe82a/bentoml/_internal/frameworks/onnx.py#L415

I have a onnx model that have two outputs ['label', 'probabilities'] but when i use RUN only return 'label' values, and i dont see any configuration to return all outputs.

[2022-09-16 08:59] ssheng commented on #2989
No but https://github.com/bentoml/BentoML/pull/2996 is intended to address it.

[2022-09-16 22:39] aarnphm commented on #703
Hi all, I'm happy to say that gRPC support has been merged into `main` via PR #2808. We will include this in the next release as an experimental feature.

[2022-09-16 22:39] #703 closed

[2022-09-16 22:49] #2983 closed

[2022-09-18 10:07] #2950 closed

[2022-09-19 13:40] francobocciDH commented on #2267
Hey! I did not get the second point about "Having CPU intensive compute in the runner". The runner will execute the inference if I got it correctly; that is CPU bound. So, a CPU bound operation should be definitely performed on a runner, if I got it right... 🤔

[2022-09-20 05:51] aarnphm opened #3021 "io/image: support write-only for sending request"
### Feature request

Image IO should support write-only for sending request.

### Motivation

_No response_

### Other

_No response_

[2022-09-20 23:25] aarnphm commented on #3021
addressed by #3024

[2022-09-20 23:25] #3021 closed

[2022-09-21 04:06] ssheng opened #3029 "feat: Cascade readiness and liveness checks to runners in the same container"
Health check endpoints, e.g. `/readyz`, `/livez`, on the API server and runner are limited to checking the health of the processes. Ideally, health check to the API server should be cascaded to the runners deployed in the same bento container.

[2022-09-23 00:13] mqk commented on #2954
We have this working now.

[2022-09-23 00:13] #2954 closed

[2022-09-26 08:47] Max-Rubino opened #3037 "bug: ran out of resources with --production flag"
### Describe the bug

When i run the bentoML CLI with the --production flag then all the cpus and ram are running out of resourses.
![image](https://user-images.githubusercontent.com/57390521/192227984-339bde98-7149-47ce-a57c-8012f9cdcd55.png)

I did several experiments also with the  [Intro Tutorial](https://docs.bentoml.org/en/latest/tutorial.html)  and I have the same problem, but only for firs

[2022-09-26 20:05] quandollar commented on #3029
On it!

[2022-09-26 22:36] aarnphm commented on #2792
Context: we are currently handling prometheus metrics via [`PrometheusClient`](https://github.com/bentoml/BentoML/blob/fc39429c04b2dd5b44d8127ab07cc06fff54e93f/bentoml/_internal/server/metrics/prometheus.py), which is accessed via [`BentoMLContainer.metrics_client`](https://github.com/bentoml/BentoML/blob/266b131d28a7865d3385d92748928273f2f68db4/bentoml/_internal/configuration/containers.py#L437)

[2022-09-27 11:21] aarnphm opened #3039 "feature(grpc): protobuf backward compatibility layer"
### Feature request

[protobuf > 4](https://github.com/protocolbuffers/protobuf/issues/10051#issuecomment-1138671075) introduces a lot of breaking changes, therefore to ease the transition, I propose to have two sets of generated service stubs.

We lazy load all of our stubs imports via `import_generated_stubs`. I believe we can do one more step here:

If protobuf >4, it should be able to use the

[2022-09-27 20:49] #2991 closed

[2022-09-28 17:39] #2989 closed

[2022-09-28 17:39] #2960 closed

[2022-09-28 17:39] #2963 closed

[2022-09-29 08:50] benjamintanweihao opened #3048 "bug: bentoml push should fail if there's MinIO errors"
### Describe the bug

When there are MinIO errors, `bentoml push` seems to fail silently:

[code]

### To reproduce

_No response_

### Expected behavior

What I would have expected would be `bentoml push` exit and the subsequent command (i.e. `bentoml list`) not to execute.

### Environment

bentoml: 1.0.5
environment: GKE

[2022-09-29 19:16] aarnphm commented on #2970
Hi @blaizeb-at-x, I was unable to reproduce this. Can you try out the latest release and see whether you run into this issue?

[2022-09-30 07:16] Matthieu-Tinycoaching opened #3055 "feature: Integration of CTranslated2 library into bentoML"
### Feature request

Hi,

It would be nice to enable CTranslate2 inference within bentoML (https://github.com/OpenNMT/CTranslate2). This library implements a custom runtime that applies many performance optimization techniques such as weights quantization, layers fusion, batch reordering, etc., to [accelerate and reduce the memory usage](https://github.com/OpenNMT/CTranslate2#benchmarks) of Transf

[2022-09-30 13:36] Matthieu-Tinycoaching commented on #3055
Hi,

I managed to make a bentoml service worked on my local machine with custom runner indeed.

However, how could I use adaptive-batching since I cannot enable batching for the target model signature during `save_model`, which doesn't exist for this framework....

I tried to specify `@bentoml.Runnable.method(batchable=True)` in the custom runner class but this didn't work. Is there any way to act

[2022-09-30 14:24] samhita-alla opened #3056 "TypeError: argument of type 'Model' is not iterable"
I've been trying to send a pre-trained PyTorch lightning model to bentoml's `save_model` method and it errors out:

[code]
[code]

I'm unable to get past this issue. How do I resolve it?

[2022-10-03 13:29] Matthieu-Tinycoaching opened #3061 "bug: TypeError: cannot pickle 'ctranslate2.translator.Translator' object"
### Describe the bug

I have used the CTranslate2 inference within bentoML (https://github.com/OpenNMT/CTranslate2) with custom runner.

This library implements a custom runtime that applies many performance optimization techniques such as weights quantization, layers fusion, batch reordering, etc., to [accelerate and reduce the memory usage](https://github.com/OpenNMT/CTranslate2#benchmarks) of T

[2022-10-03 20:40] aarnphm commented on #3061
`external_modules` can fix this issue here.

[code]

[2022-10-05 02:31] adrianlyjak commented on #2827
ah, I had the same problem. Might still be an opportunity here to improve something about this experience that makes the problem more obvious:
Perhaps
- logging something about file processing periodically after a threshold of time is passed
- improving whatever the bottleneck is here about analyzing the imported python from the venv directory. This is a fairly small project, that just has a few d

[2022-10-05 06:08] aarnphm commented on #2827
I will reopen this issue and @jjmachan can you take a look at this when you have time?

[2022-10-06 00:12] #2792 closed

[2022-10-06 00:14] aarnphm opened #3071 "doc(advanced): `bentoml.metrics`"
Create a documentation on how people can use `bentoml.metrics` API

- Add examples during service
- Custom metrics for Runnable
- Adding additional metrics interceptor for gRPC.

[2022-10-06 00:17] aarnphm commented on #3037
Hi @Max-Rubino, can you send us the output of `bentoml env` as well as the bento?

you can export the bento with `bentoml export my_bento:latest`

[2022-10-06 14:51] aarnphm opened #3072 "bug(grpc): failed to enable reflection inside docker container"
### Describe the bug

After containerize, `--enable-reflection` doesn't register reflection servicer when configuration value is specified
[code]

### To reproduce

- Containerize any built bento

[code]

### Expected behavior

Reflection should be enabled, and gRPCurl should be usable, instead
[code]

### Environment

`bentoml`: 1.0.7.post8+gfac47377.d20221006
`python`: 3.10.4
`platform`: macOS-1

[2022-10-06 15:44] aarnphm opened #3073 "bug(grpc): trace doesn't get exported to jaeger"
### Describe the bug

Running `serve-grpc --production` only yields span if `serve --production` is called before hand.

### To reproduce

1. Configure `bentoml_configuration.yaml`:
[code]
2. Run jaeger:
[code]
3. Run `bentoml serve-grpc --production`
4. access jaeger UI at localhost:16886

### Expected behavior

Trace should be exported when receiving request to gRPC server.

### Environment

`be

[2022-10-06 16:13] #3073 closed

[2022-10-07 08:21] petcai commented on #3007
Hi guys, I am wondering whether we have any progress on this issue. Thanks

[2022-10-07 13:18] tomomonta commented on #2911
Just wanted to bump this.

We are in the same boat as [rajatjatana](https://github.com/rajatjatana). Want to use bento with yatai, but we need to use Podman.

[2022-10-07 15:24] aarnphm commented on #2911
Alright. It seems like folks want this feature. I will take a look at this.

[2022-10-08 00:35] qu8n opened #3077 "feature: Make the timeout of health probes configurable"
After this [PR](https://github.com/bentoml/BentoML/pull/3050) is done, API health checks will be added to runners in the same container, and health check requests to the server will have a timeout of 5s which is modeled after k8s. Ideally, we want to make this timeout value configurable by the users.

[2022-10-08 03:08] adrianlyjak commented on #1642
Running into this as well. Seems like something could be improved, either in documentation, or perhaps somehow in the ergonomics of the setup_script.

As it stands, the [documentation](https://docs.bentoml.org/en/v1.0.7/concepts/bento.html#setup-script) is a little misleading--it points out this very same use case with pre-downloading nltk packages, but when I followed through with the instruction

[2022-10-08 08:44] aarnphm commented on #2970
Feel free to reopen this if you still see this.

[2022-10-08 08:44] #2970 closed

[2022-10-10 02:01] #3072 closed

[2022-10-10 03:52] aarnphm commented on #2911
## Multiple OCI builders

- Author: @aarnphm

## Abstract
The ability to support different OCI builders allows users to use build tools that comply with their organisation's requirements and compliance.

## Background
There are a few different OCI build tools that support buildkit:
- `buildctl` - the BuildKit client
- `docker buildx` - Buildkit support on Docker
- `buildah` -

[2022-10-10 05:23] ssheng commented on #2967
@asafalinadsg Sorry about the delay response. The team discussed internally about the proposal and we liked the idea of make bentos testable. We also recognize the challenges of building bentos without being able to test it in the environment (e.g. docker) that it is going to be run in. We propose a 2-step change to make the bentoml test feature more useful.

Making bentos testable through bentoml

[2022-10-10 11:03] wyzhangyuhan opened #3085 "feature: ONNX service with multiple inputs"
### Feature request

I exported an onnx model that accept multiple inputs ("input_ids", "input_mask", "input_seg").

And the docs for bentoml(ONNX) only give a simple example, `runner.run.run(test_input)`.
However, an error ouccred after i wrapped these inputs with dict:
`TypeError: `run` of ONNXRunnable only takes `numpy.ndarray` or `pd.DataFrame`, `tf.Tensor`, or `torch.Tensor` as input paramete

[2022-10-10 11:48] Matthieu-Tinycoaching commented on #3061
Hi @aarnphm,

I followed your suggestion above:
[code]
But got the same error as previously:
[code]

[2022-10-10 14:51] Max-Rubino commented on #3037
[iris_classifier-7mx4mxkivg5nqodi.zip](https://github.com/bentoml/BentoML/files/9746952/iris_classifier-7mx4mxkivg5nqodi.zip)

[2022-10-10 18:53] yubozhao commented on #2911
WDYT about the name `bentobuilder`?

[2022-10-10 18:57] aarnphm commented on #2911
The API would be a bit weird with `bentobuilder`? `bentobuilder build`?

I'm also thinking to extend a frontend for this tool as well, something like
[code]

[2022-10-11 00:31] jiewpeng opened #3086 "bug: pandas IO descriptor"
### Describe the bug

When a user constructs a `PandasDataFrame` IODescriptor using `from_sample()`, it creates a broken IODescriptor.

[code]

Specifically, when calling `from_http_request`, there is a line that asserts that `self._dtype` is not a boolean, but when we create the IODescriptor using `from_sample`, it sets `dtype` to `True`.

[code]

Currently, I work around this by setting `self._d

[2022-10-11 06:13] #3001 closed

[2022-10-11 13:49] darioarias commented on #3071
Hey @aarnphm do you have an example I can look at for inspiration?

[2022-10-12 02:43] wyzhangyuhan commented on #3085
After reading the source code, i found that bentoml may convert my input to np.float32. But my onnx model takes int64 as its input. It may be a bug?

[2022-10-12 02:45] wyzhangyuhan commented on #3085
[code]

[2022-10-12 02:59] larme commented on #3085
@wyzhangyuhan This is a limitation for current onnx implementation (we are converting all inputs into float32). We will improve this by infer the input type from the onnx model

[2022-10-12 08:55] shinilseop opened #3093 "bug: Detectron2 installation error during bentoml containerize"
### Describe the bug

I am going to serve the Detectron2 model using BentoML.
Also, I want to image through bentoml containerize function.

However, an error occurs during containerize when installing Python dependencies.
bentofile.yaml is as follows:
[code]

[code]

Containerize ends with an error that there is no 'torch' module while checking the dependency of detectron2 :
[code]

I can't set th

[2022-10-13 23:43] aarnphm commented on #3002
I think we can't really do too much about this, unless we build our own protobuf.

[2022-10-14 20:14] sauyon commented on #3029
To close on next release.

[2022-10-17 01:42] #3002 closed

[2022-10-17 13:17] judahrand opened #3102 "feature: allow nested `requirements.txt` files"
### Feature request

I would like to be able to have a `requirements.txt` file which references other requirements files with `-r`.

### Motivation

I would like to be able to you `pip-compile-multi` to manage the dependencies of my models. Often there are different dependencies at serve and train time with some overlap. Therefore, I'd like to be able to define the common dependencies in one file,

[2022-10-17 22:39] aarnphm opened #3104 "feature: async BentoML client"
### Feature request

I would like if bentoml.client also provide a `AsyncClient`

### Motivation

_No response_

### Other

_No response_

[2022-10-18 19:24] DeleMike opened #3111 "bug: auto-restart function for BentoML not working on a Windows Machine"
### Describe the bug

I am trying to enable auto-restart on Bento-ML development server and I am not seeing any server restart upon code change.

I used this to start the service: `bentoml serve service.py:service --reload`

### To reproduce

I ran this `bentoml serve service.py:service --reload`  to test the auto-restart function

### Expected behavior

I expect it to restart server upon code cha

[2022-10-19 04:06] Lisafahad opened #3117 "https://t.me/+U02E2cfVBWdiYWZk"

[2022-10-19 04:51] #3117 closed

[2022-10-19 07:49] smartdolphin opened #3118 "bug: UnicodeEncodeError is occured"
### Describe the bug

When utf-16 characters are sended to api, an UnicodeEncodeError error is occured with running encoding utf-8.

[code]

### To reproduce

1. text = "\udc4f"
2. send text to predict API
3. see error
[code]

### Expected behavior

_No response_

### Environment

bentoml: 0.13-LTS
python: 3.9
platform: linux

[2022-10-19 09:49] judahrand opened #3119 "bug: MyPy compatibility"
### Describe the bug

BentoML doesn't play nice with `mypy` due to this issue: python/mypy#12299

The issue is that a lot of `# type: ignore` comments in the codebase have additional comments after them (ie. `# type: ignore (reason for ignore)`). This results in packages that use BentoML and `mypy` throwing `error: Invalid "type: ignore" comment  [syntax]` for `mypy`.

### To reproduce

_No respon

[2022-10-19 09:55] Matthieu-Tinycoaching commented on #3085
Hi @larme +1 for the resolution of this problem as it actually blocks the use of ONNX Transformers with bentoML.

[2022-10-19 11:40] aarnphm commented on #3119
We made a conscious decision to use pyright instead of mypy. https://github.com/bentoml/BentoML/blob/main/DEVELOPMENT.md#style-check-auto-formatting-type-checking

We don't currently have intention on supporting two different types of type checker.

[2022-10-19 11:48] judahrand commented on #3119
I don't think you're understanding. This isn't about the development of BentoML... It's about using it elsewhere. Any project which uses BentoML can't currently use `mypy`. You're forcing the choice for others.

[2022-10-19 11:50] judahrand commented on #3119
I have BentoML installed in a `venv` and I import and use it in a `service.py` file which will be included in my Bento, right? What if I want to lint that `service.py` file with `mypy` because it is a standard tool in my organization? Currently, it throws errors.

[2022-10-19 15:17] Srivathsan-V commented on #3039
Hi! Iam a newcomer to open source and would like to contribute on this issue. Could you please give me some insights into it?

[2022-10-19 15:24] MuhammadAwon commented on #3111
Basically, I think this issue is occurring for all Windows OS. I am Win8.1, Python 3.9 user and having the same issue.

[2022-10-19 16:44] bharath-krishna opened #3120 "bug: failed to decode byte in position 1 for remote runner."
### Describe the bug

Build a bento from quickstart example, build and pushed image via builder pod,
then calling /classify endpoint of quickstart example is throwing error as above,

`curl -X 'POST' \
  'https://<host>/classify' \
  -H 'accept: application/json' \
  -H 'Content-Type: application/json' \
  -d '[
  [
    4.9,
    3,
    1.4,
    0.2
  ]
]'`

The only changes I have made to builder

[2022-10-19 20:14] aarnphm commented on #3120
Can you try to update to the latest version and try if you still this bug?

[2022-10-19 20:24] aarnphm commented on #3039
Hi @Srivathsan-V, So recently [protobuf>4](https://github.com/protocolbuffers/protobuf/issues/10051#issuecomment-1138671075) is a major release, which breaks all of the generated code for cases where library uses `protobuf<4` (protobuf>=3.19).

Currently, BentoML generates proto stubs for our gRPC components using protobuf==3.19.6. This is fine since the majority of the library out there that uses

[2022-10-19 20:28] ssheng commented on #3111
@MuhammadAwon could you please try without the `--reload` functionality?

[2022-10-19 21:58] MuhammadAwon commented on #3111
@ssheng  Basically it is same for me, if I run the command with or without `--reload`. I have to stop the server and rerun it after every time I am making changes in the `service.py`.

[2022-10-20 00:36] aarnphm commented on #3119
This is not necessarily a bug. When we decide to use pyright, we have heard about this issue with mypy.

For what its worth, you can always disable mypy rules for bentoml for now:
[code]

[2022-10-20 00:42] sauyon commented on #3119
While I think this is a mypy bug that should be resolved, since the resolution is just to change the comment style on our type ignores and it would be a relatively easy change I don't see why we shouldn't do this.

[2022-10-20 00:52] bharath-krishna commented on #3120
Yes updated to v1.0.7 and getting has this bug

[2022-10-20 03:52] aarnphm commented on #3120
Can you share your service definition?

[2022-10-20 15:12] bharath-krishna commented on #3120
`$> k -n yatai get svc test`

[code]
Is this what your were asking?

[2022-10-20 17:06] kvasilopoulos commented on #3061
Any update here?

[2022-10-20 21:11] aarnphm commented on #3120
I was thinking about your service.py, but this is helpful as well

[2022-10-20 23:12] bharath-krishna commented on #3120
Oh ok, I used examples from BentoML repo, and have not made any changes in it.
https://github.com/bentoml/BentoML/blob/main/examples

I can run them locally with
`bentoml serve service:svc --reload`
and it works fine locally, but not when I build image in a builder pod, push and deploy.

[2022-10-21 00:25] bharath-krishna commented on #3120
I containerize Bento locally and ran as in doc and got same error, Some problem with containerizing Bento.
Let me also mention this error was not occurring **three days back**.

I am not sure what changed in latest version.
Currently I am using bentoml==1.0.7
yatai: v1.0.0-d7-6c68b8e

[2022-10-21 14:39] bharath-krishna commented on #3120
Please ignore this ticket.
The issue was due to setting proxy env vars in ENV in Dockerfile instead of exporting in RUN stage.
after reverting its working.

[2022-10-21 16:30] #3120 closed

[2022-10-22 06:49] #3102 closed

[2022-10-24 00:22] parano opened #3130 "feature: support Vowpal Wabbit models"
### Feature request

Support the ML framework Vowpal Wabbit https://vowpalwabbit.org/

### Motivation

 Vowpal Wabbit is a popular ML framework :)

### Other

_No response_

[2022-10-24 10:05] muneebable opened #3134 "bug: Bento keyword "bento_server" is forbidden in bentofile.yaml config."
### Describe the bug

Version = 1.0.7
In the old version and in documentation, people used that keyword in bentoml.ymal file. But now It is not recoginizable anymore.

We tried to add:
[code]

But that doesn't work. and we got the error as displayed in the image.

![image](https://user-images.githubusercontent.com/3126387/197501721-9406c440-64b5-4ddf-be9a-283c7ee2b9b7.png)

### To reproduce

_No r

[2022-10-24 18:20] aarnphm commented on #3134
This is not a bug, as `bento_server` is not an allowed key under `bentofile.yaml`.

There is a difference between `bentofile.yaml` and `bentoml_configuration.yaml`. You are addressing the [configuration for BentoML](https://docs.bentoml.org/en/latest/guides/configuration.html#configuring-bentoml).

[`bentofile.yaml`](https://docs.bentoml.org/en/latest/concepts/bento.html#the-build-command) is used

[2022-10-24 18:20] #3134 closed

[2022-10-24 19:59] hxu296 commented on #1775
Hello! Do we have any updates on the TensorRT integration? First-class TensorRT support for model serving seems to be a very useful feature.

[2022-10-25 19:15] katerinafrid opened #3141 "No better performance for concurring requests using batching"
### Discussed in https://github.com/bentoml/BentoML/discussions/3137

<div type='discussions-op-text'>

<sup>Originally posted by **katerinafrid** October 24, 2022</sup>
I'm trying to speed up the processing of requests to my pytorch model, but I do not see any improvements compared to the standard sequential processing. Am I doing something wrong?
First, I execute utils.py file, then I start a se

[2022-10-26 07:51] sarmientoj24 opened #3145 "bug: Given model is not a onnx.ModelProto."
### Describe the bug

Receiving this error that my model is not an onnx.ModelProto

[code]

Netron app
![image](https://user-images.githubusercontent.com/8830319/197966722-e325fead-f6e5-4e0a-98ea-d2b4f16877a8.png)

### To reproduce

_No response_

### Expected behavior

_No response_

### Environment

bentoml: 1.0.7
environment: Ubuntu 20.04

[2022-10-26 08:01] sarmientoj24 commented on #3145
![image](https://user-images.githubusercontent.com/8830319/197969052-84d60726-952c-4720-ac5b-d37c1ced740c.png)

[2022-10-26 16:50] SohelKabir opened #3146 "bug: failed to containerize when using mlflow"
Trying to integrate Mlflow with my current bentoml workflow and following this example
`https://github.com/bentoml/BentoML/tree/main/examples/mlflow/pytorch`
But getting error when i try to deploy model with docker,

when i run  `bentoml containerize mlflow_pytorch_mnist_demo:latest`

[code]
### To reproduce

Bug recreation steps:
Clone the repo `https://github.com/bentoml/BentoML/tree/main/exampl

[2022-10-26 16:53] aarnphm commented on #3146
Hi there, can you send the full error output?

[2022-10-26 16:56] SohelKabir commented on #3146
Full error given alread, that was all @aarnphm

[2022-10-26 16:57] SohelKabir commented on #3146
![image](https://user-images.githubusercontent.com/33397287/198088425-81fdd1dd-2187-4e83-a05d-7a376108888b.png)

[2022-10-26 18:56] aarnphm commented on #3146
This issue has been addressed on main and will be included in 1.0.8

[2022-10-26 20:55] #2979 closed

[2022-10-26 20:56] aarnphm commented on #2979
Feel free to reopen if you are still running into this.

[2022-10-27 07:06] #2994 closed

[2022-10-28 19:25] sauyon opened #3158 "race in batch dispatcher"
Currently, with the way dispatcher is written, there is a minor race where multiple training requests of the same type may be made.

Note that the worst that happens is that the three training requests all have batch size 1, which may occur anyway if there aren't enough requests when the runner is starting up, so this is a very minor issue.

[2022-10-28 20:19] aarnphm opened #3159 "test: improve general workflow"
Currently, unit tests are very flaky and hard to run locally.

[2022-11-01 07:29] aarnphm commented on #3146
Please try out 1.0.8 release, as this issue has been fixed. Thanks a bunch.

[2022-11-01 07:29] #3071 closed

[2022-11-01 07:30] aarnphm commented on #2820
This should be fixed in the latest release. cc @benjamintanweihao

[2022-11-01 07:30] #2820 closed

[2022-11-01 07:31] #2827 closed

[2022-11-01 07:33] #2704 closed

[2022-11-01 07:33] aarnphm commented on #2704
probably very very low priority for now.

[2022-11-01 07:42] SohelKabir commented on #3146
@aarnphm hey updated to Bentoml 1.0.8 and tried containerize the bento, but still failing
![image](https://user-images.githubusercontent.com/33397287/199183623-154bc4e4-4ece-4deb-9a4c-f74f46d36cc0.png)

[2022-11-01 07:54] aarnphm commented on #3146
Did you rebuild the bento?

[2022-11-01 07:54] SohelKabir commented on #3146
yes

[2022-11-01 08:00] SohelKabir commented on #3146
![image](https://user-images.githubusercontent.com/33397287/199185842-2885d1b2-88db-4957-81d4-afb13f643c68.png)
This is the code I'm importing model from s3 and building the bento from and trying to containerize.
Btw, If you need any other  info/logs you can dm me in slack. I'm available in Bentoml support group.

[2022-11-01 09:02] aarnphm commented on #3146
I have identified the problem. I will address this asap.

[2022-11-01 19:49] subramaniam20jan opened #3169 "bug: from_sample factory for bentoml.io.PandasDataFrame doesnt work"
### Describe the bug

There seems to be an obvious bug [here](https://github.com/bentoml/BentoML/blob/3193102e13bbd228a8466e308db34cde8c974afe/src/bentoml/_internal/io_descriptors/pandas.py#L557), where the dtype is set to a boolean and then checked [here](https://github.com/bentoml/BentoML/blob/3193102e13bbd228a8466e308db34cde8c974afe/src/bentoml/_internal/io_descriptors/pandas.py#L432) to not be

[2022-11-02 01:50] math-sasso opened #3173 "bug: how can i run scheduling tasks using bentoml"
### Describe the bug

In the code below I schedule a task to run every 3 seconds.

[code]

If I use FastAPI, we see the scheduled task result

`
uvicorn code:app
`

We can see the scheduled task
`
Tick! The time is: 2022-11-01 22:47:51.878470
`

Otherwise if we run it with bentoml, we can not schdule the tick method. It does not print Ticks.
`
bentoml serve code:service
`

### To reproduce

_No re

[2022-11-02 03:41] kpg993 opened #3174 "bug: Not able to execute listed pytest"
### Describe the bug

ERROR integration/projects/general_non_batch/tests/test_adapter.py
ERROR integration/projects/general_non_batch/tests/test_artifact.py
ERROR integration/projects/general_non_batch/tests/test_meta.py
ERROR integration/projects/general_non_batch/tests/test_microbatch.py
ERROR integration/projects/paddle/tests/test_service.py
import file mismatch:
imported module 'test_adapter'

[2022-11-02 13:41] kpg993 commented on #3174
Using Bentoml-0.13.2-LTS

[2022-11-02 14:28] glxplz opened #3177 "bug: BentoML generated OpenAPI differs from Speci"
### Describe the bug

The OpenAPI definition generated by bentoml includes a **summary** field within the **info** field. This does not comply with the  corresponding OpenAPI spec 3.0.2.

### To reproduce

_No response_

### Expected behavior

_No response_

### Environment

bentoml: 1.0.8
python: 3.10
platform: Ubuntu 20.04.5 LTS

[2022-11-02 15:48] glxplz commented on #3177
Wow, thanks for the quick response.

[2022-11-02 17:52] aarnphm opened #3179 "chore: 3.11 Support"
A few things for supporting 3.11:
- BentoML loosely depends on pyarrow (which is currently doesn't have 3.11 yet).
- aiohttp (internally we are intending to switch to httpx, so this might not be a huge deal anymore.)

We should probably create a follow-up to #3074 for 3.11 support.

[2022-11-02 17:54] aarnphm commented on #3174
Hi there. We aren't actively maintaining 0.13.x. I'm wondering if there are any reason that block your migration to 1.0?

See https://docs.bentoml.org/en/latest/guides/migration.html

[2022-11-02 21:22] aarnphm opened #3181 "feature: portable containerization with lima"
### Feature request

Right now, containerize depends on user setup docker. #3164 adds the ability to use whatever backend user desire to.

But this leaves new users who are confused and don't know how to setup these tools a lot of trouble just to get started.

Containerize could eventually download a binary of said backend to local bento home directory and run it locally from there.

I'm not sure

[2022-11-03 04:35] kpg993 commented on #3174
Thanks for the input, i will try for the higher version.

[2022-11-03 04:55] #3177 closed

[2022-11-03 06:54] niits opened #3182 "bug: BentoML does not recognize the PyTorch model as a subclass of `torch.nn.Module`"
### Describe the bug

BentoML does not recognize the PyTorch model as a subclass of `torch.nn.Module`

[code]

[code]

It seems that we could use `issubclass` instead of `isinstance` function like this mplementation suggestion:

https://github.com/bentoml/BentoML/blob/5d14f6eec4667dc618fb03a5824f97a43dfb49aa/src/bentoml/_internal/types.py#L245
[code]

https://github.com/bentoml/BentoML/blob/5d14f6

[2022-11-03 06:55] #3182 closed

[2022-11-03 07:52] alizia opened #3184 "bug: cli not respecting flags"
### Describe the bug

The CLI tool does not respect the flags passed to it. I've noticed the following odd behaviors with `bentoml serve`:

--api-workers <int>: Ignores the flag and starts workers equal to the number of cores

--quiet: Actually has the opposite effect and starts loging verbosely. It starts printing DEBUG logs as well instead of stopping printing INFO and WARN logs.

### To reprodu

[2022-11-03 18:33] #3174 closed

[2022-11-03 18:34] aarnphm commented on #3184
can you upgrade to the latest bentoml version? I believe we did fix this in the newer version.

[2022-11-03 20:14] alizia commented on #3184
sounds good @aarnphm. let me try out the new version.

[2022-11-03 23:56] ssheng commented on #3173
Though running scheduled task in a service is not well supported use case. I think you can use FastAPI to achieve scheduled task. In FastAPI, you can add startup and shutdown event to an app. You can schedule the task against a BackgroundScheduler in the startup and shutdown the scheduler in the shutdown event. https://fastapi.tiangolo.com/advanced/events/

[2022-11-04 18:41] #2312 closed

[2022-11-04 18:45] ssheng opened #3190 "feat: medical image IO descriptor support"
https://imageio.readthedocs.io/en/v2.8.0/format_dicom.html
https://openslide.org/api/python/

[2022-11-05 23:17] alizia commented on #3184
@aarnphm you're right. works fine in the new version. I'll close the ticket. thanks.

[2022-11-05 23:17] #3184 closed

[2022-11-06 11:08] VikramxD opened #3193 "feature: Support For Microsoft FLAML"
### Feature request

Feature request
Support the ML framework  Microsoft Flaml [microsoft.github.io/FLAML/](https://microsoft.github.io/FLAML/)

### Motivation

Motivation
Microsoft FLAML is a popular AutoML library currently there is no native support present for it in Bentoml , we have to use the models for inference by fitting it into a sklearn pipeline , if native support for Flaml objects can

[2022-11-06 16:36] KimSoungRyoul opened #3194 "feature: JSON(pydantic=PydanticModel, sequence=True). -> List[PydanticModel]"
### Feature request

Hi  Is it not intentionally supporting the Pydantic model Type which is wrapped as a Sequence Type?

### Motivation

_No response_

### Other

_No response_

[2022-11-07 20:19] mathbr10 commented on #3173
@ssheng it is perfecly running iwth fastapi, The problem is that it is not running with bentoml, and that is the problem to me because I have a bento app that mounts a fastapi app

[2022-11-08 13:10] pi2cto commented on #3141
I am experiencing error with batching enabled, 2022-11-08T13:07:08+0000 [INFO] [api_server:1] 127.0.0.1:33304 (scheme=http,method=POST,path=/v1/get_intents,type=application/json,length=91) (status=200,type=application/json,length=20) 1450.984ms (trace=f8472c38b374f57a7213989491a40acc,span=c32005903caa5b5f,sampled=0)
Traceback (most recent call last):
  File "/workspace/personality_framework/person

[2022-11-08 13:30] pi2cto opened #3200 "bug: Batching issue"
### Describe the bug

i am using a custom runner model

i am testing batching by enabling batching on the runner and testing it using bentoml server --production flag
i have configured a timeout of 60 seconds and batching configuration of 100ms timeout and 1000 as max batch size

when every i perform requests with batching enabled , i am getting the below error
2022-11-08T13:26:15+0000 [INFO] [api

[2022-11-08 13:54] Matthieu-Tinycoaching opened #3201 "bug: [ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code returned while running Gather node"
### Describe the bug

Hi,

While running locust tests (100 users with spawn=100) on the ONNX model of `cross-encoder/ms-marco-minilm-l-2-v2`, it failed near to the begining with the following message:

[code]

### To reproduce

_No response_

### Expected behavior

_No response_

### Environment

`bentoml`: 1.0.7
`python`: 3.8.13
`platform`: Linux-5.4.0-65-generic-x86_64-with-glibc2.17
`uid:gid`:

[2022-11-09 05:00] aarnphm commented on #1960
Hi there, can you try out our recent documentation on the new metrics API?
https://docs.bentoml.org/en/latest/guides/metrics.html

[2022-11-09 06:09] SohelKabir commented on #3146
@aarnphm hey is the issue solved in v1.0.10 ?

[2022-11-09 06:26] aarnphm commented on #3146
This is not yet solved.

[2022-11-09 12:33] aarnphm commented on #3146
I believe that this bug has to do with mismatch setting up python version from our generated conda environment vs the one inside environment.yml

If your conda environment.yml has a different python version than your current development python version, the generated dockerfile will actually create the base environment with the same python version to your local python version instead of the one spe

[2022-11-09 14:40] aarnphm opened #3206 "test: BentoBuildConfig"
Right now we don't have a test suite for our `bentofile.yaml`.

Unit test would be good. Hypothesis suite will probably be the best case scenario.

[2022-11-09 16:18] ALee008 opened #3207 "feature: make it possible to set custom path for folder `prometheus_multiproc_dir`"
### Feature request

Make it possible to set the path of `prometheus_multiproc_dir` using the environment variable `PROMETHEUS_MULTIPROC_DIR`.

### Motivation

OS: SLES 15
Python: 3.8.13
BentoML version: 1.0.5

Our BentoML service is running with user `A` but the bento contents belong to user `B`. The idea is to separate running a service from the actual code. When running in production mode the f

[2022-11-09 21:21] #1960 closed

[2022-11-10 05:49] aarnphm opened #3224 "feature: allow saving framework dependencies alongside with `save_model`"
### Feature request

`save_model` should have the ability to add model dependencies (esp library deps)

`bentoml.build` then can automatically include this into the requirements.txt

### Motivation

better qol

### Other

_No response_

[2022-11-11 04:20] #2653 closed

[2022-11-12 16:05] cosmicBboy opened #3230 "feature: Support pandera.SchemaModel in bentoml.io.PandasDataFrame"
### Feature request

Just like a `pydantic_model` can be specified in the `bentoml.io.JSON` descriptor, providing an option to specify a `pandera.SchemaModel` in the `PandasDataFrame` descriptor would enable users to validate incoming/outgoing dataframes in their service apis with more complex, potentially custom validation checks defined in pandera SchemaModels.

Something like:

[code]

### Moti

[2022-11-14 09:36] yangwenz opened #3232 "feature: Explainable AI supports for BentoML"
### Feature request

We have developed an open source project OmniXAI for explainable AI: https://github.com/salesforce/OmniXAI, and implemented an interface for deploying OmniXAI explainers using BentoML: https://github.com/salesforce/OmniXAI/blob/main/omnixai/deployment/bentoml/omnixai.py. Is it possible to integrate it directly in BentoML?

We are happy to provide more supports for it to extend

[2022-11-14 10:08] KimSoungRyoul opened #3233 "feature: customize readme with jinja"
### Feature request

https://docs.bentoml.org/en/latest/concepts/bento.html#description

customize readme.md with argument
`REMAEME.md`
[code]

after execute `bentoml build --version="new_version"`
`REMAEME.md`
[code]

### Motivation

_No response_

### Other

_No response_

[2022-11-14 13:50] seyong92 opened #3235 "bug: "bentoml build" command takes too long time but there is no additional message with "--verbose" tag."
### Describe the bug

In "bentofile.yaml", we only include "*.py" file and some text files, but it takes a too long time to build bento.

It takes more than 1 hour for building bentos, and the created bento is just around 50 MB.

When I use "--verbose" tag when using "bento build", it does not return anything, so I cannot know the reason.

### To reproduce

I just share the "bentofile.yaml" file o

[2022-11-14 23:45] aarnphm opened #3246 "feature: bazel cli run"
### Feature request

we can run bentoml cli from bazel

This will further reduce the setup time and developer can easily run bentoml without having the need to setup Python.

[code]

All operations except `serve` and `containerize` already work with bazel.

### Motivation

better devex

### Other

In conjunction to #3074

[2022-11-15 06:42] aarnphm commented on #3246
Note that we can also use bazel rules from tensorflow, jax, and pytorch directly

[2022-11-15 23:11] aarnphm opened #3249 "feature: bazel code coverage"
### Feature request

Bazel does provide coverage, but it didn't work well with Python. We probably have to apply a patch to `py_library`.

[2022-11-16 01:40] #2992 closed

[2022-11-16 01:42] aarnphm opened #3250 "feat: specify protobuf version for gRPC"
### Describe the bug

allow user to fallback to `v1alpha1` with
[code]

### To reproduce

_No response_

### Expected behavior

_No response_

### Environment

main

[2022-11-16 01:42] aarnphm opened #3251 "chore: migrate all test proto out to tests"
since the test stubs are not really useful for user, Only for BentoML internal.

[2022-11-16 03:41] hoangphucITJP opened #3252 "bug: 'NoneType' object is not subscriptable when using Multipart"
### Describe the bug

[code]

### To reproduce

Provide simple multipart service
[code]

### Expected behavior

_No response_

### Environment

bentoml: 1.0.10
python: 3.9.11
OS: Ubuntu 18.04

[2022-11-16 04:25] hoangphucITJP commented on #3252
Look like the problem is in this method
https://github.com/bentoml/BentoML/blob/main/src/bentoml/client.py#L54

[2022-11-16 04:58] sauyon commented on #3252
Hiya! I've actually solved this, it's a pretty silly bug for multipart.

[2022-11-16 05:00] sauyon commented on #3252
Should be fixed by #3253.

[2022-11-17 03:54] hoangphucITJP commented on #3252
It works now. Thanks for support

[2022-11-17 03:54] #3252 closed

[2022-11-18 05:02] #3251 closed

[2022-11-18 21:57] #2911 closed

[2022-11-18 23:06] ssheng opened #3258 "feat: Client support for re-written URLs"
User rewrites the URLs at the ingress by adding the bento name as the path, e.g. from /docs.json to /{bento_name}/docs.json. As a result, the [Swagger UI link](https://github.com/bentoml/BentoML/blob/35cd25c043ae5c85c622f99654df6a67dadf6cbb/src/bentoml/_internal/server/static_content/swagger-initializer.js#L4) and the [Bento Client dummy server](https://github.com/bentoml/BentoML/blob/4220b5190dad

[2022-11-19 00:14] mqk commented on #3258
I'm a little unclear on how the "Bento Client dummy server" comes into play, and whether it's even necessary to fix that to satisfy our use case. If we have a properly deployed service running in production and simply navigate to the service's url (without any endpoint) is that just calling the Swagger UI link or is it somehow also involving the dummy server? What I'm getting at is that we just wa

[2022-11-19 20:28] mqk opened #3263 "bug: ValueError in PandasDataFrame.validate_dataframe when input DataFrame has different shape that implied by from_sample"
### Describe the bug

I have an endpoint that takes as input a pandas dataframe, for which I have provided example data using `PandasDataFrame.from_sample`. I don't want to enforce the input data to have the exact shape of the example dataframe and I've kept the default of `enforce_shape=False`. However, when I make a request with an input dataframe that has a different shape than the example data

[2022-11-19 20:37] mqk commented on #3263
I'm happy to submit a PR myself, but I would need some guidance as to the preferred solution (either one of three that I suggested, or something else altogether).

[2022-11-21 03:58] aarnphm commented on #3263
Hi @mqk, I think your proposal for only making the assignment when `enforce_shape` is set makes sense. If possible can you make a PR for that?

[2022-11-21 09:29] aarnphm commented on #3201
cc @larme

[2022-11-21 09:32] aarnphm commented on #3169
Can you try again with 1.0.10. We recently update the `from_sample` implementation.

[2022-11-21 16:16] Limess opened #3268 "bug: docker env option does not support `,`"
### Describe the bug

Setting environment variables with non word or `-` characters results in an error, this prohibits a large range of valid environment variables to be set without a custom build.

[code]

results in

[code]

### To reproduce

_No response_

### Expected behavior

NVIDIA_DRIVER_CAPABILITIES=compute,utility

is a valid `env` value

### Environment

bentoml: 1.0.10
python: 3.9.14

[2022-11-22 11:29] DeepDarkOdyssey commented on #3200
same issue here, any solution?

[2022-11-25 01:07] #3263 closed

[2022-11-25 01:17] aarnphm opened #3276 "log: debloat warning from client"
### Feature request

It would be nice if warning from client should only printed once.

Right now if user have multiple JSON IO with multiple pydantic schema and they use `bentoml.client.Client`, the warning from `from_spec` will be printed multiple times.

[code]

### Motivation

Reproducer:
[code]

### Other

_No response_

[2022-11-25 01:24] aarnphm opened #3277 "feature: support positional kwargs assignment"
### Feature request

Client should also support assigning positional args with kwargs (this is also a Python behaviour):

Let say that
[code]

Then the below should also be valid
[code]

Right now this will raise an error due to the actual input being assigned via `inp` (in https://github.com/bentoml/BentoML/blob/4e771b6a458eef182815c6f7797606841aca5244/src/bentoml/client.py#L62)

### Motivation

[2022-11-25 08:53] larme commented on #3201
@Matthieu-Tinycoaching This seems like a memory allocation error. Do you serve the model on CPU or GPU?

[2022-11-25 09:00] Matthieu-Tinycoaching commented on #3201
Hi @larme I serve it on GPU. This seems weird since this model is lighter and faster than other models that run well in same conditions

[2022-11-28 06:39] KimSoungRyoul opened #3284 "feature: customize uvicorn option"
### Feature request

Did you intentionally not allow the uvicorn option to be modified?

### Motivation

_No response_

### Other

_No response_

[2022-11-28 06:41] KimSoungRyoul commented on #3284
oh I think that it's useless feature

[2022-11-28 06:41] #3284 closed

[2022-11-28 11:40] Srivathsan-V commented on #3277
Hi!. I would like to contribute on this issue.

[2022-11-28 14:40] #2986 closed

[2022-11-29 03:05] aarnphm opened #3288 "feature(client): create as context manager"
### Feature request

Client could become a sync/async context manager:
[code]
async version
[code]

### Motivation

implement a `__enter__`, `__exit__`, `__aenter__`, and `__aexit__` for client.

### Other

_No response_

[2022-11-29 07:13] Quasarman opened #3290 "feature: CLI - Custom bento store path when bulding/containerizing/deleting bentos"
### Feature request

I would very much like to specify the path where bentos are saved/looked up with a cli parameter when building/containerizing them. I.e., having them in some sort of local `/build` folder instead of the users home directory.

I have searched through the documentation and browsed the source code a bit but did not find a way to achieve this (if possible at all).

### Motivation

[2022-11-29 07:49] aarnphm commented on #3290
You can set your bentoml home via `BENTOML_HOME` envvar.

[2022-11-29 09:57] Quasarman commented on #3290
Nice thanks you!

[2022-11-29 20:50] zhangyilun commented on #3200
Same issue, it was quite smooth for me when I was using 0.13-lts but started having this issue when 1.0.

[2022-11-30 00:49] aarnphm opened #3293 "feature: test with local project"
### Feature request

to run `bentoml test` with local bento project directory.

### Motivation

_No response_

### Other

_No response_