[2021-12-02 00:15] totalhack opened #2077 "Feature: More Lambda Deployment Access/Network Control"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to specify network/VPC configuration for lambda deployments so the endpoints are not public by default. Please let me know if I'm just missing some documentation/options that show how to do this.

**Describe the solution you'd like**

Serverless Framework allows specifying VPC settings for lambda deployments in

[2021-12-02 00:20] parano commented on #2077
AWS Lambda VPC setting is not currently supported but should be pretty straightforward to add in https://github.com/bentoml/aws-lambda-deploy

[2021-12-02 00:57] yubozhao commented on #2077
Thanks for the suggestion @totalhack Going to move this issue to the lambda repo to be more visible

[2021-12-02 23:22] gregd33 opened #2084 "imageio > 2.9.0 breaks ImageInput"
**Describe the bug**

If using `imageio > 2.9.0` this breaks ImageInput

**To Reproduce**
Create a minimal service and install the latest `imageio`. e.g.

[code]

**Expected behavior**

Get an error when trying to predict

**Screenshots/Logs**

[code]

**Environment:**
 - OS: Ubuntu
 - Python Version: 3.8
 - BentoML Version: 0.13.1

**Additional context**
It can be fixed by pinning `imageio==2.9.0

[2021-12-03 14:54] totalhack commented on #1617
Is this close? I'd like to be able to use `bentoml serve` in development/testing with live reload of the endpoint if I make changes to the service. Not sure if that's something you plan to support. Thanks.

[2021-12-03 16:45] aarnphm commented on #1617
HI @totalhack , this will be supported in the upcoming release. stay tuned

[2021-12-03 18:03] totalhack commented on #1617
Thanks @aarnphm . I was hoping to get an idea of timing as I'm in the process of deciding whether to use bento in a new project. Is there a progress tracker for the new release, or just a general ETA? Just trying to understand whether it is a matter of weeks or months at least.

[2021-12-03 19:10] aarnphm commented on #1617
Hi @totalhack, 1.0 should be very close now. In the meantime, feel free to check out the `bentoml-1.0` branch

[2021-12-06 18:32] parano commented on #2075
Hi @andrewsi-z yes definitely, would love to get you on our beta test list and hear your feedback. I will ping you in slack.

[2021-12-07 14:22] cianoh commented on #338
I have also encountered this error when running with bentoml 0.13.1 and docker 20.10.8
`bentoml containerize ModelService:latest --yatai-url=127.0.0.1:50051`

[2021-12-08 05:43] arvindhbti opened #2111 "Not able to create onnx model from tensorflow after loading the bento."
Describe the problem:
Currently I am working with creating the bento from tensorflow and onnx models.

So, I am creating models with two inputs x1,x2. when I custom train the model and create the bento just after packing the bento with onnx, tensorflow models (without saving) then its working fine.
But ,
when I save the bento after packing with tensorflow/onnx models and then load it to custom tra

[2021-12-08 09:39] cianoh opened #2113 "Bentoml containerize failed due to not finding Docker"
**Describe the bug**

BentoML containerize fails to recognize Docker when building the container from a Yatai server (Bento bundle is stored on S3).

**To Reproduce**

[code]
`bentoml containerize MyModelService:latest -t  my_prediction_service:v1 --yatai-url=127.0.0.1:50051 --verbose `

**Expected behavior**

The container builds

**Screenshots/Logs**

[code]

**Environment:**
 - OS: [e.g. MacOS

[2021-12-08 11:03] cianoh commented on #2113
I fixed this by mounting a Unix socket with -v /var/run/docker.sock:/var/run/docker.sock:
`docker run -v /var/run/docker.sock:/var/run/docker.sock -p 3000:3000 -p 50051:50051 \
    -e AWS_SECRET_ACCESS_KEY=*** -e AWS_ACCESS_KEY_ID=*** -e AWS_DEFAULT_REGION=us-east-2 \
    bentoml/yatai-service \
    --repo-base-url ***`

[2021-12-08 11:04] #2113 closed

[2021-12-09 03:03] roundtable-swk commented on #1907
@parano I have a question. Can you share schedule for next verision of BentoML?

[2021-12-09 05:38] roundtable-swk opened #2116 "local dependency can't saved properly in directory with /**/lib path."
**Describe the bug**

In dir `**/lib`, local dependency is not saved.

**To Reproduce**

I upload zip file for bug report.
unzip this file, and run `python main.py` in `lib` dir or `test` dir

[lib.zip](https://github.com/bentoml/BentoML/files/7682492/lib.zip)
[test.zip](https://github.com/bentoml/BentoML/files/7682493/test.zip)

**Expected behavior**

local dependency saved properly regardless of

[2021-12-14 21:49] ZdsAlpha commented on #744
I am having the same issue! The adapter provided my @ssakhavi isn't working and there is no work around I can think of!! Also it shows output as `DefaultOutput` even when I have set it to `ImageOutput`.

[2021-12-20 03:01] heechanlee opened #2136 "when are features included in branch "0.13-LTS" applied to release version?"
First of all, Thanks for your efforts making this great application!

I have a little problem while using it.
I want to use custom prometheus metric using prometheus client described as below
![image](https://user-images.githubusercontent.com/65716726/146705215-a0fc5467-b433-43d1-862b-d27adbe8f0f1.png)

I can't use this feature because it is not yet applied to 0.13.1

when can I use this feature?

[2021-12-20 08:46] aarnphm commented on #2136
Hi @heechanlee, I believe that custom metrics should be supported in 0.13.1.

[2021-12-20 09:45] heechanlee commented on #2136
@aarnphm
Thank you for reply!
Please be generous for my misunderstanding if any..

I checked "BentoMLContainerClass" implementations out for 0.13.1 tag and 0.13-LTS branch
0.13.1
https://github.com/bentoml/BentoML/blob/a73838ece2d08239df096b60ac6458348c5112fe/bentoml/configuration/containers.py#L209

0.13-LTS
https://github.com/bentoml/BentoML/blob/3954f36762e10f5df15af7e0ae6dd71f5f214261/bentoml/

[2021-12-20 21:27] yubozhao commented on #2136
@heechanlee Thanks for the investigation.

We patched a few issues on the 0.13-LTS branch and yet to release them.  I think we will release them as `0.13.2` soon.

For now, if you want to take advantage of the custom metric, you can install BentoML from the source and build bento from there.

[code]

[2021-12-21 06:06] heechanlee commented on #2136
@yubozhao
Thanks a lot!

[2021-12-21 06:06] #2136 closed

[2021-12-22 18:23] #1339 closed

[2021-12-23 13:29] mikulskibartosz opened #2140 "CVE-2019-19814 detected by AWS ECR scanner in a Docker image created by BentoML"
**Describe the bug**

Hi, I have built a Docker image using BentoML and uploaded it to AWS ECR. The ECR vulnerabilities scan claims that a critical vulnerability was detected in the image:

Name: CVE-2019-19814
Package: linux:4.19.194-2
Description: In the Linux kernel 5.0.21, mounting a crafted f2fs filesystem image can cause __remove_dirty_segment slab-out-of-bounds write access because an array

[2021-12-24 02:43] avicennax opened #2142 "Support for OpenAPI schemas defined in components"
**Is your feature request related to a problem? Please describe.**
Currently `api` endpoints can support locally defined schemas for inputs with [recently](https://github.com/bentoml/BentoML/issues/1480) added support schema for JSON outputs.

However AFIACT there no support for reusable schemas definitions via [components](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#c

[2021-12-25 01:19] aarnphm commented on #2140
https://github.com/docker-library/faq#why-does-my-security-scanner-show-that-an-image-has-so-many-cves

[2021-12-28 00:58] parano commented on #2142
HI @avicennax - when we were adding OpenAPI & PyDantic support recently, @aarnphm actually explored the idea of using OpenAPI components, it is completely feasible but we were not sure what the main benefits are. Could you share a bit more about your use case? What's the main benefit of using OpenAPI schema components?

Note that since we are adding support for PyDantic models for Json input & out

[2021-12-30 00:56] avicennax commented on #2142
Sure, I'll give a specific (albeit toy) example here. Imagine our service input classes are defined via these Pydantic models:

[code]

We can create an adapter class of some variant like `PydanticInput(BaseInputAdapter)` which takes our model as an input (sets it to `self.pydantic_model`) and implements `extract_user_func_args` to marshal the payload - so far all good. However, when we go impleme

[2021-12-30 21:50] avicennax commented on #2142
Also, I'm happy to tank the implementation of this feature with direction from you or @aarnphm; since I assume it would be a relatively low priority if you guys decide it's worth pursuing.

[2022-01-02 16:54] vincentclaes opened #2144 "offline batch serving with dataset on S3"
**Is your feature request related to a problem? Please describe.**
I would like to use bentoml to make offline batch predictions where my dataset is stored on S3.
Datasets can be big, so I prefer to have the data chunked or streamed from S3.

**Describe the solution you'd like**
call the bentoml cli

`bentoml run SKlearnClassifier:latest batch_inference --input-file "s3://some-bucket/test_input.cs

[2022-01-04 01:49] parano opened #2147 "API server SLOs"
- [ ]  `max-latency` & `timeout`
    - [x] api server timeout
    - [x]  provide both max-latency and timeout in BentoServer config
    - [x]  default `max-latency`:  `10s`
    - [ ]  default `timeout = 1.5 * max-latency`
    - [ ]  assert that `max-latency` < `timeout`
    - [ ]  provide `bentoml serve` CLI arg for `--max-latency`
    - [ ]  target: 90% < max-latency
- [ ]  `--max-request-size` ?

[2022-01-04 01:49] parano opened #2148 "/metrics endpoint"
Add integration test to ensure it works in multi-worker settings

[2022-01-04 01:49] parano opened #2149 "Service and Access Logging"
- Logging format design
- Logging configuration design
- API Server request/response logging
- Runner input/output logging

[2022-01-04 01:49] parano opened #2150 "bentoml delete command"
- CLI for deleting bentos
- CLI for deleting models
e.g.:
[code]

- should allow deleting multiple versions of a bento by specifying the name
- should allow user to by-pass confirmation by a CLI flag

[2022-01-04 01:49] parano opened #2151 "bentoml import/export CLI commnad"
CLI implementation for import & export BentoML bentos or models. E.g.:
[code]
Equivalently:
[code]

The same should work for models:

[code]

[2022-01-04 01:50] parano opened #2152 "Usage tracking"

[2022-01-04 01:50] parano opened #2153 "DataContainer: tf.Tensor for tf v2"

[2022-01-04 01:50] parano opened #2154 "DataContainer: XGBoost DMatrix"

[2022-01-04 01:50] parano opened #2155 "bentoml get command"
- `bentoml get` should return basic bento info
- `bentoml get` should provide a `--output` option to set output to JSON or YAML format
- `bentoml models get`

[2022-01-04 02:53] ssheng commented on #2147
Should we implement max latency similar to the `deadline` feature in gRPC or have a 10 max latency PER runner?

[2022-01-04 06:40] HansolEom opened #2156 "PytorchModelArtifact vs PytorchLightningModelArtifact question"
I use PytorchLightningModelArtifact.
I get this problem:
[code]
when doing model.pack.
If i use the torch model in pytorch lightning, this problem does not occur. For what reason?

error code:
[code]

torchmodel code:
[code]

my env:
bentoml = 013.1
pytorch = 1.10.1
pytorch-lightning = 1.5.7

[2022-01-06 15:03] tomaindow opened #2159 "aiohttp error: Response payload is not completed"
First of all, thank you so much for all the work on BentoML, it's a fantastic piece of kit.

**Describe the bug**
We've been running a model inference service using `bentoml serve-gunicorn path/to/model --timeout=10` that has been happily running and returning predictions for several weeks, but recently came across the following `aiohttp.client` error:

[code]

After re-starting the service, every

[2022-01-06 15:16] alexdivet opened #2160 "MLflow pyfunc model can't be loaded"
**Describe the bug**
I can't load a *mlflow* model in the beta version of BentoML 1.0

**To Reproduce**
1. Train & log a pyfunc model to mflow
[code]

2. Load it into BentoML
[code]
3. The model gets successfully stored in the local model store (listed in `bentoml models list`), however the loading `model = bentoml.mlflow.load(tag)` is failing to **AttributeError** `module 'mlflow.pyfunc.model' ha

[2022-01-07 07:19] smiraldr commented on #2052
Hi ! is there any resolution regarding this issue? Is this going to be fixed @parano ?

[2022-01-07 16:32] aarnphm commented on #2160
what version of mlflow are you using?

[2022-01-11 05:06] parano opened #2163 "OpenTelemetry support"

[2022-01-12 10:06] alexdivet opened #2165 "bentoml list not working"
**Describe the bug**
BentoML 1.0 fails to list my services using `bentoml list`

**To Reproduce**
1. Just run `bentoml list`

**Expected behavior**
Get a list of all my services

**Screenshots/Logs**
[code]

**Environment:**
- OS: MacOS 11.6
- Python Version Python 3.8.5
- BentoML Version BentoML-1.0.0a1

[2022-01-12 10:31] alexdivet commented on #2165
I installed bentoml `pip install bentoml==1.0.0a1`, I guess the configuration should consider it as a clean install

[2022-01-12 14:52] aarnphm commented on #2165
can you try `pip install bentoml --pre` instead?

[2022-01-12 17:34] alexdivet commented on #2165
just tried `pip install bentoml --pre` but it collects the same version:

[code]
and I've got the exact same error from `bentoml list`

[2022-01-12 17:49] aarnphm commented on #2165
I can't seem to replicate this issue, everything works on my end. Can you do this and post the content of the following?
[code]

[2022-01-12 18:04] alexdivet commented on #2165
[code]

[2022-01-12 18:06] aarnphm commented on #2165
Thank you

[2022-01-13 05:27] niits opened #2169 "BentoML cloudpicke went wrong when checking __module__ attribute from torch.qscheme"
**Describe the bug**
BentoML `cloudpicke` went wrong when checking `__module__` attribute from `torch.qscheme`

When saving BentoML service by using the `save` function, I caught an Exception with the following message `AttributeError: 'torch.qscheme' object has no attribute '__module__'`

**To Reproduce**
Steps to reproduce the issue:
1. Create Service class:

[code]
2. Create `DynamicQuantizedLi

[2022-01-13 13:31] #2169 closed

[2022-01-14 19:06] mcastrogg commented on #338
Same issue. Can build locally but when attempting to containerize from yatai I get the following error:
Command:
`bentoml containerize xxxx:latest --yatai-url=xxxx`

Output:
`Found Bento: https:/xxxxx.s3.amazonaws.com/....`
`Error: bentoml-cli containerize failed: Failed to containerize xxxx:xxxx - INTERNAL:Docker is required for this deployment. Please visit www.docker.com for instructions`

[2022-01-14 19:40] aarnphm commented on #2165
@alexdivet I wonder which version of `conda` you are using? Because I cannot seem to replicate this issue on my local machine. I have tested this on pyenv and poetry and everything seems to work as expected.

[2022-01-17 06:26] parano commented on #338
@mcastrogg did you confirm that docker is running and configured correctly?

[2022-01-17 15:23] mcastrogg commented on #338
@parano Thanks for the reply. Yes Docker was running on both the yatai box and the ec2 instance that was running the `bentoml containerize` command. Checked that both were running via `docker info`

[2022-01-17 17:19] aarnphm commented on #2165
This should be fixed with a upcoming releases.

[2022-01-17 17:19] #2165 closed

[2022-01-17 18:59] parano commented on #338
@mcastrogg could you share a bit more how Yatai was deployed? Is it running in its own container? and did you deploy with the Yatai Kubernetes helm chart that we provide?

[2022-01-18 03:33] bui-thanh-lam opened #2185 "Cannot save Pytorch model"
**Describe the bug**
I follow the tutorial in https://github.com/bentoml/gallery/tree/main/pytorch, but I got an error below:
I've checked the source code, but I don't know why I couldn't import bentoml.pytorch to use save() method.

**Screenshots/Logs**
![Screenshot from 2022-01-18 10-27-47](https://user-images.githubusercontent.com/47263060/149866078-201a2537-2a4a-4df9-9c19-7931c5cb6680.png)

**

[2022-01-18 23:23] parano commented on #654
Thanks for the suggestion, @LeoVS09 @nicjac, in the upcoming BentoML 1.0, uploading to S3 via Yatai will handle this case more gracefully by raising an error and reporting the upload failure, and the user can simply retry `push` later on.

[2022-01-18 23:23] #654 closed

[2022-01-19 00:26] parano commented on #744
This is now supported in BentoML 1.0: https://docs.bentoml.org/en/latest/api/api_io_descriptors.html#bentoml-io-image

[2022-01-19 00:26] #744 closed

[2022-01-19 00:26] parano commented on #806
This is now supported in BentoML 1.0, via the `Multipart` IO descriptor: https://docs.bentoml.org/en/latest/api/api_io_descriptors.html#bentoml-io-multipart

[2022-01-19 00:26] #806 closed

[2022-01-19 00:31] parano commented on #1037
This is now possible in BentoML 1.0, where models are first saved in local model store before the Bento build process. User can also create a custom Runner class, and define how/when a model is loaded. e.g.:

[code]

[2022-01-19 00:31] #1037 closed

[2022-01-19 00:32] parano commented on #919
This is now supported in BentoML version 1.0: https://docs.bentoml.org/en/latest/api/api_io_descriptors.html#bentoml-io-file

[2022-01-19 00:32] #919 closed

[2022-01-19 00:34] parano commented on #1097
In BentoML, local python modules can be included by specifying the `include` filed in the `bentofile.yaml` build file. E.g.:

[code]

[2022-01-19 00:36] #1097 closed

[2022-01-19 00:38] parano commented on #1296
In bentoml 1.0, we provide full support for all `pip install` arguments for user to configure their python dependencies. User can customize these options via the `bentofile.yaml` file for their project. Here's an example with all the supported pip install options:

[code]

[2022-01-19 00:38] #1296 closed

[2022-01-19 00:40] parano commented on #1328
In BentoML version 1.0, kubernetes deployments are managed via [Yatai](https://github.com/bentoml/yatai) which handles all the deployment endpoints creation and ingress resources out-of-the-box. Updating to 1.0 will resolve this issue.

[2022-01-19 00:40] #1328 closed

[2022-01-19 00:41] parano commented on #1161
This is now supported in BentoML 1.0, where users can add any custom ASGI or WSGI app to the BentoService, giving advanced users full customization of their ML Service endpoints.  Here are two examples using Flask and FastAPI to add additional endpoints to a BentoML service:

## Mounting a Flask App to Service

Use `Service#mount_wsgi_app` to mount flask app to a Service. This works for any WSGI b

[2022-01-19 00:41] #1161 closed

[2022-01-19 00:42] parano commented on #737
This is now supported in BentoML version 1.0: https://docs.bentoml.org/en/latest/api/api_io_descriptors.html#bentoml-io-numpyndarray

[2022-01-19 00:42] #737 closed

[2022-01-19 00:43] parano commented on #685
This is now supported in BentoML 1.0, where user can specify arbitrary files to be included in the Bento, via a `bentofile.yaml` file. Here's an example build file:

[code]

See 1.0 documentation to learn more: https://docs.bentoml.org/en/latest/

[2022-01-19 00:43] #685 closed

[2022-01-19 00:46] parano commented on #1376
Ultimately we decided to not support this use case for now. In BentoML 1.0, we have standardized how kubernetes deployments are created via Yatai, which will handle all the deployment endpoints management and ingress resources, making sure all swagger pages are available.

[2022-01-19 00:46] #1376 closed

[2022-01-19 00:47] parano commented on #1395
This is no longer relevant since we have moved Yatai to a separate project here, rebuilt from scratch https://github.com/bentoml/yatai

[2022-01-19 00:47] #1395 closed

[2022-01-19 00:49] parano commented on #1426
BentoML 1.0 no longer depends on proto and we've simplified the communication with Yatai to REST APIs to avoid the dependency on protobuf and gRPC.

That being said, we won't consider supporting this in older 0.13 branch. If you ran into this issue, we'd recommend migrating to BentoML version 1.0.

[2022-01-19 00:49] #1426 closed

[2022-01-19 00:51] parano commented on #1410
Thanks again for all the discussion, which really inspired us to redesign the Bento packaging API in BentoML version 1.0, which makes bundling local dependencies a lot easier.

In BentoML 1.0, a project root must be specifically defined where a `bentofile.yaml` is placed, specifying all the Bento build configs. This project root also should be seen as the CWD in your service's python environment,

[2022-01-19 00:51] #1410 closed

[2022-01-19 00:54] parano commented on #1506
Closing due to low priority. Will revisit if we ran into others issues with API server on windows platform.

[2022-01-19 00:54] #1506 closed

[2022-01-19 01:00] parano opened #2191 "BentoServer index page redesign"
**Is your feature request related to a problem? Please describe.**

Currently BentoServer index page is just a simple Swagger UI, that allow users to send requests via the Web UI. It would be nice to provide additional contextual information for the user:

* Help user choose sample input for testing an endpoint, when the input descriptor is created via `from_sample` method https://docs.bentoml.org

[2022-01-19 01:01] parano commented on #1536
This issue will be tracked separately here: https://github.com/bentoml/BentoML/issues/2191

[2022-01-19 01:01] #1536 closed

[2022-01-19 01:03] parano commented on #1528
Closing now due to low priority. This must be covered in our manual QA process prior to the release.

Ideally we would need a real end-to-end test that runs things in an isolated environment(e.g. its own docker container that does not contain test dependencies).

[2022-01-19 01:03] #1528 closed

[2022-01-19 01:03] parano commented on #1579
This is no longer relevant since we have moved Yatai to a separate project here, rebuilt from scratch https://github.com/bentoml/yatai

[2022-01-19 01:03] #1579 closed

[2022-01-19 01:04] parano commented on #1588
Yes, thanks @harshitsinghai77

[2022-01-19 01:04] #1588 closed

[2022-01-19 01:04] parano commented on #1591
Fixed via https://github.com/bentoml/BentoML/pull/1720

[2022-01-19 01:04] #1591 closed

[2022-01-19 01:05] parano commented on #1675
This is no longer relevant since we have moved Yatai to a separate project here, rebuilt from scratch https://github.com/bentoml/yatai

[2022-01-19 01:05] #1675 closed

[2022-01-19 01:06] parano commented on #1684
This is supported in BentoML 1.0 now https://docs.bentoml.org/en/latest/concepts/api_io_descriptors.html

[2022-01-19 01:06] #1684 closed

[2022-01-19 01:07] parano commented on #1719
We have moved away from the python docker API client, currently in BentoML 1.0, `bentoml containerize` should show build errors the same way a regular `docker build` command would do.

[2022-01-19 01:07] #1719 closed

[2022-01-19 01:12] parano commented on #1649
Update: we have moved Yatai to a separate project here, rebuilt from scratch https://github.com/bentoml/yatai

In the new Yatai and BentoML 1.0, users can push/pull models and bentos to/from Yatai, and we made sure that model metadata are being kept in this process. Here's a model details UI in Yatai:

![Uploading Screen Shot 2022-01-18 at 5.12.14 PM.png…]()

[2022-01-19 01:12] #1649 closed

[2022-01-19 01:15] parano commented on #1621
This issues has been resolved in the upcoming BentoML 1.0 release.

In BentoML 1.0, a project root must be specifically defined by placing a bentofile.yaml file in the directory. This file specifies all the Bento build configs, including what are the files to include in the final Bento built. The project root also should be seen as the CWD in your service's python environment, as well as part of t

[2022-01-19 01:15] #1621 closed

[2022-01-19 01:16] parano commented on #1617
This is supported now in BentoML 1.0, users can use `bentoml serve` command with `--load` option, which will automatically reload the server when the service definition file or related files are changed.

[2022-01-19 01:16] #1617 closed

[2022-01-19 01:18] parano commented on #1597
@sauyon is this similar to the issue you were encountering with XGBoost DMatrix?

[2022-01-19 01:19] parano commented on #1631
Hi @Matthieu-Tinycoaching, our team has decided to deprecate the BenchmarkClient in favor of locust https://docs.locust.io/en/stable/api.html

[2022-01-19 01:19] #1631 closed

[2022-01-19 01:23] parano commented on #2084
@gregd33 that's true we are not longer using imageio in BentoML 1.0, Pillow will be used to replace it in the Image IO.

[2022-01-19 01:23] #2084 closed

[2022-01-19 01:58] parano commented on #2185
Hi @bui-thanh-lam - sorry about the confusion, looks like you are running the gallery guide for version 1.0, whereas the installed version is 0.13, I've added a note to the README file to point to the older 0.13 branch of the gallery projects. And if you want to try out the new 1.0 preview release, you can install it via `pip install bentoml --pre`

[2022-01-19 01:58] #2185 closed

[2022-01-19 02:13] parano commented on #1065
We are proposing the following solution in BentoML 1.0, although it sill need further discussion:

[code]

[2022-01-19 02:23] parano commented on #1499
In debug mode, RunnerApp should:

* log the batch size for each run
* log the latency for each run

[2022-01-19 02:26] parano commented on #1564
This is now tracked here for BentoML v1.0: https://github.com/bentoml/BentoML/issues/2147

[2022-01-19 02:26] #1564 closed

[2022-01-19 02:39] parano commented on #1597
Proposed change:

Instead of the current FileLike object, we want to add additional return types to `File`, including the native BytesIO and TextIO.

[code]

Discuss: should we deprecate the `FileLike` class? What if user code requires the file name?

[2022-01-19 02:42] parano commented on #1474
In BentoML 1.0, we decided to use # of CPU cores as the default API server worker count. User can change this via config file or the `-w/--worker` CLI option.

[2022-01-19 06:35] Matthieu-Tinycoaching commented on #1631
Hi @parano nice!

How to effectively load testing multiple EC2 instances behind a load balance then?

Since when I tested it with two EC2 instances behind a load balancer and locust, I got the same RPS than with a unique instance?

[2022-01-19 07:31] parano commented on #1631
@Matthieu-Tinycoaching it sounds like there maybe issue with the load balancer set up, could you confirm both replicas are receiving requests?

[2022-01-19 07:49] Matthieu-Tinycoaching commented on #1631
@parano yes both of replicas received requests, I checked it by sending requests via AWS Network Load Balancer (NLB) and looking at logs on each instance.

[2022-01-19 07:58] hzlmn commented on #685
Thanks for your work. It is really valuable feature!

[2022-01-19 08:18] bojiang opened #2192 "Split Service Configuration and Orchestration Configuration"
Current status:
Waiting for Yatai Orchestration Configuration

[2022-01-19 08:21] bojiang commented on #2163
current status:

* tracing: implemented but not ensured by ci
* meter: to add exporter
* **century?

[2022-01-19 08:35] chris-aeviator commented on #2147
Happy to test the implementation down the road & provide feedback. I have a 100% reproducible situation where I run into timeouts even though the code runs fine (I see my result in the terminal)

[2022-01-19 09:49] ssheng commented on #2149
# Formats

## Service Log

- This is your everyday app logs.
- Logs the console by default with the following format, and optionally to a file `active.log` controlled by configuration.

[code]

Example of logs related to a request.

[code]

Example of logs unrelated to requests, e.g. startup, shutdown logs, with trace ID empty.

[code]
## Access Log

- Human readable request and response metadata.

[2022-01-19 13:54] alexdivet commented on #2165
I'm using conda 4.10.3 / python 3.8.5

Thanks for having fixed it 🙏🏻

[2022-01-19 20:29] parano commented on #1902
this issue has been fixed in BentoML 1.0, here's update PyTorch sample project using a separate `model.py` file that defines the model: https://github.com/bentoml/gallery/tree/main/pytorch

[2022-01-19 20:29] #1902 closed

[2022-01-19 20:34] parano commented on #1909
Hi @Ninhow -for your frontend code to access the API server directly on a different domain, you will need to configure BentoServer's [CORS config](https://fetch.spec.whatwg.org/#http-cors-protocol), you can use the sample config below when running your BentoML server:

[code]

[code]

[2022-01-19 20:34] #1909 closed

[2022-01-19 20:43] parano commented on #2159
Thank you for the feedback @tomaindow, that's indeed an important pain point for bentoml users. We plan to add more debugging information to help users understand the real-time batching decisions. This issue is now being tracked here: https://github.com/bentoml/BentoML/issues/1499 will close this one to avoid duplication

[2022-01-19 20:43] #2159 closed

[2022-01-19 20:49] parano commented on #2030
This feature is supported in BentoML now, user-defined pydantic class can now be used for validating JSON input and output: https://docs.bentoml.org/en/latest/api/api_io_descriptors.html#bentoml-io-json

[code]

[2022-01-19 20:49] #2030 closed

[2022-01-19 21:11] parano opened #2194 "Support for NLTK"
**Is your feature request related to a problem? Please describe.**

Support for the NLTK library http://nltk.org

* Runner class for NLTK model
* A hook for downloading NLTK model/data during docker build process or server startup

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-01-19 21:13] parano commented on #2037
Using PyPI package's extra dependency is supported in BentoML version 1.0 now. Note that BentoML 1.0 no longer support automatically inferring dependencies, instead it ask users to provide a list of required dependencies in your Bento project's `bentofile.yaml` file, e.g.:

[code]

[2022-01-19 21:13] #2037 closed

[2022-01-19 21:17] parano commented on #2003
Hi @yuhongsun96, thank you again for the feedback, here's an update for this issue in BentoML version 1.0:

In 1.0, we separated the API endpoint definition and the dynamic batching behavior. Service API is only responsible for describing the mapping between incoming HTTP request and out coming HTTP response type and converting them to/from a python object. Batching logic is limited to the Runner

[2022-01-19 21:17] #2003 closed

[2022-01-19 21:19] parano commented on #1889
Thank you for the feedback @marcindulak - this issue should be fixed now in BentoML version 1.0, where user can specify arbitrary files to be included in the Bento, via a `bentofile.yaml` file. Here's an example build file:

[code]

See 1.0 documentation to learn more: https://docs.bentoml.org/en/latest/

[2022-01-19 21:19] #1889 closed

[2022-01-19 21:21] parano commented on #2116
Thank you for the feedback @roundtable-swk - this issue has been fixed in the BentoML 1.0 version, you can find related discussion here https://github.com/bentoml/BentoML/issues/1621#issuecomment-840513959

[2022-01-19 21:21] #2116 closed

[2022-01-19 21:26] parano commented on #1951
Hi @Meosit - this issue should be fixed in the upcoming BentoML 1.0 release. In BentoML 1.0, a project root must be specifically defined by placing a bentofile.yaml file in the directory. This file specifies all the Bento build configs, including what are the files to include in the final Bento built. The project root also should be seen as the CWD in your service's python environment, as well as

[2022-01-19 21:26] #1951 closed

[2022-01-19 21:27] parano commented on #1865
Thank you so much for the suggestion @withsmilo, this feature is now supported in BentoML 1.0, where user can configure the server backlog by setting the `--backlog` CLI argument:

[code]

[2022-01-19 21:27] #1865 closed

[2022-01-19 21:33] parano commented on #2111
Hi @arvindhbti - could you share your service definition code to help us investigate further?

Also BentoML 1.0 preview release has just arrived where we improved support for Tensorflow and ONNX. In 1.0, we unified the model inference API using a Runner abstraction to avoid confusion scenarios like this where model object before and after save may expose slightly different interface for the user.

[2022-01-19 21:36] parano commented on #2163
Let also add a test to ensure metrics are collected across multiple processes: https://github.com/bentoml/BentoML/issues/2052

[2022-01-19 21:45] parano commented on #2052
Thank you for reporting the issue @ldynia @smiraldr - this is likely due to an issue with python prometheus client's multi process support. In the upcoming BentoML 1.0, we have revamped that implementation and made sure metrics are collected correctly across multiple workers https://github.com/bentoml/BentoML/issues/2163. cc @bojiang

[2022-01-19 21:55] parano commented on #1824
Thank you for the feedback @yaysummeriscoming! BentoML 1.0 is around the corner and a lot of related things have changed, so I want to give an update:

Yes it is possible to implement custom model load logic. In BentoML 0.13 version, user may create a custom Artifact class where you may implemented encryption: https://docs.bentoml.org/en/v0.13.1/guides/custom_artifact.html

In BentoML 1.0, this ca

[2022-01-19 21:58] parano commented on #1855
Hi @ice-americano - looks like you are not using a base image that has docker supporting, the image `bentoml/model-server:0.13.1-py38` actually does not contain all the cuda and cudnn dependencies that's required. Could you try using the `0.13.1-py38-gpu` image instead and try again?

[2022-01-19 22:01] parano commented on #2142
@avicennax would be great to get your help on this one - the `main` branch is for the development of 1.0, it would be great if you could help take a look at the current API IO descriptor and related OpenAPI implementation, and would be great to discuss more with you about your proposed solution.

[2022-01-19 22:03] parano commented on #1861
Update: this feature is now supported in BentoML 1.0, where user can provide a custom `json_encoder` for the JSON input or output:  https://docs.bentoml.org/en/latest/api/api_io_descriptors.html#bentoml-io-json

[2022-01-19 22:03] #1861 closed

[2022-01-19 22:10] parano commented on #1796
Hi @wuxutao @mqk - sorry about the delay in getting back to you. The reason for this issue is that in BentoML 0.13, Yatai requires a storage backend for storing the Models and it supports both local file system and blob storage(AWS S3, MinIO, Azure blob storage). However, when Yatai is deployed in production mode and connected remotely, only blob storage is supported. Local storage is only meant f

[2022-01-19 22:10] #1796 closed

[2022-01-19 22:44] parano commented on #1816
This is now fixed in the new deployment tool [bentoctl](https://github.com/bentoml/bentoctl) and its [aws-lambda-deploy](https://github.com/bentoml/aws-lambda-deploy) plugin.

[2022-01-19 22:44] #1816 closed

[2022-01-19 23:13] parano commented on #1547
Update: `start_dev_server` was an experimental API and has been replaced by the new APIs provided in BentoML 1.0, namely the new `bentoml serve` command can be used to load a bentoml service definition python file directly and spin up a development server, which also supports auto-reload when code is changed.

[2022-01-19 23:19] parano opened #2195 "Add support for accessing Request context"
**Is your feature request related to a problem? Please describe.**

Provide a task-local context in service API function, for user to access additional context information of current request. This should include request id, trace id, span id, HTTP request header.

- Introduce a `request_context` to the `api_server` and `runner` interfaces
- Parallel to the `input` and `output` parameters
- Agnosti

[2022-01-19 23:20] parano commented on #1827
Hi @Juggernaut1997 - I think this is expected behavior, you may write another line of code that decode the header value. Note that BentoML actually does not expect users to use the `request` object directly, in BentoML 1.0, we are adding a new abstraction `request_context` which will allow users to access HTTP headers and additional context information, see feature ticket here: https://github.com/

[2022-01-19 23:25] parano commented on #1830
Update: `start_dev_server` was an experimental API and has been replaced by the new APIs provided in BentoML 1.0, namely the new `bentoml serve` command can be used to load a bentoml service definition python file directly and spin up a development server, which also supports auto-reload when code is changed.

[2022-01-19 23:25] #1830 closed

[2022-01-20 01:17] parano commented on #1866
Update: this feature is now supported in the upcoming 1.0 version. BentoML 1.0 provide a Runner concept which contains a unit of IO or Compute intense program, and it allow users to customize how to scale base on resources available. A pre-built Runner class will also be provided for all common ML frameworks, which is optimized for the framework's own performance characteristic, in order to achiev

[2022-01-20 01:17] #1866 closed

[2022-01-20 01:46] #1827 closed

[2022-01-20 01:49] parano commented on #1808
Hi @picsag - you can put a similar setting in the docker compose yaml like below:

[code]

[2022-01-20 01:49] #1808 closed

[2022-01-20 01:50] parano commented on #1808
Update: BentoML 1.0 and the new Yatai project launch is around the corner, in the new Yatai implementation, docker image build process will be automated on a K8s cluster, user won't need to manually mount the docker socket any more.

[2022-01-20 01:51] parano commented on #1757
This is supported in BentoML version 1.0 now, see discussion here: https://github.com/bentoml/BentoML/issues/1161#issuecomment-1015965160

[2022-01-20 01:51] #1757 closed

[2022-01-20 01:52] parano commented on #1767
Update: using multiple files as service API input or output is supported in BentoML version 1.0 now, via the `bentoml.io.Multipart` IO descriptor, see usage and API docs here: https://docs.bentoml.org/en/latest/api/api_io_descriptors.html#bentoml-io-multipart

[2022-01-20 01:52] #1767 closed

[2022-01-20 01:57] parano commented on #1768
Update: this issue is fixed properly in the upcoming version 1.0's design, where BentoML's API server have switched to ASGI from WSGI, and model inference workload will be running in a separate Runner worker, to avoid blocking the API server and access to `/health`.  In cases where heavy pre-processing code is required in the API function, we recommend users to use ASYNC to re-write the logic if p

[2022-01-20 01:57] #1768 closed

[2022-01-20 01:58] ssheng opened #2196 "Prediction Events"
## Goals

- Instrument input and output of every prediction in both `api_server` and `runners`
- Schematized
- Agnostic of the wire protocols, e.g. HTTP, gRPC
- Transferred in binary formats
- Designed to be shipped off the box to remote data wire houses

## Design Considerations

- Data container will be responsible for encoding the input and output
- The `msgpack` format is a good encoding candi

[2022-01-20 02:14] parano commented on #1799
This issue has been fixed in the upcoming BentoML 1.0, where config file can use either `.yml` or `yaml` as its extension.

@vibss2397 the configuration for Yatai actually does not work in BentoML 0.13, you still need to specify `--yatai-url` argument when running Yatai related operations such as push/pull. However this will be changed in BentoML 1.0, where a global Yatai config is managed by Bent

[2022-01-20 02:14] #1737 closed

[2022-01-20 02:15] parano commented on #1737
Closing due to low priority. BentoML 1.0 design does take into consideration of this scenario and it is something we can support down the line.

[2022-01-20 02:52] parano commented on #1874
Thank you for the feedback @hsiehkl - accessing request header is on our roadmap for BentoML 1.0, will close this issue and track it separately here: https://github.com/bentoml/BentoML/issues/2195

As for customizing the OpenAPI schema, this is possible in BentoML 1.0 now, by overriding the `openapi_request_schema` method of the IO descriptor class. E.g.:

[code]

[2022-01-20 02:52] #1874 closed

[2022-01-20 10:15] aarnphm commented on #2142
it seems like to me that BentoML's OpenAPI schema definitions should be able to process nested pydantic schema definition. It would be great if you can take a look into this. Feel free to dm me or Chaoyu for your proposed solution.

[2022-01-20 10:51] plagree opened #2197 "Keras framework issue"
Hello,

I'm currently trying out the pre-release of bentoml 1.0 and having issues with Keras models. When saving a Keras model through bentoml (bentoml.keras.save), I get the an error. The issue seems to be related to the h5 format which is used by bentoml under the hood when the recommended format (SavedModel) provides no error.

Bentoml version: `1.0.0a2`
Tensorflow version: `2.7.0`

Code to rep

[2022-01-20 11:59] larme commented on #2197
Thank you for reporting the issue.

Currently `bentoml.keras.save` use h5 as internal format because we want to keep compatibility with older version of tensorflow. We will add an option to save with SavedModel format later. Meanwhile you may try to use `bentoml.tensorflow.save` to save your Keras model as a temporary solution.

[2022-01-20 15:36] yakirs57 commented on #1909
Hi @parano , I am also experiencing CORS issues. I am using BentoML service with serve-gunicorn.
my bento_config file is defined under the BENTOML_CONFIG environment variable. I am using an Ubuntu environment and BentoML v0.13

**I notice in the response headers:**
access-control-allow-headers: content-type
access-control-allow-methods: DELETE, GET, HEAD, OPTIONS, PATCH, POST, PUT
access-control-a

[2022-01-20 19:44] parano commented on #2160
@alexdivet @aarnphm the new 1.0.0a2 was just released, could you help confirm the issue has been resolved?

[2022-01-20 20:18] parano commented on #1656
@Asrst the batching logic currently already does exactly this `wait either till it reaches the requests equal to mb_max_batch_size or wait time equal to mb_max_latency` - except that it estimate what's the latency for the request that arrives the earliest in the batch and make sure it can return within the `mb_max_latency`.

I think @Matthieu-Tinycoaching is asking for something a bit different, w

[2022-01-20 20:18] #1656 closed

[2022-01-20 20:23] #2140 closed

[2022-01-20 20:26] parano commented on #1721
Update: this issue should be fixed now the in the new BentoML 1.0 version, as part of the support for Open Telemetry: https://github.com/bentoml/BentoML/issues/2163

[2022-01-20 20:26] #1721 closed

[2022-01-20 20:40] aarnphm commented on #2160
![Screenshot 2022-01-20 at 15 39 52](https://user-images.githubusercontent.com/29749331/150418600-d75d6b01-679d-4fa7-9a66-395262c13569.png)
Works just fine for me

[2022-01-20 20:41] #2160 closed

[2022-01-20 20:42] aarnphm commented on #1655
Close this for now since this is not related to BentoML. You can DM me or bojiang if you still need help :smile:

[2022-01-20 20:42] #1655 closed

[2022-01-21 12:52] pashtet04 opened #2199 "Change layers order in Dockerfile.template due permission issues on compile"
**Is your feature request related to a problem? Please describe.**
I am building Container image from BentoML Service bundle with Argo Workflows (Kubeflow) into GKE and always got an error at
`RUN chmod +x ./env/docker/entrypoint.sh`

[code]

**Describe the solution you'd like**
Switch lines at Dockerfile.template to
[code]

**Describe alternatives you've considered**
Is at any way to fix order of

[2022-01-21 14:10] alexdivet opened #2200 "[bentoml 1.0.0a2] bentoml serve fails"
**Describe the bug**
I'm testing bentoml 1.0.0a2 following your [quickstart](https://docs.bentoml.org/en/latest/quickstart.html) but I can't serve the model due to an issue with **opentelemetry**

**To Reproduce**
Run `bentoml serve ./bento.py:svc --reload` in the quickstart

**Screenshots/Logs**
[code]

**Environment:**
OS: MacOS 11.6
Python Version Python 3.8.12
BentoML Version BentoML-1.0.0a2

[2022-01-21 14:14] alexdivet commented on #2160
It works on my end too. Thanks for resolving it 🙏🏻

[2022-01-21 15:24] jeanCarloMachado commented on #1617
Great news! Thanks @parano

[2022-01-21 16:46] parano commented on #2200
Thank you for reporting the issue @alexdivet, this is an issue with changes from the preview release from opentelemetry, if you install the latest stable release of opentelemetry-api and opentelemetry-sdk, this issue should go away.

[code]

cc @bojiang

[2022-01-21 17:23] parano commented on #2199
Hi @pashtet04, may I ask what is the base docker image you are using? is it the default one from BentoML?

[2022-01-21 17:31] alexdivet commented on #2200
thanks for the prompt answer @parano

I confirm it works with the stable release 👌🏻

[2022-01-21 17:31] #2200 closed

[2022-01-22 11:40] pashtet04 commented on #2199
For building Container image into Kubernetes I use `gcr.io/kaniko-project/executor:debug`
Base image `FROM bentoml/model-server:0.13.1-py38`

[2022-01-23 10:55] yetone commented on #2192
or called `dev configuration` and `ops configuration`

[2022-01-24 02:22] doxg commented on #1799
Greetings!
I have been trying to set URL of bentoml service to certain url (to connect it with front-end). I have been facing same problem, I couldn't set configurations. @dbuades, in step 3, it says " export $BENTOML_CONFIG=~/config.yml ". Can you please describe how is it done? Windows terminal doesn't recognize neither export nor BENTOML_CONFIG commands.
Any help would be appreciated.
Best Rega

[2022-01-24 15:14] pietermarsman commented on #1097
Thanks!

[2022-01-24 16:31] alexdivet opened #2203 "[bentoml 1.0.0a2] bentoml serve production mode fails"
**Describe the bug**
I'm testing `bentoml 1.0.0a2` following your [quickstart](https://docs.bentoml.org/en/latest/quickstart.html) but I'm hitting an issue with the production mode (it works fine without `--production`)

**To Reproduce**
Follow the same steps as in the quickstart and run `bentoml serve iris_classifier:latest --production`.

That's the definition of the service from the quickstart

[2022-01-24 17:01] parano commented on #2203
hi @alexdivet, what is your aiohttp version?

[2022-01-24 17:24] alexdivet commented on #2203
my bad, it's `aiohttp==4.0.0a1` and not the stable `aiohttp==3.8.1`

I've just realised I'm using `pip install bentoml --pre` to install the preview version, but it also installs all pre-release / development versions of dependent libraries. Safer to go with `pip install bentoml==1.0.0a2`

[2022-01-24 17:24] #2203 closed

[2022-01-24 17:44] parano commented on #2203
@alexdivet that's indeed an important issue for preview release users, we will fix that in the next preview release to set a max version for those dependencies.

[2022-01-25 22:42] #2199 closed

[2022-01-26 03:11] aarnphm commented on #1855
Hi @ice-americano, can you try this again on release `1.0.0a2` ?

[2022-01-26 14:40] jjerry-k opened #2215 "model on cpu/gpu (ver.1.0.0a2)"
**Is your feature request related to a problem? Please describe.**
I used pytorch 1.10, bentoml 1.0.0a2.
I trained a model using GPU and save using bentoml.pytorch.save.
When I load a model using CPU, runner didn't use CPU.

If I saved CPU model, runner only uses CPU.
If I saved GPU model, runner only uses GPU.

**Describe the solution you'd like**
Need to modify this line [link](https://github.co

[2022-01-26 16:56] larme commented on #2215
Thank you for reporting the issue.

We will push a quick fix for this problem.

[2022-01-26 20:55] parano opened #2217 "Standardize packaging of Tokenizer in NLP use cases"
Problem statement:

Currently there are a few ways to include a tokenizer in a BentoML service in ver 1.0:
1. Load directly from a file and use it in the API service code
2. Load directly from a file and use it in a custom Runner class
3. Bundle it into the model class(e.g. for Pytorch), in which case the tokenizer will be executed on the same Runner as the model
4. Create a custom Model and custo

[2022-01-26 23:00] aarnphm commented on #2217
I would prefer abstraction layer over documentation, since it seems to be more powerful and versatile. I will look into it more

[2022-01-27 01:05] mqk opened #2219 "PandasDataFrame.to_http_response incorrectly raises InvalidArgument exception"
**Describe the bug**
Returning a pandas DataFrame from a bento service API defined with `output=PandasDataFrame()` raises an InvalidArgument exception even though the returned value has the correct type (`pd.DataFrame`).
[code]

The issue is simply a missing `not` here. https://github.com/bentoml/BentoML/blob/main/bentoml/_internal/io_descriptors/pandas.py#L256

**To Reproduce**
* Create a bento s

[2022-01-27 01:45] #2219 closed

[2022-01-27 20:17] parano opened #2226 "feat: support import from and export to s3 path"
**Is your feature request related to a problem? Please describe.**

As next step to the import/export feature https://github.com/bentoml/BentoML/pull/2205, it would be nice to support using a s3 path as the import/export target.

Ideally we don't want to introduce boto3 as a dependency, we can either make it an optional dependency, only ask user to install it if a s3 path is given and the library

[2022-01-28 09:57] parano opened #2229 "BentoML CLI auto-complete"

[2022-01-28 10:07] aarnphm commented on #2215
we merged this on our main branch. Can you try installing `1.0.0a3`? Let me know if you still have any other question.

[2022-01-28 10:07] #2215 closed

[2022-01-29 05:20] jjerry-k commented on #2215
@aarnphm

I tried model loading across device_id.
First of all, I have no problem about model. (bentoml.pytorch.load)
But, I have another problem in loading runner. (bentoml.pytorch.load_runner)
I'll report issue about it.
Thank you!

[2022-01-29 06:09] jjerry-k opened #2230 "bentoml.pytorch.load_runner using cpu/gpu (ver 1.0.0a3)"
**Describe the bug**
Hi, I'm Jerry!
Thank you for the quick response to the last report!
After that, I have another problem.

First of all, This is my model code.
[code]

When I use bentoml.pytorch.load, `predict function in model` is working in every case.
![case_cpu](https://user-images.githubusercontent.com/25097024/151649478-4766f852-e525-4aa6-8301-3b5a417cb65c.png)
![case_gpu](https://user-im

[2022-01-29 06:59] jjerry-k commented on #2230
As I know, Data parallel model can't use custom method like predict!

[2022-01-29 07:02] aarnphm commented on #2230
I'm wondering why is your model class need both `forward` and `predict` function? Usually you should only implements `forward` function. the `predict` logics should be done separately?

[2022-01-29 07:11] jjerry-k commented on #2230
As you said, we usually should only implements `forward function`.
Of course, I usually don't implement predict function.
The reason I report the issue is because of [this example](https://github.com/bentoml/gallery/tree/main/pytorch).
In this example, predict function is implemented.
and I couldn't think DP model in case of gpu.

[2022-01-29 07:12] aarnphm commented on #2230
@larme

[2022-01-29 07:19] jjerry-k commented on #2230
I have a question!

Can I ask about why use data parallel model in case of cuda? (even when gpu is only one)

[2022-01-31 06:19] bojiang commented on #2163
The current status of the metrics part of the Opentelemetry Python sdk is still alpha.

Keep using prometheus_client till the upstream gets ready: #2232

[2022-01-31 21:41] parano commented on #2226
Update: the current `bentoml.export` and `bentoml.import` API actually already supports S3 path(need another dependency fs-s3fs), however it was exported as a whole directory on s3, we would want to support import/export as a tar file to this API, and use the same API in our CLI.

[2022-02-01 01:33] larme commented on #2230
@jjerry-k thanks for the detailed bug report!

In our gallery example we implement a `predict` method to demonstrate the flexibility of the framework. However this seems to add more confusions. I will reorganize this example a little bit.

We use data parallel model in case multiple GPUs are available. Like you pointed out this part's logic can be optimized and we will do it in a later fix.

[2022-02-02 00:59] jondoering opened #2236 "bentoml build fails with AssertionError"
**Describe the bug**

bentoml build  fails with AssertionError

**To Reproduce**
* build a model following https://docs.bentoml.org/en/latest/quickstart.html#getting-started-page
* tested locally with  bentoml serve ./run_model.py:svc --reload what worked
* try to docerize and build it with 'bentoml build' and it fails
![image](https://user-images.githubusercontent.com/13738458/152075970-d6d42304-

[2022-02-02 01:20] parano commented on #2236
Thanks for reporting the issue @jondoering - I'm able to reproduce this issue under `pip-22.0.2`, this is an issue from the dependency pip-tools and it's being fixed here: https://github.com/jazzband/pip-tools/pull/1559

Unfortunately before that fix was released, you will need to downgrade pip to version 21.x in order to get it to work properly.

In the next release of BentoML, we are adding a `l

[2022-02-02 01:54] sauyon commented on #2151
Somewhat taking this over to make `export` / `import` nicer to deal with on the API side; see https://github.com/bentoml/BentoML/pull/2237 for that and https://github.com/bentoml/BentoML/pull/2205 for the CLI implementation.

[2022-02-02 09:54] pietermarsman opened #2240 "The bentoml serve-gunicorn argument --timeout is not always respected"
**Describe the bug**

Disclaimer: I don't fully understand all the inner workings of BentoML but I will try to explain as clearly as possible.

I'm running into a timeout issue when my "model" (the bento in question is actually an orchestration component) is running for longer than 60 seconds.

I'm testing this locally using the `bentoml serve-gunicorn` command.

**To Reproduce**

Create slow bent

[2022-02-02 20:11] parano opened #2244 "Support PickableModel as a new model type"
Save a model or python object, that is pickable, in the model store:
[code]

Load the obj back:
[code]

Load the obj back as a runner:
[code]
Returns a simple runner when `batch=false`, which should work in most cases, as long as the input to the function is pickable.

If the function being pickled supports processing batch input, user may use `batch=True`, :
[code]

[2022-02-03 22:34] deepbrain opened #2246 "High CPU usage on AMD epyc server with 128 cores"
**Describe the bug**

When running on a server with 256 threads (128 cores) the bentoml spawns too many threads, so the process is shown to consume ~ 13000% CPU (130 threads) at some time intervals, all while doing nothing other than a light processing. Identical setup runs fine on a server with 8 cores. Is there a way to limit the number of cpus used by the bentoml service? It looks like it grabs

[2022-02-03 22:39] parano commented on #2246
Hi @deepbrain - could you confirm the BentoML version that you are using and did you set any of the `bentoml serve` CLI parameters or configs?

[2022-02-04 09:42] parano opened #2248 "feat: decorator for building custom Runner"
**Is your feature request related to a problem? Please describe.**

Currently for user to create a new Runner, it requires creating a new class inheriting from the base `Runner` or `Simple` runner class:

[code]

This works well for complex runners that requires defining an initialization process, or create custom DataContainer types for custom batching behavior. Although it is fairly verbose for

[2022-02-04 13:57] aarnphm opened #2249 "framework: ``import_from_huggingface_hub`` decoupling"
**Is your feature request related to a problem? Please describe.**
Current implementation of `import_from_huggingface_hub` uses `AutoModel` API from HuggingFace to detect the correct type of model to save
We include a concept call `lm_head` (which directly ported from huggingface) to determine which type of `AutoModel` to use. For example a Roberta model loaded from `AutoModel` is different than a

[2022-02-04 14:04] aarnphm commented on #2240
can you try `bentoml` 1.0 via `pip install bentoml --pre`? @bojiang this would be fixed in 1.0 right?

[2022-02-04 19:10] parano opened #2252 "feat: support Pytorch ignite"
Adding support for using models trained with Pytorch ignite in BentoML
* sample notebook showing how the integration could work
* verify that the current `bentoml.pytorch` module can adapt to the ignite workflow
* explore if there's a way to directly port artifacts logged from ignite to BentoML's modelstore, similar to the `bentoml.mlflow` interface

[2022-02-05 14:41] pietermarsman commented on #2240
Since 0.13.1 is LTS is expect the bug also to be fixed in major version 0.

[2022-02-06 05:06] aarnphm commented on #2240
yes

[2022-02-08 00:41] sauyon opened #2258 "Convert Bento / Model metadata to basic python objects"
All metadata should be relatively easily representable in both the web interface and the CLI. To support this, I think the only supported metadata types should be `dict`, `list`, `str`, `int`, and `Float`.

When a user creates a model or bento with associated metadata, that metadata will be converted as much as possible into those types. e.g. if the user passes an `ndarray`, it will be converted t

[2022-02-10 01:20] parano commented on #2249
Discussed offline, we will hide the `bentoml.transformers.import_from_huggingface_hub` api for now, revisit after 1.0 release

[2022-02-10 01:47] parano commented on #2192
update: Moving the resource_quota, batch_options in Runner to configuration file only

[2022-02-11 19:37] mqk opened #2263 "bentoml.load() changes the working directory"
**Describe the bug**
The act of loading a bento service changes the user's working directory.

**To Reproduce**
[code]

**Expected behavior**
I would expect to end up in the same directory as before the call to `bentoml.load`.

**Environment:**
 - OS: [e.g. MacOS 10.14.3]: 11.6.1
 - Python Version [e.g. Python 3.7.1]: 3.8.8
 - BentoML Version [e.g. BentoML-0.8.6]: 1.0.0a3

[2022-02-11 19:47] mqk opened #2264 "load_runner fails after loading a bentoml service"
**Describe the bug**
Calling `bentoml.xgboost.load_runner()` after previously loading a bentoml service with `bentoml.load()` fails with:
[code]

**To Reproduce**
[code]
(Traceback included below)

Note that just loading the runner, without loading a bentoml service beforehand, works just fine:
[code]

**Expected behavior**
I expect to be able to load a runner after having loaded a bento service.

[2022-02-11 21:11] parano commented on #2263
Hi @mqk - this is currently an expected behavior in 1.0. Setting CWD is not about loading the service code actually(for that we simply insert bento path to sys.path). Changing CWD is meant to allow user service or API code to read files using relative file path, from the project directory, e.g. `open('./config.yaml')`. This means we can't reset the CWD back after `load`, because reading file may h

[2022-02-11 22:19] mqk commented on #2263
I see. Personally, I find it a bit odd to support loading of local files from a relative path, but maybe there's a good reason for that. Just to make sure I'm understanding it correctly: some users define a bento service that loads resources from disk, and they have an expectation that the current-working-directory is the bento's `src/` directory? I can't really speak to the validity of that expec

[2022-02-13 15:20] jerpint opened #2267 "--production flag slows down my requests"
**Describe the bug**

When I add the `--production` flag to the `bentoml serve` command, model serving becomes extremely slow compared to without the flag. The `--production` flag seems to make many predictions in parallel and thus slow down processing. The exact same data (and outputs) are obtained in both cases.

**To Reproduce**

**Expected behavior**
I would expect the time to process an input

[2022-02-13 17:08] bojiang commented on #2267
Hi, jerpint. Thanks for reporting this.
Would u mind sharing your bento service definition snippet? For example:
[code]

[2022-02-13 17:53] jerpint commented on #2267
It looks something like this (obfuscated a little):

[code]

[2022-02-14 05:14] jerpint commented on #2267
short of finding a solution, is there a way to run the container without the `--production` flag? It seems to be the default behaviour when running `docker run MY_IMAGE` and I observe the same slow behaviour and logs

[2022-02-14 12:01] mlopezfernandez opened #2269 "Uploading Model to Yatai"
**Describe the bug**

I have managed to create a model and even dockerize the service with the information specified in the guides.
The next step was to use Yatai to serve different models. Currently I have managed to start the service and create a token with which I make the authentication. The problem comes when I try to upload the model that returns the following error:

![image](https://user-i

[2022-02-14 13:04] aarnphm commented on #2267
so this `make_predict_dataloader` function return a list of data? have you try to just pass the `dataloader` in and let `run_batch` handles inference that way?

[2022-02-14 13:09] aarnphm commented on #2269
cc @yetone

[2022-02-14 15:13] andreea-anghel opened #2270 "Failure of bento serve in production with aiohttp error"
**Describe the bug**

The sklearn example available here https://docs.bentoml.org/en/latest/quickstart.html#installation fails at inference time with  aiohttp error (unexpected `loop` argument). The bento service is deployed in production mode `bentoml serve iris_classifier:latest --production`. When deployed in development mode, the inference works as expected.

**To Reproduce**

Steps to reprodu

[2022-02-14 15:16] alexdivet commented on #2270
solved in there #2203

[2022-02-14 16:39] andreea-anghel opened #2271 "Failure of bento serve in production with AnyIO error"
**Describe the bug**

The sklearn example available here https://docs.bentoml.org/en/latest/quickstart.html#installation fails at inference time with  AnyIO error. The bento service is deployed in production mode `bentoml serve iris_classifier:latest --production`. When deployed in development mode, the inference works as expected.

**To Reproduce**

Steps to reproduce the issue:
1. Install BentoM

[2022-02-14 18:29] jerpint commented on #2267
`make_predict_dataloader` returns `predict_dataloader`, which is a typical pytorch `torch.utils.data.dataloader.DataLoader` class.

The idea is that in my case, a "single prediction" actually needs to iterate over many samples, hence why I create a dataset+dataloader for my sample. Think of 1 prediction being e.g. a batched prediction on a collection of images - I iterate through each, and collect

[2022-02-14 18:41] jerpint commented on #2267
would it be preferable to wrap everything in a dataset instead (without a batch size) and pass that directly to `run_batch`?

[2022-02-14 19:00] parano commented on #2267
It is possible to start the container with your own command, including running `bentoml serve` without the flag:  `docker run -p 5000:5000 YOUR_IMAGE_TAG bentoml serve $BENTO_PATH`. Although this is not recommended for production usage.

The reason for it being slower under `--production` is most likely due to lots of round trips between the API server process and runner process. In this case, I'd

[2022-02-14 19:29] jerpint commented on #2267
thanks, i've tried implementing 1 using

[code]

this works, and i obtain the same output results. However, i still notice a significant speed decrease when passing the `--production` flag instead of `--reload` flag. However, this time, the observed logs are the same

[2022-02-14 19:36] parano commented on #2269
Hi @mlopezfernandez - may I ask how/where did you deploy yatai? Is it a local Minikube or a managed K8S service? And did you modify the helm chart for installing Yatai?  It looks like Yatai is expecting the Minio installation in the same cluster but failed to query its credentials.

[2022-02-14 19:44] parano commented on #2271
Is this a duplication of https://github.com/bentoml/BentoML/issues/2271? Could you try it again with `pip install -U aiohttp==3.8.1` ?

[2022-02-14 19:46] parano commented on #2267
hi @jerpint may I ask how did you measure the speed decrease? Is it the first request has significant longer wait?  Were you able to measure an average over a period of time? that would be very helpful for us to understand the issue here

[2022-02-14 20:01] jerpint commented on #2267
@parano nothing more than just sending a `curl` to the server, and seeing how long between hitting enter and getting the response. In both cases, they are local (on `localhost`), the code is the exact same and all that changes is the flag at the end of the command. In one case, using `--reload`, the response is almost instant. In the other, using `--production`, the response is very slow (on the o

[2022-02-14 20:35] andreea-anghel commented on #2271
The setup is similar to #2270 which was solved by running `pip install -U aiohttp==3.8.1`. In this issue, I'm using an s390x system and Python 3.8 (in #2270 I was using an x86 system and Python 3.9) and I get an AnyIO error as shown above (not an aiohttp error as in @2270). Aiohttp is already at v3.8.1. Any idea on how to solve this issue is appreciated - thanks.

[2022-02-14 21:21] andreea-anghel commented on #2271
Issue solved by downgrading bentoml to v1.0.0a2

[2022-02-14 21:24] aarnphm commented on #2271
can you try to install bentoml with `pip install git+https://github.com/bentoml/BentoML.git`?

[2022-02-14 21:26] andreea-anghel commented on #2271
thanks @aarnphm but it does not work. The only solution was to downgrade bentoml.

[2022-02-14 21:31] parano commented on #2150
closed here https://github.com/bentoml/BentoML/pull/2198

[2022-02-14 21:31] #2150 closed

[2022-02-15 00:34] parano commented on #2263
Thank you again for the feedback @mqk - after more discussion with the team, we all agree with your view and decided to make the change, we will follow up with a PR to fix this behavior.

[2022-02-15 09:03] mlopezfernandez commented on #2269
Hi @parano I am deploying yatai locally using Minikube. I have not modified the helm chart and as you indicate it is possible that the MinIO installation is missing in the same cluster. If I check the containers in the cluster, the MinIO container is not found as you can see in the image. Would it be necessary to add it manually or would I have to specify something else in the yatai installation.

[2022-02-15 09:22] yetone commented on #2269
@mlopezfernandez Is the cluster without a load balancer? If you are using minikube, you should start a load balancer manually with this command: `sudo minikube tunnel`

[2022-02-15 09:33] #2269 closed

[2022-02-15 09:56] parano commented on #2269
Thanks for the feedback @mlopezfernandez - we will improve the documentation to make this steps more clear. What happened was that the MinIO installation can not proceed until there's a working load-balancer in the cluster. You should be able to check the progress by:

[code]

In the case of Minikube, running `minikube tunnel` will unblock that process and allow Minio to be installed properly.

[2022-02-16 08:51] andreea-anghel commented on #2271
After sending multiple curl requests, I see the following error when running the bento service in production mode:
[code]
Basically only the first request works fine. Starting with the second request I get the asyncio errors above. The curl request is successful, but the errors above could affect the performance of the service I suspect. Any idea why these errors happen? I'm using 1.0.0a2.

[2022-02-16 08:53] aarnphm commented on #2271
I believe that the new `1.0.0a4` might solve this issue. Can you try using `1.0.0a4`?

[2022-02-16 09:16] andreea-anghel commented on #2271
When upgrading to `1.0.0a4` I get the initial error posted in the description of the issue
[code]

[2022-02-16 17:55] parano commented on #2271
@andreea-anghel could you share your service/runner definition code?

[2022-02-17 04:04] parano commented on #2271
@andreea-anghel are you still running the example from the gallery project? I can't seem to reproduce it on my end. Could you share the detailed error log?

[2022-02-17 08:56] andreea-anghel commented on #2271
Here is the service definition:
[code]
and here is the client:
[code]

When I run the client I get the expected predictions. However on the server side I see errors
[code]

This is how I start the server `bentoml serve iris_classifier:latest --production`

[2022-02-17 08:59] andreea-anghel commented on #2271
This error does not show up in the `~/bentoml/logs/active.log` file, only in the terminal where the server was started. Is there another log file I should check?

[2022-02-17 09:04] andreea-anghel commented on #2271
If you cannot reproduce it, could you please share your env details (the list of python packages + their versions)? Thanks!

[2022-02-17 13:22] #2155 closed

[2022-02-17 19:51] marcindulak opened #2284 "Restore a runnable quickstart"
**Is your feature request related to a problem? Please describe.**

When reporting bentoml issues it is useful to have a runnable code template.
In the past there used to be a directory https://github.com/bentoml/BentoML/tree/legacy-master/guides/quick-start, which contained python code that was ready to run. Currently it appears that the code has been moved into the rst files https://github.com/b

[2022-02-17 20:06] aarnphm commented on #2284
Hi @marcindulak, we have decided that our quick-start guide are now living under [bentoml/gallery/quickstart](https://github.com/bentoml/gallery/tree/main/quickstart). The reason why we are doing this is that we want users to also explore our gallery project (we are currently working hard on that) and shows what bentoml can do.

Do you think that it is still beneficial for bentoml to have an `exam

[2022-02-17 20:44] #2264 closed

[2022-02-17 21:48] marcindulak commented on #2284
I think that the gallery examples written as sphinx' rst + literalinclude of the source code would help the quality of the examples going forward, especially if there will be many examples. I imagine that scheduled, functional tests of the examples could be setup against the corresponding bentoml release branches, and the gallery, versioned by releases, could be hosted e.g. at https://gallery.bent

[2022-02-17 22:48] marcindulak opened #2286 "Some BENTOML prometheus /metrics appear duplicated"
**Describe the bug**

It seems like certain metrics are duplicated.

**To Reproduce**

Steps to reproduce the issue:
1. start the service
[code]
2. in another terminal issue a request
[code]
3. check the /metrics
[code]

**Expected behavior**

Single metrics (?).

**Screenshots/Logs**

**Environment:**
 - OS:
[code]
 - Python Version
[code]
 - BentoML Version https://github.com/bentoml/BentoML/tre

[2022-02-18 00:12] splch opened #2287 "Display Hosting URL In Production"
**Describe the solution you'd like**
When running `bentoml serve tag`, the hosted URL is printed to console `INFO     [dev_api_server] Uvicorn running on http://127.0.0.1:5000 (Press CTRL+C to quit)` but when running `bentoml serve tag --production`, that message isn't shown.

The solution I'd like would be showing the hosted URL.

**Additional context**

Standard:

Production:

[2022-02-18 06:08] larme opened #2289 "Split Pytorch and torch script to two separate module"

[2022-02-18 11:46] ssheng commented on #2287
Seems like this was caused by how we start the Uvicorn server. We changed from calling `uvicorn.run()` to calling `uvicorn.Server().run()` so the Uvicorn supervisor is not used.

https://github.com/bentoml/BentoML/blob/main/bentoml/_internal/server/cli/api_server.py#L64-L69

[2022-02-18 12:06] ssheng commented on #2287
Discussed with @bojiang in a quick sync. We will unify the startup logic of Unicorn server the same way as how we startup `--production` and configures Circus to print the address line.

[2022-02-18 12:18] bojiang opened #2290 "SDK: service.asgi_app not work without `PROMETHEUS_DIR`"
**Describe the bug**

https://github.com/bentoml/aws-lambda-deploy/issues/24

In the current version, `service.asgi_app` only works with the PROMETHEUS_DIR set and exists.

**To Reproduce**

**Expected behavior**

1. decouple asgi_app with that env var
1. running standalone `service.asgi_app` is covered in e2e tests

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Vers

[2022-02-18 17:55] almirb commented on #2267
Hi guys!
I experienced the same behavior as @jerpint .
My tests were made with https://k6.io/ tool.
When running the API call burst, without `--production` flag, with duration of 10sec and one vu (virtual user), I get an average of 147 req/sec.
Running the same test with `--production` flag, also for 10sec, I got an average of 70 req/sec.

And now running the same two tests, but now adding a `--vu

[2022-02-18 18:26] almirb opened #2291 "picklable_model runner is not respecting saved batch configuration"
**Describe the bug**
The runner is trying to run `run_batch` method after loading a model saved model with `batch=False` flag.

**To Reproduce**
1- Create a simple python picklable_model exaclty how is described in the [docs](https://docs.bentoml.org/en/latest/frameworks/picklable_model.html), (with `batch=False`).

2- The model is saved and the yaml file contents are shown as this:
[code]

2- Cre

[2022-02-18 21:03] jerpint commented on #2267
just did a fresh install with the latest `main` branch, still observing the same behaviour

[2022-02-22 03:35] splch opened #2297 "Files are read as Models"
**Describe the bug**

When a .DS_Store file is created in the `bentoml/models` folder, I think `store.py`'s `list` method tries loading it. I think the check for directories isn't working as intended (https://github.com/bentoml/BentoML/blob/4308c67f327d9524025e5c348ded22553824c1d4/bentoml/_internal/store.py#L69), but I'm not sure. Additionally, this happens when any file is created in the models f

[2022-02-22 05:56] darkking-park commented on #1087
@yubozhao
Where should I use BENTOML_APISERVER_DEFAULT_MAX_REQUEST_SIZE?
docker-entrypoint.sh  It is set here as follows, but it is not applied.
[code]

[2022-02-22 14:01] timliubentoml commented on #2291
Discovered that this is actually a bug in the logic underneath. Looking at the fix now

[2022-02-23 23:25] #2297 closed

[2022-02-24 00:31] #2192 closed

[2022-02-24 00:33] parano commented on #2163
closing this ticket for now as we have a relatively complete metrics/tracing story, will revisit after `opentelemetry-prometheus-exporter` provides better support for multiprocess applications.

[2022-02-24 00:33] #2163 closed

[2022-02-24 00:47] #2284 closed

[2022-02-24 00:49] #2226 closed

[2022-02-24 00:50] #2052 closed

[2022-02-24 06:22] parano opened #2308 "Support neuropod models"
Support importing models saved in the neuropod format https://github.com/uber/neuropod

[2022-02-24 09:18] #2291 closed

[2022-02-24 11:20] ssheng commented on #2287
PR https://github.com/bentoml/BentoML/pull/2311 is going to address this.

[2022-02-24 16:35] timliubentoml opened #2312 "An easier way to include a bento_server configuration file inside of the bento"
**Is your feature request related to a problem? Please describe.**
Currently the bento server can be configured using a configuration file as described here: https://docs.bentoml.org/en/latest/guides/configuration.html

However, the only way to use it with the containerized bento is by including the configuration file in the bento, then specifying where it is when calling docker run, either by set

[2022-02-24 21:10] mahdi-b opened #2313 "unable to run model with production param"
I am running the quick start  code  (https://docs.bentoml.org/en/latest/quickstart.html) but I cannot serve the model in production as I keep n getting the following

[code]

This only occurs when running the model with:
[code]

Running using the following works fine:
[code]

I am also unable to run docker instance generated via:
[code]

While I don't see any errors, perhaps the reason it fails wi

[2022-02-25 11:23] aarnphm opened #2316 "``--quiet`` actually doesn't quiet logs"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: MacOS Monterey
 - Python Version Python 3.9.7
 - BentoML Version git+https://github.com/bentoml/BentoML

**Additional context**

[2022-02-27 10:18] #2287 closed

[2022-02-28 23:22] mauricioalarcon opened #2321 "Unable to deploy to sagemaker"
**Describe the bug**
Trying to deploy to sagemaker via
`bentoml sagemaker deploy iris -b IrisClassifier:20211116135509_5F8DAE --api-name predict` returns

`Error: sagemaker deploy failed: INTERNAL:Failed to build docker image 270286309069.dkr.ecr.us-east-1.amazonaws.com/irisclassifier-sagemaker:20220225160251_ed85f0: The command '/bin/sh -c apt-get update --fix-missing &&     apt-get install -y ng

[2022-03-01 01:56] #2289 closed

[2022-03-01 09:39] jjmachan commented on #2321
Hey @mauricioalarcon, thanks for reporting this issue!

Using bentoml to deploy to the cloud is now being deprecated and the recommended approach to deploying bentoml services built with 0.13 is to use the scripts here --> https://github.com/bentoml/aws-sagemaker-deploy/tree/pre-v1.0 can you try with this.

Seeing the log messages it seems like it is due to some issues with the base image which sh

[2022-03-01 18:05] mauricioalarcon commented on #2321
Thank you @jjmachan - I tried using the latest pre release but found a bug. I created an [issue](https://github.com/bentoml/bentoctl/issues/90) on that side, and also created a [PR](https://github.com/bentoml/bentoctl/pull/91) to have this addressed.

[2022-03-02 05:36] parano opened #2326 "docs: advanced guide - building bentos"
Add an advanced guide documentation, explaining common Bento build options, and breaking down the Bento file structure.

[2022-03-02 07:50] jjmachan commented on #2321
@mauricioalarcon can't thank you enough 😃!
I'm closing this issue now but feel free to open one in the [bentoml/aws-sagemaker-deploy](https://github.com/bentoml/aws-sagemaker-deploy) repo if you run into any other issues

[2022-03-02 07:50] #2321 closed

[2022-03-02 11:18] sauyon opened #2330 "Exception raised when building Tensorflow project"
When building a Tensorflow project with Python 3.9, BentoML will raise an error while attempting to cleanup the `TempFS` used to construct the Bento.

**To Reproduce**
1. Install BentoML with python 3.9
2. Run `bentoml build` in the [BentoML Tensorflow gallery project](https://github.com/bentoml/gallery/tree/main/tensorflow2)

**Trace**
[code]

**Environment:**
 - Python 3.9
 - BentoML main

[2022-03-03 20:49] WarriorMmb opened #2332 "BentoML fastai support"
Fastai is a widely used framework in research community. So please add the support and documentation for fastai. Waiting for it from long time.

[2022-03-03 21:45] mahdi-b commented on #2313
It seems to be an issue with aiohttp '4.0.0a1'. Downgrading to version 3.8.1 solved the problem.

[2022-03-03 21:45] #2313 closed

[2022-03-03 22:15] mahdi-b opened #2335 "Docker containerize copies image to wrong path"
I am running the getting started example  and trying to docker the simple iris classifier. To containerize the model, I am following the example here:
https://docs.bentoml.org/en/latest/concepts/containerize_bentos.html#containerize-bentos-page

After running the image using `docker run iris_classifier:tag`, I get the following error:

`No such file or directory: b'/home/bentoml/models/iris_clf/la

[2022-03-03 22:43] mahdi-b commented on #2335
This can be fixed on the command line using
```docker run -e BENTOML_HOME=/home/bentoml/bento -p 5000:5000 iris_classifier:<TAG>```
So, I think changing the following in the Dockerfile:
`ENV BENTOML_HOME=/home/bentoml/`
to
`ENV BENTOML_HOME=/home/bentoml/bento`
Should fix it.

[2022-03-04 08:31] aarnphm commented on #2197
fixed with #2329. Feel free to reopen if you still have problem @plagree

[2022-03-04 08:31] #2197 closed

[2022-03-07 09:03] #2335 closed, assigned to nobody

[2022-03-09 10:59] jsuchome opened #2347 "missing 1 required positional argument: 'email'"
**Describe the bug**

bentoml yatai login fails with `missing 1 required positional argument: 'email'` error

**To Reproduce**

1. Install bentoml==1.0.0a6
2. Set up Yatai server, generate api token
3. call `bentoml yatai login --api-token <token> --endpoint <endpoint>`

**Expected behavior**

**Screenshots/Logs**

[code]

**Environment:**
 - OS: Ubuntu  20.04.3 LTS
 - Python Version 3.7
 - BentoM

[2022-03-09 11:00] jsuchome commented on #2347
As a local hotfix, I just added fake email entry to `_internal/cli/yatai.py`:
[code]

[2022-03-09 13:08] yetone commented on #2347
Thanks for the report, I've fixed it

[2022-03-09 19:55] #2347 closed

[2022-03-10 00:47] parano commented on #2263
Current proposal:

We will add an additional parameter `set_bento_working_dir` to load:

[code]

The default value for `set_bento_working_dir` will be false, so for users using `bentoml.load` in an interactive setting, they won't get confused by the cwd changing behavior. While for BentoML CLI commands like `bentoml serve`, internally it will set the `set_bento_working_dir=True`, so all the readin

[2022-03-10 01:25] yetone commented on #2347
@parano yes, it's due to this PR https://github.com/bentoml/BentoML/pull/2323, but I think the e2e test should be in the bentoml repo.

[2022-03-14 15:49] andreea-anghel opened #2355 "Running production server with multiple workers does not increase the CPU utilization"
I'm running a production server that serves a sklearn (iris_classifier) model first with 1 BentoML worker and then with 2 BentoML workers (the rest of the system configuration stays the same for both scenarios).
[code]

The 2-worker scenario does not show any change in the system CPU utilization when compared to the single-worker scenario. I can provide more info on how to reproduce this behavior,

[2022-03-14 15:58] andreea-anghel commented on #2355
Is the number of workers used at runtime set here?

https://github.com/bentoml/BentoML/blob/d37aa9e49fd6a3273eb73701eba26f5bb1eb0055/bentoml/_internal/server/__init__.py#L138

If so, if I set the number of workers to something >1 via the configuration file, the `app_workers` is still set to 1.

[2022-03-14 22:30] andreea-anghel commented on #2271
Thanks for checking @aarnphm and sorry for my late reply. I'm using `anyio` v3.5.0.

[2022-03-15 03:59] aarnphm commented on #2271
can you try with the latest releases?

[2022-03-15 10:07] #2263 closed

[2022-03-21 20:30] timliubentoml opened #2365 "When serving a bento from the main branch, the service errors out on startup"
**Describe the bug**

Currently when doing a "bentoml serve" command from the main branch, the webservice startup fails with:

 AttributeError: 'bool' object has no attribute 'get'

 For a full stack trace look here: https://bentoml.slack.com/archives/CKRANBHPH/p1647536520735299

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python V

[2022-03-21 20:33] timliubentoml opened #2366 "Pytorch Runner fails to serve models because resource_quota is no longer used"
**Describe the bug**

This line in the runner does not evaluate properly: https://github.com/bentoml/BentoML/blob/main/bentoml/_internal/frameworks/common/pytorch.py#L72

We then get a "set_num_threads expects a positive integer":

                             File "/opt/conda/lib/python3.9/site-packages/bentom
                           l/_internal/frameworks/common/pytorch.py", line 84,

[2022-03-21 20:56] timliubentoml commented on #2355
@andreea-anghel How are you measuring CPU utilization? Generally I would think that if you're running on 1 CPU, even if you increase the number of workers, you'd still get the same throughput given that it's 1 cpu. Maybe even worse if it's context switching between the 2 workers.

When you run a "ps" do you see more than 1 process running when increasing the number of workers?

[2022-03-21 20:59] timliubentoml commented on #2332
Thanks for the suggestion! We definitely like to add support for frameworks that people like to use. In order to get a little more clarity, could you give me a high (or low if you'd like) level example of how you would like to use the integration with bentoml?

[2022-03-21 21:25] aarnphm commented on #2366
cc @larme

[2022-03-21 23:52] timliubentoml commented on #2271
@andreea-anghel I tested your code on a clean ubuntu 20 machine in aws with the exact same python and anyio. Did not have the issue that you see with the latest build or with a4.

How long do you have to wait before that error log message appears? What environment are you running this in? You can definitely send your pip dependencies over but maybe it's something about the way you're running it.

[2022-03-22 07:31] bojiang commented on #2365
According to the slack thread, `bentoml serve .` is called. But the right usage from the docs is `bentoml serve service.py:svc`.

[2022-03-22 12:05] timliubentoml commented on #2365
@bojiang Whoa, thanks yea that makes sense now. I must have been confused because the a6 release gives a much more descriptive error and I must have just fixed it. a6 release shows this:

"bentoml.exceptions.InvalidArgument: . is not a valid tag: a tag's name or version must consist of alphanumeric characters, '_', '-', or '.', and must start and end with an alphanumeric character"

Could we take

[2022-03-22 16:44] sotte opened #2368 "Support darts time series models"
[`darts`](https://unit8co.github.io/darts/) is a great library for time series prediction. It would be great if bentoml supports the darts library.

Note: darts wraps a bunch of existing (time series) libraries such as [`statsmodels`](https://www.statsmodels.org/stable/index.html), `pytorch`, etc.

[2022-03-22 16:59] aarnphm commented on #2368
I wonder whats the difference between this and statsmodels? I would like to learn more about your usecase with darts.

[2022-03-24 15:09] amelki opened #2371 "Service with sklearn model fails on my EKS cluster"
I have created a simple service:

[code]

When I run it on my laptop (MacBook Pro M1), using

[code]

everything works fine when I invoke the generated `classify` API.

Now when I push this service to my Yatai server as a bento and deploy it to my K8s cluster (EKS), I get the following error when I invoke the API:

<img width="458" alt="image" src="https://user-images.githubusercontent.com/5809087

[2022-03-24 15:55] amelki commented on #2371
Update: in my case, the problem seems to lie in `cpu.shares`. If it is lower than or equal to 512 and the `quota` is -1, then it will never work

[2022-03-25 15:06] parano commented on #2371
Hi @amelki - did you set a resource limit/request for this this pod? if so, could you share the config?

[2022-03-25 22:16] amelki commented on #2371
Hi @parano , I didn't set any request/limit at first, no. But note that even if I set request/limit manuallly on a deployment, it would change `cpu.shares` to say, 512, but there is still a bug in BentoML and `n_jobs` will still be 0 - @aarnphm is aware of the issue and is working at a fix:)
But assuming the bug is fixed, you are right, I should set request/limit, hence a question : how can I do i

[2022-03-28 13:52] potula-chandra opened #2376 "Building docker image fails on IBM LinuxONE/s390x platform"
**Describe the bug**
Building a docker file on IBM linuxONE (s390x) fails

**To Reproduce**
Machine : Redhat 8.4 on IBM LinuxONE (s390x)

Steps to reproduce the issue:
1. Code check out
2. Go to 'docker' folder
3. Build the bentoml docker image on IBM LinuxoNE (s390x)  'DOCKER_BUILDKIT=1 docker build -t bentoml-docker -f Dockerfile .
4. See error
[code]
-->

**Expected behavior**
**Since docker-ce

[2022-03-28 14:13] amelki commented on #2371
@parano FYI, I tried several things:

1/ I added the following resources to the Deployment resource created in my `yatai` namespace:

[code]

Then, off course, the values of the cpu/quota/period files have a better shape:

| source | value |
| --- | --- |
| file `/sys/fs/cgroup/cpu/cpu.cfs_quota_us` | 100000 |
| file `/sys/fs/cgroup/cpu/cpu.cfs_period_us` | 100000 |
| file `/sys/fs/cgroup/cpu/cpu.

[2022-03-28 16:04] parano commented on #2376
@potula-chandra - the `docker` folder is for developers only and we use that for releasing BentoML base images. We will only support running it from our CI environment, there's no plan for supporting other platform.

From user perspective, there should be no issue using BentoML and building BentoServer docker images on s390x platform. But let me know if you ran into any problems there.

[2022-03-28 23:41] amelki commented on #2371
@aarnphm I have been able to properly test the fix with version 1.0.0a6.post13+gd77e009c.
Your fix is working since I don't see the `n_jobs = 0` error anymore.
However, I stumbled upon a new issue further in the stack:
<img width="869" alt="image" src="https://user-images.githubusercontent.com/5809087/160504715-c011f05c-a37c-4501-b026-20f8507997d7.png">
Does this ring any bell on your side ?
As a

[2022-03-29 13:06] amelki commented on #2371
OK @aarnphm @parano I have some more information:

1. the new error (`'bool' object has no attribute 'get'`) does not occur at prediction time, but at pod startup time ! Seems to be a problem when initializing the runner

1. I tried @aarnphm fix on top of [v1.0.0-a6](https://github.com/bentoml/BentoML/releases/tag/v1.0.0-a6) (see https://github.com/amelki/BentoML/tree/test/v1.0.0-a6-with-fix-for-2

[2022-03-29 17:08] aarnphm commented on #93
I don't think we have bentoml on conda-forge.

[2022-03-29 18:37] anamika-yadav99 commented on #93
@aarnphm  do you have any plan on making bentoml conda package?

[2022-03-29 22:59] aarnphm commented on #93
we don't atm.

[2022-03-30 02:34] mgmalana opened #2377 "Getting an "TypeError: __init__() got an unexpected keyword argument 'omit_repeated_times'" error"
I have been using BentoML with no problem. However, when I install a library named 'norfair', bentoml CLI raises "TypeError: __init__() got an unexpected keyword argument 'omit_repeated_times'".

It seems like a namespace problem with the logging module and rich logging module. I'm not sure if this is a problem of bentoml or the other library, so please let me know what you think! Thank you for yo

[2022-03-30 03:46] aarnphm commented on #2377
can you run `pip show rich`? This is due to the library `norfair` fixes rich versioning at 9.x, whereas we didn't lock the specific version of rich. I believe that rich 9.x will break bentoml, so I will submit a PR to lock set rich version requirements

[2022-03-30 03:46] bojiang commented on #2377
I believe it is caused by the dependency `rich`.
norfair is requiring rich=9.13.0
https://github.com/tryolabs/norfair/blob/master/poetry.lock#L531

[2022-03-30 03:48] bojiang commented on #2377
https://github.com/tryolabs/norfair/blob/master/poetry.lock#L531

[2022-03-30 03:50] aarnphm commented on #2377
#2378

[2022-03-30 03:52] aarnphm commented on #2377
thanks for raising the issue.

[2022-03-30 03:52] #2377 closed

[2022-03-30 03:56] aarnphm commented on #2368
Hi @sotte, Sorry for the late response. We are currently working on some internal designs changes and will get back asap on how you can contribute.

[2022-03-30 14:00] potula-chandra commented on #2376
@parano Thank you for the inputs. I am in total agreement on the s390x regular builds and thought we can also deliver docker image for s390x similar to other platforms. Hence my proposal !

[2022-03-30 19:02] aarnphm commented on #2376
This https://github.com/bentoml/BentoML/pull/2336 will address supporting multiple architectures for model server. However, I don't know the use-case of s390x enough to support it. Additionally, bentoml architecture support for the docker images are limited by the supports from conda and other dependencies. I ran into some troubles building some required dependencies on s390x and thus decided not

[2022-03-31 00:15] ChoYongchae commented on #2156
For export, you should set "memory_efficient = False" in  EfficientNet model.py code

You can refer "https://github.com/lukemelas/EfficientNet-PyTorch/blob/master/efficientnet_pytorch/model.py",
    def set_swish(self, memory_efficient=True):
        """Sets swish function as memory efficient (for training) or standard (for export).
        Args:
            memory_efficient (bool): Whether to use

[2022-03-31 14:55] OriAlpha opened #2382 "Error while saving the bentoml"
Hello,
i have recently found error while saving bentoml model, specfically in following function.
[code]
while the function is trying to return saved model path, i am getting error as
`AttributeError: 'torch.dtype' object has no attribute '__module__'`

If i disable this return does it have any impact ?? or any way to fix this issue
i am using pytorch=1.9.0 maybe (its because of this version but n

[2022-03-31 16:21] OriAlpha commented on #2382
I tried to track the issue and found out
`cloudpickle.dump(self._model, open(self._file_path(dst), "wb"))` is creating issue

[2022-03-31 18:57] timliubentoml commented on #2382
Hello! Yes I see what you are saying. I think I was a little confused because you are using 0.13. Have you tried to save with 1.0 yet? In 1.0 we use the torch.save method to save the model: https://github.com/bentoml/BentoML/blob/main/bentoml/_internal/frameworks/pytorch.py#L166

It still specifies to use cloudpickle, but I'm wondering if their new implementation handles this case. If so you could

[2022-03-31 19:03] timliubentoml commented on #2371
@amelki Are you sure you're using the right branch? #1 has been an error we've seen a couple times recently but have thought we dealt with it: https://github.com/bentoml/BentoML/pull/2369

Perhaps the branch that you're deploying to your pod is the latest release, and does not contain this fix which I don't think we've release yet. Would that make sense?

[2022-03-31 19:05] timliubentoml commented on #2371
Or have you walked through the steps to deploy your local fixed branch through yatai?

[2022-03-31 21:58] timliubentoml commented on #2382
Oh yea, sorry about that. 1.0 is definitely not backwards compatible, you'd have to look at upgrading everything which you may not have time for. Maybe just look at seeing if your model saves right? you can do a bentoml.pytorch.save("modelname", model) without all of the artifact imports

[2022-03-31 22:13] OriAlpha commented on #2382
i checked quickly, yes i can save model by
`bentoml.pytorch.save("dummy", model)`
result :  dummy:pwl7e3vrh6abxg7k

[2022-03-31 22:25] amelki commented on #2371
@timliubentoml thanks to get back to me. I'm certain at 99% that I'm testing the correct version (main). I tried 3 times.
If I asked the version on the pod I get: `bentoml, version 1.0.0a6.post14+gc6a50e6b`
To build my bento, I clone the current BentoML repo and create a brand new venv, then:
[code]

Here is the complete stack trace:
[code]

If I build a bento using https://github.com/bentoml/Bent

[2022-04-01 00:02] timliubentoml commented on #2382
oh, cool. Yea, maybe it's worth thinking about upgrading then.

Can you do:

model = bentoml.pytorch.load("dummy:latest")
model.predict(some_input)

And get a valid result? If so, I think that approach works

[2022-04-01 00:03] amelki commented on #2371
@timliubentoml I found the commit that is causing the issue : https://github.com/bentoml/BentoML/commit/f30d5290e8efb0e242727e47640e7619b13607c7. I tested the commit just before (`e403eee9a9d436e92ce52dc49986cf30e9ea43dc`), and startup is OK.
Starting from this commit (`f30d5290e8efb0e242727e47640e7619b13607c7`), startup is KO.

[2022-04-01 00:04] timliubentoml commented on #2371
Oh, awesome, was about to respond. @larme I think we've identified the commit which is breaking this issue. Could you take a look at a fix?

[2022-04-01 00:13] amelki commented on #2371
And I find this line suspicious: https://github.com/bentoml/BentoML/blob/d77e009cf9f70fe7cd95c620cced5c309487de1e/bentoml/_internal/frameworks/sklearn.py#L86.
`model_store` is never used... shouldn't it be passed to `bentoml.models.create` ?

[2022-04-01 06:35] amelki opened #2385 "feat: Ability to force embedding a wheel file with local bentoml distrib"
**Is your feature request related to a problem? Please describe.**
Sometimes I may write a tentative fix or a tentative feature on my BentoML fork and use that fix in my company, waiting for the fixes/features to be submitted and accepted and released by the BentoML team.
The current solution is to pip install BentoML in _editable mode_. It works for me as a developer, but I want also let
the data

[2022-04-01 12:14] sarmientoj24 opened #2386 "YOLOv5 Torch Hub Model No module named models"
Getting this error when using a custom YOLOv5 model I trained that I loaded and saved using torch hub.

## Error
[code]

## Packaging the model
[code]

## Loading the model
[code]

[2022-04-01 17:14] amelki commented on #2385
Looking at the current code, seems difficult to do it without having bentoml installed in editable mode...
Closing it for now

[2022-04-01 17:14] #2385 closed

[2022-04-01 18:30] parano commented on #2385
Hi @amelki, it's actually supported to include your local version of BentoML for deployment, because we need this for our testing. You can do it following these steps:

1. Install your local modified version of BentoML in edit mode, run this from your bentoml code repo: `pip install -e .`
2. Set an env var: `export BENTOML_BUNDLE_LOCAL_BUILD=True`
3. Build a new bento from your BentoML project: `b

[2022-04-01 18:33] parano commented on #2385
And for others who is just looking for including arbitrary wheel files in a Bento build, this is also supported. User can specify a list of wheel files to be included and install by default in a Bento, via the follow config in the `bentofile.yaml`:

[code]

[2022-04-01 18:38] sauyon opened #2387 "Support custom content types for I/O descriptors"
We may want to support content types other than the default for these descriptors.

I think there are two options here:
 - add an additional parameter to the I/O descriptors which allows users to customize what content type they would like to accept, or
 - add a field or method `content_type` to the I/O descriptor API, which users can then override to manually set which content types they would li

[2022-04-01 20:10] timliubentoml commented on #2386
Thanks! Yes, I'm able to reproduce this issue with the following code. We will be looking at it

`
import torch
import bentoml

model = torch.hub.load('ultralytics/yolov5', 'yolov5s', pretrained=True)
tag = bentoml.pytorch.save("yolov5", model)
model = bentoml.pytorch.load("yolov5:latest");
# does not get here... throws exception
`

[2022-04-01 20:13] timliubentoml commented on #2371
One of our developers thinks we've identified the issue. Please standby for commit and release. Will get back to you with an eta.

Thanks for the help in identifying this issue!!!

[2022-04-01 20:54] timliubentoml commented on #2286
Thanks! I've verified that this is an issue and that it is reproducible. We've scheduled some time to work on it

[2022-04-02 18:39] hrzn commented on #2368
An integration of Darts models would be awesome. On top of what has been said I also would like to add that a few key features set Darts apart from libraries like statsmodels is that it supports training models on multiple (potentially a large number) of time series, the time series can potentially each be multidimensional, and some of the models (incl. all deep learning models) can offer probabil

[2022-04-04 23:54] amelki commented on #2385
Thanks @parano.
The local build was not the solution because I wanted to share a fix I integrated in my fork with some other folks in my company.
But here is how I finally addressed the problem:
[code]

This works perfectly. If it's not yet somewhere in the documentation, I think it is a good candidate :)

[2022-04-05 13:43] andreea-anghel commented on #2271
@timliubentoml thank you for looking into this issues. The problem shows up very quickly, after the second HTTP packet received. Here is a list of the Python packages installed in my environment [pythonenv.txt](https://github.com/bentoml/BentoML/files/8418610/pythonenv.txt)

[2022-04-05 16:43] timliubentoml commented on #2271
@andreea-anghel Just to confirm, you're running on Ubuntu 20.04 right?

[2022-04-05 19:34] andreea-anghel commented on #2271
@timliubentoml yes, that's correct

[2022-04-06 09:38] parano commented on #2286
This has been fixed in https://github.com/bentoml/BentoML/pull/2394, will be available in the upcoming release 1.0.0a7

[2022-04-06 09:38] #2286 closed

[2022-04-06 10:00] sarmientoj24 opened #2395 "bentoml.exceptions.NotFound: no Models with name Error"
I followed the instructions for building the bento using `bentoml build` with the ff `bentofile.yaml`

[code]
At this point, I tried serving the bento and it works
[code]

Then containerized the Bento using the ff command:
[code]
which was pretty successful.

When running the docker, this error shows up
[code]

1. What would be the possible problem on this?
2. Do I need to save the model before bu

[2022-04-06 14:52] #2230 closed

[2022-04-06 14:54] timliubentoml commented on #2365
Additional fixes were needed. The a7 release has addressed known issues

[2022-04-06 15:05] sarmientoj24 commented on #2395
So is there a need to save the model locally first? I am under the impression that a new model is saved automatically when you create the bento using `bentoml build`? Hence, I do not need to create it prior to building the bento.

My tree directory is this
[code]

[2022-04-06 15:11] sarmientoj24 commented on #2395
[code]

[2022-04-06 16:06] sarmientoj24 commented on #2395
What I mean is that, if I am to push the Docker image that I got from `bentoml containerize` to, say, dockerhub, does it also "ship" or contain the model (or atleast a way to put the model in the container) when someone pulls it from the dockerhub.

Or is the model shipped separately?

[2022-04-06 20:18] timliubentoml commented on #2395
No, the model is not shipped separately.

I haven't seen this error but let me suggest 2 things.

1. Could you upgrade bentoml to the latest version? We just released a new version last night. You can run "pip install bentoml --pre -U". Then could you attempt to save() the model again, then bentoml build, then bentoml containerize?

2. If it still doesn't work, could you shell into the docker cont

[2022-04-06 20:27] timliubentoml commented on #2386
hi @sarmientoj24! Not sure if you got through this issue or not, but I think @larme looked at this and we were able to get the fix in this latest release. With a7, I was not able able to reproduce the issue anymore. Can you confirm?

[2022-04-06 20:35] parano commented on #2385
That’s a great workaround! We will definitely add that to the docs.

[2022-04-06 22:09] #2248 closed

[2022-04-06 22:09] parano commented on #2248
Will incorporate this in our ongoing new design for declaring runners

[2022-04-06 22:10] parano commented on #2236
This has been fixed in the most recent BentoML release, where it falls back to a simple requirements.txt when `pip-tools` fails to lock packages.

[2022-04-06 22:10] #2236 closed

[2022-04-07 00:09] parano commented on #2387
Notes:
* Will allow content_type to be anything
* `input.name` should return the file name when sending File with `form-data`
* generate OpenAPI schema for both octet-stream and form-data
* future work: add audio/video IO descriptor

[2022-04-07 00:24] #2152 closed

[2022-04-07 07:25] sarmientoj24 commented on #2395
Alright. It works now on the new release (on #1) of your instructions! Thank you.
But I'd like to add that you cannot directly access the docker from host with just the simple `docker run image:tag` command. There is a need for port exposure: `docker run --rm -it -p 3000:3000 image:tag`

[2022-04-07 08:39] aarnphm commented on #2395
that is expected to expose the port of docker container. https://docs.docker.com/config/containers/container-networking/

[2022-04-07 08:39] #2395 closed

[2022-04-07 19:03] amelki commented on #2371
@timliubentoml @parano  I could finally test my model on BentoML 1.0.0a7 with Yatai 0.2.1 on my EKS cluster and it is working just fine !
Many thanks to you and the team !

[2022-04-07 19:03] #2371 closed

[2022-04-07 19:06] aarnphm commented on #2371
great to hear :) Let me know if you run into any other trouble

[2022-04-08 19:53] parano opened #2405 "Add Yatai deployment APIs to Yatai client"
**Is your feature request related to a problem? Please describe.**

Currently, Yatai provides a few ways to create and manage deployments:
* Web UI (requires yatai account logged in)
* REST API (requires API token)
* kubectl / kubernetes API + BentoDeployment CRD definition YAML file (requires credentials to access the Kubernetes cluster)

The REST API is great for users to automate deployment, wi

[2022-04-08 19:57] bojiang commented on #2271
It should be fixed by https://github.com/bentoml/BentoML/pull/2223

[2022-04-13 18:59] timliubentoml commented on #2386
@sarmientoj24 Were you able to confirm if this works?

[2022-04-13 18:59] #2386 closed

[2022-04-13 19:09] sarmientoj24 opened #2411 "Support for Using model from Cloud Storage Mounted into the Container for Serving"
I would like to know if BentoML supports something similar to:
1. mounting a Cloud Storage (e.g. GCS) into the container upon starting,
2. use the model inside the cloud storage instead of that which comes within the BentoML containerized image

[2022-04-14 02:28] cateto commented on #2217
I am a beginner. I need to more easy way.
But I'm here now.
First, I pack tokenizer into a pickleArtifact. like number 1 you said.
Second, outside of bentoml env, PyPI packing and load tokenizer.
I wonder. Does it have any problem?

[2022-04-14 22:01] parano commented on #2217
@cateto that's exactly what we suggest users to do in version 0.13, there's no problem with it. In BentoML 1.0, we introduced both model store and Runner concept, which gives user more flexible in terms of the serving architecture and performance tuning, but currently lacks a standard way of doing it. We want to allow users to version the tokenizer together with the model entry in the model store,

[2022-04-15 02:27] su-park opened #2412 "Error while importing bentoml"
Hello,
I am recently introduced BentoML and am quick-touring [Getting Started page](https://docs.bentoml.org/en/latest/quickstart.html#getting-started-page) of your official document.

I feel sorry it didn't work out as you described.

**Describe the bug**
I tried to `import bentoml` and get error message like belows.

[code]
and installed the package `attrs` manually using pip/conda successfully

[2022-04-17 06:47] sotte opened #2413 "Docs: write "advanced guides -> logging""
I know that bento is in the transition period to 1.0, but I with there was already documentation for the [logging feature](https://docs.bentoml.org/en/latest/guides/logging.html) (especially prediction logging) like there was for [0.13](https://docs.bentoml.org/en/0.13-lts/guides/logging.html).

So this is just a "reminder ticket" that the docs have to be written, and maybe people up vote it :+1:

[2022-04-18 20:42] timliubentoml commented on #2411
Hi @sarmientoj24! We have a couple different ways to do this.

1. I haven't tested this, but the library that "bentoml import/export" uses, which is the fs library, has support for GCP as I understand it here: https://pypi.org/project/fs-gcsfs/

You'll have to add the library and use the gcp prefix that they specify, but I think that should work.

2. You could implement your own custom runner. Rig

[2022-04-18 20:45] timliubentoml commented on #2412
Hi @su-park! Thank you for reporting this. I actually saw this myself in the latest release as well. Talking with the team about it right now.

In the meantime, the solution for this issue is to install the attr library like this:

`pip install attrs -U`

[2022-04-18 20:46] timliubentoml commented on #2413
Thanks @sotte! I've been working on documentation for the last few days. I'll prioritize this one for this week.

[2022-04-19 07:23] bojiang opened #2415 "QA for bentoml API"
Tasks:
- [ ] public API coverage of e2e tests
- [ ] API completion

[2022-04-19 07:56] #2415 closed

[2022-04-19 16:22] gregd33 opened #2416 "Image adapters break with pillow==9.1.0 for grayscale for bentoml==0.13.1"
**Describe the bug**

If you use an `ImageInput` or `AnnotatedImageInput` when `pillow==9.1.0` is installed and try to submit a grayscale image it will error.

The issue is caused by `imageio.imread()` if we pin `imageio==2.9.0`. Unfortunately upgrading `imageio` is not possible since it breaks  bentoml in a different way.

This is *not* an issue for bentoml 1.0 since it uses `Pillow` directly and

[2022-04-20 18:16] timliubentoml commented on #2413
Hi @sotte! I have an initial draft here if you'd like more information: https://github.com/bentoml/BentoML/blob/727d54fe115847fd6529c308de10a4b616070387/docs/source/guides/logging.rst

We took a pretty different approach to logging than in 0.13. Would definitely like feedback if you have it. We have a new format and are using RichHandler which is way better for readability. Also have implemented t

[2022-04-25 02:44] rtindru opened #2425 "Unable to package sentry-sdk with bentoML serve"
**Describe the bug**
I am running into a `ModuleNotFoundError` when I try to serve a bentoML service with `sentry_sdk` installed

[code]

**Serve the model**
[code]

**Expected behavior**
I expect BentoML to pack and serve the model service with sentry enabled

**Screenshots/Logs**
[code]

**Environment:**
 - OS: Ubuntu
 - Python 3.9
 - BentoML Version 0.13.1

**Additional context**
I am using the

[2022-04-25 03:07] rtindru commented on #2425
I found the issue. I am running jupyter inside a docker container. Initially, I was installing `sentry-sdk` on the jupyter runtime using `!pip install sentry-sdk`. For some reason, bentoML was unable to locate the package when it is installed this way.
I fixed the issue by installing `sentry-sdk` into the base docker container.

[2022-04-25 03:07] #2425 closed

[2022-04-25 12:52] andreea-anghel commented on #2271
@timliubentoml Thanks for trying to reproduce the error. Have you tried running the code on a s390x system?

[2022-04-26 00:11] timliubentoml commented on #2271
@andreea-anghel Do you have any suggestions for running bentoml on the s390x system? I tried using the docker container here: https://hub.docker.com/r/s390x/ubuntu/

But ran into a few issues getting the necessary libraries to build. Any idea how I could try to reproduce this?

If you've already got it setup and the issue is reproducible on your side, I would say that you should try to get the lat

[2022-04-26 19:19] andreea-anghel commented on #2355
@timliubentoml I'm measuring the CPU utilization using psutil cpu_percent.

I'm running the server as follows:
`bentoml serve service:latest --production` and I set the workers parameter to 2 in the `bentoml_configuration.yaml` file.
Is this the correct way of setting the number of workers?

[2022-04-26 19:25] andreea-anghel commented on #2271
@timliubentoml I've installed bentoml v1.0.0a7 and reinstalled my python env (see the attached pip freeze output).
[pip-env.txt](https://github.com/bentoml/BentoML/files/8566239/pip-env.txt) And now it works without any error. Thank you.

It would be great to have a docker image for s390x.

[2022-04-26 21:24] timliubentoml commented on #2271
@andreea-anghel That's awesome! Good to hear.

Let me talk about the docker image for s390x. Are you using docker right now for prod deployment?

[2022-04-26 21:27] andreea-anghel commented on #2271
@timliubentoml Unfortunately I'm not using a docker at the moment. Otherwise, I would have been happy to contribute.

[2022-04-27 07:33] ahallermed commented on #2142
That would be really great. At the moment, I used a workaround to overcome this issue. Maybe, this helps other folks who stumble upon the same problem but still want to have pydantic schemas used in the api:

[code]

Only tested on 0.13 but I also had a look at the current main for 1.0 and there is should work either.
Unfortunately, you also need to create such a function for 200 responses, but th

[2022-05-02 21:05] #2271 closed

[2022-05-02 21:18] timliubentoml commented on #2355
@andreea-anghel Right now the way that you specify the number of workers is in design review. Our idea was that you can specify a strategy like "Process per cpu". You could potentially configure the workers explicitly, but that would require more customization where you would create your own custom runner.

With a 6 CPU machine, would you be looking at creating 6 workers?

[2022-05-04 18:41] parano opened #2448 "Add bentoml.Service HTTP Python Client"

[2022-05-04 18:56] #1474 closed

[2022-05-05 00:19] parano commented on #1597
Update: with PR https://github.com/bentoml/BentoML/pull/2272, we can now add io.Text support to the File IO Descriptor

[2022-05-05 18:48] #2412 closed

[2022-05-05 18:50] #2326 closed

[2022-05-05 18:50] #2316 closed

[2022-05-05 18:50] parano commented on #2290
@bojiang I believe this is fixed by now?

[2022-05-05 18:51] parano commented on #2258
I think this is done in the runner-1.0 branch now?

[2022-05-05 18:51] #2195 closed

[2022-05-05 18:51] parano commented on #2195
Done in #2375

[2022-05-09 18:24] sotte commented on #2413
I should have time to check it out within the next two weeks. Looking forward to it.

[2022-05-10 02:22] WarriorMmb commented on #2332
I think it will have a pitty similar solution like pytorch but we have to pack learner in this case. @timliubentoml is there any progress from your end. I can help if you need any.

[2022-05-16 10:41] Chethan-Babu-stack opened #2465 "AttributeError: module 'bentoml' has no attribute 'sklearn'"
I have installed bentoml version 0.13.1.

Saving the model as shown in link: https://docs.bentoml.org/en/latest/quickstart.html#save-models-section says "bentoml' has no attribute 'sklearn'

What is the issue here?

[2022-05-16 11:19] ssilb4 commented on #2465
me too.
I think documents is old.

in [https://docs.bentoml.org/en/0.13-lts/quickstart.html](https://docs.bentoml.org/en/0.13-lts/quickstart.html) , there is no ./guides/quick-start/requirements.txt

[2022-05-16 17:30] aarnphm commented on #2465
hi @Chethan-Babu-stack, the latest docs are updated based on the main branch, which includes the pre-releases of bentoml. If you want to follow bentoml documentation on the main branch, please install bentoml with:
[code]

[2022-05-17 12:34] eliorc opened #2471 "Runner hooks (synchronous)"
# Feature description
For ensuring the quality of models in productions, usually organizations use in-house or third-party solutions to monitor and log the interactions with the models deployed.
In order to do that using BentoML, we'd have to inject some code before the runner ingests the input and after the runner produces a prediction where in this code we might send some data to a monitoring se

[2022-05-19 16:49] skkadium commented on #671
Hello,

I have worked last on bentoml version 0.10.0 and all I had to do to directly save the BENTO to s3 is to simply run the command

`bentoml config set yatai_service.repository_base_url=s3://testingbentoml/`

and run the docker
`docker run -d -p 3000:3000 -p 50051:50051 \
    bentoml/yatai-service`

now with the latest bentoml version, I'm unable to understand how to configure this (even with

[2022-05-21 13:41] psc0606 commented on #2465
+1, I have the same problem,  `pip install bentoml --pre` does not work

[2022-05-21 15:03] aarnphm commented on #2465
make sure to uninstall bentoml first, then install bentoml with `pip install bentoml --pre`

[2022-05-21 18:49] parano commented on #2465
Basically there are two different versions out there:

* The 0.13.1 version - it's a stable but older release, the source branch can be found here https://github.com/bentoml/BentoML/tree/0.13-LTS, it can be installed with `pip install bentoml`
* The 1.0.0.a7 preview version - it's the latest version of BentoML that's still under preview/beta. You can find source code at the main branch https://git

[2022-05-23 00:38] chlee1016 commented on #2248
Hi @parano ! I think it is very useful feature for BentoML users.

In this case, it seems that the reason for using `await fetch_features.async_run(user_id)` is to fetch features for each `user_id` from the batched input `user_ids`.
As I understand, when processing batch input inside `_run_batch`, even if it is implemented using the `for` statement **synchronously**, it can be processed **asynchro

[2022-05-23 07:49] parano commented on #2248
@chlee1016 yes that's right, for IO intense Runner used for fetching features - ideally you would want a batch API for fetching a batch of features at once. But if that's not available, you can only fetch one item at once, I'd recommend sending all requests at once via a for loop, but don't use `await` on each `async_run` call, instead use `asyncio.gather`to wait for all of futures to come back.

[2022-05-23 09:32] ajms commented on #2271
I am experiencing the exact same bug with

Environment:
    OS: Ubuntu 20.04
    Python Version : 3.8
    BentoML Version: 1.0.0a7
    AnyIO version: 3.5.0

[2022-05-23 10:34] ALee008 commented on #178
Hi @parano , you mention the roadmap section but I couldn't find it in the official documentation. Could you please provide a link to your official roadmap? Thank you.

[2022-05-23 10:51] ajms commented on #2271
Addendum: after containerizing, running the bento as docker container works.

[2022-05-23 11:06] parano commented on #2248
@chlee1016 we are working on a new iteration of the Runner internal design, which will bring more options for customization to Runner, it's getting close to being released in the coming week, you can check it out in the runner-1.0 branch here: https://github.com/bentoml/BentoML/tree/runners-1.0

[2022-05-24 18:20] parano opened #2492 "Add build config to `bento.yaml` file in Bento"
Add build config options to bento.yaml file generated in Bento directory, e.g.:

[code]

[2022-05-25 19:33] parano opened #2495 "feat: Bento build from a container"
The Bento build process requires loading the `bentoml.Service` object for validating the definition and retrieving required models to package. Currently, running `bentoml build` requires all Service dependencies to be installed, in order to import the Service object. However this brings challenges to build environments other than the data scientists' development machine, e.g. a CI pipeline, where

[2022-05-25 19:52] aarnphm opened #2496 "feat(containerize): manage python version with pyenv"
**Is your feature request related to a problem? Please describe.**

For non-conda distributions, we should use a python version management like `pyenv` to avoid the overhead of installing python from given distros.

**Describe the solution you'd like**

Update templates files under `bentoml/_internal/bento/docker/templates`. This is independent from BentoML internal templates processing logics.

*

[2022-05-25 22:01] parano opened #2497 "docs: document docker temaplate usage"
Add documentation for using the `docker_template` field under `bentofile` docker options.

* explain how it works
* add sample code
* list available dockerfile instructions in template
* list unsupported patterns

[2022-05-30 08:47] TheisFerre opened #2516 "feat: mlflow integration"
I just saw that you have created a pre-release [1.0.0-rc0](https://github.com/bentoml/BentoML/releases/tag/v1.0.0-rc0), with quite a few changes. As I am quite interested in using bentoml as a framework for serving models, I wanted to test out this new pre-release.

My development environment is Databricks, where I am training models and logging/tracking them with MLFlow. From the [updated documen

[2022-05-30 08:57] aarnphm commented on #2516
Hi @TheisFerre, Thanks for checking out the new releases. Currently we are working on a integration guide between MLflow and BentoML as BentoML runner concept changes a lot since 1.0.0a7. We will try to get back to you ASAP

[2022-05-30 08:58] TheisFerre commented on #2516
@aarnphm sounds great - thanks a lot! I am excited for the 1.0.0 release

[2022-05-31 12:45] AndreasLR opened #2524 "TF2 tutorial fails: 'TensorflowRunnable' has no attribute 'SUPPORT_NVIDIA_GPU'"
**Describe the bug**

This bug occurs when trying to serve a bento based on TensorflowRunnable in production mode, i.e.
`bentoml serve your-model:latest --production`

This calls 'serve_production(...)' which in turn calls 'get_worker_count(...)'. The latter requires the runnable to have the attribute 'SUPPORT_NVIDIA_GPU'. However, TensorflowRunnable instead has an attrribute 'SUPPORT_GPU'.

https

[2022-05-31 14:11] #2524 closed

[2022-05-31 14:12] aarnphm commented on #2524
Hi @AndreasLR can you try again?

[2022-05-31 15:46] AndreasLR commented on #2524
@aarnphm the model can now be served without the previous error. However, prediction request fail with another error that could be due to lack of gpu memory.

Is the correct way to enforce CPU to use bentofile.yaml and specify something like:
[code]

[2022-05-31 16:03] aarnphm commented on #2524
your config is incorrect. `nvidia_gpu` here means that it will use GPU 0. You should remove that field and then try again. If you still run into problem please open another ticket

[2022-05-31 22:00] jjmachan commented on #2492
any updates on this issue?

There is no urgent use case for this now from bentoctl but this would be really helpful if we can get the build parameters to do some validation based on the deployment target.

[2022-05-31 23:17] AndreasLR commented on #2524
I was unsuccessful in using bentofile.yaml to enforce using the cpu. The settings do not seem to carry over to bento.yaml generated by `bentoml build`. Anyway, here's the error reported by the server using: `bentoml serve tensorflow_mnist_demo:latest --production`

![image](https://user-images.githubusercontent.com/78612439/171298119-b3a86a82-674a-4c35-a805-cf3b55c4e7f4.png)

I had to change servi

[2022-05-31 23:19] AndreasLR opened #2530 "TF2 tutorial fails serving in production mode"
Here's an error reported by the server used in the TF2 tutorial using: `bentoml serve tensorflow_mnist_demo:latest --production`

![image](https://user-images.githubusercontent.com/78612439/171298119-b3a86a82-674a-4c35-a805-cf3b55c4e7f4.png)

I had to change service.py a bit to make it work at all:
[code]

Note that serving using `bentoml serve service:svc --reload` worls.

_Originally posted by @

[2022-06-01 00:40] larme commented on #2530
Hi @AndreasLR, thanks for your detailed reports. After last issue is fixed, I also found tensorflow still not working well under production mode. After some debugging I have a pr #2531 ready for review. The problem is that internally one part of our codes give `__call__` method of a model some special treatment while another part does not. I think after that pr is merged, gallery example should ru

[2022-06-01 01:07] #2530 closed

[2022-06-01 09:37] AndreasLR commented on #2530
Thanks for your quick interventions, @larme . The TF2 tutorial now works, but I had to remove any usage of tensorflow in service.py as it would cause a Graph Execution error: `DNN library is not found.`. I rely on tensorflow for service.py in my own project, so I might open a new ticket if I get the time.

[2022-06-02 04:41] reniew opened #2534 "Can't save bento when using transformers custom pipeline"
**Is your feature request related to a problem? Please describe.**
Custom Transformer Pipeline is not available for `bentoml.transformer.save()`, since custom defined pipeline task can't pass task name validator.

**Describe the solution you'd like**
Pre-defined transformers task is too restrictive, it is more useful to applying custom pipeline.

[2022-06-02 05:45] aarnphm commented on #2534
Can you explain a bit more about your usecase? Have you tried the new API `save_model` from the rc releases?

[2022-06-02 06:29] reniew commented on #2534
Custom Piepeline
[code]
After define custom transformers pipeline, saving pipeline using `save_model` raise Error

[code]

Error message:
[code]

I use 1.0.0rc0 version!

[2022-06-02 07:17] aarnphm commented on #2534
Thanks for the code sample. I will get back to you asap

[2022-06-02 10:20] ssheng commented on #2534
The current Transformers `save_model` implementation checks the pipeline task name against a set of tasks supported by Transformers. So custom pipeline will fail. @aarnphm and I will discuss offline and get back to you.

[2022-06-03 08:47] ALee008 opened #2540 "model creation time is always utc"
**Is your feature request related to a problem? Please describe.**
Upon saving a model a creation time is added as a ModelInfo attribute. However it is not taking respective timezone into consideration.

**Describe the solution you'd like**
In `models.py` the class `ModelInfo` is created with `creation_time=creation_time or datetime.now(timezone.utc)`. Removing the `tz` argument `timezone.utc` is

[2022-06-03 11:28] ALee008 opened #2541 "ValueError when mounting custom middleware"
**Describe the bug**
I am trying this example from the documentation about [mounting custom middleware](https://docs.bentoml.org/en/latest/guides/server.html?highlight=fastapi#mounting-asgi-based-web-frameworks). I copy and pasted the fastapi example and served it. Upon startup I am encountering the following traceback:

[code]

**To Reproduce**
Steps to reproduce the issue:
1. Go to https://docs.

[2022-06-03 14:46] bojiang commented on #2541
Hi. I just noticed that the line `app = svc.asgi_app` in the guidance is not needed, causing the issue we meet here.

[2022-06-03 14:47] bojiang commented on #2541
Just removing it from your `service.py1 should do the trick!

[2022-06-06 09:11] aarnphm commented on #2540
maybe we can add a timezone field with respect to utc? Can you specify more about your usecase for timezone usage?

[2022-06-06 09:47] aarnphm commented on #2465
Please check with the latest docs with our rc releases, and try again. Thank you

[2022-06-06 09:47] #2465 closed

[2022-06-06 09:50] aarnphm commented on #2382
Hi @OriAlpha, BentoML recently put out 1.0.0rc0 for preview, Can you try out the latest version and then report back to us if you still have any issues? Thank you

[2022-06-06 09:50] aarnphm commented on #2154
@sauyon This is done?

[2022-06-06 10:04] #2249 closed

[2022-06-06 12:14] gaspard-met opened #2551 "feat: deploy latest bento"
Hi bentoml team,

Setup:
- `bentoml==1.0.0a7`
- Gallery quickstart
- minikube + `yatai-charts==0.3.2`

**Is your feature request related to a problem? Please describe.**
When trying the examples from the documentation, `bentoml build` and `bentoml push iris_classifier:latest` are smooth and have low friction.
However for deployments I have always tempted not to look at the bento hash but to use in

[2022-06-06 16:39] sbouchardet opened #2552 "`index_url` isn't used to install dependencies in the `containerize` command"
**Describe the bug**
Hello :wave: ,
I'm facing a problem in the `bentoml containerize sknn:xu7rnbhfvw2d7mi2` command in the `Installing pip packages from 'requirements.txt'` stage when it tries to install a package from an internal registry.

**To Reproduce**
My `bentofile.yaml` is something like:
[code]
If there is a dependency listed in `requirements.txt` that exists only in `my.mirror.com`, the

[2022-06-06 16:40] parano commented on #2551
Thank you for reporting the issue @gaspard-met, indeed we initially decided not to support the `latest` tag in Yatai deployment, to prevent human errors in the deployment workflow. Currently, I think there is validation happening in the CRD controller backend, so the user can view the error by querying the deployment status, but not immediately upon user running `kubectl apply` command.

As we are

[2022-06-06 16:44] aarnphm commented on #2552
Hi @sbouchardet, Thanks for reporting the bug. I will put up the fix right away

[2022-06-06 18:46] aarnphm commented on #2552
@sbouchardet can you try putting your index url to `extra_index_url` instead?

[2022-06-06 20:11] sbouchardet commented on #2552
Btw, I'm interesting to contribute to this project. Could you show me a good first issue to solve?

[2022-06-06 20:15] aarnphm commented on #2552
Oh your index url got double quote
it should be
[code]

[2022-06-06 20:16] aarnphm commented on #2552
on my end I tried this
[code]

[2022-06-06 20:19] aarnphm commented on #2552
Did you have any `pip` environment var set?

[2022-06-06 20:22] aarnphm commented on #2552
Feel free to take a look at https://github.com/bentoml/BentoML/issues?q=is%3Aopen+label%3Agood-first-issue+sort%3Aupdated-desc. To setup development workflow make sure to follow https://github.com/bentoml/BentoML/blob/main/DEVELOPMENT.md

[2022-06-06 20:26] sbouchardet commented on #2552
Copy/paste mistake :sweat_smile:
In my local `bentofile.yaml` it is right.

[2022-06-06 20:30] sbouchardet commented on #2552
I have no env var related to `pip`.

[2022-06-06 20:31] sbouchardet commented on #2552
I have no env var defined related to  `pip`.

[2022-06-06 20:31] aarnphm commented on #2552
can you try `lock_packages: True` vs `lock_packages: False`

[2022-06-06 20:56] sbouchardet commented on #2552
It works only with `lock_packages: True`. It generates a lock file (`~/bentoml/bentos/sknn/bqonlkxf3c2d7mi2/env/python/requirements.lock.txt`) with the `--extra-index-url  https://<other api token>:@my.mirror.com/pypi/simple` in the header.
I think it works now because of this, but it is not using (or setting) the variable `EXTRA_PIP_INSTALL_ARGS` in the Dockerfile.

![Image](https://user-images.g

[2022-06-06 21:15] aarnphm commented on #2552
This is probably a bug, because if you don't specify `lock_packages: true` bentoml will set it by default, I will investigate.

[2022-06-06 22:06] aarnphm commented on #2552
I will close it for now. Feel free to open another issue if you still have any questions.

[2022-06-06 22:06] #2552 closed

[2022-06-07 07:26] ALee008 commented on #2540
Hey @aarnphm , thanks for your reply. My use case is straight forward. I would like to create an overview of all saved models displaying some relevant metadata, including the creation time. As you can see in the next screenshot, I created the model `iris_clf` at around 09:03 a.m.:
![image](https://user-images.githubusercontent.com/39236016/172319865-a9779e9e-066d-4717-9600-1ccac9d12cfe.png)
Creati

[2022-06-07 07:33] ALee008 commented on #2541
Hey @bojiang , thanks for your reply. Removing `app = svc.asgi_app` solved this issue :thumbsup:

[2022-06-07 07:33] #2541 closed

[2022-06-07 20:22] sauyon commented on #2540
The creation time field for the model is stored as UTC to prevent confusion in absolute times when working across timezones.

When loading, the `creation_time` field should include the `tzinfo` for UTC. To convert to local time, it should be sufficient to do `model.info.creation_time.astimezone(tz=None)`.

If that's not the case, that's a bug; I'll take a look at it now.

[2022-06-07 21:39] timliubentoml opened #2563 "Rc0 release broke dockerfile for windows support"
**Describe the bug**

From support channel in slack
https://bentoml.slack.com/archives/CKRANBHPH/p1654618223220669

User mentions that windows support was working with a7 but not rc0.

Docker file contains slashes which are not compatible with windows

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]

[2022-06-07 21:45] aarnphm commented on #2563
#2547 will fix this

[2022-06-07 22:56] #2563 closed

[2022-06-08 04:46] #2496 closed

[2022-06-08 04:46] parano commented on #2492
@jjmachan this is implemented in rc1 release now

[2022-06-08 04:46] #2492 closed

[2022-06-08 08:26] gaspard-met commented on #2551
Hello @parano, thanks for taking the time to reach out

I totally understand the choice not to allow for the `latest` tag to be used for deployment Yatai.
The documentation / an error message would prevent this from being an issue

As for the usage, currently I deploy local bentos via the `kubectl apply` command
So after I train/save/build the model, I check the tag with `bentoml list` then copy-p

[2022-06-08 08:42] ALee008 commented on #2540
Hi @sauyon ,

thanks for your advice. Using `.astimezone` method solved the issue. Hence this ticket could be closed (if no further tasks are open).

[2022-06-08 09:17] gaspard-met opened #2569 "question: Local Bento Deployment has different behavior from UI deployment"
FYI @timliubentoml , we discussed this on Slack and I found it easier to fully document it here

**Describe the bug**
For a given Bento, and with the same arguments, the local `kubectl apply` command creates a deployment with only a `Cluster internal URL` and no URL accessible from outside the cluster

Setup:
- `bentoml==1.0.0a7`
- minikube
- `yatai-chart==v0.3.2`

**To Reproduce**

1. Common grou

[2022-06-08 11:42] swersig opened #2570 "OpenAPI-Specification is invalid when using hierarchical pydantic model"
**Describe the bug**
If a hierarchical pydantic model is used, e.g.

[code]

the OpenAPI specifiation generated by BentoML is invalid. It seems that BentoML reuses the schema generated by pydantic (which is a valid JSON schema) to describe the 'requestBody'. The pydantic-schema contains sub schemas for the sub types under the 'definitions' key. The OpenAPI-Spec only supports a subset of JSON-Schem

[2022-06-08 20:05] #2540 closed

[2022-06-08 20:05] sauyon commented on #2540
That's great to hear!

[2022-06-08 20:38] parano commented on #2540
Should we display local time in `bentoml models list/get` CLI output? or show the

[2022-06-08 20:54] timliubentoml commented on #2551
Once you do a "yatai login" you should then be able to use the "push" and "pull" commands to upload bentos as well.

[2022-06-08 21:25] parano commented on #2551
Hi @gaspard-met, thanks for the feedback! This is definitely an important step in the CI/CD story. We do plan to provide CLI commands for `bentoml yatai deploy`, including creating and updating deployments. see https://github.com/bentoml/BentoML/issues/2405

As for now, I'd recommend go with a traditional workflow similar to how people deploy newly built docker images to kubernetes. Here's an exam

[2022-06-08 22:51] sauyon commented on #2540
Yes, we absolutely should. I'll put up a PR for that really quickly.

[2022-06-09 01:28] parano commented on #2569
Hi @gaspard-met - thank you for the feedback! this is expected behavior but we should definitely improve the documentation for it. Basically the default value for `ingress` is True when creating from the UI, you can see a toggle enabled by default in the deployment creation UI. When creating a deployment from kubectl, the user needs to explicitly set the value to true. E.g.:

[code]

see https://g

[2022-06-09 08:22] gaspard-met commented on #2569
Hi @parano ,

Thank you for the information, I had missed the rather obvious "Endpoint public access" part 😅
I'll use the ingress for now, really glad I can make the deployments via the command-line 👍

Closing this issue now, thanks again !

[2022-06-09 08:22] #2569 closed

[2022-06-09 15:10] ALee008 opened #2577 "JSON descriptor with pydantic model returns dictionary instead of pydantic model object (RC0)"
**Describe the bug**
When using JSON() descriptor with a pydantic model I expect a pydantic model object to be passed as parameter to the decorated function, a dictionary is returned instead. This seems to be an issue in RC0 because it was working in the latest alpha release 1.0.0a7.

**To Reproduce**

**Expected behavior**
`dummy` is a pydantic model which has the attribute `dict`.

**Environment

[2022-06-09 16:23] aarnphm commented on #2577
Hi @ALee008, I believe that this is the expected behaviour to use pydantic to convert the payload to json. We are currently working on documentation on this behaviour. I will try to get back to you ASAP after discussing with the team.

[2022-06-10 04:20] aarnphm commented on #2577
Hi @ALee008, the behaviour has been fixed in #2578 and merged on main. We will work on better documents this behaviour.

[2022-06-10 04:20] #2577 closed

[2022-06-10 07:43] ALee008 commented on #2577
@aarnphm , much appreciated! Thank you guys for your quick responses. You are doing great work!

[2022-06-10 09:28] gaspard-met commented on #2551
Hi @parano ,

Thanks for the suggestion, made it work on my side 👍

What worked for me:

- Double curly brackets:
[code]

- Kubectl apply to unnamed file:
[code]

Closing this as it's solved 🍱

[2022-06-10 09:28] #2551 closed

[2022-06-10 20:20] ssheng commented on #2516
@TheisFerre We plan to include support for MLFlow in the official 1.0 version release. In the next couple of weeks, we will add support for MLFlow framework. Please keep an eye on the next RC releases. Meanwhile, feel free to create a custom runner for your use case if urgent. cc: @parano

[2022-06-10 20:29] yubozhao commented on #2416
Hey @gregd33 Did you get a chance to try out the 1.0 rc version?

[2022-06-10 20:45] ssheng commented on #2411
@sarmientoj24 Please look into the suggestion from @timliubentoml, I think it will work for first case listed. We need work on getting this pattern better documented. For second case, we have no out-of-box support yet but it can be done through our custom runners (https://docs.bentoml.org/en/latest/concepts/runner.html#custom-runner). We'd like to learn more about the use case you have in mind to

[2022-06-10 20:45] #2411 closed

[2022-06-10 20:49] yubozhao commented on #2382
@OriAlpha Let us know if your issue is not resolved or need additional helps.

[2022-06-10 20:49] #2382 closed

[2022-06-10 21:01] ssheng commented on #2368
We will leave this issue open for the community to upvote for `darts` support. We also welcome community contribution for adding new framework support. cc: @hrzn

[2022-06-10 21:04] #2149 closed

[2022-06-12 04:17] TheisFerre commented on #2516
Great - i will close this issue, as it is something you guys are planning to support in the near future.

[2022-06-12 07:03] marcindulak commented on #2516
If possible, let's keep the issue open until it's implemented.

[2022-06-12 07:25] aarnphm commented on #2516
This is currently high triage on our end, we will make sure for official 1.0 MLFlow will be supported.

[2022-06-12 07:40] marcindulak commented on #2516
I find it easier to track the development of a project when issues are closed by pull requests, and the corresponding "Subscribe" notifications arrive.

[2022-06-13 04:38] ebbunnim opened #2582 "Takes abnormally long time to build image"
**Describe the bug**

Hi, i have been building an API server using Bentoml.
Recently when building an image, it takes too much time to install a package.
(It's been over 3000s so far, and the image build hasn't ended yet.)
There was no problem with the image build about 3 days ago, but I wonder if there was a problem with the recent code revision.

**To Reproduce**

Below are my requirements.
[cod

[2022-06-13 04:46] aarnphm commented on #2582
Hi @ebbunnim, This is often due to incompatibilities among your locked dependencies.

One more note is that bentoml `0.13` is in LTS atm. We have recently released an `rc1` releases that you can try out. https://github.com/bentoml/BentoML/releases/tag/v1.0.0-rc1

You can try install it with `pip install bentoml==1.0.0rc1`

[2022-06-13 08:33] aarnphm commented on #2582
you can pass in extra pip arguments. This is an older implementation of the init.sh file and we changed the internal generation process for 1.0. We are focussing on 1.0 and thus 0.13 LTS support is not very high on our list right now. I don't know how to add extra pip args in 0.13 (cc @parano). For 1.0 you can follow the tutorial here https://docs.bentoml.org/en/latest/concepts/bento.html

[2022-06-13 09:57] ebbunnim commented on #2582
Well, i solved the problem by passing pip args in the following way.
[code]

And as you advised, I will try to apply rc1 version to the existing project.
Thanks a lot :)

[2022-06-13 10:45] ALee008 opened #2583 "ValueError: invalid literal for int() with base 10: '$(circus.sockets.{runner_name}) when runner name has a space character in production mode"
**Describe the bug**
A Runner object can be instantiated with a `name` argument. It seem as if this name contains a space seperator mentioned ValueError is raised when serving in production mode. As you can see in the screenshot, name of the runner is *Document Klassifikation*. I added some print statements starting with `>>>`:
![image](https://user-images.githubusercontent.com/39236016/173335889-

[2022-06-13 10:54] #2582 closed

[2022-06-13 11:40] andrei-kh opened #2584 "Can't pass __init__ parameters to a Runnable class when crating a Runner."
**Describe the bug**
Can't pass `__init__` parameters to a Runnable class when creating a Runner.

**To Reproduce**
When running this example from docs:
[code]
you get
[code]
`__init__()` of the `Runner` class has `init_params` parameter that is referenced as `runnable init params` in class docstring, but whe you change the parameter:
[code]
you still get an exception:
[code]
**Expected behavior**

[2022-06-13 23:58] sauyon commented on #2584
Opened #2587 to fix this. That PR also changes the `init_params` parameter to `runnable_init_params` to be more explicit, so that'll have to change in your code but hopefully that should work for you otherwise.

[2022-06-14 00:51] sauyon commented on #2583
Thanks for reporting this! I've limited runner names to valid python identifiers in #2588, which should resolve this issue.

[2022-06-14 05:02] chlee1016 opened #2591 "Fail to `bentoml build` when using custom docker image"
**Describe the bug**

When using `bentoml build` with custom base_image in `bentofile.yaml`, an error occurred.

**To Reproduce**

Assume that my bentoml service and runner, api have been implemented, thus ready to `bentoml build`.
[code]
**Expected behavior**

**Screenshots/Logs**

[code]
**Environment:**
 - BentoML Version [e.g. BentoML-1.0.0rc0]

**Additional context**

1. If I add any text ins

[2022-06-14 05:08] parano commented on #2591
Hi @chlee1016, we fixed a number of issues regarding Docker build options in the 1.0.0rc1 release, could you try it out?

Do you mean adding text to the base image tag? The base image is only pulled when user runs `bentoml containerize`, BentoML does not verify access to the image during `bentoml build`

What do you mean additional info? Did you specify both `base_image` and `distro`?  The `base_i

[2022-06-14 05:38] chlee1016 commented on #2591
Hi @parano ! thank you for your quick response!

I found that this issue has been solved in 1.0.0rc1 release, I can successfully use `bentoml build` when using custom docker base image in `bentofile.yaml`. Thanks!

It meant that I got the same error even if I replace my_custom_image:latest with `aaa` or `nvidia/cuda:11.2.0-cudnn8-runtime-ubuntu20.04` or anything of text.
I just wanted to say that

[2022-06-14 08:08] ALee008 commented on #2583
Thank you @sauyon !

[2022-06-14 09:51] aarnphm commented on #2591
this is a bug on our end, `system_packages` should not be there. The issue here is probably due to passing `system_packages` as a empty list or empty dict. We have a fix on the build config PR @parano

[2022-06-15 10:26] mashirali commented on #2185
Still not working with .... pip install bentoml --pre

[2022-06-15 19:38] aarnphm opened #2593 "build_config(env): not escape space accordingly"
**Describe the bug**

Currently if users pass in space environment variables `BuildConfig` wouldn't be able to process it accordingly
[code]

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.8.6]

**Additional context**

[2022-06-15 22:03] #2584 closed

[2022-06-16 05:09] timc opened #2596 "Couple of issues with pip_args in dockerfile"
**Describe the bug**
1. If pip_args.txt has multiple options (i.e. there's a space), e.g. --index-url=some_server/some_index --trusted_host=some_server, then the cat of the file into a variable will fail
2. The heredoc that uses the $EXTRA_PIP_INSTALL_ARGS needs to escape it so that it is evaluated correctly, i.e. reference is as \\$EXTRA_PIP_INSTALL_ARGS  (that's with 1 preceeding slash, just in

[2022-06-16 05:45] aarnphm commented on #2596
Thanks for the PR @timc

[2022-06-16 05:45] #2596 closed

[2022-06-16 06:07] aarnphm opened #2600 "docker(env): .env should only be existed under bento path"
.env file should only exist under bento path. Otherwise running `containerize` on different machine won't work

[2022-06-16 11:10] mashirali opened #2601 "BentoML not working with save model command and even build command on cli"
**Describe the bug**

**To Reproduce**
 Traceback (most recent call last):
  File "C:\Users\mashi\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\mashi\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\mashi\anaconda3\Scripts\bentoml.exe\__main__.py", line 4, in <module>
    from ben

[2022-06-16 12:43] darkking-park opened #2602 "YOLOv5 Torch Hub Model No module named models"
**Describe the bug**
Getting this error when using a custom YOLOv5 model I trained that I loaded and saved using torch hub.
* same issue
https://github.com/bentoml/BentoML/issues/2386

* @[timliubentoml](https://github.com/timliubentoml) answer
https://github.com/bentoml/BentoML/issues/2386#issuecomment-1086283333
https://github.com/bentoml/BentoML/issues/2386#issuecomment-1090754597

## I proceed

[2022-06-16 13:39] beshu opened #2603 "BentoML fails with 503 error while not utilizing the timeout setting"
**Describe the bug**

BentoML container fails to process the request with 503 error (Service unavailable). The problem persists on one of the servers at my company's disposal. The hardware on that server is quite weak, and when the container is created on another server with better hardware, no exceptions are raised.

The service have a long timeout (720 000ms) specified in bentoml.yml because the

[2022-06-16 16:39] aarnphm commented on #2601
@mashirali do you have `aws-sam-cli` installed? can you send the output of `pip show markupsafe`?

[2022-06-17 02:26] ebbunnim opened #2609 "'ModelInfo' object has no attribute '__attrs_init__'"
**Describe the bug**

`AttributeError` occurs when executing the sample code below. (1.0.0-rc1 version)
Please tell me how to solve it.

[code]

**To Reproduce**

**Expected behavior**

save model normally

**Screenshots/Logs**

[code]

**Environment:**
- OS: [MacOS 11.3.1]
- Python Version [Python 3.8.4]
- BentoML Version [BentoML-1.0.0-rc1]

**Additional context**

[2022-06-17 04:36] bojiang commented on #2609
@ebbunnim
Hi. I can not reproduce it. Could you please run the command `pip freeze` and paste the result here?

[2022-06-17 04:41] ebbunnim commented on #2609
@bojiang
here is the result
[code]

[2022-06-17 04:55] bojiang commented on #2609
Thanks a lot! I reproduced it. That `attrs` API is added in 21.1.0, so just upgrading `attrs` to versions later should fix it. I will also draft a PR to bentoml's requirements.

[2022-06-17 05:13] ebbunnim commented on #2609
The problem was resolved after the package upgrade. Thank you so much! 👍 👍

[2022-06-17 08:47] ebbunnim commented on #2534
@reniew  cc. @aarnphm @ssheng

Hi, reniew.
After adding {task_name}.py file inside of src/transformers/pipelines/ folder, we have to specifying the task spec.
Did you update src/transformers/pipelines/__init__.py?

[Example for existed code]
[code]

Based on the above process, I've made a customized pipeline and made a bento model successfully.

[2022-06-17 09:13] reniew commented on #2534
I don't understand updating `src/transformers/pipelines/init.py`.
Is it means updating my transformers package code? or give you task spec like above format?

[2022-06-17 16:47] aarnphm commented on #2534
Hmm, it seems from the transformers package that you have to manually update the `SUPPORTED_TASK` https://huggingface.co/docs/transformers/add_new_pipeline#adding-it-to-the-list-of-supported-tasks in the transformers package code.

[2022-06-17 17:10] aarnphm commented on #2534
I opened a ticket upstream https://github.com/huggingface/transformers/issues/17762 since I believe this implementation should be supported from transformers itself. I will try to reach out to the huggingface team and we will see how it pans out.

fyi, we simplify the implementation for 1.0 where we only support the pipelines abstraction from transformers now. We did have support for saving models

[2022-06-17 17:35] aarnphm commented on #2602
Hi @darkking-park, can you try with the new rc1 releases. we recently deprecate `load_runner`, as well as `save` and `load` api in turns for `save_model` and `load_model`.

[2022-06-19 04:39] #2609 closed

[2022-06-20 05:19] reniew commented on #2534
I try the other way that saving, loading custom transformers pipeline like below code, not adding new transformers pipeline.

[code]

But after loading by `bentoml.load_model`, it return different result
[code]

I think it cause by logic to load pipeline in `bentoml.transformers.load_model`

[code]

It seems to be not support custom pipeline class. In this situation, it would be better to use load

[2022-06-20 05:31] aarnphm commented on #2534
I think that is provably the case here. Since transformers itself doesnt have good support for custom pipeline, saving pytorch model and mimic the inference processing would be better here. I will follow up with the custom pipeline proposal on huggingface end.

[2022-06-20 09:13] smidm opened #2613 "colab tutorial fails with: ERROR:opentelemetry.context:Failed to load context: contextvars_context"
**Describe the bug**

The Google Colab tutorial https://colab.research.google.com/github/bentoml/gallery/blob/main/quickstart/iris_classifier.ipynb fails on the first bentoml code.

**To Reproduce**

1. Go to https://colab.research.google.com/github/bentoml/gallery/blob/main/quickstart/iris_classifier.ipynb
2. Run the Notebook (Ctrl + F9)
4. See the error after running the  `bentoml.sklearn.save_m

[2022-06-20 09:14] smidm commented on #2613
[pip_freeze.txt](https://github.com/bentoml/BentoML/files/8939211/pip_freeze.txt)

[2022-06-20 10:12] gaspard-met opened #2614 "bug: bentoml build fails to copy wheels over to bento fs"
Hello bentoml team 👋 ,
In my investigations to use private python packages alongside bento, I have tested several possible solutions
Here is a bug I found along the way to pass built wheels to bento

**Describe the bug**
When supplying custom built wheels to bentoml via `bentofile.yaml`, the build fails to copy the wheels over to the bento fs.
It seems that the folder `env/python/wheels` doesn't e

[2022-06-20 16:03] parano commented on #2613
Hi @smidm, thank you for reporting this issue. It has just been fixed in the main branch and available in the upcoming new release, you may try it out with `!pip install -U git+https://github.com/bentoml/BentoML.git pyyaml`

[2022-06-21 01:13] thechaos16 opened #2620 "bentoml serve with transformer pipeline fails to set GPU device"
**Describe the bug**

`bentoml serve` with transformers pipeline fails running with GPU on the assigning device step.

The available GPU device collected by env variable (https://github.com/bentoml/BentoML/blob/main/bentoml/_internal/frameworks/transformers.py#L265-L273) is string, and it is not compatible with transformer's code (https://github.com/huggingface/transformers/blob/main/src/transform

[2022-06-21 02:19] darkking-park commented on #2602
hi @aarnphm
I tried with rc1.
The server is not even popping up due to an error.
### run bentoml serve service.py:service
[code]

[2022-06-21 15:41] beshu commented on #2603
Problem is still persisting and no idea why...

[2022-06-21 18:08] messerb5467 opened #2622 "Small breaking change to onnx-mlir PyExecution session requires small tweak to open source code"
**Describe the bug**
A change to the onnx-mlir PyExecutionSession requires BentoML's onnx-mlir PyExecutionSession to be updated with a fix where `run_main_graph` no longer needs specified in the PyExecutionSession invocation as shown below:
![image](https://user-images.githubusercontent.com/7052326/174867827-350ebfb5-1062-4d2a-8439-4f490ab5f017.png)

**To Reproduce**
Any workflow using an old copy

[2022-06-21 18:47] aarnphm commented on #2622
@messerb5467 currently for rc1, we don't have support for onnx-mlir yet. If support onnx-mlir is crucial for your 0.13 work, you are more than welcome to open a PR to address this issue.

I believe that the fix would just to remove `run_main_graph`
[code]
0.13 are in LTS now, and right now it is not our main focus. We will let you know asap when ONNX-mlir is supported in 1.0. In the meantime, feel

[2022-06-21 19:52] messerb5467 commented on #2622
Definitely. @andrewsi-z and I will be talking about how to handle 1.0 moving forward too since we're also stewards of the onnx-mlir project.

I've had my attention directed elsewhere for the last few months with the ongoing 1.0 support. You are correct about the solution though. It'll be very straightforward.

I'll get into the slack channel and start poking around

[2022-06-21 19:56] andrewsi-z commented on #2622
Hi @aarnphm ! for 1.0, is the onnx-mlir support something that would be reenabled as a later RC or do you see this (and perhaps other frameworks) as a post-release item?

[2022-06-21 21:43] aarnphm commented on #2622
yes ONNX-mlir will be a post-release item. We will get on providing support incrementally for all of the missing framework that we support prior to 1.0. Hopefully we will get 1.0 out soon. Sorry for any inconvenience.

[2022-06-22 07:56] gaspard-met commented on #2614
Thank you both @aarnphm and @parano !
Closing this for now, and I will test the release later

[2022-06-22 07:56] #2614 closed

[2022-06-22 17:14] parano opened #2625 "bug: pyyaml compatibility issue on google cola"
**Describe the bug**

**To Reproduce**

Run BentoML tutorial on collar:
https://colab.research.google.com/github/bentoml/gallery/blob/main/quickstart/iris_classifier.ipynb#scrollTo=5a876780

And will see the following error:
[code]
[code]
**Expected behavior**

This is because google colab comes with PyYAML==3.13 by default, but BentoML currently requires a newer version

**Screenshots/Logs**

**E

[2022-06-23 00:02] yubozhao commented on #2603
@beshu

Did you set the `--timeout` option in the command: `bentoml serve-gunicorn`?  The default value is 60 seconds, you will want to increase that what appropriate for your prediction.

We didn't do a good job at explaining the batch fields and their values. Our bad.  The `mb_max_latency` means how long the max latency you are willing to tolerance for your prediction requests.

Let me know how

[2022-06-23 01:53] jiewpeng opened #2630 "Allow user to customize readiness probe"
**Is your feature request related to a problem? Please describe.**
Currently, the readiness probe does not bother to check anything; it just returns 200 OK if the app is started up. However, in case the developer accidentally introduces a bug into the bento/service file when modifying it, the deployment would be marked as ready, when it should not be. This makes a bugged deployment replace a previ

[2022-06-23 03:13] aarnphm commented on #2602
can you send the service code here?

[2022-06-23 03:15] aarnphm commented on #2602
torch hub doesn't work reliably since different hub has different implementation. The module `models` is from ultralytics/yolov5, and bentoml doesn't have context of this.

[2022-06-23 12:07] darkking-park commented on #2602
@aarnphm
my service code
[code]

I would appreciate it if you could share the service source for Bentoml with the torch model(yolov5.pt).

[2022-06-23 15:41] smidm commented on #2613
Thanks, it solves the issue.

[2022-06-23 15:41] #2613 closed

[2022-06-24 03:01] ssheng commented on #2620
@thechaos16 fix has been merged in main. Will include in the next release.

[2022-06-24 03:01] #2620 closed

[2022-06-24 06:49] aarnphm commented on #2602
You can do this. At your service directory:
[code]
This will add current data, utils, and models directory to the current directory. You can then add those required files/folder to your bento. This is the workaround for now.

We will provide support for torchhub module after 1.0 release

[2022-06-27 04:47] smidm opened #2638 "bentoml serve silently fails on errors in a custom Runnable"
**Describe the bug**

When deploying a service with a custom Runnable containing an error, the `bentoml serve` fails to properly start and doesn't show the error in the logs.

**To Reproduce**

Create `runnable_sample.py` with a failed assertion in the `MyRunnable.__init__`:

[code]

Steps to reproduce the issue:
1. run `bentoml serve runnable_sample:svc`
2. open swagger UI at http://127.0.0.1:300

[2022-06-27 05:03] aarnphm commented on #2638
Hi @smidm, this is indeed a bug about logger and have been fixed at https://github.com/bentoml/BentoML/pull/2635. You can try to install bentoml from source with `pip install git+https://github.com/bentoml/BentoML.git@main` and try again, thank you.

[2022-06-27 09:34] smidm commented on #2638
Thanks. I confirm that it is fixed in the @main.

[2022-06-27 09:34] #2638 closed

[2022-06-27 18:27] aarnphm commented on #2601
Hi @mashirali can you try again with bentoml `rc2`? `pip install bentoml==1.0.0rc2`

[2022-06-27 21:55] ssheng commented on #2332
@WarriorMmb fastai progress can be track in this PR. fastai support will be included in the 1.0 release.

[2022-06-27 23:41] sugatoray opened #2641 "Add a `conda` install option from `bentoml`"
It will be helpful to have a conda installation option. Although you could publish the library in your own channel at Anaconda, when other libraries depend on your library and they want to make theirs available on conda-forge channel, `bentoml` will be necessary to have on conda-forge channel.

This could possibly facilitate more downstream adoption of `bentoml`.

---

:tada: I have started the wo

[2022-06-27 23:42] sugatoray commented on #2641
cc: @parano @yubozhao

[2022-06-27 23:44] yubozhao commented on #2641
@sugatoray This is awesome. Thank you for start the PR in the conda-forge repo.

Let us know anything we can help with.

[2022-06-27 23:56] yubozhao commented on #2630
@jiewpeng
That's a great suggestion. We are planning on introducing more capability that helps users to have the confidence when the server started.

I think provide custom function for readiness is a good way to go. Let me check with the team and we will update discussion on this issue

[2022-06-28 00:03] yubozhao commented on #2630
@jiewpeng Are you doing any model validation during training and before push into production?  I would love to learn more about your context and situation

[2022-06-28 04:26] jiewpeng commented on #2630
We do have validation for some of our models before deploying them, however this is not able to fully simulate the actual BentoML environment since we directly call the model instance when testing, so

- This cannot account for how BentoML sends the input to the model through `runner.run` or `runner.run_batch`, and how the output of these functions get sliced
- This cannot account for the develope

[2022-06-28 04:39] aarnphm commented on #2641
I think we can maintain our own conda channel instead of using conda-forge. We should revisit this after 1.0?

[2022-06-28 12:17] sugatoray commented on #2641
@aarnphm You can always maintain your own conda channel. And people can install from that channel.

Such as `pytorch`, `nvidia`, etc.

But that will not work for any package that uses `bentoml` as a dependency and wants to add to `conda-forge`.

Making a package available on `conda-forge` means making the package easily available for any future downstream package that could be easily made availabl

[2022-06-28 13:43] aarnphm commented on #2641
But often times the engineering overhead relies o n the maintainer of conda-forge maintainer. Also what you are proposing upstream is bentoml 0.13.1. I believe u would have to update it again once qw release 1.0.

I think providing a channel is ok. I will check the licensing on this issue, but hopefully everything is good.

[2022-06-28 16:28] sugatoray commented on #2641
@aarnphm You didn't say anything rude at all. 😊

[2022-06-28 16:51] sugatoray commented on #2641
:tada: It is now available on conda-forge!

- Conda: https://anaconda.org/conda-forge/bentoml
- Feedstock: https://github.com/conda-forge/bentoml-feedstock

![image](https://user-images.githubusercontent.com/10201242/176236149-e8d522f2-32cd-44cb-95b4-b961bb898134.png)

[2022-06-28 17:34] sugatoray commented on #2641
:fire: LinkedIn post on BentoML on conda-forge: https://www.linkedin.com/feed/update/urn:li:activity:6947601423425519616/

[2022-06-29 01:30] sauyon commented on #2258
This one should be done, closing.

[2022-06-29 01:30] #2258 closed

[2022-06-29 01:34] sauyon commented on #2330
Hm, I think this one is fixed in the RC.

[2022-06-29 01:34] #2330 closed

[2022-06-29 02:13] hotplot opened #2648 "`containerize` ignores conda install errors"
**Describe the bug**

If `conda env update ...` fails when containerizing a bento that specifies a conda environment, the error is silently ignored during the Docker build and `bentoml containerize` reports a successful build despite generating an invalid docker image.

**To Reproduce**

1. Create a bentoml service with a bentofile.yaml that specifies a conda environment
2. Make sure the conda env

[2022-06-29 02:16] parano commented on #2648
Hi @hotplot - looks like it's due to low disk space for conda to install packages, `#19 593.1 [Errno 28] No space left on device`. Maybe try clean up unused docker images/containers or increase disk space mounted for docker?

Also I noticed that you are using BentoML 0.8.6 which is a very old version. We did a lots of things in later versions(especially in 1.0) to improve conda integration and red

[2022-06-29 02:44] aarnphm commented on #2648
`bentoml containerize` spawn a process that invoke `docker buildx`, which if it fails, it should just exit completely. Can you try the latest rc2 releases to see if you can replicate this issue?

[2022-06-29 02:59] hotplot commented on #2648
`docker buildx` doesn't fail or exit, as the non-zero exit code from `conda env update` is ignored by the bentoml dockerfile.

See the log and compare to `miniconda_debian.j2`:

1. `conda env update -n base -f {{ __environment_yml__ }}` is executed **and fails** (the line I linked in original comment)
2. `conda clean --all` is immediately executed and the failure from above is completely ignored
3

[2022-06-29 04:08] parano commented on #2648
@hotplot thank you for providing the details, I can reproduce the issue on my end with 1.0.0rc2 release. we will prioritize a patch for fixing this issue. cc @aarnphm @ssheng

[2022-06-29 12:34] vikramjit-sidhu commented on #1960
The docs are outdated again, I have tried the following code:

[code]

However I get an assertion error from the `PrometheusClient` class, "Invalid prometheus multiproc directory"

[2022-06-29 19:24] #2648 closed

[2022-06-29 20:32] hotplot commented on #2648
Thanks for the help and quick fix @aarnphm :)

[2022-06-29 20:36] aarnphm commented on #2648
my pleasure @hotplot

[2022-06-30 00:04] larme opened #2653 "runner/runnable support multiple outputs if ml frameworks support it"
to solve:

- [ ] auto DataContainer recognize multiple outputs

[2022-06-30 03:15] aarnphm commented on #2332
Hi @WarriorMmb the implementation for fast ai has been finished. The documentation will get merged shortly.

[2022-06-30 17:45] yubozhao commented on #2641
Thanks @sugatoray going to close this issue for now. Feel free to reopen it, if further discussion needed

[2022-06-30 23:01] aarnphm commented on #2534
BentoML now support custom pipelines and this will be included in rc3 releases. Thanks for opening this issue.

[2022-06-30 23:11] ssheng commented on #2630
Hi @jiewpeng, maybe a simpler solution is to add an [ASGI middleware](https://www.starlette.io/middleware/#basehttpmiddleware) to intercept the `/readyz` request and inject your custom validation logic.

In your service definition module, you can add an ASGI middleware by calling `svc.add_asgi_middleware()`.

[code]

[2022-06-30 23:58] #2583 closed

[2022-07-01 02:51] dnth commented on #2332
Thank you! That's really good news!

[2022-07-01 02:54] #2332 closed

[2022-07-01 02:55] aarnphm commented on #2332
docs will be tracked at https://github.com/bentoml/BentoML/pull/2649

[2022-07-01 12:47] smidm opened #2666 "containerize with conda fails, missing install.sh"
**Describe the bug**

`bentoml containerize` with conda options in `bentofile.yaml` fails with `chmod: cannot access '/home/bentoml/bento/env/python/install.sh': No such file or directory`.

`bentofile.yaml` with:
[code]
works without issues.

**To Reproduce**

`sample_bentofile.yaml`:
[code]

`sample_service.py`:
[code]

1. `bentoml build -f sample_bentofile.yaml`
2. `bentoml containerize iris_cl

[2022-07-01 16:57] aarnphm commented on #2666
Can you try `docker builder prune --filter type=exec.cachemount` and `docker volume prune` and try again?

assuming you don't have any crucial volume in docker.

[2022-07-01 17:21] #2600 closed

[2022-07-01 17:58] sauyon opened #2670 "Post-1.0 API cleanup"
Tracking issue for small cleanup fixes we should make sure we do after 1.0; will add to this list as we think of more things.

 - [ ] More structured usage of exception types, and documentation for which exceptions may be thrown.
 - [ ] Ensure all types exposed by public APIs have public (i.e. not `_internal`) paths.

/cc @bojiang

[2022-07-02 05:04] smidm commented on #2666
I've tried and still the same results.

[2022-07-02 05:16] aarnphm commented on #2666
Can you try with rc3 releases to see if you still see this issue. I can't reproduce it.

[2022-07-02 18:20] yubozhao opened #2675 "`--reload` is not supported on Windows"
**Describe the bug**

In QuickStart guide, calling `bentoml serve --reload` will throw error:
[code]

**To Reproduce**

Run QuickStart python notebook in the gallery project, at the serving command cell `bentoml serve service.py:svc --reload` it will throw error:
[code]

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: Windows
 - Python Version 3.9
 - BentoML Version 1.0.0rc3

[2022-07-03 03:25] jiewpeng commented on #2630
@ssheng thanks for the suggestion; unfortunately this method did not allow me to use the runner nor the logger - or am I doing something wrong? This is my service.py file for the iris clf example in the bentoml tutorial. Calling `/readyz`, I can see in the logs `RuntimeError: This function can only be run from an AnyIO worker thread` when it tries to use the runner.

[code]

[2022-07-03 18:41] yubozhao commented on #2630
@jiewpeng To build on top of Sean's suggestion, I think you can use the middleware to redirect the request to `/readyz` to a service endpoint that does the validation, that way you will have access to the runners.

[code]

[2022-07-03 22:07] ssheng opened #2678 "docs: Release 1.0 documentation improvement"
Documentation improvements needed for the BentoML 1.0 release.

Framework documentation
- [x] https://github.com/bentoml/BentoML/pull/2735 documentation by @bojiang, review by @aarnphm, @larme
- [x] https://github.com/bentoml/BentoML/pull/2718 documentation by @bojiang, review by @larme
- [x] https://github.com/bentoml/BentoML/pull/2741 documentation by @larme, review by @bojiang
- [x] https://git

[2022-07-04 01:42] jiewpeng commented on #2630
Hi @yubozhao , thanks for the suggestion, but this method is not working.

From the logs, I can see that because the `myreadyz` (which I call `readyz_predict`) excepts a JSON input and does not receive one, it fails.

[code]

Additionally, when I SSH'd into the pod and called `requests.post("http://localhost:3000/readyz_predict", json="1")` to simulate sending a dummy JSON input, I can avoid this

[2022-07-04 02:46] yubozhao commented on #2630
@jiewpeng sorry about my hasty response.  You will need to pass an empty json payload as part of the redirect and also instead of using JSON for output, you can use `Text` and return an empty string for successful validation

[2022-07-04 03:56] jiewpeng commented on #2630
With the following service file, it still does not work:

[code]

When I try calling `/readyz`, it says the runner is not initialized.

[code]

[2022-07-04 04:04] aarnphm commented on #2630
can you make sure to update bentoml to latest rc3 release?

[2022-07-04 04:21] jiewpeng commented on #2630
Yup I upgraded to the rc3 release yesterday

[2022-07-04 09:10] MathiasGruber commented on #2666
I'm using the rc3 and getting same error:

`python
service: "service:svc"
include:
  - "*.py"
conda:
  environment_yml: "./artifacts/loaded_model/conda.yaml"
`

`[+] Building 651.2s (18/21)
 => [internal] load build definition from Dockerfile

[2022-07-04 09:27] aarnphm commented on #2666
I can't seem to reproduce, even with a completely new environment. Can you send me your bento with
```bentoml export iris_classifier:<tag> .``` If there aren't anything sensitive in there

[2022-07-04 09:31] MathiasGruber commented on #2666
Absolutely:
[iris_classifier-iq5nbeh3okzncasc.bento.zip](https://github.com/bentoml/BentoML/files/9038213/iris_classifier-iq5nbeh3okzncasc.bento.zip)

[2022-07-04 09:56] aarnphm commented on #2666
You might have to repackage the bento again. I see that from the bento you sent me this is the rc2 format. We currently don't have any backwards compatibility across rc releases as it is a pre release.

If possible I suggest you should try the whole workflow again with rc3 release. This include repackaging and containerize the bento.

[2022-07-04 10:22] MathiasGruber commented on #2666
Ah, indeed, apologies. Indeed building with rc3 fixed the issue 👍

[2022-07-04 11:32] smidm commented on #2666
I've upgraded to rc3, run `bentoml build` and `bentoml containerize` ending with the same results. Attaching the bento:
[iris_classifier-ifj52sx3rohtkatv.zip](https://github.com/bentoml/BentoML/files/9039046/iris_classifier-ifj52sx3rohtkatv.zip)
.

[2022-07-04 19:30] aarnphm commented on #2666
If possible, a .bento format would be helpful.

[2022-07-04 19:33] aarnphm commented on #2666
This is weird.

[2022-07-04 19:38] aarnphm commented on #2666
I will try to put a PR to address this. Thanks for the information.

[2022-07-04 19:44] smidm commented on #2666
It's bento, just renamed to zip as it is one of the allowed extensions in comments.

[2022-07-04 20:51] aarnphm commented on #2666
This issue will now be tracked at #2681

[2022-07-05 01:18] aarnphm opened #2684 "cattr: migration to GenConverter"
From 22.2 onwards, the default `Converter` is `22.1` and below `GenConverter` and the `Converter` for 22.1 and below will be renamed to `BaseConverter`.

https://github.com/bentoml/BentoML/pull/2683

[2022-07-05 08:03] #2448 closed

[2022-07-05 10:43] aarnphm commented on #2622
I have made the PR for 0.13 to try addressing this. @andrewsi-z would be great to have your input on this. I hope it should at least fix the issue for 0.13

[2022-07-05 10:45] aarnphm commented on #703
Working in progress, per current MLH batch. Current progress can be tracked https://github.com/bentoml/BentoML/tree/grpc

[2022-07-05 10:48] aarnphm commented on #2591
Hi @chlee1016. Can you try again with rc3 releases and see whether you still run into this issue.

[2022-07-05 11:09] messerb5467 commented on #2622
Hi there, I currently have the PR as well, but was hitting issues running the tests locally and was going to talk with Andrew first.

This seems like a good a time as any though to ask. How do you run the integration tests locally? I tried both running them outside a container and installing the dependencies inside a container and couldn't get it working

[2022-07-05 11:15] aarnphm commented on #2622
Honestly, I forgot how to run most of the CI for 0.13 considering we have been working on the redesign for quite a while now. IIRC it is very hard to set up ONNXmlir tests to run it locally. After compiling the ONNXmlir library, I have to manually go into the test file and add the compiled library to sys.path. Maybe you can try that out.

I believe there is something similar in the test file about

[2022-07-05 11:24] messerb5467 commented on #2622
If everything runs on the creation of the pull request, that should be ok from my point of view and we can use that to do any further debugging on my side or if your PR is working, we can just merge that in. That being said, we can also create a little something on running those tests so we don't have this trouble again.

[2022-07-05 12:45] messerb5467 commented on #2622
I'll let us decide how we want to resolve this. [Based on the test-coverage documentation](https://github.com/bentoml/BentoML/blob/ca56a7ca98e32cfbc9057db73f1a310ad60551c5/CONTRIBUTING.md#testing-and-improving-test-coverage) and the files introduced in https://github.com/bentoml/BentoML/pull/1545, just running these through the CI should be sufficient to doing a full scope of tests. Trying to get

[2022-07-05 12:49] aarnphm commented on #2622
I have finished building onnx-mlir

[2022-07-05 12:49] aarnphm commented on #2622
Let me test the changes locally.

[2022-07-05 13:06] messerb5467 commented on #2622
ok cool. I'm running everything through the CI/CD pipeline for my own edification, but I've got sphinx failing to build on my side for some reason in PR #2692 even though it is setup against the correct branch.

[2022-07-05 13:57] aarnphm commented on #2622
I think the docker image is very hard to use, but the installation from git source for onnx-mlir is pretty straightforward. It took me a while to compile on my old i7 desktop but it is relatively quick on a m1 mac :).

I have a few ideas around devex for `bentoml.onnxmlir` and will ping you when I have the PR up.

[2022-07-05 14:03] messerb5467 commented on #2622
cool thanks so much Aaron. Really appreciate the help here.

[2022-07-05 14:04] aarnphm opened #2693 "feat: ONNXMlir first class support"
Provide supports for ONNXMlir as a first-class citizen

TODO:
- [ ] use the docker container as an entrypoint for `onnx-mlir`
- [ ] provides envar `ONNX_MLIR_DIR` if users build ONNX_MLIR locally
- [ ] need a way to safely add PyRuntime to `sys.path`
- [ ] support `multi_entrypoint` compiled model.

Maybe provides support for older `ExecutionSession` for older onnx-mlir API. Since this library is

[2022-07-05 14:04] aarnphm commented on #2622
Lets close this one and create a different ticket to track ONNXMlir support here. https://github.com/bentoml/BentoML/issues/2693

[2022-07-05 14:04] #2622 closed

[2022-07-05 14:16] aarnphm commented on #2622
@messerb5467 for now to use onnxmlir via docker you can do
[code]
This assumes your current working directory has a `mnist.onnx`

[2022-07-05 14:58] messerb5467 commented on #2622
That's the part I'm very familiar with since I maintain the project. I was having trouble with the sphinx build on the PR merge since I've switched between a few different disciplines and I'm trying my hand at development now.

[2022-07-05 15:00] messerb5467 commented on #2622
and I also don't want to give too much an unexperienced vibe as I put in a lot of work on my own time to close the gap. This is just one of those things I might need a slight pick me up on so I can bootstrap myself.

[2022-07-05 15:33] messerb5467 commented on #2693
@andrewsi-z for your awareness

[2022-07-05 15:58] aarnphm commented on #2622
ah no worries. Just take your time no need to rush.

[2022-07-05 16:17] andrewsi-z commented on #2693
Sounds good!
@aarnphm with 'use the docker container as an entrypoint for onnx-mlir' I assume this would be to take an ONNX model as input and handle compile as part of the abstraction layer rather than require the compile as a prerequisite step (which the current approach relies on)?

[2022-07-05 16:27] aarnphm commented on #2693
that is correct. We will allow any .onnx file format and we will use the docker container to compile the model.

[2022-07-05 16:28] aarnphm commented on #2693
I'm thinking to also provide a helper layer where users can put any model file (let say tensorflow model format, or torch model format) and then convert it to onnx. But imo that is outside the scope abit. We could do something like that for ONNX as well in the future.

[2022-07-05 17:58] yubozhao opened #2694 "PyTorch Runner doesn't support dict as input when inference on GPU"
**Describe the bug**

Slack conversation: https://bentoml.slack.com/archives/CKRANBHPH/p1656589220060889

[code]

Current workaround:
Using custom Runner:
[code]

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.8.6]

**Additional context**

[2022-07-05 21:55] hwang250 commented on #2675
Hello, all,
Do you have a chance to take a look? Is there any way to avoid this issue?

[2022-07-05 22:53] aarnphm commented on #2675
I believe this has to do with how circus doesn't have full support for windows.

[2022-07-06 03:54] #2413 closed

[2022-07-06 04:27] larme commented on #2693
@aarnphm I wonder if we want to convert tf/pt model to onnx for users, there're a lot of fine tuning can happen in this process. Better give user some references in documentations

[2022-07-07 08:38] swersig commented on #2570
Hi @bojiang,

is this issue adressed in an upcoming release?

[2022-07-07 22:29] ssheng commented on #2497
https://github.com/bentoml/BentoML/pull/2636

[2022-07-07 22:29] #2497 closed

[2022-07-09 01:22] aarnphm commented on #2684
Finished.

[2022-07-09 01:23] aarnphm commented on #2591
@chlee1016 can you confirm that everything is working now?

[2022-07-09 01:26] #2666 closed

[2022-07-09 01:26] aarnphm commented on #2666
This issue has been fixed at #2681. This will be addressed at `1.0` release.

[2022-07-09 02:12] aarnphm opened #2704 "feat: `bentoml.torchhub`"
Currently there aren't a way to fully support torch hub.
https://github.com/bentoml/BentoML/issues/2602 like this often comes up due to different torch hub imports implementation.

*Proposal*

Provides a `bentoml.torchhub` that create interaction between bentoml and torch hub modules.

[code]

For runner, `to_runner()` will return a PyTorchRunner

[code]

[2022-07-09 02:13] aarnphm commented on #2602
https://github.com/bentoml/BentoML/issues/2602#issuecomment-1165259006 should be able to solve your current issue. Development will be tracked at #2704

[2022-07-09 02:13] #2602 closed

[2022-07-09 02:14] aarnphm commented on #2675
I believe that `--reload` is not supported on Windows. @hwang250.

[2022-07-09 02:16] aarnphm commented on #2516
The current progress is tracked at https://github.com/bentoml/BentoML/pull/2702

[2022-07-09 02:18] aarnphm commented on #2194
For those who landed here, BentoML provides support for Custom runners, which you can create for supporting [NLTK](https://docs.bentoml.org/en/latest/concepts/runner.html#custom-runner).

[2022-07-09 02:18] #2194 closed

[2022-07-09 02:20] aarnphm commented on #1835
Hi @lucaslrolim, It has been a while. We have recently introduced a lot of changes for bentoml 1.0. Is it possible that you can try bentoml out again with `pip install -U --pre bentoml` and see if you still run into this issue.

[2022-07-09 02:21] #1952 closed

[2022-07-09 02:23] aarnphm commented on #1855
Hi @ice-americano, feel free to try out our rc releases with `pip install -U --pre bentoml`. I hope this issue should be addressed in recent release of BentoML.

If it is required for you to stay at 0.13, We will come back to this after 1.0 release is out.

[2022-07-09 02:25] aarnphm commented on #2156
This doesn't seem like a BentoML issue. You can try out the recent rc releases as we changed the API quite a bit.

Install the latest rc releases with `pip install --pre -U bentoml`

Feel free to open this again. Closing for now.

[2022-07-09 02:25] #2156 closed

[2022-07-10 05:39] hwang250 commented on #2675
Thanks, @aarnphm. Yes, it works without --reload option for windows.

Looks that, it would be helpful if an error msg is updated in this case instead of using "NotImplementedError: Streams are not supported on Windows"

[2022-07-10 07:26] aarnphm commented on #2675
added #2707

[2022-07-10 09:08] jiewpeng commented on #2630
@ssheng thanks, your code works, however I don't really see the point of the `if message["type"] == "http.response.start"` chunk...perhaps I don't understand bentoml's internals well enough. Your code also defeats the purpose of the readiness probe logic, because no matter what happens inside the function, the middleware will just return HTTP 503 "BAD".

I have modified your snippet slightly to lo

[2022-07-11 05:30] seyeonseanpark commented on #2386
I'm facing the same issue

[2022-07-11 06:03] aarnphm commented on #2386
@seyeonseanpark can you try this out https://github.com/bentoml/BentoML/issues/2602#issuecomment-1165259006

[2022-07-11 07:24] aarnphm commented on #2675
Hi @hwang250 the fix of this will be addressed in #2711

[2022-07-11 07:24] #2675 closed

[2022-07-11 11:58] aarnphm opened #2715 "feat(container): nix packages ecosystem"
Right now it is a pain to maintain certain packages and library dependency from different OS (alpine, debian, amazon)

A proposal is to pull library and required components straight from Nix ecosystem.

[2022-07-12 02:45] yubozhao opened #2719 "bentoml runner doesn't run inside the mounted asgi app"
**Is your feature request related to a problem? Please describe.**

Slack conversation: https://bentoml.slack.com/archives/CKRANBHPH/p1657587112201419

Service definition:
[code]
throws error: `this function can only be run from an AnyIO worker thread`

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-07-12 02:45] yubozhao commented on #2719
Add @sauyon to this issue, since he is following up in the slack conversation

[2022-07-12 04:41] sauyon opened #2722 "Document how to test a BentoML service"
We should have good docs for using BentoML with various testing frameworks.

[2022-07-12 04:52] seyeonseanpark commented on #2386
thank you! will this be supported in later releases?

[2022-07-12 06:38] aarnphm commented on #2386
We need some more rounds of discussion within the team about supporting torch hub. But would love to hear ideas from the community as well.

All progress now be tracked at #2704

[2022-07-12 20:08] aarnphm opened #2729 "Make it easier to install from source on Windows"
Currently if users install bentoml from source on windows, there isn't a easy way to setup and configure the environment variable. This means whenever users do `bentoml build`, only the latest changes from PyPI will be installed inside docker container.

Currently, we ask user to set `BENTOML_BUNDLE_LOCAL_BUILD` to True. This is very hard and troublesome to setup on Windows platform.

We should ma

[2022-07-12 20:13] parano commented on #2729
For context, this is for users who need to use a custom build of BentoML or want to use the latest main branch. See https://github.com/bentoml/BentoML/blob/main/DEVELOPMENT.md#deploy-with-your-changes for more details.

Another approach without setting the `BENTOML_BUNDLE_LOCAL_BUILD` env var,  is to put the following in your bentofile.yaml
[code]

[2022-07-12 20:29] sauyon opened #2731 "Better error messages"
A large tracking issue for things that should probably have specific error messages and suggested fixes:
 - [ ] Passing a non-supported type to / from runners via DataContainer
 - [ ] Running a normal `run` method instead of `async_run` in an async function

[2022-07-12 23:59] aarnphm opened #2733 "perf: support multiple bento build stage"
Currently the generated Dockerfile is only one stage. We should take advantage
of the [multi-stage build](https://docs.docker.com/develop/develop-images/multistage-build/) or similar OCI-compilant tools to reduce the bundle size.

[2022-07-13 04:05] aarnphm commented on #2602
You can try out https://github.com/bentoml/gallery/tree/main/custom_runner/torch_hub_yolov5

[2022-07-13 08:03] #2729 closed

[2022-07-13 17:29] yubozhao opened #2743 "bug: kwargs incorrectly override in transformer load_model call"
### Describe the bug

See slack conversation: https://bentoml.slack.com/archives/CKRANBHPH/p1657728851922539

extra arguments via `kwargs` passed in `bentoml.transformers.load` will be override.

The bug occurs in the following lines:

https://github.com/bentoml/BentoML/blob/0205acac04311b0e82b01ebfab46a9f5be166f40/bentoml/_internal/frameworks/transformers.py#L196-L197

### To reproduce

1. save t

[2022-07-13 17:30] ssheng commented on #2743
Thanks for reporting the bug. We will work on a fix soon. For your use case, there is a simpler workaround using model options when you create the runner.
[code]

[2022-07-14 03:41] aarnphm opened #2747 "feature: support streaming API for Service"
### Feature request

We probably need a streaming API for Service, between Service and Runner (not needed for now).

### Motivation

_No response_

### Other

_No response_

[2022-07-14 06:49] cgyeon-muhayu opened #2748 "feat(framework): PaddlePaddle"
### Feature request

`NotImplementedError: Support for "bentoml.paddle" is temporarily unavailable as BentoML transition to the new design in version 1.0.0 release. Before this module is officially implemented in BentoML, users may use Custom Runner as a workaround. Learn more at http://docs.bentoml.org/`

Thanks!

### Motivation

_No response_

### Other

_No response_

[2022-07-14 21:46] ssheng opened #2750 "feature: api for custom model and bento tags"
### Feature request

Hello! Is it possible to change the version assigned to a model before saving it? I’d like to be able to assign a semantic version instead of the random generated version in the Tag, This used to be possible with artifacts in 0.13, but I can’t find a way to do it now with 1.0.0. A possible way to do this might be to allow an argument tag in the save_model method that takes a b

[2022-07-15 05:09] parano opened #2751 "Update BentoML recipe on conda-forge to use version 1.0"
#2641 added BentoML 0.13 to conda-forge channel, with the recent release of 1.0 version, we need to update BentoML receipt on conda-forge to point to 1.0 and update the dependencies list.

cc @aarnphm  @sugatoray

[2022-07-15 05:11] parano commented on #2750
Custom Bento tag is actually supported via the `--version` CLI argument in `bentoml build`:

[code]

We should allow user to specify a version tag for their models in `save_model` APIs, e.g.:

[code]

[2022-07-15 07:13] aarnphm commented on #2751
@sugatoray feel free to take a stab at this

[2022-07-15 15:19] beshu commented on #2603
Hello! Sorry for the long response. Thanks for letting me know about this option, it worked like a charm. Closing the issue

[2022-07-15 15:19] #2603 closed

[2022-07-15 21:37] aarnphm commented on #2516
Hi @marcindulak, mlflow now has been supported with bentoml 1.0. Feel free to explore the integration at https://github.com/bentoml/gallery/tree/main/mlflow

[2022-07-15 21:37] #2516 closed

[2022-07-15 21:53] aarnphm commented on #2416
cc @gregd33, I encourage you to try out 1.0 releases as we have a lot of changes comparing to 0.13. In the meantime, the progress of this issue should be addressed via #2753. Feel free to reopen it anytime.

In this case, I believe a solution is to create warning for this. It is probably sufficient enough.

[2022-07-15 21:53] #2416 closed

[2022-07-15 22:46] aarnphm opened #2755 "bug(containerization): conda doesn't work on M1"
### Describe the bug

When trying to containerize a bento with conda enable, M1 will fail due to linked library while building psutil.

### To reproduce

1. Enable conda from quick start gallery project
[code]
2. Build with `bentoml build`
3. run `bentoml containerize iris_classifier:latest`

### Expected behavior

This passed on AMD64 platform, not arm64

### Environment

`bentoml`: 1.0.0.post3+g

[2022-07-16 02:58] sugatoray commented on #2751
I will look into it. Thanks for the heads up. 🚀

[2022-07-16 04:49] sugatoray commented on #2751
You will not need to create a new recipe for `bentoml`. The update needs to happen in the conda-forge feedstock repository for bentoml. So, please close the PR opened in staged-recipes repository.

- https://github.com/conda-forge/bentoml-feedstock

[2022-07-16 08:35] sugatoray commented on #2751
I opened a PR in the feedstock.

- https://github.com/conda-forge/bentoml-feedstock/pull/4

[2022-07-16 08:42] sugatoray commented on #2751
:bulb: Someone please change the title of this issue; there is a typo:

[code]

[2022-07-17 01:16] sugatoray opened #2757 "bug: Fix dependency version"
### Describe the bug

The dependency `cattrs` has a version of `21.1.0`. But there is no such version (`21.1.0`) available on PyPI. Please update the version to the next existing version: `22.1.0`.

https://github.com/bentoml/BentoML/blob/64b296cdb8c327c3a53efa8ee95cf4b5e37502aa/setup.cfg#L41

source: https://pypi.org/project/cattrs/#history

![image](https://user-images.githubusercontent.com/1020

[2022-07-17 03:09] #2757 closed

[2022-07-18 04:14] aarnphm opened #2762 "bug: DefaultContainer shouldn't accept input type `str`"
### Describe the bug

If `batchable=True`, and input is type `str`, Payload will convert input into a list of input length `1`

### To reproduce

`train.py`:
[code]

`service.py`:
[code]

Run `bentoml serve --reload`.

Send
[code]

### Expected behavior

Should return two outputs.

Got one instead: `[{"label":"LABEL_0","score":0.503507673740387}]`

### Environment

`bentoml`: 1.0.0.post12+g7c5e531

[2022-07-18 15:33] aarnphm commented on #2246
Closing this for now. Make sure to try out our new BentoML 1.0 releases. If you run into this issue again feel free to reopen it.

[2022-07-18 15:34] #2591 closed

[2022-07-18 15:36] #2240 closed

[2022-07-18 18:09] ssheng commented on #2743
This is fixed in the head of main and will be included in the 1.0.1 release.

[2022-07-19 09:26] ssheng opened #2770 "feat: Runner to GPUs mapping"
### Feature request

The default scheduling strategy implementation schedules the same number of runner (`nvidia.com/gpu` supported) instances as the number of available GPUs. If multiple types of runners are present in the service, they will each be scheduled with the same number of instances as the available GPUs. Ideally, we should enable device isolation and allow users to configure GPU device

[2022-07-19 22:46] yubozhao commented on #2630
@jiewpeng Did this solution works out for you?
Sorry about not following up. We were busy with the 1.0 release.

[2022-07-19 23:08] jiewpeng commented on #2630
@yubozhao yes the solution worked, though I modified it slightly to fit what I needed.

[2022-07-20 00:21] aarnphm commented on #2630
BentoML HTTP server follows ASGI protocol, hence for most cases custom middleware should be supported.

These readiness endpoint should be stable that I don't see any huge breaking changes like this in the future.

Maybe we should have better tutorial on how to customize middleware.

[2022-07-20 03:17] ssheng commented on #2750
@dbuades we will implement model versioning similar to what @parano has suggested above. Do you think this will solve the problem you face?

[2022-07-20 23:11] #2750 closed

[2022-07-21 02:05] parano commented on #2719
From hani in the linked slack thread:

[2022-07-21 02:05] #2719 closed

[2022-07-21 03:43] dbuades commented on #2750
@ssheng Yes, that's perfect. Thank you very much! 🙂

[2022-07-21 11:17] l-con opened #2780 "bug: ONNX framework guide error in documentation"
### Describe the bug

I stumbled upon a small mistake in the BentoML ONNX framework guide documentation which caused an error to be displayed that didn't allow me to run a live service locally.

### To reproduce

 I saved my ONNX model with BentoML, created my `service.py` and `bentofile.yaml` files as suggested by the documentation.

However when I ran `bentoml serve service:svc --reload` to run

[2022-07-21 11:34] larme commented on #2780
@l-con thanks for reporting this bug! Seems that our documentation has several similar mistakes. I will update them all

[2022-07-21 19:29] #2780 closed

[2022-07-21 22:18] akuma12 opened #2784 "bug: Containerize fails when specifying cuda_version"
### Describe the bug

Using bentoml 1.0.0, when I try to specify `cuda_version` in my bentofile, I get the following output:

[code]

Here's my current bentofile.yaml:
[code]

If I remove `cuda_version` from the `docker` section, it containerizes fine (but obviously doesn't have GPU support). This occurs on my Mac as well as on an Ubuntu server. I searched the open and closed issues and couldn't f

[2022-07-21 23:03] aarnphm commented on #2784
Can you show us the dockerfile template you are currently using?

[2022-07-21 23:51] parano commented on #2784
@akuma12 in addition to the dockerfile template file, could you share the final generated Dockerfile?

You can find it via `cat $(bentoml get nsfw-classifier:rvh6tmajhos7sg4c -o path)/env/docker/Dockerfile`

[2022-07-22 04:30] ssheng opened #2785 "feat: Model pickling of external modules"
### Feature request

External modules are current not by default pickled with the model.

### Motivation

_No response_

### Other

_No response_

[2022-07-22 08:11] ssheng opened #2787 "chore: Set `OMP_NUM_THREADS` and related env vars prior to importing `numpy`"
`OMP_NUM_THREADS` must be set before numpy is imported for it to work, our current implementation doesn’t guarantee that.

[2022-07-22 08:20] ssheng opened #2788 "perf: Benchmark API server and runner performance"
Benchmark API server and runner performance against various model and input sizes.

[2022-07-22 14:53] akuma12 commented on #2784
For sure, thanks much. For full disclosure, I tried it without using a template and got the same result. I need git in order to install a Pip package that's only available on Github.

Here's the Dockerfile.template:
[code]

Here's the Dockerfile contents:
[code]

[2022-07-22 20:11] dbuades opened #2789 "bug: bentoml containerize should support multiple tags"
### Describe the bug

The method `buildx.build` support a list of tags [here](https://github.com/bentoml/BentoML/blob/6b80bb533887d219c5bc2d8c01ea1d8dfdb13dc7/bentoml/_internal/utils/buildx.py#L168) but `containerize` only send a single tag [here](https://github.com/bentoml/BentoML/blob/6b80bb533887d219c5bc2d8c01ea1d8dfdb13dc7/bentoml/bentos.py#L423).

This causes that when passing multiple `--doc

[2022-07-22 20:17] parano commented on #2789
thank you for reporting the issue @dbuades!

cc @aarnphm for `bentoml containerize`, the `-t` should support multi-options, see  https://click.palletsprojects.com/en/7.x/options/#multiple-options

[2022-07-22 20:25] ssheng commented on #1597
Discussed with the team, we will address this with an audio gallery project.

[2022-07-22 20:33] ssheng commented on #1835
BentoML has released official 1.0.0. Could you please give it a try? Let us know if this problem persists.

[2022-07-22 20:33] #1835 closed

[2022-07-22 20:34] ssheng commented on #1855
BentoML has released official 1.0.0 with [Hugging Face Transformers](https://docs.bentoml.org/en/latest/frameworks/transformers.html) support. Could you please give it a try? Let us know if this problem persists.

[2022-07-22 20:34] #1855 closed

[2022-07-22 20:40] ssheng commented on #2075
@andrewsi-z we have released a stable BentoML framework API in 1.0. You are welcome to contribute SnapML as one of the natively supported frameworks.

[2022-07-22 20:42] ssheng commented on #2111
BentoML has released official 1.0.0. Could you please give it a try? Let us know if this problem persists.

[2022-07-22 20:42] #2111 closed

[2022-07-22 21:02] parano commented on #2142
Confirmed that a nested Pydantic model doesn't work with BentoML 1.0 today, here's an example modified from the quickstart guide:

[code]

When starting up the server and visit swagger UI, it shows the following error:

<img width="932" alt="Screen Shot 2022-07-22 at 1 57 36 PM" src="https://user-images.githubusercontent.com/489344/180567511-19dc50c1-58fa-4803-a297-a1f92e788e69.png">

Below is the

[2022-07-22 21:07] ssheng commented on #2217
BentoML 1.0 introduced saving `custom_object`s alongside the models, see https://docs.bentoml.org/en/latest/concepts/model.html#save-a-trained-model.

[2022-07-22 21:07] #2217 closed

[2022-07-22 21:20] ssheng commented on #2154
XGBoost DMatrix runner data container is not going to be added in v1.0. Please comment and reopen if needed.

[2022-07-22 21:20] #2154 closed

[2022-07-22 21:21] ssheng commented on #2153
`tf.Tensor` runner data container has been added to TensorFlow v2 framework in v1.0 release.

[2022-07-22 21:21] #2153 closed

[2022-07-22 21:23] parano commented on #2570
Thanks for reporting the issue @swersig - our team is working on it and will be addressed in the next release.

see also: https://github.com/bentoml/BentoML/issues/2142

[2022-07-22 21:23] #2191 closed

[2022-07-22 21:24] #2471 closed

[2022-07-22 21:34] #2290 closed

[2022-07-22 21:36] ssheng commented on #2290
https://github.com/bentoml/BentoML/pull/2526 should have address this issue.

[2022-07-22 21:52] ssheng commented on #2312
An option is to add a `configuration` section in bentofile.yml.

[2022-07-22 21:59] ssheng commented on #2355
@andreea-anghel spawning multiple API server workers does not directly imply that the CPU utilization will multiply. Spawning multiple API server workers allow the service to utilize more system resources with inbound traffic.

[2022-07-22 21:59] #2355 closed

[2022-07-22 22:00] ssheng commented on #2366
Fixed in release 1.0.0.

[2022-07-22 22:00] #2366 closed

[2022-07-22 22:03] ssheng commented on #2368
BentoML supports use of custom models through [custom models](https://docs.bentoml.org/en/latest/frameworks/index.html#custom-models).

[2022-07-22 22:18] ssheng commented on #2630
@jiewpeng, yes. the intention here was for us to customize the health check behavior. Glad to see everything worked out. On our side, we should better document health check customization.

[2022-07-22 22:18] #2630 closed