[2019-04-03 00:19] parano opened #5 "Support saving to and load from s3 location"
e.g.
[code]
[code]

[2019-04-03 01:35] parano opened #6 "Add BentoML cli option to load and run a model archive in path"
* Implement CliHandler interface for all the built-in handler types

* Allow running bentoML model archive directly from CLI:
[code]

[2019-04-03 01:37] parano opened #7 "Add console_script entry to generated BentoML archive"
Users should have direct cli access to their model after `pip install /model_path`

[2019-04-03 02:00] parano opened #8 "Add input column validator to DataframeHandler"
Add decorator or option to DataframeHandler indicating expected list of column names, this should throw exception when the dataframe parameter is missing columns during runtime.

[2019-04-04 09:52] #5 closed

[2019-04-05 19:05] #6 closed

[2019-04-06 01:10] #8 closed

[2019-04-12 06:09] #7 closed

[2019-04-12 23:15] parano opened #49 "Use gunicorn by default in BentoArchive generated docker image"

[2019-04-12 23:15] parano opened #50 "Add deployment guide for AWS Lambda"

[2019-04-12 23:15] parano opened #51 "Add deployment guide for Kubernetes"

[2019-04-12 23:16] parano opened #52 "Add deployment guide for AWS Sagemaker"

[2019-04-12 23:17] parano opened #53 "Add proper logging utility(for warning/debugging) to the library"

[2019-04-12 23:19] parano opened #54 "Setup docs directory with readthedocs.org"

[2019-04-12 23:22] parano opened #55 "Multi-Model Support - Saving/loading Artifact only BentoArchive"

[2019-04-12 23:22] parano opened #56 "Multi-Model Support - Add documentation/example"

[2019-04-13 00:41] parano opened #58 "Add HTTP client request example for all handler types and existing examples"
including:
- CURL example
- Python Request example

[2019-04-13 00:47] parano opened #59 "Add BentoService debug/development mode and workflow examples"
Allow running a REST server or CLI command with
1) a python module with a custom BentoService definition
2) a directory containing saved artifacts required for the BentoService

This way users don't need to go through the `.pack` and `.save` every time when they change something in their API function or preprocessing code.

[2019-04-13 01:04] parano opened #61 "Add more info logs to BentoService#save"
- The find module call is slow and not printing anything is pretty bad UX
- It's better to print out what the library is doing under the hood for the user, e.g. what python source code files are being copied, what artifacts are being saved etc.

[2019-04-13 01:47] parano opened #62 "Add more testing for py_module_util"
- https://github.com/bentoml/BentoML/blob/master/bentoml/archive/py_module_utils.py
- It's super important and easy to break

[2019-04-14 01:37] parano opened #64 "Run flask proxy server with Tensorflow Serving for tf model"
- In generated Docker image, give user the option to user tensorflow serving as model runtime

[2019-04-14 01:39] parano opened #65 "GPU support"
* GPU docker image base for use in API server
* GPU support in CLI mode
* GPU support when used as python package

[2019-04-14 01:43] parano opened #66 "Add Tensorflow SavedModel Artifact"
Currently there is only artifact type for tf.keras model, this is for adding new artifact type to work with tensorflow SavedModel API.

[2019-04-14 16:29] parano opened #68 "Add API to save additional training context metadata and display in YataiService UI"
Add API to save extra metadata related to the model training context, and provide a few templates to show context data in BentoML model registry web UI

[code]

[2019-04-15 19:57] parano opened #70 "Add docs on local development setup to CONTRIBUTING.md"

[2019-04-15 23:01] parano opened #75 "Use semantic versioning for both BentoService and generated PyPI package"
Currently they are not consistent and completely separated concept, we should just make them the same thing.

[2019-04-15 23:42] yubozhao opened #76 "add curl examples to different notebooks"

[2019-04-16 19:08] #50 closed

[2019-04-16 23:24] parano opened #84 "Add deployment guide for Clipper.ai"

[2019-04-17 23:43] #75 closed

[2019-04-19 05:17] sayakpaul opened #92 "Add support for H2O.ai models"
The H2O.ai implementations of linear models, tree-based models and monotonically constrained models are really good. Moreover, H2O.ai supports AutoML as well.

Since BentoML has support for Scikit-Learn, Keras, TensorFlow and so son, I thought it might be a good idea to add H2O.ai models in this list.

Nevertheless, you guys are doing a pretty awesome job and I am preparing demo notebook to make m

[2019-04-19 08:20] parano commented on #92
Thanks @sayakpaul, it's a great idea to add H2O.ai model support, I'm adding it to our roadmap list. It seems straight forward to add a new artifact type from our side with h2o python module's save_model and load_model method.

Let us know how it goes with your demo notebook, would love to get your feedback.

[2019-04-19 08:24] parano opened #93 "Submit BentoML to conda-forge"
https://github.com/conda-forge/staged-recipes

[2019-04-19 08:56] sayakpaul commented on #92
Yes, sure. It took me 7 minutes (yes I measured the time) to wrap Scikit-Learn model into a REST API using BentoML and then test it in Postman. I have pushed my notebook [here](https://github.com/sayakpaul/BentoML-Explorations) (I will fix the references in some time). I am now working on wrapping a tf-keras model for a sentiment classification problem (dataset is scraped from Zomato :P). Will sha

[2019-04-19 09:03] sayakpaul opened #94 "TypeError: 'TfKerasModelArtifact' object is not iterable"
Hi there. Here's my packaging code:
[code]

And when I am building the archive using -
[code]

It gives me the following error (with trace):
[code]

Here is the code for model building, compilation and fitting:
[code]

Is there any `ArtiFact` I am missing here?

[2019-04-19 14:48] parano commented on #94
Thanks for reporting the issue, @sayakpaul, I ran your BentoService definition code with the model from our tf-keras example https://github.com/bentoml/BentoML/blob/master/examples/tf-keras-text-classification/tf-keras-text-classification.ipynb  but cannot reproduce this issue.

The only way I can reproduce the exact error, is by changing the `@artifacts([TfKerasModelArtifact('model')])` to `@arti

[2019-04-19 14:55] parano commented on #94
On a related note, you can also put vectorizer into the list of artifacts, that way you don't need to re-train in on every API call. For example:

[code]

[code]

[2019-04-19 18:39] sayakpaul commented on #94
Hi @parano it has worked now. Thank you very much especially for the second suggestion regarding adding the `vectorizer` as the `PickleArtifact`. I am able to make inference using the following way -
[code]
However, after I serve the model as a REST API using the `bentoml serve`, It starts to behave weirdly -
[code]

I have tried the suggestions as mentioned in [this](https://github.com/keras-team

[2019-04-19 20:40] yubozhao commented on #94
@sayakpaul hi, I will check out your notebook and see what I can find out. I will ping you once I have more info

[2019-04-19 21:00] sayakpaul commented on #94
Hey @yubozhao sure.  Thanks.

[2019-04-20 05:34] yubozhao commented on #51
https://github.com/bentoml/BentoML/pull/96

[2019-04-20 06:18] yubozhao commented on #94
Hi @sayakpaul, This is pretty interesting. I was able to reproduce this error only in REST api server.  I ran both `bentoml.load` method and cli predict command, both works as you expected.  I will research this problem a little bit more then I will get back to you on this.

[2019-04-20 06:42] yubozhao commented on #94
I think this is where the issue is

I will test couple thing during TfKeraHandler loading, if that works, it should solve this issue.

[2019-04-20 06:43] yubozhao commented on #94
Link of the issue comment: https://github.com/tensorflow/tensorflow/issues/14356#issuecomment-447588953

[2019-04-20 06:47] sayakpaul commented on #94
Yeah,  I studied bout it yesterday. I think you will have to include the global graph part in the section where BentoML loads the model.  Let me know about that. @yubozhao

[2019-04-20 06:56] yubozhao commented on #94
Yes. I think I am going to try to do that and see how it goes.  Will keep you updated.

Thank you for finding this issue for us in BentoML @sayakpaul

[2019-04-20 10:03] sayakpaul commented on #94
Always welcome @yubozhao. You guys are doing pretty wonderful job.  Serving machine learning models as API endpoints has never been this easier.

[2019-04-21 06:21] yubozhao commented on #94
@sayakpaul Hey, I create a quick solution that will solve this.

What I did is a create a TF model wrapper that will load and predict with the same session and graph.  I am not sure this is a good long term solution for this problem.  I think a good long term solution might be separate the handle request layer (flask/other front end) and inferencing server(tensorflow serving/etc).

I test the patc

[2019-04-21 06:36] sayakpaul opened #99 "Add deployment guide on Heroku"
Hi @parano, @yubozhao. I tried to set up a deployment pipeline of a simple API endpoint (created using `BentoML`) on **Heroku**. I am assuming that the **bento-archive** that gets generated by Bento is the main directory which would be required to in order to proceed with the deployment. Here's how that directory looks like -

![image](https://user-images.githubusercontent.com/22957388/56466272-25

[2019-04-21 06:49] yubozhao commented on #99
Hi @sayakpaul Thanks for the suggestion!

I think Heroku is on our roadmap for sure.  Have you have the chance to do a [docker image deployment with Heroku](https://devcenter.heroku.com/articles/container-registry-and-runtime)?  I think this might be the easiest way to do so with Heroku.  I am not very familiar with Heroku, so I might be incorrect.

Anyway, we will research on what's the best way

[2019-04-21 07:34] sayakpaul commented on #99
Sure @yubozhao. I shall do the **docker** variant and get back to you.

[2019-04-21 07:35] sayakpaul commented on #94
@yubozhao on it. Will update once done.

[2019-04-21 16:58] parano commented on #94
@sayakpaul yes and you can build BentoML locally by:

[code]

I will also add a local development document next week to make it easier for people who want to contribute to BentoML.

[2019-04-22 03:18] sayakpaul commented on #94
@yubozhao @parano it works as expected now. Here is the [repository](https://github.com/sayakpaul/BentoML-Explorations) all updated.

[2019-04-22 03:18] #94 closed

[2019-04-23 19:06] #76 closed

[2019-04-23 20:13] parano opened #108 "[Discussion] improve APIs for defining BentoService"

[2019-04-24 05:56] #108 closed

[2019-04-24 06:26] yubozhao opened #114 "Add Google cloud storage support"

[2019-04-24 06:27] yubozhao opened #115 "Use s3fs instead of Boto3 for saving/reading from s3 location"

[2019-04-24 22:32] parano opened #116 "Add AWS Lambda support in ImageHandler"

[2019-04-25 00:20] yubozhao commented on #49
https://github.com/bentoml/BentoML/pull/113

[2019-04-25 00:20] #49 closed

[2019-04-25 20:01] parano opened #123 "Add --with-conda option to CLI command serve and run"
Allow user to load and run a BentoArchive in its own conda environment.
We can use the BentoService name and version string to ensure unique conda env for every BentoArchive.

[2019-04-29 15:16] #62 closed

[2019-04-30 06:33] yubozhao commented on #116
https://github.com/bentoml/BentoML/pull/128

[2019-04-30 19:03] yubozhao opened #130 "OpenAPI support in BentoML REST API server"
Generate swagger api for the rest api server.

[2019-04-30 20:31] #116 closed

[2019-05-06 05:22] #92 closed

[2019-05-08 15:03] SuperCD opened #136 "Problem accessing gunicorn server from kubernets ingress"
**Describe the bug**
I created a deployment, service and ingress following the example in BentoML/examples/deploy-with-kubernetes/
(by the way the service-with-ingress.yaml contains an error. the service type is ClusterPort but should be ClusterIP)

The problem is that connections to the ingress are refused.

Even when tying to make requests directly to the pod on the 5000 port they get refused.

[2019-05-08 23:48] yubozhao commented on #136
@SuperCD Thanks for point it out!

We need to update the kubernetes example that works correctly with the Gunicorn deployment.  We will hopefully get that fixed very soon.

Is this issue something very urgent with you? If it is, we will try our best to get it done sooner.

Feel free to ping me on this or any other questions!

[2019-05-09 08:00] SuperCD commented on #136
thanks for the fast reply. I've tested it and in fact i was able to make it run if the binding is done on 0.0.0.0
I'm not even sure that changing the binding is the only way of solving this, but is the only one I've found...

[2019-05-09 18:43] yubozhao commented on #136
Thanks for investigating!

I think you found the issue. Which is right now, the docker container right now is only listening localhost.

We will address this issue and also improve the experience for deploying with Docker.  Those changes should solve the problem you are encountering now.

Just some idea in my head right now,  I am thinking about using Nginx/gunicorn setup inside the docker contain

[2019-05-09 22:45] yubozhao commented on #136
hi @SuperCD, I did a little bit more digging on this topic and We think your solution right now is the best one moving forward.

We did think about having an Nginx in the docker container as well. However, we realized that right now, most deployment solution probably already have an Nginx component that sits in front of the apps already (kubernetes' ingress controller for example).  The Nginx won'

[2019-05-13 23:07] yubozhao commented on #136
closing this issue now, since we merged in PR138.  Feel free to open again, if there is additional issue relate to this.

[2019-05-13 23:07] #136 closed

[2019-05-14 03:46] kivo360 commented on #56
Is this a thing? I'm very much interested in using BentoML to train for and predict for multiple related data sets at a time (same features, but different histories), yet I can't tell if this is here yet.

[2019-05-14 07:14] parano commented on #56
hey @kivo360, yes BentoML already supports packaging multiple models together in one bundle and serving multiple models in one REST server(even though we haven't added an example yet), but BentoML doesn't manage how you train multiple models. This issue meant to add support and examples to make the workflow of packaging multiple models easier with BentoML.

I think for your use case, you can defin

[2019-05-16 10:56] kivo360 commented on #56
I'm creating a trading bot. I'm only doing a partial_fit on PassiveAggressiveRegressor for 4-10 stochastically generated bars. The idea is that I need to account for training on non-stationary data in a backtest to see how my bot will operate in live. The plan is to train every time I make a decision. That's because the market changes whenever I actually place in an order. I need to ensure I accou

[2019-05-18 03:26] kivo360 commented on #56
I wrote requirements for an online learning addition. Imagine what kind of clients you could get from hedgefunds and banks by including online learning into your platform.

# Background Training and Saving

The objective of this document is to explain the requirements for a class that creates, trains and saves models quickly & dynamically. The end goal afterward is to be able to deploy the models

[2019-05-18 03:29] kivo360 commented on #56
I plan to create a separate project to do this for me. When done I'm down to share.

[2019-05-21 22:36] parano commented on #56
@kivo360 definitely would love to see the solution you are working on. It is indeed something we would like to integrate into BentoML, we discussed internally on supporting dynamic loading of updated artifacts for use cases like this. Do ping me if you are interested in contributing your work to BentoML!

[2019-05-24 23:40] yubozhao commented on #52
https://github.com/bentoml/BentoML/pull/139

[2019-05-24 23:40] #52 closed

[2019-05-26 13:57] kivo360 commented on #56
I just created something. It's in the repo `funguauniverse`. The link is [here](https://github.com/kivo360/funguauniverse). Look at the examples folder inside of the repo. It's a server version of a PassiveAggressiveRegressor. It runs using the `SimpleHTTPServer` and `ThreadMix.` This makes the service a multi-threaded socket server. It does the exact functionality I just mentioned.

I used some e

[2019-05-26 13:58] kivo360 commented on #56
You'll need to change the storage model to something that works within your systems.

[2019-05-26 18:31] yubozhao commented on #56
oh nice!. I will check this repo out.

[2019-06-04 17:20] sayakpaul opened #152 "Changing the name of the API handler"
Hi @parano and @yubozhao. I hope you are doing well.

I was wondering if you have planned of enabling the users to customize the name of API handlers. As far as I know, the current version allows for `/predict` only. Is there a way I can change this? And the allowed HTTP method as well?

[2019-06-04 17:29] sayakpaul opened #153 "Handling image requests"
I am referring to [this tutorial](https://github.com/bentoml/BentoML/blob/master/examples/tf-keras-fashion-mnist/tf-keras-fashion-mnist-classification.ipynb) on FashionMNIST classification with tf-keras.

I think the prediction API can only handle raw image arrays currently in the way it is coded. I was trying to serve it as REST API endpoint and running with `bentoml serve`. However, I wrote the

[2019-06-04 17:57] parano commented on #152
hi @sayakpaul, in fact, the function name will become the API handler name, not just 'predict'. for example, if you have:
[code]
the API endpoint will be `classify`, you can also pass in 'name' parameter to give it an API name different than the python function name, e.g.:
[code]

we haven't had a chance to finish BentoML's documentation site, but will definitely include these in it soon!

[2019-06-04 17:57] parano commented on #153
cc @yubozhao

[2019-06-04 18:04] sayakpaul commented on #152
Thanks for letting me know. And what about specifying the allowed HTTP method?

[2019-06-04 18:31] parano commented on #152
@sayakpaul BentoML API server currently doesn't support HTTP method other than POST/GET - do you have a use case where you want to customize it? would love to hear about it

[2019-06-04 18:34] yubozhao commented on #153
@sayakpaul That's great you are running the examples.

I think the example you are running is broken and outdated it. We probably should get on that next.  Instead of using TensorflowTensorHandler, you can try use `ImageHandler`.

`ImageHandler` will take in request, and parse files with formats of `'.jpg', '.jpeg', '.png'` and turn that image into a np array.  That np array will pass down to your

[2019-06-04 18:52] sayakpaul commented on #153
Sure. Will try and update you.

[2019-06-05 04:18] sayakpaul commented on #152
@pa

[2019-06-05 04:29] sayakpaul commented on #153
@yubozhao also, when you say:

Do you mean files parsed from the API payload? How should the payload be defined at the client side in that case? Here's my Postman configuration for you to know how I specifying it:

![image](https://user-images.githubusercontent.com/22957388/58930370-a674ab80-8778-11e9-81b6-2937c53b4024.png)

[2019-06-05 05:53] yubozhao commented on #153
@sayakpaul It's my bad I wasn't clear on this handler description.  I will take a look at the notebook and then create an example for this handler. I will probably get to this sometime this week and ping you on this.

Also, here is a quick answer for ImageHandler, in case you want to try again while I am working on the example.

Right now, ImageHandler only handle single image. Using default param

[2019-06-05 07:30] sayakpaul commented on #153
Yes, I can definitely try this out. But I would need a guide to define the API request.

[2019-06-05 17:07] yubozhao commented on #152
@sayakpaul The API server handle both get and post requests without any specification.  Did you encounter a scenario that you need to specify?

[2019-06-05 18:21] sayakpaul commented on #152
So far not.

[2019-06-05 18:21] #152 closed

[2019-06-07 16:40] sayakpaul commented on #153
@yubozhao did you by chance have the time to look at this? I understand you must be busy.

[2019-06-07 16:42] yubozhao commented on #153
@sayakpaul Yes, I started last night, planning on spend a lot of time on it today, to make sure both fashion mnist examples provide a smooth e2e experience.

[2019-06-07 16:45] sayakpaul commented on #153
Thanks @yubozhao. Let me know if I can help :)

[2019-06-07 16:51] yubozhao commented on #153
Sure thing! I will definitely ping you when I run into something.

[2019-06-11 18:23] yubozhao commented on #153
@sayakpaul Just want you know I am working on this right now.  I am encountering issue with TF kera's threading issue, https://github.com/keras-team/keras/issues/5640, and want to figure out a good design for this.  So, this fix might be taking longer than expected

[2019-06-12 01:02] sayakpaul commented on #153
Are you on TF 2.0?

[2019-06-18 18:12] parano commented on #70
done- https://github.com/bentoml/BentoML/blob/master/DEVELOPMENT.md

[2019-06-18 18:12] #70 closed

[2019-06-18 18:12] parano commented on #58
done in most current examples

[2019-06-18 18:12] #58 closed

[2019-06-18 18:13] #51 closed

[2019-06-20 08:44] sayakpaul commented on #99
Cc: @yubozhao

[2019-06-20 18:05] yubozhao commented on #99
@sayakpaul I am writing documentation site atm.  Will have more time after that to figure out issues to work on.  This is definitely on our list of things.

[2019-06-20 21:36] parano commented on #53
https://github.com/bentoml/BentoML/pull/173

[2019-06-20 21:36] #53 closed

[2019-06-20 21:36] parano commented on #54
https://github.com/bentoml/BentoML/pull/168

[2019-06-20 21:36] #54 closed

[2019-06-20 21:49] parano opened #175 "BentoService#save should copy local python modules"
**Describe the bug**
this was a regression introduced when we refactor the archive module, will take a look and add tests

[2019-06-21 01:54] sayakpaul commented on #99
Sure thing. I am going to close the issue then.

[2019-06-21 01:54] #99 closed

[2019-06-21 01:54] sayakpaul commented on #153
@yubozhao a gentle reminder at this.

[2019-06-21 04:50] parano opened #178 "BentoML roadmap overview"
This is living thread giving an overview of planned BentoML features on our roadmap - would love to hear your feedback. Join more discussion in our slack channel here: http://bit.ly/2N5IpbB

[2019-06-21 22:51] parano commented on #175
https://github.com/bentoml/BentoML/pull/180

[2019-06-21 22:51] #175 closed

[2019-06-21 22:52] parano commented on #61
https://github.com/bentoml/BentoML/pull/180

[2019-06-21 22:52] #61 closed

[2019-07-10 23:07] #130 closed

[2019-07-17 00:52] parano commented on #153
hey @sayakpaul , just want to let you know, the issue with keras model serving has been resolved in a recent PR https://github.com/bentoml/BentoML/pull/207

Also you can now use the index page UI to test the API endpoints and post data to it, similar to what you do with postman:
![image](https://user-images.githubusercontent.com/489344/61339302-13f10e80-a7f2-11e9-96e9-b9d793f8d71a.png)

I tried th

[2019-07-17 00:52] #153 closed

[2019-07-18 18:43] #66 closed

[2019-07-18 18:43] #59 closed

[2019-07-18 18:43] #55 closed

[2019-07-18 18:43] #56 closed

[2019-07-18 18:43] #84 closed

[2019-07-18 18:44] parano commented on #84
done: https://github.com/bentoml/BentoML/tree/master/examples/deploy-with-clipper

[2019-07-18 18:44] #114 closed

[2019-07-18 18:45] #115 closed

[2019-07-22 23:28] lililigithub opened #221 "error in iris classifier example"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. start jupyter notebook locally on Mac
2. follow example here and it will fail, as shown in the screenshot

**Expected behavior**
it shouldn't error out

**Screenshots/Logs**
If applicable, add screenshots, logs or error outputs to help explain your problem.
<img width="820

[2019-07-22 23:36] parano commented on #221
Thanks for reporting this @lililigithub, this was a regression in BentoML 0.2.0 with python 2. It was due to the naming of the `utils/logging.py` module, which we renamed in 0.3.0: https://github.com/bentoml/BentoML/commit/2b65b0f64633b20fb932c0656fecbfdd41f32542#diff-487f064cd0b1801de81de636a925a0fb

Upgrading to 0.3.0 or using 0.2.0 with python3 should work:
[code]

[2019-07-23 20:25] parano commented on #178
## Heroku deployment

Similar to the SageMaker and Serverless deployment BentoML currently provide, add support for Heroku platform

[2019-07-23 20:26] parano commented on #178
## Multi-model deployment workflow

Add support for easily creating and configuring ML services with multiple machine learning models

[2019-07-23 20:28] parano commented on #178
## Kukbeflow integration

Add support for deploying from Kubeflow project's training workflow

[2019-07-23 20:29] parano commented on #178
## Deployment Manager

A stateful server that tracks all your desired deployment state, deployment history and event logs. Allow users to interact via CLI, API and web UI, and talks to cloud platforms or kubernetes cluster for scheduling deployments.

** Metaflow style decorator for specifying k8s/cloud resources
** corresponding Kubernetes CRD/controller and cloud resource manager implementation

[2019-07-23 20:31] parano commented on #178
## GPU support

Currently the BentoML generated docker images are not compatible with GPU environment and we are adding support for generating images that can utilize GPUs when serving a model

[2019-07-23 20:31] parano commented on #178
## TF-serving integration

Use tf-serving as tensorflow model backend, BentoML API server will handle REST API, request parsing, preprocessing and send GRPC to tf-serving for inferencing with/without GPU

[2019-07-23 23:08] lililigithub commented on #221
Thanks @parano !

I'm closing this issue.

[2019-07-23 23:08] #221 closed

[2019-07-30 04:33] Mu7ammad opened #235 "AWS Lambda Deployment: Internal Server Error: No module named BentoML"
**Describe the bug**
Running through the Scikit-learn demo "IrisClassifier" and deploying to AWS Lambda. The deployment is a success and it shows in the Functions dashboard in AWS. But using Postman to test it returns an internal server error, and using the online test evens in AWS Lambda I can see the error message: "Unable to import module 'handler': No module named 'bentoml'",

**To Reproduce**

[2019-07-30 04:51] yubozhao commented on #235
Hi thank you for reporting this.

I will look into it tmw and get you an update about it soon

[2019-07-30 23:35] yubozhao commented on #235
hi @Mu7ammad
Thank you for reporting.

I looked into this issue.  It is an issue with the way we set our env parameters.
The way to use it is as of now is located at this example notebook [Deploy with Serverless](https://github.com/bentoml/BentoML/blob/master/examples/deploy-with-serverless/deploy-with-serverless.ipynb)

Since you brought up this to our attention, we have improved this and made it

[2019-07-30 23:37] #235 closed

[2019-08-14 12:00] lambdaofgod opened #263 "Cannot use list in ImageHandler's input_name"
**Describe the bug**
I need to create a model that compares two images - in ImageHandler documentation there is mention of input_name parameter which is supposedly string[] type, but when list argument is passed, it fails.

**To Reproduce**

[code]

BTW I also tried passing `input_name` as @api's keyword argument. Also it fails when I use tuple instead of list.

**Screenshots/Logs**
When running `

[2019-08-14 14:31] lambdaofgod opened #264 "Multiple images in ImageHandler"
**Is your feature request related to a problem? Please describe.**
ImageHandler doesn't support handling multiple images:

`return Response(response="Only support single file input", status=400)`

[2019-08-14 22:24] #123 closed

[2019-08-19 19:28] #264 closed

[2019-08-26 12:43] #263 closed

[2019-08-27 22:16] Mu7ammad commented on #235
Follow up: So I tried version 0.3.4 with same example and environment, and it indeed seems to package the dependencies this time, but then when I run the lambda function I get internal server error, and from the logs it says:

"Error creating bentoml home dir '/home/sbx_user1051/bentoml': No such file or directory"

It's thrown from executing: bentoml/config/__init__.py , line 61 with exception: "

[2019-08-27 22:38] parano commented on #235
@Mu7ammad  thanks for reporting this, looks like it's an issue related to our new config implementation and limited disk access in AWS lambda environment https://docs.aws.amazon.com/lambda/latest/dg/limits.html  - I will work on a fix

[2019-08-27 22:42] parano opened #271 "AWS Lambda Deployment: error creating bentoml home dir and config file"
Thanks @Mu7ammad for reporting this bug here: https://github.com/bentoml/BentoML/issues/235, creating a new issue for tracking:

![image](https://user-images.githubusercontent.com/489344/63813036-43ee0e80-c967-11e9-9952-ad2b559dc426.png)

This is due to AWS Lambda has limited disk access to '/tmp' directory: https://docs.aws.amazon.com/lambda/latest/dg/limits.html

Proposed solution: set bentoml h

[2019-08-28 17:08] ji-clara opened #273 "Error in Serverless deployment with AWS Lambda"
**Describe the bug**
While running:
!bentoml deploy ./model --platform aws-lambda --region us-west-2

this error appears:
[2019-08-27 17:25:40,854] INFO - Using user AWS region: us-west-2
[2019-08-27 17:25:40,855] INFO - Using AWS stage: dev
Encounter error when deploying to aws-lambda
Error: 'Service Information' is not in list

**To Reproduce**
sudo npm install serverless@1.49.0 --global (tried

[2019-08-28 21:54] yubozhao commented on #273
Hi @ji-clara

Thank you for reporting the issue and include a detailed steps for reproduction!

From looking at the issue, I am fairly certain that I am over processing the serverless information that caused this.  However I am unable to reproduce it from your steps.

The error displayed to you happens when after we made the deployment request to Lambda and parse the return response.  If we parse

[2019-08-28 22:45] ji-clara commented on #273
Hi @yubozhao,

Thanks for your help! It was not successfully deployed. The function was not shown in the AWS Lambda page.

Thanks,
Ji

[2019-08-29 00:00] Mu7ammad commented on #271
I'm basically trying to run the "getting started" example using scikit-learn with tiny model, and I want it to deploy to AWS-Lambda in any verified way. Even when I use BentoML version 0.3.0 I get either of two errors: if I didn't include BentoML in the requirements.txt it doesn't find module BentoML in runtime and throws no such module error, and if I did include it the package size reaches about

[2019-08-29 02:15] yubozhao commented on #273
@ji-clara

I am sorry the deployment wasn't successful.  Since you attempted deploy it, BentoML keep an record of it and snapshot it in your local file directory.  You can find it at `~/bentoml/deployment-snapshots/aws-lambda/{Service name}/{Service version}/{Date-time}`

Once you navigate to there, you should see generated files for AWS lambda and a directory with the name of your service.  Insid

[2019-08-29 17:11] ji-clara commented on #273
@yubozhao

I ran as you said above. Please see the error message below and let me know if you need anything else. Thanks.

  Error --------------------------------------------------

  STDOUT:

STDERR: ERROR: Double requirement given: bentoml==v0.3.4 (from -r /var/task/requirements.txt (line 2)) (already in bentoml (from -r /var/task/requirements.txt (line 1)), name='bentoml')

[2019-08-29 17:39] yubozhao commented on #273
@ji-clara I see where the problem is.  Our example notebook is not updated as we improve this project.

In the example notebook directory, if you remove the bentoml from requirements.txt.  Everything should works.  If you can ran that again, and see what you end up with.  That would be great.

I will update the example notebook to make sure this doesn't happen anymore

[2019-08-30 19:17] ji-clara commented on #273
@yubozhao

The same error occurred after I removing the bentoml from requirements.txt in the notebook directory. But after I removed the bentoml from requirements.txt in `~/bentoml/deployment-snapshots/aws-lambda/{Service name}/{Service version}/{Date-time}`, I was able to use `serverless deploy` and successfully deployed the model.

So updating the example notebook may not be sufficient.

Look fo

[2019-08-30 19:38] yubozhao commented on #273
Good job @ji-clara ! Glad you figure out solution

This issue is caused by we didn’t update our example notebooks to keep up with the project improvement.   We are going to be more vigilance about this and will go through examples to bring them up to date

I am going to close this issue for now. Feel free to reopen it.

[2019-09-03 19:15] ji-clara commented on #273
@yubozhao Although I deployed the model using `serverless deploy`, but couldn't get all the way through the end.  Continue running `deploy-with-serverless.ipynb`, I got API Gateway error. So I would prefer to reopen this ticket until you fix the script `deploy-with-serverless.ipynb` so it can run from end to end. Thanks!

[2019-09-03 19:37] yubozhao commented on #273
@ji-clara sounds good, lets reopen it and continue the discussion here.

Could you provide me logs of the api gateway error? I am struggling to reproduce the issue from your suggested method.  I will work with your logs for now, while trying to reproduce it on my system

Thank you for the following up!

[2019-09-04 00:20] ji-clara commented on #273
@yubozhao  I'll reproduce it later.

I think there might be a simple way to resolve this. The call:
`!bentoml deploy ./model --platform aws-lambda --region us-west-2`, will generate `requirements.txt` file, which will contains `bentoml`. I guess if you don't generate `bentoml` in `requirements.txt`, it might resolve the issue.

Please note, even if `bentoml` is removed from `requirements.txt` in t

[2019-09-04 00:38] yubozhao commented on #273
Add bentoml into the `requirements.txt` is an expected behavior.  We will need BentoML to load the service and its artifacts.

I am very curious of the API gateway error you mentioned.  Previously We would need include additional serverless plugin for allow image comes throu in base64 format for AWS lambda, since the serverless support wasn't there.  That might be one possibility of causing API ga

[2019-09-04 01:02] parano commented on #271
@Mu7ammad The last time I tested serverless deployment was BentoML-0.2.0 Beta which should work, you may verify on that branch.  I'd recommend waiting a little bit for next release - We are currently working on a completely revamped deployment implementation coming in our next release, which brought lots of improvements to serverless deployment workflow as well. Would be ideal for you to try out t

[2019-09-06 07:46] #64 closed

[2019-09-09 20:44] parano opened #283 "Preserve request image files in logs directory"
**Is your feature request related to a problem? Please describe.**
Currently, we don't preserve request image files, https://github.com/bentoml/BentoML/blob/master/bentoml/server/bento_api_server.py#L63

**Describe the solution you'd like**
Generate a UUID to every image received by api server, log UUID to prediction logs and save image file to logs/images directory and named by the generated UUID

[2019-09-10 00:24] parano commented on #271
@Mu7ammad  this issue has been fixed in #284, the serverless deployment should work end-to-end in next release

[2019-09-10 00:24] #271 closed

[2019-09-12 12:26] lambdaofgod opened #286 "Composing handlers"
I'd like to handle multiple content types at once.
For example while uploading image I'd like to also be able to provide some metadata, for example in JSON format.

For now this is impossible as handlers use custom logic inside and it's impossible to combine them.

**Alternatives**
Subclassing specific handlers every time there is need for specific behavior. This is pretty cumbersome and bug-prone

[2019-09-13 19:27] ji-clara commented on #273
@yubozhao
Sorry for the delay. I couldn't successfully `serverless deploy` anymore. So couldn't reproduce the error before. The new error log is below. Hope we are not in a loop. Just curious. Are you able to successfully run the example `deploy-with-serverless`? Thanks.

[code]

[2019-09-23 20:46] #65 closed

[2019-09-24 22:32] ji-clara commented on #273
Hi @yubozhao,

Thanks for your recent updates.

I ended up running
`!bentoml deployment create sentiment-serverless --bento {bento_tag} --platform aws-lambda --region us-west-2` with the following error message.
After I changed to `apply`, received another error message on the bottom.

Do you have any idea how to proceed?

Thanks!

1. `!bentoml deployment create sentiment-serverless --bento {bento

[2019-09-24 23:20] yubozhao commented on #273
@ji-clara Thank you for keep working with me on this!

Let's clean up your current Yatai server(BentoML deployment server) first.
These few commands are very useful to me, when I am debugging and building services/

`bentoml deployment delete DEPLOYMENT_NAME --force` it will remove the deployment record regardless any errors from cloud provider.  With this command, you can continue to create the d

[2019-09-25 00:17] ji-clara commented on #273
@yubozhao  Sure.

After running `!bentoml deployment delete sentiment-serverless --force`, got
`Error: no such option: --force`.
Note: pulled the latest repo.

[2019-09-25 01:02] yubozhao commented on #273
Oh man my bad. Totally forgot the PR haven’t merge yet.

If you only have one deployment record, you can go into `~/bentoml` and delete `storage.db`.  It acts similarly as `delete —force`

[2019-09-25 18:54] ji-clara commented on #273
@yubozhao

Everything works now finally. It may help others if the instructions you gave to me are added to the repo. Feel free to close this. Thank you for helping all the way through!

[2019-09-25 18:54] #273 closed

[2019-09-25 19:16] yubozhao commented on #273
@ji-clara Awesome! I am glad it worked for you.

Yes, you are right that we need to document all of the instructions.  That's a top priority for us, after the current release of the deployment server

[2019-09-30 09:00] lambdaofgod opened #316 "Assigning to BentoService field"
**Is your feature request related to a problem? Please describe.**
I need to create a service that is able to handle new objects/fields added during it's lifetime. One of my methods gets called with data that is then supposed to be added to make querying it possible.

**Describe alternatives you've considered**
I tried assigning to field in method that does the setup. This doesn't work, after that

[2019-09-30 21:52] parano commented on #316
hi @lambdaofgod, do you mind sharing some of your source code, especially your BentoService class code?

Also, are you serving the model via a REST API? did you run it via docker or the serve_gunicorn command? In that case, it may load in multiple instances of your BentoService class, so the second predictions request does not get the field you assigned because the prediction request may get sent

[2019-09-30 21:55] parano commented on #283
done in #288

[2019-09-30 21:55] #283 closed

[2019-09-30 21:56] parano commented on #178
Closing in favor of the roadmap section in the upcoming BentoML guides

[2019-09-30 21:56] #178 closed

[2019-09-30 21:59] parano opened #319 "Tensorflow SavedModel artifact support"
As recently requested by BentoML users, adding support for non-Keras Tensorflow model

[2019-10-01 14:08] lambdaofgod commented on #316
That's right, I'm getting this while using REST API.
Is there a way to limit number of workers?
What are other alternatives?

[2019-10-01 23:56] parano commented on #316
@lambdaofgod  yes, if you are using the `bentoml serve-gunicorn` cli command, you can use the `-w` parameter to specify number of workers. And if you are using docker, you can configure it via environment variable: `docker run -e "BENTOML__APISERVER__DEFAULT_GUNICORN_WORKERS_COUNT=1" MY_API_SERVER_IMAGE`

[2019-10-02 00:02] parano commented on #316
I think other alternatives you could consider are using something like Redis or Plasma(in apache arrow project) to share data between multiple nodes. One thing we considered on our roadmap is using Plasma to allow sharing data between user API callbacks across multiple threads or nodes efficiently, which might help with your use case.

Let me know if you'd be open to sharing more details about you

[2019-10-11 11:14] chetanzope opened #333 "Failing to create and API on Windows"
**Describe the bug**
Failing to create an api on windows ,
`bentoml serve {saved_path}`

**To Reproduce**
Steps to reproduce the behavior:
1.  Failing with an error of the  fnctl  was not found
2. fixed it by using this and creating a fcntl.py
[code]
3. Then the  import pwd started failing , for which I dont have any work around till now .

**Environment:**
 - OS: [windows 10 ]
 - Python/BentoML V

[2019-10-11 23:16] HenryDashwood opened #335 "TypeError: __init__() got an unexpected keyword argument 'case_sensitive'"
I don't suppose you've come across the this error which crops up when running the following cells. I've been trying to adapt the Fastai Pets classification notebook to a regression problem where the model outputs a Fastai ImagePoints object.
![Screenshot 2019-10-12 at 00 00 23](https://user-images.githubusercontent.com/17177967/66689943-2d84e380-ec85-11e9-8086-85529186f246.png)

[2019-10-11 23:36] parano commented on #335
hi @HenryDashwood, it looks like an issue with BentoML and the [click](https://click.palletsprojects.com/en/7.x/) package. BentoML currently does not specify a version requirement for click and I think you might have an older version installed. Could you try `pip install -U click` and try again?

If you still see the error, would be great if you could share your python version, BentoML version, an

[2019-10-12 00:36] parano commented on #333
Thanks for reporting this issue @chetanzope ! We are working on a fix now, it was because we imported gunicorn which was only supposed to be used when running API server in linux/docker environment.

Will update with PR soon, and it should go into next release, expecting early next week.

[2019-10-12 00:39] HenryDashwood commented on #335
Nice. That did indeed work. Thanks for such a swift reply!

[2019-10-12 01:15] ghunkins opened #336 "KerasModelArtifact#pack expects type: keras.engine.training.Model"
**Describe the bug**
`KerasModelArtifact` fails on `Service.pack` due to `isinstance` check on the passed model. Root cause seems to be conflicting definitions between `keras.engine.training.Model` and `tensorflow.python.keras.engine.training.Model`.

Expected behavior is the allowance of both `Keras` trained and `tf.keras` trained models. Additionally, `import keras` may fail for those only worki

[2019-10-12 19:07] parano commented on #333
The fix has been merged, will update here again when the next release is out. Feel free to check out the master branch if you'd like to try out the fix. @chetanzope

[2019-10-12 19:09] parano commented on #335
Great to know! Thanks again for reporting the issue @HenryDashwood, I will follow up with a PR that enforces a minimum click version check.

[2019-10-12 19:09] #93 closed

[2019-10-13 16:15] ijbo commented on #333
Appreciate !!!!

[2019-10-14 16:25] Mahathi-Bhagavatula opened #338 "Failed to create deployment deployment-name. INTERNAL: Docker is required for this deployment. Please visit www.docker.come for instructions"
Hi,
I am getting this error when I am trying to deploy my code into aws-lambda. Can I know the reason for this error please.

[2019-10-14 16:40] Mahathi-Bhagavatula commented on #338
after saving the service to a path and could successfully do pip install path. But when I give the same version and name to deployment, it is throwing the error.

[2019-10-14 17:47] parano commented on #338
hi @Mahathi-Bhagavatula, you are seeing this error because the AWS Lambda deployment feature requires you to have Docker installed on your machine, we use docker to pre-download all the pip dependencies in a Linux environment and bundle them for use in AWS Lambda environment.

If you are doing this for local development, the easiest way is to install the Docker Desktop app from here: https://www.d

[2019-10-14 18:18] #335 closed

[2019-10-14 18:31] Mahathi-Bhagavatula commented on #338
Hi Parano. Thanks for the reply.
I have installed docker. Then I got this issue. Can I know how to solve this.
Failed to create deployment. INTERNAL: None

[2019-10-14 19:04] parano commented on #338
Hey @Mahathi-Bhagavatula, I will need more information to help you debug this issue, could you try the following and share with us the logs?

```bentoml --verbose deployments delete {YOUR_DEPLOYMENT_NAME} --force```

and run ```bentoml --verbose deployments create ....``` again?

[2019-10-14 19:19] Mahathi-Bhagavatula commented on #338
Here is my error message

[2019-10-15 00:47:05,409] DEBUG - Using BentoML with local Yatai server
WARNING: No swap limit support
[2019-10-15 00:47:05,656] DEBUG - Created temporary directory: /tmp/bentoml-temp-9bzum78o
Failed to create deployment lyrics-write1. INTERNAL: None

[2019-10-14 20:52] parano commented on #338
@Mahathi-Bhagavatula  could you share more of your environment information?  Python version, BentoML version, NodeJS version, and Operating System?

[2019-10-14 23:26] parano commented on #336
Thanks for the detailed notes @ghunkins, just created a PR addressing this issue, feel free to check it out here: https://github.com/bentoml/BentoML/pull/341

[2019-10-15 00:44] parano commented on #338
@Mahathi-Bhagavatula  feel free to ping me on Slack channel if you need more help on this, it may also be a bug we recently fixed, you can try upgrade BentoML to latest version with `pip install -U bentoml`

[2019-10-15 02:48] #336 closed

[2019-10-15 02:50] parano commented on #333
@ijbo @chetanzope the fix is now in release 0.4.4, feel free to upgrade BentoML with `pip install -U bentoml`!

[2019-10-15 02:50] #333 closed

[2019-10-17 01:22] parano commented on #338
@Mahathi-Bhagavatula we just made a new release 0.4.5 fixing a few issues with serverless deployment and it should resolve the issue you were seeing. You can upgrade BentoML and try it again: ```pip install -U bentoml```

[2019-10-17 07:02] parano commented on #338
Closing the issue now, @Mahathi-Bhagavatula feel free to reopen if you see this error again after upgrade BentoML.

[2019-10-17 07:02] #338 closed

[2019-10-19 17:43] HenryDashwood opened #354 "FileNotFoundError: [Errno 2] No such file or directory: '/Users/HenryDashwood/bentoml/node_modules/.bin/serverless': '/Users/HenryDashwood/bentoml/node_modules/.bin/serverless'"
When I run ```!bentoml --verbose deployment create facial-features-detector --bento {bento_tag} --platform aws-lambda --region us-east-1``` in [this notebook](https://github.com/HenryDashwood/facial-features-detector/blob/master/code/pytorch.ipynb) I get the following error:
[code]
I have node installed but is there another step, possibly involving npm, that I should be performing?

[2019-10-20 21:00] yubozhao commented on #354
hi @HenryDashwood, Thanks for reporting it.

I looked into your notebook that you linked. It looks fine.  I suspect there might be problem during install `serverless` framework that we aren't properly raising exception with.

There are few things that you can help me with to better understanding this and solve this issue.
   * Could you provide your node version and npm version for me?  You can us

[2019-10-21 20:08] HenryDashwood commented on #354
I'm on Node version 10.16.3 and NPM version 6.9.0. Mysteriously, there is no node_modules inside the bentoml directory.

[2019-10-21 20:41] yubozhao commented on #354
@HenryDashwood Thanks for the info.  I think we need to surface the error, instead of silently fails it.  I will work on to improve that part.

In the mean time, if you want to continue the deployment to AWS lambda, you could manually install `serverless`.  You can navigate to your bentoml directory, `/Users/HenryDashwood/bentoml` and run command `npm install serverless@1.53.0`.  After the install

[2019-10-21 23:13] HenryDashwood commented on #354
This helped. I had to also run ```npm init``` to advance. Thank you for your advice once again!

[2019-10-22 23:23] yubozhao commented on #354
Thanks for the update @HenryDashwood, glad it helped you.

It is interesting that you run `npm init` to advance.  I tested it in a new docker container and run `npm install serverless@1.53.0` without `npm init` is fine, and download the package correctly.

If you did run into error or issues with `npm install` without `npm init`.  Could you reproduce it and copy the errors or info for me?  I would

[2019-10-23 18:00] sgaseretto opened #358 "AttributeError: module 'fastai' has no attribute 'basic_train'"
When running ````!bentoml serve {saved_path}``` in the fastai example on google colab ([here](https://colab.research.google.com/github/bentoml/gallery/blob/master/fast-ai/salary-range-prediction/fast-ai-salary-range-prediction.ipynb)) I'm getting the following error:
[code]
Any idea of how to solve this?

[2019-10-23 20:24] parano commented on #358
@sgaseretto thanks for reporting this issue, this is a regression introduced in the latest version of BentoML, will follow up with a fix soon

[2019-10-23 21:21] parano commented on #358
The fix has been merged to master, feel free to install from master and try it out: `pip install git+https://github.com/bentoml/BentoML.git`, will update here again when it's released to PyPI.

Thanks again @sgaseretto for reporting this!

[2019-10-24 12:33] sgaseretto commented on #358
Great @parano, also thanks for the very quick response!

[2019-10-24 22:16] parano commented on #358
@sgaseretto np! the fix is now in the latest release, just tested again on Google Colab and all the fastai notebooks work now! If you have already installed BentoML, you can upgrade with `pip install -U bentoml`

[2019-10-24 22:16] #358 closed

[2019-10-25 12:04] impulsecorp opened #360 "Google Cloud Run"
Do you plan to support deployment to Google Cloud Run (https://cloud.google.com/run/) like you do with AWS Lambda and Google Cloud Functions?

[2019-10-25 15:16] parano commented on #360
hi @impulsecorp, we do have plans to support Google Cloud Run, it is the next deploy platform we are adding, following by Azure ML and Heroku. Before we add the support, one workaround is to use BentoML for building your model server docker image and then manually deploy the container to google cloud run.

Just curious what's the main reason you'd like to deploy to Google Cloud Run?

[2019-10-25 15:25] impulsecorp commented on #360
Right now I am hosting some low usage Python ML algorithms on Algorithmia.com. It could get expensive if my usage increases, so at some point I might switch it to AWS or Google. I currently use an AWS Linux server as my primary server and don't use Docker or virtual environment. Over the years that has become a problem because older programs on my server stop working, like for example I upgrade to

[2019-10-25 16:00] #360 closed

[2019-10-25 17:28] parano commented on #360
Thanks for sharing @impulsecorp, that's very helpful. Have you tried deploying to AWS Lambda with BentoML yet? Would love to hear your thoughts and feedbacks on  it, especially in comparsion to your existing workflow with Algorithmia

[2019-10-25 17:32] impulsecorp commented on #360
No, I haven't tried it yet.

[2019-10-26 16:03] HenryDashwood commented on #354
Yeah, I mean those steps just don't seem to work. To create the node_modules directory and avoid the error above I need to
[code]

[2019-10-26 17:36] yubozhao commented on #354
Got it. Thanks for taking the extra time to help me out on this issue.

I will do more testing on this and I will include the `npm init` as part of the operation.

Also just FYI, once you have Serverless module, you shouldn’t encounter this issue again. If you do, feel free to ping me whenever.

I will keep this issue open until I add in the `npm init` step

Thanks for reporting!

[2019-10-27 15:26] HenryDashwood commented on #354
No worries. Thanks for your help! I'm afraid I may need to ask you to indulge me with another error that's been occuring. Upon running deploy, Serverless seems to have trouble collecting the torch module. It looks like it might be related [this issue](https://github.com/pytorch/pytorch/issues/15213) but I'm not sure. I tried including ```torch>=1.3``` in the pip_dependencies list but the same issu

[2019-10-28 06:51] yubozhao commented on #354
@HenryDashwood I see.

Are you using the notebook that you mentioned in this issue post(https://github.com/HenryDashwood/facial-features-detector/blob/master/code/pytorch.ipynb)?

If you are, I would love to use that and reproduce it and trying to fix on my local.  Last time I was trying with your notebook, I don't have the proper data in cell 3 `images_path = '../data/resized_images'
labels_path

[2019-10-29 00:13] HenryDashwood commented on #354
I feel a bit queasy passing the data around because it doesn't belong to me. What I have done though is make a new notebook [here](https://github.com/HenryDashwood/facial-features-detector/tree/master/regression_demo) based on a Fastai demo and which can be run on a laptop in 5-10 minutes. As you can see it hits the same issue. I did a pip freeze on my conda environment as well in case that's help

[2019-10-29 01:07] yubozhao commented on #354
@HenryDashwood no worries. Totally understand. I will try out the new notebook you linked here. Thanks for taking your time to do that!  I will get back to you soon on it

[2019-11-08 00:08] #319 closed

[2019-11-11 14:09] Rexhaif opened #372 "Docker container deployment: No module named 'gunicorn.six'"
**Describe the bug**
I've previously operated bentoml service without any problems until today. I've made several changes at my service's code and repackaged it into bentoml service. Then i've builded container and runned it, but got error(see in Logs section).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo https://github.com/tchewik/unsupervised_openie
2. go to unsupervised_

[2019-11-11 16:48] parano commented on #372
Thanks for reporting the issue @Rexhaif, it's indeed an issue with the new release of gunicorn, we are working on a fix.

Thanks a lot for the feedback, we are actually working on pinning miniconda and all dependency version in the dockerfile for every release of BentoML to make the deployment process more reliable.

[2019-11-11 18:59] Rexhaif commented on #372
Thanks for quick response)
I'll be waiting for the fix.

[2019-11-11 22:43] parano commented on #372
@Rexhaif the fixed has been merged and included in the latest release BentoML-0.4.9, you should be able to get it by upgrading bentoml now: ```pip install -U bentoml```

[2019-11-12 08:22] Deninc commented on #372
I was having the same `gunicorn.six` issue, after updating there's another issue. Please check!
[code]

[2019-11-12 08:32] parano commented on #372
@Rexhaif did you run the notebook again and save a new BentoService bundle with updated version of BentoML? Do you mind share the saved bundle files for me to investigate? either push to the repository you shared  or ping me in BentoML slack if you don't want to share it publically.

[2019-11-12 08:34] parano commented on #372
@Deninc did you save a new BentoService bundle with updated version of BentoML? Do you mind share the saved bundle files for me to investigate? either push to a github repository or ping me in BentoML slack if you don't want to share it publically.

[2019-11-12 08:58] Deninc commented on #372
Yes I did.

Actually I managed to fix the issue. Checking around the Internet it seems the issue is of numpy version:
https://github.com/alpacahq/pylivetrader/issues/73

I inspected the bento Docker image and it was numpy version 1.14.2. So I tried upgrading numpy in the Dockerfile:
[code]
Rebuild the image and it worked. Could you incorporate this fix into the repo?

[2019-11-12 09:07] parano commented on #372
Thanks for the feedback @Deninc, yes that will be part of our upcoming fix to get a more reliable docker build. The issue you ran into was because in the dockerfile, it was installing numpy with conda instead of pip.

One workaround for you for now, is to add numpy with pinned version to the `@env` definition when defining your BentoService, for example:

[code]

Which should be able to force inst

[2019-11-13 15:08] Rexhaif commented on #372
I've tested new release and everything seems to be ok. Thanks to quick fix:3

[2019-11-14 00:18] parano commented on #372
Thanks again @Rexhaif, closing this issue now

[2019-11-14 00:18] #372 closed

[2019-11-14 00:20] parano commented on #372
@Deninc were you using a modified version of BentoML? we just fixed an issue when the service bundle was created when there's local changes in your BentoML source tree. If that was the case, try pull from master again and it should solve that problem you were running into.

[2019-11-18 18:44] parano commented on #354
@HenryDashwood @yubozhao  closing this issue now as it seem to be an issue with AWS serverless and PyTorch - feel free to reopen or open a new issue if you continue running into this.

Note that we are also moving away from serverless framework to AWS sam and native APIs, which should help us avoid the issues with NPM.

[2019-11-18 18:44] #354 closed

[2019-11-19 09:19] lambdaofgod opened #387 "requests and endpoints using ImageHandler"
I have a service that is used for prediction on images. I need to call it from some other place in my Python application, but I cannot figure out how to do it.

My CURL command from swagger looks like this:

Which I translated into requests request:
[code]

But this only gives
`
b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>500 Internal Server Error</title>\n<h1>Internal Server

[2019-11-19 10:23] parano commented on #387
hi @lambdaofgod, I just tested a similar setting with our pytorch fashion mnist example, and sending request from python, everything seems to work as expected:
![image](https://user-images.githubusercontent.com/489344/69136759-46489c00-0a70-11ea-9a7f-c589b2612cf8.png)

It seem this has to do with how request library handles the headers automatically for you, could you try omit the `headers=headers

[2019-11-19 20:03] parano commented on #316
@lambdaofgod closing this issue now - let me know if limiting to one worker worked for your use case - and for others looking to solve similar problem but want to use multiple gunicorn workers or multiple nodes, we'd recommend looking into in-memory database such as Redis.  Integrating with Plasma is still on our roadmap for 2020.

[2019-11-19 20:03] #316 closed

[2019-11-20 08:34] #387 closed

[2019-11-21 22:19] parano opened #394 "BentoML roadmap update"
This is a live updating issue showing current BentoML roadmap. To influence this roadmap, [join our slack channel](https://join.slack.com/t/bentoml/shared_invite/enQtNjcyMTY3MjE4NTgzLTU3ZDc1MWM5MzQxMWQxMzJiNTc1MTJmMzYzMTYwMjQ0OGEwNDFmZDkzYWQxNzgxYWNhNjAxZjk4MzI4OGY1Yjg) to participate in related discussions or comment below and let us know your thoughts.

1. `@env(auto_pip_dependencies=True)` flag

[2019-11-25 17:54] kevlar1818 opened #395 "Python packaged model implicitly requires bentoml package"
## Describe the bug
A Python package built by BentoML requires the bentoml Python package implicitly.

## To Reproduce
[code]
Then:
[code]
Not only do I need to install BentoML, I need to install the precise version used to create the Python package, else the package fails to import because of apparent BentoML API changes.

## Expected behavior
`import my_packaged_model` should Just Work.

## Envi

[2019-11-25 17:58] parano commented on #395
@Kevlar1818 Thanks for reporting this issue! The BentoML package should indeed be added to the install_requires list with fixed version, will follow up with a PR soon.

[2019-11-25 21:04] parano commented on #395
The fix has just been merged to master https://github.com/bentoml/BentoML/pull/396 @kevlar1818 thanks again for reporting the issue.

We will do some more testing before making a release, in the meanwhile, feel free to try it out by installing BentoML from master branch: `pip install git+https://github.com/bentoml/BentoML.git`

[2019-11-26 01:20] HenryDashwood commented on #354
The thing is that I can't get Bentoml to run a later version of Serverless than 1.53. Even when I remove it manually and upgrade to the latest version. Is this a deliberate decision on your part?

[2019-11-26 09:34] yubozhao commented on #354
@HenryDashwood For the serverless based lambda deployment, yes we locked down the `serverless` version to 1.53.0, because the possible changes in the upstream CLI output might break existing code.

We just release BentoML version `0.5.2`.  In this version, we use the official AWS serverless tool `SAM` for Lambda Deployment.  Now, you can customize more options for your deployment such as how much

[2019-11-26 18:32] parano commented on #395
Release 0.5.2 is out now including the fix. It should be able to use saved BentoService bundle as PyPI package with all the pip dependencies specified with the setup.py file.

Closing this issue now, feel free to reopen if you are still seeing this/related issues with it.

[2019-11-26 18:32] #395 closed

[2019-11-28 01:13] HenryDashwood commented on #354
The new update looks really good and I can feel this getting closer!

I am having a problem though getting my model on to Lambda. The deploy command has been hanging on the ```Packaging lambda project``` stage. You can see the output of my command at the bottom of the notebook [here](https://github.com/HenryDashwood/facial-features-detector/blob/master/code/train.ipynb).

I don't think this is an

[2019-11-28 03:44] yubozhao commented on #354
@HenryDashwood Thank you for the support!

The `SAM package` command is basically zip up the code in the built directory and upload to S3.  I don't expect it to take more than half hour, depends on how big is the zip and your upload speed.

Since you are using fastai to do image detection, I will use fastai pet classification notebook, since they both use fastai.vision package for test, here is th

[2019-11-29 13:04] lambdaofgod opened #409 "service.save is not backwards-compatible (model Registry breaks old model saving flow?)"
Before adding model registry I could just run

`service.save('/tmp/service_name')`
And each time it created appropriate artifacts.

Now when I try doing that I get the following
[code]
Is there a way of doing that that will work like it did before? Or do I have to set `version` manually each time I use `service.save`?

[2019-11-29 17:39] parano commented on #409
hi @lambdaofgod, we did make `save` backward compatible, the only difference is that ```service.save('/tmp/service_name')```  still tries to save the model information to a local SQLite DB(assuming you are not using our remote model registry functionality), and it does verify if the same name/version has been saved before.

One workaround is to simply use `BentoService#save_to_dir`, which is ident

[2019-12-05 13:02] lambdaofgod commented on #409
This is pretty confusing. `save_to_dir` is not exactly mapping to what happened before, because it actually saves to the direction specified by argument, and does not generate another folder structure, like `save` did before.

It was done by making sure new saved version has a new hash, right?
Could you just show me how to get this autogenerated value, so that I can use it in `save`/`save_to_dir`

[2019-12-06 00:16] parano commented on #409
@lambdaofgod

Yes that's exactly right

here's an example:

[code]
Note that you can choose to override `versioneer` function in order to generate customized version string pattern if you need to. `self.set_version(serlv.versioneer())` gets called automatically when you do a `save` or `save_to_dir`.

We will add this to our documentation soon, sorry about not clearly documenting it when me made th

[2019-12-06 00:25] parano commented on #409
@lambdaofgod and thanks for pointing out the difference of `save_to_dir` vs. the old `save`!  You are right, they are not exactly equivalent in terms of using the name and version as the path prefix.

`save_to_dir` was meant for advanced users to build customized workflow, so we made it less restrictive. A workaround to mimic the old behavior is to use `svc.name` and `svc.version` strings to creat

[2019-12-06 13:44] lintingzhen opened #417 "Improve BentoService CLI - inference API command docs"
**Is your feature request related to a problem? Please describe.**
Current help info is as follows:
[code]
If I want to know the list of apis provided by this service, I need to use the subcommand **info**.
This is a bit troublesome.

**Describe the solution you'd like**
My proposal is as follows:
[code]

[2019-12-06 19:32] yubozhao commented on #417
That's a good idea to show the API in the CLI help menu.

[2019-12-21 00:15] parano opened #450 "pip dependency version specified in BentoService '@env' should match package in current environment"
When defining the pip dependencies of a BentoService, e.g.:

[code]

BentoML should verify that in the current python session, the scikit-learn package is presented and matches the specified version. A good place to add this verification would be:

https://github.com/bentoml/BentoML/blob/master/bentoml/service_env.py#L147

The ideal behavior is to show a warning to the user, that the specified dep

[2020-01-10 04:08] #409 closed

[2020-01-13 12:44] Awais9 opened #471 "YML file not found"
I'm trying to run the code but here I have the error "BentoML can't locate config file 'bentoml.yml' in saved bundle." and can not load the project. Please let me know what is missing

[2020-01-13 14:02] #471 closed

[2020-01-15 02:33] JeongChanwoo opened #476 "gpu support question"
Hi
I have an interesting look at your Bento, and I have questions.

Doesn't Bento yet support the gpu environment in Keras model servings?
If you have a gpu serving plan, can you tell me when the feature is added?
Is there a way to load an existing nvidia docker and merge it with the bento deployment docker?

[2020-01-15 20:15] yubozhao commented on #476
hi @JeongChanwoo As right now, we don't have support for GPU env for Keras model serving. @parano will have a better answer for you for the timeline of GPU support.

[2020-01-15 23:50] parano commented on #476
We have plan to add custom docker base image support, which will make it easy to customize your API server container with your existing Nvidia Docker image.

I should have some bandwidth to implement it in February, contributions are welcomed too!

[2020-01-16 10:03] JeongChanwoo commented on #476
Based on the base docker originally used by bento, we installed cuda10.1 cudnn7 ubuntu.18.04 setting the conda environment on the base docker.

The predictions were loaded without problems in the Docker environment.

However, some issues have arisen.

1. PID problem: I run docker and strangely I get 3 gpu PIDs.

2. gpu utility problem: It takes up 135mb of gpu memory.
When predicting, we couldn't

[2020-01-17 00:12] pradeepthiyyagura opened #478 "fastai text classification handler"
I did not find a text handler for fastai text based classification model. Any pointers on how to do this will be greatly appreciated.

[2020-01-17 00:22] parano commented on #478
Hi @pradeepthiyyagura, you can try using JsonHandler to pass the text input, for example:
[code]

And you can then send JSON containing the text input via HTTP request, e.g.:
[code]

[2020-01-17 00:42] parano commented on #476
1. BentoML by default uses gunicorn to run API server in Docker, and it launches multiple workers which is why you have 3 instances of the model loaded in GPU. The number of gunicorn workers is configurable via bentoml's config file or environment variable.

If you want to limit it to one worker, try adding env var `export BENTOML__APISERVER__DEFAULT_GUNICORN_WORKERS_COUNT = 1` in your docker imag

[2020-01-17 00:44] parano commented on #476
For 1, we are actually working on a new API server implementation that supports adaptive batching and allows users to configure the number of model backends being loaded, which should also help with this issue you are encountering. We plan to release a beta version of that in February.

[2020-01-17 15:33] pradeepthiyyagura commented on #478
Thank you so much!! It works

[2020-01-17 15:33] #478 closed

[2020-01-18 08:38] JeongChanwoo commented on #476
It is helpful to refer to your reply @parano, @yubozhao .
I adjust the PID to 1 and served it based on the docker image I used as a learning environment.
As a result, check the GPU utility and found that only one PID was caught.

However, unfortunately I confirmed the problem in speed.
still checking whether the problem is a decrease in PID or a network problem.
Compared to predicting the local po

[2020-01-18 18:03] yubozhao commented on #476
Yes. We would love to have you help and contribute.

Thank you for doing the investigation for this!

[2020-01-19 07:55] #394 closed

[2020-01-22 07:20] omrihar opened #491 "Allow specifying the schema of the endpoints for the Swagger documentation"
When serving the model locally, a nice swagger documentation page becomes accessible that allows you to send requests to the model by clicking the "Try it out" button.
As part of the swagger specification it is possible to specify the schema the endpoint expects. When doing that, the "Try it out" button will be prefilled with values, so that the API end users can experiment with the endpoint more

[2020-01-22 09:02] parano commented on #417
Changed the run command format in a recent PR: https://github.com/bentoml/BentoML/pull/489

[2020-01-22 09:02] #417 closed

[2020-01-24 14:48] pdoyle5000 opened #499 "serve_gunicorn is now called with the `bento` param and not `bundle_path`"
**Describe the bug**
bundle_path is still passed to serve_gunicorn as a kwarg and now breaks as it is an unexpected parameter.  the bundle_path param needs to be switched the new new `bento` param as changed in the commit: https://github.com/bentoml/BentoML/commit/abfd77cc327c9d205ccbe34c6cb2fe3762cd4502

to avoid an unexpected parameter exception.  I am not confident in where along the dependency

[2020-01-24 18:38] parano commented on #499
@pdoyle5000 thanks for reporting the bug!

Passing bundle_path to server/gunicorn_serve should still work, we made it backward compatible by design. This error was due to the naming of the parameter was wrong, a bug introduced in https://github.com/bentoml/BentoML/commit/abfd77cc327c9d205ccbe34c6cb2fe3762cd4502
We are working on a fix now.

[2020-01-24 19:14] parano commented on #499
@pdoyle5000 Submitted a PR fixing the issue here https://github.com/bentoml/BentoML/pull/500

Since this bug breaks the docker API server run, we will follow up with a minor release 0.6.1 to include this bug fix. Thanks again for reporting the issue.

[2020-01-24 21:51] parano commented on #499
Release 0.6.1 is out now including the fix in #500 @pdoyle5000

[2020-01-24 21:51] #499 closed

[2020-01-27 14:07] seantur opened #502 "Can't set bentoml deploy version to be based on a git url"
**Describe the bug**
It looks like you can't use the configuration file to set the bentoml deploy version to be based on a git commit/ branch.

**To Reproduce**
I was trying to install a version of bentoml based off of a branch. I used `bentoml config set core.bentoml_deploy_version=git+https://github.com/bentoml/BentoML.git@master` to set the deploy version.

The generated requirements.txt then c

[2020-01-27 19:22] parano commented on #502
Thanks for reporting the issue @seantur, the `bentoml_deploy_version` config does have some rough edges, it is currently only being used for bentoml devs to do deployment testing on dev branches. To make it usable for users I think 2 things need to be done:

1) as you suggested, when the `bentoml_deploy_version` is a link to git-repo, remove the `bentoml==`  https://github.com/bentoml/BentoML/blob

[2020-01-29 08:35] omrihar opened #504 "Failed deployments to sagemaker cannot be deleted from deployments list"
**Describe the bug**
I tried to deploy to sagemaker while debugging a problem with deployment to AWS Lambda. Twice the deployment failed, one because of a bug in the deployment script ("Service" tag does not appear for all AWS Roles, see https://bentoml.slack.com/archives/CKRANBHPH/p1577026534009000) and once because of some permissions issue with this role.
The problem is that now both failed dep

[2020-01-29 10:15] omrihar opened #505 "Using curl to test lambda deployment fails with dataframe handler"
**Describe the bug**
I deployed a model that uses the DataFrameHandler to aws lambda. When I test it with curl, using, e.g.
[code]
I get as response an Internal server error. The cloudwatch logs indicate a problem with the Content-Type header:
[code]
When using `requests` in an ipython shell, however, the request goes as expected. e.g.
[code]
works exactly as expected.

**To Reproduce**
Steps to r

[2020-01-29 10:28] omrihar opened #506 "Add click-completion support to bentoml"
**Is your feature request related to a problem? Please describe.**
BentoML has a very large CLI implemented in click. To find out what commands are available, I need to use `--help` repeatedly for many subcommands.

**Describe the solution you'd like**
Add hooks for shell completion. One such option is click-completion, which is this project: https://github.com/click-contrib/click-completion. Addi

[2020-01-29 20:23] parano commented on #505
@omrihar I couldn't reproduce this issue on my end this time(I was able to get the error when using curl from a ubuntu docker container testing your deployment endpoint last time we discussed it in slack).

I suspect in some edge case `curl`  will set the content-type header improperly in a way that AWS Lambda can not handle. #507 should resolve this issue you're encountering.

[2020-01-29 21:39] parano commented on #505
Just merged the pull request, if you install BentoML from master now and use that version of BentoML to save a new BentoService bundle, you should be able to deploy it to lambda including this fix. Let me know if this helped with the issue you ran into.

[2020-01-30 14:44] omrihar commented on #505
OK, I manually applied these changes to an already-deployed lambda function by downloading it, modifying, and uploading again and it works. So I guess we can close this now.

[2020-01-30 14:44] #505 closed

[2020-01-30 14:49] omrihar opened #509 "Allow enabling CORS for lambda function deployment"
**Is your feature request related to a problem? Please describe.**
We use the lambda function deployments with a web app that requires CORS headers to work. Since the deployment uses LAMBDA_PROXY, it's impossible to add the headers in the API Gateway console, but must rather be done directly in code from the Lambda function.

**Describe the solution you'd like**
I'd like to be able to set the CORS

[2020-01-30 19:13] yubozhao commented on #509
@omrihar For lambda deployment, we do specifically set cors to '*' for API gateway with our cloud formation setting.
[code]
Right now the Lambda deployment is based on AWS's official deployment tool, SAM.  We construct a sam template base on bento services and cli parameters

[2020-02-03 13:23] omrihar commented on #509
The problem is the following - when you use LAMBDA_PROXY, the lambda function itself has to return a header with `Access-Control-Allow-Origin`. This is achieved most easily as I indicated above, by modifying the dataframe handler to return this setting explicitly. Otherwise AWS API Gateway is unable to make sure this header is returned from the POST call (you can set up the OPTIONS call to return

[2020-02-03 13:37] omrihar commented on #509
To get CORS to work on the local bento api server, I followed the code in https://gist.github.com/blixt/54d0a8bf9f64ce2ec6b8 just after defining the Flask app. Locally for me this works perfectly.
I can provide a PR for both issues, if you'd like, but I'm not sure how to add proper tests for them.

[2020-02-03 22:22] yubozhao commented on #509
@omrihar I tested the case with simple fetch request and you are right

We would love to have PRs!  That would be great. We can figure out the proper testing along with the PRs.

[2020-02-04 14:54] omrihar commented on #509
Would you like to have an interface to limit the CORS domains to a specific subset? Or just simply set it to `'*'`?

[2020-02-04 19:45] yubozhao commented on #509
I think it could be an option that defaults to `*`.  We can also start with a simple `*` and evolve from there

[2020-02-04 21:24] omrihar opened #512 "Problem importing handlers from external files using bentoml serve"
**Describe the bug**
I have a custom handler I created to tackle the problem with CORS support in lambda deployments. It resides in a second file which I import in my main service definition file. This file also gets copied into the service environment. The problem, however, is that when I try to serve the model using `bentoml serve` I get an import error saying this module does not exist.

I've b

[2020-02-05 09:53] omrihar opened #513 "Show the Service and service version in `bentoml deployment list`"
**Is your feature request related to a problem? Please describe.**
It would be cool to see the service class and version that is deployed in a given deployment as listed in the `bentoml deployment list` list.

[2020-02-05 19:33] yubozhao commented on #513
I think this is a great suggestion.  Already open a PR for it #514

[2020-02-10 10:46] parano commented on #512
Thanks for reporting the issue @omrihar!

It's actually a regression introduced when we refactored the service loading path, due to the lack of related tests.  Here's the PR  including the fix and adding tests: https://github.com/bentoml/BentoML/pull/518

[2020-02-10 21:36] parano commented on #512
Closing this issue now as #518 has been merged. The upcoming release 0.6.2 will include the fix in #518

[2020-02-10 21:36] #512 closed

[2020-02-10 21:37] #513 closed

[2020-02-10 21:42] parano commented on #504
Hi @omrihar , I believe the first issue you mentioned has been fixed in #510

To delete a deployment record without confirming cloud resource being deleted, use the `--force` option: `bentoml deployment delete -f <deployment name>`

[2020-02-11 00:10] parano commented on #504
PR #522 has also just introduced a fix for the second issue when the SageMaker endpoint has already been deleted.

[2020-02-11 00:46] parano commented on #504
0.6.2 has just been released with the fix in #522  https://github.com/bentoml/BentoML/releases/tag/v0.6.2

@omrihar feel free to reopen if you ran into any issue with the new version

[2020-02-11 00:46] #504 closed

[2020-02-11 19:26] parano opened #524 "Prediction log in AWS Lambda deployment"
**Is your feature request related to a problem? Please describe.**
Currently, a BentoService AWS Lambda deployment only logs the prediction request but not the response (a.k.a the output of the model.) of API calls.

**Describe the solution you'd like**
Print the output of the model at the end of the lambda callback function

[2020-02-13 00:25] parano opened #531 "Auto pip dependencies extraction"
Currently, BentoML users need to manually specify a list of pip dependency names when defining a BentoService class. It can be a tedious process especially for users that has a large list of dependencies. Tools like `pipreqs` are very handy but hard to directly integrate with BentoML. We want to propose a new feature that allow BentoML to automatically figure out the pip dependencies of a BentoSer

[2020-02-13 00:31] parano opened #532 "Support custom API server Docker base image"
**Is your feature request related to a problem? Please describe.**

BentoML should allow custom docker base image to be used when generating Dockerfile in saved bundle. It can be useful:
* when deploying API server to GPU node(#476) - we may want to add a default GPU base image as well
* when using libraries such as H2O or in-house libraries, users often want to control how those libraries are ins

[2020-02-16 15:04] lintingzhen commented on #450
The function `add_pip_dependencies` at https://github.com/bentoml/BentoML/blob/master/bentoml/service_env.py#L147 is not called anywhere.
So?

[2020-02-16 23:36] parano commented on #450
@lintingzhen yes we are not using it currently,  `BentoServiceEnv` is initialized in the `@env` decorator and it seems we don't want the user to modify it dynamically anyway, it might be a good idea to just remove those methods such as adding/removing pip dependencies or conda channel.

[2020-02-17 01:31] lintingzhen commented on #450
The function `add_pip_dependencies` at https://github.com/bentoml/BentoML/blob/master/bentoml/service_env.py#L147 is not called anywhere.
So?

[2020-02-17 05:45] parano commented on #506
Contributed by @lintingzhen here: https://github.com/bentoml/BentoML/pull/534 🎉

Will be shipped in the coming release! I will add some related documentation shortly.

[2020-02-17 05:45] #506 closed

[2020-02-20 12:57] sgaseretto opened #537 "Guides to Deploy on zeit.co and netlify"
Are there any plans on adding guides to deploy on platforms like zeit.co and netlify? The offer free tiers and could help others to develop some MVPs without having to spend or use a credit card, like with AWS Lambda

[2020-02-20 19:57] parano commented on #537
Hi @sgaseretto, we currently don't have any plans to support deployment on zeit.co and netlify yet. I definitely will keep my eye open and see if more people in the community want this. In the meanwhile, anyone is welcomed to contribute this feature and I'd love to offer help or guidance if needed.

[2020-02-28 01:41] #450 closed

[2020-02-28 01:41] #531 closed

[2020-03-31 00:31] parano commented on #476
We plan to work on custom docker image and revisit better GPU support soon!

[2020-04-08 09:40] HenryDashwood opened #595 "Add --timeout to the Sagemaker deployment CLI"
**Is your feature request related to a problem? Please describe.**
Currently it is possible to update Gunicorn timeouts from the default of 60 seconds with ```bentoml config set apiserver.default_timeout=NUM_IN_SEC```. It would be nice to make this an argument for ```bentoml sagamaker deploy```

**Describe the solution you'd like**
It should mirror the ```--timeout``` argument it is possible to pa

[2020-04-09 20:33] parano commented on #595
Thanks @HenryDashwood, the PR has been merged and it will be available in next release 0.7.3, planned for release next Monday 4/13

[2020-04-15 02:26] parano commented on #595
This is now available in 0.7.3 release! @HenryDashwood

[2020-04-15 02:26] #595 closed

[2020-04-17 14:49] GCHQResearcher83493 opened #604 "Add support for Fasttext Models"
[Fasttext](https://fasttext.cc/) produces small, efficient models for text classification and representation learning.  It'd make a useful addition to the set of frameworks supported.

I've written up a Fasttext model artifact and forked it [here](https://github.com/GCHQResearcher83493/BentoML/blob/fasttext_model_artifact/bentoml/artifact/fasttext_model_artifact.py), and will open a pull request i

[2020-04-21 08:16] #604 closed

[2020-04-22 20:32] parano commented on #537
hi @sgaseretto, we did look into both options but unfortunately, none of them really works for ML model serving workloads at the moment.  @yubozhao spent some time looking into this and he found out that:

1) Netlify does not have a python runtime, there's no way we can deploy with it until it supports Python
2) Zeit.co has a 50MB size limit on its function's bundle size, which is way too small fo

[2020-04-22 20:32] #537 closed

[2020-04-23 01:21] parano opened #607 "Support fastai2 models in BentoML"
* Add model artifact class for fastai2 models
* Example notebook

[2020-04-23 01:23] parano commented on #607
The issue is currently pending on https://github.com/fastai/fastcore/issues/29
cc @HenryDashwood

[2020-04-23 12:07] smolendawid opened #608 "Python code dependencies not saved in SavedBundle"
**Describe the bug**
After saving the object `bentoml.BentoService` with save() method, I have everything working except that my local package (`recognition`) is not saved in the Bundle. While saving I can see the warning:

`WARNING - unknown package dependency for module: recognition`

**Expected behavior**
I'd like `SavedBundle` to contain python code dependencies, not only PyPI dependencies.

*

[2020-04-23 22:04] parano commented on #608
hi @smolendawid, thank you for reporting this issue. Python code dependencies are expected to be bundled with BentoML `save`. Here are some unit test covering this behavior:
https://github.com/bentoml/BentoML/blob/master/tests/test_bundle_local_dependencies.py
https://github.com/bentoml/BentoML/blob/master/tests/bento_service_examples/local_dependencies/my_test_bento_service.py This might be an ed

[2020-04-24 17:00] smolendawid commented on #608
Exactly

The local dependencies are mainly for the model loading but also for the serving.

Well, I'll try to upload my anonymized files. The original local dependencies are pretty complex.

bento_server/server.py:

[code]

bento_server/my_class.py:
[code]

So we have `recognition.my_model` that has `load_model()` and `recognize()` functions. The former is used only in `server.py` for loading the

[2020-04-26 05:29] parano commented on #608
@smolendawid thanks for sharing the details, it may has to do with the `sys.path.append(path.dirname(path.dirname(path.abspath(__file__))))`, I will try to reproduce on my end.

And yes you can verify by looking for the file in the generated SavedBundle directory. You can find the directory path using the bentoml CLI, e.g.: `bentoml get PyTorchVINModel:latest`, the path is in the `uri` field of th

[2020-04-26 05:35] parano commented on #608
@smolendawid do you mind add the following lines before the code that saves the BentoService and share with us the logs? This code will enable debug logs which will help us diagnose this issue.
[code]
Thanks!

[2020-04-26 09:13] smolendawid commented on #608
Well it's necessary if I want to run bento related scripts from the main project directory like `python bento_server/server.py and python bento_server/my_class.py`. Otherwise, I would have to run `export PYTHONPATH=./` in main directory.

Indeed, the required local dependencies are not there.

I attach the logs,

[2020-04-26 09:54] smolendawid commented on #608
I'm getting familiar with bentml, so maybe I'll be able to solve that issue. In `bundler/py_module_utils.py`, my local dependencies are in `bad_modules` attribute of finder.

in `modulefinder.py` in `find_head_package(self, parent, name)` parent=None  and name=recognition.my_model. This function fails. I don't understand how the input should look like, maybe parent=recognition and my_model=name. I

[2020-04-27 05:53] parano commented on #608
@smolendawid I tried with a few examples that modify `sys.path` and everything seems to work, see a test that I added here: https://github.com/bentoml/BentoML/pull/611

Could you try creating a minimal sample project that can reproduce this problem?

[2020-04-27 08:56] smolendawid commented on #608
Well, my bad. I didn't have __init__.py file in `recognition/`. @parano I appreciate your support greatly!

[2020-04-27 08:56] #608 closed

[2020-04-27 12:05] codeslord opened #612 "Not able to load PyTorch saved model: AttributeError: Can't get attribute 'Encoder' on <module '__main__' from '/home/ubuntu/anaconda3/envs/pytorch/bin/bentoml'"
**Describe the bug**
When trying to serve model saved using torch.save, bentoml is throwing Attribute Error because the main function does not have the definition of the neural network.

  File "/home/ubuntu/anaconda3/envs/pytorch/lib/python3.7/site-packages/bentoml/bundler/loader.py", line 123, in load_bento_service_class
    spec.loader.exec_module(module)
  File "<frozen importlib._bootstrap_ex

[2020-04-27 19:06] parano commented on #612
hi @codeslord, it looks like you have the Encoder/Decoder python classes defined in the main module(meaning the code of the class definition is written in a Jupiter notebook or in an interactive python shell)? Unfortunately, BentoML can't yet bundle functions/classes defined in the main module, the workaround is to define the class in a separate python file, e.g. `encoder.py` and then import it in

[2020-04-28 08:03] jjmachan commented on #612
faced the same issue today.
just a small suggestion, would a better error msg help the user understand the bug more easily? Would be a really easy fix for now until a better way to pack the model is worked out.

[2020-04-28 16:52] parano commented on #612
Hey @jjmachan @codeslord sorry I was wrong in the previous comment, BentoML is actually able to package those classes in main module for PyTorch models. You can have your Encoder/Decoder class defined in the main module when using BentoML. See our PyTorch example notebook:
https://github.com/bentoml/gallery/blob/master/pytorch/fashion-mnist/pytorch-fashion-mnist.ipynb

Could you try to verify this

[2020-04-28 17:06] parano commented on #612
It seems to me that you are not loading the model properly before packaging it with BentoML. See the PyTorch documentation for saving/loading:
https://pytorch.org/tutorials/beginner/saving_loading_models.html#save-load-entire-model

If you are only saving the `state_dict`, then you should be using something like:
[code]
If you are saving/loading the entire model, then according to the documentatio

[2020-04-29 14:04] smolendawid opened #614 "AWS Lambda Deployment: Build function size is over 700MB, max size capable reached"
**Describe the bug**

I'm trying to deploy my model to AWS Lambda.

The docker that is created in huge though. When I'm investigating it, I can see that /opt/conda is more than 2.3 GB.

My pip dependencies look this way:
[code]
Is there any way I can make docker smaller? Is conda necessary? My PyTorch models in total take ~100mb of disk space. They are saved as torch states, not exported to binary

[2020-04-29 15:12] smolendawid commented on #614
I hope it's not a problem I labeled it as a bug but it's neither a feature request, just a request for help.

I can see that PyTorch and some libraries it installs are pretty big. Does it mean I should export it with jit and then load it again in Python somehow?

[2020-04-29 15:52] parano commented on #614
hi @smolendawid, BentoML's lambda deployment actually does not really deploy the container itself, instead, it runs a docker container that's similar to the AWS Lambda environment, installs all the pip packages and saves all the installed package files to disk. And the docker itself is not used for deployment with Lambda, only the saved PyPI package files do. BentoML is already trying everything i

[2020-04-29 16:24] smolendawid commented on #614
@parano thank you for the support.

My virtualenv grows for more than 250 MB after just `pip install 'bentoml==0.7.3'`

I am using macOS Catalina 10.15.4 and Python 3.7

[2020-04-29 17:09] parano commented on #614
@smolendawid yes, BentoML has a few dependencies that are quite large, such as numpy, pandas:
![Screen Shot 2020-04-29 at 9 42 16 AM](https://user-images.githubusercontent.com/489344/80623086-8d16c680-89fe-11ea-989f-7a5b59b1cacc.png)

We should be able to make pandas an optional dependency and only require it if user uses DataframeHandler. That will save some extra space here.

`botocore` is alrea

[2020-04-30 13:52] smolendawid commented on #614
And the limit 700MB for Lambda AWS, it's the Lambda limit? I can't found it in the docs anywhere... do you know if it can be configured?
I have some operations required especially using cv2 so I can't really get rid of my deps...

[2020-04-30 13:53] smolendawid commented on #614
I'm not sure but seems like max Lambda storage is 75 GB:
https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html

[2020-04-30 14:14] parano commented on #614
@smolendawid yes it is an AWS Lambda limit.

The "Deployment package size" is what you are looking for on that documentation page. The maximum deployment package size for AWS Lambda is 250MB including 5 layers that BentoML automatically setup for its user. BentoML also gives you an extra 500MB by utilizing the 500MB space in the "/tmp" directory, where BentoML uploads the extra 500MB package size

[2020-05-02 20:16] smolendawid commented on #614
I see. Thank you for your support. PyTorch + some image processing library isn't too much in my opinion and often one may need a lot more packages, which I think makes Lambda deployment not so useable.

[2020-05-02 20:16] #614 closed

[2020-05-04 03:27] parano opened #620 "BentoML Kubernetes deployment operator"
* Add API and CLIs for managing model serving workloads on an existing Kubernetes cluster and deep integration with KFserving
* Helm chart for installing YataiService(BentoML's model repository service)
* Out-of-the-box auto-scaling via KFServing
* Option for enabling prediction log collection side-car
* Option for using GPU resource
* Guide for setting up Prometheus with BentoML deployment

[2020-05-04 03:33] parano opened #621 "Add ONNX model artifact"
Currently, when using ONNX with BentoML, the user needs to load an ONNX model file using an onnx backend framework such as Tensorflow, PyTorch, or XGBoost before packing the model with BentoML.

We are investigating a more connivent way to use ONNX models with BentoML, without the user to load the model before packing with a TensorflowModelArtifact for example.  The API looks like the following:

[2020-05-04 03:35] parano opened #622 "Add MLFlow integration"
* Add support for loading MLFlow's model format

[2020-05-04 04:46] parano opened #623 "[DOCS] Tutorial on BentoML & SageMaker end-to-end workflow"
* The existing BentoML Sagemaker guide focus on deploying BentoML saved bundle as sagemaker model&endpoint https://docs.bentoml.org/en/latest/deployment/aws_sagemaker.html
* We are adding a new tutorial on an end-to-end ML workflow setup, using BentoML and Sagemaker
* This new tutorial we are adding focuses on integrating BentoML when using Sagemaker's model development and model training platform

[2020-05-04 04:47] parano opened #624 "[DOCS] Serving Onnx model with BentoML tutorial"
* Documentation on how to serve ONNX model with BentoML

[2020-05-04 04:51] parano opened #625 "[DOCS] How to choose deployment platform for your model serving workloads"
* Break down different types of model serving workloads and our recommended deployment platform for them
* Compare the benefits and tradeoffs of each deployment option, including cost and limitations

[2020-05-04 04:55] parano commented on #614
@smolendawid, indeed AWS lambda is not really suitable for your use case and our documentation should be more clear about those AWS limitations upfront. we are working on documentation that compares all the different deployment platforms, including their strength, cost & limitations. I hope that will be helpful for new BentoML users when they started picking a model serving platform. Thanks for th

[2020-05-04 07:15] parano opened #626 "Support Python 3.8"

[2020-05-04 20:06] yubozhao commented on #620
`bentoml install kubernetes` would be a cool command

[2020-05-06 05:15] jjneojiajun opened #631 "botocore.exceptions.ClientError"
Hey BentoML Maintainers,

I am currently facing an issue deploying my model to AWS Lambda, although i followed the docs completely. I have received the botocore.exceptions.ClientError indicating there's (NoSuchBucket) when calling the GetBuckAcl Operations and InvalidLocationConstraint when calling the CreateBucket Operations. Any tips in regards to this? Is there like a parameter that i can use t

[2020-05-06 19:47] yubozhao commented on #631
hi @jjneojiajun what is the region you are trying to deploy to?

There is an ongoing issue on boto3 that create an S3 bucket will fail for region `us-east-1` that I am not aware,  https://github.com/boto/boto3/issues/125.  I tested deploy lambda with the `us-east-1` region and received the same error as you did.

I am working on a fix for creating S3 bucket for the `us-east-1` region.

If you are

[2020-05-07 23:24] jjneojiajun commented on #631
Hi @yubozhao, yes I was trying to deploy to us-east-1 region. So I guess this is part of the bug mix that's required. I will close this thread then. Thank you! :)

[2020-05-08 15:14] spotter opened #639 "Spacy model artifact"
Loading of Spacy models is not supported OOB, or at least, isn't obvious.

Adopting a dedicated artifact class for Spacy models would facilitate this mechanism and make the support for Spacy models more evident.  Alternatively, it is possible to use the pickling mechanisms but again, it isn't easy to grasp for people who are new to BentoML (as I am).

[2020-05-08 15:58] withsmilo opened #640 "Make S3 configurable to support S3-like service for model repository"
**Is your feature request related to a problem? Please describe.**
There are S3-like services that support the S3 API, and I wish BentoML supports them also.

**Describe the solution you'd like**
How about adding a new environment variable named `BENTOML_S3_ENDPOINT_URL`? And then, we can set `endpoint_url` when creating a boto3 client.
[code]

**Describe alternatives you've considered**
none

**A

[2020-05-08 16:56] fernandocamargoti opened #642 "The Handlers are overwriting pip_dependencies specified through @env"
**Describe the bug**
In my use-case, I have a Tensorflow model and I'm using TensorflowSavedModelArtifact. If I'm not wrong, it automatically adds "tensorflow" to the requirements.txt. But I want to specify the tensorflow version, so I have:

`@env(pip_dependencies=["tensorflow=1.15.0", "numpy=1.17.2", "pillow=6.1.0", "scikit-image=0.16.2"])`

I was expecting my definition to take precedence, but

[2020-05-08 18:33] parano commented on #642
Thanks for reporting the issue @fernandocamargoti

It's indeed an issue on our side, BentoHandler's optional dependency have the exact same issue, I will work on a fix.

[2020-05-08 18:34] fernandocamargoti opened #643 "YataiService's Docker doesn't include psycog"
**Describe the bug**
According to the docs, I could use YaitaiService's Docker with another database as follows:

[code]

But we get a "ModuleNotFoundError: No module named 'psycopg2'" if we try it.

**To Reproduce**

The following docker-compose.yml is the easiest way to reproduce:
[code]

**Expected behavior**
YataiService connecting to the database.

**Environment:**
 - OS: Manjaro 20.0
 - Yata

[2020-05-11 06:55] parano commented on #643
hi @fernandocamargoti, this issue has been fixed and we are re-releasing the docker images from 0.7.0-0.7.5, I've verified with the following docker-compose.yml file and the server starts up properly now:

[code]

[2020-05-11 07:23] parano opened #647 "YataiService server start should check and wait for db to be ready"
**Is your feature request related to a problem? Please describe.**
When launching YataiService with database instance together via docker-compose(see example here: https://github.com/bentoml/BentoML/issues/643) or Kubernetes, the yatai-service will fail to start due to the db instance not being ready.

[code]

**Describe the solution you'd like**
When the db is not ready for connection, wait and r

[2020-05-12 18:20] yubozhao commented on #639
PR https://github.com/bentoml/BentoML/pull/641 created by @spotter merged. Thank you @spotter !

[2020-05-12 18:20] #639 closed

[2020-05-13 21:11] spotter commented on #642
I have the same issue. I also tried to set the dependencies using `@env(requirements_txt_file='./requirements.txt')` in which I have set the Tensorflow version explicitely but to no avail. For some reason a new "requirements.txt" file is produced without the version of the tensorflow library (and only for tensorflow, other libraries are left untouched).

[2020-05-14 02:45] parano commented on #642
Thanks @spotter, yes exactly we were planning to do this explicit check within `_init_env` function but haven't got to it yet.

I think we can add a new method `add_pip_dependencies_if_missing` to the `BentoServiceEnv`, which will only append the package if it's not already listed in `self.pip_dependencies`.  The BentoServiceEnv class does not currently parse the pip requirements which might be tr

[2020-05-14 06:57] parano opened #654 "Error saving BentoService bundle to S3 backed model registry"
**Describe the bug**
When `save` a new BentoService bundle to s3, the follow error occurs
[code]
**To Reproduce**

Run a s3 backed YataiService gRPC server:
[code]

Save to the YataiService:

[code]

[2020-05-14 06:58] parano commented on #654
The BentoML team is currently working on a fix for this issue, we will be releasing a fix soon

[2020-05-14 07:01] parano commented on #643
Closing this issue now since we've re-released the docker image and added end-to-end tests covering this behavior.

Feel free to re-open if you run into other issues related to this @fernandocamargoti, thanks again for reporting the issue!

[2020-05-14 07:01] #643 closed

[2020-05-14 19:51] parano commented on #654
The issue is due to the latency for s3 to setup global DNS for S3 bucket. This happens when using a newly created S3 Bucket.

The reason behind it is that BentoML uses a pre-signed S3 URL for upload so that each data scientist does not need to configure AWS credentials, only the YataiService has the credentials. But on the AWS side, until a newly created bucket's global DNS gets set up, the pre-si

[2020-05-14 22:48] parano commented on #642
@spotter I submitted a quick fix here since this was blocking too many users - sorry if you have spent time on this. BentoML's pip module management code still has lots of room for improvements tho, happy to chat more if you are interested in contributing, feel free to ping me in the community slack.

[2020-05-15 00:33] parano commented on #642
The fix has been merged with PR #657,  it will be available in BentoML version 0.7.6 (scheduled for release later today)

[2020-05-15 00:33] #642 closed

[2020-05-15 02:00] #640 closed

[2020-05-15 06:51] parano commented on #502
hi @seantur, were you able to find a workaround for this issue? We are investigating this again and I'd like to hear more about your use case if you don't mind sharing, why a custom version of BentoML is needed for your deployment and/or if there's any way BentoML can make itself more customizable to fit that need.  Feel free to ping me in the community slack channel as well if you prefer to discu

[2020-05-15 18:19] seantur commented on #502
My use case was that I needed a fix that was in master, but not available yet as a release. I noticed that the functionality was supposed to be there, but that it didn't seem to work.

In my case, I didn't need this functionality once the fix was released as a version.

[2020-05-15 18:25] parano commented on #502
@seantur got it - a workaround to that is to install BentoML from source with 'edit mode':

[code]

This way, all the deployments created and docker images built will be using the version of BentoML that's in the source directory.

I guess the fix you were looking for has already been released now! Hope everything is working for you now, let me know if there's still anything blocking you!

[2020-05-15 18:25] #502 closed

[2020-05-16 03:56] parano opened #661 "Support Google Cloud Storage in BentoML Model Registry (YataiService)"
**Is your feature request related to a problem? Please describe.**

Currently, besides the file system API(local, NFS, AWS EFS, or any cloud storage with POSIX support), the only object storage that BentoML YataiService's storage backend supports today is AWS S3.

For example, a user can configure YataiService to store all BentoML SavedBundle files to a s3 bucket:

[code]

Users can also `save` an

[2020-05-16 03:59] parano commented on #607
Release in https://github.com/bentoml/BentoML/releases/tag/v0.7.6

[2020-05-16 03:59] #607 closed

[2020-05-16 08:08] jesudasvf opened #662 "Error in execution of "bentoml get" cli command"
**Describe the bug**
just started to use bentoml 0.7.6 / bentoml 0.7.5 on Windows 10, with Python 3.6.8, TensorFlow-GPU 1.14.0 and Keras 2.2.4. Facing issue in using bentoml cli commands.

**To Reproduce**
Steps to reproduce the behavior:
1. Created a bentoml service with a working model which was trained with Keras and TensorFlow-GPU 1.14.0
2. The created service was saved to the default location

[2020-05-16 08:13] jesudasvf opened #663 "Error in execution of "bentoml get" cli command"
**Describe the bug**
just started to use bentoml 0.7.6 / bentoml 0.7.5 on Windows 10, with Python 3.6.8, TensorFlow-GPU 1.14.0 and Keras 2.2.4. Facing issue in using bentoml cli commands.

**To Reproduce**
Steps to reproduce the behavior:
1. Created a bentoml service with a working model which was trained with Keras and TensorFlow-GPU 1.14.0
2. The created service was saved to the default location

[2020-05-16 08:53] parano commented on #662
Looks like this is duplicated with https://github.com/bentoml/BentoML/issues/663, closing this one in favor of the other ticket now. Thanks @jesudasvf !

[2020-05-16 08:53] #662 closed

[2020-05-16 08:59] parano opened #664 "Update Travis-CI config to run unit tests on Windows"
Currently, BentoML CI tests are only on the Linux platform. This makes it easy for us to break windows support. We want to run the same set of unit tests on Windows platform for python 3.6 and python 3.7.

[2020-05-16 17:50] parano opened #666 "Spark MLlib support"
**Is your feature request related to a problem? Please describe.**
Add support for Spark MLlib models in BentoML

**Describe the solution you'd like**
Add a new model artifact class `PySparkModelArtifact`, here is the example usage:

[code]

[code]

PySpark models can't be directly pickled so it does not work with PickleArtifact. PySparkModelArtifact uses SparkSession and pyspark_model's `save` an

[2020-05-16 20:35] #663 closed

[2020-05-16 20:35] #664 closed

[2020-05-16 20:39] parano commented on #663
@jesudasvf the fix has just been merged, it will be available in the coming releases soon.

If you have the same issue with using `bentoml get` command on windows platform to get the saved path, here's a temporary workaround for version 0.7.3-0.7.5:

1) The file path is actually the returned value of BentoService#save and the path will also be printed to the stdout, when creating the BentoML saved

[2020-05-17 00:00] parano opened #667 "Add `batch size` option to `bentoml run` command"
**Is your feature request related to a problem? Please describe.**
Currently, the `bentoml run` command will take the entire input file and fit it into the user-defined API function at once. For some large inference jobs, the user may want to split the input into smaller batches.

**Describe the solution you'd like**
DataframeHandler for example, user can specify a `csv` file as the input data fro

[2020-05-17 00:11] parano opened #668 "Support list of image files as input in ImageHandler CLI"
**Is your feature request related to a problem? Please describe.**

Currently, when using DataframeHandler, the BentoService CLI allows running an inference job with batch input data, e.g.:
[code]

But for ImageHandler(same for FastaiImageHandler), the CLI only supports running inference job on one image at a time:
[code]

BentoML should allow the user to specify a list of input images at one time

[2020-05-17 04:41] parano opened #670 "Add JsonArtifact for saving/loading JSON files in a SavedBundle"
**Is your feature request related to a problem? Please describe.**
Currently, BentoML user can already use TextFileArtifact to save and load a JSON, but it requires the user code to convert/load the JSON data.

It is quite common that a prediction service requires some configuration metadata generated in the training time to be available in the serving time. And adding support for out-of-the-box J

[2020-05-17 05:11] parano opened #671 "[DOCS] how to configure BentoML (via config file, CLI arg and env var)"
**Is your feature request related to a problem? Please describe.**
Document how BentoML is configured and some of the most useful configurations.

All configs and their default values can be found in this file: https://github.com/bentoml/BentoML/blob/master/bentoml/configuration/default_bentoml.cfg

Configs have multiple sections, e.g. "core", "logging", "instrument", "yatai_service" etc. BentoML

[2020-05-17 05:26] parano opened #672 "[DOCS] Understanding micro-batching and how to fine-tune it"
**Is your feature request related to a problem? Please describe.**

Documentation that covers:
* The overall architecture of BentoML's micro-batching server
* how BentoML's micro-batching works, key components and parameters breakdown
* The main design decisions and tradeoffs
* How it compares to Tensorflow-Serving in design
* How it compares to Clipper in design
* Benchmark results
* parameter tu

[2020-05-17 05:44] parano opened #673 "Support micro-batching server in SageMaker deployment"
**Is your feature request related to a problem? Please describe.**

Currently, BentoML deployment on SageMaker does not utilize the micro-batching capability: https://github.com/bentoml/BentoML/blob/master/bentoml/deployment/sagemaker/sagemaker_serve.py

**Describe the solution you'd like**
Needs investigation

**Describe alternatives you've considered**
SageMaker expects a WSGI app and we may nee

[2020-05-17 05:49] parano opened #674 "[DOCS] How to create custom Input/Output Adapter class"
Add documentation that covers:

* How BentoML adapter API is designed
* How to customize BentoML built-in handlers by overriding certain methods + example code
* How to create and use a custom input adapter + example code

[2020-05-17 05:50] parano opened #675 "[DOCS] How to create custom BentoService Artifact"
Add documentation that covers:

* How BentoServiceArtifact interface is designed + API walkthrough
* How to create and use a custom artifact class and use with a BentoService + example
* How to customize BentoML built-in artifact classes + example

[2020-05-17 06:56] parano opened #676 "Support MinIO as Model Registry storage backend"
**Is your feature request related to a problem? Please describe.**

BentoML supports using AWS s3 and any block storage that support s3 compatible APIs for YataiService(model registry and deployment component).

BentoML uses a pre-signed S3 URL for upload so that each data scientist won’t need to configure AWS credentials, only the YataiService has the credentials.  I want to make sure this works

[2020-05-17 14:00] harashm commented on #333
Hi, it seems this bug is back in latest version (0.7.6) :-(

[2020-05-17 15:36] parano commented on #333
hi @harashm, yes we noticed that too - it was reported here: https://github.com/bentoml/BentoML/issues/663

And we have fixed the issue as well as adding CI test to prevent this from happening in the future: https://github.com/bentoml/BentoML/commit/746b16899acbb36bbdfacac3fae16609ebd015ad

The fix will be released the coming Monday in version 0.7.7

Thanks!

[2020-05-17 17:30] jesudasvf opened #677 "Facing "Failed precondition: Attempting to use uninitialized value ..... " error when using bento_svc.predict, and the layer indicated in the error keeps changing when attempting multiple times."
**Describe the bug**
After creating and saving the Speech emotion classification service with bentoml, tried to use the predict function of the model using bentoml_svc.predict() function. However I met with an "Failed precondition: Attempting to use uninitialized value conv2d_8/kernel".

**To Reproduce**
Steps to reproduce the behavior:
PART 1
1.Create the service SpeechEmoClassificationService
2.

[2020-05-17 19:31] parano commented on #677
hi @jesudasvf, could you provide more details on how SpeechEmoClassificationService is defined? and are you using the KerasModelArtifact or the TensorflowSavedModelArtifact?

[2020-05-18 02:22] parano commented on #676
This is supported now via #679

[2020-05-18 02:22] #676 closed

[2020-05-18 05:43] withsmilo opened #682 "Make the base Docker image configurable"
**Is your feature request related to a problem? Please describe.**
Because of our in-house security policy, only images that pass security checks can be deployed to our in-house cluster. To support this case, users should be able to change BentoML's base image (default is continuumio/miniconda3:4.8.2) to own base image using the apt-get package manager and Anaconda pre-installed.

**Describe the s

[2020-05-18 09:31] parano commented on #682
Related issue: https://github.com/bentoml/BentoML/issues/532

[2020-05-18 09:37] parano opened #684 "[Dev] fix Python linter errors"
The linter test can be started with the following command (also see [development.md](https://github.com/bentoml/BentoML/blob/master/DEVELOPMENT.md#style-check-and-auto-formatting-your-code)):
[code]

We've been ignoring the errors from this script for a while because it has not been added to Travis CI. This ticket is for fixing existing linter errors in the project codebase.

[2020-05-18 10:09] parano opened #685 "Support specifying arbitrary local files to bundle with"
BentoML supports searching local Python file modules automatically when saving a BentoML saved bundle, and adding saved model files via the Artifact API. This makes it very convenient to bundle python code and saved model for inferencing.

In some cases, however, the user may want to include additional files(json/yaml files, or python code files) with the saved bundle and access them when starting

[2020-05-18 10:25] parano opened #686 "[Model Server] Add FileHandler"
**Is your feature request related to a problem? Please describe.**

Add a generic handler for the user to define a prediction service that receives a file as its input data for inferencing.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2020-05-18 10:30] parano opened #687 "[Model Server] Add micro-batching support in ImageHandler"
**Is your feature request related to a problem? Please describe.**
Currently, ImageHandler and FastaiImageHandler do not yet support micro-batching.

**Describe the solution you'd like**
Implement handle_batch_request for ImageHandler and FastaiImageHandler

**Describe alternatives you've considered**
n/a

**Additional context**

For ImageHandler, when using micro-batching, the client API should r

[2020-05-18 13:39] withsmilo commented on #682
@parano
May I close this issue?

[2020-05-18 14:34] jesudasvf commented on #677
hi @parano , the attached file SpeechEmoClassificationService.txt has the code for definition of the SpeechEmoClassificationService.  I'm including the code here for your quick reference.
I'm using KerasModelArtifact in the service definition.
================================================
import pandas as pd
import numpy as np
import keras
# from tensorflow.keras.preprocessing import sequence,

[2020-05-18 14:52] jesudasvf commented on #677
hi @parano , the model is saved as Keras model h5 file, hence using KerasModelArtifact

[2020-05-18 17:08] withsmilo commented on #685
@parano
Could BentoML support a relative import beyond top-level if I add these codes to the top of codes?
[code]

[2020-05-18 17:13] parano commented on #685
@withsmilo yes it does support that!

Here is the test case that covers this behavior:
https://github.com/bentoml/BentoML/blob/v0.7.6/tests/bento_service_examples/bento_service_with_modified_sys_path.py

[2020-05-18 17:17] withsmilo commented on #685
Really great! Thanks!

[2020-05-19 00:13] #532 closed

[2020-05-19 00:13] #682 closed

[2020-05-19 00:16] parano opened #693 "[DOCS] Guide on using custom docker base image"
* How to set the docker base image
   * Per BentoService setting via the `@env` parameter
   * Change the system-wide default docker base image used via bentoml config file or environment variable

* How to create a docker base image for use with bentoml, and what are the requirements
   * `conda` is required, what others?

Edit:
* The custom Docker base image should use the apt-get package manage

[2020-05-19 00:31] withsmilo commented on #693
need to add : The custom Docker base image should use the `apt-get` package manager, e.g. ubuntu.

[2020-05-19 00:45] parano opened #695 "Artifact/Input pip_dependencies version should be pinned"
When `auto_pip_dependencies=True` is turned on, the way BentoML search pip dependencies is by parsing the python file that defines the BentoService class, related code can be found here in [pip_pkg.py](https://github.com/bentoml/BentoML/blob/v0.7.7/bentoml/utils/pip_pkg.py) and invoked [here](https://github.com/bentoml/BentoML/blob/v0.7.7/bentoml/service_env.py#L129). And for all the PyPI packages

[2020-05-19 01:54] withsmilo opened #696 "Add a command to containerize the model API server"
**Is your feature request related to a problem? Please describe.**
BentoML supports various serving clusters now e.g. K8s, KNative, Kubeflow and KFServing. However we should execute some Docker commands to containerize our model API server. ([Docs](https://docs.bentoml.org/en/latest/deployment/kubernetes.html#deploy-bentoservice-to-kubernetes)) How about adding a command to containerize our model

[2020-05-19 02:15] parano commented on #696
That's a great idea @withsmilo! Really love it!

I guess you are also suggesting using the BentoService tag (e.g. `IrisClassifier:20200518151822_B40DEC`)  as the docker image tag by default? That's really nice, I'm not sure if this "name:version" string is always a valid docker image tag. But I think we can always add a parameter for user to set a docker image tag manually. This really helps users

[2020-05-19 04:38] withsmilo commented on #696
@parano
It's really nice idea, too!

[2020-05-19 08:18] parano commented on #677
Hi @jesudasvf, could you try moving the class definition of `SpeechEmoClassificationService` to a separate python file and import it in the script that does model training and `save`? similar to how the quick start guide is organized?

You can also try put ```if __name__ == "__main__":``` around your model loading and packing code, e.g.:

[code]

[2020-05-19 09:45] parano commented on #333
hi @harashm, just want to let you know, BentoML 0.7.7 is released now, windows support have been fixed.

[2020-05-19 13:16] withsmilo opened #697 "The CLI 'bentoml delete' deletes the saved bundle, but shows an error message"
**Describe the bug**
I'm testing BentoML connected the S3-like service.
[code]
When I tries to call `bentoml delete IrisClassifier:20200519214443_46F9DD`, the command showed me an error message.
[code]
However, the `IrisClassifier:20200519214443_46F9DD` disappeared on the Yatai UI.
<img width="1241" alt="bentoml_yatai_200519" src="https://user-images.githubusercontent.com/3915543/82329949-15e0bb00

[2020-05-19 17:52] yubozhao opened #698 "`bentoml get` fails for one-off "save to s3" bundle"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Caa BentoService#save with s3 path
[code]
2. run `bentoml get IrisClassifier:latest`

**Expected behavior**
Expect CLI to display relevant information for the saved BentoService

**Environment:**
 - OS: [e.g. MacOS 10.15.5]
 - Python/BentoML Version [e.g. Python 3.7.3, BentoML-0.7.7]

[2020-05-19 18:21] yubozhao commented on #698
Problem is CLI will initialize a YataiService with LocalBentoRepo, when getting information for a BentoService using s3 storage. It will use the LocalBentoRepo instead of the S3 one

[2020-05-19 19:40] parano opened #699 "[DOCS] Add EKS Deployment Gudie"
Add a step-by-step deployment guide on deploying BentoML workflow on EKS Cluster:

* How to create and configure an EKS Cluster(via UI and/or pre-defined cloud formation template)
* Setup Amazon ECR for storing BentoML built docker images
* Setup s3 bucket for storing BentoML saved bundle
* Deploying YataiService to the Kubernetes Cluster along with a PostgreSQL database deployment
    * should be

[2020-05-19 19:47] parano commented on #698
Note: `.save("s3://..")` is a legacy behavior that we plan to deprecate, we should actually avoid saving it to the DB as well. The YataiService is designed to use with only one type of storage system. It would be nice to give the user a better error message.

We should probably add a warning to `BentoService#save` method, when the `path` is provided there, tell the user:
[code]

[2020-05-19 22:07] parano opened #701 "Add "python < 3.8" to setup.py"
**Describe the bug**
User can install BentoML under python 3.8 without any warning, even though it's not yet supported(https://github.com/bentoml/BentoML/issues/626)

**Additional context**
We should add "python < 3.8" constraint to setup.py until #626 is done

[2020-05-20 10:49] kautukkundan commented on #684
I am working on this issue

Is it suggested to add a disable warning flag to the errors or remove code pieces altogether? like removing unused variables and imports

[2020-05-20 13:46] jesudasvf commented on #677
hi @parano , thanks for the update on the issue.

I have modified the code files as requested and have attached them for your reference and review.
a. Updated the SpeechEmoClassificationService.py to remove the service pack and prediction code.
b. created a new py file spemoclass_service_pack.py where the Service is imported, packed and then prediction method is invoked.

[SpeechEmoClassificationS

[2020-05-20 15:41] parano commented on #684
Awesome, thanks @kautukkundan

If it's an easy fix in the code, we'd prefer to fix the code style to make the linter happy. If it is really hard to fix in the code, we suggest adding an inline comment to disable the linter rule for just that piece of code, here are some existing examples you can find in the project:  https://github.com/bentoml/BentoML/search?q=pylint%3A+disable%3D&unscoped_q=pylin

[2020-05-20 22:56] parano opened #702 "[TEST] Move yatai_service end-to-end test to run on Github actions"
The tests under `e2e_tests` directory are not automated in CI right now. This ticket is for supporting the `e2e_tests/yatai_service` tests on Github Action.

* Some tests in `e2e_tests/yatai_service` requires AWS S3. We should modify our tests to use a MinIO docker container instead.

Here is an example of yatai_service deployment with MinIO's sample deployment:
[code]
[code]

* The `e2e_tests/yat

[2020-05-20 23:22] #697 closed

[2020-05-20 23:49] parano opened #703 "feat: Support gRPC in BentoML API Server"
Support using gRPC instead of HTTP API for sending prediction requests. When an API model server is deployed as a backend service, many teams prefer using gRPC over HTTP. See related discussion [here](https://www.reddit.com/r/MachineLearning/comments/g1cfre/p_bentoml_an_opensource_platform_for/)

One blocker for this is the Asyncio support on gRPC end, it is currently under development https://git

[2020-05-20 23:55] parano opened #704 "[DOCS] how to build API client library with swagger(openapi)"
Add a document showcasing how a user can utilize BentoML API model server's Swagger definition endpoint "/docs.json", to build API client for any programming language.

This can be a guide under `advanced guides` section.

BentoML already provides swagger definitions for user to build API clients. User can find the API spec from the "/docs.json" endpoint of BentoML API server, or the `bentoml open

[2020-05-21 10:05] #672 closed

[2020-05-23 20:48] parano commented on #612
@codeslord feel free to ping me on slack if you have any other questions about this, closing the issue now.

[2020-05-23 20:48] #612 closed

[2020-05-23 20:50] parano commented on #684
Sorry closed this by accident, reopening since @kautukkundan is still working on it

[2020-05-23 20:53] parano opened #711 "[TEST] Add `./dev/lint.sh` script to travis CI"
As we are fixing all the linting errors in BentoML project (https://github.com/bentoml/BentoML/issues/684), we should make sure new PRs all meet the standard and pass all linting tests.

We should add the `./dev/lint.sh` task or something equivalent to Travis CI(.travis.yml) and make sure it blocks merging the PR when there are linting errors introduced.

[2020-05-23 21:19] kautukkundan commented on #684
hey @parano all the linting errors are now fixed for the current state of the code. I am sorry I forgot to mention. I feel it's okay to close this issue for now.

[code]

only https://github.com/bentoml/BentoML/pull/710#discussion_r429571583 this needs review

[2020-05-24 00:56] parano commented on #684
@kautukkundan got it, I thought there will be more in 'test' but looks like it's all done! Thanks again for the contribution! Let me know if you are interested in helping with other things, I'd be happy to help provide any guidance or help if needed.

Closing this ticket now! 🎉

[2020-05-24 00:56] #684 closed

[2020-05-24 08:35] kautukkundan commented on #684
Yes definitely interested in contributing more! :D

[2020-05-24 08:52] parano commented on #677
hi @jesudasvf, it looks like this might be an issue with `tensorflow-gpu`, I'd love to help you debug the issue, could you ping me in the bentoml slack channel?

[2020-05-25 17:08] #626 closed

[2020-05-25 17:08] #701 closed

[2020-05-25 18:05] parano opened #715 "Add a GUI for running inferencing job"
**Is your feature request related to a problem? Please describe.**

A tool to turn a BentoML saved bundle to a standalone "app" with GUI, that ml scientists can send to other non-technical users to run prediction job on their on computer.

Currently, BentoML provides CLI command to run a bundled model, take the quickstart guide for example(https://docs.bentoml.org/en/latest/quickstart.html), the u

[2020-05-25 19:13] kautukkundan commented on #715
Hey @parano
I wish to look after this feature

[2020-05-25 20:13] parano commented on #715
@kautukkundan sure thing! this feature is super open-ended tho, would be great if you can post your plans/design here for feedback before committing to implementing it. Happy to discuss more if you have any questions

[2020-05-26 07:46] parano opened #716 "Helm chart for deploying YataiService on Kubernetes"
Currently, there's only documentation for running YataiService instance with docker: https://docs.bentoml.org/en/latest/concepts.html#customizing-model-repository, to have a production-ready YataiService deployment, there are many extra steps the user has to take.

Todo:

* Add documentation on how to deploy a YataiService server to a Kubernetes cluster, with sample YAML files

* Add Helm chart fo

[2020-05-26 22:09] parano opened #720 "Improve `import bentoml` load time"
Running `import bentoml` has become very slow compared to a few releases before.  This is most likely coming from importing large dependencies while loading bentoml module.

We should be able to improve this by lazily loading the large dependencies.

[2020-05-27 01:00] parano opened #721 "[TEST/CI] Add tests covering TensorflowSavedModelArtifact"
Currently, there isn't any integration test covering the `TensorflowSavedModelArtifact`:

* Similar to PR #726, add a unit test assuming tensorflow pypi package installed, and create a BentoService with TensorflowSavedModelArtifact, test the major functionalities including save, load, run inference
* Build a docker container with the saved bundle and test the API server endpoint, see related PR #8

[2020-05-27 01:01] parano opened #722 "[TEST/CI] Add tests covering KerasModelArtifact"
Currently, there isn't any integration test covering the `KerasModelArtifact`:

* Similar to PR #726, add a unit test assuming keras and tensorflow pypi package installed, and create a BentoService with KerasModelArtifact, test the major functionalities including save, load, run inference
* Build a docker container with the saved bundle and test the API server endpoint, see related PR #855 and #87

[2020-05-27 01:03] parano opened #723 "[TEST/CI] Add tests covering PyTorchModelArtifact"
Currently, there isn't any integration test covering the `PyTorchModelArtifact` with the Tensorflow library. One reason for that is we did not want to include all ML framework libraries in our CI tests.

* Use this PR as a reference:  https://github.com/bentoml/BentoML/pull/726
* Add a unit test assuming `torch` pypi package installed, and create a BentoService with PyTorchModelArtifact, test the

[2020-05-27 01:05] parano opened #724 "[TEST/CI] Add tests covering XgboostModelArtifact"
Currently, there isn't any integration test covering the `XgboostModelArtifact`:

* Similar to PR #726, add a unit test assuming xgboost pypi package installed, and create a BentoService with XgboostModelArtifact, test the major functionalities including save, load, run inference
* Build a docker container with the saved bundle and test the API server endpoint, see related PR #855 and #871 which h

[2020-05-27 01:56] parano opened #725 "Support passing a conda environment.yml file to `@env`"
Currently, the user will need to pass in conda environment parameters individually, e.g.:

[code]

This can be tedious If the user already has a conda enviornment.yml file as the source of truth. BentoML should support taking a conda environment.yaml file directly, e.g.:
[code]

Feature suggested by Cameron T in the community slack channel.

[2020-05-27 08:25] mattiantonini commented on #693
hi!
It would be nice if it is possible to use also other images, e.g., alpine. Alpine-based images are usually much lighter than ubuntu-based images. However, apt is not available in alpine.

[2020-05-27 16:36] #711 closed

[2020-05-27 17:32] parano commented on #476
The `@env` decorator now supports custom docker base image: https://docs.bentoml.org/en/latest/api/bentoml.html#env

Users can now use this feature to create API server docker images that support GPU, related documentation and tutorials are coming soon!

[2020-05-27 17:32] #476 closed

[2020-05-27 21:41] #687 closed

[2020-05-28 15:22] palver7 opened #732 "got an error while trying to delete a bentoml sagemaker deployment"
**Describe the bug**
I tried to delete a deployment  but my attempt failed with this error message "delete() got an unexpected keyword argument 'n__namespace' "

**To Reproduce**
Steps to reproduce the behavior:
1. Run the aws configure command and  change the default region name field to ap-southeast-1
2. Follow the instructions in https://docs.bentoml.org/en/latest/deployment/aws_sagemaker.html

[2020-05-28 18:08] jesudasvf commented on #677
Thanks @Chaoyu, I was able to make bentoml work with my Keras Speech emotion classifier model. I did a manual visual inspection of the example benotml Keras text classification and my classifier code. I was able to find the differences and one difference in the import statement solved the problem.
I was able to serve the SpeechEmoClassifierService and connect to it with Rest APIs using the swagger

[2020-05-28 18:14] jesudasvf commented on #663
The new release of the bentoml 0.7.7 contains the resolution to this issue. The bentoml cli commands work well on windows.

(spemoenv) C:\SL_Projects\bentoml_keras_textclassifier\src>bentoml get KerasTextClassificationService
BENTO_SERVICE                                         AGE                     APIS                  ARTIFACTS
KerasTextClassificationService:20200528134039_19A4FF  2 hours an

[2020-05-28 19:01] parano commented on #732
Hi @palver7, what is the `click` version installed in your environment? You should be able to find that by running `pip freeze | grep click`

[2020-05-28 22:43] #668 closed

[2020-05-29 04:42] #667 closed

[2020-05-29 06:35] palver7 commented on #732
@parano I copied your command to my terminal and ran it but it did not show anything. Looking into the __init__.py file inside the click directory showed the version as 7.0

[2020-05-29 07:06] parano commented on #732
@palver7 you can also find the version from python `python -c "import click; print(click.__version__)"`

Could you try to update click to the latest version and try the `delete` command again and see if this error goes away?

You can update click with `pip install -U click`

[2020-05-29 08:15] parano opened #736 "API Handler refactor: API Input Output adapter"
One issue with the current BentoService API interface is that the user can not define the service output type easily and it is always handled implicitly by the framework. There are only a few supported return types that are loosely defined https://docs.bentoml.org/en/latest/concepts.html#api-function-return-value. This is convenient for simple use cases but makes it hard to customize for advanced

[2020-05-29 09:00] parano opened #737 "API Handler(Input Adapter) for Numpy array"
Similar to the DataframeHandler for handling input data in pandas.Dataframe format, add support for using NumPy array as API input.

User should also be able to provide type information about the NumPy array. And ideally user can provide a sample input data for BentoML to infer the input type, similar to https://github.com/microsoft/MLOps/blob/master/model-deployment/score.py#L20 (related implemen

[2020-05-29 15:35] palver7 commented on #732
@parano I updated to the latest click version 7.1.2 and the I still get the same error message. `Traceback (most recent call last):
File "/home/daniel/anaconda3/bin/bentoml", line 10, in
sys.exit(cli())
File "/home/daniel/anaconda3/lib/python3.7/site-packages/click/core.py", line 764, in call
return self.main(*args, **kwargs)
File "/home/daniel/anaconda3/lib/python3.7/site-packages/click/core.py",

[2020-05-29 19:07] parano opened #739 "Custom service web UI to replace default swagger UI"
* Currently when starting a BentoML API model server, it starts a simple web UI in addition to the API endpoints. This Web UI is generated with swagger API schema, it can be used for data scientists to test the API endpoint from a browser. But not ideal for a non-technical user to use.

* This proposal is to allow BentoML user to provide a tarfile when building a BentoService saved bundle, which c

[2020-05-29 22:40] yubozhao commented on #732
Thank you for discovering this bug! @palver7

The issue was caused by a missing comma between two option names `-n`, `--namespace` for the namespace param.  It is fixed in #741.

[2020-05-30 01:36] palver7 commented on #732
@yubozhao Thank you for telling me this. I inserted the comma as you said and it fixed the problem. Closing this issue now.

[2020-05-30 01:36] #732 closed

[2020-05-30 02:01] palver7 opened #742 "got internal server error when trying to invoke sagemaker endpoint"
**Describe the bug**
I am following the tutorial described in https://docs.bentoml.org/en/latest/deployment/aws_sagemaker.html. I got the expected results until I get to this part
![command that causes error](https://user-images.githubusercontent.com/42964197/83316687-6e039280-a251-11ea-835f-d0c459f250f8.png)

Instead of the output with the red characters, I got this message :
![error on terminal]

[2020-05-30 14:59] ssakhavi opened #744 "Add ImageOutput adapter"
**Is your feature request related to a problem? Please describe.**
I've managed to deploy a segmentation model but now I want to make the API in a way that the response header specifies the response in an image.

**Describe the solution you'd like**
The ability to specify the type of the header.

**Describe alternatives you've considered**
I can just write a code that curls the image and then proc

[2020-05-30 16:11] ssakhavi commented on #744
This is my workaround for the moment. I define an ```ImageHandler2``` like so:
[code]
and then define the output of my predictiont to be as so:

[code]

[2020-05-31 00:28] ssakhavi commented on #744
This is my workaround for the moment. I define an ```ImageHandler2``` like so:
[code]
and then define the output of my predictiont to be as so:

[code]

[2020-05-31 19:55] parano commented on #744
Hi @ssakhavi,  do you mean you want the API server response to be an image?

We are working on a new OutputAdapter API https://github.com/bentoml/BentoML/issues/736 which will allow the user to send a file or an Image as the output of their API.

Before that work is done, the easiest way to achieve this without modifying the handler code, is to encode the image file with base64, send back the base

[2020-06-01 02:36] ssakhavi commented on #744
Yes. I wanted to see the the results in the Swagger UI. That's why I needed to have a header with image mimetype.

[2020-06-01 05:29] parano commented on #744
@ssakhavi got it, that makes a lot of sense, I understand why that workaround worked for you now. Thanks for the great suggestion, the output adapter we are working on should be able to set the response mime-type properly. cc @bojiang

Expect this new output adapter API to be shipped with 0.8.0 in the next 2-3 weeks.

[2020-06-01 10:21] parano opened #747 "Validate artifact name string"
In BentoML, every artifact within a Service was given a unique name(unique within the Service itself).  The artifact name is used as the property name for accessing this artifact after loading from disk, e.g. `self.artifact.model`. The artifact name is also used as the sub-folder name in which related artifact files will be stored when saving a Service bundle, e.g. ``

Currently, when defining a S

[2020-06-01 10:55] palver7 commented on #742
@yubozhao update: I tried another tutorial, this time the tensorflow Fashion-MNIST classifier (https://github.com/bentoml/gallery/blob/master/tensorflow/fashion-mnist/tensorflow_2_fashion_mnist.ipynb) and tried the to deploy the bentoML service to AWS sagemaker. I ran the tutorial with JupyterLab on my computer.  When I get to the invoke endpoint step, a similar error occurred :

![error in jupyte

[2020-06-01 11:42] lemontheme opened #748 "[Proposal] Modify setup.py to bump minimum required Python version from 3.4 to 3.6.1"
The _Getting Started_ section of the README specifies that Python 3.6 is the minimum supported version. Travis runs tests against 3.6, 3.7, and 3.8; Tox, against 3.6 and 3.7.

Yet the value of `requires_python` passed to setuptools.setup() in _setup.py_ is `">=3.4"`, which means that both 3.4 (already EOL'd) and 3.5 (soon to be EOL'd) are legal options.

To be consistent, I propose we bump the ver

[2020-06-01 13:03] lemontheme opened #749 "[Proposal] Remove __future__ statements targeting backwards compatibility with Py2"
While going through the codebase, I noticed the majority of modules contain future statements for Python 2 compatibility. As far as I can see, it's always these three:

[code]

While working on a new module, I wasn't sure whether to include this boilerplate or not. On the one hand, I was more or less certain that it's a holdover from previous versions, since the project's docs claim support for Py

[2020-06-01 15:32] parano commented on #749
Great suggestion @lemontheme, those future imports should be removed when we dropped Python 2 support a few months back.

[2020-06-01 17:46] thomasrockhu opened #750 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-06-01 18:49] #670 closed

[2020-06-01 20:23] yubozhao commented on #742
Hi @palver7

It looks like this could be an issue of decoding `request.data` for the web server. I was unable to reproduce it with the fashion mnist example notebook with the latest master branch with the latest commit of 5d23859b.

Can you tell me which BentoML version or commit you are on when you create the BentoService and deploy it to the Sagemaker?

Also, could you try to make an request loc

[2020-06-02 03:51] #748 closed

[2020-06-02 04:23] palver7 commented on #742
@yubozhao  Here is the bentoml.yml file

![bentoml-yml](https://user-images.githubusercontent.com/42964197/83476487-1700f600-a4bb-11ea-8453-42f756123bf5.png)

Regarding point 1, how to check the encoding of the request ?

About point 3. I ran the docker and ran the curl request but I get a 400 bad request error

![bad request error](https://user-images.githubusercontent.com/42964197/83479587-3734b

[2020-06-02 04:29] yubozhao commented on #742
@palver7 for bullet point 1.  Can you try either `echo $LC_CTYPE` and/or `echo $LANG` in your terminal and see what is the result is?
For my MacOS, the value is `en_US.UTF-8`. Yours should be something similar.

[2020-06-02 05:09] palver7 commented on #742
@yubozhao  typing echo $LC_CTYPE prints empty line but typing echo $LANG prints en_US.UTF-8

[2020-06-02 06:17] parano commented on #742
Hi @palver7 could you share what's the output of `file -i test.json` after the `echo ...` line?

Could you also try sending the prediction request from the docker container running the API server? You will need to first get the ID of the docker container running the BentoML model server, it can be found in the `docker ps` list after running the container. You can access the running container with

[2020-06-02 07:50] palver7 commented on #742
the output of file -i test.json: test.json: text/plain; charset=us-ascii
sending the request to localhost inside the container still give the same error message as before :

![2nd_bad_request_error](https://user-images.githubusercontent.com/42964197/83494415-6f96ba00-a4e0-11ea-90b8-8c7c9be6362a.png)

[2020-06-02 10:11] jesudasvf opened #753 "Issue in building docker container for Keras classifier model on Win 10, Python 3.6.8, bentoml : 0.7.8"
When trying to build a docker container, for a successfully served keras based classifier model locally, on Window 10 machine, returns with a failure " /bin/bash: /bento/bentoml_init.sh: /bin/bash^M: bad interpreter: No such file or directory "

**To Reproduce**
1. Create a Keras model service in bentoml
2. Test the service by serving it locally and getting the prediction output
3. Use the service

[2020-06-02 17:19] jesudasvf commented on #753
Sure, Chaoyu, I will try as you mentioned and run the docker build.

Thanks,
Jesudas

On Tue, Jun 2, 2020 at 10:34 PM Chaoyu <notifications@github.com> wrote:

[2020-06-03 11:11] ssakhavi opened #754 "Automatic Update of BentoML Server Endpoint with new Model"
**Is your feature request related to a problem? Please describe.**
I have a model that has been deployed via docker. I have a new model and would like to add a new endpoint with a new version number to access the new endpoint. I don't want to rebuild the docker image and I want it to be done automatically.

**Describe the solution you'd like**
Assuming that we've deployed the model using a contain

[2020-06-03 22:50] yubozhao opened #755 "[Deployment]Azure function deployment operator"
**Is your feature request related to a problem? Please describe.**

Add Azure function support for the automated deployment management system.

Similar to AWS Sagemaker and AWS Lambda, users are able to deploy and manage BentoService to Azure function service with CLI tools, view deployment with YataiService UI.

Update documentation with Azure function deployment guide and example notebooks.

**D

[2020-06-04 08:06] jjmachan commented on #749
is anyone working on this?
I'm just starting and this will be a great one to get started

[2020-06-04 08:24] lemontheme commented on #749
Don't think so. I was going to do it, but got sidetracked by #720. Feel free to tackle this one :)

[2020-06-04 09:12] jjmachan commented on #749
Thanks man.... working on it

[2020-06-04 17:01] parano commented on #753
hi @jesudasvf, my bad, I mean the shell file where the error was coming from, it's the `./bentoml_init.sh` file under the saved bundle directory that needs this change.

[2020-06-04 17:25] jjmachan commented on #723
can I work on this?

[2020-06-04 17:57] parano commented on #723
@jjmachan sure thing!

[2020-06-04 18:14] parano commented on #723
@jjmachan make sure to rebase after https://github.com/bentoml/BentoML/pull/757 was merged tho

[2020-06-05 05:08] jjmachan commented on #723
got it!

[2020-06-05 07:26] jjmachan commented on #723
The unit test for PytorchArtifact should also be in /tests/integration_tests/ rt?

[2020-06-05 09:03] parano opened #758 "BentoML Artifacts Refactor: Support unload/load/pack dynamically"
**Is your feature request related to a problem? Please describe.**

There have been a number of user requests related to loading and unloading models artifacts dynamically lately and this is to add this support.

Use cases:
* Speed up BentoService development workflow - currently user always needs to figure out how to save the model and load it back, then test it with the BentoService class. Ideal

[2020-06-05 09:41] parano commented on #723
@jjmachan yes exactly!

Since it's actually importing PyTorch module, testing the interaction with PyTorch instead of using a mock, we categorize it as an integration test here. You may use the definition in this post as a reference for the terminology https://www.browserstack.com/guide/testing-pyramid-for-test-automation

[2020-06-05 09:49] parano opened #759 "[TEST/CI] Add integration test on generated API server docker image"
**Is your feature request related to a problem? Please describe.**

* Currently we don't have tests covering the behavior of generated Dockerfile and the docker image built from it (as described here https://docs.bentoml.org/en/latest/concepts.html#api-server-dockerization)

* Travis CI support docker and we can create an integration test that produces a BentoML saved bundle, build the docker API

[2020-06-05 09:50] jjmachan commented on #723
Also when we are creating the Pytorch model should we train it ? Right now what I'm planning to do is simply  do a forward propagation and check the result. That way the results are deterministic.

If we want to train the model also it might take more time.

[2020-06-05 10:05] parano opened #760 "Add support for Alpine based docker image"
**Is your feature request related to a problem? Please describe.**

Allow users to use `bentoml/model-server:0.7.8-alpine` as the base image, which is currently defined here:  https://github.com/bentoml/BentoML/blob/master/docker/model-server/Dockerfile-alpine

**Describe the solution you'd like**

Improve the `bentoml_init.sh` script to make sure it works on both debian and alpine based docker im

[2020-06-05 10:08] parano commented on #723
@jjmachan I think there's no need to train the model unless it's on a small toy dataset designed for this kind of testing. Your approach sounds great!

[2020-06-06 06:16] palver7 opened #763 "Error when creating custom handler class"
I created a custom tensorflow_tensor_handler class in order to help with debugging issue #742.
I put this class inside tensorflow_fashion_mnist.py and attempt to build the bentoservice bundle according to https://github.com/bentoml/gallery/blob/master/tensorflow/fashion-mnist/tensorflow_2_fashion_mnist.ipynb
Here are the content of tensorflow_fashion_mnist.py and the relevant code to create the be

[2020-06-06 06:20] parano commented on #763
cc @bojiang could you help take a look when you have a chance?

[2020-06-06 16:08] parano commented on #753
@jesudasvf does that change fix your docker build?

[2020-06-07 08:28] parano commented on #754
Thanks for the suggestion @ssakhavi  we are looking to support this as part of https://github.com/bentoml/BentoML/issues/754

Note that there are in fact lots of drawbacks to the Tensorflow-serving workflow. It almost works exactly like the old days where web developers will upload their PHP files directly to a server over FTP and expect Apache to load those scripts and website got updated. It is

[2020-06-07 18:28] parano opened #766 "[DOCS] Deploy model to SQL Server Machine Learning Services"
**Is your feature request related to a problem? Please describe.**

SQL Server Machine Learning Services allow running Python scripts within the database
https://docs.microsoft.com/en-us/sql/machine-learning/sql-server-machine-learning-services?view=sql-server-ver15

Since BentoML saved bundle can be installed directly via `pip`, it should be very straightforward to put a BentoML packaged model in

[2020-06-08 05:29] #723 closed

[2020-06-08 10:22] jjmachan commented on #759
is anyone working on this?
else I'll like to work on this

[2020-06-08 13:31] iancoffey commented on #620
Id love to contribute toward this in some way, particularly kfserving and/or prometheus bits :)

[2020-06-08 14:33] parano commented on #759
@jjmachan  I don't think anyone is working on it, feel free to take it

[2020-06-08 14:34] #624 closed

[2020-06-08 14:34] #621 closed

[2020-06-08 14:34] #509 closed

[2020-06-08 14:42] parano commented on #763
hi @palver7  looks like #767 has the fix you need. I think you can also override the `config` method in your inherited method as the following as a temporally workaround:
[code]

[2020-06-08 16:14] jjmachan commented on #759
great!

[2020-06-08 17:13] parano commented on #620
hi @iancoffey, I will make sure to keep you in the loop as we design and roll out this feature, could you ping me in the BentoML slack?

[2020-06-09 00:46] #763 closed

[2020-06-10 13:40] iancoffey opened #775 "add a retrieve cli cmd"
**Is your feature request related to a problem? Please describe.**

I want to use bentoml in my CI pipeline, and to do so, I want to be able to have a `bentoml retrieve` type cmd. This command would retrieve the model and artifacts and put them in the specified directory. This creates a really interesting capability for the rest of the pipeline to make use of the service. EG:

`bentoml retrieve Mo

[2020-06-11 11:56] kautukkundan commented on #715
@parano actually I got engaged with some other work. I'm sorry I should've informed earlier 😅 I'll be able to start contributing to this project again only after some time.

[2020-06-13 00:44] Korusuke commented on #491
Hey!
I would like to work on this if no one else is already working on it.

Here are some preliminary thoughts:

- Currently, when you start the BentoML API model server, in the Web UI under Infra tag there are 4 options but the schema for feedback is not defined hence the "Try it out" button doesn't work perfectly. Is this intentional or a feature in progress?

- Also for `healthz` endpoint, sinc

[2020-06-16 01:06] #524 closed

[2020-06-16 01:18] parano commented on #491
Hi @Korusuke, thanks for proposing the solution:

It would be nice to add a response type to the "feedback" and "healthy" endpoint's swagger definition. I believe it was just not yet implemented.

That's a great idea!  With the latest release and new Input/Output adapters API, the best place to add this parameter would be `BaseInputAdapter`

[2020-06-16 05:41] parano opened #805 "[TEST/CI] Add integration test on dockerized API model server endpoint"
**Is your feature request related to a problem? Please describe.**

There's no end-to-end test covering API server and micro-batching handler.

**Describe the solution you'd like**

* Create an integration test that creates a Saved Bundle, builds an API server docker image, start a container with the image, and send test requests to the container
* Run the same set of tests again with `--enable-mi

[2020-06-16 06:12] bojiang opened #806 "Multiple Image Inputs support"
**Is your feature request related to a problem? Please describe.**

The new ImageInput with micro-batching support does not allow multiple image inputs, comparing to the old ImageHandler

**Describe the solution you'd like**
Add `bentoml.adapters.MultiImageInput` input adapter type:

[code]
        class MyService(BentoService):
            @bentoml.api(input=MultiImageInput(input_names=('imageX',

[2020-06-17 13:18] jondoering opened #811 "--enable-microbatch raises error in 0.8.1 with XGboost example"
**Describe the bug**
BentoML throws an errotr when --enable-microbatch.

The model was build using the XGboost Titanic example https://nbviewer.jupyter.org/github/bentoml/gallery/blob/master/xgboost/titanic-survival-prediction/xgboost-titanic-survival-prediction.ipynb

**Screenshots/Logs**

[2020-06-16 20:13:03,530] ERROR - Exception on /predict [POST]
Traceback (most recent call last):
 File “/Us

[2020-06-17 16:41] dcferreira opened #812 "--enable-microbatch breaks in text files with "," in it"
**Describe the bug**
When microbatch is enabled, a JSON input is (badly) converted to CSV, and a dataframe is generated from this CSV (I couldn't find any option to avoid this conversion, please let me know if such an option exists).
Therefore, when a text field has the separator character (`,`) in it, it breaks. I suspect other characters might also break it (`"`, `\n`).

I'm not 100% sure I'm us

[2020-06-17 18:07] alexnsfx opened #813 "TfTensorOutput casts floats as ints"
**Describe the bug**
`TfTensorOutput` casts floats as ints in tensor output because of `bentoml.adapters.utils.tf_tensor_2_serializable()`.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a Tensorflow 2.0 model that returns float output
2. Define a BentoService that uses TfTensorOutput. TfTensorOutput is implicitly used by DefaultOutput when no output adapter is defined like below:
[c

[2020-06-17 20:04] parano commented on #813
cc @bojiang

[2020-06-17 20:08] parano commented on #812
@bojiang it probably makes more sense to separate batching JSON and CSV requests?

I think it is ok to add a parameter to DataframeInput to specify the content type to only JSON or CSV if that makes more sense for micro batching implementation, e.g.:

[code]

[2020-06-17 23:56] jondoering commented on #811
@bojiang
After applying this fix the service now fails with following error:

 macbooks-mbp-2:bentoml-dev Jonathan$ bentoml serve-gunicorn '/Users/jonathan/bentoml/repository/TitanicSurvivalPredictionXgBoost/20200616225811_5E4522' --enable-microbatch
[2020-06-18 00:51:57,004] INFO - get_gunicorn_num_of_workers: 5, calculated by cpu count
[2020-06-18 00:51:57,023] INFO - Running micro batch service

[2020-06-18 04:09] ssakhavi commented on #744
For those who are interested, this is my solution based on the new adapter introduced in version 0.8.1:

1. First, we create a new OutputAdapter which receives a **Pillow** `Image` and sends the response out via the **Flask API**.
[code]
2. In the bento service definition, we add the new output adapter `ImageOutput` to the `bentoml.api` decorator:

[code]
**Note:**: the input and output should be

[2020-06-18 05:10] #811 closed

[2020-06-18 05:42] bojiang commented on #811
@jondoering Oh I see. This is a special case if you followed master branch these days.
This happened when loading a bundle saved with released bentoml==0.8.1.

[2020-06-18 07:07] #812 closed

[2020-06-18 08:43] bojiang commented on #812
@dcferreira Thanks for your feedback!

* Fixed in PR #814
* More cases added to the test of DataframeInput https://github.com/bentoml/BentoML/blob/master/tests/handlers/test_dataframe_handler.py#L153
* As I mentioned in doc strings, the conversion before pandas.read_csv/read_json is necessary because it is N(batch size) times faster than an iteration of a batch of JSON inputs with pandas.read_csv.

[2020-06-18 12:49] jondoering commented on #811
@bojiang thanks - what is the suggested fix for that - could not find anything in issues.

[2020-06-18 13:43] bojiang commented on #811
@jondoering The temporary solution is to save the model again with the master version of bentoml. I'll push a fix before next release.

[2020-06-18 13:48] bojiang commented on #811
This PR https://github.com/bentoml/BentoML/pull/818

[2020-06-18 17:22] parano opened #819 "Add --print-location option to `bentoml get` command"
**Is your feature request related to a problem? Please describe.**
See related discussions here: https://github.com/bentoml/BentoML/pull/810#pullrequestreview-432731488

Currently, we've been using `jq` to do this in our documentation:
[code]
But this approach requires installing `jq`

**Describe the solution you'd like**

Would be great to allow the user to get just the saved location, without jq

[2020-06-18 18:54] parano opened #820 "Add python version mismatch warning"
**Is your feature request related to a problem? Please describe.**

Currently, when the user saves a BentoML bundle, the `bentoml.yml` file under the bundle directory contains the Python version in which the bundle was created.

When deploying with Docker, bentoml ensures that the python version matches the saved bundle python version. Although when the user is using a custom docker image, or when

[2020-06-18 21:34] #775 closed

[2020-06-18 23:11] spencersmith commented on #631
I'm still getting this issue after the first deployment to lambda.

Running version 0.8.1 or bentoml.

The first deployment worked for the most part, however subsequent deployments do not.

[2020-06-18 23:23] parano commented on #631
cc @yubozhao could you help take a look?

[2020-06-19 18:13] parano commented on #491
Thanks @Korusuke  for the contribution, this will be available in the next release 0.8.2, scheduled for next Monday.

[2020-06-19 18:13] #491 closed

[2020-06-19 18:14] parano commented on #747
Thanks @AlexDut for the contribution, this will be released in 0.8.2

[2020-06-19 18:14] #747 closed

[2020-06-20 00:13] yubozhao commented on #631
Hi, @spencersmith, I tested deploying and updating with the quick start example BentoService with `us-east-1` region. Unfortunately, I wasn't able to reproduce the boto3 ClientError about InvalidLocationConstraint error for creating Bucket.

Can you share your boto3 version and what region you are deploying into?

[2020-06-20 19:41] akainth015 commented on #806
[code]
Why do we want to use this instead of passing along all of the files and letting the consumer decide which files they will use?

[2020-06-21 06:01] jackyzha0 commented on #819
@parano would love to take this on!

[2020-06-21 19:29] jackyzha0 commented on #696
@parano would love to take this on too 👀

[2020-06-22 00:54] parano commented on #806
@akainth015 great question, I think it makes sense to support inputs of a variable-length list of files/images instead of only fixed-length, named images.   The original design allows us to give the user a `columnar` look of a batch of input, e.g. `{'image1': [<image_file>, ...], 'image2': [<image_file>] }`, but I think it makes more sense to group input images in rows considering this case, e.g.

[2020-06-22 02:25] #760 closed

[2020-06-22 05:40] bojiang commented on #806
The current design is exactly what you said:
[code]
->
[code]

In most cases, the API developer doesn't need file inputs with dynamic names. The `input_names` would be useful for API users, for example, shown in the swagger.

[2020-06-22 09:21] bojiang opened #827 "Type checking & PEP 563"
We may introduce type checking to BentoML in the future. But when trying to add more type annotations, I met many problems about lazy import and optional dependencies.

PEP 563 will solve this by making all type hints be strings and skip evaluating them if typing.TYPE_CHECKING is False(When checking type with mypy it would be True).

PEP563 requires Python 3.7+

[2020-06-23 23:28] HenryDashwood opened #832 "nginx.conf seems to be missing in 0.8.1"
Error happens immediately after calling `bentoml sagemaker deploy`, specifically in a Sagemaker notebook instance. I installed 0.8.1 locally as well and the nginx.conf file wasn't there either. Not sure at what point the file should be created. The problem doesn't occur in 0.7.8.
[code]

[2020-06-24 00:15] parano commented on #832
This got fixed in #834, it will be in the release 0.8.2

[2020-06-24 00:15] #832 closed

[2020-06-24 03:33] #819 closed

[2020-06-24 03:34] parano commented on #813
Addressed in #823, will be available in release 0.8.2

[2020-06-24 03:34] #813 closed

[2020-06-24 03:34] #755 closed

[2020-06-24 03:35] parano commented on #755
Implemented in #801, will be available in beta state in release 0.8.2

[2020-06-24 03:35] parano commented on #753
closing now as there's no response, feel free to reopen if you still have this issue @jesudasvf

[2020-06-24 03:35] #753 closed

[2020-06-24 03:39] #736 closed

[2020-06-24 03:39] parano commented on #736
This was done and available in BentoML 0.8.x

[2020-06-24 04:30] parano commented on #742
Hi @palver7, sorry for the delayed reply on this one,  could you add `-v` option to your curl command so we can see the full request header? thanks!

[2020-06-24 08:05] parano commented on #677
Thanks for the detailed notes @jesudasvf - your import statement is actually expected to work, the KerasModelArtifact in bentoml works with both `tf.kears` and `keras`. Could you help verify if there's a _keras_module_name.txt file under the saved bundle created? If so, what is the content?

You do need to ensure the Keras module is consistent - if you `pack` the model with `tf.keras`, it must be

[2020-06-24 08:07] parano commented on #693
@mattiantonini we implemented a Debian-slim based docker image(very light just like alpine but a lot easier to work with) and it is now available in 0.8.1

[2020-06-24 08:07] #693 closed

[2020-06-24 08:08] #647 closed

[2020-06-24 14:42] Korusuke commented on #739
Hey @parano, I would like to work on this if no one else is already working on it

[2020-06-24 16:17] palver7 commented on #742
@parano, here is the output with the test.json created as directed

![curl error message](https://user-images.githubusercontent.com/42964197/85592892-c1aaa580-b670-11ea-98cf-48c5c34e8c57.png)

[2020-06-24 16:31] parano commented on #742
@palver7 did you specify content-type header in this CURL command? could you include the curl command used in the screenshot?

[2020-06-24 16:35] palver7 commented on #742
![curl error message](https://user-images.githubusercontent.com/42964197/85595666-439bce00-b673-11ea-8f32-825d7e967a19.png)

@parano here is the screenshot with command included

[2020-06-24 16:41] parano commented on #742
@palver7  I see, I think it should not be `--data-binary` in this case, can you try changing it from `--data-binary @test.json` to `-d @test.json` instead?

[2020-06-24 16:48] palver7 commented on #742
@parano with this command : curl -X POST "http://127.0.0.1:5000/predict" -H "Content-Type: application/json" -d @test.json -v

the error message is still the same, ending with

<p>The browser (or proxy) sent a request that this server could not understand.</p>
* Closing connection 0

[2020-06-24 19:16] parano commented on #739
Thanks, @Korusuke, let me know if you have any questions about it

[2020-06-24 22:34] xiwang129 commented on #623
Hi @parano, I am interested in taking this task. I have been trying out BentoML for the past few weeks. I would like to create this end-to-end guide using the IMDB movie review dataset with BERT. Thanks!

[2020-06-24 23:31] parano commented on #623
@xiwang129 awesome! just assigned this issue to you, let me know if you want early feedback or have any questions!

[2020-06-25 16:38] marclipoff opened #842 "Cannot specify bucket by self for yatai server"
**Describe the bug**
Cannot specify a s3 location with bucket along for yatai-server repo location

**To Reproduce**
docker run -p 3000:3000 -p 50051:50051 -d bentoml/yatai-service:0.8.1 --repo-base-url s3://bucket_name

This will cause the model path to be like s3://bucket_name//model
(not the double /)

Workaround is to add a path to the report-base-url, such as
docker run -p 3000:3000 -p 50051:

[2020-06-26 10:10] dcferreira opened #848 ""OSError address already in use" when running "bentoml serve" with --enable-microbatch"
**Describe the bug**
The microbatch functionality is broken with the latest update.
From the error message, I'd guess that some service is bound to port 5000, and the microbatch service also tries to bind itself to that port.

**To Reproduce**
Steps to reproduce the behavior:
1. Make any bentoml server.
2. Run it with ``--enable-microbatch``.

**Expected behavior**
In v0.8.1, a server is launched,

[2020-06-26 13:20] palver7 commented on #742
@Parano I have four  cases in trying to deploy prediction on my local machine:

1. if I change the content of test.json file from
{\"instances\":[{\"b64\":\"...\"}]}
to
{"instances":[{"b64":"..."}]}
and run the the curl as above then I get "Ankle boot" with no error messages.

2. if I changed the test.json file as above but implementing my custom tensorflow handler class in the service bundle file

[2020-06-26 14:36] Korusuke commented on #661
Hey @parano, I would like to work on this!
Although it might take me a while to implement this as I have never really worked with S3/GCS.

[2020-06-26 17:41] parano commented on #848
Hi @dcferreira - I've noticed this issue too, it only appears when you use `bentoml serve` command tho, which is meant for development use only.  The `bentoml serve-gunicorn` (soon to be renamed as `bentoml serve --production`) should still work for `--enable-microbatch`

[2020-06-26 18:18] yubozhao opened #849 "Better integration with Azure application insight and Azure monitor"
**Is your feature request related to a problem? Please describe.**

Right now, logging on Azure Functions deployment is not properly setup. Users need to do a lot of work to find and retrieve the prediction logs and the feedback logs.

With better integration, a user is able to log into the Azure web portal to view deployment performance with Azure application insight.  The user should also able t

[2020-06-26 19:21] parano commented on #661
Thanks @Korusuke, this is a non-trivial task and indeed it might take some time to get familiar with the codebase and S3/GCS.  Happy to jump on a call and help you walk through some of the components related to building this if you think that could be helpful, I'm always available in slack in you have any questions too.

[2020-06-26 19:51] Korusuke commented on #661
Thanks @parano
I will try some stuff out over the weekend.
And if by Monday I am not able to understand somethings, we can hop on a call!

[2020-06-26 20:27] dcferreira commented on #848
For what it's worth, I first noticed it in the docker container, rather than ``bentoml serve``.

[2020-06-26 22:29] parano commented on #848
Hi @dcferreira, I tried with the API server docker container but can not reproduce it. Did you change the docker container's `command` to `bentoml serve`?

For example, I have built a docker image called `parano/test` with the IrisClassifier example in the quick start guide, and with the following docker run, I can not reproduce the issue:
[code]
or the equivalent:
[code]

I can, however, reproduc

[2020-06-27 07:49] dcferreira commented on #848
I quickly checked it again with my example to make sure, and it doesn't work. I can devote some more time to this on Monday.

But for now, I used the example service in #812, and built the docker image ``testserver``.
[code]
Then access the UI on port 5000, and send a request; a 500 error is output, without any record of it in the logs.
You can also try the client code from the same example, with

[2020-06-28 15:28] Sharathmk99 opened #850 "Permission issue while build docker image"
**Describe the bug**
Using windows machine to build bundle and copying the saved bundle to linux machine for building docker image. Facing permission error for docker-entrypoint.sh and bentoml-init.sh files

**To Reproduce**
Steps to reproduce the behavior:
1. Build ML model on windows machine
2. Copy saved bundle to linux machine for building docker image
3. Run docker build -t bentoml-test .
4.

[2020-06-28 18:18] Sharathmk99 commented on #666
@parano Do you want to consider https://github.com/combust/mleap for deploying spark models to production

[2020-06-29 16:15] parano commented on #666
@Sharathmk99 mleap is probably not a good fit here. However it is possible for BentoML to convert Spark MLlib models and sklearn models to run with mleap when deploying with Spark.

[2020-06-29 16:26] parano commented on #850
Fixed in #851

[2020-06-29 16:26] #850 closed

[2020-06-29 16:40] parano commented on #848
Thanks again for reporting this @dcferreira

I think there are actually two issues here:

* DataframeInput has some issue handling micro-batching requests, which caused the 500 error. I can reproduce the same issue. cc @bojiang
* Running `bentoml serve` with --enable-microbatch locally will always fail with the `address already in use` error

[2020-06-29 19:34] PrabhanshuAttri commented on #766
@parano Is this documentation or new feature addition? It isn't clear to me.

[2020-06-29 20:20] dcferreira commented on #848
Ah ok, then I was unfortunate that the symptoms were the same :P
Thanks for checking this.

If you prefer, I can open a new issue for the ``DataframeInput``.

[2020-06-29 21:23] parano commented on #848
Thanks @dcferreira that'd be great! I will look into a fix later today

[2020-06-29 21:30] parano commented on #766
Hi @PrabhanshuAttri, apologize for the confusion, I edited the issue description to make it more clear.  I think adding documentation is gonna be helpful for lots of forks and probably the preferred first step before automating it. let me know if you are interested in looking into this issue, happy to discuss more

[2020-06-30 02:23] ssakhavi commented on #622
First, Can I ask what is the current status of this issue?

Second, is it possible to connect the `YataiService` to the MLFlow registry?

[2020-06-30 05:12] dcferreira opened #856 "DataframeInput can't handle micro-batched input as of v0.8.2"
As discussed in #848, there seems to be some problem with ``DataframeInput``, in that it can't handle micro-batching.

**To Reproduce**
Steps to reproduce the behavior:
1. Take the example service described in #812 (or any other example that uses ``DataframeInput``)
2. Serve the server with gunicorn, with ``--enable-microbatch``.

**Expected behavior**
The ``size`` endpoint from the example servic

[2020-06-30 05:45] parano commented on #856
Just discussed with @bojiang - this is a regression introduced recently when we were adding proper JSON input orient support in DataframeInput. A fix is coming out soon #857, we will do some more testing and release a patch to include this fix.

We are also working on an end-to-end test that covers this critical path r(#855), which should help us avoid this type of issue in the future.

[2020-06-30 06:05] bojiang commented on #848
ref: https://flask.palletsprojects.com/en/1.1.x/server/#in-code

[code]

[2020-06-30 06:06] #856 closed

[2020-06-30 16:40] #848 closed

[2020-06-30 20:17] yubozhao commented on #842
@marclipoff This bug was resolved in version `0.7.6`.  Since that version, if only the S3 bucket is provided, the BentoService's name will become the directory name.

[2020-06-30 20:17] #842 closed

[2020-06-30 20:33] parano commented on #842
Hi @marclipoff, could you confirm the BentoML version you were using?  I can not reproduce with the command provided in the issue description with version 0.8.1

[2020-07-01 00:50] parano commented on #622
@ssakhavi we're working on a design doc and will share it in the mailing list

YataiService is not really built to work with MLFlow registry. You can however pull model saved in MLFlow registry and save it to YataiService for production deployment in your CI/CD workflow.

[2020-07-01 18:06] akainth015 commented on #827
I will start taking this on, and I've had a look through PEP 563](https://www.python.org/dev/peps/pep-0563/).

[2020-07-01 19:53] jackyzha0 commented on #716
would love to take this on!

[2020-07-02 14:50] Rasen-wq opened #862 "DataFrame Input - pass NaN values in JSON Request"
**Describe the bug**

Hi, I am trying BentoML with DataFrameInput and the Titanic Dataset following this [notebook](https://github.com/bentoml/gallery/blob/master/lightbgm/titanic-survival-prediction/lightbgm-titanic-survival-prediction.ipynb). In this dataset there are None values.

I am sending the following data content, in this case the null value is casted to None and not to `NaN`:
`'{"Pclass

[2020-07-02 15:28] Rasen-wq commented on #862
The problem can be easily workaround using the JSON Input, I still think it makes sense to raise the issue when using the DataFrame Input:
<img width="477" alt="Screenshot 2020-07-02 at 16 24 22" src="https://user-images.githubusercontent.com/17594750/86377940-ea3e2b00-bc80-11ea-8e78-bcff5d0e7689.png">

[2020-07-03 07:57] bojiang commented on #827
The problem is, shall we discard the Python 3.6 support?

[2020-07-06 17:48] akainth015 commented on #827
I think we will have to do so, but I don't think it would be a big issue since 3.6 > 3.7 should not require any code changes.

If only there were `.d.ts` files for Python :disappointed:

[2020-07-06 18:12] parano commented on #827
Does adding the type annotations will break BentoML's py3.6 support? or it just means type annotations will be ignored in py36?

[2020-07-06 19:35] akainth015 commented on #827
It breaks it because running `from __future__ import annotations` causes a syntax error. You can see this in [this build](https://travis-ci.org/github/bentoml/BentoML/jobs/704397142)

[2020-07-06 23:17] parano commented on #862
Thanks for reporting this @Rasen-wq,  I think your suggestion makes sense, I'm not sure why the `dtype` was set to false.

@bojiang thoughts?

[2020-07-07 05:04] #805 closed

[2020-07-07 05:11] #862 closed

[2020-07-07 05:46] #739 closed

[2020-07-07 05:54] parano commented on #827
@akainth015  I see.  I think currently we can not drop Python 3.6 support yet, a lot of users are still on Python 3.6 at the moment.  We should probably get started with adding type annotations without PEP563, and we can migrate to PEP563 later when we were ready to drop 3.6 support(probably in 2021 when the official Python 3.6 support is ended)

[2020-07-07 06:49] bojiang commented on #827
Okay

[2020-07-09 00:11] calclavia opened #873 "PytorchModelArtifact support JIT traced models"
**Is your feature request related to a problem? Please describe.**
It would be great if PytorchModelArtifact could support Pytorch JIT traced models.
JIT produces more compact model artifacts and is more suitable for prod applications.
https://pytorch.org/docs/stable/jit.htm

**Describe the solution you'd like**
Change PytorchModelArtifact to accept Pytorch JIT models.

[2020-07-09 00:43] highvight commented on #720
Import times of individual modules (on my machine) with [tuna](https://github.com/nschloe/tuna). The big ones:

1. numpy (22.8%)
2. google.protobuf (12.9%)
3. aiohttp (11.1%)
4. flask (10.8%)
5. requests (8.1%)
6. py_zipkin (6.7%)
7. boto3 (6.4%)

![import_times](https://user-images.githubusercontent.com/25797927/86983224-9f924680-c18b-11ea-905a-5257fb477abd.png)

[2020-07-09 02:26] joshuacwnewton commented on #721
Hi @parano. I'm a student in the MLH Fellowship program. I'd like to begin working on this issue. Thanks! :)

[2020-07-10 06:53] #696 closed

[2020-07-11 06:14] guy4261 opened #880 "[Question] Serving without Docker?"
Hello,

Did you ever try to run the model directly on the environment - without the Docker wrapping it and bringing its overheads and hurting the performance?

Namely, if I go through the quick-start and then do this:
[code]

Do you see any problems in doing that - aka any warning you can give me in advance?

Thanks!

[2020-07-11 06:55] parano commented on #880
@guy4261 I think as long as you make sure that all dependencies specified in the `requirements.txt` and `environment.txt` under saved bundle are installed properly(that `bentoml serve-gunicorn .` does not install the dependencies for you),  this should just work.

Although for serving production workloads, we do recommend using Docker for deployment. Besides the benefits docker provides, there sho

[2020-07-11 06:59] parano commented on #880
@guy4261 I think as long as you make sure that all dependencies specified in the requirements.txt and environment.txt under saved bundle are installed properly(that bentoml serve-gunicorn . does not install the dependencies for you), this should just work.

Although for serving production workloads, we do recommend using Docker for deployment. There should be very little performance overheads of r

[2020-07-11 07:28] guy4261 commented on #880
Thanks @parano ! That's great news for me. I'm deploying to a Mac right now (for production - yes, an odd setting...) so that's wonderful to hear.

[2020-07-11 07:28] #880 closed

[2020-07-11 08:37] guy4261 commented on #880
Sorry I nagged! I see now that this is written here:

https://docs.bentoml.org/en/latest/concepts.html#online-api-serving

Just wanted to make sure. Thanks again.

[2020-07-11 16:42] #68 closed

[2020-07-11 16:43] parano opened #881 "Add API for storing trained model metadata"
**Is your feature request related to a problem? Please describe.**

There are many existing libraries and platforms providing amazing metrics tracking capabilities, e.g. [MLFLow's auto logging](https://www.mlflow.org/docs/latest/tracking.html#automatic-logging) and [Comet.ml's hosted solution with very nice UI](https://www.comet.ml/site/).

In a typical ML workflow, the data science team in the mo

[2020-07-11 16:43] parano commented on #68
closing in favor of #881

[2020-07-11 17:13] parano commented on #286
Revisited this issue again and I think it is now very hard to re-use the logic from multiple handlers(input adapters) and composing them, especially with the introduction of micro-batching, which makes the API request handling logic a lot more complex.

I think for your use case where you need handling an image and some extra metadata, the best way to do it is to use JsonInput and use base64 to en

[2020-07-11 17:13] #286 closed

[2020-07-11 17:15] parano commented on #620
Closing this older ticket now, I will create individual tickets for each of the issues mentioned above, along with a detailed roadmap for K8s integration.

[2020-07-11 17:15] #620 closed

[2020-07-11 17:44] parano commented on #631
hey @spencersmith, are you still experiencing this issue?

I think this exact issue(`InvalidLocationConstraint` with us-east-1 region) should have been fixed in 0.8.1, you might be experiencing a different issue (or our fix did not work). Could you provide the exact error logs if you still have it or if you can still reproduce this issue?

[2020-07-11 19:38] guy4261 opened #883 "Why MultiImageInput (from master) forces you to wrap API return value with a list?"
Hello,

I `pip install -e .` the latest `master` branch, in order to use the `MultiImageInput` adapter.

[Looking at the code](https://github.com/bentoml/BentoML/blob/master/bentoml/adapters/multi_image_input.py#L101-L107), I see:

[code]

Why is `[0]` applied to `func((files,))`? It forces me to also return an object wrapped in a list:

[code]

Which is something I can do - but I don't understand

[2020-07-11 20:43] parano commented on #883
Hey @guy4261  -  related documents for this are coming out soon. basically the user-defined API functions are expected to take a list of inference inputs and return a list of outputs(see
https://docs.bentoml.org/en/latest/concepts.html#api-function-and-adapters). This makes it possible to do adaptive micro-batching, which brings a huge performance advantage to your online serving workloads.

[2020-07-11 20:54] guy4261 commented on #883
Thanks @parano !

I understand that to support microbatching, a `@bentoml.api` accepts and returns a list of predictions.

But if `ret` in my example is a list, what I would get back is just the first item (because of the `[0]` [here](https://github.com/bentoml/BentoML/blob/master/bentoml/adapters/multi_image_input.py#L101-L107)). I tried that and that's the way this works right now.

So why
`resu

[2020-07-11 21:17] guy4261 commented on #883
I get it now - `files` are wrapped in a tuple (hence `(files,)`), and likewise the result should be wrapped in a list/tuple.
But if you wrap `files` in a tuple, then take the first results `[0]` of the result,
wouldn't it be simpler to do neither of these?

How does wrapping exactly one item / unwrapping the results (taking the first or `[0]` result) supports microbatching?

[2020-07-12 02:51] parano commented on #883
From the user's perspective, it's just implementing the API function and make sure it takes a list of inputs, and return a list of outputs, and make sure they have the same length and order.

For example, if your model takes a JSON list as input:

[code]

[2020-07-12 03:07] parano commented on #742
Hey @palver7 - are you still experiencing this issue with the latest release of BentoML?  It might be helpful for us to do a quick call and have you show me how you reproduce the issue and we can do an interactive debug session.  Feel free to ping me in the BentoML community slack channel if you'd like to do that.

[2020-07-12 04:56] guy4261 commented on #883
OK - got it! I got back to another api I had on this bento which has `JsonInput`. What worked when I `pip install bentoml` does not work from the editable install of `master`. So now I realize the change.

So now the API is that of microbatching (even if it's not enabled btw?) and the API endpoints receive batches (=lists) of inputs:
* `JsonInput` receives a list of JSONs,
* `MultiImageInput` rece

[2020-07-12 18:21] guy4261 commented on #883
Got it. Thanks! Looking forward for the new version with its updates and whatnot.

Thanks for BentoML!!!

[2020-07-12 18:21] #883 closed

[2020-07-12 19:07] parano commented on #827
@bojiang @akainth015 closing this ticket since we prefer to keep Python 3.6 support for now.  I think we should still go back and add type annotations whenever possible in the project, especially for the user-facing APIs. Those will help the end-user to better understand BentoML API's expectation on data types and makes the development process easider.

[2020-07-12 19:07] #827 closed

[2020-07-12 20:11] parano commented on #715
Closing this for now since we've recently added custom Web UI that's probably gonna be a better solution than this proposal in most use cases https://github.com/bentoml/BentoML/pull/839

[2020-07-12 20:11] #715 closed

[2020-07-12 20:13] #720 closed

[2020-07-12 20:26] parano commented on #699
Closing this ticket now since we already have lots of Kubernetes related deployment documents https://docs.bentoml.org/en/latest/deployment/index.html  and EKS should be compatible with all those docs

[2020-07-12 20:26] #699 closed

[2020-07-12 22:23] parano opened #886 "GPU Support"
**Is your feature request related to a problem? Please describe.**

Currently, in order to serve models on GPU instance with BentoML, the user is asked to manage how the GPU drivers and related libraries are installed on the production server. They will need to either manually install all dependencies and run `bentoml serve` command on the server, or use custom docker base image or the `setup_sh`

[2020-07-13 00:03] parano opened #888 "Add labels and label selection API to YataiService model registry"
Add `labels` concept to BentoML bundle and YataiService. Labels are key/value pairs that are attached to a BentoML saved bundle, similar to the `labels` concept in Kubernetes: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

Example labels:

* "app": "fraud-detection", "product-recommendation", ...
* "team": "fraud-detection-team", "product-recommendation-team", ...
* "us

[2020-07-13 00:28] joshuacwnewton commented on #820
Hi @parano. I've started to look into this a little. :)

For figuring out the saved bundle's python version, I see there is a `python_version` in the `env` category in a saved bundle's `bentoml.yml` config file. This value comes from the user's installed python version I believe, see the following links:
* [[**code that saves env config to .yml**]](https://github.com/bentoml/BentoML/blob/master/be

[2020-07-13 00:48] parano commented on #820
@joshuacwnewton great questions! The problem we are trying to solve is when the training environment and serving environment has a different Python version.

For example, I run the quickstart guide on my laptop which as python 3.6:
[code]

Now since BentoML takes the python version from current environment, in this saved bundle, the python_version in bentoml.yml file will be 3.6 matching the versi

[2020-07-13 05:51] parano opened #889 "YataiService Events API & UI"
### The problem

YataiService's database currently only stores active deployments and their states in the `deployments` table: https://github.com/bentoml/BentoML/blob/master/bentoml/yatai/deployment/store.py

The YataiService no longer knows about a deployment and its configurations once it's being deleted.  And if the user updates the Deployment spec, YataiService no longer knows about the previo

[2020-07-13 05:53] parano opened #890 "feat: Support distributed batch inferencing job on Apache Spark cluster"

[2020-07-13 06:04] parano opened #891 "Test dockerized API Server in artifact integration test"
There are currently 3 model artifact integration tests under the `test/integration/` directory: https://github.com/bentoml/BentoML/tree/e656c2d79965535eaa8228f925b0578520038528/tests/integration

We currently only test saving and then loading a BentoService with the artifact type being tested within the same python session.  We would like to extend the coverage to fully testing the generated API s

[2020-07-13 07:11] jackyzha0 commented on #886
this seems super cool and I would wanna try this after #716 but who knows how long that will take :joy: If anyone else is also interested, feel free to take a stab at it

[2020-07-14 01:46] oonisim opened #892 "Yatai does not handle the STS assumed role in operator.get_arn_role_from_current_aws_user()"
**Describe the bug**
Yatai causes the error:
[code]

because [bentoml/yatai/deployment/sagemaker/operator.py](https://github.com/bentoml/BentoML/blob/master/bentoml/yatai/deployment/sagemaker/operator.py) does not handle assumed role by checking type_role[0] is either "user", "root", or "role".

[code]

However, as in [Boto3 STS get_caller_identity] (https://boto3.amazonaws.com/v1/documentation/ap

[2020-07-14 03:02] oonisim commented on #892
Put a quick change.
[code]

But got an error. Please advise what this code is suppose to achieve.
[code]

[2020-07-14 11:54] omrihar opened #893 "Testing `Content-Type` directly is problematic in JsonInput adapter"
**Describe the bug**
In the AWS Lambda part of the code for the JsonInput adapter, there is a test which tests for `request["headers"]["Content-Type"] == "application/json"`. This causes problems when content type is provided as lowercase, or is missing completely. According to the RFC specs, header names are case insensitive, which is also a problem.

This was changed in a previous version of Ben

[2020-07-14 12:25] palver7 commented on #742
What time are you available for the interactive debug session ?

[2020-07-14 12:54] Korusuke opened #894 "Add Ngrok support"
**Is your feature request related to a problem? Please describe.**
Currently, it's not possible to access the BentoML server when running on collab which makes it hard to test the service.

**Describe the solution you'd like**
Using `flask-ngrok` and having an option to run with ngrok enabled like `bentoml serve Iris:latest --run_with_ngrok` will be really useful and save a lot of time. It will al

[2020-07-14 15:12] jesudasvf opened #895 "The CIFAR-10 image classifier prediction fails on Ubuntu 18.04 with bentoml 0.8.3"
**Describe the bug**
The prediction for the CIFAR-10 image classifier example fails with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Get the CIFAR -10 image classifier from the bentoml gallery examples web page https://github.com/bentoml/gallery/tree/master/pytorch/cifar10-image-classification
2. Build the bentoml service PytorchImageClassifier
3. Try to run the PytorchImageCla

[2020-07-14 16:53] parano commented on #742
@palver7 could you email me or DM me in BentoML slack?

[2020-07-14 17:21] athulprathap opened #896 "' npm run build' command failed while running BentoML Web UI"
**Describe the bug**
Trying to run BentoML Web UI.Followed the section 'How to run and develop BentoML Web UI from 'https://github.com/bentoml/BentoML/blob/master/DEVELOPMENT.md to load the UI.
After running the yarn and npm run build commands as directed its throwing errors and UI is not getting loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/bentoml/BentoM

[2020-07-14 17:47] jesudasvf commented on #895
The handlers import line was changed to

The bentoml.api line was changed to
@bentoml.api(input=LegacyImageInput)

With the above changes the prediction still gave the same error

[2020-07-14 19:58] yubozhao commented on #896
@athulprathap Thank you for catching this bug!

This bug was caused by Mac ignore case difference (`./App` and `./app`) when importing other files.

[2020-07-15 01:27] #896 closed

[2020-07-15 12:58] jesudasvf commented on #895
The bentoml service file for CIFAR-10 classifier had to be modified as follows:

@bentoml.api(ImageHandler)     changed to

and if in case the pytorch model is trained for GPU the line
outputs = self.artifacts.net(Variable(torch.stack(input_datas)))   changed to

  the device name should be given properly to select the required GPU device

With the above changes the model predicts with bentoml run

[2020-07-15 15:13] parano commented on #893
Thanks for reporting this @omrihar

The previous version of BentoML actually handles input JSON the exact same way in `handle_aws_lambda_event`, you can find the implementation in `legacy_json_input.py` file, which is identical to the old JsonHandler/JsonInput. According to @yubozhao 's comment here https://github.com/bentoml/BentoML/pull/828#discussion_r443989965:

Based on this, I think it shoul

[2020-07-15 15:16] parano commented on #895
Thanks, @jesudasvf! I will update the gallery notebook accordingly.

[2020-07-15 20:45] parano opened #899 "Support KFServing API V2 predict protocol"
About KFServing API V2 predict protocol: https://github.com/kubeflow/kfserving/tree/master/docs/predict-api/v2

This is to add an option to BentoML API server, that enables a set of special endpoints that are compatible with KFServing API V2 protocol.  It will make BentoML API server work much nicer with other tools in the kubeflow eco-system.

* Predict protocol V2 spec: https://github.com/kubefl

[2020-07-16 03:47] athulprathap opened #903 "'yarn start ' and 'npm start' failing while loading web UI"
**Describe the bug**
'yarn start' is giving errors while trying to run the web UI  in localhost.Trying to run BentoML Web UI.Followed the section 'How to run and develop BentoML Web UI from 'https://github.com/bentoml/BentoML/blob/master/DEVELOPMENT.md to load the UI.
After running the yarn and npm run build commands as directed its throwing errors and UI is not getting loaded after 'npm start' an

[2020-07-16 06:31] yubozhao commented on #903
@athulprathap I encounter a similar error when I didn't run `yarn build` after I ran the command `yarn start`. Did you have a successful build?

[2020-07-16 08:33] athulprathap commented on #903
@yubozhao Yes 'npm run build' is successful and 'yarn build' was executed before 'yarn start'.
![bentouiyarnbuild](https://user-images.githubusercontent.com/10370721/87647485-035cd680-c76d-11ea-8b05-4f38f7900de4.png)

[2020-07-16 20:34] yubozhao commented on #903
Hi @athulprathap The start script is incorrectly pointing at the wrong file.  I updated it at #906.

[2020-07-18 09:49] jesudasvf commented on #895
You are welcome @parano ! I will close this bug.

[2020-07-18 09:49] #895 closed

[2020-07-18 15:16] nabinkhadka opened #912 "Update examples?"
From here https://docs.bentoml.org/en/latest/examples.html

I see there are outdated examples (at least https://colab.research.google.com/github/bentoml/gallery/blob/master/keras/text-classification/keras-text-classification.ipynb#scrollTo=XS3uJ_74NLTT). Any plan to update it? This doesn't help for non-ML dev who learns to just integrate BentoML to webapp.

[2020-07-18 17:49] #903 closed

[2020-07-19 18:35] athulprathap commented on #903
@yubozhao @parano Thank you for the support!!

[2020-07-20 03:58] yubozhao commented on #912
@nabinkhadka Thank you for point this out! I have updated the example notebook you mentioned and few others.

Really appreciate that you thought about new devs while you are looking into BentoML!

[2020-07-20 05:10] pedrojunqueira commented on #622
BentoMl documentation says about Bento ability to deploy Mlflow models logged by Mlflow tracking server.

[**"You can, in fact, serve models logged in MLFlow experimentation with BentoML (we are working on related documentation)"**](https://docs.bentoml.org/en/latest/faq.html)

Is this feature already available and documented? or it is available and not documented? or not available and not documen

[2020-07-20 06:09] parano commented on #622
hi @pedrojunqueira - it is available but not documented. Users can already use two libraries together although it requires the user to write some code to do it. Essentially the user needs to write a python script that 1) download and load a logged model from MLFlow model registry, 2) pack the model with a BentoService class and save it, 3) test the saved BentoML service bundle, 4) deploy it

We re

[2020-07-20 16:09] parano commented on #742
Discussed with @palver7 - turns out this is an issue with our gallery notebook:
https://github.com/bentoml/gallery/blob/master/tensorflow/fashion-mnist/tensorflow_2_fashion_mnist.ipynb

Closing this issue for now since the descriptions and discussions here are no longer relevant to this issue. We will investigate the issue with the tensorflow_2_fashion_mnist notebook and open a new issue if necess

[2020-07-20 16:09] #742 closed

[2020-07-20 19:43] #912 closed

[2020-07-20 19:43] parano commented on #912
Thanks, @yubozhao @nabinkhadka!

[2020-07-20 20:43] Sharathmk99 commented on #894
I'll take this up..

[2020-07-21 05:19] parano opened #919 "Add FileOutputAdapter for returning binary file as API output"
Many BentoML users have requested the capability to return a file(e.g. an image) as the response of an API endpoint. There isn't direct support for this in BentoML today and we've been asking users to use base64 to encode the file and return it in a JSON response.

This approach works as a workaround but requires the client to decode the response into a file, which in very inconvenient.

This is t

[2020-07-21 07:01] Sharathmk99 commented on #886
@jackyzha0 if you have not started to implement this feature, I can take this up.

[2020-07-21 07:57] hechangqin opened #920 "When I built a H2O-based image, the following error occurred"
**Describe the bug**
When I built a H2O-based image, the following error occurred. From the Dockerfile generated by BentoML, the base image is bentoml/model-server:0.8.1, and JRE is indeed not installed

I used service.py to build a bentoML bundle
[code]
And another customize.py to pre process
[code]

Finally, After I build service image with this bundle, I run this docker image with below log:
[c

[2020-07-21 08:07] parano commented on #920
Hi @hechangqin - you will need to add h2o conda dependency for the docker build to install h2o properly. You may refer to the h2o example notebooks found in the BentoML gallery: https://github.com/bentoml/gallery#h2o

e.g.:
[code]

[2020-07-21 08:19] #894 closed

[2020-07-21 13:33] yashika51 commented on #766
Hi @parano, I am interested in working on this. Since this is the first issue I'll be working on for 🍱, I want to focus just on the documentation first and the automation later.
Which model do we want to deploy to SQL server ml services?
Should we use the classic Iris classification example or something else?

[2020-07-21 15:26] jackyzha0 commented on #886
Hey @Sharathmk99, haven't started yet. Feel free to pick it up!

[2020-07-21 18:49] akainth015 commented on #919
I can begin to work on this, hopefully it'll go faster than the `MultiImageInput` :sweat_smile:

[2020-07-21 18:58] yubozhao commented on #892
@oonisim Sorry for the late response; I took time to catch up with AWS `assumed-role` since I am not familiar with it.

The error you are encountering `The execution role ARN "arn:aws:iam::103365315157:role/<>rolename>" ... "sts:AssumeRole" for the service principal "sagemaker.amazonaws.com"` is caused you didn't enable Sagemaker as one of your trusted relationships.

Sagemaker model needs to have

[2020-07-21 19:28] parano commented on #766
hi @yashika51, glad you are interested in taking on this task.  For the documentation, you can go with the Iris Classifier model as an example. When we get to automation later, we'd want to support deploying any python based models to do model inferencing on SQL Server, not just one model or one framework.

[2020-07-21 21:39] Sharathmk99 commented on #532
Do we need to have conda installed on custom docker image also? We just need pypi packages.

[2020-07-21 21:47] yashika51 commented on #766
Thanks for the reply @parano. I will need to discuss the automation part in detail with you. I'll start the documentation task now 😄.

[2020-07-21 21:47] parano commented on #532
@Sharathmk99 conda is optional in users' own custom docker base image if the user does not need to use conda for installing dependencies. From BentoML perspective we do want to provide conda in our default docker base images tho which also helps with ensuring the python version of the docker image.

[2020-07-21 21:48] parano commented on #766
@yashika51 sounds great!

[2020-07-22 00:48] akainth015 opened #924 "[Internal] Remove slices from batch responses"
While writing the `MultiImageInput` adapter, the `slices` parameter that I had to produce was fairly confusing for me to generate. Now, writing the `FileOutput` adapter, it comes up again as more of a hurdle than something helpful in producing responses. I am proposing that we remove the `slices` parameter, and instead place a `None` in the results array, and using the appropriate fallback when a

[2020-07-22 02:10] hechangqin commented on #920
@parano I add h2o conda dependency for the docker build and the problem still exists. The Dockerfile generated by BentoML as below:

[2020-07-22 03:23] joshuacwnewton commented on #820
Apologies for the delay -- I was finishing up with scikit-learn so I could focus on BentoML full-time for the rest of the MLH program. :)

Thank you so much for your patience, and for taking the time to explain, @parano. I realize now that I didn't understand Docker very well when I asked my question. I have learned more since, and your explanation makes much more sense now, so thank you.

To clar