[2021-01-22 10:29] jack1902 opened #1419 "Unsuccessful deployments break the database"
**Describe the bug**

During initial testing of `BentoML` using the `Yatai` service over `gRPCs` we encountered a few failed deployments due to permissions relating to `IAM` (want to figure out what permissions are required to stick with Principal of least priviledge).

This has now broken the database as we are unable to do things like `bentoml sagemaker list` without it blowing up

**To Reproduc

[2021-01-22 10:35] jack1902 opened #1420 "yatai_service image should contain docker by default"
**Describe the bug**

When running `yatai` with the client/server model, any commands sent (mainly around `sagemaker` here) to the server for deployments run `docker` but this fails due to this PR being merged (it highlights the problem but doesn't fix it)

relates to: https://github.com/bentoml/BentoML/pull/1386

**To Reproduce**
Steps to reproduce the issue:
1. Run `yatai` with client/server mod

[2021-01-24 18:31] guy4261 commented on #1410
Indeed I don't need `pack_script.py`. But I do need `foo`. And out of the entire `foo` package, only `foo/foo_service.py` alone is copied :(
Although it makes imports to the rest of the package.

[2021-01-24 20:19] parano commented on #1410
@guy4261 that sounds like an unexpected behavior, do you mean only `foo/foo_service.py` is copied but the `foo/__init__.py` file is not?  Does your `foo` service load properly after it's being saved, if not, what's the error message?  And could you share a bit more about your project structure and source code if possible?

[2021-01-25 06:48] dalavayi opened #1423 "Issue while storing bundles to GCS | yatai_service"
when trying to save the bundle to GCS backend. this error is popping up.
error: Error adding BentoService bundle to repository: INTERNAL:Not able to get pre-signed URL on GCS. Error: string index out of range.

[2021-01-25 07:36] yubozhao commented on #1413
cc @bojiang

[2021-01-25 07:49] bojiang commented on #1413
`_dataframe_csv_from_input` is a private API and for bentoml internal use only, since it is not documented. Plus it starts with a `_`.
Because it may change without warning in the future, I recommend maintaining the dataframe_utils into your codebase.

[2021-01-25 07:53] #1413 closed

[2021-01-25 08:52] #1060 closed

[2021-01-25 09:08] ANDRYA005 commented on #1413
Thank you @bojiang.

[2021-01-25 18:24] HGamalElDin opened #1424 "Can't load pickle file (Keras Model) after deployment on the azure server"
**Describe the bug**
I wanted to make the keras model pickable, so i used the solution from this issue: [#34697 (comment)](https://github.com/tensorflow/tensorflow/issues/34697#issuecomment-627193883)

it solved my problem perfectly in the local environment, but when i build the project on Azure Server and while loading the pickle file it gives,

it's like the gunicorn web server can't interpret o

[2021-01-25 18:30] yubozhao commented on #1424
@HGamalElDin Can you share what BentoML version you are using? Did you use PickleArtifact or KerasModelArtifact for packing your model artifact?

[2021-01-25 18:37] HGamalElDin commented on #1424
No, I did the training locally in anaconda using keras models and saved the model as a pickle file by the solution of this issue [#34697 (comment)](https://github.com/tensorflow/tensorflow/issues/34697#issuecomment-627193883), and when loading the pickle file again for predictions locally it's done perfectly, then I create a docker container then push this container to the azure server and when st

[2021-01-25 19:20] #1424 closed

[2021-01-25 19:20] parano commented on #1424
@HGamalElDin looks like you should ask this question in Keras/Tensorflow community instead

[2021-01-25 21:55] yubozhao commented on #1423
@dalavayi Can you share with us your env (python version/bentoml version/os) and your setup?

It seems like the error could comes from when we are creating the name of the bundle for uploading to GCS.  Could you share with me the base path for GCS(if you setup one), the bento service name and version?

[2021-01-26 17:17] DrizzlingCattus opened #1425 "Containerize command fail when run bentoml-init.sh"
**Describe the bug**
containerize command fail when build to run bentoml-init.sh

**To Reproduce**
..

**Expected behavior**
bento is containerized by local docker daemon

**Screenshots/Logs**

below problem is same when run `bentoml containerize --debug <bento>`

[code]

I don't know why this problem occurred. However, I tried several things, and when I changed the docker base image to python 3.7

[2021-01-26 17:23] DrizzlingCattus commented on #1425
Additionally, the iris example on the getting start page causes the same problem.

[2021-01-26 18:23] yubozhao commented on #1425
Thank you for reporting, @DrizzlingCattus. I will look into it.

[2021-01-26 20:24] yubozhao commented on #1425
@DrizzlingCattus Can you update to the latest BentoML version, `0.11.0` and test it again?

[2021-01-26 20:37] parano commented on #1425
@DrizzlingCattus @yubozhao  `Non-zero Code 137` means docker requires more memory in order to build the image, you will need to increase the memory allocated for your docker daemon and try again.

[2021-01-27 02:29] DrizzlingCattus commented on #1425
@yubozhao @parano
Thank you for answer.
I will tell you again after checking today.

[2021-01-27 19:55] withsmilo opened #1426 "Conflict with other packages using the same proto file name"
**Describe the bug**

I found a bug where BentoML conflicts with other packages using the same proto filename as the `status.proto` used by BentoML. For example, `pymilvus 0.4.0` (https://github.com/milvus-io/pymilvus/blob/v0.4.0/grpc-proto/status.proto).

**To Reproduce**

Please follow up BentoML's helloworld after importing `pymilvus`.
[code]

**Expected behavior**

**Screenshots/Logs**

**Envi

[2021-01-28 05:14] #1380 closed

[2021-01-28 07:28] dalavayi commented on #1423
@yubozhao i have tried resetting the google credentials now it is resolved thanks

[2021-01-28 08:34] DrizzlingCattus commented on #1425
@yubozhao

Due to the situation of the work, bento was created with the 0.10.1 version, so when trying with the 0.11.0 version, it does not proceed further.

@parano

What you are saying is correct. It was caused by insufficient memory. Thank you. :)

[2021-01-28 08:34] #1425 closed

[2021-01-28 18:47] #1423 closed

[2021-01-28 20:06] gregd33 opened #1429 "Issue with conda dependencies with custom channels"
**Describe the bug**

This is related to some issues I've mentioned where you're building in an environment with _only_ access to specific repositories.

In short, the Dockerfile will call a script that does `conda env update -n base -f ./enviornment.yml`. The problem is that this will also use the global conda settings. Unlike `conda install` there is no `--override-channels` argument.

So the bu

[2021-01-29 02:07] bojiang commented on #1429
In some cases, we need conda to install Python from the default channels.
Specifying the package with the full description `<channel_name>::<package_name>=<version>[build=<build>]` will do the trick. And this is always the recommended way to lock a package under conda's _smart_ dependency resolver.

[2021-01-29 04:31] jjmachan commented on #1194
@xiwang129 I missed your message, just saw it now. I've built a rough draft, still, need a lot of corrections. check it out and let me know

[2021-01-29 14:37] gregd33 commented on #1429
Just to clarify, the solution would be to specify the conda dependencies in the environment.yml (or I guess in the bento service which generates it) in that manner?

[2021-01-29 20:52] parano commented on #1429
@gregd33 yes I believe you can use that syntax directly when specifying conda dependencies in BentoML, e.g.:

[code]

[2021-01-30 19:32] Sylver11 commented on #1237
@yubozhao does that mean there is no fix for sqlalchemy==1.4.0b1 ?

[2021-02-02 05:01] #1058 closed

[2021-02-02 05:02] parano commented on #1058
This has been added by @ssheng here: https://docs.bentoml.org/en/latest/guides/logging.html

[2021-02-03 00:29] parano commented on #1359
This is resolved in the latest release 0.11.0

[2021-02-03 00:29] #1359 closed

[2021-02-03 20:48] #1415 closed

[2021-02-04 01:47] yubozhao commented on #1417
@jack1902 Thanks for filing this issue. We are working on a new configuration system that would improve from the current system and solve this issue.  You can check it out the PR at #1422

[2021-02-04 13:31] arita37 opened #1433 "Cant't pickle module object"
I have a model stored inside a module (not a class).
Have this message when serializing on disk  :

[code]

Can you try to use dill ?

Goal is to have abitray module to be serializable....

https://stackoverflow.com/questions/2790828/python-cant-pickle-module-objects-error

https://stackoverflow.com/questions/20628623/how-to-overcome-joblibs-typeerror-cant-pickle-instancemethod-objects-on-cla

htt

[2021-02-04 14:41] arita37 commented on #1433
Question 2)
  Can we create our own model wrapper ?

  Because serialization requires some dispatch of the model parts

[2021-02-04 16:43] yubozhao commented on #1433
@arita37 It seems like you are using lightGBM model, did you try to use the [LightGMB artifact](https://docs.bentoml.org/en/latest/frameworks.html#lightgbm) for packing?

Yes, you can.  BentoML is very customizable.  You will create your own model artifact base on the `BentoServiceArtifact` https://github.com/bentoml/BentoML/blob/6aa48e34c4f46aad3ab75cbd2d5fd19a616715a6/bentoml/service/artifacts/_

[2021-02-04 16:52] gregd33 commented on #1429
I don't think this works. Here is a way you can confirm yourself. Create an environment.yml file

channels:
- https://conda.anaconda.org/conda-forge/linux-64
dependencies:
- https://conda.anaconda.org/conda-forge/linux-64::mamba

And  then run `conda env update -n bento10 -f ./environment.yml  -vv` you'll see calls to the main anaconda repo. It seems to be looking for repodata.json

DEBUG urllib3.

[2021-02-04 17:12] arita37 commented on #1433
Not related of lightgbm

Check my link,

You are using joblib in your code.
This is very bad serializer.

You should use dill

All others major framework are using dill
(Ie huggingface).

How to plug my own wrapper to bentoml ?

[2021-02-04 17:19] arita37 commented on #1433
Our models are

module_xxxx.py

which includes preprocessors + Model ?

So how to use with bentoml ?

[2021-02-04 20:52] parano commented on #1433
@arita37 BentoML does not "pickle" your module or preprocessing code, it takes a completely different approach. Simply import your model in your BentoService class definition and all related dependencies will be bundled.

BentoML's PickleArtifact uses cloudpickle as default, not joblib. It is also possible to use your custom pickle module, simply pass in `PickleArtifact(pickle=dill)`.

BentoML's S

[2021-02-04 22:52] arita37 commented on #1433
Thx for clarification.

That’s the issue:

Our model is wrapped in a structured way
inside a module  (singleton class)
   Preprocessor + Model (ie LighGbM or else).

Benefit is we have the preproceesor included,
all within .fit()  , .predict() method.

BentoML is  using “pickle like”
 to serialize on disk (your wrapper),
and can’t serialize it.

Question

1) How to plug custom wrapper into BentoML

[2021-02-05 00:05] parano commented on #1433
@arita37 it's very easy to create a custom wrapper in BentoML, simply create a class that inherits from the BentoArtifact base class and add your own implementation.

If all you need is using dill to serialize your model class, the built-in PickleArtifact is enough:
[code]

[2021-02-05 00:36] arita37 commented on #1433
Thank you.

Maybe if you add one minimal example
of custom Artifact, it would help a lot
of people.

Especially, it can become as plugin
with many contributors.

[2021-02-05 00:48] parano commented on #1433
Thanks, @arita37, that's a great suggestion.  Let me know if the PickleArtifact solution above worked for your use case or not.

[2021-02-05 02:25] arita37 commented on #1433
Its much better,
Having a couple of errors (due to 3rd packages).

because have to split
the serialization of the module,
manually in specific part.

So, a custom  BentoArtifact will help
to handle each component separately。

Having a plugin structure for Artifact,
will be a big big plus,
many people can contribute on their own ones.

Another part:
   Data preprocessinf is necessary,
   but usuall

[2021-02-05 02:37] parano commented on #1433
Thanks for sharing your thoughts on this @arita37, BentoML by design, asks users to put their pre-processing code in the `@api` callback function and only the model in the Artifact interface. Although it doesn't make a huge difference today, we are working on an optimized architecture where we can run preprocessing and model inference in separate pipelines, in order to better utilize CPU/GPU for b

[2021-02-05 03:59] arita37 commented on #1433
Thanks for comments.

Idea of parallel processing is good,
so data flow is optimized.

One Tricky part is single node, multi processing.
And communication of data.

One of the best design is using
Pytorch way:

Dataset : wrapper of the data

Dataloader : wrapper for the mini-batch, distributed loader.

Model is taking samples from DataLoader.

DataLoader can be extended to include preprocessors.

[2021-02-08 06:50] #1406 closed

[2021-02-08 22:24] akainth015 opened #1439 "CORS headers are not issued for servers"
**Is your feature request related to a problem? Please describe.**

I have deployed a Bento to Heroku, and when I try to access it through JS in the browser, it is always blocked by CORS policies.

**Describe the solution you'd like**

`Access-Control-Allow-Origin` header should be issued by `OutputAdapter` for all requests

**Describe alternatives you've considered**

CORS proxies are not a viabl

[2021-02-09 02:18] yubozhao commented on #1194
closed #1430

[2021-02-09 02:18] #1194 closed

[2021-02-09 08:46] rileyhun opened #1441 "IrisClassifier model deployment on GKE failing due to permission error from creating /bentoml home directory"
I'm still having a lot of trouble getting GKE to run my model deployment without the pod crashing due to a permission error.

From checking the logs, I get this error:
`bentoml.exceptions.BentoMLConfigException: Error creating bentoml home directory '/bentoml': Permission denied`

**To Reproduce**

Run iris_classifier.py

[code]

Run these commands:
[code]

Apply seldon-kubernetes manifest
[code]

[2021-02-09 18:26] marcoaleixo commented on #1035
@jiyer2016 sorry for pinging you in this old issue.
but can you share some code for your route configuration?
actually i'm using something like this:

`  - host: yatai.cluster*.example.com
    http:
      paths:
        - path: /
          backend:
            serviceName: yatai-service
            servicePort: 3000
        - path: /
          backend:
            serviceName: yatai-service

[2021-02-09 20:50] #1309 closed

[2021-02-09 21:07] kosigz-lyft commented on #1359
Hi @parano and all, what does it mean that it's resolved?

I'm also seeing issues installing tensorflow versions 2.4.0 and 2.4.1 due to a pinned dependency in grpcio that doesn't play nice with other packages we use at Lyft.

[2021-02-09 23:18] parano commented on #1359
It should no longer be a problem if you upgrade BentoML to the latest version. Are you still experiencing the same problem with the new version?

[2021-02-10 00:17] kosigz-lyft commented on #1359
Thanks! I actually experienced this problem with one of our Lyft-internal libraries (unrelated to Bento). 😅 Googled the error and wound up here thinking there's some discussion of why tensorflow 2.4.0 is constrained to use that exact grpcio version.

[2021-02-10 00:36] parano commented on #1359
@kosigz-lyft got it, glad to hear that the Lyft team is using BentoML now!

[2021-02-10 03:03] bojiang commented on #1429
Why is this a problem if the final version of `mamba` installed by conda is from channel `conda-forge/linux-64`?

If I am wrong, please let me know.
So the problem now is not to ensure the installation source channel of a certain conda package, but to use conda in an environment where `repo.anaconda.com` cannot be accessed, or to avoid access to `repo.anaconda.com` completely, right?

[2021-02-10 17:19] parano opened #1443 "Support serving PaddlePaddle saved inference model"
**Is your feature request related to a problem? Please describe.**

Support the Paddle framework in BentoML: https://github.com/PaddlePaddle/Paddle

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-10 17:20] parano opened #1444 "Support serving PaddleHub pre-trained models"
**Is your feature request related to a problem? Please describe.**

Support serving PaddleHub pre-trained models https://github.com/PaddlePaddle/PaddleHub

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-10 17:21] parano opened #1445 "Allow deleting bento bundle from Yatai web UI"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-11 00:15] gregd33 commented on #1429
Yes that is exactly the use case. Sorry if that was unclear.

For now, I have a script that basically does the fix above (removes default channels) and then does the docker build. So its workaround-able if nothing can be done.

[2021-02-12 19:38] theopinard commented on #622
Hello
Is someone working on that?
I could write a notebook to show how we can load a MLflow model and serve it using bentoML. I could take inspiration from the quick start of the documentation. In the notebook I would:
1. Train a model based on iris dataset
2. save the model locally using MLflow
3. Load the model from MLflow and save it in yatai
4. containerize the model with docker.
What do you t

[2021-02-12 19:40] yubozhao commented on #622
@theopinard I think this would be super useful for the community! This would be a great guide that we could put into the documentation site and include the notebook in the [gallery repo](https://github.com/bentoml/gallery)

[2021-02-14 20:55] theopinard commented on #622
Hello,
I created a [PR](https://github.com/bentoml/gallery/pull/81) in the gallery repo to add an example of MLflow with BentoML. Feedbacks are welcome!
Once it is merged I think we could update the documentation of [How does BentoMl compare to MLflow](https://docs.bentoml.org/en/latest/faq.html#how-does-bentoml-compare-to-mlflow) to add a link to the notebook!
I can do that once this PR is merged

[2021-02-14 22:15] yubozhao commented on #622
@theopinard The notebook PR looks great.  I merged it into the gallery repo.  Yes the documentation is a little overdue.  Looking forward your follow up PR!

[2021-02-15 04:51] gvashishtha opened #1450 "ModuleNotFound Error"
**Describe the bug**
I am seeing the following:

[code]

when attempting to start the BentoML docker container in the Getting Started tutorial.

**To Reproduce**
Steps to reproduce the issue:
1. Go through the BentoML getting started tutorial
2. Attempt the "Containerize Model API server" step
3. Build the image
4. When running the image you will see "ModuleNotFound" error

**Expected behavior**
I

[2021-02-16 11:15] pkolebski opened #1453 "BentoML adds wrong requirement for PytorchLightning"
**Describe the bug**
BentoML adds package ```pytorch``` to ```requirements.txt``` file which cannot be installed.

**To Reproduce**
deploy.py
[code]
create_bento_service.py
[code]
[code]

**Expected behavior**
Easily created and built docker image.

**Screenshots/Logs**
[code]

**Environment:**
 - OS: Ubuntu 20.04.1 LTS
 - Python 3.8.5
 - BentoML 0.11.0

**Additional context**
I find out that ```p

[2021-02-16 16:27] yubozhao commented on #1453
@pkolebski This is a bug. Thanks for reporting it.

I am going to add a fix for this right now

[2021-02-16 22:58] yubozhao commented on #1450
Thanks for reporting @gvashishtha

I am not very familiar with Windows subsystem for linux.  I will try to replicate that.

If you have time, could you run the containerize command with the debug flag on `bentoml containerize IrisClassifier:latest -t iris-classifier --debug` and copy the logs to this issue?

[2021-02-16 23:51] #1453 closed

[2021-02-16 23:52] yubozhao commented on #1453
@pkolebski I updated the requirements and add additional docker integration test for this.  You should able to use this in the next release.

Feel free to reopen, if you run into any additional issue.

[2021-02-17 10:51] athulprathap opened #1459 "Prediction service non responsive while containerizing the model service"
![bentounre](https://user-images.githubusercontent.com/10370721/108194319-7e8bce00-713c-11eb-8672-680e08d4a0d4.jpg)
![bentowork](https://user-images.githubusercontent.com/10370721/108194330-80ee2800-713c-11eb-99da-ada695878936.jpg)

**Describe the bug**
Used BentoML to create a prediction service for the transformer-based Roberta Pytorch model. Model artifact size around 477MB. Input is dataframe.

[2021-02-17 14:55] DrizzlingCattus opened #1460 "multiprocessing start_method setup runtime exception"
**Describe the bug**

The problem occurs when I try to build the bentoml service as below.
[code]
The problem occurs when using the bentoml master branch, and there is no problem in version 0.11.0.

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

[code]

**Environment:**
 - OS
[code]
 - Python Version : 3.8.3
 - BentoML Version : master branch version (lastest commit aa120e4b8e8aaef

[2021-02-18 08:18] athulprathap commented on #1332
I am also facing similar issue.
Traceback (most recent call last):
  File "/home/aicoe/.conda/envs/clm_bento_3.8/bin/bentoml", line 8, in <module>
    sys.exit(cli())
  File "/home/aicoe/.local/lib/python3.8/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/home/aicoe/.local/lib/python3.8/site-packages/click/core.py", line 782, in main
    rv = self

[2021-02-18 17:18] athulprathap commented on #1459
@parano Solved the issue for time being for our deployment. Created custom docker images using ubuntu 18 base image and has used bentoML packaged model as a PyPI library inside the custom flask application. Tried initially with gunicorn web server inside docker container.While serving using gunicorn same issue was observed. But replacing gunicorn with Waitress WSGI inside the docker file  solved t

[2021-02-18 23:24] yubozhao commented on #1460
Thanks for find the bug and create a PR at https://github.com/bentoml/BentoML/pull/1461.

Let me know when the PR is ready and we will go from there.

[2021-02-19 20:39] gregd33 opened #1464 "Unable to change prediction log format"
**Describe the bug**

I've tried various methods to set `prediction_log_json_format`:
- via env variable
- via a custom cfg file
- via the `bentoml config set`
- via the service itself with bentoml.config()

Some of them seem to work at least when looking at `bentoml config view-effective` but none actually give the expected log format.

**To Reproduce**

- `bentoml config set logging.prediction_l

[2021-02-22 01:14] #1379 closed

[2021-02-23 19:14] theopinard commented on #622
Should we close this issue? :)

[2021-02-23 19:47] yubozhao commented on #622
@theopinard I probably want to this issue open or maybe start a new one for the integration with MLFlow.  Your notebook is a great start and a very good example of how we can do it.  Maybe we can make that process a lot easier for end users.

[2021-02-23 23:03] parano commented on #1464
Hi @gregd33 - have you had a chance to try out the new logging config as documented here? https://docs.bentoml.org/en/latest/guides/logging.html

[2021-02-24 23:41] gregd33 commented on #1464
I just gave that a try. I ran into an issue with `{BENTOML_HOME}/logging.yml` - $BENTOML_HOME doesn't seem to be defined in the container... but I tried with `/bento/logging/yml`.

With that, same behaviour - it didn't work

[2021-02-24 23:51] gregd33 commented on #1464
Just to be sure it wasn't me, I built the IrisClassifier in https://github.com/bentoml/BentoML/blob/master/guides/quick-start/ and ran a `bentoml containerize` on it.

Then ran
`docker run  -p 5000:5000 -v /home/xxxx/vista_services/logging.yml:/bento/logging.yml iris-classifier:20210224234335_3AF8FD --workers 1`

where the logging file was the default with one line changed
[code]
I got this in the

[2021-02-25 02:19] yubozhao commented on #1464
@ssheng Any ideas?

[2021-02-25 05:40] bojiang commented on #1460
FYI, in this PR https://github.com/bentoml/BentoML/pull/1466, `set_start_method` was moved back to the API server.
@DrizzlingCattus

[2021-02-26 10:41] ssheng opened #1474 "Automatic determining the API server workers"
:wave: Hi BentoML community, we have a question for you.

**Background**

In the next BentoML release, the default of API server workers will be changed to `1`. Previously, the number of workers is automatically determined based on the `multiprocessing.cpu_count()`. The original intention of having dynamic workers was to achieve the optimal efficiency in an asynchronous API server. However, there

[2021-02-26 12:22] ssheng commented on #1464
Thanks for reporting, @gregd33 . I was able to reproduce the case from @gregd33 and confirm the format string got configured correctly. However, it doesn't seem like `pythonjsonlogger.jsonlogger.JsonFormatter` is respecting the format string. Instead, it does output the entire dict in `log.info()`. I am going to troubleshoot more tomorrow.

[2021-02-26 14:35] DrizzlingCattus commented on #1460
@bojiang ok thank you!

[2021-02-26 14:35] #1460 closed

[2021-02-26 22:12] withsmilo opened #1475 "YataiService doesn't allow a BentoService without artifacts"
**Describe the bug**

In order to avoid #1037 and #1065, I override the `__init__` function of BentoService to download and initialize the required model files from an external service(MLflow). In this case, I don't need to pack any artifacts, but I found a problem in YataiService that doesn't allow this case. The current YataiService includes the assumption that BentoService must always have arti

[2021-02-27 08:23] harshitsinghai77 commented on #1327
Is this issue still open?

[2021-02-28 08:33] yubozhao commented on #1475
Is the selection happens in the web UI?

[2021-02-28 08:36] withsmilo commented on #1475
@yubozhao
Yes. When I select the BentoService without artifacts in YataiService UI, nothing is visible.

[2021-02-28 16:00] yubozhao commented on #1475
Got it. I will work on a fix. Thank you for finding it!

[2021-03-01 09:57] bojiang commented on #1460
The final solution #1476

[2021-03-01 10:30] ssheng commented on #1464
It turned out that the API in pythonjsonlogger.jsonlogger is rather unintuitive. Simply removing the attribute in the format string is insufficient. The attributes we wish to exclude also need to be added to reserved_attrs. After the fix in https://github.com/bentoml/BentoML/pull/1478, you can try one of the follow approaches as you mentioned in the earlier messages.

CLI:
[code]

Through https://

[2021-03-01 23:42] #1348 closed

[2021-03-02 00:33] gregd33 commented on #1464
Awesome, thanks so much! Would never of figured that out.

[2021-03-02 01:15] #1475 closed

[2021-03-02 08:47] ssheng commented on #1464
@gregd33, could you please share your use case for customizing the prediction log? I had a chance to discuss #1478 with the other contributors of BentoML. We think the solution would introduce some unwanted complexities. So we'd like to understand your use case more to make the right tradeoffs.

[2021-03-02 13:40] axelgobletbdr commented on #1429
We are running into this same issue when building the bento images in our cluster. The generated `bentoml-init.sh` script contains the hardcoded `pkgs/main::python=$DESIRED_PY_VERSION` install. @bojiang you mentioned that

What is the reason for this? Would it be possible to parameterize this setting? I think this would be beneficial to many enterprise users, as often direct access to the internet

[2021-03-02 13:50] gregd33 commented on #1464
So the primary reason for raising this was that it wasn't working as expected so I wanted to ensure I wasn't doing something wrong / flag it as a bug. My use case was moreso seeing if it was possible rather than having a firm need for it. That said, the two reasons I might have:

1. Volume. The outputs of the service can be verbose so it could greatly reduce the volume (from what I've seen in my s

[2021-03-03 00:04] timothyjlaurent opened #1480 "Add pydantic model schema"
**Is your feature request related to a problem? Please describe.**

I want to have robust input and output shema validation. Similar to what is achieved with FastAPI https://fastapi.tiangolo.com/.

**Describe the solution you'd like**

Add support to the JsonInput to:
1. Accept lists of json items natively - allows for hitting such endpoints with a list, instead of needing to go through the pandas

[2021-03-03 02:50] bojiang opened #1481 "Handle dependency conflict"
**Is your feature request related to a problem? Please describe.**

There are two aspects that this issue may fail this framework.

1. The pip 2020-resolver is enabled by default after 2020-11.
For a dependency tree like this,
[code]
pip may install `package_c==1.6` when it first met ` package_c<2.0`, and fail when it met `package_c<1.5`. This means the image build of an online bentoml service wou

[2021-03-03 08:48] ssheng commented on #1464
Thanks for the feedback. I agree with the two reasons you shared. Given the urgency, the solution in #1478 as a workaround is not ideal. We will take a step back and think about the logging requirements as a whole.

[2021-03-04 02:17] harshitsinghai77 opened #1484 "predict() missing 1 required positional argument: 'task'`"
**Describe the bug**
Exception happened in API function: predict() missing 1 required positional argument: 'task'

**To Reproduce**
Steps to reproduce the issue:
1. Go to https://docs.bentoml.org/en/latest/concepts.html#creating-bentoservice
2. Search for code snippet below `Allow fine-grained control of the HTTP response, CLI inference job output, etc. E.g.:`
3. Serve the model

**Expected behavi

[2021-03-04 02:47] harshitsinghai77 commented on #1484
I was using batch=True instead of batch=False.

It could be better if it can check this flag and give a easily deducible error.

Anyways, no worries.

[2021-03-04 02:47] #1484 closed

[2021-03-04 22:11] yubozhao opened #1486 "[Bug]docs.json link point to blank page instead of /docs.json"
**Describe the bug**

<img width="1278" alt="Screen Shot 2021-03-04 at 2 01 30 PM" src="https://user-images.githubusercontent.com/670949/110036870-8463e080-7cf2-11eb-913d-f700c0ea26f8.png">

The docs.json link should be pointing to `/docs.json` instead of open a blank page.

This part of the UI is rendered from `SwaggerUIBundle`
https://github.com/bentoml/BentoML/blob/c607db201036643c2dcf840fd7aca

[2021-03-05 09:02] ssheng commented on #1481
@bojiang how confident are we that our CI will catch problems with overlapping transitive dependency? It becomes dangerous when things appear to work, espcially during CI, but fails in some specific cases.

[2021-03-05 10:07] bojiang commented on #1481
@ssheng
For the problem during the API server image building:
The integration test will call ` pip install bentoml ` for each build. If there were overlapping issues in the dependencies of bentoml, the integration test would fail instantly.
But it only means we didn't have an actual problem now. I agree that we should take this issue seriously.

[2021-03-06 07:39] athulprathap commented on #1459
@parano Is there a way to monitor model matrices for models deployed using pyPi packages in custom docker containers?

[2021-03-06 18:50] parano commented on #1459
@athulprathap yes, the `/metrics` endpoint will expose prometheus metrics

[2021-03-08 14:04] bojiang opened #1489 "Restructure the configuration of bentoml API server"
**Is your feature request related to a problem? Please describe.**
ref: https://github.com/bentoml/BentoML/pull/1476#discussion_r588818952

The current configuration structure for the API server:
[code]

The batching server is seen as a standalone part, independent from the API server.
We can also see the batching layer as a consistent part of the bentoml API server.

So that bentoml could
- enabl

[2021-03-08 22:01] yubozhao opened #1490 "Add autoscale configuration support for Sagemaker deployments"
**Background:**

For Sagemaker deployments, Users might not know ahead of time on how much computing resources they might need for the service. It would be great to allow the ability to scale those deployments with different scaling options.

Right now, users have to go to the AWS console and manually set the autoscale configurations for the endpoints.

**Describe the solution you'd like**

BentoM

[2021-03-09 03:32] yubozhao commented on #1429
@axelgobletbdr We are using conda ensure the docker image has the python version (major.minor) that used for saving the bento bundles.

If you are using the generated Dockerfile, it has the current python version for the bento bundle. It won't use conda to install Python.

I think this is a good suggestion.  Can you create an issue for this?

[2021-03-09 03:33] yubozhao commented on #1429
cc @bojiang

[2021-03-09 04:00] parano commented on #1481
The conclusion from our discussion was basically:

1. For BentoML itself, set up a daily CI job to make sure new public PyPI releases does not break BentoML's core functionality
2. On a related issue, for the `requirements.txt` in the BentoBundle directory, we want to keep the way it is, and recommend users to use the `@env(pip_requirements_txt="...")` API to provide a full list of dependencies wi

[2021-03-09 04:02] parano commented on #1429
Discussed offline, the suggested fix is avoiding installing Python from conda, but require the user to ensure that the correct Python version was installed on their docker base image when the `custom_docker_image` option was used

[2021-03-09 11:55] rubensmau opened #1491 "BentoML + FAST.AI prediction problems"
I am studying BentoML for the last few days, and found it very useful. Thanks !
I am not an advanced user of fast.ai and bentoml, but it seems that there is a problem with the predictions of FastaiModelArtifact both for fastai 1.0 and 2.0
I rechecked this many times, and I am pretty sure of the below described problem :

**For FASTAI v1.0**
following the original notebook at (https://github.com/be

[2021-03-09 12:46] axelgobletbdr commented on #1429
I guess that this works. I still do not understand why the hardcoded channel is required in the image. Loosening that constraint would be another option if that has no undesired side effects.

[2021-03-09 18:20] parano commented on #1429
@axelgobletbdr here's a big more context about the proposed change: BentoML's default base image already have Python installed: https://github.com/bentoml/BentoML/blob/v0.11.0/docker/model-server/Dockerfile, That's why most of the time, BentoBundle's docker build process does not need to install python. In the `bentoml-init.sh` file, it only runs the `conda install pkgs/main::python=$DESIRED_PY_VE

[2021-03-10 19:44] yubozhao commented on #1491
@rubensmau this is interesting.  BentoML is using `fastai.basics.load_learner` for loading fastai 2 model and using `fastai.basic_train.load_learner` for fastai v1 models.   Those are the recommend ways to load models.  I will digging in more to figure out the difference in results.

Can you share more about your system and your intended use-cases?

[2021-03-10 20:14] rubensmau commented on #1491
I am running in WSL2 -Ubuntu 20.04 with Docker Desktop. I am planning to use this to a digital marketing application.

As described above, even in your notebook and its published output , there is a prediction mismatch in fast.ai V1
between the model prediction and bentoml prediction

(https://github.com/bentoml/gallery/blob/master/fast-ai/salary-range-prediction/fast-ai-salary-range-prediction.ip

[2021-03-10 20:56] yubozhao commented on #1491
hmm interesting. I ran the notebook example on [Google Colab](https://colab.research.google.com/github/bentoml/gallery/blob/master/fast-ai/salary-range-prediction/fast-ai-salary-range-prediction.ipynb). I print out the prediction before calling the grabbing the `.obj`. The prediction result is the same as the fastai result from the previous cell.

Can you try it with Google Colab and let me know?

[2021-03-11 01:53] parano commented on #1065
On a related note: we also need hooks for `on_docker_build`, some frameworks require downloading large files(e.g. HuggingFace, PaddleHub), and we want to run those initial downloads during docker build or save, instead of after an API server is up and running.

[2021-03-11 01:56] parano commented on #1235
I think #1365 will solve the issue of customizing logging behavior in production, we've also revamped BentoML's config system to make it easier to interact with - all BentoML CLI commands now accept a `--config-file` option for users to specify all configuration required for running a BentoML API server or batch inference job.

[2021-03-11 01:56] #1235 closed

[2021-03-11 04:26] #1464 closed

[2021-03-11 04:29] ssheng commented on #1374
Tracking option should be moved out of config and into CLI parameters.

[2021-03-11 04:30] ssheng commented on #1374
Should logging configuration be a part of the new bentoml.yml or remained on its own in logging.yml.

[2021-03-11 08:56] axelgobletbdr commented on #1429
Okay, that is clear to me then. For us, shipping python with the base image would work. This could be enforced automatically when using a non-standard base image, or via an additional flag, which is up to you.

[2021-03-11 08:58] bojiang commented on #1429
@gregd33 Found this https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#sharing-an-environment

[2021-03-11 15:49] rubensmau commented on #1491
I run at Google Colab, but could not simulate the prediction to the endpoint.

I run the same original fastai V1 notebook in an ec2 instance  - c4.xlarge type , running Amazon Linux. fastai v1.0, running your original notebook withour any changes.

**PREDICTION WITHOUT BENTOML**
row = df.iloc[0] # sample input date for testing
learn.predict(row)
**### (Category tensor(1), tensor(1), tensor([0.4563

[2021-03-11 17:45] parano commented on #1329
@withsmilo I thought the URL prefix was only meant for the browser when deploying a web server behind a proxy, could you tell me about what use cases it would need the prefix for the gRPC endpoint?

[2021-03-11 22:25] parano opened #1499 "Add more debug/info logs runner indicating adaptive batching logic"
**Is your feature request related to a problem? Please describe.**

Currently there is not too much visibility for the user to visualize or to understand how BentoML's micro-batching works. having more logs around how BentoML makes a decision and what is happening in the batching layer should help with that.

cc @bojiang

**Describe the solution you'd like**

**Describe alternatives you've conside

[2021-03-12 05:34] withsmilo commented on #1329
@parano
You're right. It works without any problem, but there is a security problem that exposes gRPC server's port to users.

[2021-03-12 05:45] withsmilo opened #1500 "Run as user-defined user in docker"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

If a user selects his own model-server image as `docker_base_image`, the user should be able to select a user_id or group_id to actually operate on the image. It can be root, or a specific user_id/group_id.

**Describe alternatives you've considered**

How about adding `docker_base_user` to th

[2021-03-12 06:53] bojiang commented on #1500
It has been supported in the master branch and would be included in the next release.
`bentoml containerize --build-arg UID=1034 GID=1034`

[2021-03-12 07:03] bojiang commented on #1500
@parano Shall we add `base_image` option to the command `bentoml containerize`, or add `build_args` to the `@env`?

[2021-03-12 08:21] bojiang commented on #1429
I tested the way mentioned above from the conda official docs. Appending `nodefaults` to the end of the conda_channels works well.

[code]

It requires no changes of BentoML.

[2021-03-12 12:53] dummybot88 commented on #1392
@yubozhao any luck? I'm still facing the same error while trying to deploy the quick start as lambda and try to access the endpoint.

[2021-03-14 19:18] withsmilo commented on #1500
@bojiang
Really nice! I'll wait for next release. 👍

[2021-03-14 19:46] parano commented on #1500
@bojiang what are the other common use cases for `build_args`?  I think it is ok to leave it at the containerize step, but if there are some common options for the docker build, we can surface those options up for the user

[2021-03-14 19:59] parano commented on #1429
@bojiang I find the current `conda_channels` and `conda_overwrite_channels` options to be very confusing. `conda_channels` essentially means "additional conda channels", I'd suggest making the `conda_channels` parameter override the default `["default"]` channel. In our docs it can say:

[code]

We will also need to update all our docs and example notebooks, where the `conda_channel` is used, e.g.

[2021-03-14 20:05] parano commented on #1429
Another approach is to run `conda config --system --remove channels defaults` in our docker base image build process, after we create the conda environment and install python
https://github.com/bentoml/BentoML/blob/master/docker/model-server/Dockerfile#L16

[2021-03-14 23:14] gregd33 commented on #1429
Thanks, I will give that a try tomorrow! This is a very reasonable approach and should have been easier to find in the conda documentation.

[2021-03-15 02:57] bojiang commented on #1429
According to conda's official docs, to restore an environment from an `env.yml` file, conda already sees `channels` as the additional and preferred channels. I suggest making the behavior consistent with that rather.

That is,
1. applying `conda_channels` as the `channels` (override not append)
2. when `conda_overwrite_channels=True`, append a `nodefaults` to the channels.

[2021-03-15 02:58] parano commented on #1429
@bojiang that sounds great!

[2021-03-15 03:06] bojiang commented on #1429
@parano Good. I'll make the PR accordingly.

[2021-03-15 15:03] gregd33 commented on #1429
Just wanted to confirm that the `nodefaults` entry in the conda fix and the fix in https://github.com/bentoml/BentoML/pull/1414 combined will make a build work when anaconda.com is not available.

[2021-03-15 23:22] parano commented on #1429
@gregd33 that is correct, after #1501, the user will just need to specify ```@env(conda_override_channels=True)```, the `nodefaults` entry will be added to avoid using the "defaults" channel for any user specified conda dependencies

[2021-03-15 23:25] parano opened #1503 "Add a global config for no usage tracking"
**Is your feature request related to a problem? Please describe.**

* Add a top-level CLI option `--no-usage` for disabling usage tracking
* Allow users to turn off all usage tracking by setting env var `BENTOML_NO_USAGE=true`
* Remove usage tracking config from BentoML's config system

cc @ssheng

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional cont

[2021-03-16 02:44] yubozhao opened #1505 "Update all validation from using Cerberus library to schema library"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-16 07:25] parano opened #1506 "Add API Server integration tests on Windows Platform"
**Is your feature request related to a problem? Please describe.**

* Currently there isn't a test covering creating a Bento bundle on the Windows platform, containerize it with docker, and then test the API server docker image. We have seen this workflow break in the past due to the lack of proper testing.
* may need to rewrite `install_test_deps.sh` and `test_project.sh` in bat

**Describe the s

[2021-03-16 09:00] bojiang commented on #1506
Currently impossible for Github action.

 actions/virtual-environments#1143

[2021-03-16 09:18] bojiang commented on #1506
Another solution:
https://docs.github.com/en/actions/guides/storing-workflow-data-as-artifacts

[2021-03-16 13:48] gregd33 commented on #1429
Miscommunication on my part - I was confirming that `nodefaults` did, in fact, work for me in such an environment (with a temporary fix for #1414) after testing. Thanks  for the work on this issue!

[2021-03-16 18:18] rubensmau commented on #1439
I have the same problem when deployed to an EC2 instance. Is there a workaround ?

[2021-03-16 19:18] parano commented on #1439
@akainth015 @rubensmau thanks for reporting the issue.

A workaround I'd recommend for now is to use the `InferenceResult` class to customize the response headers, e.g.:

[code]
More details can be found here: https://docs.bentoml.org/en/latest/concepts.html#defining-a-batch-api

We reserved a `cors` parameter for all output adapters, unfortuntately it's currently only implemented in the AWS Lambd

[2021-03-17 09:49] ssheng opened #1512 "Dependency injection to wire BentoML modules only"
**Is your feature request related to a problem? Please describe.**

Dependency injection currently `package_walk` and `__import__` all dependent modules when performing `wire`. For large dependencies like `numpy` and `grpcio`, recursive imports can be quite slow.

**Describe the solution you'd like**

Ideally, dependency injection only needs to `wire` BentoML packages without having to import recu

[2021-03-17 09:54] #1481 closed

[2021-03-18 07:38] parano commented on #1420
Hi @jack1902 - the docker client required by BentoML's SageMaker deployment operator is already installed in the Yatai docker image. In your Yatai server, did you mount the docker daemon socket? And is the docker daemon up and running?

[2021-03-18 08:36] bojiang commented on #1500
@parano `EXTRA_PIP_INSTALL_ARGS` `BUNDLE_PATH`

[2021-03-18 08:40] bojiang commented on #1500
I mean surfacing the `--base-image` option to `bentoml containerize` should make sense, since it is high-related with the `build_args`

[2021-03-18 18:35] parano opened #1515 "Support using custom WSGI middleware"
**Is your feature request related to a problem? Please describe.**

Allow users to apply any WSGI middleware to their model server, following the example in PEP 3333: https://www.python.org/dev/peps/pep-3333/#middleware-components-that-play-both-sides

Here's an example of how this can be applied to issue #1439:

[code]

**Describe the solution you'd like**

**Describe alternatives you've consider

[2021-03-18 22:42] gregd33 opened #1518 "Issues with scaling / handling multiple requests"
**Describe the bug**
So we have some services that we are trying to use with Dagster. The issue is that as data flows through the DAG, the service will be hit multiple times in parallel. What we see is that a certain number of requests will crash the service (running on k8s).

We can isolate the issue and reproduce by sending many items in parallel directly to the k8s-deployed service so it is def

[2021-03-19 17:26] gregd33 commented on #1518
I'm actually going to close this since I think the issue is very coupled with my specific service so it will have a hard time debugging.

[2021-03-19 17:26] #1518 closed

[2021-03-21 05:54] #1500 closed

[2021-03-23 02:06] yubozhao commented on #1491
@rubensmau apologies for the delayed message.

From your latest test, you have the right result.  Is the problem solved for you?

[2021-03-23 02:07] yubozhao commented on #1450
@gvashishtha Do you still encounter the issue?

[2021-03-23 10:36] rubensmau commented on #1491
There are different prediction call methods
1- Fast.ai -  learn.predict(row)
2- Fast.ai + Bentoml deployment
3- svc.predict(df.iloc[0:1]))

and they gave us differente results.  My guess is that is related to preprocessing the input data. I checked many times, and it seems that the problem it is not in my code.

[2021-03-23 13:21] gvashishtha commented on #1450
Hi Bozhao, so far I was able to resolve by manually editing the requirements.txt in the saved model to include joblib as a dependency

[2021-03-23 19:01] yubozhao commented on #1450
You can also include `joblib` in the `pip_packages` list, so you won't need to manually editing it.

[code]

[2021-03-24 00:37] parano commented on #1450
@gvashishtha when you follow through the quickstart example, what is the `scikit-learn` version you are using?

could you try installing the requested versions and run it again?
[code]

[2021-03-24 09:26] bojiang opened #1528 "[CI] ensure bentoml works without test dependencies"
**Describe the bug**

https://github.com/bentoml/BentoML/issues/1529

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.8.6]

**Additional context**

[2021-03-24 09:28] bojiang opened #1529 "[v0.12.0] ModuleNotFoundError when trying to start the dev server"
**Describe the bug**

... installed the last bentoML v0.12.0 and when trying to launch bentoml serve $saved_path I got the following error:
[2021-03-24 09:20:31,130] INFO - Starting BentoML API proxy in development mode..
[2021-03-24 09:20:31,131] INFO - Starting BentoML API server in development mode..
Traceback (most recent call last):
  File "/home/matthieu/anaconda3/envs/test_bentoml_cpu/bin/b

[2021-03-24 21:17] withsmilo opened #1530 "mb_max_latency doesn't seem to work as intended"
**Describe the bug**

According to https://github.com/bentoml/BentoML/blob/master/docs/source/guides/micro_batching.rst, we can use `mb_max_latency` as the latency goal of our service when enabling the micro-batch feature. But the test results are not. Am I misunderstanding about `mb_max_latency`?

**To Reproduce**

[code]
[code]
[code]
[code]
[code]
Test result is,
[code]
I think BentoML should r

[2021-03-25 01:21] ssheng commented on #1512
https://python-dependency-injector.ets-labs.org/wiring.html#wiring-of-dynamically-imported-modules

[2021-03-25 05:48] harshit-deepsource opened #1533 "Confusing Docstring in lightgbm.py"
**Describe the bug**

https://github.com/bentoml/BentoML/blob/master/bentoml/frameworks/lightgbm.py#L14

`model_extension (string): Extension name for saved xgboost model`

Why do we need an extension name for saved `xgboost` model?

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [

[2021-03-25 06:12] harshit-deepsource commented on #1533
Also, why is the default model_extension `.txt`?

https://github.com/bentoml/BentoML/blob/master/bentoml/frameworks/lightgbm.py#L46

I don't think models are saved with `.txt.` extension? :thinking:

[2021-03-25 08:34] parano commented on #1533
@harshit-deepsource `.txt` is the convention in lightgbm framework, you don't need to specify this extension format if you don't want to customize it, only the name is required for the artifact.

[2021-03-25 11:35] harshit-deepsource commented on #1533
Got it.

[2021-03-25 11:35] #1533 closed

[2021-03-25 11:40] harshitsinghai77 opened #1535 "Can't change default values in @bentoml.artifacts"
**Describe the bug**

![image](https://user-images.githubusercontent.com/30886142/112466981-7c94da80-8d8c-11eb-924f-9f633c271565.png)

For example, in this case I'm not able to overwrite `model_extension`

I think this might be because of this.
https://github.com/bentoml/BentoML/blob/master/bentoml/service/artifacts/__init__.py#L109

It's not passing the arguments and hence the default values is a

[2021-03-25 11:43] harshitsinghai77 commented on #1443
This is merge. Close the issue.

[2021-03-25 14:47] harshitsinghai77 commented on #1535
I'm trying to do something like this

![image](https://user-images.githubusercontent.com/30886142/112492132-0487de00-8da7-11eb-81ae-b2c672c384d1.png)

But this doesn't get picked up.

![image](https://user-images.githubusercontent.com/30886142/112492283-21241600-8da7-11eb-9302-7c4b9e1bef17.png)

[2021-03-25 14:48] harshitsinghai77 commented on #1535
^ the `model_type` should be `classifier` but I'm still getting `catboost`

[2021-03-25 17:07] harshitsinghai77 commented on #1535
Update: This happens only when testing tests with `pytest`

[2021-03-25 20:58] yubozhao commented on #1535
@harshitsinghai77 Thank you for reporting this.  We are aware of this issue.

The issue is caused here.  We need a more robust way to handle additional options.
https://github.com/bentoml/BentoML/blob/ce9bdd4fd8e1730d5c47d6c7ddcf4deddc272505/bentoml/service/artifacts/__init__.py#L104-L109

[2021-03-25 21:12] parano commented on #1535
This is previously tracked here: https://github.com/bentoml/BentoML/issues/1219

[2021-03-25 21:14] #1443 closed

[2021-03-26 04:26] harshitsinghai77 commented on #1535
I'm working on [this feature](https://github.com/bentoml/BentoML/issues/1327). So should I wait for the issue to get resolved or go ahead with the PR?

[2021-03-26 16:25] harshitsinghai77 commented on #1327
I'm working on this issue.

For the documentation part, notebooks are uploaded on `https://colab.research.google.com/github/bentoml/gallery/blob/master/`

How to get my notebook uploaded so that I can link it in the documentation page?

[2021-03-26 18:54] gregd33 opened #1536 "Markdown support in swagger README"
**Is your feature request related to a problem? Please describe.**

This is a minor cosmetic request, but: there currently is no CSS on the Markdown in the README page on swagger. It makes it a bit tough to read, especially if things like tables are included. Markdown seems much nicer on the actual swagger page.

The CSS seems to be in `static_content/readme.css` and quite simple.

[code]

**Descr

[2021-03-26 22:02] jackyzha0 opened #1540 "Bundle/Deployment Locking Module"
## Background

Why do we need to lock? As of now, there's no way to guarantee mutual exclusion of resources like

- Bento Bundles
- Deployment Operators

As certain operations (like deployment) take a long time to execute, there's no way to guarantee mutual exclusion on the resources that these operations touch. For example, if one user is trying to deploy a Bento and another is trying to delete i

[2021-03-27 03:19] timothyjlaurent opened #1542 "Add schema on output adaptors"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to describe the response schema of my bento apis

**Describe the solution you'd like**
1. make default schema in output adaptor
2. in generate schema use the output adaptors schema

**Describe alternatives you've considered**
1. Switching to FastAPI for this project

**Additional context**
1. maybe bentoml shou

[2021-03-27 10:11] harshitsinghai77 commented on #1445
I would like to work on this issue.

[2021-03-27 10:16] harshitsinghai77 commented on #1327
https://github.com/bentoml/BentoML/pull/1539

[2021-03-27 10:57] harshitsinghai77 commented on #1445
In `bentoml/yatai/web/src/server.ts` there is already a route `/api/DeleteBento`

[code]

Can you tell me what exactly do we want here?
Should there be a button in the web ui which will make a request to `/api/DeleteBento` ?

[2021-03-27 11:17] harshitsinghai77 commented on #1276
Is this open? I am open to taking this if it is already not taken? @paullee2018 can you please confirm if you're working on the issue?

[2021-03-27 11:22] harshitsinghai77 commented on #1374
This is merged. This issue should be closed?

[2021-03-27 11:25] harshitsinghai77 commented on #1357
Hey, any reason why this issue is reopened? Is this issue still pending?

[2021-03-27 18:37] paullee2018 commented on #1276
I have been busy with my work and moving house so haven't had the time to
do anything. Go ahead harshit.

On Sun, 28 Mar 2021, 12:17 am Harshit Singhai, ***@***.***>
wrote:

[2021-03-28 07:32] ssheng commented on #1374
@harshitsinghai77 The new configuration system is still not public yet. We are targeting release 0.13 to make this the new standard of configuration for BentoML. There are still some remaining work to do (see the pull request checklist).

[2021-03-29 14:10] parano commented on #1445
@harshitsinghai77 yes I think you are right, we want to add a button in the UI that allows the user to delete a BentoML bundle from the Bento Details page, and potentially multi-select and batch delete from the BentoList page. This endpoint was based on an older version of the delete gRPC and has not been tested recently, it would be great if you could test it out and see if there's anything we sh

[2021-03-29 14:39] parano commented on #1357
@harshitsinghai77 this is still being worked on here https://github.com/bentoml/BentoML/pull/1477

[2021-03-29 17:40] kapsali29 opened #1544 "AttributeError: module 'aiohttp' has no attribute 'web'"
**Describe the bug**

Hi guys. I am new to BentoML and I have downloaded the quickstart guide following the instructions

1. git clone http://github.com/bentoml/bentoml
2. cd bentoml
3. pip install -r ./guides/quick-start/requirements.txt
4. python main.py

and then after executing the command for serving the IrisClassifier `bentoml serve IrisClassifier:latest` I get the following error

[code]
An

[2021-03-29 18:21] parano commented on #1540
Suggestion from our discussion earlier:

Let's put the retry logic inside the `Lock` module, e.g.:
[code]

[2021-03-29 19:08] parano commented on #1544
Thanks for reporting this @kapsali29, I'm looking into it

[2021-03-30 02:14] parano commented on #1544
@kapsali29 what's your aiohttp version?

[2021-03-30 07:36] kapsali29 commented on #1544
@parano thanks for your prompt response. The aiohttp version I use is the 3.7.4

[2021-03-30 15:40] jcriddle-nci opened #1547 "Can't pickle local object for jupyter quick start guide"
**Describe the bug**
When I run through the jupyter quick start guide I get an error any time I run the starting of the dev server.

**To Reproduce**
I activate my environment using env\Scripts\activate
I made sure all libraries were installed using pip install -r guides\quick-start\requirements.txt
I open the jupyter notebook in vs code
Select the python environment as a the same environment
Run

[2021-03-30 20:57] parano commented on #1547
cc @bojiang  - is this related to  #1546 and #1544?

[2021-03-31 00:08] yubozhao opened #1549 "test issue"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.8.6]

**Additional context**

[2021-03-31 00:08] yubozhao commented on #1549
/help

[2021-03-31 01:26] yubozhao commented on #1549
/help

[2021-03-31 02:00] yubozhao commented on #1549
/help

[2021-03-31 02:39] yubozhao commented on #1549
/help

[2021-03-31 03:09] yubozhao commented on #1549
/help

[2021-03-31 03:21] yubozhao commented on #1549
/help

[2021-03-31 15:45] bnapora commented on #1544
Having this issue as well: aiohttp==3.7.4.post0
Windows 10

[2021-03-31 17:03] #1544 closed

[2021-03-31 17:55] parano commented on #1544
Update: I'm working on releasing 0.12.1 now, which will include the fix for this issue in #1557

[2021-03-31 20:27] pietermarsman opened #1559 "Can't load KerasModelArtifact with custom loss function while using store_model_as_json_and_weights"
**Describe the bug**

I'm trying to store a model with a custom loss function. I'm not interested at the loss function at inference time, so it's ok if the model loading totally ignores the loss function. For that reason I'm using the `store_model_as_json_and_weights=True`.

But using both `True` and `False` values result in the same error:

[code]

**To Reproduce**

[code]

**Expected behavior**

[2021-03-31 20:36] pietermarsman commented on #1559
Related:
- https://github.com/bentoml/BentoML/issues/1535
- https://github.com/bentoml/BentoML/issues/1219

[2021-03-31 22:08] pietermarsman opened #1560 "Can't use KerasModelArtifact with store_as_json_and_weights=True due to TypeError"
**Describe the bug**

I want to use `KerasModelArtifact` such that the name of the model is saved and restored. I also want to use `store_as_json_and_weights=True` to forget about the loss function and optimizer state (see #1559). However, when I fixate `store_as_json_and_weight` to `True` the model does not load properly and cannot be used for inference due to this error:

[code]

I think it has

[2021-03-31 22:13] yubozhao commented on #1559
@pietermarsman Thank you for reporting and the extra research about it.

Just like your additional comments, we are tracking it on #1219.  We are looking for to fix that issue in the upcoming releases.

[2021-04-02 18:51] bnapora opened #1564 "Timeout Error - raise asyncio.TimeoutError from None concurrent.futures._base.TimeoutError"
Running inference on large (500 mb) image, using Pytorch, on Windows.  At 4 - 5 minute the Bentoml serve process throws a time error.  It actually keeps running (displaying my print statements from predict function in console) but stops logging and does not pass the results to the webservice.  (See logging output below)

Output to webservice is 500 error

Additonally, same Bento repo runs without

[2021-04-02 19:54] andrewsi-z opened #1565 "ONNX-MLIR support"
**Is your feature request related to a problem? Please describe.**
Add support for ONNX-MLIR (LLVM) compiler generated library objects.

**Describe the solution you'd like**
See draft PR here: https://github.com/bentoml/BentoML/pull/1545

**Describe alternatives you've considered**
N/A

**Additional context**
The challenge I see is how to best structure integration tests.

ONNX-MLIR generates a sh

[2021-04-07 06:13] bnapora commented on #1564
I tried suggestions in #1234 .  Neither adding --timeout to docker run or including increased value in environment variable changed behavior.  Still get asyncio.TimeoutError at 5:00 min of run time.

[2021-04-07 07:09] bojiang commented on #1564
Hi @bnapora

In the log, I find

also this warning

It doesn't seem like starting bentoml API server in a docker container. In the official docker image, the entrypoint command is `bentoml serve-gunicorn` rather than `bentoml serve`.

The command `bentoml serve` creates a simple API server provided by Flask. It is not production-ready. The behaviour is not guaranteed, especially in some special ca

[2021-04-07 18:02] bnapora commented on #1564
@bojiang  Thanks for the response.  The result is the same with the gunicorn server.  As you can see from the CMD line below, I'm setting the "timeout" very high.  I've also tried the environment variable `BENTOML__API_SERVER__DEFAULT_TIMEOUT` with no change.

Below is the Dockerfile command line:
`CMD ["bentoml", "serve-gunicorn", "./", "--timeout", "5000", "--workers=1", "--debug"]`

The output

[2021-04-08 06:43] #1515 closed

[2021-04-08 07:43] JulesBelveze opened #1569 "Typo in docs annotations"
**Describe the bug**
In the [K8s deployment guide](https://docs.bentoml.org/en/latest/deployment/kubernetes.html) the prometheus annotations needs to be in quote.
Meaning switching from this:
[code]
to this:
[code]

**Additional context**
This error has already been highlighted in the Slack and Bo is aware of it.

[2021-04-08 08:38] xuzikun2003 opened #1570 "Cannot Pack a Tensorflow Model Whose Call Function Takes More Than Two Tensor Parameters as Input."
**Describe the bug**

I define the following class

[code]

And I tried to pack a decoder of type RNN_Decoder. Then I am getting the following error.
[code]

**To Reproduce**

**Expected behavior**

We should be able to pack the RNNDecoder

**Screenshots/Logs**

[code]

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.2]
 - BentoML Version [e.g. BentoML-0.8.6]

**Add

[2021-04-08 08:50] xuzikun2003 commented on #1570
Ok, looks like an existing tensorflow bug
https://github.com/tensorflow/tensorflow/issues/44512

[2021-04-08 23:31] cqvu opened #1571 "Ngrok tunnel connection failed for bentoml serve --run-with-ngrok"
**Describe the bug**

I'm getting this error when trying to serve a bento service with `bentoml serve BentoService:latest --run-with-ngrok`:
![image](https://user-images.githubusercontent.com/37096589/114105727-26429400-9882-11eb-879f-2f54a6d7b4eb.png)

**To Reproduce**
1. Go to https://colab.research.google.com/drive/1u21P8PCF7nedGb_lR8Jh2U9qtUPTkuUz#scrollTo=IvUU0k0JCxYk
2. Run all of the cells

[2021-04-13 06:00] #1569 closed

[2021-04-13 12:26] soeque1 opened #1577 "[JsonOutput] ensure_ascii=False to not escape UTF-8 characters"
**Describe the bug**

https://github.com/bentoml/BentoML/blob/master/bentoml/adapters/json_output.py#L59-L60

Non-ASCII code is escaped using`curl` or python requests.

[code]

**To Reproduce**

[code]

**Expected behavior**

Just add `ensure_ascii=False`

[code]

[code]

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.

[2021-04-13 18:13] parano commented on #1577
@soeque1 could you explain why you need this change?

[2021-04-14 01:04] soeque1 commented on #1577
Non-ASCII code is escaped using CURL or python requests.
Of course, it is possible to convert from client (Python) to "\\ud55c\\uad6dABC".encode('utf-8').decode('utf-8')

But, it was uncomfortable.
Please let me know if there are other good alternatives on the client side.

[2021-04-14 18:17] yubozhao opened #1579 "Refactor labels storage in Yatai"
**Describe the bug**

Separate it from bento service metadata protobuf  - which makes it possible to add additional features around searching and filtering saved bentos

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.8.6]

**Additional context**

[2021-04-15 00:11] paullee2018 commented on #1276
Just letting you know I am trying this out  for a project I am working on.
I let you know how it goes.

On Sun, 28 Mar 2021, 7:36 am Paul Lee, ***@***.***> wrote:

[2021-04-15 07:44] parano commented on #1577
Thanks, @soeque1, I had a discussion with @bojiang and we think your proposal makes sense, we will accept the PR and use `ensure_ascii=False` as the new default going forward.

[2021-04-16 15:02] aarnphm commented on #886
Anyone picking on this one? I would love to work on this

[2021-04-16 18:48] yubozhao commented on #1565
Hey @andrewsi-z Thank you for the PR and my apologies for the delayed responses.

For integration test, I think we can go with the first option for now.  I think we can get it working an merged and then look into how to improve the testing time.  I can see in the follow up PRs, we can make the test only trigger by commands, or we are using the second option, a pre-built container for it.

Let me k

[2021-04-17 08:24] #1577 closed

[2021-04-19 02:13] andrewsi-z commented on #1565
Hi @yubozhao . Thank you for your response!
I've started investigating option 1. Github workflows are a bit new to me so I'm exploring how to implement the tests.

Without a prebuilt container for ONNX-MLIR, the steps are:
1. install onnx-mlir prerequisites (this is a build from source primarily of llvm).
2. install onnx-mlir (build from source)
3. create simple TF model and save
4. convert to onn

[2021-04-19 12:22] gregd33 commented on #886
I put it on hold since I was not using GPUs anymore  so go for it. Basically my progress is in my last comment.

[2021-04-19 17:20] bnapora commented on #1564
I still haven't been able to fix this.  Moving on.

[2021-04-19 20:59] parano commented on #886
I will take this one, @aarnphm ping me on slack if you are interested in helping!

[2021-04-20 04:20] bojiang commented on #1564
@bnapora Hi. Would you mind sharing which version of bentoml you are using? I got an idea about this issue.

[2021-04-20 14:56] bnapora commented on #1564
@bojiang  We're using v 0.12.0, and then 0.12.1

[2021-04-20 15:31] andrewsi-z commented on #1565
@bojiang @yubozhao
It looks like the CI for onnx-mlir is now running in the docker image I am pulling from docker hub... So I think I need to work through now the errors in the next step on running the setup script.
see the draft PR here: https://github.com/bentoml/BentoML/pull/1545

What are your thoughts on this approach given the above? This seemed more straightforward that building from source

[2021-04-20 20:29] parano opened #1588 "Env var BENTOML_PORT should set API server port"
**Describe the bug**

The environment variable BENTOML_PORT is expected to be used as the port number for API server, and this is currently implemented using `click`'s `env_var` option: https://github.com/bentoml/BentoML/blob/v0.12.1/bentoml/cli/bento_service.py#L254

This works when launching API server from CLI, e.g.:
[code]

But failed when using `docker run` to pass the env var, see steps to r

[2021-04-20 20:50] yubozhao commented on #1565
@andrewsi-z I think this approach is good. Rest of the issues would the part about build and install onnx-mlir in the install script?

We start to adopting a new pattern for the integration test.  You can find an example here: https://github.com/bentoml/BentoML/tree/master/tests/integration/projects/fastai2

I think your current integration test is good, we can update it to the new pattern in a fo

[2021-04-21 14:52] andrewsi-z commented on #1565
The rest of the issues are just to get the subsequent steps to run in the container... Hopefully just some minor debugging to get it working.

[2021-04-22 08:28] chlee1016 opened #1589 "Labels are not saved in YataiService repository"
**Describe the bug**

I found a bug that labels are not saved in YataiService after pushing my bento service.

**To Reproduce**

- [click here to see the example below](https://docs.bentoml.org/en/latest/quickstart.html)

[code]

[code]

[code]
[code]

[code]

[code]

**Expected behavior**

I should be able to see the labels in the YataiService repository.

**Screenshots/Logs**

<img width="618" a

[2021-04-22 16:25] yubozhao commented on #1589
@chlee1016 Thank you for reporting, I will look into it.   Can you try with the latest BentoML version, `0.12.1` and see?

[2021-04-23 00:05] chlee1016 commented on #1589
@yubozhao Okay, I will give it a try and let you know that. Thank you.

[2021-04-23 00:52] chlee1016 commented on #1589
**Same test with BentoML version `0.12.1`**

Save my bento service with labels.
[code]
[code]
After bentoml push, I got the same result.
[code]

**Screenshot**
<img width="753" alt="bentoml_bug_2" src="https://user-images.githubusercontent.com/36870121/115802249-822c2180-a419-11eb-868b-540f3323db19.png">

[2021-04-23 02:31] yubozhao commented on #1589
@chlee1016 I see.  Can you make sure your local yatai service UI display the labels?

[2021-04-23 04:26] yubozhao commented on #1589
I will keep you updated, hopefully we can get this resolved before next release

[2021-04-23 05:49] chlee1016 commented on #1589
@yubozhao Thank you for considering this issue.

As I understand, the `labels` option in the CLI will be updated in the future and if there are no new labels in the CLI, current labels set via python API will be used as default. Therefore I will be able to see the `labels` in remote YataiService repo. Am I right?

[2021-04-23 08:18] hsiehjackson opened #1591 "[Tracing] Jaeger tracing need dict type header"
**Describe the bug**

When using tracing with Jaeger in bentoml, there is an error from Jaeger client because of the type of header.
[Bug](https://github.com/bentoml/BentoML/blob/master/bentoml/tracing/jaeger.py#L104) - header type is 'werkzeug.datastructures.EnvironHeaders'
[Reason](https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/codecs.py#L57) - header type must b

[2021-04-23 21:26] Matthieu-Tinycoaching opened #1593 "Error with micro-batching and Sentence-Transformers : <status: 500> when using internal BenchmarkClient"
**Describe the bug**
Hi community,

When load testing sentence-transformer with internal bentoML BenchmarkClient  and micro-batching activated, most of my requests failed with the following status: `<status: 500> The return values of Api Function doesn't match tasks`

If I look into prediction.log file and compare one request that succeeded:
`{"service_name": "StsBTGpuTransformerService", "service

[2021-04-24 15:13] chlee1016 commented on #1332
A similar issue happened to me.

I succeeded in saving my bento service at first, but failed after start YataiService trough docker as below.
[code]
I tried to delete my docker container and image, change my conda env, re-install bentoml, reset yatai_service.url, but the same problem still happen.

[code]

[2021-04-25 23:48] ssheng commented on #1588
Why should `bentoml run` start a server?

[2021-04-26 09:04] orcaman opened #1594 "When Providing Yatai URL, Bento Service "Save" Tries to Write to `/root` (and fails)"
**Describe the bug**

I've downloaded the repo and ran the quick-start tutorial (Python version, not noteobok), where the only change was to add a yatai_url to the save function (I have a Yatai server up and running), [here](https://github.com/bentoml/BentoML/blob/master/guides/quick-start/main.py#L22).

[code]

Before adding the yatai_url, the service saved successfully. I can see that the `respo

[2021-04-26 10:34] orcaman commented on #1594
Update:  Confirming this is probably a macOS issue (readonly /root dir), if I run the same inside a docker container that starts from the official python3.8, everything works well.

[2021-04-27 01:14] yubozhao commented on #1594
@orcaman There is an FS as storage related enhancement we are working on.

I am going to assign this to me and keep you posted.

[2021-04-27 14:57] zhangyilun opened #1596 "Make POSTing various file format easier more straight-forward in BenchmarkClient"
**Is your feature request related to a problem? Please describe.**
Make POSTing various file format easier. Currently I will need to import `aiohttp` and use `FormData` to construct the request. And I found out this by going into the source code of `BenchmarkClient` and discovered it is using `aiohttp` rather than `requests` for sending request.

[code]

**Describe the solution you'd like**
Option

[2021-04-27 18:35] zhangyilun opened #1597 "Make extracting audio file from file stream more intuitive."
**Is your feature request related to a problem? Please describe.**
My use case is an audio classification service where the user will be sending audio file to the service for prediction. I'm using `FileInput()` and followed the doc and example at: https://docs.bentoml.org/en/latest/api/adapters.html#fileinput. In the given example, it was an image file and `PIL` can open it directly without any is

[2021-04-27 23:54] yubozhao commented on #1589
@chlee1016 I made a PR #1598 to address this issue

After some discussion, we think this would be a good solution going forward, love to hear your feedback.

Push now is default to retrain your labels to remote yatai server.  You can turn off this behavior in CLI with flag `--without-labels`, or in python API `yatai_client.repository.push('bento:version', with_labels=False)`

We are going to intro

[2021-04-28 07:16] orcaman opened #1599 "Lambda Deployment with NumPy Broken in Newer Versions"
Hi guys,

I am trying to deploy the quickstart to lambda, basically running the [deploy_latest.sh](https://github.com/bentoml/BentoML/blob/master/guides/quick-start/deploy_latest.sh) script as-is, and this seems to only work when I downgrade to `bentoml==0.10.1` in my requirements.txt file.

If I upgrade to `bentoml==0.12.1` (only change), I'm getting this in CloudWatch logs following an attempted

[2021-04-29 01:03] yubozhao commented on #1599
@orcaman Thanks for reporting.  I am going to try to reproduce this with the Quickstart guide.

Could you share with me what's your current setup and what's your use cases?

[2021-04-29 02:14] #1589 closed

[2021-04-29 02:16] yubozhao commented on #1589
@chlee1016 It is merged to master now, and will be part of the `0.13.0` release.  Feel free to reopen this issue.

[2021-04-29 06:59] orcaman commented on #1599
Sure. This seems to happen both when I try to deploy from the build server (GitHub Actions) and from my machine (macOS Big Sur).

Here's my full GitHub actions file: https://gist.github.com/orcaman/ddf3ab5b67c16f5c604951181ecfdd05

My use case is POCing BentoML as an inference platform, I've started by trying out the quick-start as-as (you will see on the gist that I'm basically just running the c

[2021-04-29 08:05] orcaman opened #1600 "SageMaker Deployment is Broken in Quick-Start Guide"
Hi guys,

Following the quick-start without any change, deployment to SageMaker seems to be failing. Even though I'm the admin for the account, when the deployment occurs, I'm getting an error about the role that BentoML uses (AWSServiceRoleForAmazonSageMakerNotebooks) not having BatchGetImage permission for the ECR image that BentoML has pushed. This is how it looks like

[code]

I'm running the

[2021-05-02 05:39] yubozhao commented on #1600
@orcaman Could you share with the permissions that's on the role that is using for deploying to Sagemaker?

In order to use customized container for Sagemaker endpoint, you will need the ECR permissions,https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-roles.html#sagemaker-roles-amazonsagemakerfullaccess-policy

[2021-05-02 07:09] orcaman commented on #1600
Thanks, @yubozhao. I'm just trying to run the quick-start as-is, not changes (so don't know if that requires a customized container). The only thing I did was to replace lambda deploy with SageMaker deploy according to the docs.

It seems like when BentoML deployed to SageMaker it assigned the role `arn:aws:iam::aws:policy/aws-service-role/AmazonSageMakerNotebooksServiceRolePolicy` to the endpoint

[2021-05-02 19:51] yubozhao commented on #1600
@orcaman The Sagemaker is unique in the sense of you will need a different policy for training the model (using the remote notebook) and serving as an end point. You can use the policy `arn:aws:iam::aws:policy/AmazonSageMakerFullAccess` that's provide by AWS

[2021-05-03 06:14] orcaman commented on #1600
Can I set this within BentoML? in code or in the deploy command? I didn't find a way to assign a different policy once the endpoint has been deployed by BentoML.

[2021-05-03 16:57] MasterScrat commented on #685
Is there any alternative way to bundle json/yaml files for now?

I need load a large number of pre-computed values to perform inference with my PyTorch model. I guess I could save them in a `nn.Module` but that feels a bit too hacky 😅

[2021-05-03 17:37] parano commented on #685
@MasterScrat  for now, you can use either a PickleArtifact, JSONArtifact, or TextFileArtifact https://docs.bentoml.org/en/latest/api/artifacts.html

[2021-05-05 06:41] davidricafort opened #1605 "KerasModelArtifact can't load custom_objects"
**Describe the bug**
I have imported `custom_objects` from `deepctr.layers ` in my code but when I try to load the KerasModelArtifact, the `custom_objects` dictionary is not loaded properly. `ValueError: Unknown layer: Hash` is encountered when `custom_objects `is not loaded from `deepctr`

**To Reproduce**
[code]

**Expected behavior**
I expected the model to be loaded properly

**Logs**
[code]
*

[2021-05-05 06:59] bojiang commented on #1605
@davidricafort

https://github.com/shenweichen/DeepCTR/issues/104

[2021-05-06 00:42] davidricafort commented on #1605
@bojiang thanks for the feedback but I've already tried that. As you can see from the code snippet above, I have imported deepctr already the way that it was mentioned in that comment but it still doesn't work
[code]

[2021-05-06 02:07] parano commented on #1605
@davidricafort  could you try again using `pack` to provide the `custom_objects`?

[code]

[2021-05-06 03:44] davidricafort commented on #1605
@parano  it worked! Thank you

[2021-05-06 03:45] #1605 closed

[2021-05-06 21:27] yubozhao commented on #1600
You can set that in the AWS' IAM service.  Right now, it is use the default role/user for deployment, you can't specific a different role/user for the deployment.

[2021-05-06 21:30] yubozhao commented on #1594
@orcaman We have a PR open and going under review for this issue https://github.com/bentoml/BentoML/pull/1586

After the PR merged, yatai will properly handle remote yatai with local FS as repository type.

[2021-05-07 08:52] mar-muel opened #1606 "Cannot delete BentoML model in Yatai service"
My model name is
[code]

which means I've used `bentoml.ver(major=1, minor=0)` and
[code]
in the service class.

When trying to delete this model with
[code]
I get the following error:
[code]

[2021-05-07 09:05] #1503 closed

[2021-05-07 17:40] yubozhao commented on #1606
@mar-muel Thank you for filing this issue.  Can you share with me what BentoML version you are using? and other system info such as python version?

[2021-05-08 08:08] jieYM opened #1607 "follow custom_artifact.rst get error"
**Describe the bug**

get error when run ` svc.save()`

**To Reproduce**

all code from [custom_artifact.rst](https://docs.bentoml.org/en/latest/guides/custom_artifact.html), get some sample issue I fixed myself, but still had error
**change history**
1. `from bentoml.adapters import JsonInputAdapter` get error, change to `from bentoml.adapters import JsonInput`, work well
2. `@api(input=JsonInput

[2021-05-10 12:30] mar-muel commented on #1606
Ok - thanks @parano.

The idea here was to be consistent between Bento service names and docker image names which are usually required to be snake case.

If this is not a feature you are willing to support in the future, I will close this issue.

[2021-05-10 16:28] nicjac opened #1614 "Yatai service (deployed on Kubernetes) becomes unusable until restarted following exception or error"
**Describe the bug**

I have Yatai service deployed on Kubernetes. When encountering an issue with an operation (e.g. in this case a missing IAM permission when attempting to deploy a service to Lambda), the service becomes unusable until restarted.

The error message is always of the type:
[code]

**To Reproduce**
1. Setup bentoml to use a remote Yatai service
2. Encounter an error during an oper

[2021-05-11 14:33] jeanCarloMachado opened #1617 "Livereload support for speeding up development"
Hello Bento Team,

First of all, thanks for the great project.

**Is your feature request related to a problem? Please describe.**
 I did some investigation and looks like bento does not support live reloading.
Live reloading is especially useful if one wants to do some complex pre and post-computation logic in the web service (which is my case).

**Describe the solution you'd like**
By passing a

[2021-05-11 17:35] yubozhao commented on #1617
@jeanCarloMachado
Have you able to try out `start_dev_server` method on the bento service instance? You can start an API server without saving.  Here is the link for it.  I will make sure update doc's API section to make it easier to find

https://github.com/bentoml/BentoML/blob/f55685018fa5a2584aa4026b48c2df75a93dffa1/bentoml/service/__init__.py#L782

[2021-05-11 20:29] gregd33 opened #1618 "Error when Ctrl+C to close service"
**Describe the bug**

When a service is served and then closed, it gives an error.

**To Reproduce**
1. Build any service (e.g. the demo IrisClassifier
2. Use `bentoml serve` to serve it (I think `serve-gunicorn` also works)
3. View it in the browser - you don't have to send a prediction but viewing it in the browser is necessary
4. Ctrl+C to kill it

**Expected behavior**
You'll get an error like

[2021-05-12 05:14] yubozhao opened #1620 "Support Azure blob storage in BentoML Model Registry (YataiService)"
**Is your feature request related to a problem? Please describe.**

BentoML currently support AWS S3, Google Cloud Storage as Yatai service's storage backend. With [Azure Blob Storage ](https://azure.microsoft.com/en-us/services/storage/blobs/) support, BentoML will integrate with all major cloud providers' object storage services.

TODO list:
- [ ] implement Azure blob storage support
- [ ] Add c

[2021-05-12 05:30] yubozhao commented on #1565
Merged at https://github.com/bentoml/BentoML/pull/1545

close this issue, reopen if needed

[2021-05-12 05:30] #1565 closed

[2021-05-12 17:00] entrpn commented on #1491
I'm running into a similar issue. Even when I run the collab notebook, no matter what image I pass to the prediction service, it outputs the same prediction. I also think this is related to preprocessing the input data.

[2021-05-13 11:44] iakremnev opened #1621 "Bundle / development package import"
**Describe the bug**

Required modules from the local development package are not imported to the service bundle when packing a service with artifacts.

**To Reproduce**

1. Clone https://github.com/iakremnev/bentoml-issue-example
2. Make virtual environment and install local package in development mode:
[code]
3. Pack the service:
[code]
4. Try and run the service:
[code]

As a result, the servic

[2021-05-13 12:08] iakremnev commented on #1621
I've seen this and related issues mentioned quite a few times #1410, #608, [in slack ](https://bentoml.slack.com/archives/CKRANBHPH/p1604421962371200). The suggested workaround is to import all the required modules in the module with BentoService class definition.
So it's rather a feature suggestion, than a bug report: **trace required modules for the artifact that is packed**.

[2021-05-13 15:36] nicjac opened #1622 "Deployment on remote Yatai server fails due to injection issue"
**Describe the bug**

Attempting to deploy to SageMaker or Lambda fails with this error:

[code]

**To Reproduce**

**This is based on the latest version of the code as of this writing**

- Start remote Yatai server
- Configure BentoML to use the remote Yatai server (e.g. by modifying `default_bentoml.yml`
- Start a deployment to SageMaker or Lambda (without specifying a namespace through the `--n

[2021-05-13 16:19] nicjac commented on #654
I just experienced this - is there any way around this? I am unclear why a global DNS update is required to access the bucket (e.g. I am able to access it with `boto3` right after creation).

There should at least be some kind of warning in place to inform the user that a broken pipe might resolve itself?

[2021-05-13 16:39] yubozhao commented on #1621
@iakremnev Thank you for the reproducible repo!  We are working on new user facing APIs that will make it a lot easier for users to include files

[2021-05-13 16:41] yubozhao commented on #1622
Thank you for digging into this issue.  I will take a look with the latest master

[2021-05-13 18:28] yubozhao commented on #1491
@rubensmau @entrpn Another community member raised similar question in slack. From his experience, it seems like fastai issue.  After he restart his notebook, it works fine.
https://bentoml.slack.com/archives/CK8PQU2JY/p1620408777058700?thread_ts=1620394034.055500&cid=CK8PQU2JY

[2021-05-14 18:23] entrpn commented on #1491
@yubozhao thanks for the quick response. I added my comments to slack maybe is easier. I'm using fastaiv1 models. Even the sample notebooks for fastaiv1 haven't worked for me correctly.

[2021-05-14 21:03] yubozhao commented on #1620
cc @Qiao-Liang

[2021-05-14 22:15] yubozhao commented on #1445
@syedsameerarshad

[2021-05-16 08:27] jeanCarloMachado commented on #1617
Hello, @yubozhao

Thanks for pointing out. I'm indeed using that, still I have to cancel the process and start again to see my changes.

Maybe I'm using it wrong?

[code]

[2021-05-16 09:07] jeanCarloMachado commented on #1617
Another thing that hinders the development is that the breakpoint() function does not work. If I set a breakpoint in the predict function I get this error:

[code]

I think could be related with bentoml using a subprocess in the background to run the webserver thus the breakpoint session cannot be raised to the screen.

Let me know if you prefer I set a new issue regarding this topic, happy to do

[2021-05-17 04:07] #1622 closed

[2021-05-17 04:08] yubozhao commented on #1622
@nicjac I include the proper module, it works with the latest master now.  Feel free to reopen if it still happens

[2021-05-17 18:03] Matthieu-Tinycoaching opened #1627 "Customize docker environment for the EC2 deployment"
When deploying bentoML service onto an AWS EC2 instance, it for now impossible to customize the docker environment such as activating microbatching via `BENTOML_ENABLE_MICROBATCH` and add further gunicorn workers via `BENTOML_GUNICORN_WORKERS`.

Could it be possible to develop these customizations which are really needed regarding to microbatching when deploying on cloud.

[2021-05-18 04:41] #1540 closed

[2021-05-18 12:23] hzlmn commented on #685
Hi, is there any progress on it? It would be nice to have such feature.
Also, for now is there any proper ways how i can include additional files and folder with my service bundle. For example we need folder with credentials file used to query external service inside API function. Thanks!

[2021-05-20 06:59] Matthieu-Tinycoaching opened #1631 "Exceptions with internal BenchmarkClient while load testing AWS EC2 instance"
Hello,

I am load testing AWS EC2 instance with one bentoML service containerized into a docker image and have often some disconnections or server errors. Please find below the exceptions I got using the internal BenchmarkClient :

[code]
Would anyone have an advice about what these exceptions correspond to?

**Environment:**
 - OS: AmazonLinux 2
 - Python Version: 3.8.8
 - BentoML Version 0.12.0.

[2021-05-22 09:25] Matthieu-Tinycoaching opened #1634 "Enable deployment of bentoML to AWS Inf1 instances"
Hello,

Would it be possible to customize bentoML service to enable deployment into AWS Inf1 instances using Neuron library (https://awsdocs-neuron.readthedocs-hosted.com/en/latest/index.html) ?

Thanks!

[2021-05-25 01:10] calclavia opened #1638 "Microbatch not enabled by default on 0.12.1"
**Describe the bug**

I'm running Bentoml v0.12.1 and it seems that I still need to use --enable-microbatch in order for microbatching to take effect. Otherwise, `bentoml serve-gunicorn` doesn't batch requests.

**To Reproduce**

Run a bentoml service with/without `--enable-microbatch` flag.

**Expected behavior**

I expect microbatching to be enabled by default, as specified in the docs.

**Envir

[2021-05-25 01:12] calclavia commented on #1518
I have the same issue:
[code]
I am loading several large neural networks - not sure if this is a cause. When setting number of workers to 1, it works.

[2021-05-26 08:14] illy opened #1642 "Failed to download NLTK dataset"
**Failed to download NLTK dataset**
Our project needs to download a dataset in NLTK, and we specified in the setup_sh, but the compiled docker image doesn't include this downloaded dataset.

**To Reproduce**

1. We added the following code to the bento env decorator:

`@bentoml.env(
    requirements_txt_file='requirements.txt',
    setup_sh="""\
#!/bin/bash
mkdir /home/bentoml/
mkdir /home/bentoml

[2021-05-26 12:08] gregd33 commented on #1518
From my experience it is just a resource issue. If your service/worker runs out of memory or CPU then this will happen. Using just 1 worker helps because more workers = more replicas of your model in memory.

[2021-05-26 13:39] illy commented on #1642
the log shows that the punkt dataset has been downloaded to /root:

`#12 40.88 [nltk_data] Downloading package punkt to /root/nltk_data...
#12 40.88 [nltk_data]   Unzipping tokenizers/punkt.zip.`

However, entering the built docker container, and manually executing the command will download the data to /home/bentoml/nltk_data/, which can then be run correctly.

[2021-05-26 14:32] illy commented on #1642
This issue can be solved by pointing the right download dir for NLTK dataset:

`    setup_sh="""\
#!/bin/bash
mkdir /home/bentoml/nltk_data
pip install nltk
python -c "import nltk; nltk.download('punkt', download_dir='/home/bentoml/nltk_data')"
"""`

[2021-05-30 16:45] yubozhao commented on #1642
Hi @illy I am glad you resolved the issue.  I am going to close this for now. Feel free to reopen it, if you still experience issues.

[2021-05-30 16:45] #1642 closed

[2021-06-01 01:54] parano opened #1647 "Enable micro-batch by default for "batch-True" APIs"
**Is your feature request related to a problem? Please describe.**

* remove the current "--enable-microbatch" flag for `bentoml serve` and `bentoml serve-gunicorn` (show a deprecation warning when user use this flag)
* (next step) add a tool for sending test requests to an API server to test and verify batching behavior

**Describe the solution you'd like**

**Describe alternatives you've conside

[2021-06-01 02:42] parano opened #1648 "Add debug logs to API server for understanding micro-batching behavior"
**Is your feature request related to a problem? Please describe.**

* add debug logs that could help us understand behaviors and runtime decisions related to micro-batching in marshal server

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-06-01 02:43] parano commented on #1638
Thanks for reporting @calclavia - Tracking this issue here now https://github.com/bentoml/BentoML/issues/1647

[2021-06-01 02:43] #1638 closed

[2021-06-01 05:43] morningcloud opened #1649 "The artifact metadata are not getting saved when the yatai-url is configured to point to minio repo"
**Describe the bug**
The artifact metadata are not getting saved when the yatai-url is configured to point to minio repo, but it is saved as expected when bentoml is running using local repo.

**To Reproduce**
1.  Run the following script in CLI
`bentoml config set yatai_service.url=https://yatai.service.url:50051`
2. Run following python script
[code]
3. Run the following script in CLI
`bentoml g

[2021-06-01 21:17] Matthieu-Tinycoaching commented on #1634
In particular, how and where to define the 'NEURONCORE_GROUP_SIZES' environment variable  that will use 1 model per NeuronCore to achieve maximum performance. Set the environment variable to the number of individual workers you want to test in parallel, i.e. for 4 NeuronCores use NEURONCORE_GROUP_SIZES='1,1,1,1'.

Is it appropriate then to define the number of workers to 4 in order to define one c

[2021-06-02 13:05] sunnyl95 opened #1651 "How to use the bemtoml monitor model serving？"
I did not find any examples of model monitoring in the[ technical documentation](https://docs.bentoml.org/en/latest/quickstart.html). If anyone knows the use of model service monitoring, please teach me, thank you very much！

———Health check endpoint and Prometheus /metrics endpoint for monitoring

[2021-06-02 17:20] fernandocamargoai commented on #1529
I started having this issue when I needed to replace the docker_base_image.

[2021-06-02 18:16] fernandocamargoai commented on #1529
As a workaround, I added the following to my `pip_packages`:
[code]

[2021-06-03 10:18] ssheng commented on #1588
The issue is only limited to `BENTOML_PORT` environment variable. Other click parameters work just fine. The problem is in how we generate Dockerfile. In the Dockerfile template, we set a environment variable `PORT` to 5000, seemingly for Heroku.

https://github.com/bentoml/BentoML/blob/238bc9757033e5b3ffad6810c5dba95ac596c70e/bentoml/saved_bundle/templates.py#L113

In the ENTRYPOINT script, we ov

[2021-06-03 16:34] aarnphm opened #1654 "Docker management"
## Background

- Currently BentoML manages docker images via `./dev/release-docker-images.sh` every docker directory contains a small `release.sh` to generate and push the docker images to the registry.  This approach is pretty manual and a lot of repetitions are invoked in every `release.sh`.

- Additionally there aren't any ways for developer to develop `Dockerfile`  and test the docker images l

[2021-06-04 06:42] jjmachan commented on #1617
livereload is something that would be useful for me too. I use a watchdog scrip to monitor for file changes and then use the library functions to get the same effect. A more elegant approach would be helpful

[2021-06-04 06:43] jjmachan commented on #1620
I'd like to work on this is no one is working on this yet

[2021-06-04 09:27] Matthieu-Tinycoaching opened #1655 "[bentoML service on inf1] RuntimeError: forward() is missing value for argument 'tensor'"
Hello,

I tried to save a bentoML service of a roBERTa model on inf1 instance with this code:

[code]
However, when trying to start the bentoML service in inf1 instance with: `bentoml serve-gunicorn --enable-microbatch $saved_path --workers 1 --port=5000`

An trying to test API inference with the following code:

[code]

I got the following error log:
[code]

Could anyone help me regarding this pr

[2021-06-04 09:33] bojiang commented on #1655
[code]
Just as the error stack pointed out, it's caused by this line of the user API function:
[code]

[2021-06-04 09:37] bojiang commented on #1655
Apparently, it is because the original model excepts users to call it with `self.artifacts.model(tensor=..., tensor=...)`. But `** encoded_input` failed to provide this two arguments.

[2021-06-04 09:40] Matthieu-Tinycoaching commented on #1655
Hi @bojiang thanks

I try the same code on other AWS instances with classical Torchscript (not as `torch_neuron` here) and it always worked perfectly.

Normally `** encoded_input` should provide these two tensors arguments which are `input_ids` and `attention_mask`.

[2021-06-04 09:48] bojiang commented on #1655
We can use `self.artifacts.model(tensor=encoded_input['input_ids'], tensor0=encoded_input['attention_mask'])` for now.

Oh, thus you mean the original model (before packed as the bentoml artifact) takes `input_ids` and `attention_mask` as argument keywords?
It should be a bug if it's true.

[2021-06-04 11:16] Matthieu-Tinycoaching commented on #1655
@bojiang thanks for the patch it works.

Yes, my original predict method with torchscript model use the following code:
[code]

with `encoded_input` a dictionnary made of the two fields `input_ids` and `attention_mask` which are torch tensors. What should it be normally?

Also, I have two related problems with torchscript compilation from `torch_neuron` package. It seems that all is static as the

[2021-06-04 13:26] Matthieu-Tinycoaching opened #1656 "Fixed size batching"
Hello,

Would it be feasible to activate batching at a fixed size. As far as I know bentoML actually implement both non-batching and micro-bacthing which is adaptive one.

For certain architectures as AWS instances, the torchscript compiler is based on fixed batch size.

Thanks!

[2021-06-04 13:49] bojiang commented on #1656
We also considered providing a padding option for micro-batching. Then it would be possible to have fixed size batching.

Before an official solution, you can make full use of the freedom of the Python runtime, padding inputs by your own.

Here is an example:
[code]

[2021-06-04 13:55] bojiang commented on #1655

Assume the first dimension is the batch dimension.

Generally, for a NLP tokenizer, the `padding` option is to pad on the dimension of word count in a sentence, rather than thr batch dim.

[2021-06-04 15:04] Matthieu-Tinycoaching commented on #1655
@bojiang yes the first dimension is the batch dimension, which is expected to be 1 as the one use for torchscript compilation.

I didn't show you the error with padding but it is represented by `128` (max_length) in `1 128 768`. So when using the option `padding=True` in tokenizer it gave me same kind of result but in another dimension:

`Incorrect tensor shape at input tensor #0: received 1 57 76

[2021-06-04 15:06] Matthieu-Tinycoaching commented on #1656
@bojiang thanks that seems a good workaround meanwhile the official solution !

[2021-06-04 15:13] Matthieu-Tinycoaching commented on #1656
@bojiang since I work with torch tensors, do you know which is the fastest between your solution using `cycle` Python runtime or with `torch.nn.ConstantPad1d`?

[2021-06-04 16:11] #1419 closed

[2021-06-04 16:11] #1417 closed

[2021-06-05 01:26] ssheng opened #1658 "Add --config option to the bentoml containerize command"
**Is your feature request related to a problem? Please describe.**

With the recent configuration revamp, building the config file into the Docker image is the last missing link. Without such option, users will have to mount a shared volume through the `docker run -v` option and setting the `BENTOML_CONFIG` environment variable to point to the config file in the shared volume, to pass a config fil

[2021-06-05 04:16] yubozhao commented on #1658
For other CLI commands, the `--config` option will be used to load a different set of BentoML configuration for that command run, right?

I think the feature is great.  Maybe we can be more explicit with the option name, like `--config-file-for-docker-image` or something.

[2021-06-05 04:17] #1317 closed

[2021-06-05 07:18] parano commented on #1620
@jjmachan I don't think anyone is working on this, you're welcome to take it :D

[2021-06-05 07:24] jjmachan commented on #1620
Thanks man 😃 @parano

[2021-06-05 08:52] ssheng commented on #1658
No, we don't have the `--config` option for other CLI commands anymore. Config file is set with environment variable only now.

[2021-06-05 09:19] aarnphm commented on #1651
You can run Prometheus on your local machine with docker, refers to their [guide](https://prometheus.io/docs/prometheus/latest/installation/) on this. Then you need a `prometheus.yml` config file to setup server for scraping metrics. BentoML provides `/metrics` for every BentoService so you can start from there.

You can also use Grafana to setup some nice dashboard. Let me know if you have any mo

[2021-06-05 16:54] parano commented on #1658
@ssheng I slightly prefer to allow users to set a default config file in Bento bundle during "save" and allow override in runtime, e.g. via `docker run -e .. -v ..`, let's discuss more

[2021-06-05 18:38] ssheng commented on #1658
@parano What you suggested was the first implementation I considered, however, it has a limitation. When a user saves a config file in the bento bundle. They will expect the config file to be applied when the bundle is served during `bentoml serve` or `docker run`. The configuration is overridden during BentoML initialization, we don't know at that time what bundle, or if any bundle, is going to b

[2021-06-06 03:48] #1439 closed

[2021-06-06 05:19] henrywu2019 opened #1659 "Model serialization/deserialization with external functions aren't bundled when `serve-gunicorn`"
**Describe the bug**
Saving the model works well, but serving it caused some issue.

**To Reproduce**
1. Run the following code to save the model:
[code]

2. Run the following code to serve the model
[code]

**Expected behavior**
be able to serve

**Screenshots/Logs**
above

**Environment:**
 - OS: MacOS 10.14.3
 - Python Version: Python 3.8
 - BentoML Version: 0.12.1

**Additional context**
NA

[2021-06-06 06:35] aarnphm commented on #1659
can you try adding `efficientnet_pytorch` to `env` decorator under `pip_package=` args?

[2021-06-06 14:58] henrywu2019 commented on #1659
Yes, but the error still happens.

[2021-06-07 00:58] aarnphm commented on #1659
`outputs = self.artifacts.net(img)` this should be `self.artifacts.model(img)`

[2021-06-07 03:05] #886 closed

[2021-06-07 04:52] henrywu2019 commented on #1659
That is my typo, but the error still happens after I changed `net` to `model`. You can test on your side. Let me know if it really works on your side.

[2021-06-07 04:54] henrywu2019 commented on #1659
It seems I have no permission to reopen the issue. Can you please reopen it?

[2021-06-07 05:02] aarnphm commented on #1659
can you define your service and model separately. Everything runs fine with my end @henrywu2019

[2021-06-07 05:06] aarnphm commented on #1659
cc Chaoyu solution to put `if __name__ == "__main__"` before
[code]
would also work

[2021-06-07 05:30] aarnphm opened #1662 "`/metrics` doesn't get exposed while running with bentoml `serve-gunicorn`"
**Describe the bug**

when running `bentoml serve-gunicorn` metrics doesn't get exposed as expected.

**To Reproduce**

1. Serve any current `BentoService` that you have (if none run `make torch-pipe` from [here](https://github.com/aarnphm/distributed-deployment-ml))
2. `docker run --gpus all -p 5000:5000 bento-torch-gpu:latest`
3. `curl -v localhost:5000/metrics`

**Expected behavior**

Terminal

[2021-06-07 05:34] bojiang commented on #1662
Let me take a look.

[2021-06-07 09:30] aarnphm commented on #1659
#1663 FYI. Closing this for now.

[2021-06-07 09:31] aarnphm commented on #1662
@bojiang I will take this.

[2021-06-07 10:50] bojiang commented on #1662
A probable reason.

https://github.com/bentoml/BentoML/blob/slo/bentoml/server/instruments.py#L95

I guess the latest configuration refactoring, which just changed the import order might cause this issue.

[2021-06-07 10:53] bojiang commented on #1662
We may create `<project_root>/bentoml/server/metrics.py` and unified all importing `from prometheus_client import *` to that module.

[2021-06-07 12:15] aarnphm commented on #1662
Thank you for the help.

[2021-06-07 15:23] henrywu2019 commented on #1659
[yolo.zip](https://github.com/bentoml/BentoML/files/6610154/yolo.zip)

There is another example I got similar error with `if __name__ == "__main__"` added.

yolo_model.py:

[code]

yolo_packer.py:

[code]

The error:

![image](https://user-images.githubusercontent.com/47995124/121043581-9ded4c00-c769-11eb-9561-d3155056b519.png)

[2021-06-08 00:03] aarnphm commented on #1659
did `attempt_load` changed `model` to `eval`? Either that your forgot to `model.eval()` for evaluation step. Refers to [In 17](https://github.com/bentoml/gallery/blob/master/pytorch/news-classification-gpu/news-classification.ipynb) for loading and setting up model for evaluation.

[2021-06-08 07:24] Matthieu-Tinycoaching commented on #1656
@bojiang if `len(json_list) < FIXED_BATCH_SIZE` shouldn't we return from the `predict` method `results[:len(json_list)]` instead of `results[:FIXED_BATCH_SIZE]` to take into account only the data of interest which were not padded?

In this case how to obtain from inference prediction of interest and not results from padded data?

[2021-06-08 07:30] bojiang commented on #1656
@Matthieu-Tinycoaching
Oops yeah. It should be `results[:len(json_list)]`

[2021-06-08 11:56] Matthieu-Tinycoaching commented on #1656
@bojiang thanks.

Testing with this workaround gave me worse results. Wouldn't it be possible with the actual bentoML to have constantly batch of size `FIXED_BATCH_SIZE`, since with microbatching the batch size can vary between 1 and `FIXED_BATCH_SIZE`?

[2021-06-08 12:31] bojiang commented on #1656
I didn't get it. "worse results" means bad performance or the api just doen't works?

[2021-06-08 15:57] henrywu2019 commented on #1659
Sorry, I don't understand why it is related to `eval` mode and `attempt_loads` implementation. Are there some basic rules about the model packing I am not aware of? Do you mean `yolo_model.py` and `yolo_pack.py` are implemented wrongly? I can run them without any issue.

[2021-06-08 16:02] bojiang commented on #1656
Would you please print actual batch sizes the api function got to the terminal?

[2021-06-09 01:31] aarnphm commented on #1659
In the function `attempt_load` from `utralytics/yolov5` if you take a look in the way they implements it, they are lazy loading `models` with [L144](https://github.com/ultralytics/yolov5/blob/abb2a96e91340df74b2526d925f2ecba24973dec/models/experimental.py#L114). This is the error you see `ModuleNotFoundError`

wrt `eval` mode, I was just wondering at the time whether `attempt_load` also sets the m

[2021-06-09 09:51] aarnphm commented on #1659
@parano This occurs when users want to deserialize PyTorch model with a function from a library. And the bundle doesn't have any knowledge of class definition.

For now users have to explicit define their model class in order to serve with BentoML.

[2021-06-09 10:40] aarnphm commented on #1662
Done

[2021-06-09 10:40] #1662 closed

[2021-06-09 18:00] yubozhao commented on #1649
@morningcloud Thanks for reporting this issue and the very detailed reproducible!  Apologies for the late responses.

I use the latest version `0.12.1` and can't reproduce your issue.  The step 4 contains the metadata under the artifacts section.

Can you test it with this version and let me know?

[2021-06-10 02:12] parano commented on #685
Hey @hzlmn  - we have a design doc out for this and it will come out in the 0.14 release(0.13 will be out later this week). Although for credential files, we'd recommend mounting those files when deploying or use environment variables instead.

[2021-06-10 02:25] #1647 closed

[2021-06-10 02:34] parano commented on #1258
Hi @kevin-hanselman - after discussing with the team, we think that the current behavior of pinning the pip package version makes more sense and is aligned with what most other tools are doing. However, you can use the `@env(requirements_txt_file=...)` API to specify your own requirement.txt file, in that case, bentoml will not modify the file in any way, but the user will need to be responsible f

[2021-06-10 02:34] #1258 closed

[2021-06-10 07:21] morningcloud commented on #1649
@yubozhao Thanks for getting back to me, I have tried with the latest version and still didn't see the metadata under the artifcats section.

[test_metadata.ipynb.zip](https://github.com/bentoml/BentoML/files/6629142/test_metadata.ipynb.zip)

However, I found out later that the saved model files actually contain the metadata and also when serving the model, the metadata are getting loaded correctl

[2021-06-11 03:06] aarnphm commented on #1651
@sunnyl95 ping me if you have any other questions. I will close this

[2021-06-11 03:06] #1651 closed

[2021-06-11 03:42] bojiang commented on #1593
@Matthieu-Tinycoaching
Is this issue still happening?

[2021-06-11 03:43] #1659 closed

[2021-06-11 06:30] Matthieu-Tinycoaching commented on #1593
Hi @bojiang no this issue can be close. The inputs used for microbatching wasn't appropriate, which has been corrected.

[2021-06-11 06:30] #1593 closed

[2021-06-11 07:07] bojiang opened #1674 "Metrics of mb doesn't show in integration tests on MacOS"
https://github.com/bentoml/BentoML/blob/67727fdf50d82ad567613c2c0b59dd421dc81d68/tests/integration/projects/general/tests/test_meta.py#L81

[2021-06-12 04:02] henrywu2019 opened #1675 "Add custom pages into Yatai UI"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would integrate Yatai with other systems.

**Describe alternatives you've considered**
Create multiple web servers to serve different pages

**Additional context**
- Now I just want to integrate some static pages
- How about dynamic page like django, flask...

[2021-06-12 07:26] jjmachan commented on #1620
hey @alxmke, I see your making steady progress on this too

[2021-06-13 03:16] alborotogarcia opened #1676 "Edit yatai dockerfile to fetch s3 signature and start service"
**Is your feature request related to a problem? Please describe.**

IMHO I think it would be useful to fetch pre-signed s3 URL at runtime when deploying on kubernetes cluster. So anyone could deploy yatai pointing to any s3/minio bucket with a few env variables.

**Describe the solution you'd like**

Let yatai service entrypoint fetch environment variables to fetch the signature eg. as described o

[2021-06-14 01:38] parano commented on #1676
hi @alborotogarcia - do you mind describing your use case in more detail?  I'm not sure I understand what you mean by "fetch pre-signed s3 URL at runtime".  Yatai already fetch pre-signed S3 URL at runtime when the client requests to upload or download a bento bundle from s3

[2021-06-14 03:44] parano commented on #1675
@henrywu2019  the easiest way is probably to deploy Yatai's API server and run your own web server that talks to Yatai.   You can also fork Yatai's frontend server and modify it to include additional web pages.  may I ask what are the things you want to achieve with dynamic pages with django or flask?

[2021-06-14 06:36] #1459 closed

[2021-06-14 06:37] #1490 closed

[2021-06-14 06:37] parano commented on #1490
Moving this to https://github.com/bentoml/aws-sagemaker-deploy

[2021-06-14 07:04] #1374 closed

[2021-06-14 10:01] parano commented on #1489
This is done in https://github.com/bentoml/BentoML/commit/6d64f3333d65bcaf563d47967bd79d4d5c47e3bf

[2021-06-14 10:01] #1489 closed

[2021-06-14 10:21] alborotogarcia commented on #1676
hi @parano !
Basically I've been templating the yatai helm chart and I can't pass env variables to yatai like

[code]
It throws the following error

[code]

- ml-system yatai-service-6c994c966f-dbspk › yatai-service
+ ml-system yatai-service-6c994c966f-dbspk › yatai-service
ml-system yatai-service-6c994c966f-dbspk yatai-service Traceback (most recent call last):
ml-system yatai-service-6c994c966f-

[2021-06-14 14:29] parano commented on #1676
@alborotogarcia have you tried putting the env var in parentheses? like

[code]

See related document https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#use-environment-variables-to-define-arguments

[code]

[2021-06-14 14:39] #1444 closed

[2021-06-14 14:51] parano commented on #671
The new config system has changed what was originally proposed here in this issue, closing now.

Documentation for configuring BentoML: https://docs.bentoml.org/en/latest/guides/configuration.html

[2021-06-14 14:51] #671 closed

[2021-06-14 14:54] parano commented on #1140
Closing it for now, please let us know if you are still seeing similar error messages.

[2021-06-14 14:54] #1140 closed

[2021-06-14 14:56] parano commented on #1339
@jiyer2016  is this still an issue with the newer versions of BentoML?

[2021-06-14 15:00] parano commented on #1384
@jiyer2016 closing this ticket now - let me know if this is still an issue for you

[2021-06-14 15:00] #1384 closed

[2021-06-14 15:03] aarnphm commented on #1571
@cqvu @entrpn solution works on my end.

[2021-06-14 15:03] parano commented on #1480
@larme would be great for you to look into this issue

[2021-06-14 15:07] parano commented on #1337
Thanks for reporting the issue @jiyer2016 - this helped us discover a problem when changing BentoML's Protobuf definition. We have since introduced a set of backwards compatibility tests to prevent errors like this from happening in the future: https://github.com/bentoml/BentoML/pull/1370

[2021-06-14 15:07] #1337 closed

[2021-06-14 15:09] parano commented on #1486
Looks like this has been fixed in the current version, closing now

[2021-06-14 15:09] #1486 closed

[2021-06-14 15:11] #1571 closed

[2021-06-14 15:14] aarnphm commented on #1607
@parano this is also obsolete?

[2021-06-14 15:17] parano commented on #1433
@arita37  - sorry for the late reply, here is our official guide on adding your own model artifact class: https://docs.bentoml.org/en/latest/guides/custom_artifact.html

Were you able to get things working with just PickleArtifact + dill?

[2021-06-14 15:17] #1433 closed

[2021-06-14 15:24] parano opened #1677 "BentoML cloud deployment CLI migration"
Starting from the next release, we are starting the deprecate the existing model deployment functionalities in BentoML CLI and Yatai. The following CLI commands will be deprecated in the next few releases:

[code]

Instead, we are migrating those capabilities into their own separate repository:

* https://github.com/bentoml/aws-sagemaker-deploy
* https://github.com/bentoml/aws-lambda-deploy
* http

[2021-06-14 16:03] parano commented on #1607
@jieYM  looks like you are missing the second parameter `dst` of `save`, see the example code in the document you linked:

[code]

[2021-06-14 16:03] #1607 closed

[2021-06-15 07:12] jjmachan opened #1680 "Error when doing model push, using yatai service with postgres"
**Describe the bug**

I was trying to push models to a yatai service configured with a postgresdb and S3 bucket. but when I run the command `bentoml push IrisClassifier:latest --yatai-url=127.0.0.1:50051` it throws the error
[code]
this only happens in postgress and seems to be working for sqlit db. Also this is only on the code from the master repo. I tried using the yatai image and it works, and

[2021-06-15 07:54] yubozhao commented on #1680
Thanks @jjmachan ! I will look into it

[2021-06-15 08:49] jjmachan commented on #1680
awesome! le me know if you there is anything I can do to help too

[2021-06-15 14:32] #1594 closed

[2021-06-15 16:24] Matthieu-Tinycoaching commented on #1656
Hi @bojiang

I used the following predict API to pad tensors with zeros incomplete batch with `FIXED_BATCH_SIZE=6`:

[code]

And the actual batch size is always equal to `FIXED_BATCH_SIZE`, i.e. 6.

However, performances with `batch=False` (cf. `report_custom_bentoML128_250_spawn250_b1_worker1_inf1.xlarge.html`) is more stable (no fails) and has lower latency than with `batch=True` (cf. `report_cu

[2021-06-15 18:07] whoseoyster opened #1681 "Bentoml lambda list errors out in AWS Cloud9"
**Describe the bug**
Calling `bentoml lambda list` throws a sqlalchemy error when running on an AWS Cloud9 instance.

**To Reproduce**
Steps to reproduce the issue:
1. Follow the lambda deployment tutorial here: https://docs.bentoml.org/en/latest/deployment/aws_lambda.html
2. Call `bentoml lambda list`

**Expected behavior**
The lambda deployments should be displayed.

**Screenshots/Logs**
[code]

[2021-06-15 19:15] parano commented on #698
this is now implemented in the current version of BentoML 0.12.1

[2021-06-15 19:15] #698 closed

[2021-06-15 19:20] parano commented on #702
Will revisit e2e tests structures as part of the deployment revamp https://github.com/bentoml/BentoML/issues/1677

[2021-06-15 19:20] #702 closed

[2021-06-15 19:22] #1420 closed

[2021-06-15 19:23] parano commented on #1420
We are moving the deployment functionalities out of Yatai https://github.com/bentoml/BentoML/issues/1677

[2021-06-15 19:24] parano commented on #1055
This needs further investigation - closing for now

[2021-06-15 19:24] #1055 closed

[2021-06-15 19:25] #1276 closed

[2021-06-15 19:25] #1228 closed

[2021-06-15 19:28] parano commented on #1332
@chlee1016 this is likely due to the `bentoml config set yatai_url...` CLI command setting the default save target to a Yatai deployment that is no longer running. This is no longer an issue because we have removed yatai_url from the configuration file and making it a required parameter for yatai related operations

Here's the latest document on how to config BentoML to save to a specific yatai se

[2021-06-15 19:28] #1332 closed

[2021-06-15 19:29] parano commented on #1338
Here's the latest guide on using BentoML configuration and setting config values when deploying with docker: https://docs.bentoml.org/en/latest/guides/configuration.html

[2021-06-15 19:29] #1338 closed

[2021-06-15 19:38] parano commented on #1393
@ghostviper BentoML now supports uploading and downloading directly with Yatai server backed by local file system storage https://github.com/bentoml/BentoML/commit/d367c2e90dabdb5207e15814ed0a2f25fb49c013

This will be available in the next release 0.13.0

[2021-06-15 19:38] #1393 closed

[2021-06-15 19:46] parano commented on #1542
@timothyjlaurent  - There's no plan to switch to FastAPI - BentoML API server uses lower-level APIs(asynio, aiohttp) under the hood for maximum performance - flask is just a sync layer for users' BentoService code and does not affect the performance that much. However flask is not a hard dependency for BentoML, we are planning to move away from flask in future releases.

[2021-06-15 19:46] #1542 closed

[2021-06-15 19:46] parano commented on #1542
We will investigate schema for JsonOutput as part of https://github.com/bentoml/BentoML/issues/1480

[2021-06-15 20:00] parano commented on #1450
Looks like joblib is a required dependency for scikit-learn, it seem like reinstalling scikit-learn should help with the issue you are seeing - closing for now, let me know if you still run into this issue

[2021-06-15 20:00] #1450 closed

[2021-06-15 20:01] parano commented on #1445
closing this now, will create a new github project for all future Yatai web UI roadmap and track this over there

[2021-06-15 20:01] #1445 closed

[2021-06-15 20:02] #1429 closed

[2021-06-15 20:18] parano commented on #1597
cc @bojiang

[2021-06-15 20:21] parano commented on #1614
@nicjac we are now moving the deployment functionalities out of Yatai https://github.com/bentoml/BentoML/issues/1677 - this particular issue was related to creating lambda deployment, which will become a standalone tool that's way easier to use and debug for devops.  https://github.com/bentoml/aws-lambda-deploy/

[2021-06-15 20:21] #1614 closed

[2021-06-15 20:24] parano commented on #1606
@mar-muel  it sounds like it's just a preference on naming, not a blocker for you?  if that's the case, we probably won't provide this support because it will require lots of changes on BentoML side

[2021-06-15 20:24] #1606 closed

[2021-06-15 20:24] parano commented on #1618
Closed in https://github.com/bentoml/BentoML/pull/1668

[2021-06-15 20:24] #1618 closed

[2021-06-16 04:17] ssheng opened #1684 "Async Support in Inference API"
**Is your feature request related to a problem? Please describe.**

The current synchronous implementation of the inference API is great for model computation which is mostly C/GPU intensive tasks. The inference logic can also include I/O-bound operations like other calling downstream services, e.g. a feature store, which having async support can best utilize system resources. This issue is to gau

[2021-06-16 04:18] ssheng commented on #1684
@theopinard

[2021-06-16 06:36] #1680 closed

[2021-06-16 14:57] #1530 closed

[2021-06-18 23:30] #1004 closed

[2021-06-18 23:30] #1226 closed

[2021-06-19 01:30] parano commented on #1441
@rileyhun this issue has been fixed in the previous release of BentoML in 0.12.1

[2021-06-19 01:30] #1441 closed

[2021-06-19 03:30] #1344 closed

[2021-06-20 04:45] aarnphm commented on #1505
Is this the library we want to migrate to https://github.com/keleshev/schema?

[2021-06-20 05:39] yubozhao commented on #1505
Yes. This is the library.  We might hold off to this issue until we updated the deployments workflow

[2021-06-20 06:13] parano opened #1698 "Fix PyTorchModelArtifact store_as_json_and_weights=True option"
**Describe the bug**

The fix in https://github.com/bentoml/BentoML/pull/1696 exposed an error with PyTorchModelArtifact when setting the  store_as_json_and_weights option to `True`.

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.8.6]

**Additional context**

[2021-06-20 07:04] illy opened #1699 "The base GPU image has no git installed"
**Describe the bug**

The GPU base image (bentoml/model-server:0.13.0-py38-gpu) doesn't have git installed, whereas the previous CPU base image has no such issue.

**To Reproduce**

Steps to reproduce the issue:
1. Go to a packed bento folder with GPU serving support
2. run the DockerFile (bentoml/model-server:0.13.0-py38-gpu)
3. See error

Package 'git' has no installation candidate

**Expected b

[2021-06-20 07:09] parano commented on #1699
cc @aarnphm

[2021-06-20 07:45] #1219 closed

[2021-06-20 07:48] #1559 closed

[2021-06-20 07:48] #1560 closed

[2021-06-20 07:49] parano commented on #1560
The root cause for this issue has been fixed in #1696 - however, there's actually another issue related to the store_as_json_and_weights option that's still open and being tracked here: https://github.com/bentoml/BentoML/issues/1698

[2021-06-20 08:05] parano opened #1700 "Enable PyLint on tests/integration"
**Is your feature request related to a problem? Please describe.**

Currently the `make lint` task does not run `pylint` on the `tests/integration` folder. This is configured here in the `pylintrc` file: https://github.com/bentoml/BentoML/blob/master/pylintrc#L10

We would like to enable Pylint on this directory, remove it from the `ignore` list in the `pylintrc` file, and fix all the pylint error

[2021-06-20 13:32] illy opened #1702 "Building Docker Image cannot find the copied file"
**Describe the bug**
Building Docker Image cannot find the copied file, while there was no problem to run with `bentoml serve` mode.

**To Reproduce**

We have a conf.json for preparing meta data for a pretrained model, and we write the code in a bento wrapper as:

[code]

This conf.json has been copied to the desired path (the same folder as bento_wrapper.py) during the packing, and there was no

[2021-06-20 14:27] jjmachan commented on #1588
[Heroku docs](https://devcenter.heroku.com/articles/container-registry-and-runtime#dockerfile-commands-and-runtime)

so the the bento service should listen on $PORT env var which will be set by Heroku

I was playing around with this and like what @ssheng had suggested.

My idea

assign the default port to the BENTOML_PORT directly so we can overide this via the `-e` flag in docker also.
[code]

if

[2021-06-20 14:32] jjmachan commented on #1588
I've tested this locally and fixes this issue, I'll test it on heroku to verify nothing breaks there

[2021-06-20 14:32] jjmachan commented on #1588
I've tested this locally and fixes this issue, I'll test it on heroku to verify nothing breaks there

[2021-06-20 18:21] rbrishabh commented on #1700
Hey! I can try to help with this!

[2021-06-20 23:33] parano commented on #1535
@harshitsinghai77 this issue is now fixed on master, feel free to revisit your work on CatBoost

[2021-06-20 23:33] #1535 closed

[2021-06-21 08:19] ssheng commented on #1658
After discussing with the BentoML team, the final decision was to not add the containerization feature specifically for configuration. The vision is to manage BentoML configuration separately from the bento bundles. Coupling should not happen until the deployment time which implies that the configuration should not be containerized into the same image as the bento bundle. The team envisions that t

[2021-06-21 08:19] #1658 closed

[2021-06-21 16:07] #1699 closed

[2021-06-22 11:07] aarnphm commented on #1505
``schema`` seems like a simplified ``cerberus``. We can achieve custom validator in Cerberus customization with ``Hook``, and their API seems to be a lot user friendly than ``cerberus``.

Just my preference, I would like to use ``cerberus`` over ``schema`` since cerberus API is a lot more powerful in term of customization. On the other hand, It will take devs a lot more efforts to learn and unders

[2021-06-22 11:26] notniknot opened #1707 "Parameter 's3_endpoint_url' cannot get injected into get_yatai_service"
**Describe the bug**
When using a self hosted MinIO as S3 storage, the generated presigned url contains the amazonaws domain, such as
'https://yatai-bucket.s3.amazonaws.com/IrisClassifier/26.tar.gz?...'. Thus, storing and loading models from S3 storage result in an error. This bug is new in Version 0.13.0.

The function _get_yatai_service_ lacks the s3_endpoint_url parameter.
Additionally, if no c

[2021-06-22 11:29] bojiang commented on #1707
Hi @notniknot. Thanks for reporting!
Could you give it a try on my branch https://github.com/bentoml/BentoML/pull/1705 ?

[2021-06-22 11:32] bojiang commented on #1707
pip install git+https://github.com/bojiang/BentoML.git@di2

[2021-06-22 11:41] notniknot commented on #1707
Hi @bojiang. Sorry, but I still get a presigned amazonaws url. The _get_yatai_service_ function is missing the proposed changes.

[2021-06-22 11:54] bojiang commented on #1707
@notniknot Oh, I see. Thanks.

[2021-06-22 12:59] larme commented on #1505
During today's discussion we also briefly mentioned [pydantic](https://github.com/samuelcolvin/pydantic) as a possible option.

[2021-06-22 21:47] theopinard commented on #1684
Hi everyone,
I am interested in this feature. The main use case we have would be to be able to query a feature store before doing the inference. BentoML allowed a lot of flexibility in the way you defined your predict API function. [Flask 2.0](https://flask.palletsprojects.com/en/2.0.x/changes/) introduced async/await which hopefully would make it possible (an hopefully not too complicated) for Be

[2021-06-24 02:26] #1707 closed

[2021-06-24 09:27] alborotogarcia commented on #1676
Thanks @parano ! It's fully working.. I had some issues with db uri string and sealed secrets.. I may close this !

[2021-06-24 09:27] #1676 closed

[2021-06-24 10:10] #1702 closed

[2021-06-24 10:26] illy opened #1712 "restore_conda_dev creates a huge chunk of data in gpu serving docker image"
**Describe the bug**

After using the bentoml/model-server:0.13.0-py38-gpu image, we noticed the docker image size increased from 4g (CPU image) to 17g (GPU image), although we understand that CUDA-related dependencies may occupy a huge chunk of data, but this increase if far beyond the CUDA dependency.

As we use `docker history` to understand what happened, we found that one step restore_conda_e

[2021-06-24 10:53] Amir22010 opened #1713 "packaging custom trained detectron2 model issue"
**Describe the bug**

`from bento_svc import CocoDetectronService`

`from detectron2.config import get_cfg`

`from detectron2 import model_zoo`

`from detectron2.checkpoint import DetectionCheckpointer`

`from detectron2.modeling import META_ARCH_REGISTRY`

`cfg = get_cfg()`

`cfg.merge_from_file(model_zoo.get_config_file("COCO-Detection/faster_rcnn_X_101_32x8d_FPN_3x.yaml"))`

`meta_arch = META_A

[2021-06-25 02:45] aarnphm commented on #1712
Thank you for reporting the bug. I was wondering which DL framework you are using?

[2021-06-25 03:24] parano commented on #1712
@aarnphm Had a quick chat with @illy - they are using PyTorch and he was building it based on this section in the documentation: https://docs.bentoml.org/en/latest/guides/gpu_serving.html#pytorch

They used our GPU docker base image in addition to using conda to install the `nvidia` and `pytorch` conda library, resulting in two cuda/cudnn installations on the docker base image.  That note in the d

[2021-06-25 06:04] #1712 closed

[2021-06-25 10:01] aarnphm commented on #1570
You can try to save both model and tokenizer to json,weight to hdf5, then load it when you pack with BentoML.

[code]
You can try this way out and let me know if I can help with anything.

[2021-06-26 13:37] #1329 closed

[2021-06-27 11:28] tjcarroll11 opened #1715 "Inference in SageMaker model server fails with missing attribute error when using JsonInput"
**Describe the bug**
When using `JsonInput` (or, I believe, any input that uses `@decompress_gzip_request`), inference fails.

**To Reproduce**
Steps to reproduce the issue:
1. Follow steps outlined in [this tutorial](https://course.fast.ai/deployment_bento)
2. Add a JsonInput
3. Deploy
4. Hit endpoint (`aws sagemaker-runtime invoke-endpoint --region 'us-east-1' --endpoint-name 'dev-psc-baseline-2

[2021-06-27 18:26] notniknot opened #1717 "Local config file cannot be found with custom bentoml configuration location"
The docs state _"By default, configurations defined in $BENTOML_HOME/bentoml.yml is applied if present."_ (see https://docs.bentoml.org/en/latest/guides/configuration.html). This is true for the bentoml.cfg in Version 0.12.1. However,
with BentoML 0.13.0, the bentoml.yml does not get read from $BENTOML_HOME/bentoml.yml if `BENTOML_CONFIG` is not defined.

Thus, with a custom BentoML location that

[2021-06-28 04:25] parano commented on #1512
This will be addressed in #1705 when we migrate to simple_di

[2021-06-28 04:25] #1512 closed

[2021-06-28 08:48] aarnphm commented on #1715
@tjcarroll11 can you confirm that your PR fixed this ticket?

[2021-06-28 10:08] ssheng opened #1719 "Expose more informative error message and logging during containerize"
**Is your feature request related to a problem? Please describe.**

Hello, everyone! I'm facing an issue that I already know the cause, but I don't know how to debug it.
```Error: bentoml-cli containerize failed: Failed to containerize MyBentoService:20210625160440_750150 - INTERNAL:The command '/bin/sh -c ./bentoml-init.sh install_pip_packages' returned a non-zero code: 1```
It's because there ar

[2021-06-28 11:51] aarnphm commented on #1719
one way to do it is to
[code]
This will start your shell in debug and trace mode, which it should throw out which part is causing error. I believe that we should discuss more about `save_bundle` as we might want to implement a development feature, which allow users to quickly develop `bento_bundle` without going through the whole pipeline

[2021-06-28 11:51] aarnphm commented on #1717
@ssheng

[2021-06-28 14:02] tjcarroll11 commented on #1715
@aarnphm would you be able to release a patch? When I tried building from a local install (with this fix applied), I got errors. I think it had to do with the fact that the dockerfile installed from pip.

[2021-06-28 14:14] parano commented on #1715
@tjcarroll11 if you re-create the bento bundle with this branch and run the deployment CLI to deploy again, it will reflect the changes in your PR and you will be able to test it out. BentoML actually bundles itself if it has detected that it's running from an `editable` installation -- e.g. if you install your branch with `pip install -e .` in the root directory of the git repo.

[2021-06-28 14:52] aarnphm commented on #1715
for now https://github.com/bentoml/BentoML/blob/master/DEVELOPMENT.md

[2021-06-29 08:41] wei840222 opened #1721 "Trace on Jaeger can connect with remote span"
After fix this pr https://github.com/bentoml/BentoML/pull/1720
It will be happend.
Here is a trace I expected.
<img width="1670" alt="截圖 2021-06-29 下午4 04 17" src="https://user-images.githubusercontent.com/17737823/123764960-dfe85880-d8f7-11eb-95c0-fcdf5f75a3fc.png">

But the actual trace will spilt in two part.
one is the ingress part
<img width="1669" alt="截圖 2021-06-29 下午4 09 16" src="https://u

[2021-06-30 18:15] justin-ki commented on #471
Hi - What was the solution to this? I checked in the saved bundle directory and the bentoml.yml file is definitely there.

[2021-07-01 06:57] parano commented on #471
@justin-ki  did you run into this error message? this means the BUNDLE_PATH provided is not the directory that contains the bentoml.yml file.

[2021-07-01 17:00] tjcarroll11 commented on #1715
Confirmed that the issue is resolved.

[2021-07-01 17:00] #1715 closed

[2021-07-02 12:26] aarnphm opened #1727 "feat: Artifacts GPU Integration"
**Is your feature request related to a problem? Please describe.**

Current practice in a ML workflow is to train model on GPUs and then convert to CPUs during inference time. Most DL frameworks have GPU support built in and make it very easy for users to implement such features, including [PyTorch](https://pytorch.org/docs/stable/notes/cuda.html), [Tensorflow](https://www.tensorflow.org/tutorials

[2021-07-02 12:27] aarnphm commented on #1727
[Additional context on PyTorch API](https://pytorch.org/docs/stable/generated/torch.load.html )

[2021-07-03 00:32] aarnphm opened #1728 "precommit: conflict with husky pre-commit"
**Describe the bug**

With the recent introduction of `hooks/commit-msg` by @larme , it appears that there is already a `commit-msg` generated by `husky`, which will create error when using commit convention.

**To Reproduce**

1. Go to `master` branch
2. `./dev/install_git_hooks.sh`

**Expected behavior**

Should return nothing

**Environment:**
 - OS: [ArchLinux 5.10]
 - Python Version [N/A]
 -

[2021-07-03 06:49] larme commented on #1728
or should we change the behavior of install_git_hooks.sh and append its content to the existing hooks?

[2021-07-03 10:27] aarnphm commented on #1728
actually the current husky `commit-msg` doesn't do anything

[2021-07-04 01:55] parano commented on #1728
I think we are using husky to manage some commit hooks related to typescript code formatting? it might be limited to the typescript project under yatai @yubozhao

[2021-07-04 05:31] Asrst commented on #1656
Hi, @bojiang,

I am looking forward to contribute this feature

With fixed size batching, batching service needs to be wait either till it reaches the requests equal to `mb_max_batch_size` or wait time equal to `mb_max_latency`. But I think it has its own limitations & might a optimal one.

can you please share your thoughts on it (or) guide how would you like to take this forward ?

[2021-07-04 10:23] stvogel commented on #744
Any chance of having an ImageOutputAdapter soon? I see it's on the Roadmap "In progress"  ... but is there some schedule?

[2021-07-04 11:32] illy commented on #1727
@aarnphm just feel curious, enabling this GPU option will only serve on the GPU machine or it will prioritize GPU but still can run on CPU? Suppose when we pack the project to a Bento on a CPU-only machine, and use bentoml serve to test the API locally. If the GPU option enabled, can we still run this test on such a non-GPU machine? Thx

[2021-07-04 18:02] yubozhao commented on #1728
We can probably move the husky related to the CI check

[2021-07-05 08:17] aarnphm commented on #1727
Actually what I want to achieve is to simplify the process of packaging process with BentoML. You can definitely still run GPU model on CPU, however the model would yield wrong prediction due to having GPU tensors running on CPU. Having this options allow users to correctly setup their model to their corresponding usecase. (You don't have to use this to run on CPU).

With industry standard people

[2021-07-05 11:16] aarnphm opened #1731 "feat: docker images provider"
**Is your feature request related to a problem? Please describe.**

It would be nice if `bentoml` provided a Pythonic way of using `docker_base_image` with `bentoml/model-server`.

**Describe the solution you'd like**

[code]
It should also have backward compatibility so that users can have a better experience when new releases is introduced on docker

Exploration ideas:
- `ProvidedImages` would s

[2021-07-05 11:23] aarnphm commented on #1731
This is also related to current redesigning package bundle, thus will be on hold at the moment.

[2021-07-07 02:08] aarnphm commented on #1654
Done

[2021-07-07 02:08] #1654 closed

[2021-07-07 07:18] #1731 closed

[2021-07-07 11:51] aarnphm opened #1735 "ci: PaddlePaddle Intergration Test failed"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Additional context**

[2021-07-08 02:16] parano opened #1737 "Allowing including multiple Dockerfiles in the bundle"
**Is your feature request related to a problem? Please describe.**

Currently, only one `Dockerfile` is generated in the BentoML bundle directory.  For users that want to use a different docker image than the default one, they can use the `docker_base_image` option to change the docker image used. e.g.:

[code]
Users can use this to set a docker image optimized for GPU serving, see https://docs.be

[2021-07-08 05:31] #1529 closed

[2021-07-08 16:33] aarnphm commented on #1735
done

[2021-07-08 16:33] #1735 closed

[2021-07-08 21:35] aarnphm commented on #1728
actually all the hooks are under `.git/hooks` are generated by husky

[2021-07-09 06:11] aarnphm opened #1740 "test: `tests_bundle_local_dependencies` failed when GPU related library installed."
**Describe the bug**

Failed test when having `tensorflow-gpu` installed.

**To Reproduce**

1. `pip install tensorflow-gpu`
2. `python -m pytest tests/test_bundle_local_dependencies.py --cov=bentoml --cov-config=.coveragerc`

**Expected behavior**

Should pass all test

**Screenshots/Logs**

![image](https://user-images.githubusercontent.com/29749331/125031654-1facfe00-e0b7-11eb-800c-bffa124af421

[2021-07-09 12:18] BartlomiejSkwira opened #1741 "BentoService.pack throws "Expected a value of type 'Tensor'.." exception after pack_padded_sequence is used"
**Describe the bug**
I have a Pytorch Lightning module implementing the forward function. When I try to `.pack` from a BentoService I get an exception.
[code]
The issue happens after line:
[code]

This looks like `pack_padded_sequence` is causing some sort of issue with X

**To Reproduce**
My code:
[code]
Exception:
[code]

**Expected behavior**
Pack should work without exceptions.

**Environment:

[2021-07-09 14:21] BartlomiejSkwira commented on #1741
I have added a logger to the script with:
[code]
And do:
[code]
And get exception:
[code]
Weird 🤔

[2021-07-09 14:44] aarnphm commented on #1741
can you try out this project structure first? https://docs.bentoml.org/en/latest/quickstart.html#preface

[2021-07-10 05:13] larme commented on #1741
Hi, Bartek

BentoML use `to_torchscript` Internally when packing a model, I tried your code and even without using BentoML, the model still throw an error when calling `to_torchscript` like this:

[code]

will give

[code]

and if we remove line `print(type(X))`, the output is

[code]

I wonder if code

[code]

confused the torchscript compiler

[2021-07-10 11:26] aarnphm commented on #1741
https://github.com/pytorch/pytorch/issues/41869

[2021-07-10 12:23] aarnphm opened #1742 "qol: better type hints with mypy"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-07-10 19:44] #1742 closed

[2021-07-11 11:40] ballchuuu opened #1745 "Cannot load custom_objects argument for KerasModelArtifact"
**Describe the bug**
Hi, I have already put the default custom object argument into the KerasModelArtifact but I am still getting the following error:

```ValueError: Unknown loss function: TOP1. Please ensure this object is passed to the `custom_objects` argument. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details.```

Would appreciate any help

[2021-07-11 13:10] #1745 closed

[2021-07-11 13:11] ballchuuu commented on #1745
Update: Manage to solved this using the following

@bentoml.artifacts([KerasModelArtifact('model', {"TOP1": TOP1, "top3accuracy": top3accuracy})
...

custom_objects = {"TOP1": TOP1, "top3accuracy": top3accuracy}
bento_svc.pack("model", {"model": model,  "custom_objects": custom_objects})

[2021-07-11 14:32] parano commented on #1745
Thanks for reporting @ballchuuu - this issue has been fixed here: https://github.com/bentoml/BentoML/commit/d6edc4afdce8ded21aecdd5ede8e86dd5cd1526a but has not yet been released, it will be available in the next release 0.13.1

[2021-07-11 18:22] #1740 closed

[2021-07-11 18:22] aarnphm commented on #1740
closed since related to IO redesign

[2021-07-12 08:15] BartlomiejSkwira commented on #1741
@larme thanks for taking the time and reproducing my issue, now I can reproduce it with just PyTorch as well. I'll move the discussion to PyTorch forums. Closing this thread

@aarnphm Just curious: not sure how structuring my code into separate files would help? does Bento depend on project structure?

[2021-07-12 08:15] #1741 closed

[2021-07-12 08:19] aarnphm commented on #1741
@BartlomiejSkwira I saw you put your model defintion and BentoML service defintion in a same file. It brought up some issues for others in the past by doing that. We are currently working on redesigning a new API for this.

[2021-07-12 10:08] BartlomiejSkwira commented on #1741
I think I know where the issue is, `Torchscript` has some unsupported constructs, a list is available at https://pytorch.org/docs/stable/jit_unsupported.html#jit-unsupported, in the `PyTorch Unsupported Modules and Classes` we see that `Torchscript` is not supporting `torch.nn.RNN`.
![image](https://user-images.githubusercontent.com/1316517/125270112-a5c08300-e309-11eb-9747-8b0dda49fb56.png)

LSTM

[2021-07-12 10:25] BartlomiejSkwira commented on #1741
OK, I can't use `PackedSequence`  with `TorchScript`:

![image](https://user-images.githubusercontent.com/1316517/125272436-241e2480-e30c-11eb-98d9-4b961e9a8661.png)

Source - Offical docs:
https://pytorch.org/blog/optimizing-cuda-rnn-with-torchscript/#variable-length-sequences-best-practices

[2021-07-12 11:35] aarnphm commented on #1741
This is merely impossible with the current api since we need to bundle the model into the service in order to serve the bundle. We are currently working on a new API with packaging so stay tuned.

[2021-07-12 11:44] #1570 closed

[2021-07-12 17:33] aarnphm opened #1746 "qol: added Colabs button to doc site"
It is neat to have a Colab integration to bentoml docs instead of embeded links

[2021-07-13 16:41] #1728 closed

[2021-07-14 08:21] firas-jolha opened #1752 "nginx.conf proxy_pass setting for deploying the service on AmazonSageMaker"
Hello,

When I deploy the service to Amazon SageMaker, I get this error and the endpoint fails to create!

`nginx: [emerg] "proxy_pass" cannot have URI part in location given by regular expression, or inside named location, or inside "if" statement, or inside "limit_except" block in /bento/nginx.conf:37`

There is an issue in the default settings of nginx.conf file of aws-sagemaker-deploy tool....

[2021-07-14 16:08] firas-jolha commented on #1752
The solution which worked for me!

[code]

[2021-07-14 16:17] yubozhao commented on #1752
@firas-jolha Thanks for reporting the issue.  The configurations look the same, did you accidentally post the wrong one?

[2021-07-14 17:15] firas-jolha commented on #1752
@yubozhao
I removed the regex operator (tilde ~) from location /ping.

[code]

[code]

[2021-07-17 08:08] JulesBelveze opened #1757 "Overriding `/health` endpoint"
**Is your feature request related to a problem? Please describe.**
Hey everyone,
I am deploying my Bento service on a preemptible GPU and I'm willing to overwrite the default healthchecker to become unhealthy if the GPU got preempted (using something like `torch.cuda.is_available()` to detect if the GPU is still here).

**Describe the solution you'd like**
From what I've seen by going through the

[2021-07-17 10:52] aarnphm commented on #1757
similar to #1161. We will look into this when designing bentoml 1.0

[2021-07-17 20:21] harshitsinghai77 commented on #622
Hey, I would like to work on this issue. Can anyone give me a better context or explain me what exactly needs to be done?

[2021-07-18 00:55] parano commented on #622
Hi @harshitsinghai77 the bentoML team is already working on this issue

[2021-07-18 03:36] harshitsinghai77 opened #1761 "Change Footer in https://www.bentoml.ai/"
**Describe the bug**
Change from 2020 to 2021 in https://www.bentoml.ai/ footer `Copyright 2020 BentoML`

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Environment:**
 - OS: [e.g. MacOS 10.14.3]
 - Python Version [e.g. Python 3.7.1]
 - BentoML Version [e.g. BentoML-0.8.6]

**Additional context**

[2021-07-18 04:47] parano commented on #1761
Thanks for reporting @harshitsinghai77 - we will make that change, the website source is actually not in this github repo so I'm going to close it here to avoid confusion.

[2021-07-18 04:47] #1761 closed

[2021-07-18 07:59] harshitsinghai77 commented on #703
Hey, are we implementing this?

[2021-07-18 08:02] harshitsinghai77 commented on #1588
should we close this issue as it's already merged?

[2021-07-18 09:04] aarnphm commented on #703
Hi @harshitsinghai77, I believe this is P1, and will be addressed after BentoML 1.0

[2021-07-18 09:22] harshitsinghai77 commented on #703
Got it. Let me know if you need me to work on it.

[2021-07-18 09:23] harshitsinghai77 commented on #1327
Can we close this as it's already been taken care of?

[2021-07-18 11:59] #1327 closed

[2021-07-19 15:46] aarnphm opened #1763 "feature: Jax ecosystem"
**Is your feature request related to a problem? Please describe.**

- Supports some Jax-based frameworks, such as [Flax](https://github.com/google/flax), [Haiku](https://github.com/deepmind/dm-haiku) to BentoML

- Add JaxArrayContainer

JAX support means BentoML should also support TPU and XLA for running inference.
-> we probably want to have a `bentoml.io.JaxArray` to fully utilize `jax.lax`.

C

[2021-07-21 01:13] #1547 closed

[2021-07-21 08:27] #666 closed

[2021-07-21 09:03] naknakLEE opened #1767 "feat: Allow "from_http_request" function multiple files in "file_input.py""
**Is your feature request related to a problem? Please describe.**

I want to request a batch image using Python code.
Below is the example code I made. The format '("image1.jpg", coloredImg1)"  is not important. you can ignore it.

When running client.py, Bentoml_server.py receives only one data.

[code]

[code]

I noticed the code of 'bentoml/adapters/file_input.py' and found that 'if len(files)

[2021-07-21 09:27] withsmilo opened #1768 "Separate two '/healthz' and '/predict' endpoints to use different ports for stable serving"
**Describe the bug**

When the traffic handled by the BentoML model is very high, the query to the `/healthz` endpoint sometimes fails. At this time, the BentoML Pod is restarted, so to avoid this case as much as possible, we need to separate the `/healthz` and `/predict` endpoints to use different ports for stable serving.

To implement this, we should extract the `/healthz` endpoint ([link](http

[2021-07-21 15:45] aravind-sundaresan commented on #1564
Has this issue been fixed? I am encountering the same error while using v 0.13.1

[2021-07-22 02:22] bojiang commented on #1768
@withsmilo Good work. We are aware of this issue and plan to fix this in 1.0.
I have another idea. Now we have an async HTTP proxy(the batching layer) in front of the model server. We would make it an HTTP probe multiplexer. It would repeat the statuses of upstream model servers.

[2021-07-22 03:41] aarnphm opened #1771 "minor(doc): Multi language support"
Pretty neat if documentation can be translated to multiple language, Mandarin, Spanish, Portuguese, Vietnamese, etc.

P1 items, after 1.0 releases

[2021-07-22 04:05] withsmilo commented on #1768
Thanks for a nice feedback, @bojiang .
I'm working on this issue now because this is urgent for our service. When I finish my works, I will make a PR with similar changes for the `bentoml-1.0` branch if you want.

[2021-07-22 04:34] bojiang commented on #1768
@withsmilo How about customize the `timeout` and `max_latency` and make them lower than the `healthz` checking interval?

[2021-07-22 06:24] withsmilo commented on #1768
@bojiang
AFAIK, BentoML's [timeout](https://github.com/bentoml/BentoML/blob/v0.11.0/bentoml/configuration/default_bentoml.cfg#L72) means Gunicorn worker's [timeout](https://docs.gunicorn.org/en/stable/settings.html#timeout), right?

[2021-07-22 11:29] #899 closed

[2021-07-22 11:29] parano commented on #1065
Update: we are working on this feature in the upcoming 1.0 release

[2021-07-22 18:29] Matthieu-Tinycoaching opened #1775 "Support for TensorRT"
Regarding high performance of transformer models with TensorRT, would it be envisageable to adapt bentoML to work with?

[2021-07-23 13:38] aarnphm commented on #1713
I will close this for now. Everything should be fixed in the new release. Ping me if you still have problems.

[2021-07-23 13:38] #1713 closed

[2021-07-25 10:22] aarnphm commented on #1775
I assume this is for docker container?

[2021-07-25 14:45] Matthieu-Tinycoaching commented on #1775
Yes for sure.

[2021-07-25 15:09] aarnphm commented on #1775
you can build it on top of the Docker GPU image we provided and work from there 😄

[2021-07-25 15:23] Matthieu-Tinycoaching commented on #1775
Hi @aarnphm sorry I don't really know what includes tensorRT. Doesn't it correspond to a framework/runtime as ON X?

[2021-07-26 01:46] aarnphm commented on #1775
[tensorrt docs](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html) [onnxruntime dockerfile
](https://github.com/microsoft/onnxruntime/blob/master/dockerfiles/Dockerfile.tensorrt)

[2021-07-26 12:20] joswlv opened #1780 "Dataframe output adapter http header respect"
**Describe the bug**
`DataframeOutput` produces output string as `df_to_json`.
So I expect the `Content-Type` to be `application/json`.
But it is returned as `text/html`.
Users can be confused.

Is that what `text/html` is intended for?
If it's not intentional, is it okay to proceed with PR?

**To Reproduce**
[code]
<img width="467" alt="스크린샷 2021-07-26 오후 8 52 46" src="https://user-images

[2021-07-28 09:14] alborotogarcia opened #1787 "Unable to load model:version from remote yatai server"
**Describe the bug**

The remote yatai client lists the model artifacts but fails to load them. Bentoml client works fine:
`bentoml retrieve IrisClassifier:20210728102908_1CDF04 --target_dir $MYDIR`

But is there a way to do this in python ideally predefining some env variables?
I know this can be done predefining boto3 python config but i'd like to skip S3 authentication with **.aws/** directory

[2021-07-29 02:53] #1780 closed

[2021-07-29 23:15] alborotogarcia commented on #1787
Already solved, I got a problem generating the pickle model artifact

[2021-07-29 23:15] #1787 closed

[2021-07-30 20:46] notniknot commented on #1717
Any updates?

[2021-08-01 07:09] ssheng commented on #1717
@notniknot thanks for raising the issue. Starting release 0.13.0, BentoML removed default config loading under BentoML home and asks users to explicitly set the configuration location in a environment variable `BENTOML_CONFIG`. The motivation behind this change was to limit it to only one way to set configuration. The documentation is no longer accurate. I will update it soon.

[2021-08-01 15:51] notniknot commented on #1717
Thanks for clarifying this behavior!

[2021-08-01 15:51] #1717 closed

[2021-08-03 05:14] jjmachan commented on #1752
Hey @firas-jolha thanks a lot for reporting the issue and suggesting the fix. I have added your fix to the https://github.com/bentoml/aws-sagemaker-deploy repo. Do check it out and let me know if it works for you.

Thanks again!

[2021-08-03 08:06] wuxutao opened #1796 "Deploy Yatai By remote db and local path report can't locate config file 'bentoml.yml'"
**Describe the bug**
 I deploy Yatai Service by a remote PostgreSQL database and local repo base,
When I use command:  bentoml containerize IrisClassifier:latest -t iris-classifier  --yatai-url=127.0.0.1:50051
It report error:  Error: bentoml-cli containerize failed: BentoML can't locate config file 'bentoml.yml' in saved bundle in path: /bentoml/repository/IrisClassifier/20210803122208_2E7460

Bu

[2021-08-04 11:26] vishnupriyavr commented on #1564
I have used the "mb_max_latency" option in the @bentoml.api section as per this [documentation](https://github.com/bentoml/BentoML/blob/ce9bdd4fd8e1730d5c47d6c7ddcf4deddc272505/docs/source/guides/micro_batching.rst), the timeout error was resolved for me. Hope this helps folks who are facing similar issues.

[2021-08-05 00:47] YunLiaw commented on #1237
Hi, is there any plan to upgrade the sqlalchemy to 1.4? thanks.

[2021-08-05 01:20] yubozhao commented on #1237
@YunLiaw For the upcoming Yatai server, if we are stay with python implementation, we will make sure it supports 1.4 version.

For the local bundle management, we will remove that database dependency.

[2021-08-06 05:32] joswlv opened #1798 "Feat: Spring cloud eureka client support for scale out"
Eureka is used to easily manage node information in MSA (MicroService Architecture) environment using spring cloud.

A scale-out environment is needed to handle large-volume traffic, and at this time, BentoML applications are used on multiple servers.
Eureka client support is required to efficiently manage multiple servers and use routing using spring cloud.

[2021-08-11 01:24] vibss2397 opened #1799 "Bentoml configuration file set but not working"
**Describe the bug**
Hi, I have tried setting the config file as environment variable to run bentoml but I am not sure if bentoml is reading from the config file. none of the commands for bentoml use the config i have set

**To Reproduce**

Steps to reproduce the issue:
1. Download bentoml version 0.13.1
2. set config.yml as:
[code]
3. export $BENTOML_CONFIG=~/config.yml
4. bentoml list / bentoml

[2021-08-11 06:44] bojiang commented on #1721
https://github.com/bentoml/BentoML/pull/1334/files#diff-beea2b4d7a2b388c93b2054ca771e3dc87671c3618fc7a7d888744c8e935e8d5R298

[2021-08-11 17:04] vibss2397 commented on #1799
More importantly, is there a way to deploy lambda functions/ec2 instances directly from yatai-url without having to save it in a local directory first and then deploying it

[2021-08-13 16:37] picsag opened #1808 "Unable to containarize Bento service using Yatai Service from Docker"
**Description**
I managed to create a Docker image with Yatai-service and save models to the Yatai service inside Docker. However, I am unable to containerize the models, I believe is a bug.

Unable to containarize the BentoService using Python API or bento CLI
The error is:
    raise BentoMLException(
bentoml.exceptions.BentoMLException: Failed to containerize TensorflowService:Aug-12-2021 - INTE

[2021-08-14 11:37] aarnphm opened #1809 "transformers: pipeline support"
**Is your feature request related to a problem? Please describe.**

The new `pipeline` API abstracts away some of trivial tasks

[code]

**Describe the solution you'd like**

supports pipeline options for `TransformersModel` such as:

[code]

[2021-08-15 15:25] parano commented on #1808
hi @picsag - what version of the Yatai docker base image are you using? Docker client should be included by default in the latest Yatai docker image release but it's missing in older versions. And did you mount the docker socket as suggested by the documentation?

[2021-08-16 03:23] aarnphm commented on #1809
not add much value after doing research

[2021-08-16 03:23] #1809 closed

[2021-08-16 08:27] renzpaoloabergos opened #1810 "Failing to build docker image using bentoml==0.12.1"
**Describe the bug**
Building a docker image yields this error:
[code]
It was working Saturday, and when our pipeline reran, all our Bentoml models failed.
I believe it has something to do with debian sources.

@jjmachan suggested to update the .12.1 docker image and add
`--allow-releaseinfo-change` to `RUN apt-get update --fix-missing && \`

**To Reproduce**
Deploy a model using 0.12.1 version.

[2021-08-16 12:28] aarnphm commented on #1810
Hi @renzpaoloabergos, can you provide the Dockerfile that you are currently using?

[2021-08-16 13:48] renzpaoloabergos commented on #1810
Hi @aarnphm, I believe it's this one:
https://github.com/bentoml/BentoML/blob/dbcc238afa1d3997228fbf0ef9aa520eee95d0e9/bentoml/yatai/deployment/sagemaker/operator.py#L53

And this one if using `bentoml/aws-sagemaker-deploy`:
https://github.com/bentoml/aws-sagemaker-deploy/blob/eaf8937dff1fe4fe74621092bf5bac1e7adcf48f/sagemaker/generate_deployable.py#L14

[2021-08-16 13:53] aarnphm commented on #1810
cc @jjmachan

[2021-08-16 13:54] #1746 closed

[2021-08-18 01:04] abhi-gm commented on #1547
I am facing the same issue

[2021-08-18 19:48] jcriddle-nci commented on #1547
I got around this by writing a script for packaging up the model and artifacts, and a separate script for running the api.

[2021-08-20 04:57] jjmachan opened #1816 "error when using `FileInput` handler in AWS lambda"
when using the file input handler and deploying to lambda, I'm unable to send any requests due to the following error
[code]

looking into it I think this line could be the issue

https://github.com/bentoml/BentoML/blob/a9032e2b0249f3e7ffc09ba1b39dcaa842d42d8a/bentoml/adapters/file_input.py#L174

the reason could be that the API Gateway sitting before the lambda service always encodes the binary d

[2021-08-20 05:05] jjmachan commented on #1816
also for the upcoming 1.0 design, I was wondering if it would be a good idea to take the logic of `from_aws_lambda_event` and put it into the aws-lambda-deployment since that will make the InputHandler focused on handling the core, if we can figure out a general way to transform the lambda_event into something that can be processed by the `from_http_request()` method

[2021-08-23 16:23] picsag commented on #1808
Hello
I used the latest Yatai docker base image. Indeed Docker client is included, I checked via bash inside the Yatai image.
I am using Docker Compose under Windows and in the BentML documentation I found:
 docker run  -v /var/run/docker.sock:/var/run/docker.sock \
I would be grateful if you could give me an example on how to to mount the Docker socket correctly using the Docker compose .yaml fil

[2021-08-23 23:38] mqk commented on #1796
I also see this same error. In my setup I deployed the yatai service on kubernetes (minikube).
[code]

[2021-08-25 06:02] NaxAlpha opened #1821 "Issue with SageMaker Deployment"
**Describe the bug**

I am trying to deploy multiple versions (staging and production) of the same model on aws sagemaker using aws-sagemaker-deply tool. However after successfully deploying staging varient, I cannot deploy production version because of this error:
![image](https://user-images.githubusercontent.com/11090613/130733692-a51f0b28-256f-438e-93a4-1f5f5d628fd1.png)

**To Reproduce**

[co

[2021-08-25 07:24] NaxAlpha opened #1822 "SageMaker cannot hit the endpoint"
**Describe the bug**

After deploying the dev endpoint (ref: #1821), I cannot get the response with this:
[code]
Looking at couldwatch: logs show this error:
![image](https://user-images.githubusercontent.com/11090613/130744271-6c13294b-32c7-4f09-a6ee-2b7cbb57ba54.png)

**To Reproduce**

1. Deploy an API on SageMaker that takes an image as input.
2. Call the API by sending an Image

**Expected beh

[2021-08-25 10:16] jjmachan commented on #1821
hey @NaxAlpha
Thanks a lot for bringing this issue up. It's because of a configuration error in the CloudFormation template. I'm working on a fix and you can track it [here](https://github.com/bentoml/aws-sagemaker-deploy/pull/9). I Will get this merged by today

You can try the fix on your own too. The issue is this line https://github.com/bentoml/aws-sagemaker-deploy/blob/2e3e12a1e5450aaf73058e6

[2021-08-25 10:28] yaysummeriscoming opened #1824 "Encryption Support"
We're having a look at using BentoML. So far looks to be a really good fit, but the problem we have is that we're deploying onto customer premises. So we need to have some protection against reverse engineering.

Doesn't need to be anything fancy, but the minimum requirements would be:
- Model encryption at rest: Is it possible to implement custom model load logic, similar to pre/post processing?

[2021-08-25 10:32] yaysummeriscoming commented on #1775
+1 on tensorrt support. Benchmarks against Triton would also be great!

[2021-08-25 13:47] aarnphm commented on #1775
we will consider this integration after bentoml 1.0

[2021-08-26 07:44] Juggernaut1997 opened #1827 "Headers are not decoded by aiohttp.worker.GunicornWebWorker"
**Bug Description**
The headers passed to the request are getting encoded but not decoded. This issue arise for the port on which the application redirects to example: 5000.

Logs
[code]

In my case, I am sending a Authorization token. But it is not able to read it because the header looks like:
[code]

**To Reproduce**
1. In the predict functionality, add a request.header to read a particular hea

[2021-08-29 07:57] stvogel commented on #1713
There is a 1.0 release in planning. That's great news, thanks @aarnphm
Can I find some kind of roadmap anywhere or do you have a releasedate for 1.0 release in mind?
If you don't have an exact date ... will it be weeks or months?

[2021-08-29 08:01] aarnphm commented on #1713
I will ask the team about the roadmap and I will get back to you ASAP

[2021-08-30 00:29] stbeau opened #1830 "AttributeError: Can't pickle local object 'BentoService.start_dev_server.<locals>.run'"
**Describe the bug**
When executing bentoml-quick-start-guide, I get the error
[code]
when executing
[code]

**To Reproduce**
Steps to reproduce the issue:
1. I created a new environment
  conda create --name bento python=3.8 pandas scikit-learn notebook
  conda activate bento
  pip install --pre bentoml
2. Open the notebook `bentoml-quick-start-guide`
3. Set de debug mode and execute each line up

[2021-08-30 20:01] yubozhao commented on #1752
@firas-jolha I am closing this issue, since it is resolved in the pagemaker-deploy repo.  Feel free to reopen it if you have any questions.

[2021-08-30 20:02] #1752 closed

[2021-09-01 02:37] entrpn commented on #1491
We couldn't get to work the fastaiv2 models either in a consistent manner. We ended up converting them to pytorch and serving them that way instead with VertexAI and BentoML.

[2021-09-01 06:58] aarnphm commented on #1491
Hi @entrpn. We are aware of the issues and hope with 1.0 the issue would be fixed.

[2021-09-01 10:23] aarnphm commented on #1816
cc @bojiang @parano

[2021-09-01 13:55] lucaslrolim opened #1835 "Memory issue when using BentoML on Google Vertex IA (former Google IA plataform)"
I'm trying to follow the BentoML tutorial [1] to use Bento's API as a custom model deployment on Google Vertex IA (former Google IA Platform). Although the tutorial works, I'm facing some memory issues.

Independently of my machine type or volume of requests, each machine with my Bento container uses a maximum of 3 GB of memory , leading to many scalability problems. The image below shows memory u

[2021-09-02 20:44] ethagnawl commented on #1167
I might be missing something very obvious, but is it possible to disable Swagger via an env var? The only option I see in the PR is `BENTOML_ENABLE_SWAGGER`. Is the expectation that you'd provide 0/1, "t"/"f" or similar as that environment variable's value?

[2021-09-02 22:36] LeoVS09 commented on #758
@parano
Very good to see this feature, but can you add a link for an explanation in the documentation of how to use it? Or at least some example? Better to see how it looks with KFServing :)
I cannot find any mention in docs :(

[2021-09-03 00:20] LeoVS09 commented on #758
Ah, I found it in docs, sorry, it relates to multiple parts, was need to read it carefully. But I still cannot find an example of usage KFServing and Yatai Service for dynamic model loading. It can be too complex for simple examples, but I guess probably more Kubeflow way of serving model.
If you accept such a way of usage, I can try to make PR into https://github.com/bentoml/gallery.

[2021-09-03 03:59] LeoVS09 commented on #654
Have the same error. I am not sure about DNS credentials and newly created bucket, but I didn't have the same issue with a newly created bucket and [DVC](https://dvc.org/).
Agree with @nicjac, if it is a temporal problem and a need just waits for some time, any warning or descriptive error will be very helpful.

[2021-09-06 05:07] jjmachan commented on #1822
Firstly really sorry for the late reply. The issue seems to be a configuration error in the API Gateway. This only happens when you passing data as a `multipart/form-data` type but if you pass it in a binary format it will work.

I'm working on adding support for `multipart/form-data` too but in the meantime, you can refer https://stackoverflow.com/a/56132015 or https://docs.aws.amazon.com/apigate

[2021-09-06 06:55] NaxAlpha commented on #1822
Thanks a lot for the update. Any timeline for the fix? and is it related to this repo or [bentoml/aws-sagemaker-deploy](https://github.com/bentoml/aws-sagemaker-deploy)?

[2021-09-06 07:11] NaxAlpha commented on #1822
BTW I also did try the binary method like this:
[code]
But I get this error:
![image](https://user-images.githubusercontent.com/11090613/132175270-f180e724-d560-40aa-b0e7-623a2f0b0214.png)

[2021-09-06 07:21] jjmachan commented on #1822
which input handler are you using?

[2021-09-06 07:30] NaxAlpha commented on #1822
Here is the sample service I am using:
[code]

[2021-09-06 17:02] pat-doyle-idexx opened #1837 "libGL.so.1 does not exist in base docker container"
cv2 cannot currently be used as a dependency in bentoml docker container due to libgl1 not being present:

[code]
Could libGL be added to the base container and/or could a feature be planned to allow custom dependencies at the OS level be added to the base?

[2021-09-06 18:29] #1837 closed

[2021-09-06 18:29] pat-doyle-idexx commented on #1837
replacing opencv-python with opencv-python-headless fixes the error.

[2021-09-06 20:21] #1596 closed

[2021-09-06 20:23] aarnphm commented on #1617
Hi @jeanCarloMachado we are currently working on 1.0 release, which will include QOL improvement such as live reload. Stay tuned! 😄

[2021-09-08 16:52] chris-aeviator commented on #1564
I come into situations (GPT-J, lots of tokens,  CPU only) where I can trigger timeouts even though `mb_max_latency` is e.g. `300000` even though the text generation fails after <300s

[2021-09-08 19:52] #1648 closed

[2021-09-09 20:51] #1356 closed

[2021-09-09 22:21] LeoVS09 commented on #1768
@bojiang this not will work in case of high load, workers just will be always restarting.
if health checks will not pass between predict requests they still will fail

[2021-09-09 23:38] LeoVS09 commented on #1768
Great thanks to @withsmilo, it's exactly what I was searching for.
I build and publish in docker hub a version of my wrapper around BentoML with your changes: [Dynamic BentoML](https://github.com/LeoVS09/dynamic-bentoml).

[2021-09-10 02:47] withsmilo commented on #1768
@LeoVS09
I have both good and bad news. I am very happy to apply my patch to your Dynamic BentoML. But I haven't tested it yet. Does it work well?

[2021-09-10 04:11] bojiang commented on #1768
@LeoVS09 Hi. Another good news is, in the coming version, we will serve probe endpoints on async server. Thus the handling of inference requests would not block probe requests anymore.

[2021-09-10 23:19] LeoVS09 commented on #1768
@withsmilo Yes, I'm tested, and it working very well. You can try `leovs09/dynamic-bentoml:0.13.1-py38-health`.
I have tested it in the development K8s cluster. Health checks work correctly. Only one problem I found, I am not sure it is caused by your changes, but the service needs much more memory on your version.

[2021-09-10 23:21] LeoVS09 commented on #1768
@bojiang Great to hear it, I will be glad to update my repo on your next version, when it will be released. :)

[2021-09-11 00:33] aarnphm commented on #1768
@bojiang correct me if I'm wrong, but in the new design, users can define endpoints as long as it doesn't come across with BentoML reserved right?

[2021-09-16 06:03] BakingBrains commented on #1659
@henrywu2019 were you able to solve this issue??

[2021-09-20 08:13] Dmitry-Void commented on #1547
Have the same issue on MacOS during debugging in Pycharm:
![image](https://user-images.githubusercontent.com/61740935/133973179-71504ae2-0996-4c62-b61f-3dbc2f3246a3.png)

[2021-09-21 18:45] thomasaarholt commented on #1237
Has anyone looked at the necessary changes required to support SA 1.4? There are some packages (snowflake-sqlalchemy) that now have 1.4 as a hard dependency.

[2021-09-21 20:14] thomasaarholt commented on #1237
Brilliant! I see that you have a 1.0 branch going, great stuff :)

There are two main reasons for the request, one nice to have and one more awkward:
Nice: We have a utility package for creating and serving models that most of our users rely on that depends on (amongst other things) bentoml, pyarrow, snowflake-connector-python. The current chain of dependencies has us unable to use latest pandas,

[2021-09-21 21:09] yubozhao commented on #1835
@lucaslrolim Thanks for surfacing this issue! Is it still persisting?

[2021-09-21 21:27] aarnphm commented on #1835
A potential problem could be when the model server setup micro batching logics, without define `mb_max_batch_size`, the marshal layer will try to use most of the memory available. We will look into the issue and similar ones for the coming releases.

[2021-09-28 00:16] ice-americano opened #1855 "TransformersModelArtifact fails to be loaded on to GPU"
I am trying to serve BentoService with GPU by dockerizing it. However, my docker container fails to load model on to GPU. I am using `TransformersModelArtifact` to save and load the model. Docker container runs fine and even handles incoming requests, but model still does not run on GPU. I was able to access GPU inside docker container, though, so it is definitely not a docker issue. There was not

[2021-09-30 00:03] TheHeadlessHydra commented on #1658
Our organization has begun using bentoML for production model serving, and this feature is actually a pretty big pain point for us.

I can understand wanting to keep configuration separate from bundling, but this separation does not work well in containerization frameworks like kubernetes. In our case we run a custom containerization framework similar to kubernetes, but the same problem arises for

[2021-10-04 09:18] rsayn opened #1861 "Extract JSON serialization to separate method in `JSONOutput` to ease customization"
**Is your feature request related to a problem? Please describe.**
Currently, the JSON serialization performed in `JsonOutput.pack_user_func_return_value` is made with a custom `NumpyJsonEncoder` class. Users might want to extend the `JsonOutput` class and add support for different data types (e.g. dataclasses).

**Describe the solution you'd like**
It might be useful to extract the JSON serializa

[2021-10-04 19:45] parano commented on #1861
Great suggestion @rsayn! This is actually supported in the upcoming 1.0 release https://github.com/bentoml/BentoML/blob/bentoml-1.0/bentoml/_internal/io_descriptors/json.py#L51, we will be beta testing it soon

[2021-10-05 09:13] withsmilo opened #1865 "Gunicorn's 'backlog' setting should be configurable"
**Is your feature request related to a problem? Please describe.**

When the  models being served by BentoML behave in the wrong direction due to unpredictable failures, there may be situations in which it is necessary to return to the caller more quickly. In this case, the problem can be avoided by adjusting the [backlog](https://docs.gunicorn.org/en/stable/settings.html#backlog) setting of **Gun

[2021-10-05 09:28] withsmilo opened #1866 "memory sharing for the same artifact to reduce the total amount of memory required when using many workers"
**Is your feature request related to a problem? Please describe.**

When we use many workers to serve the same model in one pod, we have a problem of using redundant memory per worker for the same artifact. Can each worker share the same artifact?

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-10-05 10:17] parano commented on #1866
@withsmilo really glad you brought up this issue, the upcoming 1.0 release will address exactly this, models will be placed in a separate process shared by multiple API server workers, via a concept called [Runner](https://github.com/bentoml/BentoML/blob/35b7dd5b8b66bfd3d54d6f57a863f27161667991/bentoml/_internal/service/runner.py#L153). We will provider Runner implementation for most ML frameworks

[2021-10-05 19:30] withsmilo commented on #1866
@parano
Thanks for sharing! It's great news. :)

[2021-10-05 21:46] amarquinar opened #1867 "Detectron2 custom model issue"
Hi experts,

I tried to test the example test_detectron2_model_artifact.py, it works fine with the model from COCO-InstanceSegmentation/mask_rcnn_R_50_FPN_3x.yaml.

But when I tried to test with my custom model, it doesn't work, I mean the predictor return a lot of instances with very low accuracies. In the following code part of test_detectron2_artifact_pack function,  the first call response = s

[2021-10-05 22:08] alanmarquina commented on #1867
Sorry, I forgot tell you I am using bentoml version 0.13.1.

[2021-10-05 22:11] alanmarquina commented on #1867
![image](https://user-images.githubusercontent.com/74053975/136109651-7483f0f2-90a5-46ec-9614-b8fc229d5f5b.png)

I have checked the files on Artifacts but everithing seems be fine.

[2021-10-06 09:23] withsmilo commented on #1768
@LeoVS09
Sorry for late. I've resolved your problem(too much memory in use) via [this commit](https://github.com/withsmilo/BentoML/commit/9e980ffd9e42d226e98eb25220ffe2fa088b1ed8). You can check old and new health endpoints as like:
[code]

[2021-10-06 13:48] stvogel commented on #1713
As @Amir22010  described you have to edit model.yml and replace the values in NUM_CLASSES and WEIGHTS and than it worked.

[2021-10-06 14:51] chris-aeviator commented on #1564
Same for me - my workload typically takes quite long but I have no way of not getting BentoML not throw an error - even though I can console.log my result on the server (and the model will finish running) BentoML will reply with an error to the HTTP call

[2021-10-06 15:12] aarnphm commented on #1564
We will take a look into this for 1.0 releases. Thank you for the feedback.

[2021-10-06 17:47] #1867 closed

[2021-10-07 15:02] hsiehkl opened #1874 "Support OpenAPI request header customisation"
Thank you for your amazing work! BentoML helps us a lot in deploying our ML models smoothly. Recently, we are using BentoML for a more complex project in which we tried to customize the OpenAPI request header but we cannot manage to do it. We had tried to define the header in the request_schema from string_input but we can only update the request body. We are wondering is there any existing way to

[2021-10-14 11:28] marcindulak opened #1889 "Version and init files not packaged in the service repository"
**Describe the bug**

The `__init__.py` file is empty and `_version.py` file missing in the service repository. The behavior depends on the location of the service export `export_service.py` script.

**To Reproduce**

Steps to reproduce the issue:
1. Clone the example mypackage
[code]
2. Install mypackage
[code]
3. Create BentoML service from the location where mypackage cannot be imported from th

[2021-10-18 04:20] vinhtq115 opened #1902 "Using separate model.py file causes ModuleNotFoundError when serving model"
**Describe the bug**
When I use `model.py` to define a DL model using PyTorch, BentoML can package it but cannot serve it. It always say `ModuleNotFoundError: No module named 'model'`. If the model's definition is in the packer file, everything works fine.

**To Reproduce**
[Here](https://drive.google.com/drive/folders/1tpubkAtHKT9KmoBcG4oAC4Dltcit8kLK?usp=sharing) is the link to the code.

**Expe

[2021-10-19 04:32] withsmilo commented on #1866
@parano
As workaround for BentoML v0.13.1, we turned on the `preload_app` option of Gunicorn to resolve this problem.
[code]

[2021-10-19 08:03] Ninhow opened #1906 "Api request without sending in any input?"
Hi, I am using BentoML and I wonder if it is possible to create a API endpoint where the function runs without getting input? The Dataframe is already in the server.

[2021-10-19 11:24] amarquinar opened #1907 "Pytorch Training model - Error: "daemonic processes are not allowed to have children""
Hi experts,

I created a Bento Service to train a Pytorch Object Detect model. But I have a problem when I calling the service, the system shows the message: "daemonic processes are not allowed to have children".

I'm starting my server with the following sentence:

bentoml serve-gunicorn PytorchODTrainer:latest --workers=10 --timeout=900

The complete error message after I call my service:

[code

[2021-10-21 08:51] Ninhow opened #1909 "I changed my config of BentoML but still get Cors error from my Angular app"
**Describe the bug**
I created a config file and load BentoML with changed Cors config and still get cors error, i dont understand why.
`bento_bundle:
  deployment_version: Null
  default_docker_base_image: Null

bento_server:
  port: 5000
  ngrok:
    enabled: False
  workers: 1
  timeout: 60
  max_request_size: 20971520
  microbatch:
    workers: 1
    max_batch_size: Null
    max_latency: Null

[2021-10-25 07:20] rsayn opened #1922 "MyPy compatibility"
**Is your feature request related to a problem? Please describe.**
I see that BentoML already uses `mypy` for type checking. However, when used as a dependency, MyPy complains about the package not having clearly defined types.

**Describe the solution you'd like**
I think this is due to Bento not including the `py.typed` that marks it as compatible with `PEP-561`.

**Describe alternatives you've

[2021-10-25 19:23] #1922 closed, assigned to nobody

[2021-11-02 17:13] Meosit opened #1951 ""ImportError: No module named" when packing Bento service from library"
**Describe the bug**

We have a library which contains a predefined BentoML service and have a few local dependencies in it. This library have a method which performs a bento service pack + save methods (over provided models). The issue is that saved BentoML bundle contains the service class itself, but not it's dependencies, which in turn cause a model name import collision (service class cannot

[2021-11-02 18:52] aarnphm commented on #1951
HI @Meosit, have you tried adding the dependencies as a `zipimport` into https://docs.bentoml.org/en/latest/api/bentoml.html?highlight=env#env zipimport?

[2021-11-02 21:36] aarnphm opened #1952 "Flax Integration"

[2021-11-03 07:54] Meosit commented on #1951
Hi @aarnphm, only in the example I used a local package to make it self-contained, but this is also reproducible with pip packages. As I mentioned, the packages itself are added correctly and as expected, the issue is with the bundler and with code which copied inside the bundle

[2021-11-04 17:09] ahallermed opened #1960 "Documentation for custom metrics with Prometheus is outdated"
**Describe the bug**
In the file docs/source/guides/monitoring.rst the following passage is outdated, links don't work anymore and the api has changed.

------

**NOTE**  Users can also create custom metrics for *BentoService* making use of |prom_client|_, which can be later scraped by Prometheus.

[code]
------

[2021-11-04 17:18] ahallermed commented on #1960
Gets fixed by this pull request and can be closed after #1961 ist merged

[2021-11-04 17:53] parano commented on #1960
@ahallermed thank you for reporting this, you are right the sample code is outdated and we will look into that. cc @bojiang

[2021-11-05 02:49] bojiang commented on #1960
There is a typo in the doc:

[2021-11-05 02:54] bojiang commented on #1960
https://github.com/bentoml/BentoML/pull/1963

[2021-11-05 06:42] parano commented on #1960
Update: this doc is actually only available for the master branch, not the 0.13.1 release, the document got updated before the release.

For version 0.13.1, the suggested change in #1961 should work.

[2021-11-08 19:21] AminSuzani commented on #1830
Any solution or workaround for this? I'm getting the same error.

My environment: MacOS Big Sur (11.6.1), Python version 9.7.3, BentoML version 0.13.1

[2021-11-08 19:52] parano commented on #1830
Hi @AminSuzani @qqeip `start_dev_server` currently has some limitations and the team has fixed that for future bentoml releases. For the current BentoML release, you may skip this step in the tutorial and continue to use `bentoml serve` CLI command or build bentoml API server docker image, all the other features should work as expected.

[2021-11-10 07:34] aarnphm commented on #1700
This has been addressed and fixed in `bentoml-1.0` branch

[2021-11-10 07:34] #1700 closed

[2021-11-10 07:36] aarnphm commented on #1620
@jjmachan I think this is done?

[2021-11-10 07:38] aarnphm commented on #1505
This is not relevant anymore :)

[2021-11-10 07:38] #1505 closed

[2021-11-10 07:40] aarnphm commented on #1907
Hi @amarquinar , can you provide your service as well as your project structure for the service?

[2021-11-10 07:42] #1674 closed

[2021-11-10 07:44] aarnphm commented on #1480
https://github.com/bentoml/BentoML/blob/9899d58666b62e515c570a1fee87c0905bb1e9d3/bentoml/_internal/io_descriptors/json.py#L133 will provide support for pydantic model schema in the upcoming 1.0 releases. Let me know if we need to reopen this issue. Closing for now

[2021-11-10 07:44] #1480 closed

[2021-11-10 23:02] parano commented on #1907
I think this one was resolved in the slack community, the user code was creating new thread that's causing the problem. Closing now, feel free to reopen if you continue to run into the problem @amarquinar

[2021-11-10 23:02] #1907 closed

[2021-11-12 22:44] jkuypers93 commented on #806
Hi @parano @bojiang is it possible currently to post multiple files/images without the `input_names`. For my use case, the number of images can vary per request, and I don't need to have input names for each image. I would like to just post an array of images e.g `[ [<image_file>, ..], [<image_file>, ..], ... ]`

[2021-11-14 20:22] yuhongsun96 opened #2003 "Json not parsed when passed to server"
**Describe the bug**
When passing a JsonInput as service.api(input), input is passed to the api function as correct type.
When passing input through requests library or GUI, it's left as the string of the json and not parsed before passing into the function (called api in this case).

I'd be happy to fix this for you guys if confirmed that this is a bug that you'd like fixed!

**To Reproduce**
Ste

[2021-11-14 22:13] parano commented on #2003
Hi @yuhongsun96 - this is because you used the `.text` method in the requests response object. Simply change your HTTP client code to `requests.post(..).json()` will give you the result expected. BentoML API server itself is only responsible for returning a response with the right content-type HTTP header, however, the HTTP client needs to decide how to parse the response body

[2021-11-14 22:19] parano commented on #806
hi @jkuypers93  - unfortunately, this is not supported in the current version of BentoML. could you tell me a bit more about your use case? @bojiang and I were just discussing how to support handling requests with a variable number of files in the future version but could not find a good use case for it, would love to learn more.

[2021-11-14 23:02] yuhongsun96 commented on #2003
@parano Sorry, I guess it was unclear in the way that I showed. I'm trying to say that in the method encode, it's receiving the whole json as a single input string which is not parsed. I can update the example to show more clearly.

Basically the result of this is, if you encode ["test", "string"] for example through the GUI, it will only give back 1 encoding (which is for the whole thing).

[2021-11-14 23:27] yuhongsun96 commented on #2003
![image](https://user-images.githubusercontent.com/32520769/141702929-799b4e1f-8b27-4aaa-bad9-e78a5fd62736.png)

[2021-11-14 23:30] yuhongsun96 commented on #2003
@parano I've included a clearly showing of the issue, please see attached screenshot. If this is verified to be an issue, I can just fix it for you guys btw. I'd like to contribute

[2021-11-15 00:58] parano commented on #2003
@yuhongsun96 I see, I think you misunderstood how `batch=True` works here, if you just change it to `batch=False`, it probably will work as expected. BentoML does adaptive server-side batching when an API has `batch=True`, client requests will be grouped into batches dynamically on the server-side in real-time, in order to get higher throughput and better hardware utilization when running ML model

[2021-11-15 01:58] yuhongsun96 commented on #2003
@parano I see, I thought batching would work something like this:
If you have 2 requests with [a, b] and [c], batching would pass [a, b, c] to the service and then return the results to the two requests as [processed_a, processed_b], [processed_c].

This would make it easier to use no? Just a simple change of processing inputs and splitting outputs

It took me a while to understand why my code was

[2021-11-15 05:48] larme commented on #2003
@yuhongsun96 Thanks for your detailed description. I think document of this behavior should be more clear. I will track this issue and improve the situation in the new release.

[2021-11-15 07:15] yuhongsun96 commented on #2003
If my described functionality is good by you, I'm down to implement it.

As I see it, making this change just makes the usage more intuitive with no real downside right?
Please let me know your thoughts!

[2021-11-15 08:29] parano commented on #2003
@yuhongsun96 no need to work on the implementation yet, the challenge is more on the design of the API. We thought about this proposed approach, the challenge with it is the users' API client will need to specify if a request is a "single item" or a "list of items", and may requires setting an additional flag in the HTTP header, which makes it even hard to use for new comers. We actually have addr

[2021-11-16 19:29] jkuypers93 commented on #806
Hey @parano, thanks for getting back to me!

I have an application where users can upload a variable number of images (sent as an array of images). My model then creates a batch using this array of files and return a prediction for each image. I could query the API one image at the time but that is less efficient.

Previously, I was deploying my model with FastAPI and was using their [List[FileUpl

[2021-11-16 21:12] jkuypers93 commented on #806
Is it ok if I open an issue for this? I would like to contribute :)

[2021-11-16 21:15] parano commented on #806
@jkuypers93 are you in the BentoML slack channel? feel free to ping me and discuss more before you started to make the contribution. The team is actively developing a new version in the 1.0 branch and a lot of things have changed

[2021-11-18 00:11] uniquerussa commented on #1593
Could you please let me know how you resolved this issue? I'm using custom input processing and I'm having the same issue.

[2021-11-18 06:01] davidberenstein1957 commented on #1907
I am experiencing this same issue while using a transformers pipeline to do batch prediction within a batch API. Without the batch prediction of the transformers model it does work, but using batches it doesn't.

**project tree**
[code]

[code]

[2021-11-18 06:42] parano commented on #1907
Thanks for reporting @davidberenstein1957 - this is a known issue and it has been resolved in the next version of BentoML. A workaround for your use case now, is to set the pipeline init parameter num_workers to 1. e.g. `predictions = self.artifacts.model(validated_texts, num_workers=1)`

[2021-11-18 07:14] davidberenstein1957 commented on #1907
Sadly, this approach doesn't resolve the issue for me.

[2021-11-19 10:42] davidberenstein1957 commented on #1564
@aarnphm Do you see this being able to be fixed temporarily via a configuration change to the timeout?
https://github.com/bentoml/BentoML/blob/b19def038fe9ddd04602acf213ea56647deae67f/bentoml/configuration/default_configuration.yml

[2021-11-19 15:01] davidberenstein1957 opened #2030 "JSON input validation via python dataclass"
**Is your feature request related to a problem? Please describe.**
I have took keep using custom validation without a uniform coherent way when using JsonInputw/wo batching.

**Describe the solution you'd like**
I would love to be able to initialize the JsonInput with a python-native dataclass object.

**Describe alternatives you've considered**
Looping through inference tasks myself for every edg

[2021-11-19 20:19] aarnphm commented on #1564
@davidberenstein1957 Hi, you can definitely try to configure longer timeout, but I believe that the problems stems from pip packages aren't availble within the bundle. So changing timeout might not fix the root of the issues.  I hope that in our new releases this issues will be fixed.

[2021-11-21 02:16] aarnphm commented on #2030
Hi @davidberenstein1957, thank you for bringing this problem forward. I will take a look for our upcoming 1.0 release.

[2021-11-21 06:59] #1620 closed

[2021-11-22 04:05] davidberenstein1957 opened #2037 "Inferring pip packages doesn't pick-up extra's"
**Describe the bug**
I install spacy[cuda113] to be able to load their transformers model, however only spacy is added to the requirements file.

**To Reproduce**
Run a bento-packer that should infer spacy[cuda113] or any other package with extras.

**Expected behavior**
I expect the extras to be added to the packed model too.

**Environment:**
 - OS: [e.g. Windows 11]
 - Python Version [e.g. Pyth

[2021-11-22 11:19] AlexFridman opened #2040 "AWS lambda deployment of FastText model."
**Describe the bug**
Hello! I've trained a fasttext model and packed it as described in FastText demo notebook
1. Define and save BentoService
1. Containerize model server with Docker

Then, I'm trying to deploy model as a Lambda with the following command:
`bentoml lambda deploy my-first-lambda-deployment -b IrisClassifier:20200121141808_FE78B5`
(I use my own model id)

And getting the following

[2021-11-22 11:26] AlexFridman commented on #2040
Debug output

[code]

[2021-11-22 15:24] AlexFridman commented on #2040
@aarnphm hi! Will much appreciate it if you could take a look!

[2021-11-22 15:29] aarnphm commented on #2040
@AlexFridman have you tried using https://github.com/bentoml/aws-lambda-deploy?

[2021-11-22 15:35] AlexFridman commented on #2040
@aarnphm it seems not worked

[code]

[2021-11-22 15:37] AlexFridman commented on #2040
Do I need to use clean env for example? Will it help?

[2021-11-22 15:41] aarnphm commented on #2040
it should be `python describe.py sdg-category-predict-repo` instead

[2021-11-22 15:42] AlexFridman commented on #2040
[code]

[2021-11-22 15:44] aarnphm commented on #2040
@jjmachan

[2021-11-22 15:45] aarnphm commented on #2040
is it possible that you can reopen this issues on `bentoml/aws-lambda-deploy`? I wasn't able to transfer the issue there.

[2021-11-22 15:47] AlexFridman commented on #2040
sure. Thank you! Any additional info I can provide? Or check with my AWS cli?

[2021-11-22 15:48] jjmachan commented on #2040
yes, the AWS CLI version and SAM version would be really helpful.

[2021-11-22 15:50] AlexFridman commented on #2040
aws-sam-cli==0.33.1
aws-sam-translator==1.15.1
aws-cli/2.1.21 Python/3.7.3 Linux/5.11.0-40-generic exe/x86_64.ubuntu.20 prompt/off

[2021-11-22 15:58] jjmachan commented on #2040
okay, you might have to update the SAM CLI, it should be > 1.14. Can you try that out and tell me if that works. This issue does error out silently but we will work out a fix for you.

and don't worry about creating a new issue, we will get it transferred too 😄 .

[2021-11-22 17:06] AlexFridman commented on #2040
It helped. Thanks a lot!

[2021-11-22 17:06] #2040 closed

[2021-11-24 02:48] parano commented on #2037
thanks for reporting the issue @davidberenstein1957! we will look into fixing this issue in 1.0 branch.

[2021-11-24 15:31] ldynia opened #2052 "Response errors 400 and 500 never reach to `/metrics` endpoint."
**Bug**

Improper error handling in BentoML application. **Invalid request** courses, 400 and 500 error responses that are never send to `/metrics` endpoint.

**To Reproduce**

Below steps where inspired by following [BentoML's Hello World](https://docs.bentoml.org/en/latest/quickstart.html#example-hello-world) example.

**1.** Install OS dependencies & clone project

[code]
**2.** Setup virtual e

[2021-11-24 19:41] aarnphm commented on #2052
hi, this seems like there is a problem with your code. Can you send your service definition in here?

[2021-11-25 10:01] ldynia commented on #2052
@aarnphm I have updated issued with detailed step-by-step instructions how to reproduce this bug. Please test it, and you will see that you will arrive to the same conclusions.

[2021-11-25 12:01] mat-berna commented on #1328
Hi.
Are there any evolutions on this issue?

I have the same problem when the bento service is deployed as service with ingress (ingress controller is Nginx) in a Kubernetes cluster.

My manifests:

`
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bento-deploy-123
spec:
  replicas: 1
  selector:
    matchLabels:
      run: bento-123
  template:
    metadata:
      labels:
        run: bent

[2021-11-25 20:03] dbuades commented on #1799
Same problem here, did you ever made the config work for you @vibss2397 ?

[2021-11-25 20:05] parano commented on #1799
Hi @dbuades are you trying to set up Yatai or setting other configurations?

[2021-11-25 20:25] dbuades commented on #1799
Hi @parano thanks for the quick answer!
I just found the error, our config ends in `.yaml` and there is [this line ](https://github.com/bentoml/BentoML/blob/87e87bdebfe7fbfc563602c12affc323f246d82a/bentoml/configuration/__init__.py#L131) that checks that the file ends in `.yml`.
We renamed our config from `.yaml` to `.yml` and it is now working as expected.

You could maybe change this line to als

[2021-11-26 01:36] parano commented on #1799
@dbuades thanks for looking into this, yes it should definitely accept `.yaml` extension as well, would be happy to accept a PR if you could make a fix.

[2021-11-30 09:50] ldynia commented on #2052
@aarnphm can I get any update ?

[2021-11-30 19:29] ZdsAlpha opened #2072 "Serving model made extremely hard"
**Is your feature request related to a problem? Please describe.**
I need to install mmdetection library and its easy if i just uninstall previous mmcv reinstall mmcv-full and use two terminal commands... JUST LET ME RUN THOSE COMMANDS ON CONDA ENV. ITS NOT A PIP PACKAGE (Tried installing using pip, doesn't work since i cannot uninstall previous mmcv using requirement file) setup_sh runs outside c

[2021-11-30 20:24] parano commented on #2072
Looks like a duplication with the discussion here: https://github.com/bentoml/BentoML/discussions/2071

[2021-11-30 20:24] #2072 closed

[2021-12-01 16:06] andrewsi-z opened #2075 "SnapML support"
**Is your feature request related to a problem? Please describe.**
Add support for SnapML scoring service.

**Describe the solution you'd like**
Create a model artifact type that can exploit SnapML runtime.
SnapML is a no-cost available ML runtime (available via conda and pip install) that supports and optimizes traditional ML models, including those trained in sklearn, xgboost, and other framewor

[2021-12-01 16:07] andrewsi-z commented on #2075
If the community is willing to accept this capability, we will contribute the support and tests.

[2021-12-01 19:47] vibss2397 commented on #1799
hi @dbuades, does step 4 or step 5 work for you? also which version are you using right now?

[2021-12-01 21:12] parano commented on #1799
@vibss2397 did you run into any issues applying configs? it should work in the latest 0.13.x versions

[2021-12-01 23:24] aarnphm commented on #2075
Hi @andrewsi-z, I'm not familiar with the runtime. Since we are in the process of releasing 1.0, all ML related supports should be on-hold, but I would love to hear more about the usage of SnapML. We will definitely bring this up in our discussion.